.main-statement{
    text-align: right;
}

.RefreshColor {
    margin-left: 0.5rem !important;
}

.pagination {
    float: right;
}

@media (max-width: 768px) {
    .main-label {
        text-align: center;
    }
    .main-statement {
        text-align: center;
    }
}

@media (max-width: 648px) {
    .RefreshColor{
        margin: 0;
    }
}