<!-- acquirer--merchant--sales -->
<ol class="breadcrumb df-breadcrumbs mg-b-10">
  <li class="breadcrumb-item" [routerLinkActive]="['active']"><a
      routerLink="{{ _HelperService.AppConfig.Pages.ThankUCash.Dashboard.Merchant}}" [routerLinkActive]="['active']">
      Dashboard</a></li>

  <li class="breadcrumb-item" [routerLinkActive]="['active']"><a class="text-primary"
      [routerLinkActive]="['active']">Buy Now,Pay later- Pending Loans
    </a></li>
</ol>

<div class="card">

  <div class="card-header">
    <div class=" no-gutters">
      <div class="d-sm-flex justify-content-between row">
        <span class="tx-semibold col-md-3 col-sm-12 main-label">Pending Loans</span>
        <span class="text-muted tx-12 col-md-9 col-sm-12 main-statement">
          <img src="../../../../../assets/img/credit-card (1).png" style="padding-right: 5px;">
          Loans are approved & credited to customers, please contact them to redeem
        </span>
      </div>
    </div>
  </div>

  <div class="card-header">
    <div class=" d-sm-flex">
      <div class=" media">
        <div
          class="wd-40 wd-md-50 ht-40 ht-md-50 bg-primary tx-white mg-r-10 mg-md-r-10 d-flex align-items-center justify-content-center rounded">
          <i data-feather="credit-card"></i>
        </div>
        <div class="media-body bd-pink">
          <h6 class="tx-sans tx-uppercase tx-10 tx-spacing-1 tx-color-03 tx-semibold tx-nowrap mg-b-5 mg-md-b-8">
            Pending Loans</h6>
          <h4 class="tx-20 tx-sm-18 tx-md-20 tx-normal tx-rubik mg-b-0">{{pendingLoansOverviewData?.PendingLoans || 0}}
          </h4>
        </div>
      </div>

      <div class="media mg-t-20 mg-sm-t-0 mg-sm-l-15 mg-md-l-40">
        <div
          class="wd-40 wd-md-50 ht-40 ht-md-50 bg-primary tx-white mg-r-10 mg-md-r-10 d-flex align-items-center justify-content-center rounded ">
          <span class="tx-20"> <img src="../../../../../assets/img/nN.svg">
          </span>
        </div>
        <div class="media-body">
          <h6 class="tx-sans tx-uppercase tx-10 tx-spacing-1 tx-color-03 tx-semibold mg-b-5 mg-md-b-8">Amount
          </h6>
          <h4 class="tx-20 tx-sm-18 tx-md-20 tx-normal tx-rubik mg-b-0">
            <span class=" text-sm mg-r-2" [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span>
            {{pendingLoansOverviewData?.PendingLoansAmount|| 0}}
          </h4>
        </div>
      </div>
    </div>
  </div>

  <div class="box-header px-3 pd-t-15 pd-b-10 d-flex align-items-center justify-content-between">
    <div class="form-inline ">
      <div class="input-group input-group-sm mr-3">
        <input type="text" class="form-control" [value]="TUTr_Config.SearchParameter" maxlength="100"
          class="form-control" placeholder="{{ 'Common.Search' | translate }}"
          (keyup)="TUTr_ToggleOptionSearch( $event, _HelperService.AppConfig.ListToggleOption.Search)">
        <div class="input-group-append">
          <button class="btn btn-outline-light" type="button"
            (click)="TUTr_ToggleOption( null, _HelperService.AppConfig.ListToggleOption.Search)"><i
              data-feather="search"></i> </button>
        </div>
      </div>


    </div>

    <div class="d-flex ml-auto">
      <button type="button" class="btn  tx-12 rounded-0 bd-gray-200 bd-r-0  btn-outline-danger btn-icon"
        [disabled]='(_HelperService.FilterSnap.id == -1)' (click)="Delete_Filter()">
        <i data-feather="minus-circle"></i> </button>

      <div class="form-group my-auto shadow-none ml-auto " *ngIf="_HelperService._RefreshUI">
        <select2 name="itemId0" [options]="_DataHelperService.S2_NewSavedFilters_Option" class="wd-30 select2"
          [data]="_HelperService.Active_FilterOptions" [value]="_HelperService.Active_FilterOptions[0]"
          (valueChanged)="Active_FilterValueChanged( $event )">
        </select2>
      </div>
      <button type="button" class=" btn btn-outline-success tx-12 bd-l-0 mr-3 rounded-0 bd-gray-200 btn-icon"
        [disabled]='_HelperService.FilterState == this._HelperService.AppConfig.FilterStates.Default || 
      _HelperService.FilterState == this._HelperService.AppConfig.FilterStates.NoChange' (click)="Save_NewFilter()"> <i
          data-feather="plus-circle"></i> </button>

    </div>

    <nav class="nav nav-with-icon tx-20">
      <div class="dropdown dropleft">
        <a href="" class="nav-link mr-2" id="TUTr_sdropdown" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false"> <i data-feather="align-left" class="tx-20"></i> </a>
        <div class="dropdown-menu tx-13">
          <form class="wd-250 pd-15">
            <h6 class="dropdown-header tx-uppercase tx-12 tx-bold tx-inverse pd-b-20 pd-l-0 pd-t-0">Sort
              <div class="float-right tx-20" *ngIf="TUTr_Config.Sort.SortOrder == 'desc'"
                (click)="TUTr_ToggleOption( null, _HelperService.AppConfig.ListToggleOption.SortOrder)">
                <i class="fas fa-sort-alpha-down-alt"></i>
              </div>
              <div class="float-right tx-20" *ngIf="TUTr_Config.Sort.SortOrder == 'asc'"
                (click)="TUTr_ToggleOption( null, _HelperService.AppConfig.ListToggleOption.SortOrder)">
                <i class="fas fa-sort-alpha-up-alt"></i>
              </div>
            </h6>
            <a class="dropdown-item cursor-pointer {{TItem.SystemActive?  'SystemActive' :'' }} {{_HelperService.CheckMode == 'dark' ? 'text-white' : 'text-dark' }} "
              *ngFor="let TItem of TUTr_Config.Sort.SortOptions"
              (click)="TUTr_ToggleOption( TItem, _HelperService.AppConfig.ListToggleOption.Sort)">
              {{TItem.Name}}
            </a>

            <button type="button" class="btn btn-light btn-sm mr-2 mg-t-20"
              (click)="ResetFilters( null, _HelperService.AppConfig.ListToggleOption.ResetOffset)">
              Reset</button>
            <button type="button" class="btn btn-primary btn-sm mg-t-20"
              (click)="ApplyFilters( null, _HelperService.AppConfig.ListToggleOption.ApplyFilter,'Sort')">Apply</button>
          </form>
        </div>
      </div>
      <div class="dropdown dropleft">
        <a href="" class="nav-link" id="TUTr_fdropdown" data-toggle="dropdown" aria-haspopup="true"
          (click)="_HelperService.StopClickPropogation()" aria-expanded="false"> <i data-feather="filter"></i> </a>
        <div class="dropdown-menu pd-0 tx-13">
          <form class="wd-400 ">
            <h6 class="dropdown-header tx-uppercase tx-12 tx-bold tx-inverse  pd-15 pd-b-20 pd-l-0 pd-t-0 bd bd-b-1">
              Filters
            </h6>
            <div class="pd-25" style="overflow: auto; height: 80vh;" *ngIf="ResetFilterControls">

              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <div class="controls">
                      <label for="minLoanAmount">Min Loan Amount</label>
                      <input type="number" min="0" name="minLoanAmount" maxlength="256" class="form-control"
                        [(ngModel)]="minLoanAmount"
                        (keyup)="TUTr_ToggleOption($event,_HelperService.AppConfig.ListToggleOption.SalesRange)">
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <div class="controls">
                      <label for="maxLoanAmount">Max Loan Amount</label>
                      <input type="number" min="0" name="maxLoanAmount" maxlength="256" class="form-control"
                        [(ngModel)]="maxLoanAmount"
                        (keyup)="TUTr_ToggleOption($event,_HelperService.AppConfig.ListToggleOption.SalesRange)">
                    </div>
                  </div>
                </div>
              </div>

              <div>
                <div class="form-group">
                  <label>Approved Date</label>
                  <input type="text" class="form-control  form-daterangepicker" name="daterangeInput" daterangepicker
                    [options]="_HelperService.AppConfig.DateRangeOptions"
                    (selected)="TUTr_ToggleOption($event, _HelperService.AppConfig.ListToggleOption.Date)" />
                </div>
              </div>
            </div>

            <div class="aside-logo  bg-white bd wd-100p pd-15 mg-0"
              style="position: fixed; bottom:0%; margin-top: -2.5em ; padding-left: 25px;">
              <button type="button" class="btn btn-light btn-sm mr-2"
                (click)="ResetFilters( null, _HelperService.AppConfig.ListToggleOption.ResetOffset)">
                Reset</button>
              <button type="button" class="btn btn-primary btn-sm "
                (click)="ApplyFilters( null, _HelperService.AppConfig.ListToggleOption.ApplyFilter,'Other')">Apply</button>
            </div>
          </form>
        </div>
      </div>
      <a class="nav-link RefreshColorOne"
        (click)="TUTr_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.Refresh)"> <i
          data-feather="refresh-cw"></i> </a>
    </nav>
  </div>

  <div class="pt-0 pd-l-15 pd-b-15">
    <div class="badge badge-transparent pd-y-10 pd-l-15 mx-1 bd bd-1 bd-gray-500 rounded-50 tx-color-03 mg-t-5"
      [hidden]="(!_HelperService.FilterSnap.Status) || (_HelperService.FilterSnap.Status==0)">
      {{_HelperService.FilterSnap.StatusName}}
      <span (click)="RemoveFilterComponent('Status')"
        class="bd bd-1  mg-l-5 pd-x-5 pd-y-3 rounded-circle bg-primary text-white cursor-pointer"><i
          class="fas fa-times"></i> </span>
    </div>
    <div class="badge badge-transparent pd-y-10 pd-l-15 mx-1 bd bd-1 bd-gray-500 rounded-50 tx-color-03 mg-t-5"
      [hidden]="!_HelperService.FilterSnap.Sort.SortColumn || (_HelperService.FilterSnap.Sort.SortColumn=='ReferenceId' && _HelperService.FilterSnap.Sort.SortOrder=='')">
      <span> {{_HelperService.FilterSnap.Sort.SortColumn + "--" + _HelperService.FilterSnap.Sort.SortOrder}}</span>
      <span (click)="RemoveFilterComponent('Sort1')"
        class="bd bd-1  mg-l-5 pd-x-5 pd-y-3 rounded-circle bg-primary text-white cursor-pointer"><i
          class="fas fa-times"></i> </span>
    </div>
    <div class="badge badge-transparent pd-y-10 pd-l-15 mx-1 bd bd-1 bd-gray-500 rounded-50 tx-color-03 mg-t-5"
      [hidden]="!_HelperService.FilterSnap.StartTime">
      {{_HelperService.GetDateS(_HelperService.FilterSnap.StartTime) + "--" +
      _HelperService.GetDateS(_HelperService.FilterSnap.EndTime)}}
      <span (click)="RemoveFilterComponent('Time')"
        class="bd bd-1  mg-l-5 pd-x-5 pd-y-3 rounded-circle bg-primary text-white cursor-pointer"><i
          class="fas fa-times"></i> </span>
    </div>
    <div class="badge badge-transparent pd-y-10 pd-l-15 mx-1 bd bd-1 bd-gray-500 rounded-50 tx-color-03"
      [hidden]="
  !(_HelperService.FilterSnap.SalesRange) || (_HelperService.FilterSnap.SalesRange.minLoanAmount==0 && _HelperService.FilterSnap.SalesRange.maxLoanAmount==10000000)" (click)="RemoveFilterComponent('loanAmountRange')">
      Loan Amount
      [{{_HelperService.FilterSnap.SalesRange.minLoanAmount + "--" +
      _HelperService.FilterSnap.SalesRange.maxLoanAmount}}]
      <span class="bd bd-1  mg-l-5 pd-x-5 pd-y-3 rounded-circle bg-primary text-white cursor-pointer"><i
          class="fas fa-times"></i> </span>
    </div>
    <div class="badge badge-transparent pd-y-10 pd-l-15 mx-1 bd bd-1 bd-gray-500 rounded-50 tx-color-03 mg-t-5"
      *ngFor="let TItem of _HelperService.FilterSnap.OtherFilters; let i = index">
      {{TItem.data[0].DisplayName?TItem.data[0].DisplayName:TItem.data[0].Name}}
      <span (click)="RemoveFilterComponent('Other',i)"
        class="bd bd-1  mg-l-5 pd-x-5 pd-y-3 rounded-circle bg-primary text-white cursor-pointer"><i
          class="fas fa-times"></i> </span>
    </div>

    <span class="badge badge-pill badge-primary mg-t-5" *ngFor="let TItem of TUTr_Config.Filters">{{TItem.Title}}</span>
  </div>

  <div class="card-body p-0" style="overflow-x:auto;">
    <table class="{{ _HelperService.AppConfig.TablesConfig.DefaultClass }}">
      <thead>
        <tr>
          <th class="">Loan ID</th>
          <th class="td-date">Approved on</th>
          <th>Customer Details</th>
          <!-- <th>Transaction type</th> -->
          <th class="text-right">Loan Amount (<span class=" text-sm mg-r-2" [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span>)</th>
          <th class="td-amount text-right">TUC Fees (<span class=" text-sm mg-r-2" [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span>)</th>
          <th class="text-right">Amount to be paid by TUC</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="
               let TItem of (pendingLoansList
                 | paginate
                   : {
                    id: 'TUTr_Paginator',
                    itemsPerPage: TUTr_Config.PageRecordLimit,
                    currentPage: TUTr_Config.ActivePage,
                    totalItems: TUTr_Config.TotalRecords
                     })
             ">
          <td>
            <div class="tx-semibold">
              <span>L0{{ TItem.ReferenceId || "--" }}</span>
            </div>
          </td>

          <td class="td-date">
            <div>{{ TItem.ApprovedOn | date :'dd-MM-yyyy' }}</div>
            <div class="tx-12 text-secondary">{{ TItem.ApprovedOn | date :'hh:mm a'}} </div>
          </td>
          <td>
            <div class="tx-semibold"> {{ TItem.CustomerDisplayName || "--" }}</div>
            <div class="tx-12 text-secondary">{{ TItem.CustomerNumber || "--" }}</div>
          </td>

          <td class="text-right">
            <div class="tx-semibold">{{ TItem.LoanAmount}}</div>
            <div>Pay by {{TItem.TotalInstallments}}</div>
          </td>
          <td class="text-right tx-semibold">
            <div>{{ TItem.TUCFees }}</div>
          </td>

          <td class="text-right tx-semibold" style="padding-right: 27px;">
            {{ TItem.TUCAmount || "--" }}
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="card-footer pd-20">
    <span class="mr-3">
      {{ 'Common.Showing' | translate }}
      <span class="bold">{{TUTr_Config.ShowingStart}} {{ 'Common.To' | translate }}
        {{TUTr_Config.ShowingEnd}}
      </span> {{ 'Common.Of' | translate }} {{TUTr_Config.TotalRecords}}
    </span>
    <span>
      {{ 'Common.Show' | translate }}
      <select class="wd-50 " [(ngModel)]="TUTr_Config.PageRecordLimit"
        (ngModelChange)="TUTr_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.Limit)">
        <option [ngValue]="TItem" *ngFor="let TItem of _HelperService.AppConfig.ListRecordLimit">
          {{TItem}}
        </option>
      </select>
    </span>
    <span class="pagination">
      <pagination-controls id="TUTr_Paginator" class="pagination pagination-space"
        (pageChange)="TUTr_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.Page)"
        nextLabel="{{ 'Common.Next' | translate }}" previousLabel="{{ 'Common.Previous' | translate }}">
      </pagination-controls>
    </span>
  </div>
</div>