<!-- acquirer--merchants--list -->

<div class="card ">
  <div [className]="_HelperService._Assets.Box.header">
    <div class="tx-14 tx-bold"> All Customers</div>
    <div class="float-right">
      <!-- <button type="button" class="btn btn-primary mr-2" data-toggle="modal" data-target="#DownloadSheet">
            Download Template
        </button> -->
      <button type="button" class="btn btn-primary btn-xs" (click)="Form_AddCustomer_Show()">
        Add Customer
      </button>
    </div>
  </div>
  <div class="box-header px-3 pd-t-15 pd-b-0  d-flex align-items-center justify-content-between">
    <div class="form-inline ">
      <div class="input-group input-group-sm mr-3">
        <input type="text" class="form-control" [value]="StoresList_Config.SearchParameter" maxlength="100"
          class="form-control" placeholder="{{ 'Common.Search' | translate }}"
          (keyup)="StoresList_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.Search)">
        <div class="input-group-append">
          <button class="btn btn-outline-light" type="button"
            (click)="StoresList_ToggleOption( null, _HelperService.AppConfig.ListToggleOption.Search)"><i
              data-feather="search"></i> </button>
        </div>
      </div>


    </div>
    <div class="d-flex ml-auto">
      <button [disabled]='(_HelperService.FilterSnap.id == -1)' type="button"
        class="btn  tx-12 rounded-0 bd-gray-200 bd-r-0  btn-outline-danger btn-icon" (click)="Delete_Filter()">
        <i data-feather="minus-circle"></i>
      </button>

      <div class="form-group my-auto shadow-none ml-auto " *ngIf="_HelperService._RefreshUI">
        <select2 name="itemId0" [options]="_DataHelperService.S2_NewSavedFilters_Option" class="wd-30 select2"
          [data]="_HelperService.Active_FilterOptions" [value]="_HelperService.Active_FilterOptions[0]"
          (valueChanged)="Active_FilterValueChanged( $event )">
        </select2>
      </div>
      <button [disabled]='_HelperService.FilterState == this._HelperService.AppConfig.FilterStates.Default || 
      _HelperService.FilterState == this._HelperService.AppConfig.FilterStates.NoChange' type="button"
        class=" btn btn-outline-success tx-12 bd-l-0 mr-3 rounded-0 bd-gray-200 btn-icon" (click)="Save_NewFilter()"> <i
          data-feather="plus-circle"></i> </button>

    </div>

    <nav class="nav nav-with-icon tx-20">
      <div class="dropdown dropleft">
        <a href="" class="nav-link mr-2" id="StoresList_sdropdown" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false"> <i data-feather="align-left" class="tx-20"></i> </a>
        <div class="dropdown-menu tx-13">
          <form class="wd-250 pd-15">


            <h6 class="dropdown-header tx-uppercase tx-12 tx-bold tx-inverse pd-b-20 pd-l-0 pd-t-0">Sort
              <div class="float-right tx-20" *ngIf="StoresList_Config.Sort.SortOrder == 'desc'"
                (click)="StoresList_ToggleOption( null, _HelperService.AppConfig.ListToggleOption.SortOrder)">
                <i class="fas fa-sort-alpha-down-alt"></i>
              </div>
              <div class="float-right tx-20" *ngIf="StoresList_Config.Sort.SortOrder == 'asc'"
                (click)="StoresList_ToggleOption( null, _HelperService.AppConfig.ListToggleOption.SortOrder)">
                <i class="fas fa-sort-alpha-up-alt"></i>
              </div>
            </h6>

            <a class="dropdown-item cursor-pointer {{TItem.SystemActive?  'SystemActive' :'' }} {{_HelperService.CheckMode == 'dark' ? 'text-white' : 'text-dark' }} "
              *ngFor="let TItem of StoresList_Config.Sort.SortOptions"
              (click)="StoresList_ToggleOption( TItem, _HelperService.AppConfig.ListToggleOption.Sort)">
              {{TItem.Name}}
            </a>
            <button type="button" class="btn btn-light btn-sm mr-2 mg-t-20"
              (click)="ResetFilters( null, _HelperService.AppConfig.ListToggleOption.ResetOffset)">
              Reset</button>
            <button type="button" class="btn btn-primary btn-sm  mg-t-20"
              (click)="ApplyFilters( null, _HelperService.AppConfig.ListToggleOption.ApplyFilter,'Sort')">Apply</button>
          </form>
        </div>
      </div>
      <div class="dropdown dropleft">
        <a href="" class="nav-link" id="StoresList_fdropdown" data-toggle="dropdown" aria-haspopup="true"
          (click)="_HelperService.StopClickPropogation()" aria-expanded="false"> <i data-feather="filter"></i> </a>




        <div class="dropdown-menu tx-13">
          <form class="wd-250  pd-15" *ngIf="ResetFilterControls">
            <h6 class="dropdown-header tx-uppercase tx-12 tx-bold tx-inverse pd-b-20 pd-l-0 pd-t-0">Filters
            </h6>
            <div>
              <div class="form-group">
                <label>Date</label>
                <input type="text" class="form-control  form-daterangepicker" name="daterangeInput" daterangepicker
                  [options]="_HelperService.AppConfig.DateRangeOptions"
                  (selected)="StoresList_ToggleOption($event, _HelperService.AppConfig.ListToggleOption.Date)" />
              </div>
            </div>
            <div>
              <div class="form-group">
                <label>Status</label>
                <select2 [options]="_DataHelperService.S2_Status_Option" class="wd-100p"
                  [data]="StoresList_Config.StatusOptions"
                  (valueChanged)="StoresList_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.Status)">
                </select2>
              </div>
            </div>

            <button type="button" class="btn btn-light btn-sm mr-2"
              (click)="ResetFilters( null, _HelperService.AppConfig.ListToggleOption.ResetOffset)">
              Reset</button>
            <button type="button" class="btn btn-primary btn-sm "
              (click)="ApplyFilters( null, _HelperService.AppConfig.ListToggleOption.ApplyFilter,'Other')">Apply</button>
          </form>
        </div>
      </div>
      <a class="nav-link ml-2 RefreshColorOne"
        (click)="StoresList_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.Refresh)"> <i
          data-feather="refresh-cw"></i> </a>
      <a class="nav-link ml-2 RefreshColorOne"
        (click)="StoresList_ToggleOption( $event,_HelperService.AppConfig.ListToggleOption.Csv)"> <i
          data-feather="download"></i> </a>
    </nav>
  </div>
  <div class="pt-0 pd-l-15 pd-b-15">
    <div class="badge badge-transparent pd-y-10 pd-l-15 mx-1 bd bd-1 bd-gray-500 rounded-50 tx-color-03"
      [hidden]="(!_HelperService.FilterSnap.Status) || (_HelperService.FilterSnap.Status==0)">
      {{_HelperService.FilterSnap.StatusName}}
      <span (click)="RemoveFilterComponent('Status')"
        class="bd bd-1  mg-l-5 pd-x-5 pd-y-3 rounded-circle bg-primary text-white cursor-pointer"><i
          class="fas fa-times"></i> </span>
    </div>
    <div class="badge badge-transparent pd-y-10 pd-l-15 mx-1 bd bd-1 bd-gray-500 rounded-50 tx-color-03"
      [hidden]="!_HelperService.FilterSnap.Sort.SortColumn || (_HelperService.FilterSnap.Sort.SortColumn=='CreateDate' && _HelperService.FilterSnap.Sort.SortOrder=='')">
      <span> {{_HelperService.FilterSnap.Sort.SortColumn + "--" + _HelperService.FilterSnap.Sort.SortOrder}}</span>
      <span (click)="RemoveFilterComponent('Sort')"
        class="bd bd-1  mg-l-5 pd-x-5 pd-y-3 rounded-circle bg-primary text-white cursor-pointer"><i
          class="fas fa-times"></i> </span>
    </div>
    <!-- <div class="badge badge-transparent pd-y-10 pd-l-15 mx-1 bd bd-1 bd-gray-500 rounded-50 tx-color-03"
      [hidden]="!_HelperService.FilterSnap.Sort.SortColumn">
      <span> {{_HelperService.FilterSnap.Sort.SortColumn + "--" + _HelperService.FilterSnap.Sort.SortOrder}}</span>
      <span (click)="RemoveFilterComponent('Sort')"
        class="bd bd-1  mg-l-5 pd-x-5 pd-y-3 rounded-circle bg-primary text-white cursor-pointer"><i
          class="fas fa-times"></i> </span>
    </div> -->
    <div class="badge badge-transparent pd-y-10 pd-l-15 mx-1 bd bd-1 bd-gray-500 rounded-50 tx-color-03"
      [hidden]="!_HelperService.FilterSnap.StartTime">
      {{_HelperService.GetDateS(_HelperService.FilterSnap.StartTime) + "--" +
      _HelperService.GetDateS(_HelperService.FilterSnap.EndTime)}}
      <span (click)="RemoveFilterComponent('Time')"
        class="bd bd-1  mg-l-5 pd-x-5 pd-y-3 rounded-circle bg-primary text-white cursor-pointer"><i
          class="fas fa-times"></i> </span>
    </div>
    <div class="badge badge-transparent pd-y-10 pd-l-15 mx-1 bd bd-1 bd-gray-500 rounded-50 tx-color-03"
      *ngFor="let TItem of _HelperService.FilterSnap.OtherFilters; let i = index">
      {{TItem.data[0].DisplayName}}
      <span (click)="RemoveFilterComponent('Other',i)"
        class="bd bd-1  mg-l-5 pd-x-5 pd-y-3 rounded-circle bg-primary text-white cursor-pointer"><i
          class="fas fa-times"></i> </span>
    </div>

    <span class="badge badge-pill badge-primary" *ngFor="let TItem of StoresList_Config.Filters">{{TItem.Title}}</span>

  </div>

  <div class="card-body p-0">
    <table class="{{_HelperService.AppConfig.TablesConfig.DefaultClass}}">
      <thead>
        <tr>
          <!-- <th class="text-center">

              </th> -->

          <th>
            Name
          </th>

          <th class="">
            Mobile Number
          </th>
          <th class="">
            Email Address
          </th>


          <th class="text-center">
            Gender
          </th>

          <th class="text-center">
            Added On
          </th>

          <th>Status</th>





        </tr>
      </thead>
      <tbody>
        <tr class="cursor-pointer" (click)="StoresList_RowSelected(TItem)"
          *ngFor="let TItem of StoresList_Config.Data  | paginate: { id: 'StoresList_Paginator',itemsPerPage: StoresList_Config.PageRecordLimit, currentPage: StoresList_Config.ActivePage,  totalItems: StoresList_Config.TotalRecords }">
          <!-- <td class="text-center">
                  <img class="br" src="{{TItem.IconUrl}}" class="img wd-40 ht-40 rounded-circle bd bd-2"
                      [style.border-color]="TItem.StatusC">
              </td> -->

          <td>
            <div class="tx-14 ">{{TItem.DisplayName || "--"}}</div>

          </td>

          <td class="">
            <div class="tx-14">{{TItem.MobileNumber || "--"}}
            </div>


          </td>
          <td class="">
            {{TItem.EmailAddress || "--"}}
          </td>

          <td class="text-center">
            {{TItem.GenderName || "--"}}
          </td>


          <td class="text-center">
            {{TItem.CreateDate || "--"}}
          </td>


          <td>
            <span class="text-lowercase" [ngClass]="TItem.StatusBadge">{{ TItem.StatusName || "--" }}</span>

          </td>

        </tr>
      </tbody>
    </table>
  </div>
  <div class="card-footer pd-20">
    <span class="mr-3">
      {{ 'Common.Showing' | translate }}
      <span class="bold">{{StoresList_Config.ShowingStart}} {{ 'Common.To' | translate }}
        {{StoresList_Config.ShowingEnd}}
      </span> {{ 'Common.Of' | translate }} {{StoresList_Config.TotalRecords}}
    </span>
    <span>
      {{ 'Common.Show' | translate }}
      <select class="wd-50 " [(ngModel)]="StoresList_Config.PageRecordLimit"
        (ngModelChange)="StoresList_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.Limit)">
        <option [ngValue]="TItem" *ngFor="let TItem of _HelperService.AppConfig.ListRecordLimit">
          {{TItem}}
        </option>
      </select>
    </span>
    <span class="float-right">
      <pagination-controls id="StoresList_Paginator" class="pagination pagination-space"
        (pageChange)="StoresList_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.Page)"
        nextLabel="{{ 'Common.Next' | translate }}" previousLabel="{{ 'Common.Previous' | translate }}">
      </pagination-controls>
    </span>
  </div>
</div>
<div class="off-canvas off-canvas-overlay off-canvas-right mn-wd-30p" #offCanvas
  style="width: 480px !important; overflow-y:auto !important ;">
  <div class="off-canvas-content">
    <div class="card">
      <div class="card-header  d-flex justify-content-between">
        <h3 class="pb-0 mb-0 tx-20"> Customer Details </h3>


        <div>
          <span class="{{CustomerData.StatusB}} mg-l-10">
            {{CustomerData.StatusName || "--"}} </span>

        </div>

      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-md-4 float-left text-secondary">Name</div>
          <div class="col-md-1">:</div>
          <div class="col-md-7 text-right">{{CustomerData.Name || "--"}}</div>
        </div>

        <div class="row mg-t-10">
          <div class="col-md-4 float-left text-secondary">First Name</div>
          <div class="col-md-1">:</div>
          <div class="col-md-7 text-right">
            <div class="tx-medium">{{CustomerData.FirstName || "--"}}</div>

          </div>
        </div>
        <div class="row mg-t-10">
          <div class="col-md-4 float-left text-secondary">Last Name</div>
          <div class="col-md-1">:</div>
          <div class="col-md-7 text-right">{{CustomerData.LastName || "--"}}</div>
        </div>
        <div class="row mg-t-10">
          <div class="col-md-4 float-left text-secondary">Mobile Number</div>
          <div class="col-md-1">:</div>
          <div class="col-md-7 text-right">{{CustomerData.MobileNumber || "--"}}</div>
        </div>

        <div class="row mg-t-10">
          <div class="col-md-4 float-left text-secondary">Email Address</div>
          <div class="col-md-1">:</div>
          <div class="col-md-7 text-right">{{CustomerData.EmailAddress || "--"}}</div>
        </div>
        <div class="row  mg-t-10">
          <div class="col-md-4 float-left text-secondary">Gender</div>
          <div class="col-md-1">:</div>
          <div class="col-md-7 text-right">{{CustomerData.GenderName || "--"}}</div>
        </div>
        <div class="row mg-t-10">
          <div class="col-md-4 float-left text-secondary">Date Of Birth</div>
          <div class="col-md-1">:</div>
          <div class="col-md-7 text-right">{{CustomerData.DateOfBirth | date :["dd-MM-yyyy"] }}</div>
        </div>
        <div class="row mg-t-10">
          <div class="col-md-4 float-left text-secondary">Added On</div>
          <div class="col-md-1">:</div>
          <div class="col-md-7 text-right">{{CustomerData.CreateDate || "--"}}</div>
        </div>

        <div class="row mg-t-10">
          <div class="col-md-4 float-left text-secondary"> Added By</div>
          <div class="col-md-1">:</div>
          <div class="col-md-7 text-right">{{CustomerData.CreatedByDisplayName || "--"}}</div>
        </div>

        <div class="row mg-t-10">
          <div class="col-md-4 float-left text-secondary">Reference Number</div>
          <div class="col-md-1">:</div>
          <div class="col-md-7 text-right">{{CustomerData.ReferenceNumber || "--"}}</div>
        </div>
        <!-- <div class="row mg-t-10">
          <div class="col-md-4 float-left text-secondary">Status Message</div>
          <div class="col-md-1">:</div>
          <div class="col-md-7 text-right">{{CustomerData.StatusMessage || "--"}}</div>
        </div> -->

      </div>
      <div class="card-footer">
        <button type="button" class="btn btn-secondary mr-2 float-right" (click)="unclick()"> Close </button>

      </div>
    </div>


  </div>
</div>


<div id="Form_AddCustomer_Content" class="modal fade" tabindex="-1" data-backdrop="true" aria-hidden="true"
  style="overflow-y: scroll !important;">
  <div class="modal-dialog modal-dialog-centered dropdown ">
    <div class="modal-content">
      <form [formGroup]="Form_AddCustomer" (ngSubmit)="Form_AddCustomer_Process(Form_AddCustomer.value)" role="form">
        <div class="modal-header">
          <h5 class="modal-title">Add New Customer</h5>
        </div>
        <div class="modal-body  p-lg">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <div class="d-flex justify-content-between">
                  <div>
                    <label>{{ "System.Users.FirstName" | translate }}<span class="text-danger">*</span>
                    </label>
                  </div>

                </div>
                <div class="controls">
                  <input type="text" name="FirstName" placeholder="First Name" required maxlength="128"
                    class="form-control" [formControl]="Form_AddCustomer.controls['FirstName']" [ngClass]="{
                      'is-invalid':
                        !Form_AddCustomer.controls['FirstName'].valid &&
                        Form_AddCustomer.controls['FirstName'].touched
                    }" />
                </div>
                <label class="text-danger" for="FirstName" *ngIf="
                    Form_AddCustomer.controls['FirstName'].hasError('required') &&
                    Form_AddCustomer.controls['FirstName'].touched
                  ">{{
                  "System.Users.FirstName_ER_Required" | translate
                  }}</label>
                <label class="text-danger" for="FirstName" *ngIf="
                    Form_AddCustomer.controls['FirstName'].hasError(
                      'minlength'
                    ) ||
                    Form_AddCustomer.controls['FirstName'].hasError('maxlength')
                  ">{{ "System.Users.FirstName_ER_Length" | translate }}</label>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <div class="d-flex justify-content-between">
                  <div>
                    <label>{{ "System.Users.LastName" | translate }}<span class="text-danger">*</span>
                    </label>
                  </div>

                </div>
                <div class="controls">
                  <input type="text" name="LastName" placeholder="Last Name" required maxlength="128"
                    class="form-control" [formControl]="Form_AddCustomer.controls['LastName']" [ngClass]="{
                      'is-invalid':
                        !Form_AddCustomer.controls['LastName'].valid &&
                        Form_AddCustomer.controls['LastName'].touched
                    }" />
                </div>
                <label class="text-danger" for="LastName" *ngIf="
                    Form_AddCustomer.controls['LastName'].hasError('required') &&
                    Form_AddCustomer.controls['LastName'].touched
                  ">{{
                  "System.Users.LastName_ER_Required" | translate
                  }}</label>
                <label class="text-danger" for="LastName" *ngIf="
                    Form_AddCustomer.controls['LastName'].hasError(
                      'minlength'
                    ) ||
                    Form_AddCustomer.controls['LastName'].hasError('maxlength')
                  ">{{ "System.Users.LastName_ER_Length" | translate }}</label>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label>{{ "System.Users.EmailAddress" | translate
              }}<span class="text-danger">*</span>
            </label>
            <div class="controls">
              <input type="text" placeholder="Email Address" name="EmailAddress" maxlength="128" class="form-control"
                [formControl]="Form_AddCustomer.controls['EmailAddress']" [ngClass]="{
                          'is-invalid':
                            !Form_AddCustomer.controls['EmailAddress'].valid &&
                           Form_AddCustomer.controls['EmailAddress'].touched
                        }" />
            </div>
            <label class="text-danger" for="EmailAddress" *ngIf="
                       Form_AddCustomer.controls['EmailAddress'].hasError('required') &&
                       Form_AddCustomer.controls['EmailAddress'].touched
                      ">{{
              "System.Users.EmailAddress_ER_Required" | translate
              }}</label>
            <label class="text-danger" for="EmailAddress" *ngIf="
                       Form_AddCustomer.controls['EmailAddress'].touched &&
                        !Form_AddCustomer.controls['EmailAddress'].valid && 
                        !Form_AddCustomer.controls['EmailAddress'].hasError('required')
                      ">Enter valid email Address</label>
          </div>
          <div class="form-group">
            <label>{{ "System.Users.MobileNumber" | translate
              }}<span class="text-danger">*</span>
            </label>
            <div class="controls input-group">
              <div class="input-group-prepend">
                <span class="input-group-text">{{this._HelperService.CountryCode}}</span>
              </div>
              <input type="text" placeholder="Contact Number" name="MobileNumber" maxlength="14" class="form-control"
                (keypress)="_HelperService.PreventText($event)"
                [formControl]="Form_AddCustomer.controls['MobileNumber']" [ngClass]="{
                        'is-invalid':
                          !Form_AddCustomer.controls['MobileNumber'].valid &&
                         Form_AddCustomer.controls['MobileNumber'].touched
                      }" />
            </div>
            <label class="text-danger" for="MobileNumber" *ngIf="
                     Form_AddCustomer.controls['MobileNumber'].hasError('required') &&
                     Form_AddCustomer.controls['MobileNumber'].touched
                    ">{{
              "System.Users.MobileNumber_ER_Required" | translate
              }}</label>
            <label class="text-danger" for="MobileNumber" *ngIf="
                     Form_AddCustomer.controls['MobileNumber'].hasError(
                        'minlength'
                      ) ||
                     Form_AddCustomer.controls['MobileNumber'].hasError('maxlength')
                    ">{{ "System.Users.MobileNumber_ER_Length" | translate }}</label>
          </div>

          <div class="form-group">
            <div> <label>{{'System.Users.Gender' | translate }}<span class="text-danger">*</span>
              </label>
            </div>
            <div class="radio float-left mr-3">
              <label class="ui-check"><input type="radio" name="gender" [value]="_HelperService.AppConfig.Gender.Male"
                  [formControl]="Form_AddCustomer.controls['GenderCode']">
                <i class="dark-white"></i>
                {{ 'System.Users.Male' | translate }}</label>
            </div>
            <div class="radio  mr-3"><label class="ui-check"><input type="radio" name="gender"
                  [value]="_HelperService.AppConfig.Gender.Female"
                  [formControl]="Form_AddCustomer.controls['GenderCode']">
                <i class="dark-white"></i>
                {{ 'System.Users.Female' | translate }}</label></div>
          </div>

          <!-- <div class="form-group">
                        <div>
                            <label>Profile Picture
                            </label>
                        </div>
                        <div class="col-md-12">
                            <input-file #cashier inputId="input-file" placeholder="">
                            </input-file>
                        </div>
                    </div> -->


        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="Form_AddCustomer_Close()">
            {{ "Common.Close" | translate }}
          </button>
          <button type="submit" class="btn btn-primary warn mr-2" (click)="Form_AddCustomer.value.OperationType = 'new'"
            [disabled]="!Form_AddCustomer.valid || _HelperService.IsFormProcessing">
            <span *ngIf="!_HelperService.IsFormProcessing">
              {{ "Common.Save" | translate }}
            </span>
            <span *ngIf="_HelperService.IsFormProcessing">
              <i class="{{ 'Common.SpinnerIcon' | translate }}"></i>
              {{ "Common.PleaseWait" | translate }}...
            </span>
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
<!-- <div class="modal" id="EditCol" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Edit Column</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group" *ngFor="let Col of TempColumnConfig">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" id="gridCheck" [(ngModel)]=Col.Value>
            <label class="form-check-label" for="">
              {{Col.Name}}
            </label>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" (click)="SaveEditCol()">Save</button>
      </div>
    </div>
  </div>
</div> -->