<!-- <div class="card"> -->
<!-- <ol class="breadcrumb df-breadcrumbs mg-b-10">
  <li class="breadcrumb-item" [routerLinkActive]="['active']"><a
      routerLink="{{ _HelperService.AppConfig.Pages.ThankUCash.Dashboard.Merchant}}" [routerLinkActive]="['active']">
      Dashboard</a></li>
  <li class="breadcrumb-item" [routerLinkActive]="['active']"><a [routerLinkActive]="['active']">Reports
    </a></li>
  <li class="breadcrumb-item" [routerLinkActive]="['active']"><a class="text-primary"
      [routerLinkActive]="['active']">Sales Trends
    </a></li>
</ol> -->

<!-- <div class="d-sm-flex align-items-center justify-content-between mb-2">
    <div class="d-flex justify-content-between ">
      <div class="form-group  mb-0 pb-0 wd-200">
        <input type="text" class="form-control form-daterangepicker full-width" name="daterangeInput" daterangepicker
          [options]="_HelperService.AppConfig.DateRangeOptionsWithYear"
          (selected)="DateChanged($event, _HelperService.AppConfig.ListToggleOption.Date)" />
      </div> -->


<!-- <div class="mg-l-5 wd-200">
        <select2 class="full-width" [options]="TUTr_Filter_Store_Option"
          (valueChanged)="TUTr_Filter_Stores_Change($event)">
        </select2>
      </div> -->
<!-- </div> -->
<!-- <div class="d-flex justify-content-between mg-t-10  mg-md-t-0">
      <button
        class="btn btn-sm pd-x-15  btn-uppercase {{_HelperService.CheckMode == 'dark' ? 'btn-dark' : 'btn-white' }}"><i
          data-feather="mail" class="wd-10 mg-r-5"></i>
        Email</button>
      <button
        class="btn btn-sm pd-x-15  btn-uppercase mg-l-5 {{_HelperService.CheckMode == 'dark' ? 'btn-dark' : 'btn-white' }}"><i
          data-feather="upload" class="wd-10 mg-r-5"></i>
        Export</button>
    </div> -->
<!-- <ul class="list-inline d-flex mg-t-20 mg-sm-t-10 mg-md-t-0 mg-b-0">
      <li class="list-inline-item d-flex align-items-center">
        <span class="d-block wd-15 ht-15 bg-primary rounded mg-r-5 "></span>
        <span class="tx-sans   tx-uppercase tx-medium tx-color-03 tx-13">
          {{TodayStartTime | date :["dd LLL yy"]}}</span>
      </li>
      <li class="list-inline-item d-flex align-items-center mg-l-5">
        <span class="d-block wd-15 ht-15 bg-MasterCard rounded mg-r-5"></span>
        <span
          class="tx-sans  tx-13 tx-uppercase tx-medium tx-color-03">{{TodayEndTime | date :["dd LLL yy"]}}</span>
      </li>
  
    </ul> -->
<!-- </div> -->

<!-- <div class="row mg-b-20 mg-lg-b-12">
    <div class="col-6">

      <nav aria-label="breadcrumb">
        <ol class="breadcrumb breadcrumb-style1 mg-b-14">
          <li class="breadcrumb-item active" style="font-size: 15px;">Dashboard</li>
        </ol>
      </nav>
      <h4 class="mg-b-0 tx-spacing--1"> Today's Overview - <span> {{TodayDate | date }} </span></h4>

    </div> -->

<!-- <div class="col-6 d-flex align-items-center vertical-align-bottom align-items-center justify-content-end"> -->
<!-- <div class="form-group  mb-0 pb-0 wd-200" id="FilterPeriod">
        <input type="text" class="form-control form-daterangepicker full-width" name="daterangeInput" daterangepicker
          [options]="_HelperService.AppConfig.DateRangeOptionsWithYear"
          (selected)="DateChanged($event, _HelperService.AppConfig.ListToggleOption.Date)" />
      </div> -->

<!-- <div class="form-group  mb-0 pb-0 wd-200" id="FilterPeriod">
        <input type="text" class="form-control form-daterangepicker full-width" name="daterangeInput" daterangepicker
          [options]="_HelperService.AppConfig.DateRangeOptionsWithYear"
          (selected)="DateChanged($event, _HelperService.AppConfig.ListToggleOption.Date)" />
      </div>

      <div class="mg-l-5">
        <button class="nav-link btn btn-primary tx-13  ht-30  d-flex  align-items-center cursor-pointer text-white px-2"
        (click)="AddNewDeal()" style="padding: 1rem 1rem;">
        Create New Deal</button>
      </div> -->
<!-- <div class="mg-l-5" id="Help">
        <button (click)="StartIntro()" class="btn btn-sm pd-x-15 btn-white btn-uppercase"> <i data-feather="info"> </i>
          <span class="tx-13 mg-l-5">Help</span>  </button>
      </div> -->
<!-- </div>
  </div> -->

<div class="row">
    <div class="col-md-12">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb breadcrumb-style1 mg-b-14">
                <li class="breadcrumb-item active" style="font-size: 15px;">Dashboard</li>
            </ol>
        </nav>
    </div>
</div>

<div class="d-block d-lg-block d-sm-block d-md-flex d-xl-flex">

    <div class="mr-auto">
        <h4 class="mg-b-0 tx-spacing--1"> Today's Overview - <span> {{TodayDate | date }} </span></h4>
    </div>



    <div class="p-2 text-right">
        <div class="form-group  mb-0 pb-0 wd-200 position-relative" id="FilterPeriod">
            <input type="text" class="form-control form-daterangepicker full-width" name="daterangeInput" daterangepicker (click)="ShowDatePicker()" [options]="_HelperService.AppConfig.DateRangeOptions" (selected)="DateChanged($event, _HelperService.AppConfig.ListToggleOption.Date)"
            />
        </div>
    </div>
    <div class="p-2 text-right">
        <div class="mg-l-5 mb-0 pb-0">
            <button class="nav-link btn btn-primary tx-13  ht-30  d-flex  align-items-center cursor-pointer text-white px-2" (click)="AddNewDeal()" style="padding: 1rem 1rem;">
            Create New Deal</button>
        </div>
    </div>

</div>



<div class="row row-xs mg-b-10">
    <div class="col-sm-6 col-lg-3 mg-t-15  mg-sm-t-0">
        <div class="card card-body shadow-none ht-100p" style="background: linear-gradient(to right,#0168fa, #025fe3 49.9%, #035edd 60.1%, #0253c5 100%);">
            <h6 id="WalletBalance" class="tx-uppercase tx-11 tx-spacing-1 text-white tx-semibold mg-b-12">WALLET BALANCE</h6>

            <div class="d-block d-lg-block d-sm-block d-md-flex d-xl-flex justify-content-between fund">
                <h4 class="tx-rubik text-white mg-b-8 mg-r-5 lh-1 Word-break">
                    <span class="text-sm text-white" [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span> {{(_AccountBalance.Balance | number: "1.2-2" || "00")}}
                </h4>

                <!-- <span  ><button type="button" class="btn btn-primary tx-10" (click)="OpenPaymentOptions()">
              <i data-feather="plus"></i> Fund Wallet
            </button></span> -->
                <!-- <p class="tx-11 tx-color-03 mg-b-0  mg-b-10"><span class="tx-medium tx-danger">0.7% <i
                  class="icon ion-md-arrow-down"></i></span></p> -->
            </div>


            <p class="tx-12 text-white mg-b-0 "> Total amount in wallet</p>
        </div>
    </div>
    <!-- col -->
    <div class="col-sm-6 col-lg-3">
        <div class="card card-body shadow-none ht-100p">
            <h6 id="SaleAmount" class="tx-uppercase tx-11 tx-spacing-1 tx-color-02 tx-semibold mg-b-12">Sale amount</h6>
            <div class="d-flex d-lg-block d-xl-flex align-items-end">
                <h3 class="tx-rubik tx-dark mg-b-8 mg-r-5 lh-1 Word-break" *ngIf="dealReasult">
                    <span class="text-sm" [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span> {{(dealReasult.Amount | number: "1.2-2" || "00")}}
                </h3>
                <h3 class="tx-rubik tx-dark mg-b-8 mg-r-5 lh-1 Word-break" *ngIf="!dealReasult">
                    <span class="text-sm" [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span> {{("00")}}
                </h3>
                <!-- <p class="tx-11 tx-color-03 mg-b-0  mg-b-10"><span class="tx-medium tx-danger">0.7% <i
                class="icon ion-md-arrow-down"></i></span></p> -->
            </div>
            <div class="row">
                <div class="col-10">

                    <p class="tx-12 text-secondary mg-b-0 " *ngIf="dealReasult"> Total sale amount from {{dealReasult.Total}} Transactions</p>
                    <p class="tx-12 text-secondary mg-b-0 " *ngIf="!dealReasult"> Total sale amount from {{("0")}}Transactions</p>
                </div>
                <div class="col-2 px-0">
                    <span routerLink="{{_HelperService.AppConfig.Pages.ThankUCash.PanelMerchant.GiftCard.Reward}}" class="bd bd-1  mg-l-4 pd-x-4 pd-y-2 rounded-circle bg-primary text-white cursor-pointer text-right"><i
              class="fa fa-arrow-right"></i> </span>
                </div>
            </div>

            <!-- <p class="tx-12 text-secondary mg-b-0 "> Total Sale Amount </p> -->
        </div>
    </div>
    <!-- col -->
    <div class="col-sm-6 col-lg-3 mg-t-15  mg-lg-t-0">
        <div class="card card-body shadow-none ht-100p">
            <h6 id="ReedemedDeals" class="tx-uppercase tx-11 tx-spacing-1 tx-color-02 tx-semibold mg-b-12">REDEEMED DEALS</h6>
            <div class="d-flex d-lg-block d-xl-flex align-items-end">
                <h3 class="tx-dark tx-rubik  mg-b-8 mg-r-5 lh-1" *ngIf="dealReasult">
                    {{dealReasult.Used | number: "1.0-1" || "--"}} </h3>
                <h3 class="tx-dark tx-rubik  mg-b-8 mg-r-5 lh-1" *ngIf="!dealReasult">
                    {{ "--"}} </h3>
            </div>
            <div class="row">
                <div class="col-10">

                    <p class="tx-12 text-secondary mg-b-0 ">Total number of redeemed deals</p>
                </div>
                <div class="col-2 px-0">
                    <span routerLink="{{_HelperService.AppConfig.Pages.ThankUCash.PanelConsole.Deals.RedeemHistory}}" class="bd bd-1  mg-l-4 pd-x-4 pd-y-2 rounded-circle bg-primary text-white cursor-pointer text-right"><i
              class="fa fa-arrow-right"></i> </span>
                </div>
            </div>


        </div>
    </div>
    <div class="col-sm-6 col-lg-3 mg-t-15  mg-lg-t-0">
        <div class="card card-body shadow-none ht-100p">
            <h6 id="DealsSold" class="tx-uppercase tx-11 tx-spacing-1 tx-color-02 tx-semibold mg-b-12">DEALS SOLD</h6>
            <div class="d-flex d-lg-block d-xl-flex align-items-end">
                <h3 class="tx-dark tx-rubik  mg-b-8 mg-r-5 lh-1" *ngIf="dealReasult">
                    {{dealReasult.Total | number: "1.0-1" || "--"}} </h3>
                <h3 class="tx-dark tx-rubik  mg-b-8 mg-r-5 lh-1" *ngIf="!dealReasult">
                    {{"--"}} </h3>
            </div>
            <div class="row">
                <div class="col-10">

                    <p class="tx-12 text-secondary mg-b-0 ">Number of deals sold</p>
                </div>
                <div class="col-2 px-0">
                    <span routerLink="{{_HelperService.AppConfig.Pages.ThankUCash.PanelConsole.Deals.SoldHistory}}" class="bd bd-1  mg-l-4 pd-x-4 pd-y-2 rounded-circle bg-primary text-white cursor-pointer text-right"><i
              class="fa fa-arrow-right"></i> </span>
                </div>
            </div>


        </div>
    </div>

</div>

<div class="row row-xs mg-b-20">
    <div class="col-lg-12 col-xl-12 col-sm-12 col-md-12">
        <div class="card">
            <div id="SalesReport" class="card-header pd-t-20 d-sm-flex align-items-start justify-content-between">
                <div>
                    <h6 class="mg-b-5 "> Deal Sales Report</h6>

                    <!-- TODO Insert Actual Date Picker -->
                </div>

                <ul class="list-inline d-flex mg-t-20 mg-sm-t-10 mg-md-t-0 mg-b-0">
                    <li class="list-inline-item d-flex align-items-center">
                        <span class="d-block wd-15 ht-15 bg-primary rounded mg-r-5 "></span>
                        <span class="tx-sans   tx-uppercase tx-medium tx-color-03 tx-13">
                {{CurrentRange.ActualStartDate | date :["dd LLL yy"]}}</span>
                    </li>
                    <li class="list-inline-item d-flex align-items-center mg-l-5">
                        <span class="d-block wd-15 ht-15 bg-MasterCard rounded mg-r-5"></span>
                        <span class="tx-sans  tx-13 tx-uppercase tx-medium tx-color-03">{{CurrentRange.CompareStartDate | date :["dd
                LLL yy"]}}</span>
                    </li>

                </ul>
            </div>
            <!-- card-header -->
            <div class="card-body pd-lg-25">
                <div class="row ">
                    <div class="col-lg-7 col-xl-8 ht-100p" *ngIf="this.SalelineChartData[0].data.length != 0">
                        <canvas *ngIf="showSaleChart" baseChart #DataPlot="base-chart" [datasets]="SalelineChartData" [labels]="SalelineChartLabels" [options]="_HelperService.ChartConfig.LineChart.Options" [colors]="SalelineChartColors" [plugins]="_HelperService.ChartConfig.LineChart.Options.plugins"
                            [chartType]="_HelperService.ChartConfig.LineChart.Type">
              </canvas>
                    </div>

                    <div class="col-lg-7 col-xl-8 ht-100p" *ngIf="this.SalelineChartData[0].data.length == 0">
                        <div style="height:200px" class="text-center m-auto  text-muted">
                            <div>
                                <div>
                                    <div class="wd-140 wd-md-150 ht-140 ht-md-150 bd bd-2 bd-muted bg-transparent tx-muted tx-32 bd-gray-300 m-auto d-flex align-items-center justify-content-center rounded-circle">
                                        <!-- <i class="fas fa-file tx-50"></i> -->
                                        <img src="../../../../../assets/images/walk.svg" alt="">
                                    </div>
                                    <div class="pt-3">
                                        <span class="text-dark tx-bold tx-14 "> No deals sold out in this timeframe </span><br>
                                        <!-- <span class="tx-muted  ">No transactions took place during the time frame you selected</span> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-5 col-xl-4 ht-100p mg-t-30 mg-lg-t-0">
                        <div class="row mg-b-10">

                            <div class="col-sm-6 col-lg-12 ">
                                <div class="media">
                                    <div class="wd-40 wd-md-50 ht-40 ht-md-50 bg-transparent  bd bd-2 tx-primary mg-r-10 mg-md-r-10 d-flex align-items-center justify-content-center rounded">
                                        <div class="text-center"> {{_Sale.ActualStartDate | date :["dd"]}}
                                            <div>
                                                {{_Sale.ActualStartDate | date :["LLL"]}}</div>
                                        </div>


                                    </div>
                                    <div class="media-body">
                                        <h6 class="tx-sans tx-uppercase tx-10 tx-spacing-1 tx-color-03 tx-semibold tx-nowrap mg-b-5 mg-md-b-8">
                                            Deals Sold <span class="tx-dark  tx-uppercase"> ({{CurrentRange.ActualStartDate | date :["dd LLL
                          yy"]}})
                        </span> </h6>
                                        <h4 class="tx-20 tx-sm-18 tx-md-24 tx-normal tx-rubik mg-b-0"><span class="text-sm" [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span> {{_Sale.ActualSalesAmount | number: "1.2-2" ||"--"}}</h4>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-lg-12 mg-t-65 mg-sm-t-30 mg-lg-t-65">
                                <div class="media">
                                    <div class="wd-40 wd-md-50 ht-40 ht-md-50 bg-transparent  bd bd-secondary bd-2 tx-MasterCard mg-r-10 mg-md-r-10 d-flex align-items-center justify-content-center rounded">
                                        <div class="text-center"> {{_Sale.CompareStartDate | date :["dd"]}}
                                            <div>
                                                {{_Sale.CompareStartDate | date :["LLL"]}}</div>
                                        </div>

                                    </div>
                                    <div class="media-body">
                                        <h6 class="tx-sans tx-uppercase tx-10 tx-spacing-1 tx-color-03 tx-semibold tx-nowrap mg-b-5 mg-md-b-8">
                                            Deals Sold <span class="tx-dark  tx-uppercase"> ({{CurrentRange.CompareStartDate | date :["dd LLL
                          yy"]}})
                        </span> </h6>
                                        <h4 class="tx-20 tx-sm-18 tx-md-24 tx-normal tx-rubik mg-b-0"><span class="text-sm" [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span> {{_Sale.CompareSalesAmount | number: "1.2-2" ||"--"}}</h4>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-lg-12 mg-t-65 mg-sm-t-0 mg-lg-t-65">
                                <div class="media">
                                    <div class="wd-40 wd-md-50 ht-40 ht-md-50 {{(getAbsolute(_Sale.ActualSalesAmount  - _Sale.CompareSalesAmount)<0)?'bg-danger':'bg-success'}} tx-white mg-r-10 mg-md-r-10 d-flex align-items-center justify-content-center rounded">
                                        {{computePerc(_Sale)}}
                                    </div>
                                    <div class="media-body">
                                        <h6 class="tx-sans tx-uppercase tx-10 tx-spacing-1 tx-color-03 tx-semibold tx-nowrap mg-b-5 mg-md-b-8">
                                            Total Difference <span *ngIf="computeFlag(_Sale)==-1"> <i
                            class="fas fa-arrow-circle-down tx-16 tx-danger mg-l-5"></i></span>

                                            <span *ngIf="computeFlag(_Sale)==1"> <i
                            class="fas fa-arrow-circle-up tx-16 tx-success mg-l-5"></i></span>
                                        </h6>
                                        <h4 class="tx-20 tx-sm-18 tx-md-24 tx-normal tx-rubik mg-b-0"><span class="text-sm" [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span> {{getAbsolute(_Sale.ActualSalesAmount - _Sale.CompareSalesAmount) | number: "1.2-2" ||"--"}}
                                        </h4>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <!-- row -->

                    </div>
                </div>
            </div>
            <!-- card-body -->
        </div>
        <!-- card -->
    </div>


</div>
<div class="row row-xs mg-b-20">
    <div class="col-lg-12 col-xl-12 col-sm-12 col-md-12" id="ReedemedDealsReport">
        <div class="card">
            <div class="card-header pd-t-20 d-sm-flex align-items-start justify-content-between">
                <div>
                    <h6 class="mg-b-5 ">Deal Redeemed Report</h6>

                    <!-- TODO Insert Actual Date Picker -->
                </div>

                <ul class="list-inline d-flex mg-t-20 mg-sm-t-10 mg-md-t-0 mg-b-0">
                    <li class="list-inline-item d-flex align-items-center">
                        <span class="d-block wd-15 ht-15 bg-primary rounded mg-r-5 "></span>
                        <span class="tx-sans   tx-uppercase tx-medium tx-color-03 tx-13">
                {{CurrentRange.ActualStartDate | date :["dd LLL yy"]}}</span>
                    </li>
                    <li class="list-inline-item d-flex align-items-center mg-l-5">
                        <span class="d-block wd-15 ht-15 bg-MasterCard rounded mg-r-5"></span>
                        <span class="tx-sans  tx-13 tx-uppercase tx-medium tx-color-03">{{CurrentRange.CompareStartDate | date :["dd
                LLL yy"]}}</span>
                    </li>

                </ul>
            </div>
            <!-- card-header -->
            <div class="card-body pd-lg-25">
                <div class="row ">
                    <div class="col-lg-7 col-xl-8 ht-100p" *ngIf="this.RevenuelineChartData[0].data.length != 0">
                        <canvas *ngIf="showRevenueChart" baseChart #DataPlot="base-chart" [datasets]="RedeemlineChartData" [labels]="RevenuebarChartLabels" [options]="_HelperService.ChartConfig.LineChart.Options" [colors]="RevenuelineChartColors" [plugins]="_HelperService.ChartConfig.LineChart.Options.plugins"
                            [chartType]="_HelperService.ChartConfig.LineChart.Type">
              </canvas>
                    </div>

                    <div class="col-lg-7 col-xl-8 ht-100p" *ngIf="this.SalelineChartData[0].data.length == 0">
                        <div style="height:200px" class="text-center m-auto  text-muted">
                            <div>
                                <div>
                                    <div class="wd-140 wd-md-150 ht-140 ht-md-150 bd bd-2 bd-muted bg-transparent tx-muted tx-32 bd-gray-300 m-auto d-flex align-items-center justify-content-center rounded-circle">
                                        <!-- <i class="fas fa-file tx-50"></i> -->
                                        <img src="../../../../../assets/images/walk.svg" alt="">
                                    </div>
                                    <div class="pt-3">
                                        <span class="text-dark tx-bold tx-14 "> No deals sold out in this timeframe </span><br>
                                        <!-- <span class="tx-muted  ">No transactions took place during the time frame you selected</span> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-5 col-xl-4 ht-100p mg-t-30 mg-lg-t-0">
                        <div class="row mg-b-10">

                            <div class="col-sm-6 col-lg-12">
                                <div class="media">
                                    <div class="wd-40 wd-md-50 ht-40 ht-md-50 bg-transparent  bd bd-2 tx-primary mg-r-10 mg-md-r-10 d-flex align-items-center justify-content-center rounded">
                                        <div class="text-center"> {{_Sale.ActualStartDate | date :["dd"]}}
                                            <div>
                                                {{_Sale.ActualStartDate | date :["LLL"]}}</div>
                                        </div>


                                    </div>
                                    <div class="media-body">
                                        <h6 class="tx-sans tx-uppercase tx-10 tx-spacing-1 tx-color-03 tx-semibold tx-nowrap mg-b-5 mg-md-b-8">
                                            Total Deal Redeem <span class="tx-dark  tx-uppercase"> ({{CurrentRange.ActualStartDate | date :["dd
                          LLL yy"]}})
                        </span> </h6>
                                        <h4 class="tx-20 tx-sm-18 tx-md-24 tx-normal tx-rubik mg-b-0"><span class="text-sm" [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span> {{_Redeem.ActualSalesAmount | number: "1.2-2" ||"--"}}</h4>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-lg-12 mg-t-65 mg-sm-t-30 mg-lg-t-65">
                                <div class="media">
                                    <div class="wd-40 wd-md-50 ht-40 ht-md-50 bg-transparent  bd bd-secondary bd-2 tx-MasterCard mg-r-10 mg-md-r-10 d-flex align-items-center justify-content-center rounded">
                                        <div class="text-center"> {{_Sale.CompareStartDate | date :["dd"]}}
                                            <div>
                                                {{_Sale.CompareStartDate | date :["LLL"]}}</div>
                                        </div>

                                    </div>
                                    <div class="media-body">
                                        <h6 class="tx-sans tx-uppercase tx-10 tx-spacing-1 tx-color-03 tx-semibold tx-nowrap mg-b-5 mg-md-b-8">
                                            Total Deal Redeem <span class="tx-dark  tx-uppercase"> ({{CurrentRange.CompareStartDate | date :["dd
                          LLL yy"]}})
                        </span> </h6>
                                        <h4 class="tx-20 tx-sm-18 tx-md-24 tx-normal tx-rubik mg-b-0"><span class="text-sm" [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span> {{_Redeem.CompareSalesAmount | number: "1.2-2" ||"--"}}</h4>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-lg-12  mg-t-65 mg-sm-t-0 mg-lg-t-65">
                                <div class="media">
                                    <div class="wd-40 wd-md-50 ht-40 ht-md-50 {{(getAbsolute(_Redeem.ActualSalesAmount  - _Redeem.CompareSalesAmount)<0)?'bg-danger':'bg-success'}} tx-white mg-r-10 mg-md-r-10 d-flex align-items-center justify-content-center rounded">
                                        {{computePerc(_Redeem)}}
                                    </div>
                                    <div class="media-body">
                                        <h6 class="tx-sans tx-uppercase tx-10 tx-spacing-1 tx-color-03 tx-semibold tx-nowrap mg-b-5 mg-md-b-8">
                                            Total Difference <span *ngIf="computeFlag(_Redeem)==-1"> <i
                            class="fas fa-arrow-circle-down tx-16 tx-danger mg-l-5"></i></span>

                                            <span *ngIf="computeFlag(_Redeem)==1"> <i
                            class="fas fa-arrow-circle-up tx-16 tx-success mg-l-5"></i></span>
                                        </h6>
                                        <h4 class="tx-20 tx-sm-18 tx-md-24 tx-normal tx-rubik mg-b-0"><span class="text-sm" [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span> {{getAbsolute(_Redeem.ActualSalesAmount - _Redeem.CompareSalesAmount) | number: "1.2-2" ||"--"}}
                                        </h4>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <!-- row -->

                    </div>
                </div>
            </div>
            <!-- card-body -->
        </div>
        <!-- card -->
    </div>


</div>
<div class="row row-xs mg-b-20">
    <div class="col-lg-12 col-xl-12 col-sm-12 col-md-12" id="RevenueFromDeals">
        <div class="card">
            <div class="card-header pd-t-20 d-sm-flex align-items-start justify-content-between">
                <div>
                    <h6 class="mg-b-5 ">Revenue from deals</h6>

                </div>

                <ul class="list-inline d-flex mg-t-20 mg-sm-t-10 mg-md-t-0 mg-b-0">
                    <li class="list-inline-item d-flex align-items-center">
                        <span class="d-block wd-15 ht-15 bg-primary rounded mg-r-5 "></span>
                        <span class="tx-sans   tx-uppercase tx-medium tx-color-03 tx-13">
                {{CurrentRange.ActualStartDate | date :["dd LLL yy"]}}</span>
                    </li>
                    <li class="list-inline-item d-flex align-items-center mg-l-5">
                        <span class="d-block wd-15 ht-15 bg-MasterCard rounded mg-r-5"></span>
                        <span class="tx-sans  tx-13 tx-uppercase tx-medium tx-color-03">{{CurrentRange.CompareStartDate | date :["dd
                LLL yy"]}}</span>
                    </li>

                </ul>
            </div>
            <div class="card-body pd-lg-25">
                <div class="row ">


                    <div class="col-lg-7 col-xl-8 ht-100p" *ngIf="this.RedeemlineChartData[0].data.length != 0">
                        <canvas *ngIf="showRedeemChart" baseChart #DataPlot="base-chart" [datasets]="RevenuelineChartData" [labels]="RedeemlineChartLabels" [options]="_HelperService.ChartConfig.LineChart.Options" [colors]="RedeemlineChartColors" [plugins]="_HelperService.ChartConfig.LineChart.Options.plugins"
                            [chartType]="_HelperService.ChartConfig.LineChart.Type">
              </canvas>
                    </div>

                    <div class="col-lg-7 col-xl-8 ht-100p" *ngIf="this.SalelineChartData[0].data.length == 0">
                        <div style="height:200px" class="text-center m-auto  text-muted">
                            <div>
                                <div>
                                    <div class="wd-140 wd-md-150 ht-140 ht-md-150 bd bd-2 bd-muted bg-transparent tx-muted tx-32 bd-gray-300 m-auto d-flex align-items-center justify-content-center rounded-circle">
                                        <img src="../../../../../assets/images/walk.svg" alt="">
                                    </div>
                                    <div class="pt-3">
                                        <span class="text-dark tx-bold tx-14 "> No deals sold out in this timeframe .</span><br>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-5 col-xl-4 ht-100p mg-t-30 mg-lg-t-0">
                        <div class="row mg-b-10">

                            <div class="col-sm-6 col-lg-12 ">
                                <div class="media">
                                    <div class="wd-40 wd-md-50 ht-40 ht-md-50 bg-transparent  bd bd-2 tx-primary mg-r-10 mg-md-r-10 d-flex align-items-center justify-content-center rounded">
                                        <div class="text-center"> {{_Sale.ActualStartDate | date :["dd"]}}
                                            <div>
                                                {{_Sale.ActualStartDate | date :["LLL"]}}</div>
                                        </div>


                                    </div>
                                    <div class="media-body">
                                        <h6 class="tx-sans tx-uppercase tx-10 tx-spacing-1 tx-color-03 tx-semibold tx-nowrap mg-b-5 mg-md-b-8">
                                            Total Revenue <span class="tx-dark  tx-uppercase"> ({{CurrentRange.ActualStartDate | date :["dd
                          LLL yy"]}})
                        </span> </h6>
                                        <h4 class="tx-20 tx-sm-18 tx-md-24 tx-normal tx-rubik mg-b-0"><span class="text-sm" [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span> {{_Revenue.ActualSalesAmount | number: "1.2-2" ||"--"}}</h4>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-lg-12 mg-t-65 mg-sm-t-30 mg-lg-t-65">
                                <div class="media">
                                    <div class="wd-40 wd-md-50 ht-40 ht-md-50 bg-transparent  bd bd-secondary bd-2 tx-MasterCard mg-r-10 mg-md-r-10 d-flex align-items-center justify-content-center rounded">
                                        <div class="text-center"> {{_Sale.CompareStartDate | date :["dd"]}}
                                            <div>
                                                {{_Sale.CompareStartDate | date :["LLL"]}}</div>
                                        </div>

                                    </div>
                                    <div class="media-body">
                                        <h6 class="tx-sans tx-uppercase tx-10 tx-spacing-1 tx-color-03 tx-semibold tx-nowrap mg-b-5 mg-md-b-8">
                                            Total Revenue <span class="tx-dark  tx-uppercase"> ({{CurrentRange.CompareStartDate | date :["dd
                          LLL yy"]}})
                        </span> </h6>
                                        <h4 class="tx-20 tx-sm-18 tx-md-24 tx-normal tx-rubik mg-b-0"><span class="text-sm" [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span> {{_Revenue.CompareSalesAmount | number: "1.2-2" ||"--"}}</h4>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-lg-12 mg-t-65 mg-sm-t-0 mg-lg-t-65">
                                <div class="media">
                                    <div class="wd-40 wd-md-50 ht-40 ht-md-50 {{(getAbsolute(_Revenue.ActualSalesAmount  - _Revenue.CompareSalesAmount)<0)?'bg-danger':'bg-success'}} tx-white mg-r-10 mg-md-r-10 d-flex align-items-center justify-content-center rounded">
                                        {{computePerc(_Revenue)}}
                                    </div>
                                    <div class="media-body">
                                        <h6 class="tx-sans tx-uppercase tx-10 tx-spacing-1 tx-color-03 tx-semibold tx-nowrap mg-b-5 mg-md-b-8">
                                            Total Difference <span *ngIf="computeFlag(_Revenue)==-1"> <i
                            class="fas fa-arrow-circle-down tx-16 tx-danger mg-l-5"></i></span>

                                            <span *ngIf="computeFlag(_Revenue)==1"> <i
                            class="fas fa-arrow-circle-up tx-16 tx-success mg-l-5"></i></span>
                                        </h6>
                                        <h4 class="tx-20 tx-sm-18 tx-md-24 tx-normal tx-rubik mg-b-0"><span class="text-sm" [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span> {{getAbsolute(_Revenue.ActualSalesAmount - _Revenue.CompareSalesAmount) | number: "1.2-2" ||"--"}}
                                        </h4>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>


</div>
<div class="card" id="Transactions" style="top:25px;border-bottom: 0px;">
    <div class="card-header bd-b-0 pd-t-20 pd-lg-t-25 pd-l-20 pd-lg-l-25 d-flex flex-column flex-sm-row align-items-sm-start justify-content-sm-between">
        <div>
            <h6 class="mg-b-5 tx-14 text-uppercase">Recent Transactions</h6>
        </div>
    </div>
</div>
<!-- </div> -->
<div class="row mt-4">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body p-0">

                <table class="table mb-0">
                    <thead>
                        <tr>
                            <th class="">Status</th>
                            <th>Deal Title</th>
                            <!-- <th>Merchant</th> -->

                            <th>Customer</th>

                            <!-- <th class="td-number">Ref Id</th> -->
                            <th class="td-date">Purchased On</th>
                            <th class="td-date">Valid Till</th>
                            <th class="text-right"> Payable To Merchant(<span [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span>) </th>
                            <th class="text-center">Amount(<span [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span>)</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="
                     let TItem of TUTr_Config.Data
                      
                   ">
                            <td class="d-flex align-items-center">
                                <div class="">
                                    <span class="" [ngClass]="TItem.StatusBadge">{{ TItem.StatusName || "--" }} </span>
                                </div>
                                <span *ngIf="TItem.ToAccountId  != TItem.AccountId  && TItem.ToAccountId  != null" class="tx-verve tx-12 d-flex align-items-center mg-l-5"><img height="18" src="assets/img/1.svg" alt=""
                      srcset="">
                  </span>
                            </td>

                            <td class="">

                                <div>
                                    <span class="wd-200 route-hover cursor-pointer">{{ TItem.Title || "--" }}</span>
                                </div>
                            </td>
                            <!-- <td class="route-hover cursor-pointer" (click)="MerchantRoute(TItem)">
                  {{ TItem.MerchantDisplayName || "--" }}
                </td> -->
                            <td>
                                <div class="tx-14  route-hover cursor-pointer">{{TItem.AccountMobileNumber || "--"}}</div>
                                <div class="text-secondary tx-12 ">
                                    {{TItem.AccountDisplayName || "--"}}
                                </div>
                            </td>



                            <td class="">
                                <div>
                                    <span class="">{{ TItem.StartDate || "--" }}</span>
                                </div>
                                <div class="text-secondary tx-12 wd-100">
                                    {{TItem.StartTime || "--"}}
                                </div>
                            </td>

                            <td class="">
                                <div>
                                    <span class="">{{ TItem.EndDate || "--" }}</span>
                                </div>
                                <div class="text-secondary tx-12 wd-100">
                                    {{TItem.EndTime || "--"}}
                                </div>
                            </td>

                            <td class="text-right"> {{TItem.MerchantAmount | number: "1.2-2" || "--"}} </td>



                            <td class="tx-semibold text-center">
                                <div> {{ TItem.Amount || "0" | number: "1.2-2"}}
                                </div>

                            </td>


                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<!-- Pop up start -->
<div class="modal fade mg-t-35" id="taketour" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="modalTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title fw-700 tx-14 line-16" id="exampleModalLongTitle">Take A Tour</h5>
                <!-- <button type="button" class="close" data-dismiss="onBoardingModal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button> -->
            </div>
            <div class="modal-body">
                <div class="modal-part-two mb-5">
                    <div class="container mb-4 mt-4">
                        <div class="row text-center g-1">
                            <div class="col-md-12 p-1">
                                <h5 class="mt-2">
                                    <img src="../../../../assets/images/Group 5260.png" id="myImg" height="100" />
                                </h5>
                            </div>
                        </div>
                        <div class="modal-labels">
                            <b>
              <p class="fw-400 tx-14 line-16" style="text-align:center;margin-top:10px;">
                Hi
                <span class="label-two-color">
                  {{ _HelperService.UserAccount.DisplayName }} <img src="../../../../assets/images/icons-waving-hand-emoji.png" id="myImg1" height="20" width="20"/>
                </span>
               ! Would you like a tour?
              </p>
            </b>
                        </div>
                        <div style="text-align:center ;">
                            <button class="btn btn-primary" (click)="StartIntro()">
              <span class="fw-400 tx-12 line-14" >Yes, I would</span>
            </button>
                            <button class="btn btn-white mg-l-5" (click)="SkipTour()">
              <span class="fw-400 tx-12 line-14" >Skip Tour</span>
            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- pop up end -->


<!--Add Fund Wallet Pop up Start-->

<div id="Form_AddUser_Content" class="modal fade" data-backdrop="true" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Credit Reward Wallet</h5>
            </div>
            <div class="modal-body  p-lg">
                <div class="mb-3 b-b pb-3">
                    <h6 class="mg-b-5">Available Balance</h6>
                    <h5> <span class="text-sm mg-r-2" [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span> {{(_AccountBalance.Balance | number: "1.2-2" || "00")}}</h5>

                    <div class="mb-2">
                        Enter Amount
                    </div>
                    <div class="input-group text-warn mb-3">
                        <span class="input-group-prepend ">
              <span class="input-group-text text-warn"><span
                  [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span> </span>
                        </span>
                        <input type="text" maxlength="7" class="form-control text-warn" placeholder="Amount to credit" (keypress)="_HelperService.PreventText($event)" [(ngModel)]="_AccountBalanceCreditAmount"> <br>

                        <div class="text-secondary ">This amount will be credited in your wallet, you can further use it to give rewards to your customers.</div>

                        <div class="text-danger mg-t-5" *ngIf="(_AccountBalanceCreditAmount == undefined || _AccountBalanceCreditAmount == 0) || (_AccountBalanceCreditAmount < 1000)">
                            Enter amount must be equal or greater than <span class=" text-sm mg-r-2" [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span>1000</div>

                        <div class="text-danger mg-t-5" *ngIf="_AccountBalanceCreditAmount > 1000000">
                            Enter amount must be equal or lower than <span class=" text-sm mg-r-2" [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span>1000000</div>

                    </div>

                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">
          {{ "Common.Close" | translate }}
        </button>
                <button *ngIf="(_AccountBalanceCreditAmount == undefined || _AccountBalanceCreditAmount == 0) || (_AccountBalanceCreditAmount < 1000 || _AccountBalanceCreditAmount > 1000000)" class="btn btn-primary " disabled>Confirm</button>
                <button *ngIf="_AccountBalanceCreditAmount >= 1000 && _AccountBalanceCreditAmount <= 1000000" class="btn btn-success" angular4-paystack [currency]="_HelperService.AppConfig.CurrencyNotation" [key]="_HelperService.AppConfig.PayStackKey" [email]="_HelperService.User.EmailAddress"
                    [amount]="_AccountBalanceCreditAmount * 100" [class]="'btn btn-primary'" [ref]="_TransactionReference" (close)="paymentCancel()" (callback)="paymentDone($event)" data-dismiss="modal">Confirm</button>

            </div>
        </div>

    </div>
</div>


<div class="modal fade" id="addBusinessLocationModal" data-backdrop="static" data-keyboard="false" role="dialog" aria-labelledby="modalTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title fw-700 tx-14 line-16" id="exampleModalLongTitle">Add Business Location</h5>
            </div>
            <div class="modal-body">
                <div class="modal-part-two mb-1">
                    <div class="container mb-0 mt-4">
                        <app-add-bussiness-location-modal (dismissBusinessLocationModal)="dismissBusinessLocationModal($event)"></app-add-bussiness-location-modal>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade mg-t-35" id="GoodToGoModal" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="modalTitle" aria-hidden="true">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header border-0 h-25">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="dismissGoodToModal()">
          <span aria-hidden="true">×</span>
      </button>
            </div>
            <div class="modal-body pt-0">
                <div class="modal-part-two mb-5">
                    <div class="container mb-4 mt-4">
                        <div class="row text-center g-1">
                            <div class="col-md-12 p-1">
                                <h5 class="mt-2">
                                    <img src="../../../../assets/img/goodtogo.png" id="myImg" width="110px" height="110px" />
                                </h5>
                            </div>
                            <div class="col-md-12 p-1">
                                <h5>Yipee! 🎉</h5>
                                <span class="text-muted tx-16">Now you’re good to go.</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Add Fund Wallet pop up end-->