<!-- <div class="card"> -->
<ol class="breadcrumb df-breadcrumbs mg-b-10">
  <li class="breadcrumb-item" [routerLinkActive]="['active']"><a
      routerLink="{{ _HelperService.AppConfig.Pages.ThankUCash.Dashboard.Merchant}}" [routerLinkActive]="['active']">
      Dashboard</a></li>
  <li class="breadcrumb-item" [routerLinkActive]="['active']"><a [routerLinkActive]="['active']">Reports
    </a></li>
  <li class="breadcrumb-item" [routerLinkActive]="['active']"><a class="text-primary"
      [routerLinkActive]="['active']">Sales Trends
    </a></li>
</ol>

<div class="d-sm-flex align-items-center justify-content-between mb-2">
  <div class="d-flex justify-content-between ">
    <div class="form-group  mb-0 pb-0 wd-200">
      <input type="text" autocomplete="off" class="form-control form-daterangepicker full-width" name="daterangeInput"
        daterangepicker [options]="_HelperService.AppConfig.DatePickerOptions"
        (selected)="DateChanged($event, _HelperService.AppConfig.ListToggleOption.Date)" />
    </div>


    <div class="mg-l-5 wd-200">
      <select2 class="full-width" [options]="TUTr_Filter_Store_Option"
        (valueChanged)="TUTr_Filter_Stores_Change($event)">
      </select2>
    </div>
  </div>

  <div class="cursor-pointer">
    <!-- <button
  class="btn btn-sm mg-r-10 tx-13 pd-7 btn-uppercase {{_HelperService.CheckMode == 'dark' ? 'btn-dark' : 'btn-white' }}"><i
    data-feather="mail"></i>
  Email</button> -->
  
    <button class="btn btn-white tx-13" (click)="htmltoPDF()"><i data-feather="printer" class=""></i> Export</button>

  </div>
  <!-- <div class="d-flex justify-content-between mg-t-10  mg-md-t-0">
    <button
      class="btn btn-sm pd-x-15  btn-uppercase {{_HelperService.CheckMode == 'dark' ? 'btn-dark' : 'btn-white' }}"><i
        data-feather="mail" class="wd-10 mg-r-5"></i>
      Email</button>
    <button
      class="btn btn-sm pd-x-15  btn-uppercase mg-l-5 {{_HelperService.CheckMode == 'dark' ? 'btn-dark' : 'btn-white' }}"><i
        data-feather="upload" class="wd-10 mg-r-5"></i>
      Export</button>
  </div> -->
  <!-- <ul class="list-inline d-flex mg-t-20 mg-sm-t-10 mg-md-t-0 mg-b-0">
    <li class="list-inline-item d-flex align-items-center">
      <span class="d-block wd-15 ht-15 bg-primary rounded mg-r-5 "></span>
      <span class="tx-sans   tx-uppercase tx-medium tx-color-03 tx-13">
        {{TodayStartTime | date :["dd LLL"]}}</span>
    </li>
    <li class="list-inline-item d-flex align-items-center mg-l-5">
      <span class="d-block wd-15 ht-15 bg-MasterCard rounded mg-r-5"></span>
      <span
        class="tx-sans  tx-13 tx-uppercase tx-medium tx-color-03">{{TodayEndTime | date :["dd LLL"]}}</span>
    </li>

  </ul> -->
</div>

<div id="SalesTrends">
  <div class="row row-xs mg-b-20">
    <div class="col-lg-12 col-xl-12 col-sm-12 col-md-12">
      <div class="card">
        <div class="card-header pd-t-20 d-sm-flex align-items-start justify-content-between">
          <div>
            <h6 class="mg-b-5 ">Daily Sales Report</h6>
            <p class="tx-13 tx-color-03 mg-b-0"> <span class="tx-dark"> {{_Daily.ActualStartDate | date :["dd LLL"]}}
              </span> <span class="tx-13 "> Compared to
                <a href="" class="tx-bold text-capitalize" id="TodaySalesTrend_dropdown" data-toggle="dropdown"
                  aria-haspopup="true" (click)="_HelperService.StopClickPropogation()"
                  aria-expanded="false">{{lastdaytext}}
                  <i style="height:18px!important; width: 18px !important;" data-feather="chevron-down"></i>
                </a>
                <div class="dropdown-menu tx-13">
                  <form class="wd-250  pd-15">
                    <!-- <input type="text" class="form-control form-daterangepicker" name="dailydaterangeInput"
                      daterangepicker [options]="_HelperService.AppConfig.DatePickerOptions"
                      (selected)="DailyDateChanged($event, _HelperService.AppConfig.ListToggleOption.Date)" /> -->

                    <a class="pd-x-0 dropdown-item cursor-pointer  {{_HelperService.CheckMode == 'dark' ? 'text-white' : 'text-dark' }} "
                      (click)="CloseRowModal(0)">
                      <span class="text-primary">Same day, Last Week</span>
                    </a>
                    <a (click)="ShowHideCalendar(_HelperService.AppConfig.DatePickerTypes.hour)"
                      class="pd-x-0 dropdown-item cursor-pointer  {{_HelperService.CheckMode == 'dark' ? 'text-white' : 'text-dark' }} ">
                      <span class="text-primary">Choose any Date</span>
                    </a>
                    <div class="form-group">
                      <div [hidden]="hideDailyPicker" id="dailydate"></div>
                    </div>
                  </form>
                </div>
              </span></p>
            <!-- TODO Insert Actual Date Picker -->
          </div>

          <ul class="list-inline d-flex mg-t-20 mg-sm-t-10 mg-md-t-0 mg-b-0">
            <li class="list-inline-item d-flex align-items-center">
              <span class="d-block wd-15 ht-15 bg-primary rounded mg-r-5 "></span>
              <span class="tx-sans   tx-uppercase tx-medium tx-color-03 tx-13">
                {{_Daily.ActualStartDate | date :["dd LLL"]}}</span>
            </li>
            <li class="list-inline-item d-flex align-items-center mg-l-5">
              <span class="d-block wd-15 ht-15 bg-MasterCard rounded mg-r-5"></span>
              <span class="tx-sans  tx-13 tx-uppercase tx-medium tx-color-03">{{_Daily.CompareStartDate | date :["dd
                LLL"]}}</span>
            </li>

          </ul>
        </div><!-- card-header -->
        <div class="card-body pd-lg-25">
          <div class="row ">
            <div class="col-lg-7 col-xl-8 ht-100p" *ngIf="this.DailylineChartData[0].data.length != 0">
              <canvas *ngIf="showDailyChart" baseChart #DataPlot="base-chart" [datasets]="DailylineChartData"
                [labels]="DailylineChartLabels" [options]="_HelperService.ChartConfig.LineChart.Options"
                [colors]="DailylineChartColors" [plugins]="_HelperService.ChartConfig.LineChart.Options.plugins"
                [chartType]="_HelperService.ChartConfig.LineChart.Type">
              </canvas>
            </div>

            <div class="col-lg-7 col-xl-8 ht-100p" *ngIf="this.DailylineChartData[0].data.length == 0">
              <div style="height:200px" class="text-center m-auto  text-muted">
                <div>
                  <div>
                    <div
                      class="wd-140 wd-md-150 ht-140 ht-md-150 bd bd-2 bd-muted bg-transparent tx-muted tx-32 bd-gray-300 m-auto d-flex align-items-center justify-content-center rounded-circle">
                      <!-- <i class="fas fa-file tx-50"></i> -->
                      <img src="../../../../../assets/images/walk.svg" alt="">
                    </div>
                    <div class="pt-3">
                      <span class="text-dark tx-bold tx-14 "> No Transactions in this time frame.</span><br>
                      <span class="tx-muted  ">No transactions took place during the time frame you selected</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-lg-5 col-xl-4 ht-100p mg-t-30 mg-lg-t-0">
              <div class="row mg-b-10">

                <div class="col-sm-6 col-lg-12 ">
                  <div class="media">
                    <div
                      class="wd-40 wd-md-50 ht-40 ht-md-50 bg-transparent  bd bd-2 tx-primary mg-r-10 mg-md-r-10 d-flex align-items-center justify-content-center rounded">
                      <div class="text-center"> {{_Daily.ActualStartDate | date :["dd"]}} <div>
                          {{_Daily.ActualStartDate | date :["LLL"]}}</div>
                      </div>


                    </div>
                    <div class="media-body">
                      <h6
                        class="tx-sans tx-uppercase tx-10 tx-spacing-1 tx-color-03 tx-semibold tx-nowrap mg-b-5 mg-md-b-8">
                        Sale amount <span class="tx-dark  tx-uppercase"> ({{_Daily.ActualStartDate | date :["dd LLL"]}})
                        </span> </h6>
                      <h4 class="tx-20 tx-sm-18 tx-md-24 tx-normal tx-rubik mg-b-0"><span class="text-sm"
                          [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span>
                        {{_Daily.ActualSalesAmount | number: "1.2-2" ||"--"}}</h4>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6 col-lg-12 mg-t-65 mg-sm-t-30 mg-lg-t-65">
                  <div class="media">
                    <div
                      class="wd-40 wd-md-50 ht-40 ht-md-50 bg-transparent  bd bd-secondary bd-2 tx-MasterCard mg-r-10 mg-md-r-10 d-flex align-items-center justify-content-center rounded">
                      <div class="text-center"> {{_Daily.CompareStartDate | date :["dd"]}} <div>
                          {{_Daily.CompareStartDate | date :["LLL"]}}</div>
                      </div>

                    </div>
                    <div class="media-body">
                      <h6
                        class="tx-sans tx-uppercase tx-10 tx-spacing-1 tx-color-03 tx-semibold tx-nowrap mg-b-5 mg-md-b-8">
                        Sale amount <span class="tx-dark  tx-uppercase"> ({{_Daily.CompareStartDate | date :["dd
                          LLL"]}})
                        </span> </h6>
                      <h4 class="tx-20 tx-sm-18 tx-md-24 tx-normal tx-rubik mg-b-0"><span class="text-sm"
                          [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span>
                        {{_Daily.CompareSalesAmount | number: "1.2-2" ||"--"}}</h4>
                    </div>
                  </div>
                </div>

                <div class="col-sm-6 col-lg-12 mg-t-65 mg-sm-t-0 mg-lg-t-65">
                  <div class="media">
                    <div
                      class="wd-40 wd-md-50 ht-40 ht-md-50 {{(getAbsolute(_Daily.ActualSalesAmount  - _Daily.CompareSalesAmount)<0)?'bg-danger':'bg-success'}} tx-white mg-r-10 mg-md-r-10 d-flex align-items-center justify-content-center rounded">
                      {{computePerc(_Daily)}}
                    </div>
                    <div class="media-body">
                      <h6
                        class="tx-sans tx-uppercase tx-10 tx-spacing-1 tx-color-03 tx-semibold tx-nowrap mg-b-5 mg-md-b-8">
                        Total Difference <span *ngIf="computeFlag(_Daily)==-1"> <i
                            class="fas fa-arrow-circle-down tx-16 tx-danger mg-l-5"></i></span>

                        <span *ngIf="computeFlag(_Daily)==1"> <i
                            class="fas fa-arrow-circle-up tx-16 tx-success mg-l-5"></i></span>
                      </h6>
                      <h4 class="tx-20 tx-sm-18 tx-md-24 tx-normal tx-rubik mg-b-0"><span class="text-sm"
                          [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span>
                        {{getAbsolute(_Daily.ActualSalesAmount - _Daily.CompareSalesAmount) | number: "1.2-2" ||"--"}}
                      </h4>
                    </div>
                  </div>
                </div>

              </div><!-- row -->

            </div>
          </div>
        </div><!-- card-body -->
      </div><!-- card -->
    </div>


  </div>
  <div class="row row-xs mg-b-20">
    <div class="col-lg-12 col-xl-12 col-sm-12 col-md-12">
      <div class="card">
        <div class="card-header pd-t-20 d-sm-flex align-items-start justify-content-between">
          <div>
            <h6 class="mg-b-5 ">Weekly Sales Report</h6>
            <p class="tx-13 tx-color-03 mg-b-0"> <span class="tx-dark"> {{_Weekly.ActualStartDate | date :["dd LLL"]}} -
                {{_Weekly.ActualEndDate | date :["dd LLL"]}} </span> Compared to <span class="tx-12 text-primary  ">
                <a href="" class="tx-bold text-capitalize" id="WeekSalesTrend_dropdown" data-toggle="dropdown"
                  aria-haspopup="true" (click)="_HelperService.StopClickPropogation()"
                  aria-expanded="false">{{lastweektext}}
                  <i style="height:18px!important; width: 18px !important;" data-feather="chevron-down"></i>
                </a>
                <div class="dropdown-menu tx-13">
                  <form class="wd-250  pd-15">
                    <!-- <input type="text" class="form-control form-daterangepicker" name="dailydaterangeInput"
                      daterangepicker [options]="_HelperService.AppConfig.DatePickerOptions"
                      (selected)="WeelyDateChanged($event, _HelperService.AppConfig.ListToggleOption.Date)" /> -->
                    <a class="dropdown-item cursor-pointer  {{_HelperService.CheckMode == 'dark' ? 'text-white' : 'text-dark' }} "
                      (click)="CloseRowModal(1)">
                      <span class="pd-r-10 text-primary">Same week, Last Month</span>
                    </a>
                    <a (click)="ShowHideCalendar(_HelperService.AppConfig.DatePickerTypes.week)"
                      class="dropdown-item cursor-pointer  {{_HelperService.CheckMode == 'dark' ? 'text-white' : 'text-dark' }} ">
                      <span class="pd-r-10 text-primary"> Choose any Week</span>
                    </a>
                    <div class="form-group">
                      <div [hidden]="hideWeeklyPicker" id="weeklydate"></div>
                    </div>
                  </form>
                </div>
              </span></p>

          </div>

          <ul class="list-inline d-flex mg-t-20 mg-sm-t-10 mg-md-t-0 mg-b-0">
            <li class="list-inline-item d-flex align-items-center">
              <span class="d-block wd-15 ht-15 bg-primary rounded mg-r-5 "></span>
              <span class="tx-sans   tx-uppercase tx-medium tx-color-03 tx-13">{{_Weekly.ActualStartDate | date :["dd
                LLL"]}} - {{_Weekly.ActualEndDate | date :["dd LLL"]}} </span>
            </li>
            <li class="list-inline-item d-flex align-items-center mg-l-5">
              <span class="d-block wd-15 ht-15 bg-MasterCard rounded mg-r-5"></span>
              <span class="tx-sans  tx-13 tx-uppercase tx-medium tx-color-03">{{_Weekly.CompareStartDate | date :["dd
                LLL"]}}
                - {{_Weekly.CompareEndDate | date :["dd LLL"]}} </span>
            </li>

          </ul>
        </div><!-- card-header -->
        <div class="card-body pd-lg-25">
          <div class="row ">
            <div class="col-lg-7 col-xl-8 ht-100p" *ngIf="this.WeeklylineChartData[0].data.length != 0">
              <canvas *ngIf="showWeeklyChart" class="chart-six" baseChart #DataPlot="base-chart"
                [datasets]="WeeklylineChartData" [labels]="WeeklylineChartLabels"
                [options]="_HelperService.ChartConfig.LineChart.Options" [colors]="lineChartColors"
                [plugins]="_HelperService.ChartConfig.LineChart.Options.plugins"
                [chartType]="_HelperService.ChartConfig.LineChart.Type">
              </canvas>
            </div>
            <div class="col-lg-7 col-xl-8 ht-100p" *ngIf="this.WeeklylineChartData[0].data.length == 0">
              <div style="height:200px" class="text-center m-auto  text-muted">
                <div>
                  <div>
                    <div
                      class="wd-140 wd-md-150 ht-140 ht-md-150 bd bd-2 bd-muted bg-transparent tx-muted tx-32 bd-gray-300 m-auto d-flex align-items-center justify-content-center rounded-circle">
                      <!-- <i class="fas fa-file tx-50"></i> -->
                      <img src="../../../../../assets/images/walk.svg" alt="">
                    </div>
                    <div class="pt-3">
                      <span class="text-dark tx-bold tx-14 "> No Transactions in this time frame.</span><br>
                      <span class="tx-muted  ">No transactions took place during the time frame you selected</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-lg-5 col-xl-4 ht-100p mg-t-30 mg-lg-t-0">
              <div class="row mg-b-10">

                <div class="col-sm-6 col-lg-12">
                  <div class="media">
                    <div
                      class="wd-40 wd-md-50 ht-40 ht-md-50 bg-transparent  bd bd-2 tx-primary mg-r-10 mg-md-r-10 d-flex align-items-center justify-content-center rounded">
                      <div class="text-center"> {{_Weekly.ActualStartDate | date :["dd"]}} <div>
                          {{_Weekly.ActualStartDate | date :["LLL"]}}</div>
                      </div>

                    </div>
                    <div class="media-body">
                      <h6
                        class="tx-sans tx-uppercase tx-10 tx-spacing-1 tx-color-03 tx-semibold tx-nowrap mg-b-5 mg-md-b-8">
                        Sale amount <span class="tx-dark  tx-uppercase"> ({{_Weekly.ActualStartDate | date :["dd LLL"]}}
                          -
                          {{_Weekly.ActualEndDate | date :["dd LLL"]}} ) </span> </h6>
                      <h4 class="tx-20 tx-sm-18 tx-md-24 tx-normal tx-rubik mg-b-0"><span class="text-sm"
                          [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span>
                        {{_Weekly.ActualSalesAmount | number: "1.2-2" ||"--"}} </h4>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6 col-lg-12 mg-t-65 mg-sm-t-30 mg-lg-t-65">
                  <div class="media">
                    <div
                      class="wd-40 wd-md-50 ht-40 ht-md-50 bg-transparent  bd bd-secondary bd-2 tx-MasterCard mg-r-10 mg-md-r-10 d-flex align-items-center justify-content-center rounded">
                      <div class="text-center"> {{_Weekly.CompareStartDate | date :["dd"]}} <div>
                          {{_Weekly.CompareStartDate | date :["LLL"]}}</div>
                      </div>

                    </div>
                    <div class="media-body">
                      <h6
                        class="tx-sans tx-uppercase tx-10 tx-spacing-1 tx-color-03 tx-semibold tx-nowrap mg-b-5 mg-md-b-8">
                        Sale amount <span class="tx-dark tx-uppercase"> ({{_Weekly.CompareStartDate | date :["dd LLL"]}}
                          -
                          {{_Weekly.CompareEndDate | date :["dd LLL"]}}) </span> </h6>
                      <h4 class="tx-20 tx-sm-18 tx-md-24 tx-normal tx-rubik mg-b-0"><span class="text-sm"
                          [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span>
                        {{_Weekly.CompareSalesAmount | number: "1.2-2" ||"--"}} </h4>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6 col-lg-12  mg-t-65 mg-sm-t-0 mg-lg-t-65">
                  <div class="media">
                    <div
                      class="wd-40 wd-md-50 ht-40 ht-md-50 {{(getAbsolute(_Weekly.ActualSalesAmount  - _Weekly.CompareSalesAmount)<0)?'bg-danger':'bg-success'}} tx-white mg-r-10 mg-md-r-10 d-flex align-items-center justify-content-center rounded">
                      {{computePerc(_Weekly)}}
                    </div>
                    <div class="media-body">
                      <h6
                        class="tx-sans tx-uppercase tx-10 tx-spacing-1 tx-color-03 tx-semibold tx-nowrap mg-b-5 mg-md-b-8">
                        Total Difference
                        <span *ngIf="computeFlag(_Weekly)==-1"> <i
                            class="fas fa-arrow-circle-down tx-16 tx-danger mg-l-5"></i></span>

                        <span *ngIf="computeFlag(_Weekly)==1"> <i
                            class="fas fa-arrow-circle-up tx-16 tx-success mg-l-5"></i></span>
                      </h6>
                      <h4 class="tx-20 tx-sm-18 tx-md-24 tx-normal tx-rubik mg-b-0"><span class="text-sm"
                          [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span>
                        {{getAbsolute(_Weekly.ActualSalesAmount - _Weekly.CompareSalesAmount) | number: "1.2-2" ||"--"}}
                      </h4>
                    </div>
                  </div>
                </div>

              </div><!-- row -->

            </div>
          </div>
        </div><!-- card-body -->
      </div><!-- card -->
    </div>


  </div>
  <div class="row row-xs mg-b-20">
    <div class="col-lg-12 col-xl-12 col-sm-12 col-md-12">
      <div class="card">
        <div class="card-header pd-t-20 d-sm-flex align-items-start justify-content-between">
          <div>
            <h6 class="mg-b-5 ">Monthly Sales Report</h6>
            <p class="tx-13 tx-color-03 mg-b-0"> <span class="tx-dark"> {{_Monthly.ActualStartDate | date :["LLL
                yyyy"]}} </span> Compared to <span class="tx-12 text-primary">
                <a href="" class="tx-bold" id="MonthSalesTrend_dropdown" data-toggle="dropdown" aria-haspopup="true"
                  (click)="_HelperService.StopClickPropogation()" aria-expanded="false">
                  {{lastmonthtext}}
                  <i style="height:18px!important; width: 18px !important;" data-feather="chevron-down"></i>
                </a>
                <div class="dropdown-menu tx-13">
                  <form class="wd-250  pd-15">
                    <!-- <input type="text" class="form-control form-daterangepicker" name="dailydaterangeInput"
                      daterangepicker [options]="_HelperService.AppConfig.DatePickerOptions"
                      (selected)="MonthlyDateChanged($event, _HelperService.AppConfig.ListToggleOption.Date)" /> -->
                    <a class="dropdown-item cursor-pointer  {{_HelperService.CheckMode == 'dark' ? 'text-white' : 'text-dark' }} "
                      (click)="CloseRowModal(2)">
                      <span class="pd-r-10 text-primary">Same month, Last Year</span>
                    </a>
                    <a (click)="ShowHideCalendar(_HelperService.AppConfig.DatePickerTypes.month)"
                      class="dropdown-item cursor-pointer  {{_HelperService.CheckMode == 'dark' ? 'text-white' : 'text-dark' }} ">
                      <span class="pd-r-10 text-primary">Choose any Month</span>
                    </a>
                    <div class="form-group">
                      <div [hidden]="hideMonthlyPicker" id="monthlydate"></div>
                    </div>
                  </form>
                </div>
              </span></p>
          </div>

          <ul class="list-inline d-flex mg-t-20 mg-sm-t-10 mg-md-t-0 mg-b-0">
            <li class="list-inline-item d-flex align-items-center">
              <span class="d-block wd-15 ht-15 bg-primary rounded mg-r-5 "></span>
              <span class="tx-sans   tx-uppercase tx-medium tx-color-03 tx-13">{{_Monthly.ActualStartDate | date :["LLL
                yyyy"]}}
              </span>
            </li>
            <li class="list-inline-item d-flex align-items-center mg-l-5">
              <span class="d-block wd-15 ht-15 bg-MasterCard rounded mg-r-5"></span>
              <span class="tx-sans  tx-13 tx-uppercase tx-medium tx-color-03">{{_Monthly.CompareStartDate | date :["LLL
                yyyy"]}}
              </span>
            </li>

          </ul>
        </div><!-- card-header -->
        <div class="card-body pd-lg-25">
          <div class="row ">
            <div class="col-lg-7 col-xl-8 ht-100p" *ngIf="this.MonthlylineChartData[0].data.length != 0">
              <canvas *ngIf="showMonthlyChart" class="chart-six" baseChart #DataPlot="base-chart"
                [datasets]="MonthlylineChartData" [labels]="MonthlybarChartLabels"
                [options]="_HelperService.ChartConfig.LineChart.Options" [colors]="lineChartColors"
                [plugins]="_HelperService.ChartConfig.LineChart.Options.plugins"
                [chartType]="_HelperService.ChartConfig.LineChart.Type">
              </canvas>
            </div>

            <div class="col-lg-7 col-xl-8 ht-100p" *ngIf="this.MonthlylineChartData[0].data.length == 0">
              <div style="height:200px" class="text-center m-auto  text-muted">
                <div>
                  <div>
                    <div
                      class="wd-140 wd-md-150 ht-140 ht-md-150 bd bd-2 bd-muted bg-transparent tx-muted tx-32 bd-gray-300 m-auto d-flex align-items-center justify-content-center rounded-circle">
                      <!-- <i class="fas fa-file tx-50"></i> -->
                      <img src="../../../../../assets/images/walk.svg" alt="">
                    </div>
                    <div class="pt-3">
                      <span class="text-dark tx-bold tx-14 "> No Transactions in this time frame.</span><br>
                      <span class="tx-muted  ">No transactions took place during the time frame you selected</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-lg-5 col-xl-4 ht-100p mg-t-30 mg-lg-t-0">
              <div class="row mg-b-10">

                <div class="col-sm-6 col-lg-12 ">
                  <div class="media">
                    <div
                      class="wd-40 wd-md-50 ht-40 ht-md-50 bg-transparent  bd bd-2 tx-primary mg-r-10 mg-md-r-10 d-flex align-items-center justify-content-center rounded">
                      <div class="text-center"> {{_Monthly.ActualStartDate | date :["MMM"]}} </div>

                    </div>
                    <div class="media-body">
                      <h6
                        class="tx-sans tx-uppercase tx-10 tx-spacing-1 tx-color-03 tx-semibold tx-nowrap mg-b-5 mg-md-b-8">
                        Sale amount <span class="tx-dark  tx-uppercase">
                          ({{_Monthly.ActualStartDate | date :["LLL yyyy"]}}) </span></h6>
                      <h4 class="tx-20 tx-sm-18 tx-md-24 tx-normal tx-rubik mg-b-0"><span class="text-sm"
                          [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span>
                        {{_Monthly.ActualSalesAmount | number: "1.2-2" ||"--"}}</h4>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6 col-lg-12 mg-t-65 mg-sm-t-30 mg-lg-t-65">
                  <div class="media">
                    <div
                      class="wd-40 wd-md-50 ht-40 ht-md-50 bg-transparent  bd bd-secondary bd-2 tx-MasterCard mg-r-10 mg-md-r-10 d-flex align-items-center justify-content-center rounded">
                      <div class="text-center"> {{_Monthly.CompareStartDate | date :["MMM"]}} </div>

                    </div>
                    <div class="media-body">
                      <h6
                        class="tx-sans tx-uppercase tx-10 tx-spacing-1 tx-color-03 tx-semibold tx-nowrap mg-b-5 mg-md-b-8">
                        Sale amount <span class="tx-dark  tx-uppercase">
                          ({{_Monthly.CompareStartDate | date :["LLL yyyy"]}}) </span></h6>
                      <h4 class="tx-20 tx-sm-18 tx-md-24 tx-normal tx-rubik mg-b-0"><span class="text-sm"
                          [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span>
                        {{_Monthly.CompareSalesAmount | number: "1.2-2" ||"--"}}</h4>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6 col-lg-12 mg-t-65 mg-sm-t-0 mg-lg-t-65">
                  <div class="media">
                    <div
                      class="wd-40 wd-md-50 ht-40 ht-md-50 {{(getAbsolute(_Monthly.ActualSalesAmount  - _Monthly.CompareSalesAmount)<0)?'bg-danger':'bg-success'}} tx-white mg-r-10 mg-md-r-10 d-flex align-items-center justify-content-center rounded">
                      {{computePerc(_Monthly)}}
                    </div>
                    <div class="media-body">
                      <h6
                        class="tx-sans tx-uppercase tx-10 tx-spacing-1 tx-color-03 tx-semibold tx-nowrap mg-b-5 mg-md-b-8">
                        Total Difference
                        <span *ngIf="computeFlag(_Monthly)==-1"> <i
                            class="fas fa-arrow-circle-down tx-16 tx-danger mg-l-5"></i></span>

                        <span *ngIf="computeFlag(_Monthly)==1"> <i
                            class="fas fa-arrow-circle-up tx-16 tx-success mg-l-5"></i></span>

                      </h6>
                      <h4 class="tx-20 tx-sm-18 tx-md-24 tx-normal tx-rubik mg-b-0"><span class="text-sm"
                          [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span>
                        {{getAbsolute(_Monthly.ActualSalesAmount - _Monthly.CompareSalesAmount) | number: "1.2-2"
                        ||"--"}}
                      </h4>
                    </div>
                  </div>
                </div>

              </div><!-- row -->

            </div>
          </div>
        </div><!-- card-body -->
      </div><!-- card -->
    </div>
  </div>
  <div class="row row-xs">
    <div class="col-lg-12 col-xl-12 col-sm-12 col-md-12">
      <div class="card">
        <div class="card-header pd-t-20 d-sm-flex align-items-start justify-content-between">
          <div>
            <h6 class="mg-b-5 ">Yearly Sales Report</h6>
            <p class="tx-13 tx-color-03 mg-b-0"> <span class="tx-dark"> {{_Yearly.ActualStartDate | date :["yyyy"]}}
              </span> Compared to <span class="tx-12 text-primary">
                <a href="" class="tx-bold" id="YearSalesTrend_dropdown" data-toggle="dropdown" aria-haspopup="true"
                  (click)="_HelperService.StopClickPropogation()" aria-expanded="false">{{lastyeartext}}
                  <i style="height:18px!important; width: 18px !important;" data-feather="chevron-down"></i>
                </a>
                <div class="dropdown-menu tx-13">
                  <form class="wd-250  pd-15">
                    <!-- <input type="text" class="form-control form-daterangepicker" name="dailydaterangeInput"
                      daterangepicker [options]="_HelperService.AppConfig.DatePickerOptions"
                      (selected)="YearlyDateChanged($event, _HelperService.AppConfig.ListToggleOption.Date)" /> -->
                    <a class="pd-x-0 dropdown-item cursor-pointer  {{_HelperService.CheckMode == 'dark' ? 'text-white' : 'text-dark' }} "
                      (click)="CloseRowModal(3)">
                      <span class="text-primary">Last Year</span>
                    </a>
                    <a (click)="ShowHideCalendar(_HelperService.AppConfig.DatePickerTypes.year)"
                      class="pd-x-0 dropdown-item cursor-pointer  {{_HelperService.CheckMode == 'dark' ? 'text-white' : 'text-dark' }} ">
                      <span class="text-primary">Choose any Year</span>
                    </a>
                    <div class="form-group">
                      <div [hidden]="hideYearlyPicker" id="yearlydate"></div>
                    </div>
                  </form>
                </div>
              </span></p>
          </div>

          <ul class="list-inline d-flex mg-t-20 mg-sm-t-10 mg-md-t-0 mg-b-0">
            <li class="list-inline-item d-flex align-items-center">
              <span class="d-block wd-15 ht-15 bg-primary rounded mg-r-5 "></span>
              <span class="tx-sans  tx-uppercase tx-medium tx-color-03 tx-13">{{_Yearly.ActualStartDate | date
                :["yyyy"]}}
              </span>
            </li>
            <li class="list-inline-item d-flex align-items-center mg-l-5">
              <span class="d-block wd-15 ht-15 bg-MasterCard rounded mg-r-5"></span>
              <span class="tx-sans  tx-13 tx-uppercase tx-medium tx-color-03">{{_Yearly.CompareStartDate | date
                :["yyyy"]}}
              </span>
            </li>

          </ul>
        </div><!-- card-header -->
        <div class="card-body pd-lg-25">
          <div class="row ">
            <div class="col-lg-7 col-xl-8 ht-100p" *ngIf="this.YearlylineChartData[0].data.length != 0">
              <canvas *ngIf="showYearlyChart" class="chart-six" baseChart #DataPlot="base-chart"
                [datasets]="YearlylineChartData" [labels]="YearlylineChartLabels"
                [options]="_HelperService.ChartConfig.LineChart.Options" [colors]="lineChartColors"
                [plugins]="_HelperService.ChartConfig.LineChart.Options.plugins"
                [chartType]="_HelperService.ChartConfig.LineChart.Type">
              </canvas>
            </div>

            <div class="col-lg-7 col-xl-8 ht-100p" *ngIf="this.YearlylineChartData[0].data.length == 0">
              <div style="height:200px" class="text-center m-auto  text-muted">
                <div>
                  <div>
                    <div
                      class="wd-140 wd-md-150 ht-140 ht-md-150 bd bd-2 bd-muted bg-transparent tx-muted tx-32 bd-gray-300 m-auto d-flex align-items-center justify-content-center rounded-circle">
                      <!-- <i class="fas fa-file tx-50"></i> -->
                      <img src="../../../../../assets/images/walk.svg" alt="">
                    </div>
                    <div class="pt-3">
                      <span class="text-dark tx-bold tx-14 "> No Transactions in this time frame.</span><br>
                      <span class="tx-muted  ">No transactions took place during the time frame you selected</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-lg-5 col-xl-4 ht-100p mg-t-30 mg-lg-t-0">
              <div class="row mg-b-10">

                <div class="col-sm-6 col-lg-12">
                  <div class="media">
                    <div
                      class="wd-40 wd-md-50 ht-40 ht-md-50 bg-transparent  bd bd-2 tx-primary mg-r-10 mg-md-r-10 d-flex align-items-center justify-content-center rounded">
                      <div class="text-center"> {{_Yearly.ActualStartDate | date :["yy"]}}</div>

                    </div>
                    <div class="media-body">
                      <h6
                        class="tx-sans tx-uppercase tx-10 tx-spacing-1 tx-color-03 tx-semibold tx-nowrap mg-b-5 mg-md-b-8">
                        Sale amount<span class="tx-dark  tx-uppercase"> ({{_Yearly.ActualStartDate | date :["yyyy"]}} )
                        </span></h6>
                      <h4 class="tx-20 tx-sm-18 tx-md-24 tx-normal tx-rubik mg-b-0 Word-break"><span class="text-sm"
                          [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span>
                        {{_Yearly.ActualSalesAmount | number: "1.2-2" ||"--"}}</h4>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6 col-lg-12 mg-t-65 mg-sm-t-30 mg-lg-t-65">
                  <div class="media">
                    <div
                      class="wd-40 wd-md-50 ht-40 ht-md-50 bg-transparent  bd bd-secondary bd-2 tx-MasterCard mg-r-10 mg-md-r-10 d-flex align-items-center justify-content-center rounded">
                      <div class="text-center"> {{_Yearly.CompareStartDate | date :["yy"]}}</div>

                    </div>
                    <div class="media-body">
                      <h6
                        class="tx-sans tx-uppercase tx-10 tx-spacing-1 tx-color-03 tx-semibold tx-nowrap mg-b-5 mg-md-b-8">
                        Sale amount <span class="tx-dark  tx-uppercase"> ({{_Yearly.CompareStartDate | date :["yyyy"]}})
                        </span></h6>
                      <h4 class="tx-20 tx-sm-18 tx-md-24 tx-normal tx-rubik mg-b-0 Word-break"><span class="text-sm"
                          [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span>
                        {{_Yearly.CompareSalesAmount| number: "1.2-2" ||"--" }}</h4>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6 col-lg-12  mg-t-65 mg-sm-t-0 mg-lg-t-65">
                  <div class="media">
                    <div
                      class="wd-40 wd-md-50 ht-40 ht-md-50 {{(getAbsolute(_Yearly.ActualSalesAmount  - _Yearly.CompareSalesAmount)<0)?'bg-danger':'bg-success'}} tx-white mg-r-10 mg-md-r-10 d-flex align-items-center justify-content-center rounded">
                      {{computePerc(_Yearly)}}
                    </div>
                    <div class="media-body">
                      <h6
                        class="tx-sans tx-uppercase tx-10 tx-spacing-1 tx-color-03 tx-semibold tx-nowrap mg-b-5 mg-md-b-8">
                        Total Difference
                        <span *ngIf="computeFlag(_Yearly)==-1"> <i
                            class="fas fa-arrow-circle-down tx-16 tx-danger mg-l-5"></i></span>

                        <span *ngIf="computeFlag(_Yearly)==1"> <i
                            class="fas fa-arrow-circle-up tx-16 tx-success mg-l-5"></i></span>
                      </h6>
                      <h4 class="tx-20 tx-sm-18 tx-md-24 tx-normal tx-rubik mg-b-0 Word-break"><span class="text-sm"
                          [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span>
                        {{getAbsolute(_Yearly.ActualSalesAmount - _Yearly.CompareSalesAmount) | number: "1.2-2" ||"--"}}
                      </h4>
                    </div>
                  </div>
                </div>

              </div><!-- row -->

            </div>
          </div>
        </div><!-- card-body -->
      </div><!-- card -->
    </div>


  </div>
</div>


<!-- </div> -->