<!-- Customer--Deal--details -->
<ol class="breadcrumb df-breadcrumbs mg-b-10">
  <li class="breadcrumb-item" [routerLinkActive]="['active']"><a
      routerLink="{{ _HelperService.AppConfig.Pages.ThankUCash.Dashboard.Merchant}}" [routerLinkActive]="['active']">
      Dashboard</a></li>

  <li class="breadcrumb-item" [routerLinkActive]="['active']"><a class="text-primary"
      [routerLinkActive]="['active']">Wallet
    </a></li>
</ol>
<div class="card bd-b-0 pd-20 mt-3">
  <ul class="nav nav-line" id="myTab5" role="tablist">
      <li class="nav-item cursor-pointer" [routerLinkActive]="['active']">
          <a class="nav-link" id="Stores-tab5" data-toggle="tab" role="tab"  [routerLinkActive]="['active']" routerLink="{{_HelperService.AppConfig.Pages.ThankUCash.PanelMerchant.RedeemWallet}}"
              aria-controls="Stores" aria-selected="false">Redeem Wallet</a>
      </li>
  </ul>
</div>
<router-outlet></router-outlet>