<div class="card row" style="background-color: #F5F5FA !important;;">
    <div class="card-header col-lg-12 col-sm-12 col-md-12 col-xs-12 bg-white pd-y-25">
        <div class="pd-l-80" *ngIf="_HelperService.AppConfig.Host == 'merchantrewards.interswitch.com'  ||  _HelperService.AppConfig.Host == 'interswitch.thankucash.com'"><img
                src="../../../assets/img/interswitch.png" class="w-xmd">
        </div>
        <div class="pd-l-80" *ngIf="_HelperService.AppConfig.Host != 'merchantrewards.interswitch.com'  &&  _HelperService.AppConfig.Host != 'interswitch.thankucash.com'  &&  _HelperService.AppConfig.Host != 'wemarewards.thankucash.com'  &&  _HelperService.AppConfig.Host != 'localhost:4200'"><img
                src="../../../assets/img/logoinverse.png" class="w-xmd">
        </div>
        <div class="pd-l-80" *ngIf="_HelperService.AppConfig.Host == 'localhost:4200' ||  _HelperService.AppConfig.Host == 'wemarewards.thankucash.com'"><img
            src="../../../assets/img/wemalogo.png" class="w-xmd">
    </div>
    </div>
    <div class="col-lg-12">
        <ul class="nav nav-tabs process-model more-icon-preocess" role="tablist">
            <li role="presentation" class="active Custom"><a aria-controls="discover" role="tab" data-toggle="tab"><i
                        class="fa fa-check" aria-hidden="true"></i>
                    <p>About Business</p>
                </a></li>
            <li role="presentation" class="active Custom"><a aria-controls="strategy" role="tab" data-toggle="tab"><i
                        class="fa fa-check" aria-hidden="true"></i>
                    <p>Add your merchants's details</p>
                </a></li>


            <li role="presentation" class="active Custom"><a aria-controls="reporting" role="tab" data-toggle="tab"><i
                        class="fa fa-check" aria-hidden="true"></i>
                    <div>All Set
                        <div> Your Account is ready</div>
                    </div>
                </a></li>
        </ul>
    </div>
    <div class="">
        <!-- <div class="auroral-agrabah"></div>
    <div class="auroral-stars"></div> -->
        <div class="mx-auto w-xl w-auto-xs animate fadeIn " style="width: 70%;">
            <div class="card row bg-white" style="border-radius: 4px !important;">

                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 b-a r-2x pb-3">
                    <div class="row">
                        <!-- <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12  text-center mt-4 ">
                       
                    </div> -->
                        <div class="col-12">
                            <div class="m-4">
                                <div class="row">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
                                        <h4 class="_400 text-center">Please Verify Your Mobile Number</h4>
                                        <div class="text-muted text-center">
                                            OTP has been sent on your 1234567890 this mobile number.
                                        </div>

                                        <div class="form-group mx-auto w-50  text-left mg-t-50">
                                            <!-- <label class="block w-50">OTP has Been Sent On</label>

                                            <input type="text" name="MobileNumber" minlength="10" maxlength="14"
                                                class="form-control" (keypress)="_HelperService.PreventText($event)"
                                                [(ngModel)]="_HelperService.OnBoardMerchantStoreMobileNumber">
                                        </div> -->

                                            <div class="form-group mx-auto  w-50 ">


                                                <label for=""> Enter OTP number </label>
                                                <ng-otp-input (onInputChange)="onOtpChange($event)"
                                                    [config]="{length:4}">
                                                </ng-otp-input>
                                                <!-- <input type="text" value="" class="form-control " name="Otp"
                                                [(ngModel)]="Otp"> -->
                                                <div class="mg-y-20">
                                                    didn't receive OTP? <span class="tx-semibold tx-14 text-primary"> <a
                                                            type="button" class="cursor-pointer" (click)=ResendCode()>
                                                            RESEND
                                                            NOW </a></span>
                                                </div>
    
                                            </div>
                                         

                                            <div class="mb-3  w-50 mx-auto">
                                                <button type="button" (click)="VerifyCode()"
                                                    class="btn btn-primary full-width mb-3">
                                                    <span *ngIf="!Form_AddUser_Processing">
                                                        Verify Number
                                                    </span>
                                                    <span *ngIf="Form_AddUser_Processing">
                                                        <i class="{{ 'Common.SpinnerIcon' | translate }}"></i>
                                                        Verifing Number
                                                    </span>
                                                </button>

                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>