<div class="card">

  <div class="card-body">

    <div class="tx-16 mg-b-15"> Username and Password </div>
    <div class="tx-16 tx-medium"> {{_CashierDetails.UserName || "--"}} </div>
    <div class="tx-16 tx-medium" *ngIf="!ShowPasswordDiv"> ********* </div>
    <div class="tx-16 tx-medium" *ngIf="ShowPasswordDiv"> {{_CashierDetails.Password || "--"}} </div>

    <!-- <div class="controls">
        <input type="text"  name="UserName" minlength="1" maxlength="100"
          class="form-control" [(ngModel)]="_CashierDetails.UserName">
      </div> -->
    <div class="d-flex mg-t-15">
      <button type="button" class="btn btn-outline-primary  mg-r-10" (click)="ShowPassword()" *ngIf="!ShowPasswordDiv">
        Show Password </button>
      <button type="button" class="btn btn-outline-primary  mg-r-10" (click)="ShowPassword()" *ngIf="ShowPasswordDiv">
        Hide Password </button>
      <button type="button" class="btn btn-outline-primary " (click)="ResetPassword()"> Reset Password </button>

    </div>
    <!-- <div *ngIf="ShowPasswordDiv" class="tx-18  tx-normal mg-t-5 tx-bold"> {{_CashierDetails.Password || "--"}} </div> -->



  </div>




</div>