<!-- acquirer--merchant--sales -->
<div class="card" [hidden]="displayDetails">
  <div class="card-header">
    <div class="d-flex justify-content-between">
      <div class=" d-sm-flex">
        <div class=" media">
          <div
            class="wd-40 wd-md-50 ht-40 ht-md-50 bg-success tx-white mg-r-10 mg-md-r-10 d-flex align-items-center justify-content-center rounded">
            <img src = "assets/images/wallet.png" height="20" width="20">
          </div>
          <div class="media-body bd-pink">
            <h6 class="tx-sans tx-uppercase tx-10 tx-spacing-1 tx-color-03 tx-semibold tx-nowrap mg-b-5 mg-md-b-8">
              Reward Wallet</h6>
            <h4 class="tx-20 tx-sm-18 tx-md-20 tx-normal tx-rubik mg-b-0">
              <span class=" text-sm mg-r-2" [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span>{{_rewardWalletOverview.balance | number: "1.2-2" || "-"}}
            </h4>
          </div>
        </div>
        <div class="media mg-t-20 mg-sm-t-0 mg-sm-l-15 mg-md-l-40">
          <div
            class="wd-40 wd-md-50 ht-40 ht-md-50 bg-primary tx-white mg-r-10 mg-md-r-10 d-flex align-items-center justify-content-center rounded ">
            <img src = "assets/images/reward.png" height="25" width="20">
          </div>
          <div class="media-body">
            <h6 class="tx-sans tx-uppercase tx-10 tx-spacing-1 tx-color-03 tx-semibold mg-b-5 mg-md-b-8">User Rewards
            </h6>
            <h4 class="tx-20 tx-sm-18 tx-md-20 tx-normal tx-rubik mg-b-0">
              {{_rewardWalletOverview.userRewards | number: "1.2-2" || "0.00"}}%
            </h4>
          </div>
        </div>
      </div>
      <div>
        <div class="btn btn-primary btn-sm cursor-pointer" (click)="Form_TopUp_Show()">Top-Up Wallet</div>
      </div>
    </div>
  </div>

  <div class="box-header px-3 pd-t-15 pd-b-0  d-flex align-items-center justify-content-between">
    <div class="form-inline ">
      <div class="input-group input-group-sm mr-3">
        <input type="text" class="form-control" [value]="CashoutList_Config.SearchParameter" maxlength="100"
          class="form-control" placeholder="{{ 'Common.Search' | translate }}"
          (keyup)="CashoutList_ToggleOptionSearch( $event, _HelperService.AppConfig.ListToggleOption.Search)">
        <div class="input-group-append">
          <button class="btn btn-outline-light" type="button"
            (click)="CashoutList_ToggleOption( null, _HelperService.AppConfig.ListToggleOption.Search)"><i
              data-feather="search"></i> </button>
        </div>
      </div>


    </div>
    <div class="d-flex ml-auto">
      <button type="button" class="btn  tx-12 rounded-0 bd-gray-200 bd-r-0  btn-outline-danger btn-icon"
        [disabled]='(_HelperService.FilterSnap.id == -1)' (click)="Delete_Filter()">
        <i data-feather="minus-circle"></i> </button>

      <div class="form-group my-auto shadow-none ml-auto " *ngIf="_HelperService._RefreshUI">
        <select2 name="itemId0" [options]="_DataHelperService.S2_NewSavedFilters_Option" class="wd-30 select2"
          [data]="_HelperService.Active_FilterOptions" [value]="_HelperService.Active_FilterOptions[0]"
          (valueChanged)="Active_FilterValueChanged( $event )">
        </select2>
      </div>
      <button type="button" class=" btn btn-outline-success tx-12 bd-l-0 mr-3 rounded-0 bd-gray-200 btn-icon"
        [disabled]='_HelperService.FilterState == this._HelperService.AppConfig.FilterStates.Default || 
      _HelperService.FilterState == this._HelperService.AppConfig.FilterStates.NoChange' (click)="Save_NewFilter()"> <i
          data-feather="plus-circle"></i> </button>

    </div>

    <nav class="nav nav-with-icon tx-20">
      <div class="dropdown dropleft">
        <a href="" class="nav-link mr-2" id="CashoutList_sdropdown" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false"> <i data-feather="align-left" class="tx-20"></i> </a>
        <div class="dropdown-menu tx-13">
          <form class="wd-250 pd-15">


            <h6 class="dropdown-header tx-uppercase tx-12 tx-bold tx-inverse pd-b-20 pd-l-0 pd-t-0">Sort
              <div class="float-right tx-20" *ngIf="CashoutList_Config.Sort.SortOrder == 'desc'"
                (click)="CashoutList_ToggleOption( null, _HelperService.AppConfig.ListToggleOption.SortOrder)">
                <i class="fas fa-sort-alpha-down-alt"></i>
              </div>
              <div class="float-right tx-20" *ngIf="CashoutList_Config.Sort.SortOrder == 'asc'"
                (click)="CashoutList_ToggleOption( null, _HelperService.AppConfig.ListToggleOption.SortOrder)">
                <i class="fas fa-sort-alpha-up-alt"></i>
              </div>
            </h6>

            <a class="dropdown-item cursor-pointer {{TItem.SystemActive?  'SystemActive' :'' }} {{_HelperService.CheckMode == 'dark' ? 'text-white' : 'text-dark' }} "
              *ngFor="let TItem of CashoutList_Config.Sort.SortOptions"
              (click)="CashoutList_ToggleOption( TItem, _HelperService.AppConfig.ListToggleOption.Sort)">
              {{TItem.Name}}
            </a>

            <button type="button" class="btn btn-light btn-sm mr-2 mg-t-20"
              (click)="ResetFilters( null, _HelperService.AppConfig.ListToggleOption.ResetOffset)">
              Reset</button>
            <button type="button" class="btn btn-primary btn-sm  mg-t-20"
              (click)="ApplyFilters( null, _HelperService.AppConfig.ListToggleOption.ApplyFilter,'Sort')">Apply</button>
          </form>
        </div>
      </div>
      <div class="dropdown dropleft">
        <a href="" class="nav-link" id="CashoutList_fdropdown" data-toggle="dropdown" aria-haspopup="true"
          (click)="_HelperService.StopClickPropogation()" aria-expanded="false"> <i data-feather="filter"></i> </a>
        <div class="dropdown-menu tx-13">
          <form class="wd-250  pd-15" *ngIf="ResetFilterControls">
            <h6 class="dropdown-header tx-uppercase tx-12 tx-bold tx-inverse pd-b-20 pd-l-0 pd-t-0">Filters
            </h6>
            <div>
              <div class="form-group">
                <label>Date</label>
                <input type="text" class="form-control  form-daterangepicker" name="daterangeInput" daterangepicker
                  [options]="_HelperService.AppConfig.DateRangeOptions"
                  (selected)="CashoutList_ToggleOption($event, _HelperService.AppConfig.ListToggleOption.Date)" />
              </div>
            </div>

            <div>
            </div>
            <button type="button" class="btn btn-light btn-sm mr-2"
              (click)="ResetFilters( null, _HelperService.AppConfig.ListToggleOption.ResetOffset)">
              Reset</button>
            <button type="button" class="btn btn-primary btn-sm "
              (click)="ApplyFilters( null, _HelperService.AppConfig.ListToggleOption.ApplyFilter,'Other')">Apply</button>
          </form>
        </div>
      </div>
      <a class="nav-link ml-2 RefreshColor RefreshColorOne"
        (click)="CashoutList_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.Refresh)"> <i
          data-feather="refresh-cw"></i> </a>
      <a class="nav-link ml-2 RefreshColor RefreshColorOne"
        (click)="CashoutList_ToggleOption( $event,_HelperService.AppConfig.ListToggleOption.Csv)"> <i
          data-feather="download"></i> </a>
    </nav>
  </div>
  <div class="pt-0 pd-l-15 pd-b-8">
    <div class="badge badge-transparent pd-y-10 pd-l-15 mx-1 bd bd-1 bd-gray-500 rounded-50 tx-color-03"
      [hidden]="(!_HelperService.FilterSnap.Status) || (_HelperService.FilterSnap.Status==0)">
      {{_HelperService.FilterSnap.StatusName}}
      <span (click)="RemoveFilterComponent('Status')"
        class="bd bd-1  mg-l-5 pd-x-5 pd-y-3 rounded-circle bg-primary text-white cursor-pointer"><i
          class="fas fa-times"></i> </span>
    </div>
    <div class="badge badge-transparent pd-y-10 pd-l-15 mx-1 bd bd-1 bd-gray-500 rounded-50 tx-color-03"
      [hidden]="!_HelperService.FilterSnap.Sort.SortColumn || (_HelperService.FilterSnap.Sort.SortColumn=='StartDate' && _HelperService.FilterSnap.Sort.SortOrder=='')">
      <span> {{_HelperService.FilterSnap.Sort.SortColumn + "--" + _HelperService.FilterSnap.Sort.SortOrder}}</span>
      <span (click)="RemoveFilterComponent('Sort')"
        class="bd bd-1  mg-l-5 pd-x-5 pd-y-3 rounded-circle bg-primary text-white cursor-pointer"><i
          class="fas fa-times"></i> </span>
    </div>
    <div class="badge badge-transparent pd-y-10 pd-l-15 mx-1 bd bd-1 bd-gray-500 rounded-50 tx-color-03"
      [hidden]="!_HelperService.FilterSnap.StartTime">
      {{_HelperService.GetFilterDate(_HelperService.FilterSnap.StartTime) + "--" +
      _HelperService.GetFilterDate(_HelperService.FilterSnap.EndTime)}}
      <span (click)="RemoveFilterComponent('Time')"
        class="bd bd-1  mg-l-5 pd-x-5 pd-y-3 rounded-circle bg-primary text-white cursor-pointer"><i
          class="fas fa-times"></i> </span>
    </div>
    <div class="badge badge-transparent pd-y-10 pd-l-15 mx-1 bd bd-1 bd-gray-500 rounded-50 tx-color-03"
      *ngFor="let TItem of _HelperService.FilterSnap.OtherFilters; let i = index">
      {{TItem.data[0].DisplayName}}
      <span (click)="RemoveFilterComponent('Other',i)"
        class="bd bd-1  mg-l-5 pd-x-5 pd-y-3 rounded-circle bg-primary text-white cursor-pointer"><i
          class="fas fa-times"></i> </span>
    </div>

    <span class="badge badge-pill badge-primary" *ngFor="let TItem of CashoutList_Config.Filters">{{TItem.Title}}</span>

  </div>

  <div class="card-body p-0">
    <table class="{{_HelperService.AppConfig.TablesConfig.DefaultClass}}">
      <thead>
        <tr>
          <th>
            Date
          </th>
          <th class="" *ngIf="ColumnConfig[1].Value">
            Time
          </th>
          <th class="" *ngIf="ColumnConfig[2].Value">
            Store Name
          </th>

          <th class="" *ngIf="ColumnConfig[4].Value">
            Amount
          </th>
          <th class="" *ngIf="ColumnConfig[5].Value">
            Transaction Type
          </th>
          <th class="" *ngIf="ColumnConfig[5].Value">
            Transaction ID
          </th>
        </tr>
      </thead>
      <tbody>
        <tr class="cursor-pointer" (click)="CashoutList_RowSelected(TItem)"
          *ngFor="let TItem of CashoutList_Config.Data  | paginate: { id: 'CashoutList_Paginator',itemsPerPage: CashoutList_Config.PageRecordLimit, currentPage: CashoutList_Config.ActivePage,  totalItems: CashoutList_Config.TotalRecords }">
          <td>
            <div class="tx-14">{{TItem.TransactionDateD || "--/--/----"}}</div>
          </td>
          <td>
            <div class="tx-14">{{TItem.TransactionDateT || "--:--"}}</div>
          </td>
          <td class="">
            {{TItem.StoreName || "--"}}
          </td>
          <td class="">
            <span class=" text-sm mg-r-2" [innerHtml]="_HelperService.AppConfig.CurrencySymbol"></span>{{TItem.Amount | number: "1.2-2"  || 
            "--"}}

          </td>

          <td class="">
            <span class=" text-sm mg-r-2"
              [innerHtml]="_HelperService.AppConfig.CurrencySymbol"></span>{{TItem.TransactionType ||
            "--"}}

          </td>
          <td class="">
            <div class="text-sm mg-r-2"> {{TItem.PaymentReference || "--"}} </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="card-footer pd-20">
    <span class="mr-3">
      {{ 'Common.Showing' | translate }}
      <span class="bold">{{CashoutList_Config.ShowingStart}} {{ 'Common.To' | translate }}
        {{CashoutList_Config.ShowingEnd}}
      </span> {{ 'Common.Of' | translate }} {{CashoutList_Config.TotalRecords}}
    </span>
    <span>
      {{ 'Common.Show' | translate }}
      <select class="wd-50 " [(ngModel)]="CashoutList_Config.PageRecordLimit"
        (ngModelChange)="CashoutList_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.Limit)">
        <option [ngValue]="TItem" *ngFor="let TItem of _HelperService.AppConfig.ListRecordLimit">
          {{TItem}}
        </option>
      </select>
    </span>
    <span class="float-right">
      <pagination-controls id="CashoutList_Paginator" class="pagination pagination-space"
        (pageChange)="CashoutList_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.Page)"
        nextLabel="{{ 'Common.Next' | translate }}" previousLabel="{{ 'Common.Previous' | translate }}">
      </pagination-controls>
    </span>
  </div>
</div>

<!-- <div class="card" [hidden]="!displayDetails">
  <div class="card-header">
    <div class="d-flex justify-content-between">
      <div class=" d-sm-flex">
        <div class=" media">
          <div
            class="wd-40 wd-md-50 ht-40 ht-md-50 bg-success tx-white mg-r-10 mg-md-r-10 d-flex align-items-center justify-content-center rounded">
            <img src = "assets/images/wallet.png" height="20" width="20">
          </div>
          <div class="media-body bd-pink">
            <h6 class="tx-sans tx-uppercase tx-10 tx-spacing-1 tx-color-03 tx-semibold tx-nowrap mg-b-5 mg-md-b-8">
              Reward Wallet</h6>
            <h4 class="tx-20 tx-sm-18 tx-md-20 tx-normal tx-rubik mg-b-0">
              <span class=" text-sm mg-r-2" [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span>{{_rewardWalletOverview.balance | number: "1.2-2"  || "-"}}
            </h4>
          </div>
        </div>
        <div class="media mg-t-20 mg-sm-t-0 mg-sm-l-15 mg-md-l-40">
          <div
            class="wd-40 wd-md-50 ht-40 ht-md-50 bg-primary tx-white mg-r-10 mg-md-r-10 d-flex align-items-center justify-content-center rounded ">
            <img src = "assets/images/reward.png" height="25" width="20">
          </div>
          <div class="media-body">
            <h6 class="tx-sans tx-uppercase tx-10 tx-spacing-1 tx-color-03 tx-semibold mg-b-5 mg-md-b-8">User Rewards
            </h6>
            <h4 class="tx-20 tx-sm-18 tx-md-20 tx-normal tx-rubik mg-b-0">
              {{_rewardWalletOverview.userRewards | number: "1.2-2" || "0.00"}}%
            </h4>
          </div>
        </div>
      </div>
      <div>
        <div class="btn btn-outline-primary btn-sm cursor-pointer" (click)="Form_TopUp_Show()">Top-Up Wallet</div>
      </div>
    </div>
  </div>

  <div class="d-flex justify-content-between">
    <div class="p-3 tx-16">
      Transaction Details
    </div>
    <div class="p-3">
      <div class="btn btn-secondary btn-sm cursor-pointer" (click)="GoBack()">Back</div>
      <div class="btn btn-primary btn-sm cursor-pointer ml-2" (click)="DownloadPdf()"><i class="mx-2"
        data-feather="download"></i>Download as PDF</div>
    </div>
  </div>
  <hr class="mt-0"/>
  <div>
    <div class="row mx-4 mt-2">
      <div class="col-lg-3 col-md-3 col-sm-4">
        <div class="tx-color-03 tx-12 tx-semibold">Transaction ID</div>
        <div class="tx-14 fw-500"> {{CurrentData.PaymentReference}}</div>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-4">
        <div class="tx-color-03 tx-12 tx-semibold">Merchant Name</div>
        <div class="tx-14 fw-500">{{CurrentData.AccountDisplayName}}</div>
      </div>
    </div>
    <div class="row mx-4 mt-5">
      <div class="col-lg-3 col-md-3 col-sm-4">
        <div class="tx-color-03 tx-12 tx-semibold">Status</div>
        <div class="tx-14 fw-500"> {{CurrentData.StatusName}}</div>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-4">
        <div class="tx-color-03 tx-12 tx-semibold">Transaction Date</div>
        <div class="tx-14 fw-500">{{CurrentData.TransactionDate}}</div>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-4">
        <div class="tx-color-03 tx-12 tx-semibold">Transaction Type</div>
        <div class="tx-14 fw-500">{{CurrentData.TransactionType}}</div>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-4">
        <div class="tx-color-03 tx-12 tx-semibold">Sent from:</div>
        <div class="tx-14 fw-500">{{CurrentData.SentFrom}}</div>
      </div>
    </div>
    <div class="row mx-4 mt-5">
      <div class="col-lg-3 col-md-3 col-sm-4">
        <div class="tx-color-03 tx-12 tx-semibold">Amount</div>
        <div class="tx-14 fw-500">N{{CurrentData.Amount | number: "1.2-2" }}</div>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-4">
        <div class="tx-color-03 tx-12 tx-semibold">Processing fee</div>
        <div class="tx-14 fw-500">N{{CurrentData.Charge || "0.00"}}</div>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-4">
        <div class="tx-color-03 tx-12 tx-semibold">Balance</div>
        <div class="tx-14 fw-500">N{{_rewardWalletOverview.balance | number: "1.2-2" ||"0.00" }}</div>
      </div>
    </div>
    <div class="row mx-4 my-5">
      <div class="col-lg-3 col-md-3 col-sm-4">
        <div class="tx-color-03 tx-12 tx-semibold">Wallet Type</div>
        <div class="tx-14 fw-500">{{CurrentData.WalletType}}</div>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-4">
        <div class="tx-color-03 tx-12 tx-semibold">Description</div>
        <div class="tx-14 fw-500">{{CurrentData.Description}}</div>
      </div>
    </div>
  </div>
</div> -->

<div id="pdfData" class="p-5" style="display:none;" >
  <div class="mb-4 d-flex justify-content-center tx-20">Transaction Details</div>
  <div class="d-flex justify-content-center">
    <table class="table table-bordered" style="width: 60%;">
      <tbody>
        <tr>
          <td class="tx-color-03 tx-15 tx-semibold">Merchant Name</td>
          <td class="tx-15 fw-500">{{CurrentData.AccountDisplayName}}</td>
        </tr>
        <tr>
          <td class="tx-color-03 tx-15 tx-semibold">Wallet Type</td>
          <td class="tx-15 fw-500">{{CurrentData.WalletType}}</td>
        </tr>
        <tr>
          <td class="tx-color-03 tx-15 tx-semibold">Sent From</td>
          <td class="tx-15 fw-500">{{CurrentData.SentFrom}}</td>
        </tr>
        <!-- <tr>
          <td class="tx-color-03 tx-15 tx-semibold">Account Name</td>
          <td class="tx-15 fw-500">{{CurrentData.AccountDisplayName}}</td>
        </tr>
        <tr>
          <td class="tx-color-03 tx-15 tx-semibold">Card Number</td>
          <td class="tx-15 fw-500">**** **** **** 1245</td>
        </tr> -->
        <tr>
          <td class="tx-color-03 tx-15 tx-semibold">Transaction ID</td>
          <td class="tx-15 fw-500">{{CurrentData.PaymentReference}}</td>
        </tr>
        <tr>
          <td class="tx-color-03 tx-15 tx-semibold">Amount</td>
          <td class="tx-15 fw-500">N{{CurrentData.Amount | number: "1.2-2" }}</td>
        </tr>
        <tr>
          <td class="tx-color-03 tx-15 tx-semibold">Charge</td>
          <td class="tx-15 fw-500">N{{CurrentData.Charge || "0.00"}}</td>
        </tr>
        <tr>
          <td class="tx-color-03 tx-15 tx-semibold">Total Amount</td>
          <td class="tx-15 fw-500">N{{CurrentData.Amount | number: "1.2-2" }}</td>
        </tr>
        <tr>
          <td class="tx-color-03 tx-15 tx-semibold">Balance</td>
          <td class="tx-15 fw-500">N{{_rewardWalletOverview.balance | number: "1.2-2" || "0.00"}}</td>
        </tr>
        <tr>
          <td class="tx-color-03 tx-15 tx-semibold">Transaction Date</td>
          <td class="tx-15 fw-500">{{CurrentData.TransactionDate}}</td>
        </tr>
        <tr>
          <td class="tx-color-03 tx-15 tx-semibold">Requested By</td>
          <td class="tx-15 fw-500">{{CurrentData.AccountDisplayName}}</td>
        </tr>       
        <tr>
          <td class="tx-color-03 tx-15 tx-semibold">Status</td>
          <td class="tx-15 fw-500"><span class="{{CurrentData.StatusB}} mg-l-5">
            {{CurrentData.StatusName || "--"}} </span></td>
        </tr>       
        <tr>
          <td class="tx-color-03 tx-15 tx-semibold">Description</td>
          <td class="tx-15 fw-500">{{CurrentData.Description}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="modal" id="EditCol" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Edit Column</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group" *ngFor="let Col of TempColumnConfig">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" id="gridCheck" [(ngModel)]=Col.Value>
            <label class="form-check-label" for="">
              {{Col.Name}}
            </label>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" (click)="SaveEditCol()">Save</button>
      </div>
    </div>
  </div>
</div>

<div id="Form_AddUser_Content" class="modal fade" data-backdrop="true" aria-hidden="true"
  style="overflow-y: scroll !important;">
  <div class="modal-dialog modal-dialog-centered dropdown ">
    <div class="modal-content">
      <form [formGroup]="Form_AddUser" (ngSubmit)="Form_AddUser_Process(Form_AddUser.value)" role="form">
        <div class="modal-header">
          <h5 class="modal-title">Request CashOut</h5>
        </div>
        <div class="modal-body  p-lg">

          <div class="form-group">
            <div class="d-flex justify-content-between">
              <div>
                <label>Amount<span class="text-danger">*</span>
                </label>
              </div>
            </div>
            <div class="controls">
              <input type="number" name="Amount" placeholder="Amount" required maxlength="20" class="form-control"
                (blur)='CaculateTotalAmount($event)' [formControl]="Form_AddUser.controls['Amount']" [ngClass]="{
            'is-invalid':
              !Form_AddUser.controls['Amount'].valid &&
              Form_AddUser.controls['Amount'].touched
          }" />
            </div>
            <label class="text-danger" for="Amount" *ngIf="
          Form_AddUser.controls['Amount'].hasError('required') &&
          Form_AddUser.controls['Amount'].touched
        ">Enter Cashout Amount </label>
            <label class="text-danger" for="Amount" *ngIf="
          Form_AddUser.controls['Amount'].hasError(
            'min'
          ) ||
          Form_AddUser.controls['Amount'].hasError('maxlength')
        "> Please Enter Valid Amount</label>
          </div>
          <div class="form-group pd-b-0" *ngIf="!_HelperService.ToggleField">
            <label for=""> Select Bank - Account Holder <span class="text-danger"> * </span> </label>

            <select2 class="full-width" [options]="TUTr_Filter_Bank_Option"
              (valueChanged)="TUTr_Filter_Banks_Change($event)">
            </select2>
          </div>

          <div class="form-group">
            <label class="tx-medium" for=""> Cashout Criterion</label>
            <div class="row">
              <div class="col-md-5 float-left text-secondary">Transfer Balance</div>
              <div class="col-md-1">:</div>
              <div class="col-md-6 text-right"> <span class=" text-sm mg-r-2"
                  [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span>{{_CashOutConfiguration.TransferBalance
                || "--"}} </div>
            </div>

            <div class="row mg-t-10">
              <div class="col-md-5 float-left text-secondary">Minimum Transfer Amount</div>
              <div class="col-md-1">:</div>
              <div class="col-md-6 text-right"> <span class=" text-sm mg-r-2"
                  [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span>{{_CashOutConfiguration.MinimumTransferAmount
                || "--"}} </div>
            </div>

            <div class="row mg-t-10">
              <div class="col-md-5 float-left text-secondary">Maximum Transfer Amount</div>
              <div class="col-md-1">:</div>
              <div class="col-md-6 text-right"> <span class=" text-sm mg-r-2"
                  [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span>{{_CashOutConfiguration.MaximumTransferAmount
                || "--"}} </div>
            </div>

            <div class="row mg-t-10">
              <div class="col-md-5 float-left text-secondary">Charge</div>
              <div class="col-md-1">:</div>
              <div class="col-md-6 text-right"> <span class=" text-sm mg-r-2"
                  [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span>{{_CashOutConfiguration.Charge ||
                "--"}}
              </div>
            </div>
            <div class="row mg-t-10">
              <div class="col-md-5 float-left text-secondary">Total</div>
              <div class="col-md-1">:</div>
              <div class="col-md-6 text-right"> <span class=" text-sm mg-r-2"
                  [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span>{{TotalAmount || "--"}}
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="Form_AddUser_Close()">
            {{ "Common.Close" | translate }}
          </button>
          <button type="submit" class="btn btn-primary warn mr-2" (click)="Form_AddUser.value.OperationType = 'new'"
            [disabled]="!Form_AddUser.valid || _HelperService.IsFormProcessing">
            <span *ngIf="!_HelperService.IsFormProcessing">
              Proceed Request
            </span>
            <span *ngIf="_HelperService.IsFormProcessing">
              <i class="{{ 'Common.SpinnerIcon' | translate }}"></i>
              {{ "Common.PleaseWait" | translate }}...
            </span>
          </button>
        </div>
      </form>
    </div>
  </div>
</div>


<div id="Form_AddTopup_Content" class="modal fade" data-backdrop="true" aria-hidden="true"
  style="overflow-y: scroll !important;">
  <div class="modal-dialog dropdown ">
    <div class="modal-content">
      <form [formGroup]="Form_AddTopup" (ngSubmit)="Form_AddTopup_Process(Form_AddTopup.value)" role="form">
        <div class="modal-header">
          <h5 class="modal-title">Top- Up Wallet</h5>
        </div>
        <div class="modal-body  p-lg">

          <div class="d-flex justify-content-center">Use one of the payment methods to top-up reward wallet</div>
          <!-- [attr.disabled]="(_LoyaltyredeemWalletOverview.amount <= 0 )? 'false' : null" -->
          <div class="card mx-5 mt-3 mb-1 bg-grey">
            <div class="d-flex p-3 cursor-pointer" (click)="optionSelected('walletL')">
              <input type="radio" id="walletL" class="mt-1" name="control" value="walletL"
                formControlName="control" [attr.disabled]="(_LoyaltyredeemWalletOverview.amount <= 0 )? 'false' : null" >
                <img class="ml-4" src = "assets/images/redeemwallet.png" height="20" width="20">
              <div class="ml-2">Loyalty Redeem Wallet (N{{_LoyaltyredeemWalletOverview.amount | number: "1.2-2" }})</div>
            </div>
          </div>

          <div class="card mx-5 mt-3 mb-1 bg-grey" *ngIf="isDealsRedeemWallet">
            <div class="d-flex p-3 cursor-pointer" (click)="optionSelected('walletD')">
              <input type="radio" id="walletD" class="mt-1" name="control" value="walletD"
                formControlName="control" [attr.disabled]="(_DealsredeemWalletOverview.amount <= 0 )? 'false' : null" >
                <img class="ml-4" src = "assets/images/redeemwallet.png" height="20" width="20">
              <div class="ml-2">Deals Redeem Wallet (N{{_DealsredeemWalletOverview.amount | number: "1.2-2" }})</div>
            </div>
          </div>

          <div class="card mx-5 mt-3 mb-1 bg-grey" *ngIf="isBnplRedeemWallet">
            <div class="d-flex p-3 cursor-pointer" (click)="optionSelected('walletB')">
              <input type="radio" id="walletB" class="mt-1" name="control" value="walletB"
                formControlName="control" [attr.disabled]="(_BnplredeemWalletOverview.amount <= 0 )? 'false' : null">
                <img class="ml-4" src = "assets/images/redeemwallet.png" height="20" width="20">
              <div class="ml-2">BNPL Redeem Wallet (N{{_BnplredeemWalletOverview.amount | number: "1.2-2" }})</div>
            </div>
          </div>

          <div class="card mx-5 mt-2 bg-grey">
            <div class="d-flex p-3 cursor-pointer" (click)="optionSelected('bank')">
              <input type="radio" id="bank" class="cursor-pointer mt-1" name="control" value="bank"
                formControlName="control">
                <img class="ml-4"src = "assets/images/bank.png" height="20" width="18">
              <div class="ml-2">Bank</div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="Form_TopUp_Close()">
            {{ "Common.Close" | translate }}
          </button>
          <button type="submit" class="btn btn-primary warn mr-2"
            [disabled]="!Form_AddTopup.valid || _HelperService.IsFormProcessing">
            <span *ngIf="!_HelperService.IsFormProcessing">
              Continue
            </span>
            <span *ngIf="_HelperService.IsFormProcessing">
              <i class="{{ 'Common.SpinnerIcon' | translate }}"></i>
              {{ "Common.PleaseWait" | translate }}...
            </span>
          </button>
        </div>
      </form>
    </div>
  </div>
</div>



<div id="Form_TopupWallet_Content" class="modal fade" data-backdrop="true" aria-hidden="true"
  style="overflow-y: scroll !important;">
  <div class="modal-dialog dropdown ">
    <div class="modal-content">
      <form>
        <div class="modal-header">
          <h5 class="modal-title">Top-Up from Redeem Wallet</h5>
        </div>
        <div class="modal-body  p-lg">

          <div class="form-group">
            <div class="d-flex justify-content-between">
              <div>
                <label>Amount<span class="text-danger">*</span>
                </label>
              </div>
            </div>
            <div class="controls">
              <input type="number" name="Amount" placeholder="Amount" required maxlength="20" class="form-control"
                (blur)='CaculateTotalAmount($event)' [(ngModel)]="_AmountTranserFromWallet" (input)="validateInput($event)" />
            </div>
            <label class="text-danger" for="Amount" *ngIf="!maxTransferAmount">Maximum transferable amount is 20,000</label>
            <label class="text-danger" for="Amount" *ngIf="!isValidAmount">Entered amount is more than balance in redeem wallet</label>
          </div>


          <div class="form-group">
            <label class="tx-medium" for=""> Cashout Details</label>
            <div class="row">
              <div class="col-md-5 float-left text-secondary">Transfer Balance</div>
              <div class="col-md-1">:</div>
              <div class="col-md-6 text-right"> <span class=" text-sm mg-r-2"
                  [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span>{{_AmountTranserFromWallet | number: "1.2-2"}} </div>
            </div>

            <div class="row mg-t-10">
              <div class="col-md-5 float-left text-secondary">Minimum Transfer Amount</div>
              <div class="col-md-1">:</div>
              <div class="col-md-6 text-right"> <span class=" text-sm mg-r-2"
                  [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span>{{topupRedeemWalletConfig.minAmount}}
              </div>
            </div>

            <div class="row mg-t-10">
              <div class="col-md-5 float-left text-secondary">Maximum Transfer Amount</div>
              <div class="col-md-1">:</div>
              <div class="col-md-6 text-right"> <span class=" text-sm mg-r-2"
                  [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span>{{topupRedeemWalletConfig.maxAmout | number: "1.2-2" }}
              </div>
            </div>

            <div class="row mg-t-10">
              <div class="col-md-5 float-left text-secondary">Charge</div>
              <div class="col-md-1">:</div>
              <div class="col-md-6 text-right"> <span class=" text-sm mg-r-2"
                  [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span>{{topupRedeemWalletConfig.charge}}
              </div>
            </div>
            <div class="row mg-t-10">
              <div class="col-md-5 float-left text-secondary">Total</div>
              <div class="col-md-1">:</div>
              <div class="col-md-6 text-right"> <span class=" text-sm mg-r-2"
                  [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span>{{_AmountTranserFromWallet | number: "1.2-2" ||
                "--"}}
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="Form_TopupWallet_Close()">
            {{ "Common.Close" | translate }}
          </button>
          <button type="submit" class="btn btn-primary warn mr-2"
            [disabled]="!_AmountTranserFromWallet || _HelperService.IsFormProcessing || !maxTransferAmount || !isValidAmount">
            <span *ngIf="!_HelperService.IsFormProcessing" (click)="Form_TopupWallet_Process()">
              Proceed
            </span>
            <span *ngIf="_HelperService.IsFormProcessing">
              <i class="{{ 'Common.SpinnerIcon' | translate }}"></i>
              {{ "Common.PleaseWait" | translate }}...
            </span>
          </button>
        </div>
      </form>
    </div>
  </div>
</div>


<div id="Form_TopUpBank_Content" class="modal" data-backdrop="true" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Top-Up from Bank</h5>
      </div>
      <div class="modal-body  p-lg">

        <div class="mb-3 b-b pb-3">
          <div class="mb-2">
            Enter Amount
          </div>
          <div class="input-group text-warn mb-3">
            <span class="input-group-prepend ">
              <span class="input-group-text text-warn"><span
                  [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span> </span>
            </span>
            <input type="text" maxlength="7" class="form-control text-warn" placeholder="Amount to credit*"
              (keypress)="_HelperService.PreventText($event)" [(ngModel)]="_AccountBalanceCreditAmount">

            <div class="text-secondary mg-t-5">This amount will be credited in your wallet, you can further use it to
              give rewards to your customers.</div>
            <div class="text-danger mg-t-5"
              *ngIf="(_AccountBalanceCreditAmount == undefined || _AccountBalanceCreditAmount == 0) || (_AccountBalanceCreditAmount < 1000)">
              Enter amount must be equal or greater than<span class=" text-sm mg-r-2"
                [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span>1000</div>

            <div class="text-danger mg-t-5" *ngIf="_AccountBalanceCreditAmount > 1000000">
              Enter amount must be equal or lower than <span class=" text-sm mg-r-2"
                [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span>1000000</div>

          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          {{ "Common.Close" | translate }}
        </button>
        <button
          *ngIf="(_AccountBalanceCreditAmount == undefined || _AccountBalanceCreditAmount == 0) || (_AccountBalanceCreditAmount < 1000 || _AccountBalanceCreditAmount > 1000000)"
          class="btn btn-primary " disabled>Confirm</button>
        <button *ngIf="_AccountBalanceCreditAmount >= 1000 && _AccountBalanceCreditAmount <= 1000000"
          class="btn btn-primary " angular4-paystack [currency]="_HelperService.AppConfig.CurrencyNotation" [key]="_HelperService.AppConfig.PayStackKey"
          [email]="_HelperService.User.EmailAddress" [amount]="_AccountBalanceCreditAmount * 100"
          [class]="'btn btn-primary'" [ref]="_TransactionReference" (close)="paymentCancel()"
          (callback)="paymentDone($event)" data-dismiss="modal">Confirm</button>

      </div>


    </div>
  </div>
</div>
<div class="off-canvas off-canvas-overlay off-canvas-right" #offCanvas style="width: 480px !important;" >
  <div class="off-canvas-content">

    <div id="Form_EditUser_Content" class="off-canvas-body">
      <div class="card border-0">
        <div class="card-header d-flex  justify-content-between">
          <h5 class="pb-0 mb-0"> Transaction Details</h5>
          <div> <span class="{{CurrentData.StatusB}} mg-l-5">
              {{CurrentData.StatusName || "--"}} </span></div>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-md-4 float-left fw-500"> Merchant Details</div>
          </div>
          <div class="row mg-t-10">
            <div class="col-md-4 float-left text-secondary">Merchant Name</div>
            <div class="col-md-1">:</div>
            <div class="col-md-7 text-right">{{CurrentData.AccountDisplayName}}</div>
          </div>
          <div class="row mg-t-4">
            <div class="col-md-4 float-left"></div>
            <div class="col-md-1"></div>
            <div class="col-md-7 text-right">{{CurrentData.MobileNumber}}</div>
          </div>          

          <div class="row mg-t-40">
            <div class="col-md-4 float-left fw-500"> Wallet Details</div>
          </div>
          <div class="row mg-t-10">
            <div class="col-md-4 float-left text-secondary">Wallet Type</div>
            <div class="col-md-1">:</div>
            <div class="col-md-7 text-right">{{CurrentData.WalletType}}</div>
          </div>
          <div class="row mg-t-10">
            <div class="col-md-4 float-left text-secondary">Sent From</div>
            <div class="col-md-1">:</div>
            <div class="col-md-7 text-right">{{CurrentData.SentFrom}}</div>
          </div>

          <!-- <div class="row mg-t-40">
            <div class="col-md-4 float-left fw-500">Card Details</div>
          </div>
          <div class="row mg-t-10">
            <div class="col-md-4 float-left text-secondary">Account Name</div>
            <div class="col-md-1">:</div>
            <div class="col-md-7 text-right">{{CurrentData.AccountDisplayName}}</div>
          </div>
          <div class="row mg-t-10">
            <div class="col-md-4 float-left text-secondary">Card Number</div>
            <div class="col-md-1">:</div>
            <div class="col-md-7 text-right">**** **** **** 1245</div>
          </div> -->

          <div class="row mg-t-40">
            <div class="col-md-4 float-left fw-500">Transaction Details</div>
          </div>
          <div class="row mg-t-10">
            <div class="col-md-4 float-left text-secondary">Transaction ID</div>
            <div class="col-md-1">:</div>
            <div class="col-md-7 text-right">{{CurrentData.PaymentReference}}</div>
          </div>
          <div class="row mg-t-10">
            <div class="col-md-4 float-left text-secondary">Amount</div>
            <div class="col-md-1">:</div>
            <div class="col-md-7 text-right">N{{CurrentData.Amount | number: "1.2-2" }}</div>
          </div>
          <div class="row mg-t-10">
            <div class="col-md-4 float-left text-secondary">Charge</div>
            <div class="col-md-1">:</div>
            <div class="col-md-7 text-right">N{{CurrentData.Charge || "0.00"}}</div>
          </div>
          <div class="row mg-t-10">
            <div class="col-md-4 float-left text-secondary">Total Amount</div>
            <div class="col-md-1">:</div>
            <div class="col-md-7 text-right">N{{CurrentData.Amount | number: "1.2-2" }}</div>
          </div>
          <div class="row mg-t-10">
            <div class="col-md-4 float-left text-secondary">Balance</div>
            <div class="col-md-1">:</div>
            <div class="col-md-7 text-right">N{{_rewardWalletOverview.balance | number: "1.2-2" || "0.00"}}</div>
          </div>          

          <div class="row mg-t-40">
            <div class="col-md-4 float-left fw-500">Top-Up Details</div>
          </div>
          <div class="row mg-t-10">
            <div class="col-md-4 float-left text-secondary">Transaction Date</div>
            <div class="col-md-1">:</div>
            <div class="col-md-7 text-right">{{CurrentData.TransactionDateD}}</div>
          </div>
          <div class="row mg-t-0">
            <div class="col-md-4 float-left"></div>
            <div class="col-md-1"></div>
            <div class="col-md-7 text-right text-secondary tx-12">{{CurrentData.TransactionDateT}}</div>
          </div>

          <div class="row mg-t-10">
            <div class="col-md-4 float-left text-secondary">Requested By</div>
            <div class="col-md-1">:</div>
            <div class="col-md-7 text-right">{{CurrentData.AccountDisplayName}}</div>
          </div>
          <div class="row mg-t-10">
            <div class="col-md-4 float-left text-secondary">Status</div>
            <div class="col-md-1">:</div>
            <div class="col-md-7 text-right"><span class="{{CurrentData.StatusB}} mg-l-5">
              {{CurrentData.StatusName || "--"}} </span></div>
          </div>
          <div class="row mg-t-10">
            <div class="col-md-4 float-left text-secondary">Description</div>
            <div class="col-md-1">:</div>
            <div class="col-md-7 text-right">{{CurrentData.Description}}</div>
          </div>          

        </div>
        <div class="card-footer full-width" style="position: fixed; bottom:0%; margin-top: -2.5em ;">
          <div class="float-right">          
          <div class="btn btn-primary cursor-pointer mr-2" (click)="DownloadPdf()"><i class="mx-2"
            data-feather="download"></i>Download as PDF</div>
          <div class="btn btn-secondary mr-2 cursor-pointer" (click)="unclick()">Close</div>
        </div>
        </div>
      </div>
    </div>
  </div>
</div>