 <!-- <div class="content content-fixed py-4 my-4   content-auth">
    <div class="container">
        <div class="media align-items-stretch justify-content-center ht-100p pos-relative">
            <div class="sign-wrapper mg-lg-l-50 mg-xl-l-60">
                <div class="wd-100p">
                    <div class="pb-0 mb-0"
                        style="z-index: 10000 !important; background-image: url(../../../assets/img/signin.svg); background-position: bottom !important; background-repeat: no-repeat !important; width: calc(370px * 1.3) !important;  height: calc(260px * .95); position: relative; top: 22px;">

                        <div
                            *ngIf="_HelperService.AppConfig.Host == 'merchantrewards.interswitch.com' ||  _HelperService.AppConfig.Host == 'interswitch.thankucash.com'">
                            <img src="../../../assets/img/interswitch.png" class="wd-200 mb-4"
                                style="position: absolute; top: 70px;">
                        </div>

                        <div
                            *ngIf="_HelperService.AppConfig.Host != 'merchantrewards.interswitch.com' &&  _HelperService.AppConfig.Host != 'rewards.alat.ng'  &&  _HelperService.AppConfig.Host != 'interswitch.thankucash.com' &&  _HelperService.AppConfig.Host != 'sterling.thankucash.com' &&  _HelperService.AppConfig.Host != 'wemarewards.thankucash.com' &&  _HelperService.AppConfig.Host != 'localhost:4200'">
                            <a href="https://thankucash.com"><img src="../../../assets/img/logoinverse.png"
                                    class="wd-200 mb-4" style="position: absolute; top: 70px;"></a>

                        </div>
                        <div *ngIf="  _HelperService.AppConfig.Host == 'wemarewards.thankucash.com'">
                            <img src="../../../assets/img/wemalogo.png" class="wd-200 mb-4"
                                style="position: absolute; top: 70px;">
                        </div>
                        <div
                            *ngIf="_HelperService.AppConfig.Host == 'localhost:4200' || _HelperService.AppConfig.Host == 'rewards.alat.ng'">
                            <img src="../../../assets/img/alatlogofr.png" class="wd-200 mb-4" style="position: absolute;
                                width: 140px;
                                top: 50px;
                                left: -30px;">
                        </div>


                        <div *ngIf="_HelperService.AppConfig.Host == 'sterling.thankucash.com'"><img
                                src="../../../assets/img/sterlingbanklogo.png" class="wd-200 mb-4"
                                style="position: absolute; top: 70px;">
                        </div>
                    </div>
                    <h3 class="tx-color-01 mg-b-5" style="position: relative; top: -0px;">Sign In</h3>
                    <p class="tx-color-03 tx-16 mg-b-20">Welcome back! Please sign in to continue.</p>
                    <form [formGroup]="_Form_Login" (ngSubmit)="_Form_Login_Process(_Form_Login.value)" role="form">
                        <div class="form-group"
                            [ngClass]="{'text-danger':!_Form_Login.controls['username'].valid && _Form_Login.controls['username'].touched}">
                            <label>{{ 'Login.UserName' | translate }}</label>
                            <input tabindex="1" type="text" name="username" maxlength="256"
                                class="form-control border-radius: 0.25rem"
                                [formControl]="_Form_Login.controls['username']">
                        </div>
                        <div class="form-group"
                            [ngClass]="{'text-danger':!_Form_Login.controls['password'].valid && _Form_Login.controls['password'].touched}">
                            <div class="d-flex justify-content-between mg-b-5">
                                <label class="mg-b-0-f">{{ 'Login.Password' | translate }}</label>
                                <a tabindex="4" class="tx-13"
                                    routerLink="{{_HelperService.AppConfig.Pages.System.ForgotPassword}}">
                                    Forgot Password?
                                </a>
                            </div>
                            <div class="row">
                                <div class="col-md-12 pd-r-15">
                                    <input *ngIf="ShowPassword" tabindex="2" type="password" name="password"
                                        maxlength="50" class="form-control"
                                        [formControl]="_Form_Login.controls['password']">

                                    <input *ngIf="!ShowPassword" tabindex="2" type="text" name="password" maxlength="50"
                                        class="form-control" [formControl]="_Form_Login.controls['password']">
                                </div>
                                <div class="px-0 input-group-append">
                                    <a *ngIf="ShowPassword"
                                        class="btn   d-flex align-items-center cursor-pointer Showbutton bd-0"> <i
                                            class="fa fa-eye-slash fa-1x" aria-hidden="true"
                                            (click)="ToogleShowHidePassword()"></i></a>

                                    <a *ngIf="!ShowPassword"
                                        class="btn   d-flex align-items-center cursor-pointer Showbutton bd-0"> <i
                                            class="fa fa-eye fa-1x" aria-hidden="true"
                                            (click)="ToogleShowHidePassword()"></i></a>
                                </div>
                            </div>
                        </div>
                        <button tabindex="3" type="submit" class="btn btn-brand-02 btn-block"
                            [disabled]="!_Form_Login.valid || _Form_Login_Processing">
                            <span *ngIf="!_Form_Login_Processing">
                                {{ 'Login.LoginBtn' | translate }}
                            </span>
                            <span *ngIf="_Form_Login_Processing">
                                <i class="{{ 'Common.SpinnerIcon' | translate }}"></i>
                                {{ 'Common.PleaseWait' | translate }}...
                            </span>
                        </button>
                        <div style="text-align: center; margin-top: 20px;">Don't have an account? <span class="text-uppercase_600 text-primary cursor-pointer">
                            <a (click)="navigateToRegister()" style="font-weight: bold;">
                                REGISTER
                            </a>
    
                        </span></div>
                        <div class="row" type>
                            <div class=" text-center col-lg-12 col-md-12 col-sm-12 col-xs-12 mt-4 text-muted">
                                © Copyright <a tabindex="5" target="_blank" class="text-primary"
                                    href="http://connectedanalytics.xyz">Connected
                                    Analytics Inc.</a> 2021 |
                                All Right
                                Reserved
                            </div>


                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div> --> 