<ol class="breadcrumb df-breadcrumbs mg-b-10">
  <li class="breadcrumb-item" [routerLinkActive]="['active']"><a
      routerLink="{{ _HelperService.AppConfig.Pages.ThankUCash.Dashboard.Merchant}}" [routerLinkActive]="['active']">
      Dashboard</a></li>
  <li class="breadcrumb-item" [routerLinkActive]="['active']"><a class="text-primary"
      [routerLinkActive]="['active']">Subscriptions
    </a></li>
</ol>

<div class="card ">
  <div class="card-header d-flex justify-content-between">
    <div>
      <h5 class="mb-1 pt-2"> Subscription (Unused: {{MerchantsList_Config.InActiveSubscription || "0"}})</h5>
    </div>
    <div style="float: right;">
      <div *ngIf="MerchantsList_Config.InActiveSubscription && MerchantsList_Config.InActiveSubscription > 0"
        class="btn btn-primary btn-sm cursor-pointer" (click)="openAssignStoreModal()" style="    margin-right: 10px;
      "> Assign Store </div>
      <div class="btn btn-primary btn-sm cursor-pointer" (click)="openSubscriptionModal()"> Pay Subscription </div>
    </div>
  </div>

  <!-- <div [className]="_HelperService._Assets.Box.header">
    <div class="tx-14 tx-bold"> {{MerchantsList_Config.Title}} </div>
  </div> -->
  <div class="box-header px-3 pd-t-15 pd-b-8  d-flex align-items-center justify-content-between">
    <div class="form-inline ">
      <div class="input-group input-group-sm mr-3">
        <input type="text" class="form-control" [value]="MerchantsList_Config.SearchParameter" maxlength="100"
          class="form-control" placeholder="{{ 'Common.Search' | translate }}"
          (keyup)="MerchantsList_ToggleOptionSearch( $event, _HelperService.AppConfig.ListToggleOption.Search)">
        <div class="input-group-append">
          <button class="btn btn-outline-light" type="button"
            (click)="MerchantsList_ToggleOption( null, _HelperService.AppConfig.ListToggleOption.Search)"><i
              data-feather="search"></i> </button>
        </div>
      </div>
    </div>
    <div class="d-flex ml-auto">
      <button type="button" class="btn  tx-12 rounded-0 bd-gray-200 bd-r-0  btn-outline-danger btn-icon"
        [disabled]='(_HelperService.FilterSnap.id == -1)' (click)="Delete_Filter()">
        <i data-feather="minus-circle"></i> </button>

      <div class="form-group my-auto shadow-none ml-auto " *ngIf="_HelperService._RefreshUI">
        <select2 name="itemId0" [options]="_DataHelperService.S2_NewSavedFilters_Option" class="wd-30 select2"
          [data]="_HelperService.Active_FilterOptions" [value]="_HelperService.Active_FilterOptions[0]"
          (valueChanged)="Active_FilterValueChanged( $event )">
        </select2>
      </div>
      <button type="button" class=" btn btn-outline-success tx-12 bd-l-0 mr-3 rounded-0 bd-gray-200 btn-icon"
        [disabled]='_HelperService.FilterState == this._HelperService.AppConfig.FilterStates.Default || 
      _HelperService.FilterState == this._HelperService.AppConfig.FilterStates.NoChange' (click)="Save_NewFilter()"> <i
          data-feather="plus-circle"></i> </button>

    </div>

    <nav class="nav nav-with-icon tx-20">
      <div class="dropdown dropleft">
        <a href="" class="nav-link mr-2" id="MerchantsList_sdropdown" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false"> <i data-feather="align-left" class="tx-20"></i> </a>
        <div class="dropdown-menu tx-13">
          <form class="wd-250 pd-15">


            <h6 class="dropdown-header tx-uppercase tx-12 tx-bold tx-inverse pd-b-20 pd-l-0 pd-t-0">Sort
              <div class="float-right tx-20" *ngIf="MerchantsList_Config.Sort.SortOrder == 'desc'"
                (click)="MerchantsList_ToggleOption( null, _HelperService.AppConfig.ListToggleOption.SortOrder)">
                <i class="fas fa-sort-alpha-down-alt"></i>
              </div>
              <div class="float-right tx-20" *ngIf="MerchantsList_Config.Sort.SortOrder == 'asc'"
                (click)="MerchantsList_ToggleOption( null, _HelperService.AppConfig.ListToggleOption.SortOrder)">
                <i class="fas fa-sort-alpha-up-alt"></i>
              </div>
            </h6>

            <a class="dropdown-item cursor-pointer {{TItem.SystemActive?  'SystemActive' :'' }} {{_HelperService.CheckMode == 'dark' ? 'text-white' : 'text-dark' }} "
              *ngFor="let TItem of MerchantsList_Config.Sort.SortOptions"
              (click)="MerchantsList_ToggleOption( TItem, _HelperService.AppConfig.ListToggleOption.Sort)">
              {{TItem.Name}}
            </a>

            <button type="button" class="btn btn-light btn-sm mr-2 mg-t-20"
              (click)="ResetFilters( null, _HelperService.AppConfig.ListToggleOption.ResetOffset)">
              Reset</button>
            <button type="button" class="btn btn-primary btn-sm  mg-t-20"
              (click)="ApplyFilters( null, _HelperService.AppConfig.ListToggleOption.ApplyFilter,'Sort')">Apply</button>
          </form>
        </div>
      </div>
      <div class="dropdown dropleft">
        <a href="" class="nav-link" id="MerchantsList_fdropdown" data-toggle="dropdown" aria-haspopup="true"
          (click)="_HelperService.StopClickPropogation()" aria-expanded="false"> <i data-feather="filter"></i> </a>
        <div class="dropdown-menu tx-13">
          <form class="wd-250  pd-15" *ngIf="ResetFilterControls">
            <h6 class="dropdown-header tx-uppercase tx-12 tx-bold tx-inverse pd-b-20 pd-l-0 pd-t-0">Filters
            </h6>
            <div>
              <div class="form-group">
                <label>Start Date</label>
                <input type="text" class="form-control  form-daterangepicker" name="daterangeInput" daterangepicker
                  [options]="DateRangeOptions"
                  (selected)="MerchantsList_ToggleOption($event, _HelperService.AppConfig.ListToggleOption.Date)" />
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <div class="controls">
                    <label for="RewardRangeMinAmount">Min Amount</label>
                    <input type="number" name="RewardRangeMinAmount" maxlength="256" class="form-control"
                      [(ngModel)]="MinAmount" (keypress)="_HelperService.OnlyNumberKey($event)"
                      (keyup)="MerchantsList_ToggleOption($event,_HelperService.AppConfig.ListToggleOption.SalesRange)">
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <div class="controls">
                    <label for="RewardRangeMaxAmount">Max Amount</label>
                    <input type="number" name="RewardRangeMaxAmount" maxlength="256" class="form-control"
                      [(ngModel)]="MaxAmount" (keypress)="_HelperService.OnlyNumberKey($event)"
                      (keyup)="MerchantsList_ToggleOption($event,_HelperService.AppConfig.ListToggleOption.SalesRange)">
                  </div>
                </div>
              </div>
            </div>
            <!-- <div>
              <div class="form-group">
                <label>Status</label>
                <select2 [options]="_DataHelperService.S2_Status_Option" class="wd-100p"
                  [data]="MerchantsList_Config.StatusOptions"
                  (valueChanged)="MerchantsList_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.Status)">
                </select2>
              </div>

              <div class="form-group">
                <label>Plan</label>
                <select2 [options]="_DataHelperService.S2_Plan_Option" class="wd-100p"
                  [data]="MerchantsList_Config.PlanOptions"
                  (valueChanged)="MerchantsList_Filter_Merchants_Change($event)">>
                </select2>
              </div>

              

            </div> -->

            <button type="button" class="btn btn-light btn-sm mr-2"
              (click)="ResetFilters( null, _HelperService.AppConfig.ListToggleOption.ResetOffset)">
              Reset</button>
            <button type="button" class="btn btn-primary btn-sm "
              (click)="ApplyFilters( null, _HelperService.AppConfig.ListToggleOption.ApplyFilter,'Other')">Apply</button>
          </form>
        </div>
      </div>
      <a class="nav-link ml-2 RefreshColor RefreshColorOne cursor-pointer"
        (click)="MerchantsList_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.Refresh)"> <i
          data-feather="refresh-cw"></i> </a>
    </nav>
  </div>
  <div class="pt-0 pd-l-15 pd-b-8">
    <div class="badge badge-transparent pd-y-10 pd-l-15 mx-1 bd bd-1 bd-gray-500 rounded-50 tx-color-03"
      [hidden]="(!_HelperService.FilterSnap.Status) || (_HelperService.FilterSnap.Status==0)">
      {{_HelperService.FilterSnap.StatusName}}
      <span (click)="RemoveFilterComponent('Status')"
        class="bd bd-1  mg-l-5 pd-x-5 pd-y-3 rounded-circle bg-primary text-white cursor-pointer"><i
          class="fas fa-times"></i> </span>
    </div>

    <div class="badge badge-transparent pd-y-10 pd-l-15 mx-1 bd bd-1 bd-gray-500 rounded-50 tx-color-03"
      [hidden]="
  !(_HelperService.FilterSnap.SalesRange) || (_HelperService.FilterSnap.SalesRange.SalesMin==0 && _HelperService.FilterSnap.SalesRange.SalesMax==10000000)" (click)="RemoveFilterComponent('SalesRange')">
      Amount Range [{{_HelperService.FilterSnap.SalesRange.SalesMin + "--" +
      _HelperService.FilterSnap.SalesRange.SalesMax}}]
      <span class="bd bd-1  mg-l-5 pd-x-5 pd-y-3 rounded-circle bg-primary text-white cursor-pointer"><i
          class="fas fa-times"></i> </span>
    </div>

    <div class="badge badge-transparent pd-y-10 pd-l-15 mx-1 bd bd-1 bd-gray-500 rounded-50 tx-color-03"
      [hidden]="!_HelperService.FilterSnap.Sort.SortColumn || (_HelperService.FilterSnap.Sort.SortColumn=='StartDate' && _HelperService.FilterSnap.Sort.SortOrder=='')">
      <span *ngIf="_HelperService.FilterSnap.Sort.SortColumn != 'StartDate'">
        {{_HelperService.FilterSnap.Sort.SortColumn + "--" + _HelperService.FilterSnap.Sort.SortOrder}}</span>
      <span *ngIf="_HelperService.FilterSnap.Sort.SortColumn == 'StartDate'"> Start Date --
        {{_HelperService.FilterSnap.Sort.SortOrder}}</span>

      <span (click)="RemoveFilterComponent('Sort')"
        class="bd bd-1  mg-l-5 pd-x-5 pd-y-3 rounded-circle bg-primary text-white cursor-pointer"><i
          class="fas fa-times"></i> </span>
    </div>

    <div class="badge badge-transparent pd-y-10 pd-l-15 mx-1 bd bd-1 bd-gray-500 rounded-50 tx-color-03"
      [hidden]="!_HelperService.FilterSnap.StartTime">
      {{_HelperService.GetFilterDate(_HelperService.FilterSnap.StartTime) + "--" +
      _HelperService.GetFilterDate(_HelperService.FilterSnap.EndTime)}}
      <span (click)="RemoveFilterComponent('Time')"
        class="bd bd-1  mg-l-5 pd-x-5 pd-y-3 rounded-circle bg-primary text-white cursor-pointer">
        <i class="fas fa-times"></i>
      </span>
    </div>
    <div class="badge badge-transparent pd-y-10 pd-l-15 mx-1 bd bd-1 bd-gray-500 rounded-50 tx-color-03"
      *ngFor="let TItem of _HelperService.FilterSnap.OtherFilters; let i = index">
      <!-- {{TItem.data[0].Name}} -->
      {{TItem.data[0].text}}
      <span (click)="RemoveFilterComponent('Other',i)"
        class="bd bd-1  mg-l-5 pd-x-5 pd-y-3 rounded-circle bg-primary text-white cursor-pointer"><i
          class="fas fa-times"></i> </span>
    </div>

    <span class="badge badge-pill badge-primary"
      *ngFor="let TItem of MerchantsList_Config.Filters">{{TItem.Title}}</span>

  </div>

  <div class="card-body p-0">
    <table class="{{_HelperService.AppConfig.TablesConfig.DefaultClass}}">
      <thead>
        <tr>
          <th>
            Date
          </th>
          <th>
            Time
          </th>
          <th>
            Amount
          </th>

          <th>
            Transaction ID
          </th>
        </tr>
      </thead>
      <tbody>
        <tr class="cursor-pointer"
          *ngFor="let TItem of MerchantsList_Config.Data  | paginate: { id: 'MerchantsList_Paginator',itemsPerPage: MerchantsList_Config.PageRecordLimit, currentPage: MerchantsList_Config.ActivePage,  totalItems: MerchantsList_Config.TotalRecords }">
          <td>
            <div class="tx-14">{{ _HelperService.GetDateS(TItem.CreatedDate) ||"--/--/----"}} </div>
          </td>
          <td>
            <div class="tx-14">{{_HelperService.GetTimeS(TItem.CreatedDate) || "--:--"}} </div>
          </td>
          <td>
            <div class="tx-14"> <span class=" text-sm mg-r-2"
                [innerHtml]="_HelperService.AppConfig.CurrencySymbolText"></span>
              {{TItem.ActualPrice || "0" | number: "1.2-2"}}
            </div>
          </td>
          <td>
            {{TItem.TransactionId || "--"}}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="card-footer pd-20">
    <span class="mr-3">
      {{ 'Common.Showing' | translate }}
      <span class="bold">{{MerchantsList_Config.ShowingStart}} {{ 'Common.To' | translate }}
        {{MerchantsList_Config.ShowingEnd}}
      </span> {{ 'Common.Of' | translate }} {{MerchantsList_Config.TotalRecords}}
    </span>
    <span>
      {{ 'Common.Show' | translate }}
      <select class="wd-50 " [(ngModel)]="MerchantsList_Config.PageRecordLimit"
        (ngModelChange)="MerchantsList_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.Limit)">
        <option [ngValue]="TItem" *ngFor="let TItem of _HelperService.AppConfig.ListRecordLimit">
          {{TItem}}
        </option>
      </select>
    </span>
    <span class="float-right">
      <pagination-controls id="MerchantsList_Paginator" class="pagination pagination-space"
        (pageChange)="MerchantsList_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.Page)"
        nextLabel="{{ 'Common.Next' | translate }}" previousLabel="{{ 'Common.Previous' | translate }}">
      </pagination-controls>
    </span>
  </div>
</div>


<div id="Pay_subscription_Modal" class="modal fade" tabindex="-1" data-backdrop="true" aria-hidden="true"
  style="overflow-y: scroll !important;">
  <div class="modal-dialog modal-dialog-centered dropdown custom-modal-subscription">
    <div class="modal-content">
      <div class="modal-header">
        <span class="modal-title tx-semibold" style="color:#303F9F ; font-size: 20px;">Pay Subscription</span>
      </div>

      <div class="modal-body pd-20">
        <div class="pd-l-0 mb-2">
          <div class="d-flex">
            <div>
              <i class="fa-solid fa-shop mt-2" style="font-size: 50px; color: #303F9F;"></i>
            </div>
            <div class="ml-2">
              <div class="fs-20">ThankUCash Loyalty</div>
              <div class="text-muted mt-n1">Store plan</div>
              <div>
                <h4><span class=" text-sm mg-r-2"
                    [innerHtml]="_HelperService.AppConfig.CurrencySymbolText"></span>50,000</h4>
              </div>
            </div>
          </div>
          <div class="mt-3">
            Best suited for both Single and Multi-Store businesses. Manage ALL your stores’ Loyalty needs from <br/> a single
            platform. Manage Access level for each store. Add unlimited Cashiers and POS per store.<br/>
            And so much more!
          </div>

          <div class="mt-3 text-muted mb-2">
            We charge a Monthly Subscription Fee of <span class=" text-sm mg-r-2"
              [innerHtml]="_HelperService.AppConfig.CurrencySymbolText"></span>50,000 per store on every 1st day of
            month.
          </div>
          <div class="mb-3">
            <label class="form-label">Number of Stores</label>
            <input type="text" class="form-control" [(ngModel)]="_NumberOfStores"
              (keypress)="_HelperService.OnlyNumberKey($event)">
          </div>
          <div class="mb-2">
            <label class="form-label">Subscription Fees</label>
            <div class="input-group mb-3">
              <span class="input-group-text">
                <span class=" text-sm mg-r-2" [innerHtml]="_HelperService.AppConfig.CurrencySymbolText"></span>
              </span>
              <input type="text" class="form-control" disabled
                value="{{(50000 * _NumberOfStores)  | number: '1.2-2' }}">
            </div>
          </div>
          <div class="mb-3 mt-n2 text-muted">
            Subscription fee from <span class="text-dark">{{dateRange}}</span> charged on prorata basis
          </div>
          <!-- <div class="mb-3">
            <label> Stores <span class="text-danger">*</span></label>
            <select2 class="full-width" [options]="Select2Options_Multiple" [value]="SelectedBusinessCategories"
              [data]="S2BusinessCategories" (valueChanged)="CategoriesSelected($event)">
            </select2>
          </div> -->
          <label class="form-label">Current Month Subscription fees</label>
          <div class="input-group mb-3">
            <span class="input-group-text">
              <span class=" text-sm mg-r-2" [innerHtml]="_HelperService.AppConfig.CurrencySymbolText"></span>
            </span>
            <input type="text" class="form-control" disabled
              value="{{(monthlyAmount * _NumberOfStores) || '0' | number: '1.2-2' }}">
          </div>

        </div>
        <!-- <div class="col-md-12 pd-l-0">

          <div style="font-size: 16px;color: #3B4863;margin-top: 16px;
          font-weight: 500;">
            Subscription Details
          </div>

        </div> <div style="position: fixed; bottom:0%; margin-top: -2.5em ;"
              class="card-footer d-flex justify-content-end pd-l-35 full-width">

        <div class="col-md-12 pd-l-0 d-flex tx-14 text-secondary mg-t-10">
          <div class="col-md-5 pd-l-0">
            Subscription fee
          </div>
          <div class="col-md-2"> : </div>
          <div class="col-md-5 text-right"><span class=" text-sm mg-r-2"
              [innerHtml]="_HelperService.AppConfig.CurrencySymbolText"></span>50,000</div>
        </div>
        <div class="col-md-12 pd-l-0 d-flex mg-t-15 text-secondary">
          <div class="col-md-5 pd-l-0">
            Number of Store(s)
          </div>
          <div class="col-md-2"> : </div>
          <div class="col-md-5 text-right"> {{SelectedBusinessCategories.length}}</div>
        </div>
        <div class="col-md-12 pd-l-0 d-flex mg-t-15 text-secondary">
          <div class="col-md-5 pd-l-0">
            Processing fee
          </div>
          <div class="col-md-2"> : </div>
          <div class="col-md-5 text-right"> 0</div>
        </div>
        <div class="col-md-12 pd-l-0 d-flex mg-t-15 text-secondary">
          <div class="col-md-5 pd-l-0">
            Total
          </div>
          <div class="col-md-2"> : </div>
          <div class="col-md-5 text-right"><span class=" text-sm mg-r-2"
              [innerHtml]="_HelperService.AppConfig.CurrencySymbolText"></span>
            {{(50000 * SelectedBusinessCategories.length) || "0" | number: "1.2-2"}}
          </div>
        </div> -->
      </div>
      <div class="modal-footer">
        <button id="paystackCheckout" angular4-paystack [currency]="_HelperService.AppConfig.CurrencyNotation" [key]="_HelperService.AppConfig.PayStackKey"
          [email]="_HelperService.User.EmailAddress" [amount]="(monthlyAmount * _NumberOfStores) * 100"
          class="btn btn-sm" [ref]="_TransactionReference" (close)="paymentCancel()" (callback)="paymentDone($event)"
          data-dismiss="modal" style="background-color: #303F9F;float: right ; color: white;">
          Pay Subscription
        </button>
      </div>
    </div>
  </div>
</div>

<div id="subscription_Modal" class="modal fade" tabindex="-1" data-backdrop="true" aria-hidden="true"
  style="overflow-y: scroll !important;">
  <div class="modal-dialog modal-dialog-centered dropdown ">
    <div class="modal-content">
      <div class="modal-header">
        <span class="modal-title tx-semibold" style="color:#303F9F ; font-size: 20px;">Assign Store</span>
      </div>
      <div class="modal-body pd-20">
        <form>
          <div class="bd-b-0 ">
            <!-- <div class="card-header bd-0">
              <div class="d-flex justify-content-between">
                <h3 class="tx-roboto tx-bold tx-lg-24 tx-sm-8 pd-l-0"> Manage Subscription</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="unclick()">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
            </div> -->
            <div class="p-lg pd-l-15">
              <div class="tab-content pd-x-20 bd-t-20 " id="myTabContent">
                <div class="tab-pane fade show active" id="Business" role="tabpanel" aria-labelledby="home-tab">
                  <div class="row">
                    <div class="col-md-12" style="padding-left: 0px;
                    ">
                      <!-- <div class="col-md-6">
                        <h6>Used Store : <span>{{MerchantsList_Config.ActiveSubscription}}</span></h6>
                      </div>
                      <div class="col-md-6">
                        <h6>Unused Store : <span>{{allStores.length}}</span></h6>
                      </div> -->
                    </div>
                  </div>
                  <div class="row" style="    margin-top: 10px;
                  height: 300px;
                  overflow-y: auto;
              ">
                    <div class="col-md-12">
                      <div>
                        <h5>Select Stores</h5>
                      </div>
                      <div style="margin-top: 10px;" *ngIf="allStores.length > 0">
                        <div class="form-group" *ngFor="let store of allStores" style="margin-bottom: 10px;">
                          <div class="form-check">
                            <input class="form-check-input" type="checkbox" (change)="changeValue($event,store)">
                            <label class="form-check-label" for="store">
                              {{store.text}}
                            </label>
                          </div>
                        </div>
                      </div>
                      <div style="margin-top: 10px;" *ngIf="allStores.length == 0">
                        <div>
                          There is no unused stores
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="card-footer d-flex justify-content-end pd-l-35 full-width">
              <div>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">
                  {{ "Common.Close" | translate }}
                </button>&nbsp;
                <button type="submit" class="btn btn-primary" [disabled]="storeArr.length == 0 || allStores.length == 0"
                  (click)="updateSubscriptionStore()">
                  <span [hidden]="_HelperService.IsFormProcessing">
                    {{ "Common.Save" | translate }}
                  </span>
                  <span [hidden]="!_HelperService.IsFormProcessing">
                    <i class="{{ 'Common.SpinnerIcon' | translate }}"></i>
                    {{ "Common.PleaseWait" | translate }}...
                  </span>
                </button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>