<form [formGroup]="addBusinessLocationForm">

  <div class="agm position-relative">
    <div class="hcx-locator">
      <input type="text" name="GAddress" maxlength="256" class="form-control hcx-locator-input"
        ngx-google-places-autocomplete [ngModel]="data.MapAddress"
        placeholder="Enter location and pin your location on map"
        (onAddressChange)="HCXLocManager_AddressChange($event)" [ngModelOptions]="{standalone: true}">
      <div id="mapMoveHere"></div>
    </div>
    <agm-map style="height:260px;" [zoom]="12" [latitude]="data.Latitude" [longitude]="data.Longitude"
      [streetViewControl]="false">
      <agm-marker [latitude]="data.Latitude" [longitude]="data.Longitude" [markerDraggable]="data.draggable"
        (dragEnd)="markerDragEnd($event)">
      </agm-marker>
    </agm-map>
  </div>

  <div class="addressdetails mt-4 mb-2">
    <div class="row">

      <div class="col-12">
        <div class="form-group">
          <label class="form-label formlabels fw-500 tx-14 line-16">
            Detailed Address<span class="text-danger">*</span>
          </label>
          <textarea type="text" name="streetAddress" placeholder="Address" rows="3" maxlength="256" class="form-control"
            [formControl]="addBusinessLocationForm.controls['streetAddress']"></textarea>
          <label class="text-danger form-label formlabels fw-500 tx-10 line-16" for="streetAddress"
            *ngIf="addBusinessLocationForm.controls['streetAddress'].hasError('required') && addBusinessLocationForm.controls['streetAddress'].touched">
            Enter Street Address
          </label>
          <label class="text-danger form-label formlabels fw-500 tx-10 line-16" for="streetAddress"
            *ngIf="addBusinessLocationForm.controls['streetAddress'].hasError('minlength') || addBusinessLocationForm.controls['streetAddress'].hasError('maxlength')">
            Enter Valid Street Address </label>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <div class="form-group" *ngIf="!ShowState">
          <label for="" class="form-label formlabels fw-500 tx-14 line-16">State<span class="text-danger">*</span></label>
          <div class="controls">
            <span class="input-group-text">Select State</span>
          </div>
        </div>
        <div class="form-group" *ngIf="ShowState">
          <label for="" class="form-label formlabels fw-500 tx-14 line-16">State<span class="text-danger">*</span></label>
          <select2 class="full-width" [value]="data.StateId" [data]="HCXLocManager_S2States_Data"
            (valueChanged)="HCXLoc_Manager_StateSelected($event)" [options]="HCXLocManager_S2States_Option">
          </select2>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group" *ngIf="!ShowCity">
          <label for="" class="form-label formlabels fw-500 tx-14 line-16">City<span class="text-danger">*</span></label>
          <div class="controls">
            <span class="input-group-text">Select City</span>
          </div>
        </div>
        <div class="form-group" *ngIf="ShowCity">
          <label for="" class="form-label formlabels fw-500 tx-14 line-16">City<span class="text-danger">*</span></label>
          <select2 class="full-width" [value]="data.CityId" [options]="HCXLoc_Manager_City_Option"
            (valueChanged)="HCXLoc_Manager_City_Change($event)">
          </select2>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="form-group">
          <label for="" class="form-label formlabels fw-500 tx-14 line-16">Country</label>
          <!-- <select class="form-control" disabled>
            <option *ngFor="let Item of Countries" [selected]="Item.ReferenceId==1" [value]="Item.ReferenceId">
              <span><img [src]="Item.IconUrl" [alt]="Item.Name"></span> {{Item.Name}}</option>
          </select> -->
          <select2 class="full-width" [value]="data.CountryId" [options]="HCXLocManager_S2Country_Option">
          </select2>
        </div>
      </div>
    </div>
  </div>

  <div class="modal-footer bd-t-0 mt-n3">
    <button type="button" class="btn btn-block btn-primary  tx-14 darkBlueBtn" (click)="HCXLoc_Manager_Validator()">
      <span *ngIf="!_HelperService.IsFormProcessing">
        Add Business Location
      </span>
      <span *ngIf="_HelperService.IsFormProcessing">
        <i class="fa fa-spinner fa-pulse fa-fw"></i>
        Please wait....
      </span>
    </button>
  </div>
</form>