.formlabels {
    color: rgba(27, 46, 75, 0.9);
}


.darkBlueBtn {
    background-color: #303F9F;
    color: #FFFFFF;
}


.darkBlueBtn:hover {
    background-color: #1D265F;
}

.hcx-locator {
    position: absolute;
    z-index: 1;
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 12px;
    width: 90%;
}