<!-- acquirer--stores--details -->
<ol class="breadcrumb df-breadcrumbs mg-b-10">
    <li class="breadcrumb-item" [routerLinkActive]="['active']"><a
            routerLink="{{ _HelperService.AppConfig.Pages.ThankUCash.Dashboard.Merchant}}"
            [routerLinkActive]="['active']"> Dashboard</a></li>
    <li class="breadcrumb-item"><a routerLink="{{ _HelperService.AppConfig.Pages.ThankUCash.PanelMerchant.GiftPoints.Dashboard}}" class="cursor-pointer">Gift Points</a></li>
    <li class="breadcrumb-item" [routerLinkActive]="['active']"><a class="text-primary" [routerLinkActive]="['active']">Transaction & History
        </a></li>
</ol>

<div class="card  pd-x-20 pd-b-20 pd-t-10 mt-3 RouteCard" style="border-bottom: 0px !important;">
    <ul class="nav nav-line d-flex justify-content-between" id="myTab5" role="tablist">
        <div class="d-flex flex-wrap">
            <li class="nav-item cursor-pointer" [routerLinkActive]="['active']">
                <a class="nav-link" id="home-tab5" data-toggle="tab" [routerLinkActive]="['active']"
                    routerLink="{{_HelperService.AppConfig.Pages.ThankUCash.PanelMerchant.GiftPoints.Reward}}"
                    role="tab" aria-controls="home" aria-selected="true">Reward History</a>
            </li>
            <li class="nav-item cursor-pointer" [routerLinkActive]="['active']">
                <a class="nav-link" id="home-tab5" data-toggle="tab" [routerLinkActive]="['active']"
                    routerLink="{{_HelperService.AppConfig.Pages.ThankUCash.PanelMerchant.GiftPoints.Redeem}}"
                    role="tab" aria-controls="home" aria-selected="true">Redeemed Transactions</a>
            </li>

            <li class="nav-item cursor-pointer" [routerLinkActive]="['active']">
                <a class="nav-link" id="home-tab5" data-toggle="tab" [routerLinkActive]="['active']"
                    routerLink="{{_HelperService.AppConfig.Pages.ThankUCash.PanelMerchant.GiftPoints.History}}"
                    role="tab" aria-controls="home" aria-selected="true">Balance History</a>
            </li>
        </div>

        <!-- <div class="row  d-flex no-gutters pd-r-10">
            <div class=" col-sm-12 col-md-6 d-flex mg-md-t-0 mg-t-10" *ngIf="_HelperService.ShowDateRange">
                <div class=" order-1">
                    <input type="text" style="height: 30px;" class="form-control tx-13 form-daterangepicker"
                        name="daterangeInput" daterangepicker [options]="_HelperService.AppConfig.DatePickerOptions"
                        (selected)="_HelperService.SetDateRange($event)" />
                </div>
            </div>


            <div class="col-md-6 col-sm-12 btn-group mg-md-t-0 mg-t-10" style="height: 30px;" data-toggle="buttons"
                *ngIf="_HelperService.ShowDateRange">
                <label class="btn btn-xs pb-0 mb-0 tx-13   d-flex align-items-center  {{_HelperService.CheckMode == 'dark' ? 'btn-dark' : 'btn-white' }}"
                    (click)="_HelperService.ToogleRange('A')">
                    <input type="radio" name="options" style="display: none;" checked>
                    <span class="tx-13 mg-b-5"> Month </span>
                </label>
                <label class="btn btn-xs  pb-0 mb-0 tx-13 d-flex align-items-center  {{_HelperService.CheckMode == 'dark' ? 'btn-dark' : 'btn-white' }}"
                    (click)="_HelperService.ToogleRange('B')">
                    <input class="tx-13" type="radio" name="options" style="display: none;">
                    <span class="tx-13 mg-b-5">Week</span>
                </label>
                <label class="btn pb-0 mb-0 btn-xs tx-13  active  d-flex align-items-center  {{_HelperService.CheckMode == 'dark' ? 'btn-dark' : 'btn-white' }}"
                    (click)="_HelperService.ToogleRange('C')">
                    <input class="tx-13" type="radio" name="options" style="display: none;">
                    <span class="tx-13 mg-b-5"> Day </span>
                </label>
            </div>

        </div> -->

    </ul>
</div>

<router-outlet></router-outlet>
