<!-- acquirer--stores--details -->
<ol class="breadcrumb df-breadcrumbs mg-b-10">
    <!-- <li class="breadcrumb-item" [routerLinkActive]="['active']"><a
            routerLink="{{ _HelperService.AppConfig.Pages.ThankUCash.Dashboard.Merchant}}"
            [routerLinkActive]="['active']"> Dashboard</a></li> -->
    <li class="breadcrumb-item" [routerLinkActive]="['active']"><a class="cursor-pointer"
            (click)="_Router.navigateByUrl('/m/settings/stores')">Stores</a></li>
    <li class="breadcrumb-item" [routerLinkActive]="['active']"><a class="text-primary"
            [routerLinkActive]="['active']">Store Details
        </a></li>
</ol>


<div id="accordion">
    <div class="card shadow-none gredientBorder">
        <div class="card-header bd-b-0" id="headingOne">

            <div class="row ">
                <div class="col-sm-12 col-md-12 col-lg-1 d-flex">
                    <div class="media m-auto align-sm-items-center">
                        <div class="avatar avatar-xl" [hidden]="!isLoaded"><img
                                [style.border-color]="_StoreDetails.StatusC"
                                (error)="_HelperService.defaultImage($event)" src="{{_StoreDetails.IconUrl}}"
                                class="rounded-circle bd bd-2" alt=""> </div>
                        <div class="placeholder-media wd-100p wd-sm-55p wd-md-45p" [hidden]="isLoaded">
                            <div class="line"></div>
                        </div>
                    </div><!-- media -->
                </div>

                <div class="col-sm-12 col-md-12 col-lg-5 d-md-flex d-lg-flex Hm-AlignCenter Hm-media768">
                    <div class="media  Hm-textCenterMd" [hidden]="!isLoaded">
                        <div class="media-body">
                            <h6 class="tx-20 tx-lg-24 tx-spacing--1 tx-medium text-capitalize  mg-b-2">
                                {{ _StoreDetails.DisplayName || "--"}}</h6>
                            <div class="d-flex mg-b-5">

                                <div class="d-md-flex d-lg-flex Hm-AlignCenter align-items-baseline">
                                    <h2 class="tx-14 tx-lg-14 tx-color-03 tx-normal   lh-2 mg-b-0 d-flex">
                                        <span class="mg-r-5 tx-color-03"> <i style="height: 18px; width: 18px;;"
                                                data-feather="phone"></i> </span> <span class="text-primary">
                                           +234 {{ _StoreDetails.ContactNumber || "--"}}</span>
                                    </h2>
                                </div>
                                <div class="d-md-flex d-lg-flex Hm-AlignCenter align-items-baseline mg-l-15">
                                    <h2 class="tx-14 tx-lg-14 tx-color-03 tx-normal   lh-2 mg-b-0 d-flex">
                                        <span class="mg-r-5 tx-color-03"> <i style="height: 18px; width: 18px;;"
                                                data-feather="mail"></i> </span> <span class="text-primary">
                                            {{_StoreDetails.EmailAddress || "--"}}</span>
                                    </h2>
                                </div>

                            </div>
                            <div class="d-md-flex d-lg-flex Hm-AlignCenter align-items-baseline">
                                <h2 class="tx-14 tx-lg-14 tx-dark tx-normal  lh-2 mg-b-0 d-flex">
                                    <span class="text-secondary mg-r-5"> <i style="height: 18px; width: 18px;;"
                                            data-feather="map-pin"></i> </span>
                                    <span>{{_StoreDetails.Address || "--"}}</span>
                                </h2>
                            </div>
                        </div><!-- media-body -->
                    </div><!-- media -->
                    <div class="placeholder-paragraph wd-100p wd-sm-55p wd-md-45p" [hidden]="isLoaded">
                        <div class="line"></div>
                    </div>
                </div>
                <div class="col-lg-6 Hm-media768 " id="StoresHide">
                    <div class="row">
                        <div class="col-sm-12 col-md-6 col-lg-6">
                            <div class="row flex-nowrap">

                                <!-- <div class="col-sm-6 col-md-6 col-lg-6">
                                    <div class=" text-center stores">
                                        <div class="text-center">
                                            <h3 class=" tx-40  tx-rubik tx-verve mg-b-5 mg-r-5 lh-1">
                                                {{_StoreDetails.RewardPercentage || "--"}}</h3>
                                        </div>
                                        <p class="tx-12 tx-color-03 mg-b-0 "> Rewards</p>
                                    </div>
                                </div> -->

                                <div class="col-sm-6 col-md-6 col-lg-6">
                                    <div class=" text-center stores">
                                        <div class="text-center">
                                            <h3 class=" tx-40  tx-rubik tx-verve mg-b-5 mg-r-5 lh-1">
                                                {{_StoreDetails.Cashiers |number:"1.0-0" || "--"}}
                                            </h3>
                                        </div>
                                        <p class="tx-12 tx-color-03 mg-b-0 "> Cashiers</p>
                                    </div>
                                </div>

                                <div class="col-sm-6 col-md-6 col-lg-6">
                                    <div class=" text-center Terminals">
                                        <div class="text-center">
                                            <h3 class=" tx-40 tx-rubik tx-teal mg-b-5 mg-r-5 lh-1 ">
                                                {{_StoreDetails.Terminals}}</h3>
                                        </div>
                                        <p class="tx-12 tx-color-03 mg-b-0"> POS Terminals</p>

                                    </div>

                                </div>


                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-6 col-lg-6 d-flex Hm-media768 justify-content-end">
                            <div class="row">
                                <div class="manageButton mg-t-0 pd-t-0">
                                    <button type="button" (click)="ShowOffCanvas()"
                                        class="btn btn-xs btn-transparent tx-color-03 bd bd-secondary rounded-pill">Manage
                                        Store</button>
                                </div>

                                <div class="collapseButton">
                                    <button (click)="ToogleExpandedView();HideStoreDetail()" class="btn  btn-link"
                                        data-toggle="collapse" data-target="#collapseOne" aria-expanded="false"
                                        aria-controls="collapseOne">
                                        <div class="tx-15 tx-lg-18 lh-0 tx-color-03"><i class="fas fa-chevron-down"
                                                [class.clicked]="ExpandedView"></i>
                                        </div>
                                    </button>
                                </div>

                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
            <div class="card-body pt-0">
                <div class="row">
                    
                    <div class="col-lg-1">

                    </div>
                    <div class="col-lg-11">
                        <div class="row">


                            <div class="col-sm-12 col-md-6 col-lg-6">
                                <agm-map class="Hm-height ht-100p" [zoom]="14" [styles]="_HelperService.darkStyle"
                                    [latitude]="_StoreDetails.AddressComponent.Latitude" [longitude]="_StoreDetails.AddressComponent.Longitude">
                                    <agm-marker [latitude]="_StoreDetails.AddressComponent.Latitude"
                                        [longitude]="_StoreDetails.AddressComponent.Longitude"></agm-marker>
                                </agm-map>
                            </div>

                            <div class="col-sm-12 col-md-6  col-lg-6">
                                <div class="row">
                                    <div class="col-sm-12 col-md-6  col-lg-6 Hm-media768">
                                        <label class="tx-12 tx-medium text-uppercase tx-color-01 mg-b-15">Added On
                                        </label>
                                        <ul class="list-unstyled profile-info-list">

                                            <li class="tx-color-03"><i data-feather="calendar"></i>
                                                <a>{{_StoreDetails.CreateDate || "--"}}</a>
                                            </li>

                                        </ul>
                                        <label class="tx-12 tx-medium text-uppercase tx-color-01 mg-b-15">Last Update
                                            info 
                                        </label>
                                        <ul class="list-unstyled profile-info-list">

                                            <li class="tx-color-03"><i data-feather="calendar"></i>
                                                <a>{{_StoreDetails.ModifyDateS || "--"}}</a>
                                            </li>
                                            <li class="tx-color-03"><i data-feather="user"></i>
                                                <a>{{_StoreDetails.ModifyByDisplayName || "--"}}</a>
                                            </li>

                                        </ul>

                                    </div>
                                    <div class=" col-sm-12 col-md-6  col-lg-6 Hm-media768">
                                        <label class="tx-12 tx-medium text-uppercase tx-color-01 mg-b-15">Store Manager

                                        </label>
                                        <ul class="list-unstyled profile-info-list">
                                            <li class="tx-color-03"><i data-feather="user"></i> <span
                                                    class="tx-color-03 Word-break">{{_StoreContactPerson.FirstName ||
                                                    "--"}}
                                                    {{_StoreContactPerson.LastName || "--"}}</span>
                                            </li>
                                            <li class="tx-color-03"><i data-feather="smartphone"></i> <a
                                                    class="tx-color-03">{{_StoreContactPerson.MobileNumber || "--"}}</a>
                                            </li>
                                            <li class="tx-color-03"><i data-feather="mail"></i>
                                                <a class="Word-break">{{_StoreContactPerson.EmailAddress || "--"}}</a>
                                            </li>
                                        </ul>

                                    </div>
                                    <label class="tx-12 tx-medium text-uppercase tx-color-01 mg-b-15 mg-l-15">Business Category
                                    </label>
                                    <div class="col-lg-12 Hm-media768">
                                        <!-- <div class="d-inline justify-content-between"
                                            *ngFor="let catagories of _StoreDetails['Categories']">
                                            <button type="button"
                                                class="btn btn-xs  tx-color-03 btn-transparent bd bd-primary rounded-pill mg-r-10">{{catagories.Name || "--"}}</button>

                                        </div> -->
                                        <div class="d-inline justify-content-between"
                                            *ngFor="let catagories of _StoreDetails['Categories']">
                                            <button type="button" disabled
                                                class="btn btn-xs b-a r-2x bd bd-gray-500 tx-dark rounded-50  mr-2 mb-2 px-2 py-1 text-warn text-sm float-left">{{catagories.Name}}</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row Hm-media768 d-block d-sm-none">
                    <div class="col-sm-12 col-md-6 col-lg-6">
                        <div class="row flex-nowrap">

                            <div class="col-sm-6 col-md-6 col-lg-6">

                                <div class=" text-center stores">
                                    <div class="text-center">
                                        <h3 class=" tx-40 tx-rubik  tx-verve mg-b-5 mg-r-5 lh-1">
                                            {{_StoreDetails.RewardPercentage || "--"}}</h3>
                                    </div>
                                    <p class="tx-12 tx-color-03 mg-b-0 "> Rewards</p>
                                </div>
                            </div>

                            <div class="col-sm-6 col-md-6 col-lg-6">
                                <div class=" text-center Terminals">
                                    <div class="text-center">
                                        <h3 class=" tx-40 tx-rubik  tx-teal mg-b-5 mg-r-5 lh-1 ">
                                            {{_StoreDetails.Terminals || "--"}}</h3>
                                    </div>
                                    <p class="tx-12 tx-color-03 mg-b-0"> POS Terminals</p>

                                </div>

                            </div>


                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-6 col-lg-6 d-flex Hm-media768 justify-content-end">
                        <div class="row">
                            <div class="manageButton mg-t-0 pd-t-0">
                                <button type="button" (click)="ShowOffCanvas()"
                                    class="btn btn-xs btn-transparent tx-color-03 bd bd-secondary rounded-pill">Manage
                                    Store</button>
                            </div>

                            <div class="collapseButton">
                                <button (click)="ToogleExpandedView();ShowStoreDetail()" class="btn  btn-link"
                                    data-toggle="collapse" data-target="#collapseOne" aria-expanded="false"
                                    aria-controls="collapseOne">
                                    <div class="tx-15 tx-lg-18 lh-0 tx-color-03"><i class="fas fa-chevron-down"
                                            [class.clicked]="ExpandedView"></i>
                                    </div>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="card bd-b-0 pd-x-20 pd-b-20 pd-t-10 mt-3 RouteCard" style="border-bottom: 0px !important;">
    <ul class="nav nav-line d-flex justify-content-between" id="myTab1" role="tablist">
        <div class="d-flex flex-wrap">

            <!-- <li class="nav-item cursor-pointer" [routerLinkActive]="['active']">
                <a class="nav-link" id="home-tab5" data-toggle="tab" [routerLinkActive]="['active']"
                    routerLink="{{_HelperService.AppConfig.Pages.ThankUCash.PanelMerchant.Store.Dashboard}}/{{this._HelperService.AppConfig.ActiveReferenceKey}}/{{ this._HelperService.AppConfig.ActiveReferenceId}}"
                    role="tab" aria-controls="home" aria-selected="true">Transactions</a>
            </li> -->
            <li class="nav-item cursor-pointer" [routerLinkActive]="['active']">
                <a class="nav-link" id="profile-tab5" data-toggle="tab" [routerLinkActive]="['active']"
                    routerLink="{{_HelperService.AppConfig.Pages.ThankUCash.PanelMerchant.Store.SalesHistory}}/{{this._HelperService.AppConfig.ActiveReferenceKey}}/{{ this._HelperService.AppConfig.ActiveReferenceId}}"
                    role="tab" aria-controls="profile" aria-selected="false">Transactions</a>
            </li>
            <li class="nav-item cursor-pointer" [routerLinkActive]="['active']">
                <a class="nav-link" id="contact-tab5" data-toggle="tab" [routerLinkActive]="['active']"
                    routerLink="{{_HelperService.AppConfig.Pages.ThankUCash.PanelMerchant.Store.Cashiers}}/{{this._HelperService.AppConfig.ActiveReferenceKey}}/{{ this._HelperService.AppConfig.ActiveReferenceId}}"
                    role="tab" aria-controls="contact" aria-selected="false">Cashiers</a>
            </li>
            <li class="nav-item cursor-pointer" [routerLinkActive]="['active']">
                <a class="nav-link" id="contact-tab5" data-toggle="tab" [routerLinkActive]="['active']"
                    routerLink="{{_HelperService.AppConfig.Pages.ThankUCash.PanelMerchant.Store.Terminals}}/{{this._HelperService.AppConfig.ActiveReferenceKey}}/{{ this._HelperService.AppConfig.ActiveReferenceId}}"
                    role="tab" aria-controls="contact" aria-selected="false">Terminals</a>
            </li>

        </div>
        <!-- <li class="nav-item">
        <a class="nav-link" id="contact-tab5" data-toggle="tab" href="#contact5" role="tab" aria-controls="contact" aria-selected="false">Stores</a>
      </li>      <li class="nav-item">
        <a class="nav-link" id="contact-tab5" data-toggle="tab" routerLink="{{ _HelperService.AppConfig.Pages.ThankUCash.PanelAcquirer.Merchant.SalesHistory}}/{{ _HelperService.AppConfig.ActiveReferenceKey}}/{{ _HelperService.AppConfig.ActiveReferenceId}}" role="tab" aria-controls="contact" aria-selected="false">History</a>
      </li> -->
        <div class="row  d-flex no-gutters pd-r-10">
            <div class=" col-sm-12 col-md-6 d-flex mg-md-t-0 mg-t-10" *ngIf="_HelperService.ShowDateRange">
                <div class=" order-1">
                    <input type="text" style="height: 30px;" autocomplete="off"
                        class="form-control tx-13 form-daterangepicker" name="daterangeInput" daterangepicker
                        [options]="_HelperService.AppConfig.DatePickerOptions"
                        (selected)="_HelperService.SetDateRange($event)" />
                </div>
            </div>
            <div class="col-md-6 col-sm-12 btn-group mg-md-t-0 mg-t-10" style="height: 30px;" data-toggle="buttons"
                *ngIf="_HelperService.ShowDateRange">
                <label
                    class="btn btn-xs pb-0 mb-0 tx-13   d-flex align-items-center  {{_HelperService.CheckMode == 'dark' ? 'btn-dark' : 'btn-white' }}"
                    (click)="_HelperService.ToogleRange('A')">
                    <input type="radio" name="options" style="display: none;" checked>
                    <span class="tx-13 mg-b-5"> Month </span>
                </label>
                <label
                    class="btn btn-xs  pb-0 mb-0 tx-13 d-flex align-items-center  {{_HelperService.CheckMode == 'dark' ? 'btn-dark' : 'btn-white' }}"
                    (click)="_HelperService.ToogleRange('B')">
                    <input class="tx-13" type="radio" name="options" style="display: none;">
                    <span class="tx-13 mg-b-5">Week</span>
                </label>
                <label
                    class="btn pb-0 mb-0 btn-xs tx-13  active  d-flex align-items-center  {{_HelperService.CheckMode == 'dark' ? 'btn-dark' : 'btn-white' }}"
                    (click)="_HelperService.ToogleRange('C')">
                    <input class="tx-13" type="radio" name="options" style="display: none;">
                    <span class="tx-13 mg-b-5"> Day </span>
                </label>
            </div>

        </div>


    </ul>
</div>


<router-outlet></router-outlet>
<div class="off-canvas off-canvas-overlay off-canvas-right" #offCanvas style="width: 480px !important;">
    <div class="off-canvas-content">
        <div id="Form_EditUser_Content" class="off-canvas-body">
            <form [formGroup]="FormA_EditUser" (ngSubmit)="FormA_EditUser_Process(FormA_EditUser.value)" role="form">
                <div class="card bd-b-0 ">
                    <div class="card-header bd-0">
                        <div class="d-flex justify-content-between">
                            <h3 class="tx-roboto tx-bold tx-lg-24 tx-sm-8 pd-l-0"> Manage Store </h3>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"
                                (click)="unclick()">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>

                        <ul class="nav nav-line" id="myTab" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="home-tab" data-toggle="tab" href="#Business" role="tab"
                                    aria-controls="home" aria-selected="true">Business Info</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="home-tab" data-toggle="tab" href="#StoreManager" role="tab"
                                    aria-controls="StoreManager" aria-selected="true">Store Manager</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="contact-tab" data-toggle="tab" href="#Address" role="tab"
                                    aria-controls="contact" aria-selected="true">Address details</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" id="contact-tab" data-toggle="tab" href="#credentials" role="tab"
                                    aria-controls="contact" aria-selected="true">Credentials</a>
                            </li>
                        </ul>
                    </div>
                    <div class="card-body  p-lg pd-l-15">
                        <div class="tab-content pd-x-20 bd-t-20 " id="myTabContent">
                            <div class="tab-pane fade show active" id="Business" role="tabpanel"
                                aria-labelledby="home-tab">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label>Store Name<span class="text-danger">*</span></label>
                                            <div class="controls">
                                                <input type="text" placeholder="{{'System.Users.Name' | translate }}"
                                                    name="Name" maxlength="25" class="form-control"
                                                    [(ngModel)]="_StoreDetails.Name"
                                                    [formControl]="FormA_EditUser.controls['Name']"
                                                    [ngClass]="{'is-invalid':!FormA_EditUser.controls['Name'].valid && FormA_EditUser.controls['Name'].touched}">
                                            </div>
                                            <div class="text-xs text-muted _500"> </div>
                                            <label class="text-danger" for="Name"
                                                *ngIf="FormA_EditUser.controls['Name'].hasError('required') && FormA_EditUser.controls['Name'].touched">
                                                Enter store name
                                            </label>
                                            <label class="text-danger" for="Name"
                                                *ngIf="FormA_EditUser.controls['Name'].hasError('minlength') || FormA_EditUser.controls['Name'].hasError('maxlength')">
                                                Store name must be between 4-256 characters</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label>Store Nick Name<span class="text-danger">*</span> </label>
                                            <div class="controls">
                                                <input type="text" name="DisplayName" maxlength="256"
                                                    class="form-control"
                                                    [formControl]="FormA_EditUser.controls['DisplayName']"
                                                    [(ngModel)]="_StoreDetails.DisplayName"
                                                    [ngClass]="{'is-invalid':!FormA_EditUser.controls['DisplayName'].valid && FormA_EditUser.controls['DisplayName'].touched}">
                                            </div>
                                            <label class="text-danger" for="DisplayName"
                                                *ngIf="FormA_EditUser.controls['DisplayName'].hasError('required') && FormA_EditUser.controls['DisplayName'].touched">
                                                Enter store nick name
                                            </label>
                                            <label class="text-danger" for="DisplayName"
                                                *ngIf="FormA_EditUser.controls['DisplayName'].hasError('minlength') || FormA_EditUser.controls['DisplayName'].hasError('maxlength')">
                                                Store nick name must be between 4 - 256 characters</label>

                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label>Phone Number<span class="text-danger">*</span>
                                            </label>
                                            <div class="controls">
                                                <div class="input-group">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text">+234</span>
                                                    </div>
                                                    <input type="text" name="ContactNumber" minlength="8"
                                                        maxlength="18" class="form-control contact-textbox-height"
                                                        (keypress)="_HelperService.PreventText($event)"
                                                        [(ngModel)]="_StoreDetails.ContactNumber"
                                                        [formControl]="FormA_EditUser.controls['ContactNumber']"
                                                        [ngClass]="{'is-invalid':!FormA_EditUser.controls['ContactNumber'].valid && FormA_EditUser.controls['ContactNumber'].touched}">
                                                </div>
                                            </div>
                                            <label class="text-danger" for="ContactNumber"
                                                *ngIf="FormA_EditUser.controls['ContactNumber'].hasError('required') && FormA_EditUser.controls['ContactNumber'].touched">
                                                Enter phone number</label>
                                            <label class="text-danger" for="ContactNumber"
                                                *ngIf="FormA_EditUser.controls['ContactNumber'].hasError('minlength') || FormA_EditUser.controls['ContactNumber'].hasError('maxlength')">
                                                Phone number must be between 10 to 18 numbers
                                            </label>

                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label>Email ID<span class="text-danger">*</span>
                                            </label>
                                            <div class="controls">
                                                <input type="text" name="EmailAddress" maxlength="256"
                                                    class="form-control"
                                                    [formControl]="FormA_EditUser.controls['EmailAddress']"
                                                    [(ngModel)]="_StoreDetails.EmailAddress"
                                                    [ngClass]="{'is-invalid':!FormA_EditUser.controls['EmailAddress'].valid && FormA_EditUser.controls['EmailAddress'].touched}">
                                            </div>
                                            <label class="text-danger" for="EmailAddress"
                                                *ngIf="FormA_EditUser.controls['EmailAddress'].hasError('required') && FormA_EditUser.controls['EmailAddress'].touched">
                                                Enter email address
                                            </label>

                                            <label class="text-danger" for="EmailAddress"
                                                *ngIf="FormA_EditUser.controls['EmailAddress'].hasError('email') && FormA_EditUser.controls['EmailAddress'].touched">
                                                Enter valid email address
                                            </label>

                                        </div>

                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label>Business Categories<span class="text-danger">*</span>
                                            </label>
                                            <select2 class="full-width pd-b-5" *ngIf="ShowCategorySelector"
                                                [options]="_HelperService.Select2Options_Multiple"
                                                [value]="SelectedBusinessCategories" [data]="S2BusinessCategories"
                                                (valueChanged)="CategoriesSelected($event)">
                                            </select2>

                                            <div class="col-lg-12  no-gutters Hm-media768 mg-t-5">
                                                <div class="d-inline justify-content-between"
                                                    *ngFor="let catagory of _StoreDetails.UpdateCategories; let i = index">
                                                    <button type="button"
                                                        class="btn btn-xs b-a r-2x bd bd-gray-500 tx-dark rounded-50  mr-2 mb-2 px-2 py-1 text-warn text-sm float-left"
                                                        (click)="removeCategory(i)">{{catagory.Name}}</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="Address" role="tabpanel" aria-labelledby="contact-tab">
                                <div class="row">
                                    <div class="col-md-12">
                                        <hcx-addressmanager [data]="_Address" [config]="_AddressConfig"
                                            *ngIf="_AddressShow" (OnAddressSet)="AddressChange($event)">
                                        </hcx-addressmanager>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="StoreManager" role="tabpanel" aria-labelledby="contact-tab">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label>First Name<span class="text-danger">*</span>
                                            </label>
                                            <div class="controls">
                                                <input type="text" name="FirstName" maxlength="128" class="form-control"
                                                    [(ngModel)]="_StoreContactPerson.FirstName"
                                                    [formControl]="FormB_EditUser.controls['FirstName']"
                                                    [ngClass]="{'is-invalid':!FormB_EditUser.controls['FirstName'].valid && FormB_EditUser.controls['FirstName'].touched}">
                                            </div>
                                            <label class="text-danger" for="FirstName"
                                                *ngIf="FormB_EditUser.controls['FirstName'].hasError('required') && FormB_EditUser.controls['FirstName'].touched">{{
                                                'System.Users.FirstName_ER_Required' | translate }}</label>
                                            <label class="text-danger" for="FirstName"
                                                *ngIf="FormB_EditUser.controls['FirstName'].hasError('minlength') || FormB_EditUser.controls['FirstName'].hasError('maxlength')">{{
                                                'System.Users.FirstName_ER_Length' | translate }}</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label>Last Name<span class="text-danger">*</span>
                                            </label>
                                            <div class="controls">
                                                <input type="text" name="LastName" maxlength="128" class="form-control"
                                                    [(ngModel)]="_StoreContactPerson.LastName"
                                                    [formControl]="FormB_EditUser.controls['LastName']"
                                                    [ngClass]="{'is-invalid':!FormB_EditUser.controls['LastName'].valid && FormB_EditUser.controls['LastName'].touched}">
                                            </div>
                                            <label class="text-danger" for="LastName"
                                                *ngIf="FormB_EditUser.controls['LastName'].hasError('required') && FormB_EditUser.controls['LastName'].touched">{{
                                                'System.Users.LastName_ER_Required' | translate }}</label>
                                            <label class="text-danger" for="LastName"
                                                *ngIf="FormB_EditUser.controls['LastName'].hasError('minlength') || FormB_EditUser.controls['LastName'].hasError('maxlength')">{{
                                                'System.Users.LastName_ER_Length' | translate }}</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label>{{'System.Users.MobileNumber' | translate }}<span
                                                    class="text-danger">*</span>
                                            </label>
                                            <div class="controls input-group">
                                                <div class="input-group-prepend">
                                                    <span
                                                        class="input-group-text">{{this._HelperService.CountryCode}}</span>
                                                </div>
                                                <input type="text" name="MobileNumber" minlength="8" maxlength="14"
                                                    class="form-control" (keypress)="_HelperService.PreventText($event)"
                                                    [(ngModel)]="_StoreContactPerson.MobileNumber"
                                                    [formControl]="FormB_EditUser.controls['MobileNumber']"
                                                    [ngClass]="{'is-invalid':!FormB_EditUser.controls['MobileNumber'].valid && FormB_EditUser.controls['MobileNumber'].touched}">
                                            </div>
                                            <label class="text-danger" for="MobileNumber"
                                                *ngIf="FormB_EditUser.controls['MobileNumber'].hasError('required') && FormB_EditUser.controls['MobileNumber'].touched">{{
                                                'System.Users.MobileNumber_ER_Required' | translate }}</label>
                                            <label class="text-danger" for="MobileNumber"
                                                *ngIf="FormB_EditUser.controls['MobileNumber'].hasError('minlength') || FormB_EditUser.controls['MobileNumber'].hasError('maxlength')">{{
                                                'System.Users.MobileNumber_ER_Length' | translate }}</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label>{{ 'System.Users.EmailAddress' | translate }}<span
                                                    class="text-danger">*</span>
                                            </label>
                                            <div class="controls">
                                                <input type="text" name="CEmailAddress" maxlength="512"
                                                    class="form-control" [(ngModel)]="_StoreContactPerson.EmailAddress"
                                                    [formControl]="FormB_EditUser.controls['CEmailAddress']"
                                                    [ngClass]="{'is-invalid':!FormB_EditUser.controls['CEmailAddress'].valid && FormB_EditUser.controls['CEmailAddress'].touched}">
                                            </div>
                                            <label class="text-danger" for="CEmailAddress"
                                                *ngIf="FormB_EditUser.controls['CEmailAddress'].hasError('required') && FormB_EditUser.controls['CEmailAddress'].touched">{{
                                                'System.Users.EmailAddress_ER_Required' | translate }}</label>
                                            <label class="text-danger" for="CEmailAddress"
                                                *ngIf="FormB_EditUser.controls['CEmailAddress'].hasError('email') && FormB_EditUser.controls['CEmailAddress'].touched">{{
                                                'System.Users.EmailAddress_ER_Invalid' | translate }}</label>
                                        </div>
                                    </div>
                                </div>

                            </div>

                            <div class="tab-pane fade" id="credentials" role="tabpanel" aria-labelledby="contact-tab">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label>Username<span class="text-danger">*</span>
                                            </label>
                                            <div class="controls">
                                                <input type="text" name="Username" maxlength="128" class="form-control"
                                                    [(ngModel)]="_StoreDetails.Username"
                                                    [formControl]=" FormD_EditUser.controls['Username']">
                                            </div>
                                            <!-- <label class="text-danger" for="Username"
                                                *ngIf=" FormD_EditUser.controls['Username'].hasError('required') &&  FormD_EditUser.controls['Username'].touched">Please Enter Username</label>
                                            <label class="text-danger" for="Username"
                                                *ngIf=" FormD_EditUser.controls['Username'].hasError('minlength') ||  FormD_EditUser.controls['Username'].hasError('maxlength')">Please Enter Valid Username</label> -->
                                        </div>
                                        <div class="form-group">
                                            <label>Password<span class="text-danger">*</span>
                                            </label>
                                            <div class="controls">
                                                <input type="text" name="Password" maxlength="128" class="form-control"
                                                    [(ngModel)]="_StoreDetails.Password"
                                                    [formControl]=" FormD_EditUser.controls['Password']">
                                            </div>
                                            <!-- <label class="text-danger" for="Password"
                                                *ngIf=" FormD_EditUser.controls['Password'].hasError('required') &&  FormD_EditUser.controls['Password'].touched">Please Enter Password</label>
                                            <label class="text-danger" for="Password"
                                                *ngIf=" FormD_EditUser.controls['Password'].hasError('minlength') ||  FormD_EditUser.controls['Password'].hasError('maxlength')">Please Enter Valid Password</label> -->
                                        </div>
                                    </div>

                                </div>


                            </div>
                        </div>
                    </div>
                    <div style="position: fixed; bottom:0%; margin-top: -2.5em ;"
                        class="card-footer d-flex justify-content-between pd-l-35 full-width">
                        <div class="manageButton mg-t-0 pd-t-0 ">
                            <button *ngIf="_StoreDetails.StatusCode != 'default.blocked' " type="button"
                                (click)="BlockStore()" class="btn  btn-danger  ">Block
                                Store
                            </button>

                            <button type="button" *ngIf="_StoreDetails.StatusCode == 'default.blocked' "
                                (click)="BlockStore()" class="btn  btn-success ">Unblock
                                Store

                            </button>
                        </div>

                        <div>
                            <!-- <button type="button" class="btn btn-secondary mr-2" (click)="unclick()"> Close </button> -->
                            <button type="button" class="btn btn-secondary" data-dismiss="modal"
                                (click)="FormA_EditUser_Close()">
                                {{ "Common.Close" | translate }}
                            </button>&nbsp;
                            <button type="submit" class="btn btn-primary"
                                (click)="FormA_EditUser.value.OperationType = 'new'"
                                [disabled]=" !FormA_EditUser.valid || !FormB_EditUser.valid  || _HelperService.IsFormProcessing">
                                <span [hidden]="_HelperService.IsFormProcessing">
                                    {{ "Common.Save" | translate }}
                                </span>
                                <span [hidden]="!_HelperService.IsFormProcessing">
                                    <i class="{{ 'Common.SpinnerIcon' | translate }}"></i>
                                    {{ "Common.PleaseWait" | translate }}...
                                </span>
                            </button>
                        </div>

                    </div>
                </div>
            </form>
        </div>
    </div>
</div>


<div class="modal fade BlockPos" id="BlockPos" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 *ngIf="_StoreDetails.StatusCode != 'default.blocked'" class="modal-title">Block Store?</h5>
                <h5 *ngIf="_StoreDetails.StatusCode == 'default.blocked'" class="modal-title">Unblock Store?</h5>

                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p *ngIf="_StoreDetails.StatusCode != 'default.blocked'" type="button">Do you really want to Block
                    <span>{{_StoreDetails.DisplayName}} ?</span>
                </p>
                <p *ngIf="_StoreDetails.StatusCode == 'default.blocked'" type="button"> Do you really want to Unblock
                    <span>{{_StoreDetails.DisplayName}} ?</span>
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Cancel</button>
                <button *ngIf="_StoreDetails.StatusCode != 'default.blocked'" type="button" (click)="Block()"
                    class="btn btn-danger">Block</button>
                <button *ngIf="_StoreDetails.StatusCode == 'default.blocked'" type="button" (click)="UnBlock()"
                    class="btn btn-primary">Unblock</button>


            </div>
        </div>
    </div>
</div>