<div class="text-center mt-2">
  <button type="button" class="btn btn-primary mr-2" data-toggle="modal" data-target="#SubscriptionDetails">
    Download Template
  </button>
  <img src="assets/images/commingsoon.png" alt="comming soon" width="90%">
</div>


<div class="modal fade" id="SubscriptionDetails" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content" style="max-width: 350px;">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Pay Subscription</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <div>
          <div> We charge a Monthly Subscription Fee of N50,000 per store. </div>
          <div class="mg-t-10 text-dark tx-20"> Subscription Details</div>

          <div class="mg-t-10 row text-secondary">
            <div class="col-sm-6">Subscription fee</div>
            <div class="col-sm-6 text-right">₦50,000</div>
          </div>
          <div class="mg-t-10 row text-secondary">
            <div class="col-sm-6">Number of Store(s)</div>
            <div class="col-sm-6 text-right">50,000</div>
          </div>
          <div class="mg-t-10 row text-secondary">
            <div class="col-sm-6">Processing fee</div>
            <div class="col-sm-6 text-right">₦50,000</div>
          </div>
          <div class="mg-t-10 row text-secondary">
            <div class="col-sm-6">Total</div>
            <div class="col-sm-6 text-right text-dark">₦50,000</div>
          </div>

        </div>

        <div class="mt-4 d-flex justify-content-center ml-auto mr-auto align-items-center" style="width: 80%;">
          <button id="paystackCheckout" angular4-paystack [currency]="_HelperService.AppConfig.CurrencyNotation" [key]="_HelperService.AppConfig.PayStackKey"
            [email]="_HelperService.User.EmailAddress" [amount]="_Amount * 100" class="btn btn-primary btn-block m-auto" [ref]="_TransactionReference" (close)="paymentCancel()"
            (callback)="paymentDone($event)" data-dismiss="modal">
            Pay Subscription
          </button>
        </div>
      </div>

    </div>
  </div>
</div>