<!-- acquirer--merchants--details -->

<ol class="breadcrumb df-breadcrumbs mg-b-10"
    *ngIf="(_HelperService.showAddNewPosBtn || _HelperService.showAddNewStoreBtn || _HelperService.showAddNewCashierBtn ||_HelperService.showAddNewSubAccBtn || !_HelperService.hideAccountSetting)">
    <li class="breadcrumb-item" *ngIf="! _HelperService.hideAccountSetting" [routerLinkActive]="['active']"
        [routerLinkActiveOptions]="{exact: true}"><a class="text-primary"
            routerLink="{{_HelperService.AppConfig.Pages.ThankUCash.PanelMerchant.AccountSetting}}"
            [routerLinkActive]="['active']">
            Profile</a></li>
    <li class="breadcrumb-item" *ngIf="_HelperService.hideAccountSetting" [routerLinkActive]="['active']"
        [routerLinkActiveOptions]="{exact: true}"><a
            routerLink="{{_HelperService.AppConfig.Pages.ThankUCash.PanelMerchant.AccountSetting}}"
            [routerLinkActive]="['active']">
            Account Setting</a></li>

    <li class="breadcrumb-item active" *ngIf="_HelperService.showAddNewPosBtn && _HelperService.hideAccountSetting"
        [routerLinkActive]="['active']"><a class="text-primary" [routerLinkActive]="['active']">
            POS</a></li>
    <li class="breadcrumb-item active" *ngIf="_HelperService.showAddNewStoreBtn && _HelperService.hideAccountSetting"
        [routerLinkActive]="['active']"><a class="text-primary" [routerLinkActive]="['active']">
            Stores</a></li>
    <li class="breadcrumb-item active" *ngIf="_HelperService.showAddNewCashierBtn && _HelperService.hideAccountSetting"
        [routerLinkActive]="['active']"><a class="text-primary" [routerLinkActive]="['active']">
            Cashiers</a></li>
    <li class="breadcrumb-item active" *ngIf="_HelperService.showAddNewSubAccBtn && _HelperService.hideAccountSetting"
        [routerLinkActive]="['active']"><a class="text-primary" [routerLinkActive]="['active']">
            Managers</a></li>
</ol>
<div id="accordion" [ngClass]="{'d-none': _HelperService.hideAccountSetting}">
    <div class="card shadow-none">
        <div class="card-header bd-b-0 pb-0">
            <div class="row mx-0">
                <p class="tx-16 tx-semibold">Business information</p>
                <div class="manageButton mg-t-0 pd-t-0 ml-auto">
                    <button type="button" (click)="clicked()"
                        class="btn btn-xs btn-transparent text-secondary bd bd-secondary rounded-pill">Edit
                        Account</button>
                </div>
            </div>
            <div class="row d-flex align-items-center">
                <div class="col-sm-2 col-md-1 col-lg-1 ">
                    <div class="media m-auto align-sm-items-center">
                        <div class="avatar avatar-xl avatar-online" [hidden]="!isLoaded"><img
                                [style.border-color]="_MerchantDetails.StatusC"
                                (error)="_HelperService.defaultImage($event)" src="{{_MerchantDetails.IconUrl}}"
                                class="rounded-10 bd bd-2" alt=""> </div>
                        <div class="placeholder-media wd-100p wd-sm-55p wd-md-45p" [hidden]="isLoaded">
                            <div class="line"></div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-2 col-md-3 col-lg-3">
                    <label class="tx-color-03 tx-12 tx-semibold text-uppercase">Business Name</label>
                    <div class="tx-14">{{_MerchantDetails.DisplayName || "--"}}</div>
                </div>
                <div class="col-sm-4 col-md-4 col-lg-4">
                    <label class="tx-color-03 tx-12 tx-semibold text-uppercase">Owner Name</label>
                    <div class="tx-14">{{_MerchantDetails.OwnerName || "--"}}</div>
                </div>
                <div class="col-sm-4 col-md-4 col-lg-4">
                    <label class="tx-color-03 tx-12 tx-semibold text-uppercase">Merchant ID</label>
                    <div class="tx-14">{{_MerchantDetails.AccountCode || "--"}}</div>
                </div>
                <!-- <div class="Hm-AlignCenter Hm-media768">
                    <div class="media Hm-textCenterMd" [hidden]="!isLoaded">
                        <div class="media-body">
                            <h6 class="tx-20 tx-lg-24 tx-spacing--1 tx-medium text-capitalize  mg-b-2">
                                {{_MerchantDetails.DisplayName || "--"}}</h6>
                            <div class="d-md-flex d-lg-flex Hm-mg-y Hm-AlignCenter align-items-baseline">
                                <h2 class="tx-14 tx-lg-14 text-secondary tx-normal   lh-2 mg-b-5">
                                    <span class="mg-r-5 text-secondary"> <i style="height: 18px; width: 18px;;"
                                            data-feather="users"></i> </span> Merchant
                                    Id : <span class="text-secondary tx-medium"> {{_MerchantDetails.AccountCode ||
                                        "--"}} </span>
                                </h2>
                            </div>
                            <div class="d-md-flex d-lg-flex Hm-AlignCenter align-items-baseline">
                                <h2 class="tx-14 tx-lg-14 text-secondary tx-normal   lh-2 mg-b-0 d-flex">
                                    <span class="text-secondary mg-r-5"> <i style="height: 18px; width: 18px;;"
                                            data-feather="map-pin"></i> </span>
                                    <span>{{_MerchantDetails.Address || "--"}}</span>
                                </h2>
                            </div>
                        </div>
                    </div>
                    <div class="placeholder-paragraph wd-100p wd-sm-55p wd-md-45p" [hidden]="isLoaded">
                        <div class="line"></div>
                    </div>

                </div>
                <div class="Hm-media768" id="StoresDetails">
                    <div class="row">
                        <div class="col-sm-12 col-md-6 col-lg-6">
                            <div class="row flex-nowrap">

                                <div class="col-sm-6 col-md-6 col-lg-6">

                                    <div class=" text-center stores">
                                        <div class="text-center">
                                            <h3 class=" tx-40 tx-rubik   tx-verve mg-b-5 mg-r-5 lh-1">
                                                {{_MerchantDetails.Stores}}</h3>
                                        </div>
                                        <p class="tx-12 text-secondary mg-b-0 "> Stores</p>
                                    </div>
                                </div>
                                <div class="col-sm-6 col-md-6 col-lg-6">
                                    <div class=" text-center Terminals">
                                        <div class="text-center">
                                            <h3 class=" tx-40 tx-rubik   tx-teal mg-b-5 mg-r-5 lh-1 ">
                                                {{_MerchantDetails.Terminals}}</h3>
                                        </div>
                                        <p class="tx-12 text-secondary mg-b-0">POS Terminals,{{_MerchantDetails.Latitude}}</p>
                                            
                                    </div>

                                </div>


                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-6 col-lg-6 d-flex Hm-media768 justify-content-end">
                            <div class="row">
                                <div class="manageButton mg-t-0 pd-t-0">
                                    <button type="button" (click)="clicked()"
                                        class="btn btn-xs btn-transparent text-secondary bd bd-secondary rounded-pill">Edit
                                        Account</button>
                                </div>

                                <div class="collapseButton">
                                    <button (click)="ToogleExpandedView();HideStoreDetail()" class="btn  btn-link"
                                        data-toggle="collapse" data-target="#collapseOne" aria-expanded="false"
                                        aria-controls="collapseOne">
                                        <div class="tx-15 tx-lg-18 lh-0 text-secondary"><i class="fas fa-chevron-down"
                                                [class.clicked]="ExpandedView"></i>
                                        </div>
                                    </button>
                                </div>
                            </div>

                        </div>
                    </div>

                </div> -->
            </div>
        </div>
        <div class="card-body bd-b-0">
            <div class="row">
                <div class="col-sm-4 col-md-4 col-lg-4">
                    <label class="tx-color-03 tx-12 tx-semibold text-uppercase">Mobile Number</label>
                    <div class="tx-14">{{_MerchantDetails.ContactNumber || "--"}}</div>
                </div>
                <div class="col-sm-4 col-md-4 col-lg-4">
                    <label class="tx-color-03 tx-12 tx-semibold text-uppercase">Email Address</label>
                    <div class="tx-14">{{_MerchantDetails.EmailAddress || "--"}}</div>
                </div>
                <div class="col-sm-4 col-md-4 col-lg-4">
                    <label class="tx-color-03 tx-12 tx-semibold text-uppercase">Website Link</label>
                    <div class="tx-14">{{_MerchantDetails.WebsiteUrl || "--"}}</div>
                </div>
            </div>
            <hr />
            <p class="tx-16 tx-semibold">Contact Person Info</p>
            <div class="row pb-4">
                <div class="col-sm-6 col-md-4 col-lg-4">
                    <label class="tx-color-03 tx-12 tx-semibold text-uppercase">First Name</label>
                    <div class="tx-14">{{MerchantContactPerson.FirstName || "--"}}</div>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-4">
                    <label class="tx-color-03 tx-12 tx-semibold text-uppercase">Last name</label>
                    <div class="tx-14">{{MerchantContactPerson.LastName || "--"}}</div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 col-md-4 col-lg-4">
                    <label class="tx-color-03 tx-12 tx-semibold text-uppercase">Mobile Number</label>
                    <div class="tx-14">{{MerchantContactPerson.MobileNumber || "--"}}</div>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-4">
                    <label class="tx-color-03 tx-12 tx-semibold text-uppercase">Email Address</label>
                    <div class="tx-14">{{_MerchantDetails.EmailAddress || "--"}}</div>
                </div>
            </div>
            <hr />
            <p class="tx-16 tx-semibold">Other Info</p>
            <div class="row pb-4">
                <div class="col-sm-12 col-md-8 col-lg-8">
                    <div class="row">
                        <div class="col-sm-6 col-md-6 col-lg-6">
                            <label class="tx-color-03 tx-12 tx-semibold text-uppercase">Business Categories</label>
                            <div class="pb-5">
                                <div class="d-inline justify-content-between"
                                    *ngFor="let catagories of _MerchantDetails['Categories']">
                                    <button type="button" disabled
                                        class="btn btn-xs b-a r-2x bd bd-gray-500 tx-dark rounded-50  mr-2 mb-2 px-2 py-1 text-warn text-sm float-left">{{catagories.Name}}</button>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-6 col-lg-6">
                            <label class="tx-color-03 tx-12 tx-semibold text-uppercase">Referral code</label>
                            <div class="tx-14 pb-4">{{_MerchantDetails.ReferralCode || "--"}}</div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6 col-md-6 col-lg-6">
                            <label class="tx-color-03 tx-12 tx-semibold text-uppercase ">About Business</label>
                            <div class="tx-14">{{_MerchantDetails.Description || "--"}}</div>
                        </div>
                        <div class="col-sm-6 col-md-6 col-lg-6">
                            <label class="tx-color-03 tx-12 tx-semibold text-uppercase">Address</label>
                            <div class="tx-14">{{_MerchantDetails.Address || "--"}}</div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-4 col-lg-4 mn-ht-200">
                    <label class="tx-color-03 tx-12 tx-semibold text-uppercase">Location Map</label>
                    <agm-map class=" ht-100p" [zoom]="12" [latitude]="MerchantAddress.Latitude"
                        [longitude]="MerchantAddress.Longitude" [styles]="_HelperService.darkStyle"
                        [streetViewControl]="false">
                        <agm-marker [latitude]="MerchantAddress.Latitude" [longitude]="MerchantAddress.Longitude">
                        </agm-marker>
                    </agm-map>
                </div>
            </div>
        </div>
        <!-- <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
            <div class="card-body pt-0">
                <div class="row">

                    <div class="col-lg-1">

                    </div>
                    <div class="col-lg-11">
                        <div class="row">
                            <div class="col-sm-12 col-md-6 col-lg-6">
                                <agm-map class=" ht-100p" [zoom]="12" [latitude]="MerchantAddress.Latitude"
                                    [longitude]="MerchantAddress.Longitude" [styles]="_HelperService.darkStyle"
                                    [streetViewControl]="false">
                                    <agm-marker [latitude]="MerchantAddress.Latitude"
                                        [longitude]="MerchantAddress.Longitude">
                                    </agm-marker>
                                </agm-map>
                            </div>

                            <div class="col-sm-12 col-md-6  col-lg-6">
                                <div class="row">

                                    <div class=" col-sm-12 col-md-6  col-lg-6 Hm-media768">
                                        <label class="tx-12 tx-medium text-uppercase tx-color-01 mg-b-15">Business
                                            Contact Details
                                        </label>
                                        <ul class="list-unstyled profile-info-list">
                                            <li class="text-secondary"><i data-feather="smartphone"></i> <a
                                                    class="text-secondary">{{_HelperService._UserAccount.ContactNumber
                                                    || "--"}}</a>
                                            </li>
                                            <li class="text-secondary "><i data-feather="mail"></i>
                                                <a class="Word-break">{{_MerchantDetails.EmailAddress || "--"}}</a>
                                            </li>
                                        </ul>
                                        <label class="tx-12 tx-medium text-uppercase tx-color-01 mg-b-15">Business Owner
                                        </label>
                                        <ul class="list-unstyled profile-info-list">

                                            <li class="text-secondary"><i data-feather="user"></i>
                                                <a class="Word-break">{{_MerchantDetails.OwnerName || "--"}}</a>
                                            </li>

                                        </ul>

                                    </div>
                                    <div class="col-sm-12 col-md-6  col-lg-6 Hm-media768">
                                        <label class="tx-12 tx-medium text-uppercase tx-color-01 mg-b-15">Contact
                                            Person</label>
                                        <ul class="list-unstyled profile-info-list">
                                            <li class="text-secondary"><i data-feather="user"></i>
                                                <a class="Word-break">{{MerchantContactPerson.FirstName || "--"}}
                                                    {{MerchantContactPerson.LastName}}</a>
                                            </li>
                                            <li class="text-secondary"><i data-feather="smartphone"></i>
                                                <a>{{MerchantContactPerson.MobileNumber || "--"}}</a>
                                            </li>
                                            <li class="text-secondary"><i data-feather="mail"></i> <a
                                                    class="Word-break">
                                                    {{MerchantContactPerson.EmailAddress || "--"}}</a>
                                            </li>
                                        </ul>


                                    </div>
                                    <label class="tx-12 tx-medium text-uppercase tx-color-01 mg-b-15 mg-l-15">Business Category
                                    </label>
                                    <div class="col-lg-12 Hm-media768">
                                        <div class="d-inline justify-content-between"
                                            *ngFor="let catagories of _MerchantDetails['Categories']">
                                            <button type="button" disabled
                                                class="btn btn-xs b-a r-2x bd bd-gray-500 tx-dark rounded-50  mr-2 mb-2 px-2 py-1 text-warn text-sm float-left">{{catagories.Name}}</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row Hm-media768 d-block d-sm-none">
                    <div class="col-sm-12 col-md-6 col-lg-6">
                        <div class="row flex-nowrap">

                            <div class="col-sm-6 col-md-6 col-lg-6">

                                <div class=" text-center stores">
                                    <div class="text-center">
                                        <h3 class="tx-40  tx-rubik  tx-verve mg-b-5 mg-r-5 lh-1">
                                            {{_MerchantDetails.Stores}}</h3>
                                    </div>
                                    <p class="tx-12 text-secondary mg-b-0 "> Stores</p>
                                </div>
                            </div>

                            <div class="col-sm-6 col-md-6 col-lg-6">
                                <div class=" text-center Terminals">
                                    <div class="text-center">
                                        <h3 class="tx-40  tx-rubik  tx-teal mg-b-5 mg-r-5 lh-1 ">
                                            {{_MerchantDetails.Terminals}}</h3>
                                    </div>
                                    <p class="tx-12 text-secondary mg-b-0"> POS Terminals</p>

                                </div>

                            </div>


                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-6 col-lg-6 d-flex Hm-media768 justify-content-end">
                        <div class="row">
                            <div class="manageButton mg-t-0 pd-t-0">
                                <button type="button" (click)="clicked()"
                                    class="btn btn-xs btn-transparent text-secondary bd bd-secondary rounded-pill">Edit
                                    Account</button>
                            </div>

                            <div class="collapseButton">
                                <button (click)="ToogleExpandedView();ShowStoreDetail()" class="btn  btn-link"
                                    data-toggle="collapse" data-target="#collapseOne" aria-expanded="false"
                                    aria-controls="collapseOne">
                                    <div class="tx-15 tx-lg-18 lh-0 text-secondary">
                                        <i class="fas fa-chevron-down" [class.clicked]="ExpandedView"></i>
                                    </div>
                                </button>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div> -->
    </div>
</div>
<!-- <div class="card shadow-none gredientBorder wd-200" >
   
</div> -->
<div class="card  bd-b-0 pd-b-20"
    *ngIf="(_HelperService.showAddNewPosBtn ||
_HelperService.showAddNewStoreBtn || _HelperService.showAddNewCashierBtn ||_HelperService.showAddNewSubAccBtn) &&  _HelperService.hideAccountSetting">
    <!-- <ul class="nav nav-line d-flex justify-content-between" id="myTab5" role="tablist" [routerLinkActive]="['active']"> -->

    <!-- <div class="d-flex flex-wrap ">
            <li class="nav-item cursor-pointer" [routerLinkActive]="['active']">
                <a class="nav-link" id="Stores-tab5" data-toggle="tab" [routerLinkActive]="['active']"
                    routerLink="{{_HelperService.AppConfig.Pages.ThankUCash.PanelMerchant.Accounts.Stores}}" role="tab"
                    aria-controls="home" aria-selected="true">Stores</a>
            </li>
            <li class="nav-item cursor-pointer" [routerLinkActive]="['active']">
                <a class="nav-link" id="POS-tab5" data-toggle="tab" [routerLinkActive]="['active']"
                    routerLink="{{_HelperService.AppConfig.Pages.ThankUCash.PanelMerchant.Accounts.Terminals}}"
                    role="tab" aria-controls="home" aria-selected="true">POS Terminals</a>
            </li>
            <li class="nav-item cursor-pointer" [routerLinkActive]="['active']">
                <a class="nav-link" id="Cashier-tab5" data-toggle="tab" [routerLinkActive]="['active']"
                    routerLink="{{_HelperService.AppConfig.Pages.ThankUCash.PanelMerchant.AccountSettings.Cashiers}}"
                    role="tab" aria-controls="home" aria-selected="true">Cashiers</a>
            </li>
            <li *ngIf="_HelperService.AppConfig.ActiveOwnerIsTucPlusEnabled == false" class="nav-item cursor-pointer"
                [routerLinkActive]="['active']">
                <a class="nav-link" id="Topup-tab5" data-toggle="tab" [routerLinkActive]="['active']"
                    routerLink="{{_HelperService.AppConfig.Pages.ThankUCash.PanelMerchant.Accounts.TopUp}}" role="tab"
                    aria-controls="home" aria-selected="true">Top-Up & Subscriptions</a>
            </li>

            <li *ngIf="_HelperService.AppConfig.ActiveOwnerIsTucPlusEnabled == true" class="nav-item cursor-pointer"
                [routerLinkActive]="['active']">
                <a class="nav-link" id="Topup-tab5" data-toggle="tab" [routerLinkActive]="['active']"
                    routerLink="{{_HelperService.AppConfig.Pages.ThankUCash.PanelMerchant.Accounts.TopUp}}" role="tab"
                    aria-controls="home" aria-selected="true">Top-Up</a>
            </li>
            <li class="nav-item cursor-pointer" [routerLinkActive]="['active']">
                <a class="nav-link" id="home-tab5" data-toggle="tab" [routerLinkActive]="['active']"
                    routerLink="{{_HelperService.AppConfig.Pages.ThankUCash.PanelMerchant.Accounts.RewardPercentage}}"
                    role="tab" aria-controls="home" aria-selected="true">Reward Percentage</a>
            </li>
            <li *ngIf="_HelperService.UserAccount.AccountType == 'Merchant' && _HelperService.AppConfig.SubAccountPermission != 0"
                class="nav-item cursor-pointer" [routerLinkActive]="['active']">
                <a class="nav-link" id="home-tab5" data-toggle="tab" [routerLinkActive]="['active']"
                    routerLink="{{_HelperService.AppConfig.Pages.ThankUCash.PanelMerchant.Accounts.SubAccounts}}"
                    role="tab" aria-controls="home" aria-selected="true">Sub Accounts</a>
            </li>

            <li data-permission="cashoutsmanager" class="nav-item cursor-pointer" [routerLinkActive]="['active']">
                <a class="nav-link" id="home-tab5" data-toggle="tab" [routerLinkActive]="['active']"
                    routerLink="{{_HelperService.AppConfig.Pages.ThankUCash.PanelMerchant.CashOuts}}" role="tab"
                    aria-controls="home" aria-selected="true">Cashouts</a>
            </li>
            <li class="nav-item cursor-pointer" [routerLinkActive]="['active']">
                <a class="nav-link" id="home-tab5" data-toggle="tab" [routerLinkActive]="['active']"
                    routerLink="{{_HelperService.AppConfig.Pages.ThankUCash.PanelMerchant.AddBanks}}" role="tab"
                    aria-controls="home" aria-selected="true">Payment Method</a>
            </li>

        </div> -->

    <div class="mt-3 pd-x-20 d-flex justify-content-between no-gutters">
        <h5 class="mb-1 pt-2" *ngIf="_HelperService.showAddNewPosBtn"> Terminals </h5>
        <button class="btn btn-primary btn-sm tx-12" (click)="Form_AddUser_Show()"
            *ngIf="_HelperService.showAddNewPosBtn" style="height: 30px;"> Add New POS </button>

        <h5 class="mb-1 pt-2" *ngIf="_HelperService.showAddNewStoreBtn"> Stores </h5>
        <button class="btn btn-primary btn-sm tx-12" (click)="Form_AddStore_Show()"
            *ngIf="_HelperService.showAddNewStoreBtn" style="height: 30px;"> Add New Store </button>

        <h5 class="mb-1 pt-2" *ngIf="_HelperService.showAddNewCashierBtn"> Cashiers </h5>
        <button class="btn btn-primary btn-sm tx-12" (click)="Form_AddCashier_Show()"
            *ngIf="_HelperService.showAddNewCashierBtn" style="height: 30px;"> Add New Cashier </button>

        <h5 class="mb-1 pt-2" *ngIf="_HelperService.showAddNewSubAccBtn">Managers </h5>
        <button class="btn btn-primary btn-sm tx-12" (click)="Form_AddSubAccount_Show()"
            *ngIf="_HelperService.showAddNewSubAccBtn" style="height: 30px;"> Add New Manager </button>

    </div>

    <!-- </ul> -->
</div>
<!-- <div class="card mb-3 bg bd mt-3">
    <div class="navbar navbar-expand-lg  mt-2">
        <li class="d-lg-none d-flex align-items-center">
            <a href="#" class="mx-2" data-toggle="collapse" data-target="#navbarToggler"><svg
                    xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 512 512">
                    <path d="M64 144h384v32H64zM64 240h384v32H64zM64 336h384v32H64z"></path>
                </svg></a>
        </li>
        <div class="collapse navbar-collapse order-lg-1  " id="navbarToggler">
            <ul class="navbar-nav mt-2 mt-lg-0 mx-0 mx-lg-2">
                <li class="nav-item" [routerLinkActive]="['active']">
                    <a class="nav-link" [routerLinkActive]="['active']"
                        routerLink="{{ _HelperService.AppConfig.Pages.ThankUCash.PanelAcquirer.Merchant.Dashboard}}/{{ _HelperService.AppConfig.ActiveReferenceKey}}/{{ _HelperService.AppConfig.ActiveReferenceId}}">
                        <span class="nav-text">{{"System.Menu.Dashboard" | translate}}</span>
                    </a>
                </li>

                <li class="nav-item dropdown" [routerLinkActive]="['active']">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" aria-expanded="false">Sale </a>
                    <div class="dropdown-menu mt-2 w pt-2 mt-2 animate fadeIn">
                        <a [routerLinkActive]="['active']" class="dropdown-item"
                            routerLink="{{ _HelperService.AppConfig.Pages.ThankUCash.PanelAcquirer.Merchant.SalesHistory}}/{{ _HelperService.AppConfig.ActiveReferenceKey}}/{{ _HelperService.AppConfig.ActiveReferenceId}}">
                            Sales History</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div> -->
<router-outlet></router-outlet>

<div id="Form_AddUser_Content" class="modal fade" data-backdrop="true" aria-hidden="true"
    style="overflow-y: scroll !important;">
    <div class="modal-dialog modal-dialog-centered dropdown ">
        <div class="modal-content">
            <form [formGroup]="Form_AddUser" (ngSubmit)="Form_AddUser_Process(Form_AddUser.value)" role="form">
                <div class="modal-header">
                    <h5 class="modal-title">Add New POS Terminal</h5>
                </div>
                <div class="modal-body  p-lg">
                    <div class="d-flex justify-content-between">
                        <div class="">
                            <label class="">Upload Receipt<span class="text-danger">*</span>
                            </label>

                        </div>
                        <div>
                            <span class="d-flex align-items-end cursor-pointer"> <a class="tx-12 text-primary"
                                    (click)="ShowHelpImage('receipt')"> Need Help ? </a> </span>
                        </div>

                    </div>
                    <div>
                        <!-- <label>{{ 'System.Users.Icon' | translate }}

                            <span class="small muted">
                                -
                                {{_HelperService._FileSelect_Icon_Data.Width}}x{{_HelperService._FileSelect_Icon_Data.Height}}
                            </span>
                        </label> 
                         <ng2-file-input [id]="_HelperService._FileSelect_Icon" [multiple]="false"
                            (onAdded)="_HelperService.Icon_Change($event)"
                            extensions="[ 'image/jpeg', 'image/jpg', 'image/png', 'image/gif'] "
                            [browse-text]="'Show file picker'" [removable]="false"></ng2-file-input> -->
                        <input-file #terminal id="terminal" inputId="input-file" placeholder="" (click)="setprofileId('terminal')">
                        </input-file>
                    </div>
                    <!-- <div class="form-group">
                        <div class="pt-3">
                                <label>{{"System.Users.SelectType" | translate}}<span class="text-danger">*</span></label>
                            </div>
                        
                            
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1"
                                    value="option1" checked>
                                <label class="form-check-label" for="inlineRadio1">POS</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2"
                                    value="option2">
                                <label class="form-check-label" for="inlineRadio2">Smart POS</label>
                            </div>
                        
                    </div> -->
                    <div class="form-group">
                        <div> <label>{{'System.Users.Type' | translate }}<span class="text-danger">*</span>
                            </label>
                        </div>
                        <div class="radio float-left mr-3">
                            <label class="ui-check"><input type="radio" name="typecode"
                                    [value]="_HelperService.AppConfig.Type.Pos"
                                    [formControl]="Form_AddUser.controls['TypeCode']">
                                <i class="dark-white"></i>
                                {{ 'System.Users.Pos' | translate }}</label>
                        </div>
                        <div class="radio mr-3"><label class="ui-check"><input type="radio" name="typecode"
                                    [value]="_HelperService.AppConfig.Type.SmartPos"
                                    [formControl]="Form_AddUser.controls['TypeCode']">
                                <i class="dark-white"></i>
                                {{ 'System.Users.SmartPos' | translate }}</label></div>

                    </div>
                    <div class="text-danger mb-2">Make sure your are adding correct terminal id </div>
                    <div class="form-group">
                        <div class="d-flex justify-content-between">
                            <div>
                                <label>{{ "System.Users.TerminalId" | translate }}<span class="text-danger">*</span>
                                </label>
                            </div>
                            <div>
                                <span class="d-flex align-items-end cursor-pointer"> <a class="tx-12 text-primary"
                                        (click)="ShowHelpImage('terminal')"> Need Help ? </a> </span>
                            </div>
                        </div>
                        <div class="controls">
                            <input type="text" name="TerminalId" placeholder="Terminal Id" required maxlength="25"
                                class="form-control" [formControl]="Form_AddUser.controls['TerminalId']" [ngClass]="{
              'is-invalid':
                !Form_AddUser.controls['TerminalId'].valid &&
                Form_AddUser.controls['TerminalId'].touched
            }" />
                        </div>
                        <label class="text-danger" for="TerminalId" *ngIf="
            Form_AddUser.controls['TerminalId'].hasError('required') &&
            Form_AddUser.controls['TerminalId'].touched
          ">{{
                            "System.Users.Terminal_ER_Required" | translate
                            }}</label>
                        <label class="text-danger" for="TerminalId" *ngIf="
            Form_AddUser.controls['TerminalId'].hasError(
              'minlength'
            ) ||
            Form_AddUser.controls['TerminalId'].hasError('maxlength')
          ">{{ "System.Users.Terminal_ER_Length" | translate }}</label>
                    </div>
                    <div class="form-group">
                        <div class="d-flex justify-content-between">
                            <div>
                                <label>{{ "System.Users.SerialNumber" | translate
                                    }}
                                </label>
                            </div>
                            <div>
                                <span class="cursor-pointer"> <a class="tx-12 text-primary"
                                        (click)="ShowHelpImage('serial')"> Need Help ? </a> </span>
                            </div>
                        </div>

                        <div class="controls">
                            <input type="text" name="SerialNumber" placeholder="Serial Number" required maxlength="25"
                                oninput="this.value=this.value.replace(/[^0-9]/g,'');" class="form-control"
                                [formControl]="Form_AddUser.controls['SerialNumber']" />
                        </div>
                    </div>
                    <div class="form-group pd-b-0"
                        *ngIf="!_HelperService.ToggleField && !ToggleStoreSelect && ResetFilterControls">
                        <label for=""> Select Store<span class="text-danger">*</span></label>
                        <select2 class="full-width" [options]="TUTr_Filter_Store_Option"
                            (valueChanged)="TUTr_Filter_Stores_Change($event)">
                        </select2>
                    </div>
                    <div class="form-group  pd-b-0" *ngIf="!_HelperService.ToggleField && ResetFilterControls">
                        <label for=""> POS Terminal Provider<span class="text-danger">*</span></label>

                        <select2 class="full-width" [options]="TUTr_Filter_Provider_Option"
                            (valueChanged)="TUTr_Filter_Providers_Change($event)">
                        </select2>
                    </div>
                    <div class="form-group pd-b-0" *ngIf="!_HelperService.ToggleField && ResetFilterControls">
                        <label for=""> Select Bank<span class="text-danger">*</span></label>

                        <select2 class="full-width" [options]="TUTr_Filter_Bank_Option"
                            (valueChanged)="TUTr_Filter_Banks_Change($event)">
                        </select2>
                    </div>
                    <!-- <div class="form-group pd-b-0" *ngIf="!_HelperService.ToggleField">
                        <label for=""> Select Cashier<span class="text-danger">*</span></label>
                        <select2 class="full-width" [options]="TUTr_Filter_Cashier_Option"
                            (valueChanged)="TUTr_Filter_Cashiers_Change($event)">
                        </select2>
                    </div> -->
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="Form_AddUser_Close()">
                        {{ "Common.Close" | translate }}
                    </button>
                    <button type="submit" class="btn btn-primary warn mr-2"
                        (click)="Form_AddUser.value.OperationType = 'new'" [disabled]="!Form_AddUser.valid">
                        <span>
                            {{ "Common.Save" | translate }}
                        </span>
                        <!-- <span *ngIf="_HelperService.IsFormProcessing">
                            <i class="{{ 'Common.SpinnerIcon' | translate }}"></i>
                            {{ "Common.PleaseWait" | translate }}...
                        </span> -->
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
<div id="Form_AddCashier_Content" class="modal fade" data-backdrop="true" aria-hidden="true"
    style="overflow-y: scroll !important;">
    <div class="modal-dialog modal-dialog-centered dropdown ">
        <div class="modal-content">
            <form [formGroup]="Form_AddCashier" (ngSubmit)="Form_AddCashier_Process(Form_AddCashier.value)" role="form">
                <div class="modal-header">
                    <h5 class="modal-title">Add New Cashier</h5>
                </div>
                <div class="modal-body  p-lg">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="d-flex justify-content-between">
                                    <div>
                                        <label>{{ "System.Users.FirstName" | translate }}<span
                                                class="text-danger">*</span>
                                        </label>
                                    </div>

                                </div>
                                <div class="controls">
                                    <input type="text" name="FirstName" placeholder="First Name" required
                                        maxlength="128" class="form-control"
                                        [formControl]="Form_AddCashier.controls['FirstName']" [ngClass]="{'is-invalid':!Form_AddCashier.controls['FirstName'].valid &&Form_AddCashier.controls['FirstName'].touched }" />
                                </div>
                                <label class="text-danger" for="FirstName" *ngIf="Form_AddCashier.controls['FirstName'].hasError('required') &&Form_AddCashier.controls['FirstName'].touched">{{"System.Users.FirstName_ER_Required" | translate }}</label>
                                <label class="text-danger" for="FirstName" *ngIf="Form_AddCashier.controls['FirstName'].hasError( 'minlength' ) || Form_AddCashier.controls['FirstName'].hasError('maxlength') ">{{ "System.Users.FirstName_ER_Length" | translate }}</label>
                                <label class="text-danger" for="LastName" *ngIf="Form_AddCashier.controls['FirstName'].hasError('pattern')">Please enter valid first name only characters are allowed</label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="d-flex justify-content-between">
                                    <div>
                                        <label>{{ "System.Users.LastName" | translate }}<span
                                                class="text-danger">*</span>
                                        </label>
                                    </div>

                                </div>
                                <div class="controls">
                                    <input type="text" name="LastName" placeholder="Last Name" required maxlength="128"
                                        class="form-control" [formControl]="Form_AddCashier.controls['LastName']"
                                        [ngClass]="{'is-invalid':!Form_AddCashier.controls['LastName'].valid &&Form_AddCashier.controls['LastName'].touched}" />
                                </div>
                                <label class="text-danger" for="LastName" *ngIf="Form_AddCashier.controls['LastName'].hasError('required') &&Form_AddCashier.controls['LastName'].touched ">{{"System.Users.LastName_ER_Required" | translate }}</label>
                                <label class="text-danger" for="LastName" *ngIf=" Form_AddCashier.controls['LastName'].hasError('minlength') ||Form_AddCashier.controls['LastName'].hasError('maxlength')">{{ "System.Users.LastName_ER_Length" | translate }}</label>
                                <label class="text-danger" for="LastName" *ngIf="Form_AddCashier.controls['LastName'].hasError('pattern')">Please enter valid last name only characters are allowed</label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>{{ "System.Users.EmailAddress" | translate
                            }}<span class="text-danger">*</span>
                        </label>
                        <div class="controls">
                            <input type="text" placeholder="Email Address" name="EmailAddress" maxlength="128"
                                class="form-control" [formControl]="Form_AddCashier.controls['EmailAddress']" [ngClass]="{
                          'is-invalid':
                            !Form_AddCashier.controls['EmailAddress'].valid &&
                           Form_AddCashier.controls['EmailAddress'].touched
                        }" />
                        </div>
                        <label class="text-danger" for="EmailAddress" *ngIf="
                       Form_AddCashier.controls['EmailAddress'].hasError('required') &&
                       Form_AddCashier.controls['EmailAddress'].touched
                      ">{{
                            "System.Users.EmailAddress_ER_Required" | translate
                            }}</label>
                        <label class="text-danger" for="EmailAddress" *ngIf="
                       Form_AddCashier.controls['EmailAddress'].touched &&
                        !Form_AddCashier.controls['EmailAddress'].valid && 
                        !Form_AddCashier.controls['EmailAddress'].hasError('required')
                      ">Enter valid email Address</label>
                    </div>
                    <div class="form-group">
                        <label>{{ "System.Users.ContactNumber" | translate
                            }}<span class="text-danger">*</span>
                        </label>
                        <div class="controls input-group">
                            <span class="input-group-prepend"><span
                                    class="input-group-text white">{{this._HelperService.CountryCode}}</span>
                            </span>
                            <input type="text" placeholder="Contact Number" name="ContactNumber" maxlength="14"
                                class="form-control" (keypress)="_HelperService.PreventText($event)"
                                [formControl]="Form_AddCashier.controls['ContactNumber']" [ngClass]="{
                        'is-invalid':
                          !Form_AddCashier.controls['ContactNumber'].valid &&
                         Form_AddCashier.controls['ContactNumber'].touched
                      }" />
                        </div>
                        <label class="text-danger" for="ContactNumber" *ngIf="
                     Form_AddCashier.controls['ContactNumber'].hasError('required') &&
                     Form_AddCashier.controls['ContactNumber'].touched
                    ">{{
                            "System.Users.ContactNumber_ER_Required" | translate
                            }}</label>
                        <label class="text-danger" for="ContactNumber" *ngIf="
                     Form_AddCashier.controls['ContactNumber'].hasError(
                        'minlength'
                      ) ||
                     Form_AddCashier.controls['ContactNumber'].hasError('maxlength')
                    ">{{ "System.Users.ContactNumber_ER_Length" | translate }}</label>
                    </div>

                    <div class="form-group">
                        <div class="d-flex justify-content-between">
                            <div>
                                <label>{{ "System.Users.EmployeeCode" | translate }}
                                </label>
                            </div>

                        </div>
                        <div class="controls">
                            <input type="text" name="EmployeeCode" placeholder="Employee Code" maxlength="25"
                                class="form-control" [formControl]="Form_AddCashier.controls['EmployeeCode']" />
                        </div>
                        <!-- <label class="text-danger text-xs _600" for="EmployeeCode"
                        *ngIf="Form_AddCashier.controls['EmployeeCode'].hasError('pattern') ">
                      <div>Enter Only Numbers</div>
                      
                 

                    </label> -->

                    </div>
                    <div class="form-group mr-2 mb-2" *ngIf="ResetFilterControls">
                        <label for=" "> {{'System.Users.Store' | translate }}<span class="text-danger">*</span>
                        </label>
                        <select2 class="full-width" [options]="TUTr_Filter_Store_Option"
                            (valueChanged)="TUTr_Filter_Stores_Change($event)">
                        </select2>
                    </div>


                    <div class="form-group">
                        <div> <label>{{'System.Users.Gender' | translate }}<span class="text-danger">*</span>
                            </label>
                        </div>
                        <div class="radio float-left mr-3">
                            <label class="ui-check"><input type="radio" name="gender"
                                    [value]="_HelperService.AppConfig.Gender.Male"
                                    [formControl]="Form_AddCashier.controls['GenderCode']">
                                <i class="dark-white"></i>
                                {{ 'System.Users.Male' | translate }}</label>
                        </div>
                        <div class="radio float-left mr-3"><label class="ui-check"><input type="radio" name="gender"
                                    [value]="_HelperService.AppConfig.Gender.Female"
                                    [formControl]="Form_AddCashier.controls['GenderCode']">
                                <i class="dark-white"></i>
                                {{ 'System.Users.Female' | translate }}</label></div>

                        <div class="radio  mr-3"><label class="ui-check"><input type="radio" name="gender"
                                    [value]="_HelperService.AppConfig.Gender.Other"
                                    [formControl]="Form_AddCashier.controls['GenderCode']">
                                <i class="dark-white"></i>
                                {{ 'System.Users.Other' | translate }}</label></div>
                    </div>

                    <div class="form-group">
                        <div>
                            <label>Profile Picture
                            </label>
                        </div>
                        <div class="col-md-12">
                            <input-file #cashier id="cashier" inputId="input-file" placeholder="" (click)="setprofileId('cashier')">
                            </input-file>
                        </div>
                    </div>


                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal"
                        (click)="Form_AddCashier_Close()">
                        {{ "Common.Close" | translate }}
                    </button>
                    <button type="submit" class="btn btn-primary warn mr-2"
                        (click)="Form_AddCashier.value.OperationType = 'new'" [disabled]="!Form_AddCashier.valid">
                        <span>
                            {{ "Common.Save" | translate }}
                        </span>
                        <!-- <span *ngIf="_HelperService.IsFormProcessing">
                            <i class="{{ 'Common.SpinnerIcon' | translate }}"></i>
                            {{ "Common.PleaseWait" | translate }}...
                        </span> -->
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
<div id="Form_AddSubAccount_Content" class="modal fade" data-backdrop="true" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered dropdown ">
        <div class="modal-content">
            <form [formGroup]="Form_AddSubAccount" (ngSubmit)="Form_AddSubAccount_Process(Form_AddSubAccount.value)"
                role="form">
                <div class="modal-header">
                    <h5 class="modal-title">Add New Manager</h5>
                </div>
                <div class="modal-body  p-lg" *ngIf="ResetFilterControls">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="d-flex justify-content-between">
                                    <div>
                                        <label>{{ "System.Users.FirstName" | translate }}<span
                                                class="text-danger">*</span>
                                        </label>
                                    </div>

                                </div>
                                <div class="controls">
                                    <input type="text" name="FirstName" placeholder="First Name" required
                                        maxlength="128" class="form-control"
                                        onkeypress="return /[a-z]/i.test(event.key)"
                                        [formControl]="Form_AddSubAccount.controls['FirstName']" [ngClass]="{
                      'is-invalid':
                        !Form_AddSubAccount.controls['FirstName'].valid &&
                        Form_AddSubAccount.controls['FirstName'].touched
                    }" />
                                </div>
                                <label class="text-danger" for="FirstName" *ngIf="
                    Form_AddSubAccount.controls['FirstName'].hasError('required') &&
                    Form_AddSubAccount.controls['FirstName'].touched
                  ">{{
                                    "System.Users.FirstName_ER_Required" | translate
                                    }}</label>
                                <label class="text-danger" for="FirstName" *ngIf="
                    Form_AddSubAccount.controls['FirstName'].hasError(
                      'minlength'
                    ) ||
                    Form_AddSubAccount.controls['FirstName'].hasError('maxlength')
                  ">{{ "System.Users.FirstName_ER_Length" | translate }}</label>

                  <label class="text-danger line-16" for="FirstName"
                  *ngIf="Form_AddSubAccount.controls['FirstName'].hasError('pattern')">
                  Please enter valid name only characters are allowed</label>
                            </div>

                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="d-flex justify-content-between">
                                    <div>
                                        <label>{{ "System.Users.LastName" | translate }}<span
                                                class="text-danger">*</span>
                                        </label>
                                    </div>

                                </div>
                                <div class="controls">
                                    <input type="text" name="LastName" placeholder="Last Name" required maxlength="128"
                                        onkeypress="return /[a-z]/i.test(event.key)" class="form-control"
                                        [formControl]="Form_AddSubAccount.controls['LastName']" [ngClass]="{
                      'is-invalid':
                        !Form_AddSubAccount.controls['LastName'].valid &&
                        Form_AddSubAccount.controls['LastName'].touched
                    }" />
                                </div>
                                <label class="text-danger" for="LastName" *ngIf="
                    Form_AddSubAccount.controls['LastName'].hasError('required') &&
                    Form_AddSubAccount.controls['LastName'].touched
                  ">{{
                                    "System.Users.LastName_ER_Required" | translate
                                    }}</label>
                                <label class="text-danger" for="LastName" *ngIf="
                    Form_AddSubAccount.controls['LastName'].hasError(
                      'minlength'
                    ) ||
                    Form_AddSubAccount.controls['LastName'].hasError('maxlength')
                  ">{{ "System.Users.LastName_ER_Length" | translate }}</label>

                  <label class="text-danger  line-16" for="LastName"
                  *ngIf="Form_AddSubAccount.controls['LastName'].hasError('pattern')">
                  Please enter valid name only characters are allowed</label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>{{ "System.Users.EmailAddress" | translate
                            }}<span class="text-danger">*</span>
                        </label>
                        <div class="controls">
                            <input type="text" placeholder="Email Address" name="EmailAddress" maxlength="128"
                                class="form-control" [formControl]="Form_AddSubAccount.controls['EmailAddress']"
                                [ngClass]="{
                          'is-invalid':
                            !Form_AddSubAccount.controls['EmailAddress'].valid &&
                           Form_AddSubAccount.controls['EmailAddress'].touched
                        }" />
                        </div>
                        <div class="tx-13 text-secondary mg-t-5">We will send login username and password on this
                            email
                            address</div>
                        <label class="text-danger" for="EmailAddress" *ngIf="
                       Form_AddSubAccount.controls['EmailAddress'].hasError('required') &&
                       Form_AddSubAccount.controls['EmailAddress'].touched
                      ">{{
                            "System.Users.EmailAddress_ER_Required" | translate
                            }}</label>
                        <label class="text-danger" for="EmailAddress" *ngIf="
                       Form_AddSubAccount.controls['EmailAddress'].touched &&
                        !Form_AddSubAccount.controls['EmailAddress'].valid && 
                        !Form_AddSubAccount.controls['EmailAddress'].hasError('required')
                      ">Enter valid email Address</label>
                      <label class="text-danger  line-16" for="EmailAddress"
                      *ngIf=" Form_AddSubAccount.controls['EmailAddress'].hasError('pattern')">
                      Please enter valid email address</label>
                    </div>
                    <div class="form-group">
                        <label>{{ "System.Users.ContactNumber" | translate
                            }}<span class="text-danger">*</span>
                        </label>
                        <div class="controls input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">{{this._HelperService.CountryCode}}</span>
                            </div>
                            <input type="text" placeholder="Contact Number" name="ContactNumber" maxlength="14"
                                class="form-control" (keypress)="_HelperService.PreventText($event)"
                                [formControl]="Form_AddSubAccount.controls['ContactNumber']" [ngClass]="{
                        'is-invalid':
                          !Form_AddSubAccount.controls['ContactNumber'].valid &&
                         Form_AddSubAccount.controls['ContactNumber'].touched
                      }" />
                        </div>
                        <label class="text-danger" for="ContactNumber" *ngIf="
                     Form_AddSubAccount.controls['ContactNumber'].hasError('required') &&
                     Form_AddSubAccount.controls['ContactNumber'].touched
                    ">{{
                            "System.Users.ContactNumber_ER_Required" | translate
                            }}</label>
                        <label class="text-danger" for="ContactNumber" *ngIf="
                     Form_AddSubAccount.controls['ContactNumber'].hasError(
                        'minlength'
                      ) ||
                     Form_AddSubAccount.controls['ContactNumber'].hasError('maxlength')
                    ">{{ "System.Users.ContactNumber_ER_Length" | translate }}</label>
                    </div>
                    <div class="form-group">
                        <div> <label>{{'System.Users.Gender' | translate }}<span class="text-danger">*</span>
                            </label>
                        </div>
                        <div class="radio float-left mr-3">
                            <label class="ui-check"><input type="radio" name="gender"
                                    [value]="_HelperService.AppConfig.Gender.Male"
                                    [formControl]="Form_AddSubAccount.controls['GenderCode']">
                                <i class="dark-white"></i>
                                {{ 'System.Users.Male' | translate }}</label>
                        </div>
                        <div class="radio  mr-3"><label class="ui-check"><input type="radio" name="gender"
                                    [value]="_HelperService.AppConfig.Gender.Female"
                                    [formControl]="Form_AddSubAccount.controls['GenderCode']">
                                <i class="dark-white"></i>
                                {{ 'System.Users.Female' | translate }}</label></div>
                    </div>

                    <div class="form-group" *ngIf="!_HelperService.IsFormProcessing">
                        <label>{{ 'System.Users.Role' | translate }}<span class="text-danger">*</span>
                        </label>
                        <select2 name="S2GetRoles" class="full-width" [data]="_Roles" [options]="GetRoles_Option"
                            (valueChanged)="GetRoles_ListChange($event)">
                        </select2>

                    </div>


                    <div class="form-group pd-b-0" *ngIf="ToggleStoreSelect">
                        <label for=""> Select Store <span class="text-danger"> * </span> </label>
                        <select2 class="full-width" [options]="TUTr_Filter_Store_Option"
                            (valueChanged)="TUTr_Filter_Stores_Change($event)">
                        </select2>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal"
                        (click)="Form_AddSubAccount_Close()">
                        {{ "Common.Close" | translate }}
                    </button>
                    <button type="submit" class="btn btn-primary warn mr-2"
                        (click)="Form_AddSubAccount.value.OperationType = 'new'"
                        [disabled]="!Form_AddSubAccount.valid || _HelperService.IsFormProcessing || !SelectedStore">
                        <span *ngIf="!_HelperService.IsFormProcessing">
                            {{ "Common.Save" | translate }}
                        </span>
                        <span *ngIf="_HelperService.IsFormProcessing">
                            <i class="{{ 'Common.SpinnerIcon' | translate }}"></i>
                            {{ "Common.PleaseWait" | translate }}...
                        </span>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
<div id="Form_AddHelp_Content" class="modal fade" tabindex="-1" data-backdrop="true" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered dropdown ">
        <div class="modal-content">
            <div class="modal-body  p-lg d-flex justify-content-center">
                <img [src]="HelpImageUrl" alt="">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" (click)="OpenModel()">
                    {{ "Common.Close" | translate }}
                </button>
            </div>
        </div>
    </div>
</div>
<div id="Form_AddStore_Content" class="modal fade" data-backdrop="true" aria-hidden="true">
    <div class="modal-dialog  modal-lg">
        <div class="modal-content">
            <form [formGroup]="Form_AddStore" (ngSubmit)="Form_AddStore_Process(Form_AddStore.value)" role="form">
                <div class="modal-header">
                    <h5 class="modal-title">Add New Store / Location</h5>
                </div>
                <div class="modal-body" *ngIf="ResetFilterControls">
                    <div class="row">
                        <!-- <div class="col-md-12">
                            <div class="custom-control custom-checkbox mt- mb-3">
                                <input class="custom-control-input" type="checkbox" name="browser[]" value="1"
                                    [checked]="_StoreInfoCopy" (change)="_ToogleStoreCopy()" data-parsley-mincheck="2"
                                    data-parsley-class-handler="#cbWrapper"
                                    data-parsley-errors-container="#cbErrorContainer" required=""
                                    data-parsley-multiple="browser" id="b3">
                                <label class="custom-control-label  text-muted tx-14" for="b3">Store details are
                                    same as
                                    business
                                    details</label> <br>
                            </div>
                        </div> -->

                        <div class="col-md-6">
                            <div class="form-group">
                                <label>{{ "System.Menu.StoreName" | translate
                                    }}<span class="text-danger">*</span>
                                </label>
                                <div class="controls">
                                    <input type="text" name="Name" maxlength="128" class="form-control"
                                        placeholder="Store Name" [formControl]="Form_AddStore.controls['Name']"
                                        [ngClass]="{
                                      'is-invalid':
                                        !Form_AddStore.controls['Name'].valid &&
                                        Form_AddStore.controls['Name'].touched
                                    }" />
                                </div>
                                <label class="text-danger" for="Name" *ngIf="
                                    Form_AddStore.controls['Name'].hasError('required') &&
                                    Form_AddStore.controls['Name'].touched
                                  ">{{
                                    "System.Users.Name_ER_Required" | translate
                                    }}</label>
                                <label class="text-danger" for="Name" *ngIf="
                                    Form_AddStore.controls['Name'].hasError(
                                      'minlength'
                                    ) ||
                                    Form_AddStore.controls['Name'].hasError('maxlength')
                                  ">Store name must be between 2 - 25 characters</label>
                            </div>
                            <div class="form-group">
                                <label>{{ "System.Menu.StoreNickName" | translate
                                    }}<span class="text-danger">*</span>
                                </label>
                                <div class="controls">
                                    <input type="text" name="DisplayName" maxlength="128" class="form-control"
                                        [formControl]="Form_AddStore.controls['DisplayName']" placeholder="Nick Name"
                                        [ngClass]="{
                                    'is-invalid':
                                      !Form_AddStore.controls['DisplayName'].valid &&
                                      Form_AddStore.controls['DisplayName'].touched
                                  }" />
                                </div>
                                <label class="text-danger" for="DisplayName" *ngIf="
                                  Form_AddStore.controls['DisplayName'].hasError('required') &&
                                  Form_AddStore.controls['DisplayName'].touched
                                ">Enter store nick name</label>
                                <label class="text-danger" for="DisplayName" *ngIf="
                                  Form_AddStore.controls['DisplayName'].hasError(
                                    'minlength'
                                  ) ||
                                  Form_AddStore.controls['DisplayName'].hasError('maxlength')
                                ">Store nick name must be between 4 - 256 characters</label>
                            </div>
                            <div class="form-group">
                                <label>{{ "System.Users.EmailAddress" | translate
                                    }}<span class="text-danger">*</span>
                                </label>
                                <div class="controls">
                                    <input type="text" name="EmailAddress" maxlength="128" placeholder="Email Address"
                                        class="form-control" [formControl]="Form_AddStore.controls['EmailAddress']"
                                        [ngClass]="{
                                  'is-invalid':
                                    !Form_AddStore.controls['EmailAddress'].valid &&
                                    Form_AddStore.controls['EmailAddress'].touched
                                }" />
                                </div>
                                <label class="text-danger" for="EmailAddress" *ngIf="
                                Form_AddStore.controls['EmailAddress'].hasError('required') &&
                                Form_AddStore.controls['EmailAddress'].touched
                              ">{{
                                    "System.Users.EmailAddress_ER_Required" | translate
                                    }}</label>
                                <label class="text-danger" for="EmailAddress" *ngIf="
                                Form_AddStore.controls['EmailAddress'].touched &&
                                !Form_AddStore.controls['EmailAddress'].valid && 
                                !Form_AddStore.controls['EmailAddress'].hasError('required')
                              ">Enter valid email Address</label>
                            </div>
                            <div class="form-group">
                                <label>{{ "System.Users.ContactNumber" | translate
                                    }}<span class="text-danger">*</span>
                                </label>
                                <div class="controls input-group">
                                    <span class="input-group-prepend"><span
                                            class="input-group-text white">{{this._HelperService.CountryCode}}</span>
                                    </span>
                                    <input type="text" name="ContactNumber" maxlength="14" placeholder="Contact Number"
                                        class="form-control" oninput="this.value=this.value.replace(/[^0-9]/g,'');"
                                        (keypress)="_HelperService.PreventText($event)"
                                        [formControl]="Form_AddStore.controls['ContactNumber']" [ngClass]="{
                                'is-invalid':
                                  !Form_AddStore.controls['ContactNumber'].valid &&
                                  Form_AddStore.controls['ContactNumber'].touched
                              }" />
                                </div>
                                <label class="text-danger" for="ContactNumber" *ngIf="
                              Form_AddStore.controls['ContactNumber'].hasError('required') &&
                              Form_AddStore.controls['ContactNumber'].touched
                            ">{{
                                    "System.Users.ContactNumber_ER_Required" | translate
                                    }}</label>
                                <label class="text-danger" for="ContactNumber" *ngIf="
                              Form_AddStore.controls['ContactNumber'].hasError(
                                'minlength'
                              ) ||
                              Form_AddStore.controls['ContactNumber'].hasError('maxlength')
                            ">{{ "System.Users.ContactNumber_ER_Length" | translate }}</label>
                            </div>
                            <div class="form-group">
                                <label> Store Manager First Name<span class="text-danger">*</span>
                                </label>
                                <div class="controls">
                                    <input type="text" name="FirstName" maxlength="128" class="form-control"
                                        placeholder="First Name" [formControl]="Form_AddStore.controls['FirstName']"
                                        [ngClass]="{
                                    'is-invalid':
                                      !Form_AddStore.controls['FirstName'].valid &&
                                      Form_AddStore.controls['FirstName'].touched
                                  }" />
                                </div>
                                <label class="text-danger" for="FirstName" *ngIf="
                                  Form_AddStore.controls['FirstName'].hasError('required') &&
                                  Form_AddStore.controls['FirstName'].touched
                                ">Enter first name</label>
                                <label class="text-danger" for="FirstName" *ngIf="
                                  Form_AddStore.controls['FirstName'].hasError(
                                    'minlength'
                                  ) ||
                                  Form_AddStore.controls['FirstName'].hasError('maxlength')
                                ">First name must be between 2 - 128 characters</label>
                                <label class="text-danger" for="FirstName" *ngIf="
                                Form_AddStore.controls['FirstName'].hasError('pattern') 
                                && !Form_AddStore.controls['FirstName'].hasError('minlength')">Only characters are
                                    allowed</label>
                            </div>
                            <div class="form-group">
                                <label>Store Manager Last Name<span class="text-danger">*</span>
                                </label>
                                <div class="controls">
                                    <input type="text" name="LastName" maxlength="128" class="form-control"
                                        placeholder="Last Name" [formControl]="Form_AddStore.controls['LastName']"
                                        [ngClass]="{
                                    'is-invalid':
                                      !Form_AddStore.controls['LastName'].valid &&
                                      Form_AddStore.controls['LastName'].touched
                                  }" />
                                </div>
                                <label class="text-danger" for="LastName" *ngIf="
                                  Form_AddStore.controls['LastName'].hasError('required') &&
                                  Form_AddStore.controls['LastName'].touched
                                ">Enter Last name</label>
                                <label class="text-danger" for="LastName" *ngIf="
                                  Form_AddStore.controls['LastName'].hasError(
                                    'minlength'
                                  ) ||
                                  Form_AddStore.controls['LastName'].hasError('maxlength')
                                ">Last name must be between 2 - 128 characters</label>
                                <label class="text-danger" for="LastName" *ngIf="
                                Form_AddStore.controls['LastName'].hasError('pattern') 
                                && !Form_AddStore.controls['LastName'].hasError('minlength')">Only characters are
                                    allowed</label>
                            </div>
                            <div class="form-group">
                                <label>Store Manager's Email Id<span class="text-danger">*</span>
                                </label>
                                <div class="controls">
                                    <input type="text" name="EmailAddress" maxlength="128" class="form-control"
                                        placeholder="Email Address"
                                        [formControl]="Form_AddStore.controls['MEmailAddress']" [ngClass]="{
                                  'is-invalid':
                                    !Form_AddStore.controls['MEmailAddress'].valid &&
                                    Form_AddStore.controls['MEmailAddress'].touched
                                }" />
                                </div>
                                <label class="text-danger" for="EmailAddress" *ngIf="
                                Form_AddStore.controls['MEmailAddress'].hasError('required') &&
                                Form_AddStore.controls['MEmailAddress'].touched
                              ">{{
                                    "System.Users.EmailAddress_ER_Required" | translate
                                    }}</label>
                                <label class="text-danger" for="EmailAddress" *ngIf="
                                Form_AddStore.controls['MEmailAddress'].touched &&
                                !Form_AddStore.controls['MEmailAddress'].valid && 
                                !Form_AddStore.controls['MEmailAddress'].hasError('required')
                              ">Enter valid email Address</label>
                            </div>
                            <div class="form-group">
                                <label>Store Manager's Phone Number<span class="text-danger">*</span>
                                </label>
                                <div class="controls input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">{{this._HelperService.CountryCode}}</span>
                                    </div>
                                    <input type="text" name="MobileNumber" maxlength="14" class="form-control"
                                        placeholder="Mobile Number"
                                        oninput="this.value=this.value.replace(/[^0-9]/g,'');"
                                        (keypress)="_HelperService.PreventText($event)"
                                        [formControl]="Form_AddStore.controls['MobileNumber']" [ngClass]="{
                                'is-invalid':
                                  !Form_AddStore.controls['MobileNumber'].valid &&
                                  Form_AddStore.controls['MobileNumber'].touched
                              }" />
                                </div>
                                <label class="text-danger" for="MobileNumber" *ngIf="
                              Form_AddStore.controls['MobileNumber'].hasError('required') &&
                              Form_AddStore.controls['MobileNumber'].touched
                            ">{{
                                    "System.Users.MobileNumber_ER_Required" | translate
                                    }}</label>
                                <label class="text-danger" for="MobileNumber" *ngIf="
                              Form_AddStore.controls['MobileNumber'].hasError(
                                'minlength'
                              ) ||
                              Form_AddStore.controls['MobileNumber'].hasError('maxlength')
                            ">{{ "System.Users.MobileNumber_ER_Length" | translate }}</label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <!-- <div class="form-group" *ngIf="ResetFilterControls">
                                <label>Business Categories<span class="text-danger">*</span>
                                </label>
                                 -->
                            <!-- <select2 class="form-control" name="BusinessCategory" class="full-width" *ngIf="ShowCategorySelector"
                                    [options]="_HelperService.Select2Options_Multiple"
                                    [value]="SelectedBusinessCategories" [data]="S2BusinessCategories"
                                    (valueChanged)="CategoriesSelected($event)"
                                    [formControl]="Form_AddStore.controls['BusinessCategory']"
                                    >
                                </select2> -->
                            <!-- </div> -->


                            <div class="form-group">
                                <label class="text-muted text-sm">Business Categories<span class="text-danger">*</span>
                                </label>
                                <div *ngIf="ShowCategorySelector">
                                    <select2 class="full-width" [options]="Select2Options_Multiple"
                                        [value]="SelectedBusinessCategories" [data]="S2BusinessCategories"
                                        (valueChanged)="CategoriesSelected($event)">
                                    </select2>
                                </div>

                            </div>


                            <hcx-addressmanager [config]="_AddressConfig" *ngIf="_AddressShow"
                                (OnAddressSet)="AddressChange($event)">
                            </hcx-addressmanager>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal"
                        (click)="Form_AddStore_Close()">
                        {{ "Common.Close" | translate }}
                    </button>
                    <button type="submit" class="btn btn-primary warn mr-2"
                        (click)="Form_AddStorevalue.OperationType = 'new'"
                        [disabled]="!Form_AddStore.valid || _HelperService.IsFormProcessing">
                        <span *ngIf="!_HelperService.IsFormProcessing">
                            {{ "Common.Save" | translate }}
                        </span>
                        <span *ngIf="_HelperService.IsFormProcessing">
                            <i class="{{ 'Common.SpinnerIcon' | translate }}"></i>
                            {{ "Common.PleaseWait" | translate }}...
                        </span>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="modal " id="_Icon_Cropper_Modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body p-0">
                <div class="row no-gutters">
                    <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                        <div class="m-3" *ngIf="_HelperService._Icon_Cropper_BaseImage">
                            <image-cropper [imageBase64]="_HelperService._Icon_Cropper_BaseImage" [aspectRatio]="9/9"
                                format="_HelperService.AppConfig.Icon_Cropper_Options.Format"
                                [maintainAspectRatio]="_HelperService.AppConfig.Icon_Cropper_Options.MaintainAspectRatio"
                                [cropperMinWidth]="_HelperService.AppConfig.Icon_Cropper_Options.MinimumWidth"
                                [cropperMinHeight]="_HelperService.AppConfig.Icon_Cropper_Options.MinimumHeight"
                                [resizeToWidth]="_HelperService.AppConfig.Icon_Cropper_Options.ResizeToWidth"
                                (imageCroppedBase64)="_HelperService.Icon_B64Cropped($event)"
                                (imageLoaded)="_HelperService.Icon_Crop_Loaded()"
                                (loadImageFailed)="_HelperService.Icon_Crop_Failed()">
                            </image-cropper>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 bg-light">
                        <div class="p-3">
                            <div class="mb-2">
                                Image Preview
                            </div>
                            <div class="mb-2">
                                <img [src]="_HelperService._Icon_Cropper_Image" class="b-a b-2x img-responsive" />
                            </div>
                            <div>
                                <button type="button" class="btn btn-success " data-dismiss="modal">{{
                                    'Common.PictureDone' |
                                    translate }}</button>
                                <button type="button" class="btn btn-warning "
                                    (click)="resetClose()">{{ 'Common.PictureClearAndClose' |
                                    translate }}</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>