<div class="card row no-gutters" style="background-color: #F5F5FA !important;">
    <div class="card-header col-lg-12 col-sm-12 col-md-12 col-xs-12 bg-white pd-y-25">
        <div class="pd-l-80" *ngIf="_HelperService.AppConfig.Host == 'merchantrewards.interswitch.com' ||   _HelperService.AppConfig.Host == 'interswitch.thankucash.com' "><img
                src="../../../assets/img/interswitch.png" class="w-xmd">
        </div>
        <div class="pd-l-80" *ngIf="_HelperService.AppConfig.Host != 'merchantrewards.interswitch.com' &&   _HelperService.AppConfig.Host != 'interswitch.thankucash.com' &&   _HelperService.AppConfig.Host != 'wemarewards.thankucash.com' &&   _HelperService.AppConfig.Host != 'localhost:4200'"><img
                src="../../../assets/img/logoinverse.png" class="w-xmd">
        </div>
        <div class="pd-l-80" *ngIf="_HelperService.AppConfig.Host == 'localhost:4200' ||  _HelperService.AppConfig.Host == 'wemarewards.thankucash.com'"><img
            src="../../../assets/img/wemalogo.png" class="w-xmd">
    </div>
    </div>



    <div class=" " style="display: block; 
position: relative;
overflow: hidden;">
        <!-- <div class="auroral-agrabah"></div>
    <div class="auroral-stars"></div> -->
        <div class="mx-auto w-xl w-auto-xs animate fadeIn pb-5" style="width: 70%;">
            <div class="card row" style="border-radius: 4px !important;">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 b-a r-2x pb-3">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12  text-center mt-4 ">
                            <h4 class="_400">Let's add your Business Account</h4>
                            <div class="text-muted">
                                You can add and manage locations from account panel
                            </div>
                            <!-- <div class="mt-4 mb-4">
                            <span class="p-3 purple hue-purple r-5x">We have
                                credited N5,000 into your account, to access account
                                fill store details</span>
                        </div> -->
                        </div>
                        <div class="col-12">
                            <form [formGroup]="Form_AddUser" (ngSubmit)="Form_AddUser_Process(Form_AddUser.value)"
                                role="form">
                                <div class="m-4">
                                    <div class="row">
                                        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12"></div>
                                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                            <h3 class="tx-medium tx-18 mg-b-15"> Business Information</h3>

                                            <!-- <div class="form-group"
                                            [ngClass]="{'has-error':!Form_AddUser.controls['Name'].valid && Form_AddUser.controls['Name'].touched}">
                                            <label class="text-muted text-sm">Enter business name</label>
                                            <input type="text" required name="Name" maxlength="256" class="form-control"
                                                [formControl]="Form_AddUser.controls['Name']"
                                                [(ngModel)]="this.MerchantData.Name"
                                                [ngClass]="{'is-invalid':!Form_AddUser.controls['Name'].valid && Form_AddUser.controls['Name'].touched}">
                                            <div>
                                                <label class="text-danger text-xs _600" for="Name"
                                                    *ngIf="Form_AddUser.controls['Name'].hasError('required') && Form_AddUser.controls['Name'].touched">Enter
                                                    your business name</label>
                                                <label class="text-danger text-xs _600" for="DisplayName"
                                                    *ngIf="Form_AddUser.controls['Name'].hasError('minlength') || Form_AddUser.controls['Name'].hasError('maxlength')">Enter
                                                    your valid business name</label>
                                            </div>
                                        </div>
                                     
                                        <div class="form-group"
                                            [ngClass]="{'text-danger':!Form_AddUser.controls['MobileNumber'].valid && Form_AddUser.controls['MobileNumber'].touched}">
                                            <label class="text-muted text-sm">Enter mobile number</label>
                                            <div class="input-group mb-2">
                                                <span class="input-group-prepend mr-2"><span
                                                        class="input-group-text white">+234</span>
                                                </span>
                                                <input type="text" name="MobileNumber" minlength="10" maxlength="14"
                                                    class="form-control" (keypress)="_HelperService.PreventText($event)"
                                                    value="234" [formControl]="Form_AddUser.controls['MobileNumber']"
                                                    [(ngModel)]="this.MerchantData.MobileNumber"
                                                    [ngClass]="{'is-invalid':!Form_AddUser.controls['MobileNumber'].valid && Form_AddUser.controls['MobileNumber'].touched}">
                                            </div>
                                            <div>
                                                <label class="text-danger text-xs _600" for="MobileNumber"
                                                    *ngIf="Form_AddUser.controls['MobileNumber'].hasError('required') && Form_AddUser.controls['MobileNumber'].touched">{{ 'System.AddMerchant.MobileNumber_ER_Required' | translate }}</label>
                                                <label class="text-danger text-xs _600" for="MobileNumber"
                                                    *ngIf="Form_AddUser.controls['MobileNumber'].hasError('minlength') || Form_AddUser.controls['MobileNumber'].hasError('maxlength')">{{  'System.AddMerchant.MobileNumber_ER_Length' | translate }}</label>
                                            </div>
                                        </div> -->

                                            <div class="form-group"
                                                [ngClass]="{'has-error':!Form_AddUser.controls['EmailAddress'].valid && Form_AddUser.controls['EmailAddress'].touched}">
                                                <label class="text-muted text-sm">UserName</label>
                                                <input type="text" required name="EmailAddress" maxlength="256"
                                                    class="form-control"
                                                    [formControl]="Form_AddUser.controls['EmailAddress']"
                                                    [(ngModel)]="this.RewardMerchantPer.EmailAddress" readonly
                                                    [ngClass]="{'is-invalid':!Form_AddUser.controls['EmailAddress'].valid && Form_AddUser.controls['EmailAddress'].touched}">
                                                <div>
                                                    <label class="text-danger text-xs _600" for="EmailAddress"
                                                        *ngIf="Form_AddUser.controls['EmailAddress'].hasError('required') && Form_AddUser.controls['EmailAddress'].touched">{{
                                                        'System.AddMerchant.EmailAddress_ER_Required' | translate
                                                        }}</label>

                                                    <label class="text-danger text-xs _600" for="EmailAddress"
                                                        *ngIf="Form_AddUser.controls['EmailAddress'].hasError('email') && Form_AddUser.controls['EmailAddress'].touched">{{
                                                        'System.AddMerchant.EmailAddress_ER_Invalid' | translate
                                                        }}</label>
                                                </div>

                                            </div>

                                            <div class="form-group"
                                                [ngClass]="{'has-error':!Form_AddUser.controls['Password'].valid && Form_AddUser.controls['Password'].touched}">
                                                <label class="text-muted "> Password</label>

                                                <input type="password" name="Password" maxlength="20"
                                                    class="form-control"
                                                    [formControl]="Form_AddUser.controls['Password']"
                                                    [ngClass]="{ 'is-invalid': !Form_AddUser.controls['Password'].valid && Form_AddUser.controls['Password'].touched}" />
                                                <div>
                                                    <label class="text-danger text-xs _600" for="Password"
                                                        *ngIf=" Form_AddUser.controls['Password'].hasError('required') &&  Form_AddUser.controls['Password'].touched">{{
                                                        "System.Users.Password_ER_Required" | translate }}</label>
                                                    <label class="text-danger text-xs _600" for="Password"
                                                        *ngIf="  Form_AddUser.controls['Password'].hasError('pattern') ||   Form_AddUser.controls['Password'].hasError('minlength') ||  Form_AddUser.controls['Password'].hasError('maxlength') ">{{
                                                        "System.Users.Password_ER_Length" | translate }}</label>
                                                </div>
                                            </div>


                                            <div class="form-group">
                                                <label>Business Categories<span class="text-danger">*</span>
                                                </label>
                                                <select2 class="full-width" *ngIf="ShowCategorySelector"
                                                    [options]="_HelperService.Select2Options_Multiple"
                                                    [value]="SelectedBusinessCategories" [data]="S2BusinessCategories"
                                                    (valueChanged)="CategoriesSelected($event)">
                                                </select2>
                                            </div>

                                            <div class="form-group">
                                                <label>Reward Percentage<span class="text-danger">*</span>
                                                </label>
                                                <div class="controls">
                                                    <input type="text" placeholder="Reward Percentage"
                                                        name="RewardPercentage" minlength="1" maxlength="100"
                                                        class="form-control"
                                                        (keypress)="_HelperService.PreventText($event)"
                                                        [formControl]="Form_AddUser.controls['RewardPercentage']"
                                                        [ngClass]="{'is-invalid':!Form_AddUser.controls['RewardPercentage'].valid && Form_AddUser.controls['RewardPercentage'].touched}">
                                                </div>
                                                <label class="text-danger" for="RewardPercentage"
                                                    *ngIf="Form_AddUser.controls['RewardPercentage'].hasError('required') && Form_AddUser.controls['RewardPercentage'].touched">
                                                    enter reward percentage
                                                </label>
                                                <label class="text-danger" for="RewardPercentage"
                                                    *ngIf="Form_AddUser.controls['RewardPercentage'].hasError('min') || Form_AddUser.controls['RewardPercentage'].hasError('max')">
                                                    reward percentage must be between {{this.RewardMerchantPer.Minimum}}
                                                    to {{this.RewardMerchantPer.Maximum}}
                                                </label>
                                            </div>

                                            <h3 class="tx-medium tx-18 mg-t-25 mg-b-15"> Contact Information</h3>

                                            <div class="form-group"
                                                [ngClass]="{'has-error':!Form_AddUser.controls['Name'].valid && Form_AddUser.controls['Name'].touched}">
                                                <label class="text-muted text-sm"> Name</label>
                                                <input type="text" required name="Name" maxlength="256"
                                                    class="form-control"
                                                    [(ngModel)]="this.RewardMerchantPer.CName"
                                                    [formControl]="Form_AddUser.controls['ContactName']"
                                                    [ngClass]="{'is-invalid':!Form_AddUser.controls['ContactName'].valid && Form_AddUser.controls['ContactName'].touched}">
                                                <div>
                                                    <label class="text-danger text-xs _600" for="Name"
                                                        *ngIf="Form_AddUser.controls['ContactName'].hasError('required') && Form_AddUser.controls['ContactName'].touched">Enter
                                                        your business contact name</label>
                                                    <label class="text-danger text-xs _600" for="DisplayName"
                                                        *ngIf="Form_AddUser.controls['ContactName'].hasError('minlength') || Form_AddUser.controls['ContactName'].hasError('maxlength')">Enter
                                                        your valid business contact name</label>
                                                </div>
                                            </div>
                                            <div class="form-group"
                                                [ngClass]="{'has-error':!Form_AddUser.controls['EmailAddress'].valid && Form_AddUser.controls['EmailAddress'].touched}">
                                                <label class="text-muted text-sm"> Email address</label>
                                                <input type="text" required name="EmailAddress" maxlength="256"
                                                    class="form-control"
                                                    [(ngModel)]="this.RewardMerchantPer.CEmailAddress"
                                                    [formControl]="Form_AddUser.controls['ContactEmailAddress']"
                                                    [ngClass]="{'is-invalid':!Form_AddUser.controls['ContactEmailAddress'].valid && Form_AddUser.controls['ContactEmailAddress'].touched}">
                                                <div>
                                                    <label class="text-danger text-xs _600" for="EmailAddress"
                                                        *ngIf="Form_AddUser.controls['EmailAddress'].hasError('required') && Form_AddUser.controls['EmailAddress'].touched">{{
                                                        'System.AddMerchant.EmailAddress_ER_Required' | translate
                                                        }}</label>

                                                    <label class="text-danger text-xs _600" for="EmailAddress"
                                                        *ngIf="Form_AddUser.controls['EmailAddress'].hasError('email') && Form_AddUser.controls['EmailAddress'].touched">{{
                                                        'System.AddMerchant.EmailAddress_ER_Invalid' | translate
                                                        }}</label>
                                                </div>

                                            </div>
                                            <div class="form-group"
                                                [ngClass]="{'text-danger':!Form_AddUser.controls['MobileNumber'].valid && Form_AddUser.controls['MobileNumber'].touched}">
                                                <label class="text-muted text-sm"> Mobile number</label>
                                                <div class="input-group mb-2">
                                                    <span class="input-group-prepend mr-2"><span
                                                            class="input-group-text white">+234</span>
                                                    </span>
                                                    <input type="text" name="MobileNumber" minlength="8" maxlength="14"
                                                        class="form-control"
                                                        [(ngModel)]="this.RewardMerchantPer.CMobileNumber"
                                                        (keypress)="_HelperService.PreventText($event)" value="234"
                                                        [formControl]="Form_AddUser.controls['ContactMobileNumber']"
                                                        [ngClass]="{'is-invalid':!Form_AddUser.controls['ContactMobileNumber'].valid && Form_AddUser.controls['ContactMobileNumber'].touched}">
                                                </div>
                                                <div>
                                                    <label class="text-danger text-xs _600" for="MobileNumber"
                                                        *ngIf="Form_AddUser.controls['MobileNumber'].hasError('required') && Form_AddUser.controls['MobileNumber'].touched">{{
                                                        'System.AddMerchant.MobileNumber_ER_Required' | translate
                                                        }}</label>
                                                    <label class="text-danger text-xs _600" for="MobileNumber"
                                                        *ngIf="Form_AddUser.controls['MobileNumber'].hasError('minlength') || Form_AddUser.controls['MobileNumber'].hasError('maxlength')">{{
                                                        'System.AddMerchant.MobileNumber_ER_Length' | translate
                                                        }}</label>
                                                </div>
                                            </div>





                                            <div class="mb-3">
                                                <button type="submit" class="btn btn-primary full-width"
                                                    [disabled]="!Form_AddUser.valid || Form_AddUser_Processing">
                                                    <span *ngIf="!Form_AddUser_Processing">
                                                        Complete Setup
                                                    </span>
                                                    <span *ngIf="Form_AddUser_Processing">
                                                        <i class="{{ 'Common.SpinnerIcon' | translate }}"></i>
                                                        {{ 'Common.PleaseWait' | translate }}...
                                                    </span>
                                                </button>
                                            </div>

                                        </div>
                                        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12"></div>

                                        <!-- <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                       


                                        <div class="form-group map-searchbox">
                                            <input type="text" name="GAddress" maxlength="256" class="form-control"
                                                ngx-google-places-autocomplete #places="ngx-places"
                                                (onAddressChange)="Form_AddUser_AddressChange($event)">
                                        </div>
                                        <div class="mg-b-20">
                                            <label class="text-sm text-muted">Enter address of your
                                                business</label>
                                            <agm-map style="height:220px;" [zoom]="12"
                                                [latitude]="Form_AddUser_Latitude" [longitude]="Form_AddUser_Longitude"
                                                (mapClick)="Form_AddUser_PlaceMarkerClick($event)">
                                                <agm-marker [latitude]="Form_AddUser_Latitude"
                                                    [longitude]="Form_AddUser_Longitude">
                                                </agm-marker>
                                            </agm-map>
                                        </div>
                                        <div class="form-group"
                                            [ngClass]="{'has-error':!Form_AddUser.controls['Address'].valid && Form_AddUser.controls['Address'].touched}">
                                            <label class="text-muted text-xs">Street / Shop no / Landmark</label>
                                            <input type="text" required name="Address" maxlength="256"
                                                class="form-control" [formControl]="Form_AddUser.controls['Address']"
                                                [(ngModel)]="this.MerchantData.Address"
                                                [ngClass]="{'is-invalid':!Form_AddUser.controls['Address'].valid && Form_AddUser.controls['Address'].touched}">
                                          
                                            <div>
                                                <label class="text-danger text-xs _600" for="Address"
                                                    *ngIf="Form_AddUser.controls['Address'].hasError('required') && Form_AddUser.controls['Address'].touched">Enter
                                                    Street / Shop no / Landmark</label>
                                                <label class="text-danger text-xs _600" for="Address"
                                                    *ngIf="Form_AddUser.controls['Address'].hasError('minlength') || Form_AddUser.controls['Address'].hasError('maxlength')">Enter
                                                    valid Street / Shop no / Landmark</label>
                                            </div>
                                        </div>
                                      
                                    </div> -->

                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

</div>