.content-body {
  height: 640px !important;
  overflow: hidden !important;
}

.filemgr-content-header {
  border-bottom: none !important;
}

.filemgr-sidebar-header {
  width: 226px !important;
  border-right: 1px solid rgba(72, 94, 144, 0.16) !important;
}

.filemgr-content-body {
  bottom: auto !important;
  min-height: 580px !important;
  z-index: 0;
  border-top: 1px solid rgba(72, 94, 144, 0.16);
  border-left: 1px solid rgba(72, 94, 144, 0.16);
  border-right: 1px solid rgba(72, 94, 144, 0.16);
  height: 580px;
  overflow: scroll;
  overflow-x: hidden;
}

.filemgr-sidebar {
  position: sticky !important;
  width: 227px !important
}

.card-file {
  width: 160px;
}

.dropdown-item,
.pointer {
  cursor: pointer;
}

.thumbnail {
  height: 84px;
  width: 140px;
}

.foldername {
  padding-top: 7px
}

.folder-info {
  color: white !important;
}

.image-info {
  border-left: none;
  background-color: white !important;
}

#footer {
  text-align: end;
}

.visible-sidebar {
  /* width: 200px; */
  visibility: visible !important;
  opacity: 1 !important;
  z-index: 1;
  height: 640px;
}


.content-header {
  padding-left: 15px !important;
}

.selected-card {
  border-color: #3d90f1 !important;
}

.img-info-icon {
  height: 114px;
  width: 190px;
  display: block;
  margin: auto;
  font-size: 120px;
  padding-top: 10px;

}

td {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100px;
  padding: 0px 10px !important;
}

.file-lbl {
  font-size: 14px;
  font-weight: bold;
  margin-top: 20px;
  padding-left: 10px;
}

.default-lbl {
  font-size: 13px;
  margin-top: 3px;
  padding-left: 10px;
}

.file-info {
  font-size: 13px;
}

.actions-lbl {
  font-size: 14px;
  font-weight: bold;
  padding-left: 10px;
}

.img-action {
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 13px;
  padding-left: 10px;
  padding-bottom: 10px;
}

.edit-action {
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 12px;
  padding-left: 5px;
  padding-bottom: 10px;
}

.action-name {
  padding-left: 10px;
}

.tag-container {
  margin-left: 10px;
  margin-bottom: 12px;
  width: 200px;
  height: 76px;
  overflow: scroll;
  overflow-x: hidden;
  padding-left: 4px;
}

.dropdown-custom {
  min-width: 115px !important;
}

.mat-standard-chip {
  min-height: 25px !important
}

.spinner {
  position: absolute;
  top: 50%;
  left: 50%;
}

.size-error {
  margin-right: 10px;
  font-weight: bold;
}

/* @media only screen and (min-width: 576px) and (max-width: 992px) {
  .thumbnail {
    height: 84px;
    width: 140px;
  }
}

@media only screen and (min-width: 300px) and (max-width: 575px) {
  .thumbnail {
    height: 84px;
    width: 140px;
  }
} */

@media (min-width: 768px) {
  .pd-20 {
    padding: 19px !important;
  }
}

@media (min-width: 1100px) {
  .pd-20 {
    padding: 15px !important;
  }
}

.card-file-thumb {
  height: 84px;
  font-size: 48px;
}