<div *ngIf="_HelperService.UserAccount.IsTucPlusEnabled" style="padding:20px;padding-bottom:0px;">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="box p-3">
                <div class="d-flex mb-3">
                    <span class="text-warn mr-2">Recent </span>
                    <span class="badge  mr-2" style="line-height: 1.6;"
                        (click)="UserAnalytics_DateChange_TodayCustom(1)"
                        [ngClass]="CustomType === 1 ? 'purple' : 'grey'" style="line-height: 1.6;">Today</span>

                    <span class="badge  mr-2" style="line-height: 1.6;"
                        (click)="UserAnalytics_DateChange_TodayCustom(2)"
                        [ngClass]="CustomType === 2 ? 'purple' : 'grey'" style="line-height: 1.6;">Yesterday</span>

                    <span class="badge  mr-2" style="line-height: 1.6;"
                        (click)="UserAnalytics_DateChange_TodayCustom(3)"
                        [ngClass]="CustomType === 3 ? 'purple' : 'grey'" style="line-height: 1.6;">This Week</span>

                    <span class="badge  mr-2" style="line-height: 1.6;"
                        (click)="UserAnalytics_DateChange_TodayCustom(4)"
                        [ngClass]="CustomType === 4 ? 'purple' : 'grey'" style="line-height: 1.6;">Last Week</span>

                    <span class="pl-2">
                        <a (click)="GetOverviewToday()"><i class="fa fa-fw  f-s-11 fa-sync text-success"></i></a>
                    </span>
                </div>
                <div class="row  no-gutters text-center" style="width:100%">
                    <!-- <div class="col-md-2 col-md-2 col-sm-4  col-xs-6">
                        <div class="py-2 d-block">
                            <div class="d-block text-md text-warn _500">{{_OverviewToday.AppUsers}}</div>
                            <span class="d-block f-s-11">New Customers</span>
                        </div>
                    </div> -->
                    <div class="col-md-2 col-md-2 col-sm-4  col-xs-6">
                        <div class="py-2 d-block">
                            <div class="d-block text-md text-warn _500">{{_OverviewToday.Transactions}}</div>
                            <span class="d-block f-s-11">Total Visits</span>
                        </div>
                    </div>
                    <div class="col-md-2 col-md-2 col-sm-4  col-xs-6">
                        <div class="py-2 d-block">
                            <div class="d-block text-md text-warn _500"><span
                                    [innerHtml]="_HelperService.AppConfig.CurrencySymbol"></span>{{_OverviewToday.PurchaseAmount | number:'1.2-2' ||"--"}}
                            </div>
                            <span class="d-block f-s-11">Purchase Amount</span>
                        </div>
                    </div>
                    <div class="col-md-2 col-md-2 col-sm-4  col-xs-6">
                        <div class="py-2 d-block">
                            <div class="d-block text-md text-warn _500"><span
                                    [innerHtml]="_HelperService.AppConfig.CurrencySymbol"></span>{{_OverviewToday.RewardAmount | number:'1.2-2' ||"--"}}
                            </div>
                            <span class="d-block f-s-11"> Rewards</span>
                        </div>
                    </div>
                    <div class="col-md-2 col-md-2 col-sm-4  col-xs-6">
                        <div class="py-2 d-block">
                            <div class="d-block text-md text-warn _500"><span
                                    [innerHtml]="_HelperService.AppConfig.CurrencySymbol"></span>{{_OverviewToday.ClaimedReward | number:'1.2-2' ||"--"}}
                            </div>
                            <span class="d-block f-s-11">Claimed Rewards</span>
                        </div>
                    </div>
                    <div class="col-md-2 col-md-2 col-sm-4  col-xs-6">
                        <div class="py-2 d-block">
                            <div class="d-block text-md text-warn _500"><span
                                    [innerHtml]="_HelperService.AppConfig.CurrencySymbol"></span>{{_OverviewToday.Charge | number:'1.2-2' ||"--"}}
                            </div>
                            <span class="d-block f-s-11">Convenience Charge</span>
                        </div>
                    </div>

                    <div class="col-md-2 col-md-2 col-sm-4  col-xs-6">
                        <div class="py-2 d-block">
                            <div class="d-block text-md text-warn _500"><span
                                    [innerHtml]="_HelperService.AppConfig.CurrencySymbol"></span>{{_OverviewToday.RedeemAmount | number:'1.2-2' ||"--"}}
                            </div>
                            <span class="d-block f-s-11">Total Redeem</span>
                        </div>
                    </div>
                    <!-- <div class="col-md-2 col-md-2 col-sm-4  col-xs-6">
                        <div class="py-2 d-block">
                            <div class="d-block text-md text-warn _500"><span
                                    [innerHtml]="_HelperService.AppConfig.CurrencySymbol"></span>{{_OverviewToday.SettlementCredit | number:'1.2-2' ||"--"}}
                            </div>
                            <span class="d-block f-s-11">Pending Settlement </span>
                        </div>
                    </div> -->
                    <!-- <div class="col-md-2 col-md-2 col-sm-4  col-xs-6">
                        <div class="py-2 d-block">
                            <div class="d-block text-md text-warn _500"><span
                                    [innerHtml]="_HelperService.AppConfig.CurrencySymbol"></span>{{_OverviewToday.SettlementDebit | number:'1.2-2' ||"--"}}
                            </div>
                            <span class="d-block f-s-11">Settled Amount</span>
                        </div>
                    </div> -->
                </div>
            </div>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-lg-9">
            <button class="btn  btn-sm mb-1" type="button" [ngClass]="Type === 1 ? 'warn' : 'grey'"
                (click)="UserAnalytics_DateChange_Today(1)">
                Today
            </button>
            <button class="btn  btn-sm mb-1" type="button" [ngClass]="Type === 2 ? 'warn' : 'grey'"
                (click)="UserAnalytics_DateChange_Today(2)">
                Yesterday
            </button>
            <button class="btn  btn-sm mb-1" type="button" [ngClass]="Type === 3 ? 'warn' : 'grey'"
                (click)="UserAnalytics_DateChange_Today(3)">
                This Week
            </button>
            <button class="btn  btn-sm mb-1" type="button" [ngClass]="Type === 4 ? 'warn' : 'grey'"
                (click)="UserAnalytics_DateChange_Today(4)">
                Last Week
            </button>
            <button class="btn  btn-sm mb-1" type="button" [ngClass]="Type === 5 ? 'warn' : 'grey'"
                (click)="UserAnalytics_DateChange_Today(5)">
                This Month
            </button>
            <button class="btn  btn-sm mb-1" type="button" [ngClass]="Type === 6 ? 'warn' : 'grey'"
                (click)="UserAnalytics_DateChange_Today(6)">
                Last Month
            </button>
            <button class="btn  btn-sm mb-1" type="button" [ngClass]="Type === 7 ? 'warn' : 'grey'"
                (click)="UserAnalytics_DateChange_Today(7)">
                All
            </button>
        </div>
        <div class="col-lg-3">
            <input type="text" class="form-control dr-picker" name="daterangeInput" daterangepicker
                [options]="_HelperService.AppConfig.DateRangeOptions"
                (selected)="UserAnalytics_DateChange($event,'x')" />
        </div>
    </div>
    <div class="row">
        <div class="col-6 col-lg-3">
            <div class="box p-3 bg-app">
                <div class="d-flex"><span class="text-white">Total customers</span></div>
                <div class="py-3 text-center text-lg text-white">{{_Overview.AppUsers | number:'1.0-1' ||"--"}}
                </div>
                <div class="d-flex mb-2 text-white"><span class="flex  f-s-11">Last User </span>
                    <span>{{_Overview.LastAppUserDate ||"--"}}</span></div>

                <!-- <div class="d-flex text-white mb-2"><span class="flex  f-s-11">Own </span>
                    <span>{{_Overview.OwnAppUsers ||"--"}}</span></div>
                <div class="d-flex text-white mb-2 "><span class="flex  f-s-11"> Referral </span>
                    <span>{{_Overview.ReferralAppUsers ||"--"}}</span></div>
                <div class="d-flex text-white "><span class="flex  f-s-11"> Repeating </span>
                    <span>{{_Overview.RepeatingAppUsers ||"--"}}</span></div> -->
            </div>
        </div>
        <div class="col-6 col-lg-3">
            <div class="box p-3  bg-app">
                <div class="d-flex"><span class="text-white">Total store visits</span></div>
                <div class="py-3 text-center text-lg text-white">
                    {{_Overview.Transactions | number:'1.0-1' ||"--"}}
                </div>
                <div class="d-flex text-white mb-2"><span class="flex  f-s-11">Last Visit </span>
                    <span
                        *ngIf="_Overview.LastTransaction != undefined">{{_Overview.LastTransaction.TransactionDate ||"--"}}</span>
                    <span *ngIf="_Overview.LastTransaction == undefined">--</span>
                </div>
                <!-- <div class="d-flex text-white mb-2"><span class="flex  f-s-11">Own users </span>
                    {{_Overview.NewTransactions ||"--"}}
                </div>

                <div class="d-flex text-white  mb-2"><span class="flex  f-s-11">Referral users </span>
                    {{_Overview.ReferralTransactions ||"--"}}
                </div>
                <div class="d-flex text-white"><span class="flex  f-s-11">Repeating users </span>
                    {{_Overview.RepeatingTransactions ||"--"}}
                </div> -->
            </div>
        </div>
        <div class="col-6 col-lg-3">
            <div class="box p-3  bg-app">
                <div class="d-flex"><span class="text-white">Total purchase</span></div>
                <div class="py-3 text-center text-lg text-white">
                    <span
                        [innerHtml]="_HelperService.AppConfig.CurrencySymbol"></span>{{_Overview.PurchaseAmount | number:'1.0-1' ||"--"}}
                </div>
                <div class="d-flex text-white  mb-2"><span class="flex f-s-11">Last Purchase </span>
                    <span *ngIf="_Overview.LastTransaction != undefined"> <span
                            [innerHtml]="_HelperService.AppConfig.CurrencySymbol"></span>{{_Overview.LastTransaction.InvoiceAmount  | number:'1.0-1' ||"--"}}</span>
                    <span *ngIf="_Overview.LastTransaction == undefined"> <span
                            [innerHtml]="_HelperService.AppConfig.CurrencySymbol"></span>0</span>
                </div>
                <!--  <div class="d-flex text-white mb-2"><span class="flex  f-s-11">Own </span>
                    <span [innerHtml]="_HelperService.AppConfig.CurrencySymbol"></span>
                    {{_Overview.NewPurchaseAmount  | number:'1.0-1'  ||"--"}}
                </div>

               <div class="d-flex text-white mb-2"><span class="flex  f-s-11">Referral </span>
                    <span
                        [innerHtml]="_HelperService.AppConfig.CurrencySymbol"></span>{{_Overview.ReferralPurchaseAmount  | number:'1.0-1'  ||"--"}}
                </div>
                <div class="d-flex text-white "><span class="flex  f-s-11">Repeating </span>
                    <span
                        [innerHtml]="_HelperService.AppConfig.CurrencySymbol"></span>{{_Overview.RepeatingPurchaseAmount  | number:'1.0-1' ||"--"}}
                </div> -->
            </div>
        </div>
        <div class="col-6 col-lg-3">
            <div class="box p-3  bg-app">
                <div class="d-flex"><span class="text-white">Total commission earned</span></div>
                <div class="py-3 text-center text-lg text-white">
                    <span
                        [innerHtml]="_HelperService.AppConfig.CurrencySymbol"></span>{{_Overview.IssuerCommissionAmount | number:'1.0-1' ||"0"}}
                </div>
                <div class="d-flex text-white"><span class="flex  f-s-11">Last </span>
                    <span>{{_Overview.LastIssuerCommissionDate ||"--"}}</span>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-6 col-lg-3">
            <div class="box p-3">
                <div class="d-flex"><span class="text-warn">Reward Percentage</span></div>
                <div class="py-3 text-center text-lg text-success">
                    {{_Overview.RewardPercentage | number:'1.2-2' ||"--"}}%
                </div>

                <div class="d-flex mb-2"><span class="flex text-muted">Store Locations </span>
                    <span>{{_Overview.Stores | number:'1.0-1' ||"--"}}</span>
                </div>
                <div class="d-flex"><span class="flex text-muted">Terminals </span>
                    <span>{{_Overview.Terminals | number:'1.0-1' ||"--"}}</span>
                </div>
                <!-- <div class="d-flex"><span class="flex text-warn">Thank U Cash Plus</span>
                    <span *ngIf="_Overview.ThankUCashPlus == 0" class="float-right badge danger "
                        style="line-height:1.6 !important;">
                        Disabled
                    </span>
                    <span *ngIf="_Overview.ThankUCashPlus == 1" class="float-right badge warn "
                        style="line-height:1.6 !important;">
                        Enabled
                    </span>
                </div> -->
            </div>
        </div>
        <div class="col-6 col-lg-3">
            <div class="box p-3">
                <div class="d-flex"><span class="text-warn">Total rewards</span></div>
                <div class="py-3 text-center text-lg text-dark"><span
                        [innerHtml]="_HelperService.AppConfig.CurrencySymbol"></span>{{_Overview.RewardAmount | number:'1.2-2' ||"--"}}
                </div>
                <div class="d-flex mb-2"><span class="flex text-muted">Claimed </span>
                    <span><span
                            [innerHtml]="_HelperService.AppConfig.CurrencySymbol"></span>{{_Overview.ClaimedReward | number:'1.2-2' ||"--"}}</span>
                </div>
                <div class="d-flex"><span class="flex text-muted">Charge</span>
                    <span><span
                            [innerHtml]="_HelperService.AppConfig.CurrencySymbol"></span>{{_Overview.Charge | number:'1.2-2' ||"--"}}</span>
                </div>

                <!-- <div class="d-flex mb-2"><span class="flex text-muted">Purchase </span>
                    <span><span
                            [innerHtml]="_HelperService.AppConfig.CurrencySymbol"></span>{{_Overview.RewardPurchaseAmount | number:'1.2-2' ||"--"}}</span>
                </div>
                <div class="d-flex"><span class="flex text-muted">Transactions</span>
                    <span>{{_Overview.RewardTransactions | number:'1.0-1' ||"--"}}</span></div> -->

            </div>
        </div>
        <div class="col-6 col-lg-3">
            <div class="box p-3">
                <div class="d-flex"><span class="text-warn">Total redeemed</span></div>
                <div class="py-3 text-center text-lg text-dark"><span
                        [innerHtml]="_HelperService.AppConfig.CurrencySymbol"></span>{{_Overview.RedeemAmount | number:'1.2-2' ||"--"}}
                </div>
                <div class="d-flex mb-2"><span class="flex text-muted">Purchase </span>
                    <span><span
                            [innerHtml]="_HelperService.AppConfig.CurrencySymbol"></span>{{_Overview.RedeemPurchaseAmount | number:'1.2-2' ||"--"}}</span>
                </div>
                <div class="d-flex"><span class="flex text-muted">Transactions</span>
                    <span>{{_Overview.RedeemTransactions | number:'1.0-1' ||"--"}}</span></div>
            </div>
        </div>

        <div class="col-6 col-lg-3">
            <div class="box p-3">
                <div class="d-flex"><span class="text-warn">Customers</span></div>
                <div *ngIf="_Overview.GenderData.length > 0">
                    <canvas height="118" baseChart [colors]="_HelperService._UserOverviewPlot.PieColors"
                        [data]="_Overview.GenderData" [labels]="_Overview.GenderLabel"
                        [chartType]="_HelperService._UserOverviewPlot.ChartTypeDoughnet"
                        [options]="_HelperService._UserOverviewPlot.ChartTypePieOptions" [legend]="true"></canvas>
                    <!-- <div class="row no-gutters">
                        <div class="col-lg-6 text-center col-md-6 col-sm-6 col-xs-12">
                            <div class="py-3  text-lg text-dark">{{_Overview.AppUsersMale | number:'1.0-1' ||"--"}}
                            </div>
                            Male
                        </div>
                        <div class="col-lg-6 text-center col-md-6 col-sm-6 col-xs-12">
                            <div class="py-3 text-lg text-dark">{{_Overview.AppUsersFemale | number:'1.0-1' ||"--"}}
                            </div>
                            Female
                        </div>
                    </div> -->
                </div>
            </div>
        </div>
        <!-- <div class="col-6 col-lg-3">
            <div class="box p-3">
                <div class="d-flex"><span class="text-warn">Settlement</span></div>
                <div class="py-3 text-center text-lg text-dark"><span
                        [innerHtml]="_HelperService.AppConfig.CurrencySymbol"></span>{{_Overview.SettlementPending | number:'1.2-2' ||"--"}}
                </div>
                <div class="d-flex mb-2"><span class="flex text-muted">Total Earning </span>
                    <span><span
                            [innerHtml]="_HelperService.AppConfig.CurrencySymbol"></span>{{_Overview.SettlementCredit | number:'1.2-2' ||"--"}}</span>
                </div>
                <div class="d-flex"><span class="flex text-muted">Amount Settled </span>
                    <span><span
                            [innerHtml]="_HelperService.AppConfig.CurrencySymbol"></span>{{_Overview.SettlementDebit | number:'1.2-2' ||"--"}}</span>
                </div>
            </div>
        </div> -->
    </div>
    <div class="row">
        <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
            <div class="box ">
                <!-- <div class="d-flex"><span class="text-warn">Reward sources</span></div> -->
                <div class="box-header">
                    <h3 class="text-warn">Reward sources</h3>
                    <small class="text-gray">Transactions reward sources based on transaction types</small>
                </div>
                <div class="row no-gutters p-3">
                    <div class="col-lg-4">
                        <!-- <div *ngIf="_Overview.RewardTypeData.length > 0"> -->
                        <div>
                            <canvas height="165" baseChart [colors]="_HelperService._UserOverviewPlot.PieColors"
                                [data]="_Overview.RewardTypeData" [labels]="_Overview.RewardTypeLabel"
                                [chartType]="_HelperService._UserOverviewPlot.ChartTypeDoughnet"
                                [options]="_HelperService._UserOverviewPlot.ChartTypePieOptions"
                                [legend]="true"></canvas>
                        </div>
                    </div>
                    <div class="col-lg-4 text-center col-md-6 col-sm-6 col-xs-12 pr-4">
                        <div class="py-3  text-lg text-dark"><span
                                [innerHtml]="_HelperService.AppConfig.CurrencySymbol"></span>{{_Overview.CardRewardAmount | number:'1.2-2' ||"--"}}
                        </div>
                        <div class="mb-3">
                            Card Reward
                        </div>

                        <div class="text-left">
                            <div class="d-flex mb-2"><span class="flex text-muted">Purchase </span>
                                <span><span
                                        [innerHtml]="_HelperService.AppConfig.CurrencySymbol"></span>{{_Overview.CardRewardPurchaseAmount | number:'1.2-2' ||"--"}}</span>
                            </div>
                            <div class="d-flex"><span class="flex text-muted">Transactions</span>
                                <span>{{_Overview.CardRewardTransactions | number:'1.0-1' ||"--"}}</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 text-center col-md-6 col-sm-6 col-xs-12 pl-4">
                        <div class="py-3 text-lg text-dark"><span
                                [innerHtml]="_HelperService.AppConfig.CurrencySymbol"></span>{{_Overview.CashRewardAmount | number:'1.2-2' ||"--"}}
                        </div>
                        <div class="mb-3">
                            Cash Reward</div>
                        <div class="text-left">
                            <div class="d-flex mb-2"><span class="flex text-muted">Purchase </span>
                                <span><span
                                        [innerHtml]="_HelperService.AppConfig.CurrencySymbol"></span>{{_Overview.CashRewardPurchaseAmount | number:'1.2-2' ||"--"}}</span>
                            </div>
                            <div class="d-flex"><span class="flex text-muted">Transactions</span>
                                <span>{{_Overview.CashRewardTransactions | number:'1.0-1' ||"--"}}</span>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
            <div class="box ">
                <div class="box-header pb-0">
                    <h3 class="text-warn">Recent Rewards</h3>
                    <small class="text-gray">New reward transactions</small>
                </div>
                <!-- <div class="d-flex mb-3"><span class="text-warn">Recent Rewards</span></div> -->
                <div class="p-3" style="    max-height: 213px;    height: 213px;overflow: auto;">
                    <div class="streamline streamline-xs">
                        <div class="sl-item b-warn" *ngFor="let TItem of TURewardMerchant_Config.Data">
                            <div class="sl-content"><span class="sl-date text-primary">{{TItem.TransactionDate}}
                                    <span class="badge purple float-right">
                                        {{TItem.TypeName || "--"}}
                                    </span>
                                </span>
                                <div>
                                    <div class="_500">
                                        {{TItem.UserAccountDisplayName || "--"}}
                                    </div>
                                    <!-- <div class="f-s-11 text-muted">
                                        done by {{TItem.CreatedByDisplayName || "--"}}
                                    </div> -->
                                    <span class="f-s-11  text-muted">
                                        <span class=""> <span
                                                [innerHtml]="_HelperService.AppConfig.CurrencySymbol"></span>
                                            {{TItem.RewardAmount | number:'1.2-2' || "--"}} rewards</span>
                                        <span class=" float-right">
                                            <span [innerHtml]="_HelperService.AppConfig.CurrencySymbol"></span>{{TItem.InvoiceAmount
                                                        | number:'1.2-2' || "--"}}
                                        </span>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row" style="display:none;">
        <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
            <div class="box p-3">
                <div class="d-flex mb-3"><span class="text-warn">Customer Store Visit Timings</span></div>
                <div *ngIf="VisitTrendData.length > 0">
                    <canvas height="83" baseChart #RewardPlot="base-chart"
                        [colors]="_HelperService._UserOverviewPlot.Colors" [datasets]="VisitTrendData"
                        [labels]="VisitTrendLabel" [chartType]="_HelperService._UserOverviewPlot.ChartTypeBar"
                        [options]="_HelperService._UserOverviewPlot.ChartTypeBarOptions"></canvas>
                </div>
                <div *ngIf="VisitTrendData.length == 0 ">
                    <div class="text-warning">
                        <i class="{{ 'Common.SpinnerIcon' | translate }}"></i> {{ 'Common.PleaseWait' | translate }} ...

                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
            <div class="box p-3">
                <div class="d-flex mb-3"><span class="text-warn">Top Visitors</span></div>
                <div style="max-height:200px;overflow: auto;">
                    <div class="streamline streamline-xs">
                        <div class="sl-item b-warn" *ngFor="let TItem of AppUsers_Config.Data">
                            <div class="sl-content"><span class="sl-date text-primary">{{TItem.DisplayName}}
                                    <span class="badge purple float-right">
                                        {{TItem.Transactions || "--"}} visits
                                    </span>
                                </span>
                                <div>
                                    <div class="f-s-11 text-muted _500">
                                        Last visit {{TItem.LastTransactionDate || "--"}}
                                    </div>
                                    <span class="f-s-11">
                                        <span [innerHtml]="_HelperService.AppConfig.CurrencySymbol"></span>{{TItem.Purchase
                                                    | number:'1.2-2' || "--"}} Purchase
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <!-- 
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
            <div class="box p-3">
                <div class="d-flex mb-3"><span class="text-warn">Recent Redeem</span></div>
                <div style="max-height:200px;overflow: auto;">
                    <div class="streamline streamline-xs">
                        <div class="sl-item b-warn" *ngFor="let TItem of TURedeemMerchant_Config.Data">
                            <div class="sl-content"><span class="sl-date text-primary">{{TItem.TransactionDate}}
                                    <span class="badge purple float-right">
                                        {{TItem.TypeName || "--"}}
                                    </span>
                                </span>
                                <div>
                                    <div class="_500">
                                        {{TItem.UserAccountDisplayName || "--"}}
                                    </div>
                                    <div class="f-s-11 text-muted">
                                        done by {{TItem.CreatedByDisplayName || "--"}}
                                    </div>
                                    <span class="f-s-11 text-muted">
                                        <span class=""> <span
                                                [innerHtml]="_HelperService.AppConfig.CurrencySymbol"></span>
                                            {{TItem.Amount | number:'1.2-2' || "--"}} redeemed</span>
                                        <span class=" float-right">
                                            <span [innerHtml]="_HelperService.AppConfig.CurrencySymbol"></span>{{TItem.InvoiceAmount
                                                                | number:'1.2-2' || "--"}}
                                        </span>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
 -->

    </div>


    <!-- <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="box p-3">
            <div class="d-flex"><span class="text-warn">Customers</span></div>
            <div *ngIf="_Overview.GenderData.length > 0">
                <canvas height="165" baseChart [colors]="_HelperService._UserOverviewPlot.PieColors"
                    [data]="_Overview.GenderData" [labels]="_Overview.GenderLabel"
                    [chartType]="_HelperService._UserOverviewPlot.ChartTypeDoughnet"
                    [options]="_HelperService._UserOverviewPlot.ChartTypePieOptions" [legend]="true"></canvas>
                 <div class="row no-gutters">
                            <div class="col-lg-6 text-center col-md-6 col-sm-6 col-xs-12">
                                <div class="py-3  text-lg text-dark">{{_Overview.AppUsersMale | number:'1.0-1' ||"--"}}
                                </div>
                                Male
                            </div>
                            <div class="col-lg-6 text-center col-md-6 col-sm-6 col-xs-12">
                                <div class="py-3 text-lg text-dark">{{_Overview.AppUsersFemale | number:'1.0-1' ||"--"}}
                                </div>
                                Female
                            </div>
    
                        </div> 
            </div>
        </div>
    </div> -->
    <!-- <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
            <div class="box">
                <div class="row row-col no-gutters b-t rounded-bottom text-center" style="width:100%">
                    <div class="col-4 b-r"><a href="#" class="py-3 d-block" data-toggle-class=""><strong
                                class="d-block">{{_Overview.Cashiers}}</strong> <span
                                class="d-block">Cashiers</span></a>
                    </div>
                    <div class="col-4 b-r"><a href="#" class="py-3 d-block" data-toggle-class=""><strong
                                class="d-block">{{_Overview.Terminals}}</strong> <span
                                class="d-block">Terminals</span></a></div>
                    <div class="col-4"><a href="#" class="py-3 d-block" data-toggle-class=""><strong
                                class="d-block">{{_Overview.Pssp}}</strong> <span class="d-block">Gateways</span></a>
                    </div>
                </div>
            </div>
        </div>
    </div> -->
</div>
<div *ngIf="!_HelperService.UserAccount.IsTucPlusEnabled" style="padding:20px;padding-bottom:0px;">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="box p-3">
                <div class="d-flex mb-3">
                    <span class="text-warn mr-2">Recent </span>
                    <span class="badge  mr-2" style="line-height: 1.6;"
                        (click)="UserAnalytics_DateChange_TodayCustom(1)"
                        [ngClass]="CustomType === 1 ? 'purple' : 'grey'" style="line-height: 1.6;">Today</span>

                    <span class="badge  mr-2" style="line-height: 1.6;"
                        (click)="UserAnalytics_DateChange_TodayCustom(2)"
                        [ngClass]="CustomType === 2 ? 'purple' : 'grey'" style="line-height: 1.6;">Yesterday</span>

                    <span class="badge  mr-2" style="line-height: 1.6;"
                        (click)="UserAnalytics_DateChange_TodayCustom(3)"
                        [ngClass]="CustomType === 3 ? 'purple' : 'grey'" style="line-height: 1.6;">This Week</span>

                    <span class="badge  mr-2" style="line-height: 1.6;"
                        (click)="UserAnalytics_DateChange_TodayCustom(4)"
                        [ngClass]="CustomType === 4 ? 'purple' : 'grey'" style="line-height: 1.6;">Last Week</span>

                    <span class="pl-2">
                        <a (click)="GetOverviewToday()"><i class="fa fa-fw  f-s-11 fa-sync text-success"></i></a>
                    </span>
                </div>
                <div class="row  no-gutters text-center" style="width:100%">
                    <!-- <div class="col-md-2 col-md-2 col-sm-4  col-xs-6">
                        <div class="py-2 d-block">
                            <div class="d-block text-md text-warn _500">{{_OverviewToday.AppUsers}}</div>
                            <span class="d-block f-s-11">New Customers</span>
                        </div>
                    </div> -->
                    <div class="col-md-2 col-md-2 col-sm-4  col-xs-6">
                        <div class="py-2 d-block">
                            <div class="d-block text-md text-warn _500">{{_OverviewToday.Transactions}}</div>
                            <span class="d-block f-s-11">Total Visits</span>
                        </div>
                    </div>
                    <div class="col-md-2 col-md-2 col-sm-4  col-xs-6">
                        <div class="py-2 d-block">
                            <div class="d-block text-md text-warn _500"><span
                                    [innerHtml]="_HelperService.AppConfig.CurrencySymbol"></span>{{_OverviewToday.PurchaseAmount | number:'1.2-2' ||"--"}}
                            </div>
                            <span class="d-block f-s-11">Purchase Amount</span>
                        </div>
                    </div>
                    <div class="col-md-2 col-md-2 col-sm-4  col-xs-6">
                        <div class="py-2 d-block">
                            <div class="d-block text-md text-warn _500"><span
                                    [innerHtml]="_HelperService.AppConfig.CurrencySymbol"></span>{{_OverviewToday.RewardAmount | number:'1.2-2' ||"--"}}
                            </div>
                            <span class="d-block f-s-11">Total Rewards</span>
                        </div>
                    </div>
                    <div class="col-md-2 col-md-2 col-sm-4  col-xs-6">
                        <div class="py-2 d-block">
                            <div class="d-block text-md text-warn _500"><span
                                    [innerHtml]="_HelperService.AppConfig.CurrencySymbol"></span>{{_OverviewToday.RedeemAmount | number:'1.2-2' ||"--"}}
                            </div>
                            <span class="d-block f-s-11">Total Redeem</span>
                        </div>
                    </div>
                    <div class="col-md-2 col-md-2 col-sm-4  col-xs-6">
                        <div class="py-2 d-block">
                            <div class="d-block text-md text-warn _500"><span
                                    [innerHtml]="_HelperService.AppConfig.CurrencySymbol"></span>{{_OverviewToday.SettlementCredit | number:'1.2-2' ||"--"}}
                            </div>
                            <span class="d-block f-s-11">Pending Settlement </span>
                        </div>
                    </div>
                    <div class="col-md-2 col-md-2 col-sm-4  col-xs-6">
                        <div class="py-2 d-block">
                            <div class="d-block text-md text-warn _500"><span
                                    [innerHtml]="_HelperService.AppConfig.CurrencySymbol"></span>{{_OverviewToday.SettlementDebit | number:'1.2-2' ||"--"}}
                            </div>
                            <span class="d-block f-s-11">Settled Amount</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-lg-9">
            <button class="btn  btn-sm mb-1" type="button" [ngClass]="Type === 1 ? 'warn' : 'grey'"
                (click)="UserAnalytics_DateChange_Today(1)">
                Today
            </button>
            <button class="btn  btn-sm mb-1" type="button" [ngClass]="Type === 2 ? 'warn' : 'grey'"
                (click)="UserAnalytics_DateChange_Today(2)">
                Yesterday
            </button>
            <button class="btn  btn-sm mb-1" type="button" [ngClass]="Type === 3 ? 'warn' : 'grey'"
                (click)="UserAnalytics_DateChange_Today(3)">
                This Week
            </button>
            <button class="btn  btn-sm mb-1" type="button" [ngClass]="Type === 4 ? 'warn' : 'grey'"
                (click)="UserAnalytics_DateChange_Today(4)">
                Last Week
            </button>
            <button class="btn  btn-sm mb-1" type="button" [ngClass]="Type === 5 ? 'warn' : 'grey'"
                (click)="UserAnalytics_DateChange_Today(5)">
                This Month
            </button>
            <button class="btn  btn-sm mb-1" type="button" [ngClass]="Type === 6 ? 'warn' : 'grey'"
                (click)="UserAnalytics_DateChange_Today(6)">
                Last Month
            </button>
            <button class="btn  btn-sm mb-1" type="button" [ngClass]="Type === 7 ? 'warn' : 'grey'"
                (click)="UserAnalytics_DateChange_Today(7)">
                All
            </button>
        </div>
        <div class="col-lg-3">
            <input type="text" class="form-control dr-picker" name="daterangeInput" daterangepicker
                [options]="_HelperService.AppConfig.DateRangeOptions"
                (selected)="UserAnalytics_DateChange($event,'x')" />
        </div>
    </div>
    <div class="row">
        <div class="col-6 col-lg-3">
            <div class="box p-3 bg-app">
                <div class="d-flex"><span class="text-white">Total customers</span></div>
                <div class="py-3 text-center text-lg text-white">{{_Overview.AppUsers | number:'1.0-1' ||"--"}}
                </div>
                <div class="d-flex mb-2 text-white"><span class="flex  f-s-11">Last User </span>
                    <span>{{_Overview.LastAppUserDate ||"--"}}</span></div>

                <!-- <div class="d-flex text-white mb-2"><span class="flex  f-s-11">Own </span>
                    <span>{{_Overview.OwnAppUsers ||"--"}}</span></div>
                <div class="d-flex text-white mb-2 "><span class="flex  f-s-11"> Referral </span>
                    <span>{{_Overview.ReferralAppUsers ||"--"}}</span></div>
                <div class="d-flex text-white "><span class="flex  f-s-11"> Repeating </span>
                    <span>{{_Overview.RepeatingAppUsers ||"--"}}</span></div> -->
            </div>
        </div>
        <div class="col-6 col-lg-3">
            <div class="box p-3  bg-app">
                <div class="d-flex"><span class="text-white">Total store visits</span></div>
                <div class="py-3 text-center text-lg text-white">
                    {{_Overview.Transactions | number:'1.0-1' ||"--"}}
                </div>
                <div class="d-flex text-white mb-2"><span class="flex  f-s-11">Last Visit </span>
                    <span
                        *ngIf="_Overview.LastTransaction != undefined">{{_Overview.LastTransaction.TransactionDate ||"--"}}</span>
                    <span *ngIf="_Overview.LastTransaction == undefined">--</span>
                </div>
                <!-- <div class="d-flex text-white mb-2"><span class="flex  f-s-11">Own users </span>
                    {{_Overview.NewTransactions ||"--"}}
                </div>

                <div class="d-flex text-white  mb-2"><span class="flex  f-s-11">Referral users </span>
                    {{_Overview.ReferralTransactions ||"--"}}
                </div>
                <div class="d-flex text-white"><span class="flex  f-s-11">Repeating users </span>
                    {{_Overview.RepeatingTransactions ||"--"}}
                </div> -->
            </div>
        </div>
        <div class="col-6 col-lg-3">
            <div class="box p-3  bg-app">
                <div class="d-flex"><span class="text-white">Total purchase</span></div>
                <div class="py-3 text-center text-lg text-white">
                    <span
                        [innerHtml]="_HelperService.AppConfig.CurrencySymbol"></span>{{_Overview.PurchaseAmount | number:'1.0-1' ||"--"}}
                </div>
                <div class="d-flex text-white  mb-2"><span class="flex f-s-11">Last Purchase </span>
                    <span *ngIf="_Overview.LastTransaction != undefined"> <span
                            [innerHtml]="_HelperService.AppConfig.CurrencySymbol"></span>{{_Overview.LastTransaction.InvoiceAmount  | number:'1.0-1' ||"--"}}</span>
                    <span *ngIf="_Overview.LastTransaction == undefined"> <span
                            [innerHtml]="_HelperService.AppConfig.CurrencySymbol"></span>0</span>
                </div>
                <!--  <div class="d-flex text-white mb-2"><span class="flex  f-s-11">Own </span>
                    <span [innerHtml]="_HelperService.AppConfig.CurrencySymbol"></span>
                    {{_Overview.NewPurchaseAmount  | number:'1.0-1'  ||"--"}}
                </div>

               <div class="d-flex text-white mb-2"><span class="flex  f-s-11">Referral </span>
                    <span
                        [innerHtml]="_HelperService.AppConfig.CurrencySymbol"></span>{{_Overview.ReferralPurchaseAmount  | number:'1.0-1'  ||"--"}}
                </div>
                <div class="d-flex text-white "><span class="flex  f-s-11">Repeating </span>
                    <span
                        [innerHtml]="_HelperService.AppConfig.CurrencySymbol"></span>{{_Overview.RepeatingPurchaseAmount  | number:'1.0-1' ||"--"}}
                </div> -->
            </div>
        </div>
        <div class="col-6 col-lg-3">
            <div class="box p-3  bg-app">
                <div class="d-flex"><span class="text-white">Total commission earned</span></div>
                <div class="py-3 text-center text-lg text-white">
                    <span
                        [innerHtml]="_HelperService.AppConfig.CurrencySymbol"></span>{{_Overview.IssuerCommissionAmount | number:'1.0-1' ||"0"}}
                </div>
                <div class="d-flex text-white"><span class="flex  f-s-11">Last </span>
                    <span>{{_Overview.LastIssuerCommissionDate ||"--"}}</span>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-6 col-lg-3">
            <div class="box p-3">
                <div class="d-flex"><span class="text-warn">Reward Percentage</span></div>
                <div class="py-3 text-center text-lg text-success">
                    {{_Overview.RewardPercentage | number:'1.2-2' ||"--"}}%
                </div>

                <div class="d-flex mb-2"><span class="flex text-muted">Store Locations </span>
                    <span>{{_Overview.Stores | number:'1.0-1' ||"--"}}</span>
                </div>
                <div class="d-flex"><span class="flex text-muted">Terminals </span>
                    <span>{{_Overview.Terminals | number:'1.0-1' ||"--"}}</span>
                </div>
                <!-- <div class="d-flex"><span class="flex text-warn">Thank U Cash Plus</span>
                    <span *ngIf="_Overview.ThankUCashPlus == 0" class="float-right badge danger "
                        style="line-height:1.6 !important;">
                        Disabled
                    </span>
                    <span *ngIf="_Overview.ThankUCashPlus == 1" class="float-right badge warn "
                        style="line-height:1.6 !important;">
                        Enabled
                    </span>
                </div> -->
            </div>
        </div>
        <div class="col-6 col-lg-3">
            <div class="box p-3">
                <div class="d-flex"><span class="text-warn">Total rewards</span></div>
                <div class="py-3 text-center text-lg text-dark"><span
                        [innerHtml]="_HelperService.AppConfig.CurrencySymbol"></span>{{_Overview.RewardAmount | number:'1.2-2' ||"--"}}
                </div>

                <div class="d-flex mb-2"><span class="flex text-muted">Purchase </span>
                    <span><span
                            [innerHtml]="_HelperService.AppConfig.CurrencySymbol"></span>{{_Overview.RewardPurchaseAmount | number:'1.2-2' ||"--"}}</span>
                </div>
                <div class="d-flex"><span class="flex text-muted">Transactions</span>
                    <span>{{_Overview.RewardTransactions | number:'1.0-1' ||"--"}}</span></div>

            </div>
        </div>
        <div class="col-6 col-lg-3">
            <div class="box p-3">
                <div class="d-flex"><span class="text-warn">Total redeemed</span></div>
                <div class="py-3 text-center text-lg text-dark"><span
                        [innerHtml]="_HelperService.AppConfig.CurrencySymbol"></span>{{_Overview.RedeemAmount | number:'1.2-2' ||"--"}}
                </div>
                <div class="d-flex mb-2"><span class="flex text-muted">Purchase </span>
                    <span><span
                            [innerHtml]="_HelperService.AppConfig.CurrencySymbol"></span>{{_Overview.RedeemPurchaseAmount | number:'1.2-2' ||"--"}}</span>
                </div>
                <div class="d-flex"><span class="flex text-muted">Transactions</span>
                    <span>{{_Overview.RedeemTransactions | number:'1.0-1' ||"--"}}</span></div>
            </div>
        </div>
        <div class="col-6 col-lg-3">
            <div class="box p-3">
                <div class="d-flex"><span class="text-warn">Settlement</span></div>
                <div class="py-3 text-center text-lg text-dark"><span
                        [innerHtml]="_HelperService.AppConfig.CurrencySymbol"></span>{{_Overview.SettlementPending | number:'1.2-2' ||"--"}}
                </div>
                <div class="d-flex mb-2"><span class="flex text-muted">Total Earning </span>
                    <span><span
                            [innerHtml]="_HelperService.AppConfig.CurrencySymbol"></span>{{_Overview.SettlementCredit | number:'1.2-2' ||"--"}}</span>
                </div>
                <div class="d-flex"><span class="flex text-muted">Amount Settled </span>
                    <span><span
                            [innerHtml]="_HelperService.AppConfig.CurrencySymbol"></span>{{_Overview.SettlementDebit | number:'1.2-2' ||"--"}}</span>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
            <div class="box p-3">
                <div class="box-header">
                    <h3 class="text-warn">Reward sources</h3>
                    <small class="text-gray">Transactions reward sources based on transaction types</small>
                </div>
                <!-- <div class="d-flex"><span class="text-warn">Reward sources</span></div> -->
                <div class="row no-gutters">
                    <div class="col-lg-4">
                        <!-- <div *ngIf="_Overview.RewardTypeData.length > 0"> -->
                        <div>
                            <canvas height="165" baseChart [colors]="_HelperService._UserOverviewPlot.PieColors"
                                [data]="_Overview.RewardTypeData" [labels]="_Overview.RewardTypeLabel"
                                [chartType]="_HelperService._UserOverviewPlot.ChartTypeDoughnet"
                                [options]="_HelperService._UserOverviewPlot.ChartTypePieOptions"
                                [legend]="true"></canvas>
                        </div>
                    </div>
                    <div class="col-lg-4 text-center col-md-6 col-sm-6 col-xs-12 pr-4">
                        <div class="py-3  text-lg text-dark"><span
                                [innerHtml]="_HelperService.AppConfig.CurrencySymbol"></span>{{_Overview.CardRewardAmount | number:'1.2-2' ||"--"}}
                        </div>
                        <div class="mb-3">
                            Card Reward
                        </div>

                        <div class="text-left">
                            <div class="d-flex mb-2"><span class="flex text-muted">Purchase </span>
                                <span><span
                                        [innerHtml]="_HelperService.AppConfig.CurrencySymbol"></span>{{_Overview.CardRewardPurchaseAmount | number:'1.2-2' ||"--"}}</span>
                            </div>
                            <div class="d-flex"><span class="flex text-muted">Transactions</span>
                                <span>{{_Overview.CardRewardTransactions | number:'1.0-1' ||"--"}}</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 text-center col-md-6 col-sm-6 col-xs-12 pl-4">
                        <div class="py-3 text-lg text-dark"><span
                                [innerHtml]="_HelperService.AppConfig.CurrencySymbol"></span>{{_Overview.CashRewardAmount | number:'1.2-2' ||"--"}}
                        </div>
                        <div class="mb-3">
                            Cash Reward</div>
                        <div class="text-left">
                            <div class="d-flex mb-2"><span class="flex text-muted">Purchase </span>
                                <span><span
                                        [innerHtml]="_HelperService.AppConfig.CurrencySymbol"></span>{{_Overview.CashRewardPurchaseAmount | number:'1.2-2' ||"--"}}</span>
                            </div>
                            <div class="d-flex"><span class="flex text-muted">Transactions</span>
                                <span>{{_Overview.CashRewardTransactions | number:'1.0-1' ||"--"}}</span>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
            <div class="box p-3">
                <div class="d-flex mb-3"><span class="text-warn">Recent Rewards</span></div>
                <div style="max-height:150px;overflow: auto;">
                    <div class="streamline streamline-xs">
                        <div class="sl-item b-warn" *ngFor="let TItem of TURewardMerchant_Config.Data">
                            <div class="sl-content"><span class="sl-date text-primary">{{TItem.TransactionDate}}
                                    <span class="badge purple float-right">
                                        {{TItem.TypeName || "--"}}
                                    </span>
                                </span>
                                <div>
                                    <div class="_500">
                                        {{TItem.UserAccountDisplayName || "--"}}
                                    </div>
                                    <!-- <div class="f-s-11 text-muted">
                                        done by {{TItem.CreatedByDisplayName || "--"}}
                                    </div> -->
                                    <span class="f-s-11  text-muted">
                                        <span class=""> <span
                                                [innerHtml]="_HelperService.AppConfig.CurrencySymbol"></span>
                                            {{TItem.RewardAmount | number:'1.2-2' || "--"}} rewards</span>
                                        <span class=" float-right">
                                            <span [innerHtml]="_HelperService.AppConfig.CurrencySymbol"></span>{{TItem.InvoiceAmount
                                                        | number:'1.2-2' || "--"}}
                                        </span>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="row" style="display:none;">
        <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
            <div class="box p-3">
                <div class="d-flex mb-3"><span class="text-warn">Customer Store Visit Timings</span></div>
                <div *ngIf="VisitTrendData.length > 0">
                    <canvas height="83" baseChart #RewardPlot="base-chart"
                        [colors]="_HelperService._UserOverviewPlot.Colors" [datasets]="VisitTrendData"
                        [labels]="VisitTrendLabel" [chartType]="_HelperService._UserOverviewPlot.ChartTypeBar"
                        [options]="_HelperService._UserOverviewPlot.ChartTypeBarOptions"></canvas>
                </div>
                <div *ngIf="VisitTrendData.length == 0 ">
                    <div class="text-warning">
                        <i class="{{ 'Common.SpinnerIcon' | translate }}"></i> {{ 'Common.PleaseWait' | translate }} ...

                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
            <div class="box p-3">
                <div class="d-flex mb-3"><span class="text-warn">Top Visitors</span></div>
                <div style="max-height:200px;overflow: auto;">
                    <div class="streamline streamline-xs">
                        <div class="sl-item b-warn" *ngFor="let TItem of AppUsers_Config.Data">
                            <div class="sl-content"><span class="sl-date text-primary">{{TItem.DisplayName}}
                                    <span class="badge purple float-right">
                                        {{TItem.Transactions || "--"}} visits
                                    </span>
                                </span>
                                <div>
                                    <div class="f-s-11 text-muted _500">
                                        Last visit {{TItem.LastTransactionDate || "--"}}
                                    </div>
                                    <span class="f-s-11">
                                        <span [innerHtml]="_HelperService.AppConfig.CurrencySymbol"></span>{{TItem.Purchase
                                                    | number:'1.2-2' || "--"}} Purchase
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <!-- 
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
            <div class="box p-3">
                <div class="d-flex mb-3"><span class="text-warn">Recent Redeem</span></div>
                <div style="max-height:200px;overflow: auto;">
                    <div class="streamline streamline-xs">
                        <div class="sl-item b-warn" *ngFor="let TItem of TURedeemMerchant_Config.Data">
                            <div class="sl-content"><span class="sl-date text-primary">{{TItem.TransactionDate}}
                                    <span class="badge purple float-right">
                                        {{TItem.TypeName || "--"}}
                                    </span>
                                </span>
                                <div>
                                    <div class="_500">
                                        {{TItem.UserAccountDisplayName || "--"}}
                                    </div>
                                    <div class="f-s-11 text-muted">
                                        done by {{TItem.CreatedByDisplayName || "--"}}
                                    </div>
                                    <span class="f-s-11 text-muted">
                                        <span class=""> <span
                                                [innerHtml]="_HelperService.AppConfig.CurrencySymbol"></span>
                                            {{TItem.Amount | number:'1.2-2' || "--"}} redeemed</span>
                                        <span class=" float-right">
                                            <span [innerHtml]="_HelperService.AppConfig.CurrencySymbol"></span>{{TItem.InvoiceAmount
                                                                | number:'1.2-2' || "--"}}
                                        </span>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
 -->

    </div>


    <!-- <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="box p-3">
            <div class="d-flex"><span class="text-warn">Customers</span></div>
            <div *ngIf="_Overview.GenderData.length > 0">
                <canvas height="165" baseChart [colors]="_HelperService._UserOverviewPlot.PieColors"
                    [data]="_Overview.GenderData" [labels]="_Overview.GenderLabel"
                    [chartType]="_HelperService._UserOverviewPlot.ChartTypeDoughnet"
                    [options]="_HelperService._UserOverviewPlot.ChartTypePieOptions" [legend]="true"></canvas>
                 <div class="row no-gutters">
                            <div class="col-lg-6 text-center col-md-6 col-sm-6 col-xs-12">
                                <div class="py-3  text-lg text-dark">{{_Overview.AppUsersMale | number:'1.0-1' ||"--"}}
                                </div>
                                Male
                            </div>
                            <div class="col-lg-6 text-center col-md-6 col-sm-6 col-xs-12">
                                <div class="py-3 text-lg text-dark">{{_Overview.AppUsersFemale | number:'1.0-1' ||"--"}}
                                </div>
                                Female
                            </div>
    
                        </div> 

            </div>


        </div>
    </div> -->
    <!-- <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
            <div class="box">
                <div class="row row-col no-gutters b-t rounded-bottom text-center" style="width:100%">
                    <div class="col-4 b-r"><a href="#" class="py-3 d-block" data-toggle-class=""><strong
                                class="d-block">{{_Overview.Cashiers}}</strong> <span
                                class="d-block">Cashiers</span></a>
                    </div>
                    <div class="col-4 b-r"><a href="#" class="py-3 d-block" data-toggle-class=""><strong
                                class="d-block">{{_Overview.Terminals}}</strong> <span
                                class="d-block">Terminals</span></a></div>
                    <div class="col-4"><a href="#" class="py-3 d-block" data-toggle-class=""><strong
                                class="d-block">{{_Overview.Pssp}}</strong> <span class="d-block">Gateways</span></a>
                    </div>
                </div>
            </div>
        </div>
    </div> -->
</div>
<div style="padding:20px;padding-top: 0px;">
    <div class="row">
        <div class="col-lg-12">
            <div class="box ">
                <div class="box-body p-0">
                    <div class="row no-gutters">
                        <div class="col-md-12 col-sm-12 col-xs-12 col-xs-12">
                            <div class="box-header">
                                <h3 class="text-warn">Customer Store Visit Timings</h3>
                                <small class="text-gray">User store visits based on transactions on POS</small>
                            </div>
                            <!-- <div class="d-flex p-3"><span class="text-warn">Customer Store Visit Timings</span></div> -->
                            <div class="pl-3" *ngIf="VisitTrendData.length > 0">
                                <canvas height="80" baseChart #RewardPlot="base-chart"
                                    [colors]="_HelperService._UserOverviewPlot.Colors" [datasets]="VisitTrendData"
                                    [labels]="VisitTrendLabel"
                                    [chartType]="_HelperService._UserOverviewPlot.ChartTypeBar"
                                    [options]="_HelperService._UserOverviewPlot.ChartTypeBarOptions"></canvas>
                            </div>
                            <div class="pl-3" *ngIf="VisitTrendData.length == 0 ">
                                <div class="text-warning">
                                    <i class="{{ 'Common.SpinnerIcon' | translate }}"></i>
                                    {{ 'Common.PleaseWait' | translate }} ...
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-12" *ngIf="_Overview.AcquirerAmountDistribution.length > 0">
            <div class="box fadein">
                <div class="box-header pb-0">
                    <h3 class="text-warn">Bank Collections</h3>
                    <small class="text-gray">Total purchase amount collected through bank pos
                        terminals</small>
                </div>
                <div class="box-body p-3">

                    <div class="row">
                        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 mb-2"
                            *ngFor="let TItem of _Overview.AcquirerAmountDistribution">
                            <div style="padding: 10px;
                            background: #f7f7f7;
                            border-radius: 10px;">
                                <div class="float-left">
                                    <span class="w-40 avatar circle warn mr-3">
                                        <img src="{{TItem.IconUrl}}">
                                    </span>
                                </div>
                                <div>
                                    <div class="text-primary">
                                        {{TItem.DisplayName || "--"}}
                                    </div>

                                    <div class="f-s-11">
                                        {{TItem.Terminals || "--"}} Terminals
                                    </div>
                                    <!-- <div class="text-ellipses f-s-11  mb-1 _500">
                                        Collection

                                    </div> -->
                                    <div>
                                        <span class="text-success">
                                            <span
                                                [innerHtml]="_HelperService.AppConfig.CurrencySymbol"></span>{{TItem.PurchaseAmount  | number:'1.2-2' || "--"}}
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>




    </div>
</div>


<!-- 
<div class="row" style="padding:20px;padding-top: 0px;">
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12" *ngFor="let TItem of StoresList_Config.Data">
        <div class="box">
            <div>
                <agm-map [styles]="_HelperService.JData" [zoom]="15" [latitude]="TItem.Latitude"
                    [longitude]="TItem.Longitude" [zoomControl]="false" [streetViewControl]="false">
                    <agm-marker [latitude]="TItem.Latitude" [longitude]="TItem.Longitude">
                    </agm-marker>
                </agm-map>
            </div>
            <div class="box-body p-3">
                <div class="text-primary">
                    {{TItem.DisplayName || "--"}}
                </div>
                <div class="text-ellipses f-s-11 mb-1">
                    {{TItem.Address || "--"}}
                </div>
                <div>
                    <span class="badge mr-2 warn" style="line-height: 1.6;" ng-reflect-klass="badge  mr-2"
                        ng-reflect-ng-class="purple">{{TItem.Terminals || "--"}} Terminals</span>
                </div>
            </div>
            <div class="row row-col no-gutters b-t rounded-bottom text-center">

                <div class="col-8 b-r"><a class="py-3 d-block" data-toggle-class=""><strong class="d-block"><span
                                [innerHtml]="_HelperService.AppConfig.CurrencySymbol"></span>{{TItem.Purchase  | number:'1.2-2' || "--"}}</strong>
                        <span class="d-block">Total Purchase</span></a></div>
                <div class="col-4 b-r"><a class="py-3 d-block" data-toggle-class=""><strong
                            class="d-block">{{TItem.Transactions || "--"}}</strong> <span
                            class="d-block">Visits</span></a></div>
            </div>
        </div>
    </div>
</div> -->