<!-- acquirer--customers--list -->
<ol class="breadcrumb df-breadcrumbs mg-b-10">
  <li class="breadcrumb-item" [routerLinkActive]="['active']"><a
      routerLink="{{ _HelperService.AppConfig.Pages.ThankUCash.Dashboard.Merchant}}" [routerLinkActive]="['active']">
      Dashboard</a></li>
  <!-- <li class="breadcrumb-item" [routerLinkActive]="['active']"><a
      routerLink="{{_HelperService.AppConfig.Pages.ThankUCash.PanelMerchant.Loyality.Overview}}/{{this._HelperService.AppConfig.ActiveReferenceKey}}/{{ this._HelperService.AppConfig.ActiveReferenceId}}"
      [routerLinkActive]="['active']">Loyality
    </a></li> -->
  <li class="breadcrumb-item" [routerLinkActive]="['active']"><a class="text-primary"
      [routerLinkActive]="['active']">Cashier Analytics
    </a></li>
</ol>
<div class="d-sm-flex align-items-center justify-content-between mb-2">
  <div class="d-flex justify-content-between ">
    <div class="form-group  mb-0 pb-0 wd-200">
      <input type="text" class="form-control  form-daterangepicker" name="daterangeInput" daterangepicker
        [options]="_HelperService.AppConfig.DateRangeOptions"
        (selected)="DateChanged($event, _HelperService.AppConfig.ListToggleOption.Date)" />
    </div>


    <div class="mg-l-5 wd-200">
      <select2 class="full-width" [options]="TUTr_Filter_Store_Option"
        (valueChanged)="TUTr_Filter_Stores_Change($event)">
      </select2>
    </div>
  </div>
  <!-- <div class="d-flex justify-content-between mg-t-10  mg-md-t-0">
    <button
      class="btn btn-sm pd-x-15  btn-uppercase {{_HelperService.CheckMode == 'dark' ? 'btn-dark' : 'btn-white' }}"><i
        data-feather="mail" class="wd-10 mg-r-5"></i>
      Email</button>
    <button
      class="btn btn-sm pd-x-15  btn-uppercase mg-l-5 {{_HelperService.CheckMode == 'dark' ? 'btn-dark' : 'btn-white' }}"><i
        data-feather="upload" class="wd-10 mg-r-5"></i>
      Export</button>
  </div> -->
  <!-- <ul class="list-inline d-flex mg-t-20 mg-sm-t-10 mg-md-t-0 mg-b-0">
    <li class="list-inline-item d-flex align-items-center">
      <span class="d-block wd-15 ht-15 bg-primary rounded mg-r-5 "></span>
      <span class="tx-sans   tx-uppercase tx-medium tx-color-03 tx-13">
        {{TodayStartTime | date :["dd LLL"]}}</span>
    </li>
    <li class="list-inline-item d-flex align-items-center mg-l-5">
      <span class="d-block wd-15 ht-15 bg-MasterCard rounded mg-r-5"></span>
      <span
        class="tx-sans  tx-13 tx-uppercase tx-medium tx-color-03">{{TodayEndTime | date :["dd LLL"]}}</span>
    </li>

  </ul> -->
</div>
<div class="row row-xs mg-b-10" *ngIf="_AccountOverview.Cashiers[0] != null">
  <div class="col-sm-6 col-lg-3 ">
    <div class="card card-body shadow-none ht-100p cursor-pointer"
      (click)="ToogleType(_HelperService.AppConfig.CustomerTypes.all)">
      <h6 class="tx-uppercase tx-11 tx-spacing-1 tx-color-02 tx-semibold mg-b-8">All cashier</h6>
      <div class="d-flex d-lg-block d-xl-flex align-items-end">
        <h3 class="tx-rubik tx-dark mg-b-8 mg-r-5 lh-1">
          {{_AccountOverview.Total| number: "1.0-0"}}</h3>
        <!-- <p class="tx-11 tx-color-03 mg-b-0  mg-b-10"><span class="tx-medium tx-danger">0.7% <i
              class="icon ion-md-arrow-down"></i></span></p> -->
      </div>
      <p class="tx-12 text-secondary mg-b-0"> Total number of cashiers are working now</p>
    </div>
  </div><!-- col -->
  <div class="col-sm-6 col-lg-3 mg-t-15  mg-sm-t-0">
    <div class="card card-body shadow-none ht-100p cursor-pointer "
      (click)="ToogleType(_HelperService.AppConfig.CustomerTypes.new)">
      <h6 class="tx-uppercase tx-11 tx-spacing-1 tx-color-02 tx-semibold mg-b-8">Total transactions</h6>
      <div class="d-flex d-lg-block d-xl-flex align-items-end">
        <h3 class=" tx-dark tx-rubik mg-b-8 mg-r-5 lh-1">
          {{_AccountOverview.Transactions| number: "1.0-0"}}</h3>
        <!-- <p class="tx-11 tx-color-03 mg-b-0  mg-b-10"><span class="tx-medium tx-danger">0.7% <i
              class="icon ion-md-arrow-down"></i></span></p> -->
      </div>
      <p class="tx-12 text-secondary mg-b-0">Total number of transactions</p>


    </div>
  </div><!-- col -->
  <div class="col-sm-6 col-lg-3 mg-t-15  mg-lg-t-0">
    <div class="card card-body shadow-none cursor-pointer ht-100p"
      (click)="ToogleType(_HelperService.AppConfig.CustomerTypes.loyal)">
      <h6 class="tx-uppercase tx-11 tx-spacing-1 tx-color-02 tx-semibold mg-b-8">Sale amount</h6>
      <div class="d-flex d-lg-block d-xl-flex align-items-end">
        <h3 class="tx-dark tx-rubik  mg-b-8 mg-r-5 lh-1 Word-break">
          {{_AccountOverview.InvoiceAmount| number: "1.0-0"}} </h3>
      </div>
      <p class="tx-12 text-secondary mg-b-0">sale achieved in this duration</p>
    </div>
  </div><!-- col -->
  <div class="col-sm-6 col-lg-3 mg-t-15  mg-lg-t-0">
    <div class="card card-body cursor-pointer shadow-none ht-100p"
      (click)="ToogleType(_HelperService.AppConfig.CustomerTypes.lost)">
      <h6 class=" tx-uppercase tx-11 tx-spacing-1 tx-color-02 tx-semibold mg-b-8">Customers</h6>
      <div class="d-flex d-lg-block d-xl-flex align-items-end">
        <h3 class=" tx-dark tx-rubik  mg-b-8 mg-r-5 lh-1">
          {{_AccountOverview.Customers || "0"}}</h3>
      </div>
      <p class="tx-12 text-secondary mg-b-0">Number of customer visited in this time span</p>
    </div>
  </div><!-- col -->
</div>
<div class="card " *ngIf="_AccountOverview.Cashiers[0] != null">
  <div [className]="_HelperService._Assets.Box.header">
    <div class="tx-14 tx-bold"> All Cashiers </div>
    <div class="float-right">
      <a class="nav-link ml-2 RefreshColorOne " (click)="CashierReferesh()"> <i style="height: 20px; width: 20px;"
          data-feather="refresh-cw"></i> </a>
    </div>
  </div>
  <div class="card-header bd-b-0">
    <div class=" no-gutters">
      <div class="d-sm-flex justify-content-between">
        <div class=" media">
          <div type="button"
            class="wd-40 wd-md-50 ht-40 ht-md-50  bg-success tx-white mg-r-10 mg-md-r-10 d-flex align-items-center justify-content-center rounded">
            <!-- <i data-feather="users"></i> -->
            <i class="fas fa-user tx-20"></i>
          </div>
          <div class="media-body bd-pink">
            <h6 class="tx-sans tx-uppercase tx-10 tx-spacing-1 tx-color-03 tx-semibold tx-nowrap mg-b-5 mg-md-b-8">
              High Performance</h6>
            <h4 class="tx-20 tx-sm-18 tx-md-20 tx-normal tx-rubik mg-b-0">
              {{HPerformance || "0"}}</h4>

          </div>
        </div>
        <div type="button" class=" media mg-t-20 mg-sm-t-0 mg-sm-l-15 mg-md-l-40">
          <div
            class="wd-40 wd-md-50 ht-40 ht-md-50 bg-primary  tx-white mg-r-10 mg-md-r-10 d-flex align-items-center justify-content-center rounded ">
            <i class="fas fa-user tx-20"></i>

          </div>
          <div class="media-body">
            <h6 class="tx-sans tx-uppercase tx-10 tx-spacing-1 tx-color-03 tx-semibold mg-b-5 mg-md-b-8">
              Mid-Average Performers</h6>
            <h4 class="tx-20 tx-sm-18 tx-md-20 tx-normal tx-rubik mg-b-0">
              {{GPerformance || "0"}}</h4>

          </div>
        </div>
        <div type="button" class=" media mg-t-20 mg-sm-t-0 mg-sm-l-15 mg-md-l-40">
          <div
            class="wd-40 wd-md-50 ht-40 ht-md-50 bg-warning tx-white mg-r-10 mg-md-r-10 d-flex align-items-center justify-content-center rounded">
            <i class="fas fa-user tx-20"></i>

          </div>
          <div class="media-body">
            <h6 class="tx-sans tx-uppercase tx-10 tx-spacing-1 tx-color-03 tx-semibold mg-b-5 mg-md-b-8">
              Average Performers</h6>
            <h4 class="tx-20 tx-sm-18 tx-md-20 tx-normal tx-rubik mg-b-0">
              {{APerformance || "0"}}</h4>
          </div>
        </div>
        <div type="button" class=" media mg-t-20 mg-sm-t-0 mg-sm-l-15 mg-md-l-40">
          <div
            class="wd-40 wd-md-50 ht-40 ht-md-50 bg-danger tx-white mg-r-10 mg-md-r-10 d-flex align-items-center justify-content-center rounded">
            <i class="fas fa-user tx-20"></i>

          </div>
          <div class="media-body">
            <h6 class="tx-sans tx-uppercase tx-10 tx-spacing-1 tx-color-03 tx-semibold mg-b-5 mg-md-b-8">
              Below Average Performers</h6>
            <h4 class="tx-20 tx-sm-18 tx-md-20 tx-normal tx-rubik mg-b-0">
              {{BPerformance || "--"}}</h4>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- <div class="box-header px-3 pd-t-15 pd-b-10  d-flex align-items-center justify-content-between">
    <div class="form-inline ">
      <div class="input-group input-group-sm mr-3">
        <input type="text" class="form-control" [value]="Cashiers_Config.SearchParameter" maxlength="100"
          class="form-control" placeholder="{{ 'Common.Search' | translate }}"
          (keyup)="Cashiers_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.Search)">
        <div class="input-group-append">
          <button class="btn btn-outline-light" type="button"
            (click)="Cashiers_ToggleOption( null, _HelperService.AppConfig.ListToggleOption.Search)"><i
              data-feather="search"></i> </button>
        </div>
      </div>


    </div>
    <div class="d-flex ml-auto">
      <button type="button" class="btn  tx-12 rounded-0 bd-gray-200 bd-r-0  btn-outline-danger btn-icon" [disabled]='(_HelperService.FilterSnap.id == -1)'
        (click)="Delete_Filter()">
        <i data-feather="minus-circle"></i> </button>

      <div class="form-group my-auto shadow-none ml-auto " *ngIf="_HelperService._RefreshUI">
        <select2 name="itemId0" [options]="_DataHelperService.S2_NewSavedFilters_Option" class="wd-30 select2"
          [data]="_HelperService.Active_FilterOptions" [value]="_HelperService.Active_FilterOptions[0]"
          (valueChanged)="Active_FilterValueChanged( $event )">
        </select2>
      </div>
      <button type="button" class=" btn btn-outline-success tx-12 bd-l-0 mr-3 rounded-0 bd-gray-200 btn-icon"
      [disabled]='_HelperService.FilterState == this._HelperService.AppConfig.FilterStates.Default || 
      _HelperService.FilterState == this._HelperService.AppConfig.FilterStates.NoChange'
        (click)="Save_NewFilter()"> <i data-feather="plus-circle"></i> </button>

    </div>

    <nav class="nav nav-with-icon tx-20">
      <div class="dropdown dropleft">
        <a href="" class="nav-link mr-2" id="Cashiers_sdropdown" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false"> <i data-feather="align-left" class="tx-20"></i> </a>
        <div class="dropdown-menu tx-13">
          <form class="wd-250 pd-15">


            <h6 class="dropdown-header tx-uppercase tx-12 tx-bold tx-inverse pd-b-20 pd-l-0 pd-t-0">Sort
              <div class="float-right tx-20" *ngIf="Cashiers_Config.Sort.SortOrder == 'desc'"
                (click)="Cashiers_ToggleOption( null, _HelperService.AppConfig.ListToggleOption.SortOrder)">
                <i class="fas fa-sort-alpha-down-alt"></i>
              </div>
              <div class="float-right tx-20" *ngIf="Cashiers_Config.Sort.SortOrder == 'asc'"
                (click)="Cashiers_ToggleOption( null, _HelperService.AppConfig.ListToggleOption.SortOrder)">
                <i class="fas fa-sort-alpha-up-alt"></i>
              </div>
            </h6>

            <a class="dropdown-item cursor-pointer {{TItem.SystemActive?  'SystemActive' :'' }} {{_HelperService.CheckMode == 'dark' ? 'text-white' : 'text-dark' }} "
              *ngFor="let TItem of Cashiers_Config.Sort.SortOptions"
              (click)="Cashiers_ToggleOption( TItem, _HelperService.AppConfig.ListToggleOption.Sort)">
              {{TItem.Name}}
            </a>

            <button type="button" class="btn btn-light btn-sm mr-2 mg-t-20"
              (click)="ResetFilters( null, _HelperService.AppConfig.ListToggleOption.ResetOffset)">
              Reset</button>
            <button type="button" class="btn btn-primary btn-sm  mg-t-20"
              (click)="ApplyFilters( null, _HelperService.AppConfig.ListToggleOption.ApplyFilter,'Sort')">Apply</button>
          </form>
        </div>
      </div>
      <div class="dropdown dropleft">
        <a href="" class="nav-link" id="Cashiers_fdropdown" data-toggle="dropdown" aria-haspopup="true"
          (click)="_HelperService.StopClickPropogation()" aria-expanded="false"> <i data-feather="filter"></i> </a>
        <div class="dropdown-menu tx-13">
          <form class="wd-400  pd-15" *ngIf="ResetFilterControls">
            <h6 class="dropdown-header tx-uppercase tx-12 tx-bold tx-inverse pd-b-20 pd-l-0 pd-t-0">Filters
            </h6>
            <div>
              <div class="form-group">
                <label>Date</label>
                <input type="text" class="form-control  form-daterangepicker" name="daterangeInput" daterangepicker
                  [options]="_HelperService.AppConfig.DateRangeOptions"
                  (selected)="Cashiers_ToggleOption($event, _HelperService.AppConfig.ListToggleOption.Date)" />
              </div>
            </div>
            <div>
              <div class="form-group">
                <label>Status</label>
                <select2 [options]="_DataHelperService.S2_Status_Option" class="wd-100p"
                  [data]="Cashiers_Config.StatusOptions"
                  (valueChanged)="Cashiers_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.Status)">
                </select2>
              </div>
            </div>
            <div class="form-group">
              <ng5-slider [value]="TUTr_InvoiceRangeMinAmount" [highValue]="TUTr_InvoiceRangeMaxAmount"
              [options]="_HelperService.AppConfig.RangeInvoiceAmountOptions"
              (userChangeEnd)="TUTr_InvoiceRange_OnChange($event)">
            </ng5-slider>
            </div>
            <div class="form-group">
              <ng5-slider [value]="TUTr_RedeemRangeMinAmount" [highValue]="TUTr_RedeemRangeMaxAmount"
              [options]="_HelperService.AppConfig.RangeRedeemAmountOptions"
              (userChangeEnd)="TUTr_RedeemRange_OnChange($event)">
          </ng5-slider>
            </div>

            <div class="mg-b-70">
              <ng5-slider [value]="TUTr_RewardRangeMinAmount" [highValue]="TUTr_RewardRangeMaxAmount"
              [options]="_HelperService.AppConfig.RangeRewardAmountOptions"
              (userChangeEnd)="TUTr_RewardRange_OnChange($event)">
            </ng5-slider>
            </div>

            <button type="button" class="btn btn-light btn-sm mr-2"
              (click)="ResetFilters( null, _HelperService.AppConfig.ListToggleOption.ResetOffset)">
              Reset</button>
            <button type="button" class="btn btn-primary btn-sm "
              (click)="ApplyFilters( null, _HelperService.AppConfig.ListToggleOption.ApplyFilter,'Other')">Apply</button>
          </form>
        </div>
      </div>
      <a class="nav-link ml-2 RefreshColor"
        (click)="Cashiers_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.Refresh)"> <i
          data-feather="refresh-cw"></i> </a>
    </nav>
  </div> -->
  <!-- <div class="pt-0 pd-l-15 pd-b-15">
    <div class="badge badge-transparent pd-y-10 pd-l-15 mx-1 bd bd-1 bd-gray-500 rounded-50 tx-color-03"
      [hidden]="(!_HelperService.FilterSnap.Status) || (_HelperService.FilterSnap.Status==0)"
     >
      {{_HelperService.FilterSnap.StatusName}}
      <span class="bd bd-1  mg-l-5 pd-x-5 pd-y-3 rounded-circle bg-primary text-white cursor-pointer"  (click)="RemoveFilterComponent('Status')"><i
          class="fas fa-times"></i> </span>
    </div>
    <div class="badge badge-transparent pd-y-10 pd-l-15 mx-1 bd bd-1 bd-gray-500 rounded-50 tx-color-03"
      [hidden]="!_HelperService.FilterSnap.Sort.SortColumn || (_HelperService.FilterSnap.Sort.SortColumn=='CreateDate' && _HelperService.FilterSnap.Sort.SortOrder=='desc')"
      >
      <span> {{_HelperService.FilterSnap.Sort.SortColumn + "--" + _HelperService.FilterSnap.Sort.SortOrder}}</span>
      <span class="bd bd-1  mg-l-5 pd-x-5 pd-y-3 rounded-circle bg-primary text-white cursor-pointer" (click)="RemoveFilterComponent('Sort')"><i
          class="fas fa-times"></i> </span>
    </div>
    <div class="badge badge-transparent pd-y-10 pd-l-15 mx-1 bd bd-1 bd-gray-500 rounded-50 tx-color-03"
      [hidden]="!_HelperService.FilterSnap.StartTime" >
      {{_HelperService.GetDateTimeS(_HelperService.FilterSnap.StartTime) + "--" + _HelperService.GetDateTimeS(_HelperService.FilterSnap.EndTime)}}
      <span class="bd bd-1  mg-l-5 pd-x-5 pd-y-3 rounded-circle bg-primary text-white cursor-pointer" (click)="RemoveFilterComponent('Time')"><i
          class="fas fa-times"></i> </span>
    </div>
    <div class="badge badge-transparent pd-y-10 pd-l-15 mx-1 bd bd-1 bd-gray-500 rounded-50 tx-color-03"
      *ngFor="let TItem of _HelperService.FilterSnap.OtherFilters; let i = index"
      >
      {{TItem.data[0].DisplayName}}
      <span class="bd bd-1  mg-l-5 pd-x-5 pd-y-3 rounded-circle bg-primary text-white cursor-pointer" (click)="RemoveFilterComponent('Other',i)"><i
          class="fas fa-times"></i> </span>
    </div>

    <span class="badge badge-pill badge-primary" *ngFor="let TItem of Cashiers_Config.Filters">{{TItem.Title}}</span>

  </div> -->

  <div class="card-body p-0" *ngIf="_AccountOverview.Cashiers[0] != null">
    <table class="{{_HelperService.AppConfig.TablesConfig.DefaultClass}}">
      <thead>
        <tr>
          <th class="text-center" *ngIf="ColumnConfig[0].Value">
          </th>
          <th>
            Name
          </th>

          <th class="text-center" *ngIf="ColumnConfig[2].Value" (click)="TransactionSort()">
           <span class="mg-r-5">Transactions</span> 
            <span class="tx-14 mg-l-5" *ngIf="SortCashierTransaction == false"><i class="fas fa-chevron-up"></i> </span>
            <span class="tx-14 mg-l-5" *ngIf="SortCashierTransaction == true"><i class="fas fa-chevron-down"></i>
            </span>
          </th>
          <th class="text-right" *ngIf="ColumnConfig[3].Value" (click)="SalesSort()">
            Sale Amount(<span [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span>)
            <span class="tx-14 mg-l-5" *ngIf="SortCashierSales == false"><i class="fas fa-chevron-up"></i> </span>
            <span class="tx-14 mg-l-5" *ngIf="SortCashierSales == true"><i class="fas fa-chevron-down"></i>
            </span>
          </th>
          <th class="text-center" *ngIf="ColumnConfig[4].Value" (click)="AvgTransactionSort()">
            Avg .trans/Day
            <span class="tx-14 mg-l-5" *ngIf="SortAvgTransaction == false"><i class="fas fa-chevron-up"></i> </span>
            <span class="tx-14 mg-l-5" *ngIf="SortAvgTransaction == true"><i class="fas fa-chevron-down"></i>
            </span>
          </th>
          <th class="text-center" *ngIf="ColumnConfig[5].Value">
            Inactive Days
          </th>
          <th class="" *ngIf="ColumnConfig[1].Value">
            Performance
          </th>
          <!-- <th class="text-center" *ngIf="ColumnConfig[7].Value">
            Type
          </th> -->

          <th class="d-flex">
            <span class="btn cursor-pointer text-primary p-0" style="position: absolute; z-index: 3;right: -10px;"
              data-toggle="tooltip" title="Edit Your Column" (click)="OpenEditColModal()">
              <!-- <i style="height: 20px; width: 20px;" data-feather="plus-circle"></i> -->
            </span>
          </th>


        </tr>
      </thead>
      <tbody>
        <tr class="cursor-pointer" (click)="Cashiers_RowSelected(TItem)"
          *ngFor="let TItem of _AccountOverview.Cashiers">
          <!-- <td class="text-center" *ngIf="ColumnConfig[0].Value">
            <span class="d-block wd-15 ht-15 rounded-circle ml-auto" [style.background-color]="TItem.StatusC"></span>
          </td> -->
          <td class="text-center" *ngIf="ColumnConfig[0].Value">
            <img class="br" (error)="_HelperService.defaultImage($event)" src="{{TItem.IconUrl}}"
              class="img wd-40 ht-40 rounded-circle bd bd-2" [style.border-color]="TItem.StatusC">
          </td>
          <td>
            <div class="tx-14 tx-semibold ">{{TItem.FistName || "--"}}&nbsp;{{TItem.LastName || "--"}}</div>
            <div class="tx-12 text-secondary">
              {{TItem.CashierId || "--"}}
            </div>
          </td>

          <td class="text-center" *ngIf="ColumnConfig[2].Value">
            <div class="tx-14">
              {{TItem.Transactions || "0" }}
            </div>
          </td>
          <td class="text-right" *ngIf="ColumnConfig[3].Value">
            <span class=" text-sm mg-r-2" [innerHtml]="_HelperService.AppConfig.CurrencySymbol"></span>
            {{TItem.InvoiceAmount || "0" | number: "1.2-2"}}
          </td>

          <td class="text-center" *ngIf="ColumnConfig[4].Value">

            {{TItem.AverageTransactions || "0"}}
          </td>

          <td class="text-center" *ngIf="ColumnConfig[5].Value">
            {{TItem.InactiveDays|| "0"}}
          </td>
          <td class="" *ngIf="ColumnConfig[1].Value">
            <div *ngIf="TItem.PerformanceName == 'Below Average'"> <span
                class="badge badge-danger tx-uppercase">{{TItem.PerformanceName || '--' }} </span></div>
            <div *ngIf="TItem.PerformanceName == 'Average'"> <span
                class="badge badge-warning tx-uppercase">{{TItem.PerformanceName || '--' }} </span></div>
            <div *ngIf="TItem.PerformanceName == 'Good'"> <span
                class="badge badge-primary tx-uppercase">{{TItem.PerformanceName || '--' }} </span></div>
            <div *ngIf="TItem.PerformanceName == 'Excellent'"> <span
                class="badge badge-success tx-uppercase">{{TItem.PerformanceName || '--' }} </span></div>
          </td>
          <td></td>

        </tr>
      </tbody>
    </table>
  </div>
  <!--  -->


  <!-- <div class="card-footer pd-20">
    <span class="mr-3">
      {{ 'Common.Showing' | translate }}
      <span class="bold">{{Cashiers_Config.ShowingStart}} {{ 'Common.To' | translate }}
        {{Cashiers_Config.ShowingEnd}}
      </span> {{ 'Common.Of' | translate }} {{Cashiers_Config.TotalRecords}}
    </span>
    <span>
      {{ 'Common.Show' | translate }}
      <select class="wd-40 " [(ngModel)]="Cashiers_Config.PageRecordLimit"
        (ngModelChange)="Cashiers_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.Limit)">
        <option [ngValue]="TItem" *ngFor="let TItem of _HelperService.AppConfig.ListRecordLimit">
          {{TItem}}
        </option>
      </select>
    </span>
    <span class="float-right">
      <pagination-controls id="Cashiers_Paginator" class="pagination pagination-space"
        (pageChange)="Cashiers_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.Page)"
        nextLabel="{{ 'Common.Next' | translate }}" previousLabel="{{ 'Common.Previous' | translate }}">
      </pagination-controls>
    </span>
  </div> -->

  <div class="card-footer pd-20">
    <span class="mr-3">
      {{ 'Common.Showing' | translate }}
      <span class="bold">{{Cashiers_Config.ShowingStart}} {{ 'Common.To' | translate }}
        {{Cashiers_Config.ShowingEnd}}
      </span> {{ 'Common.Of' | translate }} {{Cashiers_Config.TotalRecords}}
    </span>
    <span>
      {{ 'Common.Show' | translate }}
      <select class="wd-50 " [(ngModel)]="Cashiers_Config.PageRecordLimit"
        (ngModelChange)="Cashiers_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.Limit)">
        <option [ngValue]="TItem" *ngFor="let TItem of _HelperService.AppConfig.ListRecordLimit">
          {{TItem}}
        </option>
      </select>
    </span>
    <span class="float-right">
      <pagination-controls id="TUTr_Paginator" class="pagination pagination-space"
        (pageChange)="Cashiers_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.Page)"
        nextLabel="{{ 'Common.Next' | translate }}" previousLabel="{{ 'Common.Previous' | translate }}">
      </pagination-controls>
    </span>
  </div>
</div>

<div class="card p-0 " *ngIf="_AccountOverview.Cashiers[0] == null">
  <div class="ht-100p">
    <div style="height:500px" class="text-center m-auto  text-muted d-flex align-items-center  justify-content-center">
      <div>
        <div>
          <div
            class="wd-140 wd-md-150 ht-140 ht-md-150 bd bd-2 bd-muted bg-transparent tx-muted tx-32 bd-gray-300 m-auto d-flex align-items-center justify-content-center rounded-circle">
            <i class="fas fa-user tx-50"></i>
            <!-- <img src="../../../../../assets/images/walk.svg" alt=""> -->
          </div>
          <div class="pt-3">
            <span class="text-secondary tx-regular tx-18 "> No Cashiers Available </span>
          </div>
        </div>
      </div>
    </div>



  </div>
</div>



<!-- <div class="modal" id="EditCol" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Edit Column</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group" *ngFor="let Col of TempColumnConfig">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" id="gridCheck" [(ngModel)]=Col.Value>
            <label class="form-check-label" for="">
              {{Col.Name}}
            </label>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" (click)="SaveEditCol()">Save</button>
      </div>
    </div>
  </div>
</div> -->