<!-- acquirer--customers--list -->
<ol class="breadcrumb df-breadcrumbs mg-b-10">
  <li class="breadcrumb-item" [routerLinkActive]="['active']"><a
      routerLink="{{ _HelperService.AppConfig.Pages.ThankUCash.Dashboard.Merchant}}" [routerLinkActive]="['active']">
      Dashboard</a></li>
  <li class="breadcrumb-item" [routerLinkActive]="['active']"><a
      routerLink="{{_HelperService.AppConfig.Pages.ThankUCash.PanelMerchant.Loyality.Overview}}/{{this._HelperService.AppConfig.ActiveReferenceKey}}/{{ this._HelperService.AppConfig.ActiveReferenceId}}"
      [routerLinkActive]="['active']">Loyalty
    </a></li>
  <li class="breadcrumb-item" [routerLinkActive]="['active']"><a class="text-primary"
      [routerLinkActive]="['active']">All Customers
    </a></li>
</ol>
<div class="d-sm-flex align-items-center justify-content-between mb-2">
  <div class="d-flex justify-content-between ">
    <div class="form-group  mb-0 pb-0 wd-200">
      <input type="text" class="form-control  form-daterangepicker" name="daterangeInput" daterangepicker
        [options]="_HelperService.AppConfig.DateRangeOptions"
        (selected)="Customers_Filter($event, _HelperService.AppConfig.ListToggleOption.Date)" />
    </div>

    <div class="mg-l-5 wd-200">
      <select2 class="full-width" [options]="TUTr_Filter_Store_Option" [data]="stores" [value]="storeId"
      (valueChanged)="TUTr_Filter_Stores_Change($event)">
      </select2>
    </div>

  </div>
</div>
<div class="row row-xs mg-b-10">
  <div class="col-sm-6 col-lg-3 ">
    <div class="card card-body shadow-none ht-100p cursor-pointer" style="background: #716195;"
      (click)="ToogleType(_HelperService.AppConfig.CustomerTypes.all)">
      <h6 class="tx-uppercase text-white tx-11 tx-spacing-1 tx-color-02 tx-semibold mg-b-8">All customers</h6>
      <div class="d-flex d-lg-block d-xl-flex align-items-end">
        <h3 class="tx-rubik text-white mg-b-8 mg-r-5 lh-1">
          {{OverviewData.Total| number: "1.0-0"}}</h3>
        <!-- <p class="tx-11 tx-color-03 mg-b-0  mg-b-10"><span class="tx-medium tx-danger">0.7% <i
              class="icon ion-md-arrow-down"></i></span></p> -->
      </div>
      <p class="tx-12 text-white mg-b-0"> Total Customers</p>
    </div>
  </div><!-- col -->
  <div class="col-sm-6 col-lg-3 mg-t-15  mg-sm-t-0">
    <div class="card card-body shadow-none ht-100p cursor-pointer " style="background: #0086D1;"
      (click)="ToogleType(_HelperService.AppConfig.CustomerTypes.new)">
      <h6 class="tx-uppercase text-white tx-11 tx-spacing-1 tx-color-02 tx-semibold mg-b-8">New Customers</h6>
      <div class="d-flex d-lg-block d-xl-flex align-items-end">
        <h3 class=" text-white tx-rubik mg-b-8 mg-r-5 lh-1">
          {{OverviewData.New| number: "1.0-0"}}</h3>
        <!-- <p class="tx-11 tx-color-03 mg-b-0  mg-b-10"><span class="tx-medium tx-danger">0.7% <i
              class="icon ion-md-arrow-down"></i></span></p> -->
      </div>
      <p class="tx-12 text-white mg-b-0">Newly registered customers</p>


    </div>
  </div><!-- col -->
  <div class="col-sm-6 col-lg-3 mg-t-15  mg-lg-t-0">
    <div class="card card-body shadow-none cursor-pointer ht-100p" style="background: #D100B0;"
      (click)="ToogleType(_HelperService.AppConfig.CustomerTypes.loyal)">
      <h6 class="tx-uppercase text-white tx-11 tx-spacing-1 tx-color-02 tx-semibold mg-b-8">Active customers</h6>
      <div class="d-flex d-lg-block d-xl-flex align-items-end">
        <h3 class="text-white tx-rubik  mg-b-8 mg-r-5 lh-1">
          {{OverviewData.Repeating| number: "1.0-0"}} </h3>
      </div>
      <p class="tx-12 text-white mg-b-0">Customers who visits frequently</p>
    </div>
  </div><!-- col -->
  <div class="col-sm-6 col-lg-3 mg-t-15  mg-lg-t-0">
    <div class="card card-body cursor-pointer shadow-none ht-100p" style="background: #CC9302;"
      (click)="ToogleType(_HelperService.AppConfig.CustomerTypes.lost)">
      <h6 class=" tx-uppercase text-white tx-11 tx-spacing-1 tx-color-02 tx-semibold mg-b-8">Inactive customers</h6>
      <div class="d-flex d-lg-block d-xl-flex align-items-end">
        <h3 class=" text-white tx-rubik  mg-b-8 mg-r-5 lh-1">
          {{OverviewData.Lost| number: "1.0-0"}}</h3>
      </div>
      <p class="tx-12 text-white mg-b-0">Customers who hasn't visited over one month</p>
    </div>
  </div><!-- col -->
</div>

<div class="row row-xs">
  <div class="col-md-12">
    <div class="card ">
      <div [className]="_HelperService._Assets.Box.header">
        <div class="tx-14 tx-bold"> {{ Customers_Config.Title}} </div>
        <div class="d-none d-md-block">
          <button type="button" class="btn btn-primary btn-xs mr-3" (click)="Form_RewardCustomer_Show()">
            Reward Customer
          </button>
          <button type="button" class="btn btn-primary btn-xs mr-3" (click)="Form_RewardCustomer_Bulk()">
            Reward Multiple Customer
          </button>
        <!-- </div> -->

        <!-- <div class="d-none d-md-block"> -->
          <button type="button" class="btn btn-primary btn-xs mr-3" data-toggle="modal" data-target="#DownloadSheet">
            Add Multiple Customer
          </button>
          <button type="button" class="btn btn-primary btn-xs" (click)="Form_AddCustomer_Show()">
            Add Customer
          </button>
        </div>

      </div>
      <div class="box-header px-3 pd-t-15 pd-b-0 d-flex align-items-center justify-content-between">
        <div class="form-inline ">
          <div class="input-group input-group-sm mr-3">
            <input type="text" class="form-control" [value]="Customers_Config.SearchParameter" maxlength="100"
              class="form-control" placeholder="{{ 'Common.Search' | translate }}"
              (keyup)="Customers_ToggleOptionSearch( $event, _HelperService.AppConfig.ListToggleOption.Search)">
            <div class="input-group-append">
              <button class="btn btn-outline-light" type="button"
                (click)="Customers_ToggleOption( null, _HelperService.AppConfig.ListToggleOption.Search)"><i
                  data-feather="search"></i> </button>
            </div>
          </div>
        </div>
        <div class="d-flex ml-auto">
          <button type="button" class="btn  tx-12 rounded-0 bd-gray-200 bd-r-0  btn-outline-danger btn-icon"
            [disabled]='(_HelperService.FilterSnap.id == -1)' (click)="Delete_Filter()">
            <i data-feather="minus-circle"></i> </button>

          <div class="form-group my-auto shadow-none ml-auto " *ngIf="_HelperService._RefreshUI">
            <select2 name="itemId0" [options]="_DataHelperService.S2_NewSavedFilters_Option" class="wd-30 select2"
              [data]="_HelperService.Active_FilterOptions" [value]="_HelperService.Active_FilterOptions[0]"
              (valueChanged)="Active_FilterValueChanged( $event )">
            </select2>
          </div>
          <button type="button" class=" btn btn-outline-success tx-12 bd-l-0 mr-3 rounded-0 bd-gray-200 btn-icon"
            [disabled]='_HelperService.FilterState == this._HelperService.AppConfig.FilterStates.Default || 
          _HelperService.FilterState == this._HelperService.AppConfig.FilterStates.NoChange'
            (click)="Save_NewFilter()"> <i data-feather="plus-circle"></i> </button>

        </div>

        <nav class="nav nav-with-icon tx-20">
          <div class="dropdown dropleft">
            <a href="" class="nav-link mr-2" id="Customers_sdropdown" data-toggle="dropdown" aria-haspopup="true"
              aria-expanded="false"> <i data-feather="align-left" class="tx-20"></i> </a>
            <div class="dropdown-menu tx-13">
              <form class="wd-250 pd-15">


                <h6 class="dropdown-header tx-uppercase tx-12 tx-bold tx-inverse pd-b-20 pd-l-0 pd-t-0">Sort
                  <div class="float-right tx-20" *ngIf="Customers_Config.Sort.SortOrder == 'desc'"
                    (click)="Customers_ToggleOption( null, _HelperService.AppConfig.ListToggleOption.SortOrder)">
                    <i class="fas fa-sort-alpha-down-alt"></i>
                  </div>
                  <div class="float-right tx-20" *ngIf="Customers_Config.Sort.SortOrder == 'asc'"
                    (click)="Customers_ToggleOption( null, _HelperService.AppConfig.ListToggleOption.SortOrder)">
                    <i class="fas fa-sort-alpha-up-alt"></i>
                  </div>
                </h6>

                <a class="dropdown-item cursor-pointer {{TItem.SystemActive?  'SystemActive' :'' }} {{_HelperService.CheckMode == 'dark' ? 'text-white' : 'text-dark' }} "
                  *ngFor="let TItem of Customers_Config.Sort.SortOptions"
                  (click)="Customers_ToggleOption( TItem, _HelperService.AppConfig.ListToggleOption.Sort)">
                  {{TItem.Name}}
                </a>

                <button type="button" class="btn btn-light btn-sm mr-2 mg-t-20"
                  (click)="ResetFilters( null, _HelperService.AppConfig.ListToggleOption.ResetOffset)">
                  Reset</button>
                <button type="button" class="btn btn-primary btn-sm  mg-t-20"
                  (click)="ApplyFilters( null, _HelperService.AppConfig.ListToggleOption.ApplyFilter,'Sort')">Apply</button>
              </form>
            </div>
          </div>
          <div class="dropdown dropleft">
            <a href="" class="nav-link" id="Customers_fdropdown" data-toggle="dropdown" aria-haspopup="true"
              (click)="_HelperService.StopClickPropogation()" aria-expanded="false"> <i data-feather="filter"></i> </a>
            <div class="dropdown-menu tx-13">
              <form class="wd-400  pd-15" *ngIf="ResetFilterControls">
                <h6 class="dropdown-header tx-uppercase tx-12 tx-bold tx-inverse pd-b-20 pd-l-0 pd-t-0">Filters
                </h6>
                <div>
                  <div class="form-group">
                    <label>Added On</label>
                    <input type="text" class="form-control  form-daterangepicker" name="daterangeInput" daterangepicker
                      [options]="_HelperService.AppConfig.DateRangeOptions"
                      (selected)="Customers_ToggleOption($event, _HelperService.AppConfig.ListToggleOption.Date)" />
                  </div>
                </div>
                <!-- <div>
                  <div class="form-group">
                    <label>Status</label>
                    <select2 [options]="_DataHelperService.S2_Status_Option" class="wd-100p"
                      [data]="Customers_Config.StatusOptions"
                      (valueChanged)="Customers_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.Status)">
                    </select2>
                  </div>
                </div> -->
                <!-- <div class="form-group">
                  <ng5-slider [value]="TUTr_InvoiceRangeMinAmount" [highValue]="TUTr_InvoiceRangeMaxAmount"
                    [options]="_HelperService.AppConfig.RangeInvoiceAmountOptions"
                    (userChangeEnd)="TUTr_InvoiceRange_OnChange($event)">
                  </ng5-slider>
                </div> -->

                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <div class="controls">
                        <label for="InvoiceRangeMaxAmount">Min Spent Amount</label>
                        <input type="number" min=0 name="InvoiceRangeMinAmount" maxlength="256" class="form-control"
                          [(ngModel)]="TUTr_InvoiceRangeMinAmount"
                          (keyup)="Customers_ToggleOption($event,_HelperService.AppConfig.ListToggleOption.SalesRange)"
                          ng-model="InvoiceRangeMinAmount" required>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <div class="controls">
                        <label for="InvoiceRangeMaxAmount">Max Spent Amount</label>
                        <input type="number" min=0 name="InvoiceRangeMaxAmount" maxlength="256" class="form-control"
                          [(ngModel)]="TUTr_InvoiceRangeMaxAmount"
                          (keyup)="Customers_ToggleOption($event,_HelperService.AppConfig.ListToggleOption.SalesRange)">
                      </div>
                    </div>
                  </div>
                </div>


                <!-- <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <div class="controls">
                        <label for="RewardRangeMinAmount">Min Reward Amount</label>
                        <input type="number" min="0" name="RewardRangeMinAmount" maxlength="256" class="form-control"
                          [(ngModel)]="TUTr_RewardRangeMinAmount"
                          (keyup)="Customers_ToggleOption($event,_HelperService.AppConfig.ListToggleOption.SalesRange)">
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <div class="controls">
                        <label for="RewardRangeMaxAmount">Max Reward Amount</label>
                        <input type="number" min="0" name="RewardRangeMaxAmount" maxlength="256" class="form-control"
                          [(ngModel)]="TUTr_RewardRangeMaxAmount"
                          (keyup)="Customers_ToggleOption($event,_HelperService.AppConfig.ListToggleOption.SalesRange)">
                      </div>
                    </div>
                  </div>
                </div> -->

                <!-- <div class="row mg-b-70">
                  <div class="col-md-6">
                    <div class="form-group">
                      <div class="controls">
                        <label for="RedeemRangeMinAmount">Min Redeem Amount</label>
                        <input type="number" min="0" name="RedeemRangeMinAmount" maxlength="256" class="form-control"
                          [(ngModel)]="TUTr_RedeemRangeMinAmount"
                          (keyup)="Customers_ToggleOption($event,_HelperService.AppConfig.ListToggleOption.SalesRange)">
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <div class="controls">
                        <label for="RedeemRangeMaxAmount">Max Redeem Amount</label>
                        <input type="number" min="0" name="RedeemRangeMaxAmount" maxlength="256" class="form-control"
                          [(ngModel)]="TUTr_RedeemRangeMaxAmount"
                          (keyup)="Customers_ToggleOption($event,_HelperService.AppConfig.ListToggleOption.SalesRange)">
                      </div>
                    </div>
                  </div>
                </div> -->

                <button type="button" class="btn btn-light btn-sm mr-2"
                  (click)="ResetFilters( null, _HelperService.AppConfig.ListToggleOption.ResetOffset)">
                  Reset</button>
                <button type="button" class="btn btn-primary btn-sm "
                  (click)="ApplyFilters( null, _HelperService.AppConfig.ListToggleOption.ApplyFilter,'Other')">Apply</button>
              </form>
            </div>
          </div>
          <a class="nav-link ml-2 RefreshColor RefreshColorOne"
            (click)="Customers_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.Refresh)"> <i
              data-feather="refresh-cw"></i> </a>
          <a class="nav-link ml-2 RefreshColor RefreshColorOne"
            (click)="Customers_ToggleOption( $event,_HelperService.AppConfig.ListToggleOption.Csv)"> <i
              data-feather="download"></i> </a>
        </nav>
      </div>
      <div class="pt-0 pd-l-15 pd-b-7 mt-03r">
        <div class="badge badge-transparent pd-y-10 pd-l-15 mx-1 bd bd-1 bd-gray-500 rounded-50 tx-color-03"
          [hidden]="(!_HelperService.FilterSnap.Status) || (_HelperService.FilterSnap.Status==0)">
          {{_HelperService.FilterSnap.StatusName}}
          <span class="bd bd-1  mg-l-5 pd-x-5 pd-y-3 rounded-circle bg-primary text-white cursor-pointer"
            (click)="RemoveFilterComponent('Status')"><i class="fas fa-times"></i> </span>
        </div>
        <div class="badge badge-transparent pd-y-10 pd-l-15 mx-1 bd bd-1 bd-gray-500 rounded-50 tx-color-03"
          [hidden]="!_HelperService.FilterSnap.Sort.SortColumn || (_HelperService.FilterSnap.Sort.SortColumn=='CreateDate' && _HelperService.FilterSnap.Sort.SortOrder=='desc')">
          <span> {{_HelperService.FilterSnap.Sort.SortColumn + "--" + _HelperService.FilterSnap.Sort.SortOrder}}</span>
          <span class="bd bd-1  mg-l-5 pd-x-5 pd-y-3 rounded-circle bg-primary text-white cursor-pointer"
            (click)="RemoveFilterComponent('Sort')"><i class="fas fa-times"></i> </span>
        </div>
        <div class="badge badge-transparent pd-y-10 pd-l-15 mx-1 bd bd-1 bd-gray-500 rounded-50 tx-color-03"
          [hidden]="!_HelperService.FilterSnap.StartTime">
          {{_HelperService.GetFilterDate(_HelperService.FilterSnap.StartTime) + "--" +
          _HelperService.GetFilterDate(_HelperService.FilterSnap.EndTime)}}
          <span class="bd bd-1  mg-l-5 pd-x-5 pd-y-3 rounded-circle bg-primary text-white cursor-pointer"
            (click)="RemoveFilterComponent('Time')"><i class="fas fa-times"></i> </span>
        </div>
        <div class="badge badge-transparent pd-y-10 pd-l-15 mx-1 bd bd-1 bd-gray-500 rounded-50 tx-color-03"
          *ngFor="let TItem of _HelperService.FilterSnap.OtherFilters; let i = index">
          {{TItem.data[0].DisplayName}}
          <span class="bd bd-1  mg-l-5 pd-x-5 pd-y-3 rounded-circle bg-primary text-white cursor-pointer"
            (click)="RemoveFilterComponent('Other',i)"><i class="fas fa-times"></i> </span>
        </div>
        <div class="badge badge-transparent pd-y-10 pd-l-15 mx-1 bd bd-1 bd-gray-500 rounded-50 tx-color-03"
        [hidden]="
      !(_HelperService.FilterSnap.SalesRange) || (_HelperService.FilterSnap.SalesRange.SalesMin==0 && _HelperService.FilterSnap.SalesRange.SalesMax==10000000)" (click)="RemoveFilterComponent('SalesRange')">
        Sales Range
        [{{_HelperService.FilterSnap.SalesRange.SalesMin + "--" + _HelperService.FilterSnap.SalesRange.SalesMax}}]
        <span class="bd bd-1  mg-l-5 pd-x-5 pd-y-3 rounded-circle bg-primary text-white cursor-pointer"><i
            class="fas fa-times"></i> </span>
      </div>
      <div class="badge badge-transparent pd-y-10 pd-l-15 mx-1 bd bd-1 bd-gray-500 rounded-50 tx-color-03"
        [hidden]="
      !(_HelperService.FilterSnap.SalesRange) || (_HelperService.FilterSnap.SalesRange.RewardMin==0 && _HelperService.FilterSnap.SalesRange.RewardMax==10000000)" (click)="RemoveFilterComponent('RewardRange')">
        Reward
        Range [{{_HelperService.FilterSnap.SalesRange.RewardMin + "--" +
        _HelperService.FilterSnap.SalesRange.RewardMax}}]
        <span class="bd bd-1  mg-l-5 pd-x-5 pd-y-3 rounded-circle bg-primary text-white cursor-pointer"><i
            class="fas fa-times"></i> </span>
      </div>
      <div class="badge badge-transparent pd-y-10 pd-l-15 mx-1 bd bd-1 bd-gray-500 rounded-50 tx-color-03"
        [hidden]="!(_HelperService.FilterSnap.SalesRange) || (_HelperService.FilterSnap.SalesRange.RedeemMin==0 && _HelperService.FilterSnap.SalesRange.RedeemMax==10000000)"
        (click)="RemoveFilterComponent('RedeemRange')">
        Redeem
        Range [{{_HelperService.FilterSnap.SalesRange.RedeemMin + "--" +
        _HelperService.FilterSnap.SalesRange.RedeemMax}}]
        <span class="bd bd-1  mg-l-5 pd-x-5 pd-y-3 rounded-circle bg-primary text-white cursor-pointer"><i
            class="fas fa-times"></i> </span>
      </div>

        <span class="badge badge-pill badge-primary"
          *ngFor="let TItem of Customers_Config.Filters">{{TItem.Title}}</span>

      </div>

      <!-- <div class="pt-0 pd-l-15 pd-b-7">
  
      </div> -->

      <div class="card-body p-0">
        <table class="{{_HelperService.AppConfig.TablesConfig.DefaultClass}}">
          <thead>
            <tr>
              <th class="text-center" *ngIf="ColumnConfig[0].Value">
              </th>
              <th>
                Customer Name
              </th>
              <th class="" *ngIf="ColumnConfig[1].Value">
                Contact
              </th>
              <th class="text-right" *ngIf="ColumnConfig[2].Value">
                Total Spent(<span [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span>)
              </th>
              <th class="text-right" *ngIf="ColumnConfig[3].Value">
                Rewards Earned (<span [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span>)
              </th>
              <!-- <th class="text-right" *ngIf="_HelperService.UserAccount.IsTucPlusEnabled && ColumnConfig[3].Value">
                Claim(<span [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span>)
              </th> -->
              <th class="text-right" *ngIf="ColumnConfig[4].Value">
                Redeemed(<span [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span>)
              </th>
              <th class="text-center" *ngIf="ColumnConfig[5].Value">
                Visits
              </th>
              <!-- <th *ngIf="ColumnConfig[6].Value">
                Last Transaction
              </th> -->
              <th class="text-center" *ngIf="ColumnConfig[7].Value">
                Type
              </th>
              <!-- <th class="text-center" *ngIf="_HelperService.AppConfig.ActiveOwnerId == 583505">
                Reg. Source
              </th> -->
              <th class="text-center">
                Actions
              </th>
            </tr>
          </thead>
          <tbody>
            <tr class="cursor-pointer"
              *ngFor="let TItem of Customers_Config.Data  | paginate: { id: 'Customers_Paginator',itemsPerPage: Customers_Config.PageRecordLimit, currentPage: Customers_Config.ActivePage,  totalItems: Customers_Config.TotalRecords }">
              <!-- <td class="text-center" *ngIf="ColumnConfig[0].Value">
                <span class="d-block wd-15 ht-15 rounded-circle ml-auto" [style.background-color]="TItem.StatusC"></span>
              </td> -->
              <td class="text-center" *ngIf="ColumnConfig[0].Value" (click)="Customers_RowSelected(TItem)"  
              [ngClass]="{'click-disable': !_HelperService.IsSubscriptionActive}">
                <img class="br" (error)="_HelperService.defaultImage($event)" src="{{TItem.IconUrl}}"
                  class="img wd-40 ht-40 rounded-circle bd bd-2" [style.border-color]="TItem.StatusC">
              </td>
              <td  (click)="Customers_RowSelected(TItem)"  
              [ngClass]="{'click-disable': !_HelperService.IsSubscriptionActive}">
                <div class="tx-14 tx-semibold ">{{TItem.DisplayName || "--"}}</div>

              </td>
              <td class="" *ngIf="ColumnConfig[1].Value" (click)="Customers_RowSelected(TItem)"
              [ngClass]="{'click-disable': !_HelperService.IsSubscriptionActive}">
                <div> {{TItem.MobileNumber || "--"}}</div>
                <small class="text-muted tx-12">
                  {{TItem.EmailAddress || "--"}}
                </small>
              </td>
              <td class="text-right" *ngIf="ColumnConfig[2].Value" (click)="Customers_RowSelected(TItem)"
              [ngClass]="{'click-disable': !_HelperService.IsSubscriptionActive}">
                <div class="tx-14"> <span class=" text-sm mg-r-2"
                    [innerHtml]="_HelperService.AppConfig.CurrencySymbol"></span>
                  {{TItem.TotalInvoiceAmount || "0" | number: "1.2-2"}}
                </div>
              </td>
              <td class="text-right" *ngIf="ColumnConfig[3].Value" (click)="Customers_RowSelected(TItem)">
                <span class=" text-sm mg-r-2" [innerHtml]="_HelperService.AppConfig.CurrencySymbol"></span>
                <span *ngIf="_HelperService.UserAccount.IsTucPlusEnabled">
                  {{TItem.TucPlusRewardAmount || "0" | number: "1.2-2"}}
                </span>
                <span *ngIf="!_HelperService.UserAccount.IsTucPlusEnabled">
                  {{TItem.TotalRewardAmount || "0" | number: "1.2-2"}}
                </span>
              </td>
              <!-- <td class="text-right" *ngIf="_HelperService.UserAccount.IsTucPlusEnabled && ColumnConfig[3].Value"
                (click)="Customers_RowSelected(TItem)">
                <span class=" text-sm mg-r-2" [innerHtml]="_HelperService.AppConfig.CurrencySymbol"></span>
                {{TItem.TucPlusRewardClaimAmount || "0" | number: "1.2-2"}}
              </td> -->
              <td class="text-right" *ngIf="ColumnConfig[4].Value" (click)="Customers_RowSelected(TItem)">
                <span class=" text-sm mg-r-2" [innerHtml]="_HelperService.AppConfig.CurrencySymbol"></span>
                {{TItem.RedeemAmount || "0" | number: "1.2-2"}}
              </td>

              <td class="text-center" *ngIf="ColumnConfig[5].Value" (click)="Customers_RowSelected(TItem)"
              [ngClass]="{'click-disable': !_HelperService.IsSubscriptionActive}">
                {{TItem.TotalTransaction || "--"}}
              </td>

              <!-- <td class="text-muted" *ngIf="ColumnConfig[6].Value" (click)="Customers_RowSelected(TItem)">
                {{(TItem.LastTransactionDate)||"--"}}
              </td>
              <td class="text-muted" *ngIf="_HelperService.AppConfig.ActiveOwnerId == 583505"
                (click)="Customers_RowSelected(TItem)">
                {{(TItem.RegistrationSource)||"--"}}
              </td> -->
              <!-- <td class="text-center" *ngIf="ColumnConfig[7].Value">
                <span class="d-block wd-15 text-center ht-15 rounded-circle ml-auto"
                  [style.background-color]="TItem.StatusC"></span>
              </td> -->
              <td class="text-center"  (click)="Customers_RowSelected(TItem)"  
              [ngClass]="{'click-disable': !_HelperService.IsSubscriptionActive}">
                <span class=" badge badge-indigo pd-5 tx-uppercase" *ngIf="TItem.TotalTransaction > 1"> Loyal </span>
                <span class=" badge badge-primary pd-5 tx-uppercase" *ngIf="TItem.TotalTransaction == 1"> New </span>
                <span class=" badge badge-danger pd-5 tx-uppercase" *ngIf="TItem.TotalTransaction == 0"> Lost </span>
              </td>
              <!-- <td (click)="Customers_RowSelected(TItem)">
                <span class=" badge badge-indigo pd-5 tx-uppercase" *ngIf="TItem.LoyaltyTypeName == 'Loyal'"> Loyal </span>
                <span class=" badge badge-primary pd-5 tx-uppercase" *ngIf="TItem.LoyaltyTypeName == 'New'"> New </span>
                <span class=" badge badge-danger pd-5 tx-uppercase" *ngIf="TItem.LoyaltyTypeName == 'Lost'"> Lost </span>
              </td> -->
              <td class="text-center">
                <button type="button" class="btn btn-outline-primary btn-xs mr-3"
                  (click)="Form_RewardCustomer_Pre(TItem)">
                  Reward
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="card-footer pd-20">
        <span class="mr-3">
          {{ 'Common.Showing' | translate }}
          <span class="bold">{{Customers_Config.ShowingStart}} {{ 'Common.To' | translate }}
            {{Customers_Config.ShowingEnd}}
          </span> {{ 'Common.Of' | translate }} {{Customers_Config.TotalRecords}}
        </span>
        <span>
          {{ 'Common.Show' | translate }}
          <select class="wd-40 " [(ngModel)]="Customers_Config.PageRecordLimit"
            (ngModelChange)="Customers_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.Limit)">
            <option [ngValue]="TItem" *ngFor="let TItem of _HelperService.AppConfig.ListRecordLimit">
              {{TItem}}
            </option>
          </select>
        </span>
        <span class="float-right">
          <pagination-controls id="Customers_Paginator" class="pagination pagination-space"
            (pageChange)="Customers_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.Page)"
            nextLabel="{{ 'Common.Next' | translate }}" previousLabel="{{ 'Common.Previous' | translate }}">
          </pagination-controls>
        </span>
      </div>
    </div>
  </div>

  <!-- <div class="col-md-3">
    <div class="card text-center p-3">
      <div class="card-body">
        <h6 class="tx-uppercase tx-11 tx-spacing-1 tx-color-02 tx-semibold mg-b-8">All customers</h6>
        <div class="user-icon">
          <svg width="28" height="28" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M14.0003 13.9993C17.6837 13.9993 20.667 11.016 20.667 7.33268C20.667 3.64935 17.6837 0.666016 14.0003 0.666016C10.317 0.666016 7.33366 3.64935 7.33366 7.33268C7.33366 11.016 10.317 13.9993 14.0003 13.9993ZM14.0003 17.3327C9.55033 17.3327 0.666992 19.566 0.666992 23.9993V27.3327H27.3337V23.9993C27.3337 19.566 18.4503 17.3327 14.0003 17.3327Z"
              fill="#8392A5" />
          </svg>
        </div>
        <p class="tx-12 text-secondary mg-b-0"> {{OverviewData.Total| number: "1.0-0"}} Customer</p>
      </div>
      <div class="card-footer mt-3 pb-0">
        <button class="btn btn-primary btn-block">Send SMS to Customers</button>
      </div>
    </div>
  </div> -->
</div>

<div class="modal fade" id="SampleSheet" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-primary" id="exampleModalLabel">Customers - Upload List</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container d-flex justify-content-center">
          <div class="d-flex flex-column align-items-center justify-content-center">
            <span class="tx-50 tx-success"><i class="far fa-file-excel"></i></span>
            <!-- <input  class="cursor-pointer btn  dragDrop"   style="padding:35px !important;" type="file"  class="form-control" (change)="addfile($event)" placeholder="Upload file" accept=".csv,application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel">         -->


            <input type="file" id="myFile" size="50" (change)="addfile($event)" multiple="false"
              class="cursor-pointer btn  dragDrop"
              accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel"
              style="padding:35px !important;" />

            <button (click)="StartMerchantUpload()" class=" btn btn-brand-02  wd-200 mt-3"> Upload File </button>

            <div class="mg-t-15">
              <!-- <div> You can download sample .xls file from here. </div> -->
              <div class="mg-t-10"> Remember-</div>
              <div class="mg-t-5"> 1. It's mandatory to fill Account Number, Invoice Amount in sample
                sheet. </div>
              <div class="mg-t-10"> 2.Gender format should be <b> Male </b> , <b> Female </b> Or <b>
                  Other</b> </div>
            </div>
          </div>
        </div>

      </div>

    </div>
  </div>
</div>

<div class="modal fade" id="DownloadSheet" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-primary" id="exampleModalLabel">Download Template</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div>
          <div> You can download sample .xls file from here. </div>
          <div class="mg-t-10"> Remember-</div>
          <div class="mg-t-5"> 1. It's mandatory to fillMobile number in sample sheet. </div>
          <div class="mg-t-10"> 2. Gender format should be <b> Male </b> , <b> Female </b> Or <b> Other</b>
          </div>
        </div>
        <div class="mg-t-25 mg-b-25 mg-l-20 mg-r-20 d-flex align-items-center">
          <div class="w-100">
            <a href="../../../../assets/uploads/BulkRewardSample.xlsx" download="BulkRewardSample"
              class="btn btn-primary btn-block">
              Download
            </a>
          </div>
          <div class="ml-2 w-100">
            <button class="btn btn-primary btn-block" data-dismiss="modal" data-toggle="modal"
              data-target="#SampleSheet">
              Upload File
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="Form_AddCustomer_Content" class="modal fade" tabindex="-1" data-backdrop="true" aria-hidden="true"
  style="overflow-y: scroll !important;">
  <div class="modal-dialog modal-dialog-centered dropdown ">
    <div class="modal-content">
      <form [formGroup]="Form_AddCustomer" (ngSubmit)="Form_AddCustomer_Process(Form_AddCustomer.value)" role="form">
        <div class="modal-header">
          <h5 class="modal-title">Add New Customer</h5>
        </div>
        <div class="modal-body  p-lg">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <div class="d-flex justify-content-between">
                  <div>
                    <label>{{ "System.Users.FirstName" | translate }}<span class="text-danger">*</span>
                    </label>
                  </div>

                </div>
                <div class="controls">
                  <input type="text" name="FirstName" placeholder="First Name" required maxlength="128"
                    class="form-control" [formControl]="Form_AddCustomer.controls['FirstName']" [ngClass]="{
                      'is-invalid':
                        !Form_AddCustomer.controls['FirstName'].valid &&
                        Form_AddCustomer.controls['FirstName'].touched
                    }" />
                </div>
                <label class="text-danger" for="FirstName" *ngIf="
                    Form_AddCustomer.controls['FirstName'].hasError('required') &&
                    Form_AddCustomer.controls['FirstName'].touched
                  ">{{
                  "System.Users.FirstName_ER_Required" | translate
                  }}</label>
                <label class="text-danger" for="FirstName" *ngIf="
                    Form_AddCustomer.controls['FirstName'].hasError(
                      'minlength'
                    ) ||
                    Form_AddCustomer.controls['FirstName'].hasError('maxlength')
                  ">{{ "System.Users.FirstName_ER_Length" | translate }}</label>
                <label class="text-danger" for="FirstName" *ngIf="
                  Form_AddCustomer.controls['FirstName'].hasError('pattern') &&
                  ! Form_AddCustomer.controls['FirstName'].hasError('minlength') 
                ">Only characters are allowed</label>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <div class="d-flex justify-content-between">
                  <div>
                    <label>{{ "System.Users.LastName" | translate }}<span class="text-danger">*</span>
                    </label>
                  </div>

                </div>
                <div class="controls">
                  <input type="text" name="LastName" placeholder="Last Name" required maxlength="128"
                    class="form-control" [formControl]="Form_AddCustomer.controls['LastName']" [ngClass]="{
                      'is-invalid':
                        !Form_AddCustomer.controls['LastName'].valid &&
                        Form_AddCustomer.controls['LastName'].touched
                    }" />
                </div>
                <label class="text-danger" for="LastName" *ngIf="
                    Form_AddCustomer.controls['LastName'].hasError('required') &&
                    Form_AddCustomer.controls['LastName'].touched
                  ">{{
                  "System.Users.LastName_ER_Required" | translate
                  }}</label>
                <label class="text-danger" for="LastName" *ngIf="
                    Form_AddCustomer.controls['LastName'].hasError(
                      'minlength'
                    ) ||
                    Form_AddCustomer.controls['LastName'].hasError('maxlength')
                  ">{{ "System.Users.LastName_ER_Length" | translate }}</label>
                <label class="text-danger" for="LastName" *ngIf="
                  Form_AddCustomer.controls['LastName'].hasError('pattern') &&
                  ! Form_AddCustomer.controls['LastName'].hasError('minlength') 
                ">Only characters are allowed</label>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label>{{ "System.Users.EmailAddress" | translate
              }}<span class="text-danger">*</span>
            </label>
            <div class="controls">
              <input type="text" placeholder="Email Address" name="EmailAddress" maxlength="128" class="form-control"
                [formControl]="Form_AddCustomer.controls['EmailAddress']" [ngClass]="{
                          'is-invalid':
                            !Form_AddCustomer.controls['EmailAddress'].valid &&
                           Form_AddCustomer.controls['EmailAddress'].touched
                        }" />
            </div>
            <label class="text-danger" for="EmailAddress" *ngIf="
                       Form_AddCustomer.controls['EmailAddress'].hasError('required') &&
                       Form_AddCustomer.controls['EmailAddress'].touched
                      ">{{
              "System.Users.EmailAddress_ER_Required" | translate
              }}</label>
            <label class="text-danger" for="EmailAddress" *ngIf="
                       Form_AddCustomer.controls['EmailAddress'].touched &&
                        !Form_AddCustomer.controls['EmailAddress'].valid && 
                        !Form_AddCustomer.controls['EmailAddress'].hasError('required')
                      ">Enter valid email Address</label>
          </div>
          <div class="form-group">
            <label>{{ "System.Users.MobileNumber" | translate
              }}<span class="text-danger">*</span>
            </label>
            <div class="controls input-group">
              <div class="input-group-prepend">
                <span class="input-group-text">{{this._HelperService.CountryCode}}</span>
              </div>
              <input type="text" placeholder="Contact Number" name="MobileNumber" maxlength="14" class="form-control"
                (keypress)="_HelperService.PreventText($event)"
                [formControl]="Form_AddCustomer.controls['MobileNumber']" [ngClass]="{
                        'is-invalid':
                          !Form_AddCustomer.controls['MobileNumber'].valid &&
                         Form_AddCustomer.controls['MobileNumber'].touched
                      }" />
            </div>
            <label class="text-danger" for="MobileNumber" *ngIf="
                     Form_AddCustomer.controls['MobileNumber'].hasError('required') &&
                     Form_AddCustomer.controls['MobileNumber'].touched
                    ">{{
              "System.Users.MobileNumber_ER_Required" | translate
              }}</label>
            <label class="text-danger" for="MobileNumber" *ngIf="
                     Form_AddCustomer.controls['MobileNumber'].hasError(
                        'minlength'
                      ) ||
                     Form_AddCustomer.controls['MobileNumber'].hasError('maxlength')
                    ">{{ "System.Users.MobileNumber_ER_Length" | translate }}</label>
          </div>

          <div class="form-group">
            <div> <label>{{'System.Users.Gender' | translate }}<span class="text-danger">*</span>
              </label>
            </div>
            <div class="radio float-left mr-3">
              <label class="ui-check"><input type="radio" name="gender" [value]="_HelperService.AppConfig.Gender.Male"
                  [formControl]="Form_AddCustomer.controls['GenderCode']">
                <i class="dark-white"></i>
                {{ 'System.Users.Male' | translate }}</label>
            </div>
            <div class="radio  mr-3"><label class="ui-check"><input type="radio" name="gender"
                  [value]="_HelperService.AppConfig.Gender.Female"
                  [formControl]="Form_AddCustomer.controls['GenderCode']">
                <i class="dark-white"></i>
                {{ 'System.Users.Female' | translate }}</label></div>
          </div>

          <div class="form-group">
            <div>
              <label>Profile Picture
              </label>
            </div>
            <div class="col-md-12">
              <input-file #customer inputId="input-file" placeholder="">
              </input-file>
            </div>
          </div>


        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="Form_AddCustomer_Close()">
            {{ "Common.Close" | translate }}
          </button>
          <button type="submit" class="btn btn-primary warn mr-2" (click)="Form_AddCustomer.value.OperationType = 'new'"
            [disabled]="!Form_AddCustomer.valid || _HelperService.IsFormProcessing">
            <span *ngIf="!_HelperService.IsFormProcessing">
              {{ "Common.Save" | translate }}
            </span>
            <span *ngIf="_HelperService.IsFormProcessing">
              <i class="{{ 'Common.SpinnerIcon' | translate }}"></i>
              {{ "Common.PleaseWait" | translate }}...
            </span>
          </button>
        </div>
      </form>
    </div>
  </div>
</div>

<div id="Form_AddCustomer_Content" class="modal fade" tabindex="-1" data-backdrop="true" aria-hidden="true"
  style="overflow-y: scroll !important;">
  <div class="modal-dialog modal-dialog-centered dropdown ">
    <div class="modal-content">
      <form [formGroup]="Form_AddCustomer" (ngSubmit)="Form_AddCustomer_Process(Form_AddCustomer.value)" role="form">
        <div class="modal-header">
          <h5 class="modal-title">Add New Customer</h5>
        </div>
        <div class="modal-body  p-lg">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <div class="d-flex justify-content-between">
                  <div>
                    <label>{{ "System.Users.FirstName" | translate }}<span class="text-danger">*</span>
                    </label>
                  </div>

                </div>
                <div class="controls">
                  <input type="text" name="FirstName" placeholder="First Name" required maxlength="128"
                    class="form-control" [formControl]="Form_AddCustomer.controls['FirstName']" [ngClass]="{
                      'is-invalid':
                        !Form_AddCustomer.controls['FirstName'].valid &&
                        Form_AddCustomer.controls['FirstName'].touched
                    }" />
                </div>
                <label class="text-danger" for="FirstName" *ngIf="
                    Form_AddCustomer.controls['FirstName'].hasError('required') &&
                    Form_AddCustomer.controls['FirstName'].touched
                  ">{{
                  "System.Users.FirstName_ER_Required" | translate
                  }}</label>
                <label class="text-danger" for="FirstName" *ngIf="
                    Form_AddCustomer.controls['FirstName'].hasError(
                      'minlength'
                    ) ||
                    Form_AddCustomer.controls['FirstName'].hasError('maxlength')
                  ">{{ "System.Users.FirstName_ER_Length" | translate }}</label>
                <label class="text-danger" for="FirstName" *ngIf="
                  Form_AddCustomer.controls['FirstName'].hasError('pattern') &&
                  ! Form_AddCustomer.controls['FirstName'].hasError('minlength') 
                ">Only characters are allowed</label>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <div class="d-flex justify-content-between">
                  <div>
                    <label>{{ "System.Users.LastName" | translate }}<span class="text-danger">*</span>
                    </label>
                  </div>

                </div>
                <div class="controls">
                  <input type="text" name="LastName" placeholder="Last Name" required maxlength="128"
                    class="form-control" [formControl]="Form_AddCustomer.controls['LastName']" [ngClass]="{
                      'is-invalid':
                        !Form_AddCustomer.controls['LastName'].valid &&
                        Form_AddCustomer.controls['LastName'].touched
                    }" />
                </div>
                <label class="text-danger" for="LastName" *ngIf="
                    Form_AddCustomer.controls['LastName'].hasError('required') &&
                    Form_AddCustomer.controls['LastName'].touched
                  ">{{
                  "System.Users.LastName_ER_Required" | translate
                  }}</label>
                <label class="text-danger" for="LastName" *ngIf="
                    Form_AddCustomer.controls['LastName'].hasError(
                      'minlength'
                    ) ||
                    Form_AddCustomer.controls['LastName'].hasError('maxlength')
                  ">{{ "System.Users.LastName_ER_Length" | translate }}</label>
                <label class="text-danger" for="LastName" *ngIf="
                  Form_AddCustomer.controls['LastName'].hasError('pattern') &&
                  ! Form_AddCustomer.controls['LastName'].hasError('minlength') 
                ">Only characters are allowed</label>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label>{{ "System.Users.EmailAddress" | translate
              }}<span class="text-danger">*</span>
            </label>
            <div class="controls">
              <input type="text" placeholder="Email Address" name="EmailAddress" maxlength="128" class="form-control"
                [formControl]="Form_AddCustomer.controls['EmailAddress']" [ngClass]="{
                          'is-invalid':
                            !Form_AddCustomer.controls['EmailAddress'].valid &&
                           Form_AddCustomer.controls['EmailAddress'].touched
                        }" />
            </div>
            <label class="text-danger" for="EmailAddress" *ngIf="
                       Form_AddCustomer.controls['EmailAddress'].hasError('required') &&
                       Form_AddCustomer.controls['EmailAddress'].touched
                      ">{{
              "System.Users.EmailAddress_ER_Required" | translate
              }}</label>
            <label class="text-danger" for="EmailAddress" *ngIf="
                       Form_AddCustomer.controls['EmailAddress'].touched &&
                        !Form_AddCustomer.controls['EmailAddress'].valid && 
                        !Form_AddCustomer.controls['EmailAddress'].hasError('required')
                      ">Enter valid email Address</label>
          </div>
          <div class="form-group">
            <label>{{ "System.Users.MobileNumber" | translate
              }}<span class="text-danger">*</span>
            </label>
            <div class="controls input-group">
              <div class="input-group-prepend">
                <span class="input-group-text">{{this._HelperService.CountryCode}}</span>
              </div>
              <input type="text" placeholder="Contact Number" name="MobileNumber" maxlength="14" class="form-control"
                (keypress)="_HelperService.PreventText($event)"
                [formControl]="Form_AddCustomer.controls['MobileNumber']" [ngClass]="{
                        'is-invalid':
                          !Form_AddCustomer.controls['MobileNumber'].valid &&
                         Form_AddCustomer.controls['MobileNumber'].touched
                      }" />
            </div>
            <label class="text-danger" for="MobileNumber" *ngIf="
                     Form_AddCustomer.controls['MobileNumber'].hasError('required') &&
                     Form_AddCustomer.controls['MobileNumber'].touched
                    ">{{
              "System.Users.MobileNumber_ER_Required" | translate
              }}</label>
            <label class="text-danger" for="MobileNumber" *ngIf="
                     Form_AddCustomer.controls['MobileNumber'].hasError(
                        'minlength'
                      ) ||
                     Form_AddCustomer.controls['MobileNumber'].hasError('maxlength')
                    ">{{ "System.Users.MobileNumber_ER_Length" | translate }}</label>
          </div>

          <div class="form-group">
            <div> <label>{{'System.Users.Gender' | translate }}<span class="text-danger">*</span>
              </label>
            </div>
            <div class="radio float-left mr-3">
              <label class="ui-check"><input type="radio" name="gender" [value]="_HelperService.AppConfig.Gender.Male"
                  [formControl]="Form_AddCustomer.controls['GenderCode']">
                <i class="dark-white"></i>
                {{ 'System.Users.Male' | translate }}</label>
            </div>
            <div class="radio  mr-3"><label class="ui-check"><input type="radio" name="gender"
                  [value]="_HelperService.AppConfig.Gender.Female"
                  [formControl]="Form_AddCustomer.controls['GenderCode']">
                <i class="dark-white"></i>
                {{ 'System.Users.Female' | translate }}</label></div>
          </div>

          <div class="form-group">
            <div>
              <label>Profile Picture
              </label>
            </div>
            <div class="col-md-12">
              <input-file #customer inputId="input-file" placeholder="">
              </input-file>
            </div>
          </div>


        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="Form_AddCustomer_Close()">
            {{ "Common.Close" | translate }}
          </button>
          <button type="submit" class="btn btn-primary warn mr-2" (click)="Form_AddCustomer.value.OperationType = 'new'"
            [disabled]="!Form_AddCustomer.valid || _HelperService.IsFormProcessing">
            <span *ngIf="!_HelperService.IsFormProcessing">
              {{ "Common.Save" | translate }}
            </span>
            <span *ngIf="_HelperService.IsFormProcessing">
              <i class="{{ 'Common.SpinnerIcon' | translate }}"></i>
              {{ "Common.PleaseWait" | translate }}...
            </span>
          </button>
        </div>
      </form>
    </div>
  </div>
</div>

<div id="Form_RewardCustomer_Content" class="modal fade" tabindex="-1" data-backdrop="true" aria-hidden="true"
  style="overflow-y: scroll !important;">
  <div class="modal-dialog modal-dialog-centered dropdown ">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Reward Customer</h5>
      </div>
      <div class="modal-body  p-lg">
        <div *ngIf="_RewardConfirm.ReferenceId == 0">

          <div class="row ">
            <div class="col-md-12">
              <div class="form-group">
                <div class="d-flex justify-content-between">
                  <div>
                    <label>Enter Mobile Number<span class="text-danger">*</span>
                    </label>
                  </div>
                </div>
                <div class="controls">
                  <input type="text" name="Mobile number" [(ngModel)]="_RewardInitialize.MobileNumber"
                    placeholder="Mobile number" minlength="8" required maxlength="14" class="form-control" />
                </div>
              </div>
              <button type="submit" class="btn btn-primary warn mr-2" (click)="InitializeReward(false)"
                [disabled]="_HelperService.IsFormProcessing">
                <span *ngIf="!_HelperService.IsFormProcessing">
                  Check Account
                </span>
                <span *ngIf="_HelperService.IsFormProcessing">
                  <i class="{{ 'Common.SpinnerIcon' | translate }}"></i>
                  {{ "Common.PleaseWait" | translate }}...
                </span>
              </button>
            </div>
          </div>
          <!-- <div *ngIf="_RewardInitialize.IsNewCustomer">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <div class="d-flex justify-content-between">
                  <div>
                    <label>{{ "System.Users.FirstName" | translate }}<span class="text-danger">*</span>
                    </label>
                  </div>
                </div>
                <div class="controls">
                  <input type="text" name="FirstName" placeholder="First Name" required maxlength="128"
                    class="form-control" />
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <div class="d-flex justify-content-between">
                  <div>
                    <label>{{ "System.Users.LastName" | translate }}<span class="text-danger">*</span>
                    </label>
                  </div>
                </div>
                <div class="controls">
                  <input type="text" name="LastName" placeholder="Last Name" required maxlength="128"
                    class="form-control" [formControl]="Form_AddCustomer.controls['LastName']" [ngClass]="{
                      'is-invalid':
                        !Form_AddCustomer.controls['LastName'].valid &&
                        Form_AddCustomer.controls['LastName'].touched
                    }" />
                </div>
                <label class="text-danger" for="LastName" *ngIf="
                    Form_AddCustomer.controls['LastName'].hasError('required') &&
                    Form_AddCustomer.controls['LastName'].touched
                  ">{{
                  "System.Users.LastName_ER_Required" | translate
                  }}</label>
                <label class="text-danger" for="LastName" *ngIf="
                    Form_AddCustomer.controls['LastName'].hasError(
                      'minlength'
                    ) ||
                    Form_AddCustomer.controls['LastName'].hasError('maxlength')
                  ">{{ "System.Users.LastName_ER_Length" | translate }}</label>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label>{{ "System.Users.EmailAddress" | translate
              }}<span class="text-danger">*</span>
            </label>
            <div class="controls">
              <input type="text" placeholder="Email Address" name="EmailAddress" maxlength="128" class="form-control"
                [formControl]="Form_AddCustomer.controls['EmailAddress']" [ngClass]="{
                          'is-invalid':
                            !Form_AddCustomer.controls['EmailAddress'].valid &&
                           Form_AddCustomer.controls['EmailAddress'].touched
                        }" />
            </div>
            <label class="text-danger" for="EmailAddress" *ngIf="
                       Form_AddCustomer.controls['EmailAddress'].hasError('required') &&
                       Form_AddCustomer.controls['EmailAddress'].touched
                      ">{{
              "System.Users.EmailAddress_ER_Required" | translate
              }}</label>
            <label class="text-danger" for="EmailAddress" *ngIf="
                       Form_AddCustomer.controls['EmailAddress'].touched &&
                        !Form_AddCustomer.controls['EmailAddress'].valid && 
                        !Form_AddCustomer.controls['EmailAddress'].hasError('required')
                      ">Enter valid email Address</label>
          </div>
          <div class="form-group">
            <label>{{ "System.Users.MobileNumber" | translate
              }}<span class="text-danger">*</span>
            </label>
            <div class="controls input-group">
              <div class="input-group-prepend">
                <span class="input-group-text">{{this._HelperService.CountryCode}}</span>
              </div>
              <input type="text" placeholder="Contact Number" name="MobileNumber" maxlength="14" class="form-control"
                (keypress)="_HelperService.PreventText($event)"
                [formControl]="Form_AddCustomer.controls['MobileNumber']" [ngClass]="{
                        'is-invalid':
                          !Form_AddCustomer.controls['MobileNumber'].valid &&
                         Form_AddCustomer.controls['MobileNumber'].touched
                      }" />
            </div>
            <label class="text-danger" for="MobileNumber" *ngIf="
                     Form_AddCustomer.controls['MobileNumber'].hasError('required') &&
                     Form_AddCustomer.controls['MobileNumber'].touched
                    ">{{
              "System.Users.MobileNumber_ER_Required" | translate
              }}</label>
            <label class="text-danger" for="MobileNumber" *ngIf="
                     Form_AddCustomer.controls['MobileNumber'].hasError(
                        'minlength'
                      ) ||
                     Form_AddCustomer.controls['MobileNumber'].hasError('maxlength')
                    ">{{ "System.Users.MobileNumber_ER_Length" | translate }}</label>
          </div>
          <div class="form-group">
            <div> <label>{{'System.Users.Gender' | translate }}<span class="text-danger">*</span>
              </label>
            </div>
            <div class="radio float-left mr-3">
              <label class="ui-check"><input type="radio" name="gender" [value]="_HelperService.AppConfig.Gender.Male"
                  [formControl]="Form_AddCustomer.controls['GenderCode']">
                <i class="dark-white"></i>
                {{ 'System.Users.Male' | translate }}</label>
            </div>
            <div class="radio  mr-3"><label class="ui-check"><input type="radio" name="gender"
                  [value]="_HelperService.AppConfig.Gender.Female"
                  [formControl]="Form_AddCustomer.controls['GenderCode']">
                <i class="dark-white"></i>
                {{ 'System.Users.Female' | translate }}</label></div>
          </div>
        </div> -->
          <div class=" mt-3 pt-4 border-top" *ngIf="_RewardInitialize.ReferenceId > 0">
            <div class="row">
              <div class="col-md-12 mb-3">
                <h5 class="modal-title">Reward Information </h5>
              </div>
              <div class="col-md-12">
                <div class="form-group">
                  <div class="d-flex justify-content-between">
                    <div>
                      <label>Enter invoice amount<span class="text-danger">*</span>
                      </label>
                    </div>
                  </div>
                  <div class="controls">
                    <input type="tel" name="invoiceamount" id="invoice" [(ngModel)]="_RewardRequest.InvoiceAmount"
                      (keyup)='CalculateRewardAmount($event)' placeholder="Invoice amount" required maxlength="10"
                      class="form-control" />
                  </div>
                </div>
                <div class="form-group">
                  <div class="d-flex justify-content-between">
                    <div>
                      <label>Reward amount
                      </label>
                    </div>
                  </div>
                  <div class="controls">
                    <input type="tel" name="rewardamount" [(ngModel)]="_RewardRequest.RewardAmount"
                      *ngIf="_HelperService.AppConfig.ActiveOwnerId == 583505" placeholder="Reward amount" required
                      maxlength="10" class="form-control" />
                    <input type="tel" name="rewardamount" *ngIf="_HelperService.AppConfig.ActiveOwnerId != 583505"
                      [ngModelOptions]="{standalone: true}" [ngModel]="this._RewardRequest.RewardAmount" disabled
                      class="form-control" />
                  </div>
                </div>
                <div class="form-group">
                  <div class="d-flex justify-content-between">
                    <div>
                      <label>Reference number<span class="text-muted">(optional)</span>
                      </label>
                    </div>
                  </div>
                  <div class="controls">
                    <input type="text" name="referencenumber" [(ngModel)]="_RewardRequest.ReferenceNumber"
                      placeholder="Enter transaction reference number" maxlength="64" class="form-control" />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div *ngIf="_RewardConfirm.ReferenceId > 0">
          <div>
            Reward Successful
          </div>
          <div>
            <div class="row mg-t-10">
              <div class="col-md-5 float-left text-secondary tx-14">Mobile Number</div>
              <div class="col-md-1">:</div>
              <div class="col-md-6 text-right">
                <h5 class="tx-14">{{_RewardConfirm.MobileNumber}}</h5>
              </div>
            </div>
            <div class="row mg-t-10">
              <div class="col-md-5 float-left text-secondary tx-14">Account Number</div>
              <div class="col-md-1">:</div>
              <div class="col-md-6 text-right">
                <h5 class="tx-14">{{_RewardConfirm.AccountNumber}}</h5>
              </div>
            </div>
            <div class="row mg-t-10">
              <div class="col-md-5 float-left text-secondary tx-14">Invoice Amount</div>
              <div class="col-md-1">:</div>
              <div class="col-md-6 text-right">
                <h5 class="tx-14">{{_RewardConfirm.InvoiceAmount}}</h5>
              </div>
            </div>
            <div class="row mg-t-10">
              <div class="col-md-5 float-left text-secondary tx-14">Transaction Date</div>
              <div class="col-md-1">:</div>
              <div class="col-md-6 text-right">
                <h5 class="tx-14">{{_RewardConfirm.TransactionDate}}</h5>
              </div>
            </div>
            <div class="row mg-t-10">
              <div class="col-md-5 float-left text-secondary tx-14">Status</div>
              <div class="col-md-1">:</div>
              <div class="col-md-6 text-right">
                <h5 class="tx-14">{{_RewardConfirm.StatusName}}</h5>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="Form_AddCustomer_Close()">
          {{ "Common.Close" | translate }}
        </button>
        <button *ngIf="_RewardInitialize.ReferenceId > 0 && _RewardConfirm.ReferenceId == 0" type="submit"
          class="btn btn-primary warn mr-2" (click)="ConfirmReward()" [disabled]="_HelperService.IsFormProcessing">
          <span *ngIf="!_HelperService.IsFormProcessing">
            Reward Account
          </span>
          <span *ngIf="_HelperService.IsFormProcessing">
            <i class="{{ 'Common.SpinnerIcon' | translate }}"></i>
            {{ "Common.PleaseWait" | translate }}...
          </span>
        </button>
      </div>
    </div>
  </div>
</div>

<div id="Form_RewardCustomer_ContentEx" class="modal fade" tabindex="-1" data-backdrop="true" aria-hidden="true"
  style="overflow-y: scroll !important;">
  <div class="modal-dialog modal-dialog-centered dropdown ">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Reward Information</h5>
      </div>
      <div class="modal-body  p-lg">
        <div *ngIf="_RewardConfirm.ReferenceId == 0">
          <div *ngIf="_RewardInitialize.ReferenceId > 0">
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <div class="d-flex justify-content-between">
                    <div>
                      <label>Mobile Number<span class="text-danger">*</span>
                      </label>
                    </div>
                  </div>
                  <div class="controls">
                    <input type="text" name="Mobile number" [(ngModel)]="_RewardInitialize.MobileNumber"
                      placeholder="Mobile number" readonly disabled required maxlength="128" class="form-control" />
                  </div>
                </div>
                <div class="form-group">
                  <div class="d-flex justify-content-between">
                    <div>
                      <label>Enter Invoice Amount<span class="text-danger">*</span>
                      </label>
                    </div>
                  </div>
                  <div class="controls">
                    <input type="tel" name="invoiceamount" [(ngModel)]="_RewardRequest.InvoiceAmount"
                      (keyup)='CalculateRewardAmount($event)' placeholder="Invoice amount" required maxlength="10"
                      class="form-control" />
                  </div>
                </div>
                <div class="form-group">
                  <div class="d-flex justify-content-between">
                    <div>
                      <label>Reward Amount<span class="text-danger">*</span>
                      </label>
                    </div>
                  </div>
                  <div class="controls">
                    <input type="tel" name="rewardamount" *ngIf="_HelperService.AppConfig.ActiveOwnerId == 583505"
                      [(ngModel)]="_RewardRequest.RewardAmount" placeholder="Reward amount" required maxlength="10"
                      class="form-control" />
                    <input type="tel" name="rewardamount" *ngIf="_HelperService.AppConfig.ActiveOwnerId != 583505"
                      [ngModelOptions]="{standalone: true}" [ngModel]="this._RewardRequest.RewardAmount" disabled
                      class="form-control" />
                  </div>
                </div>
                <div class="form-group">
                  <div class="d-flex justify-content-between">
                    <div>
                      <label>Reference Number <span class="text-muted">(optional)</span>
                      </label>
                    </div>
                  </div>
                  <div class="controls">
                    <input type="tel" name="rewardamount" [(ngModel)]="_RewardRequest.ReferenceNumber"
                      placeholder="Reward amount" maxlength="64" class="form-control" />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div *ngIf="_RewardConfirm.ReferenceId > 0">
          <div>
            Reward Successful
          </div>
          <div>
            <div class="row mg-t-10">
              <div class="col-md-5 float-left text-secondary tx-14">Mobile Number</div>
              <div class="col-md-1">:</div>
              <div class="col-md-6 text-right">
                <h5 class="tx-14">{{_RewardConfirm.MobileNumber}}</h5>
              </div>
            </div>
            <div class="row mg-t-10">
              <div class="col-md-5 float-left text-secondary tx-14">Invoice Amount</div>
              <div class="col-md-1">:</div>
              <div class="col-md-6 text-right">
                <h5 class="tx-14">{{_RewardConfirm.InvoiceAmount}}</h5>
              </div>
            </div>
            <div class="row mg-t-10">
              <div class="col-md-5 float-left text-secondary tx-14">Transaction Date</div>
              <div class="col-md-1">:</div>
              <div class="col-md-6 text-right">
                <h5 class="tx-14">{{_RewardConfirm.TransactionDate}}</h5>
              </div>
            </div>
            <div class="row mg-t-10">
              <div class="col-md-5 float-left text-secondary tx-14">Status</div>
              <div class="col-md-1">:</div>
              <div class="col-md-6 text-right">
                <h5 class="tx-14">{{_RewardConfirm.StatusName}}</h5>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="Form_AddCustomer_Close()">
          {{ "Common.Close" | translate }}
        </button>
        <button *ngIf="_RewardInitialize.ReferenceId > 0 && _RewardConfirm.ReferenceId == 0" type="submit"
          class="btn btn-primary warn mr-2" (click)="ConfirmReward()" [disabled]="_HelperService.IsFormProcessing">
          <span *ngIf="!_HelperService.IsFormProcessing">
            Reward Account
          </span>
          <span *ngIf="_HelperService.IsFormProcessing">
            <i class="{{ 'Common.SpinnerIcon' | translate }}"></i>
            {{ "Common.PleaseWait" | translate }}...
          </span>
        </button>
      </div>
    </div>
  </div>
</div>
<!-- <div class="modal" id="EditCol" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Edit Column</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group" *ngFor="let Col of TempColumnConfig">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" id="gridCheck" [(ngModel)]=Col.Value>
            <label class="form-check-label" for="">
              {{Col.Name}}
            </label>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" (click)="SaveEditCol()">Save</button>
      </div>
    </div>
  </div>
</div> -->
<div class="modal " id="_Icon_Cropper_Modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-body p-0">
        <div class="row no-gutters">
          <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
            <div class="m-3">
              <image-cropper [imageBase64]="_HelperService._Icon_Cropper_BaseImage" [aspectRatio]="9/9"
                format="_HelperService.AppConfig.Icon_Cropper_Options.Format"
                [maintainAspectRatio]="_HelperService.AppConfig.Icon_Cropper_Options.MaintainAspectRatio"
                [cropperMinWidth]="_HelperService.AppConfig.Icon_Cropper_Options.MinimumWidth"
                [cropperMinHeight]="_HelperService.AppConfig.Icon_Cropper_Options.MinimumHeight"
                [resizeToWidth]="_HelperService.AppConfig.Icon_Cropper_Options.ResizeToWidth"
                (imageCroppedBase64)="_HelperService.Icon_B64Cropped($event)"
                (imageLoaded)="_HelperService.Icon_Crop_Loaded()">
              </image-cropper>
            </div>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 bg-light">
            <div class="p-3">
              <div class="mb-2">
                Image Preview
              </div>
              <div class="mb-2">
                <img [src]="_HelperService._Icon_Cropper_Image" class="b-a b-2x img-responsive" />
              </div>
              <div>
                <button type="button" class="btn btn-success " data-dismiss="modal">{{ 'Common.PictureDone' |
                  translate }}</button>
                <button type="button" class="btn btn-warning " (click)="Icon_Crop_Clear()">{{
                  'Common.PictureClearAndClose' |
                  translate }}</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>