

<div class="row">
    <ol class="breadcrumb df-breadcrumbs mg-b-10">
        <li class="breadcrumb-item" [routerLinkActive]="['active']"><a
                routerLink="{{ _HelperService.AppConfig.Pages.ThankUCash.Dashboard.Merchant}}"
                [routerLinkActive]="['active']"> Dashboard</a></li>
        <li class="breadcrumb-item cursor-pointer" [routerLinkActive]="['active']"><a
            (click)="_HelperService.NavigateBack()"
                [routerLinkActive]="['active']">Order</a></li>
                <li class="breadcrumb-item" [routerLinkActive]="['active']"><a class="text-primary">Order Details</a></li>
       
    </ol>
<div class="col-md-12 pd-l-0 mg-b-15">
    <div class="card ">
        <div [className]="_HelperService._Assets.Box.header">
            <div class="tx-14 tx-bold"> <a (click)="_HelperService.NavigateBack()">  <span class="tx-primary cursor-pointer">  <i data-feather="chevron-left">  </i> </span> </a> ORDER ID {{_OrderDetail.ReferenceId}}  <span class="{{_OrderDetail.StatusB}} mg-l-10">
              {{_OrderDetail.StatusName || "--"}} </span>  <span class="tx-normal mg-l-10 border-left"> 
                  <span class="mg-l-5">Created Date : </span>
                   {{_OrderDetail.CreateDateS || "--"}} 
                </span> </div>

            <div [className]="_HelperService._Assets.Box.headerTitleRight">
                <nav class="nav nav-icon-only mg-l-auto">
                    <button type="button"
                        *ngIf="_OrderDetail.StatusCode == 'orderstatus.new'"
                        class="btn btn-sm btn-primary" data-toggle="modal" (click)="OpenConfimationModal()"> Confirm Order
                    </button>
                </nav>
            </div>
        </div>
    </div>
</div>
    
    <div class="col-md-7 p-0 ">
        <div class="card">
            <div class="card-header bd-b-0">
                <h5> Summary </h5>
            </div>

            <div>
                <table class="table">
                    <!-- <thead>
                        <tr class="text-lsm ">
                            <th> </th>
                            <th>#</th>
                            <th>Product</th>
                            <th class="text-center">Qty</th>
                            <th class="td-amount">Price</th>
                        </tr>
                    </thead> -->
                    <tbody>
                        <tr>

                            <td class="td-status">
                                <img src="{{_OrderDetail.DealIconUrl}}" class="ht-40 wd-40">
                            </td>
                            <td class="text-lsm text-secondary">
                                <span class="text-lsm">
                                    {{ _OrderDetail.DealTitle || "--"}}
                                </span>
                            </td>

                            <td>
                                <span
                                [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span>
                                <span class="text-lsm">
                                    {{ _OrderDetail.DealPrice || "--"}}

                                </span>
                            </td>
                            <td class="text-center text-lsm">
                                {{ _OrderDetail.ItemCount || "--"}}

                            </td>
                            <!-- <td class="td-amount text-lsm">
                                <span class="ml-1" [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span>
                                {{ _OrderDetail.UnitPrice || "--"}}

                            </td> -->
                            <td class="td-amount">
                                <div class="text-lsm"> <span
                                        [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span>
                                    {{((_OrderDetail.DealPrice)*_OrderDetail.ItemCount) | number:'1.2-2' }}
                                </div>
                            </td>
                        </tr>

                        <!-- <tr>
                            <td colspan="5" class="text-right">
                                <strong>Amount</strong>
                            </td>
                            <td class="text-right"> <span class="ml-1"
                                    [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span>
                                {{_OrderDetail.Amount | number:'1.2-2'}} </td>
                        </tr>
                        <tr>
                            <td colspan="5" class="text-right ">
                                <strong>Charges</strong>
                            </td>
                            <td class="text-right"> <span class="ml-1"
                                    [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span>
                                {{_OrderDetail.Charge | number:'1.2-2'}} </td>
                        </tr>
                        <tr>
                            <td colspan="5" class="text-right ">
                                <strong>Delivery Charges</strong>
                            </td>
                            <td class="text-right"> <span class="ml-1"
                                    [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span>
                                {{_OrderDetail.DeliveryCharge | number:'1.2-2'}} </td>
                        </tr>
                        <tr>
                            <td colspan="5" class="text-right ">
                                <strong>Other Charges</strong>
                            </td>
                            <td class="text-right"> <span class="ml-1"
                                    [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span>
                                {{_OrderDetail.OtherCharge | number:'1.2-2'}} </td>
                        </tr>
                        <tr>
                            <td colspan="5" class="text-right">
                                <strong>Discount Amount</strong>
                            </td>
                            <td class="text-right"> <span class="ml-1"
                                    [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span>
                                {{_OrderDetail.DiscountAmount | number:'1.2-2'}} </td>
                        </tr>
                        <tr>
                            <td colspan="5" class="text-right">
                                <strong>Total</strong>
                            </td>
                            <td class="text-right"> <span class="ml-1"
                                    [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span>
                                {{_OrderDetail.TotalAmount | number:'1.2-2' }} </td>
                        </tr> -->


                    </tbody>
                </table>
            </div>


        </div>

        <div class="card mg-t-15">
            <div class="card-header bd-b-0">
                <h5> Payment Summary </h5>
            </div>
            <div class="row pd-x-20 pd-b-15">
                <div class="col-md-4 ">
                    <div>SubTotal{{_OrderDetail.ItemCount}}</div>
                    <div class="mg-t-10">Deal Price</div>
                    <div class="mg-t-10">Shipping Charges</div>
                    <div class="mg-t-10">Tax</div>


                </div>


                <div class="col-md-8 text-right">
                    <div> <span class="mg-r-2"
                            [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span>{{_OrderDetail.SubTotalAmount | number:'1.2-2'}}
                    </div>
                    <div class="mg-t-10"> <span class="mg-r-2"
                            [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span>{{_OrderDetail.DealPrice  | number:'1.2-2'}}
                    </div>
                    <div class="mg-t-10"> <span class="mg-r-2"
                            [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span>{{_OrderDetail.RateAmount| number:'1.2-2'}}
                    </div>
                    <div class="mg-t-10"> <span class="mg-r-2"
                            [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span>{{_OrderDetail.InsuranceAmount | number:'1.2-2'}}
                    </div>
                </div>

            </div>
        </div>
   

         
        <div class="card mg-t-15">
            <div class="card-header pd-b-0 pd-x-20 bd-b-0">
                <div class="d-sm-flex align-items-center justify-content-between">
                    <h6 class="mg-b-2">Activities</h6>
                    <!-- <p class="tx-12 tx-color-03 mg-b-0">Last activity: 2 hours ago</p> -->
                </div>
            </div><!-- card-header -->
            <div class="timeline-group tx-13" >
                <!-- <div class="timeline-label">{{Activity.}}</div> -->
                <div class="timeline-item mg-b-15"  *ngFor="let Activity of Trackshipment_Details">
                  <div class="timeline-time">{{Activity.created_at}}</div>
                  <div class="timeline-body">
                    <h6 class="mg-b-0">{{Activity.description}}</h6>
                    <h4>{{Activity.location}}</h4>
                    <!-- <p>  <span><strong><small class="CreatedColor"> Created
                        By
                        {{Activity.CreatedByDisplayName}}</small></strong></span></p>
  
                    <p>{{Activity.Description}}</p>
                    -->
                  </div><!-- timeline-body -->
                </div><!-- timeline-item -->
             
                
              </div>

        </div>

    </div>

    <div class="col-md-5">
        <div class="card">
            <div class="card-header">
                <h5> Customer</h5>
                    <div class="d-flex pd-5">
                    <img src="{{_OrderDetail.CustomerIconUrl}}" alt=""
                        class="img wd-40 ht-40 rounded-circle bd bd-2 pd-1" [style.border-color]="_OrderDetail.StatusC">
                    <div class="mg-l-20 tx-13 tx-medium text-secondary"> {{_OrderDetail.CustomerDisplayName || "--"}}
                    </div>
                </div>
            </div>
           
            <div class="pd-15">

                

                <div class="mg-t-5 ">
                    <h5>Contact Info </h5>
                    <div class="mg-b-5">
                        <div class="text-secondary"> <i data-feather="phone" class="mg-r-10" style="width: 20px;height: 20px ;"> </i> {{_OrderDetail.CustomerMobileNumber || "--"}} </div>
                    </div>
                    <div class="">
                        <div class="text-secondary"><i data-feather="mail"  class="mg-r-10" style="width: 20px;height: 20px ;"></i> {{_OrderDetail.CustomerEmailAddress || "--"}} </div>
                    </div>
                </div>
                <hr>
                <div class="card-body">
                    <h5>Shipping Address </h5>
                    <div class="mg-b-5 text-secondary">
                        <div class=""> {{_OrderDetail.CustomerAddress || "--"}} </div>
                    </div>

                </div>
                <div class="card-footer">
                    <h5>Billing address </h5>
                    <div class="mg-b-5 text-secondary">
                        <div class=""> {{_OrderDetail.CustomerAddress || "--"}} </div>
                    </div>

                </div>
            </div>



        </div>

        <div class="card mg-t-15">
            <div class="card-header">
                <h5> Store </h5>
                <div class="pd-5">
                        <div class="">
                            <div class="tx-13 tx-medium"> {{_OrderDetail.MerchantDisplayName || "--"}} </div>
                        </div>
                </div>
            </div>
                <div class="card-body">
                    <h5>Contact Info </h5>
                    <div class="text-secondary">
                        <div>
                            <div class="mb-2">
                                <span class="_500 text-ellipses"> <i data-feather="phone"  class="mg-r-10" style="width: 20px;height: 20px ;"></i> 
                                    {{_OrderDetail.MerchantMobileNumber || "--"}}
                                </span>
                            </div>

                        </div>
                    </div>
                    <div class="text-secondary"><i data-feather="mail"  class="mg-r-10" style="width: 20px;height: 20px ;"></i> 
                        <span class="_500 text-ellipses"> {{_OrderDetail.MerchantEmailAddress || "--"}} </span>
                    </div>
                </div>
                <div class=" card-footer">
                    <h5> Address </h5>
                    <div class="mg-b-5 text-secondary">
                        <div class=""> {{_OrderDetail.MerchantAddress || "--"}}
                        </div>
                    </div>

                </div>

            
        </div>




    </div>

</div>

<div class="modal fade" id="confirmModal" tabindex="-1" role="dialog" aria-labelledby="confirmModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="confirmModalLabel">Confirmation of Order</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="radio  mr-3">
                 Are you sure about confirm the Order
                </div>


                <!-- <div class="form-group" *ngIf="commnetvar">
                    <label for=""> Comment: </label>

                    <textarea maxlength="256" class="form-control" name="Comment" id="" rows="3" [(ngModel)]="Comment"
                        required>


                    </textarea>
                
                </div> -->

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                <button type="button" type="submit" class="btn btn-primary" (click)="UpdateStatus()">Yes</button>
            </div>
        </div>
    </div>
</div>


<!-- <div class="container-fluid bg-white" id="toverview1" style="height: auto;">
    <div class="d-flex justify-content-between pt-3 pb-2 mb-2 border-bottom">
        <div class="d-flex align-items-center font-weight-bold">
            <h5> Order Id : #{{_OrderDetail.OrderId}} </h5>
        </div>
        <div class="float-right d-flex">
            <button type="button"
                *ngIf="_OrderDetail.StatusCode != 'orderstatus.new' && _OrderDetail.StatusCode != 'orderstatus.pendingconfirmation' && _OrderDetail.StatusCode != 'orderstatus.cancelledbyuser' && _OrderDetail.StatusCode != 'orderstatus.cancelledbyseller' && _OrderDetail.StatusCode != 'orderstatus.cancelledbysystem'  && _OrderDetail.StatusCode != 'orderstatus.delivered'"
                class="btn btn-sm warn" data-toggle="modal" (click)="UpdateStatusModel()"> Update Status
            </button>
            <button type="button" class="btn btn-sm warn" (click)="htmltoPDF()">Download</button>
        </div>
    </div>

    <div class="row pt-3 ">

        <div class="col-md-3 ">
            <div class="p-3 light r-1x mb-3">
                <div class="db-title mb-2">
                    Order Information
                </div>
                <div class="mb-2">
                    <small class="text-muted">Delivery Type</small>
                    <div class="_500 text-ellipses"> {{_OrderDetail.DeliveryTypeName || "--"}}</div>
                </div>
                <div class="mb-2">
                    <small class="text-muted">Order Date</small>
                    <div class="_500 text-ellipses"> {{_OrderDetail.CreateDateS || "--"}}</div>
                </div>
                <div class="mb-2">
                    <small class="text-muted">Expected Delivery</small>
                    <div class="_500 text-ellipses"> {{_OrderDetail.ExpectedDeliveryDateS  || "--"}} </div>
                </div>
                <div class="mb-2">
                    <small class="text-muted">Delivery Date</small>
                    <div class="_500 text-ellipses"> {{_OrderDetail.ActualDeliveryDateS || "--"}} </div>
                </div>
                <div class="mb-2">
                    <small class="text-muted">Last Activity </small>
                    <div class="_500 text-ellipses"> {{_OrderDetail.ModifyDateS || "--"}} </div>
                </div>
                <div class="mb-2">
                    <small class="text-muted">Current Status</small>
                    <div class="_500 text-ellipses"> <span class="{{_OrderDetail.StatusB}}">
                            {{_OrderDetail.StatusName || "--"}} </span> </div>
                </div>
            </div>



        </div>
        <div class="col-md-9 border-right">
            <div class=" p-3 mb-4 light pt-4 r-1x">
                <div class=" stepwizard ">
                    <div class="stepwizard-row">
                        <div class="stepwizard-step">
                            <button type="button"
                                class="btn {{_HelperService._IsStageActive(0,selectedStatusItem.StatusId)?'btn-primary':'btn-secondary'}} btn-circle">1</button>
                            <p>Order Confirmed</p>

                        </div>
                        <div class="stepwizard-step">
                            <button type="button"
                                class="btn {{_HelperService._IsStageActive(1,selectedStatusItem.StatusId)?'btn-primary':'btn-secondary'}} btn-circle">2</button>
                            <p>Preparing</p>
                        </div>
                        <div class="stepwizard-step">
                            <button type="button"
                                class="btn {{_HelperService._IsStageActive(2,selectedStatusItem.StatusId)?'btn-primary':'btn-secondary'}} btn-circle">3</button>
                            <p>Ready to pickup</p>
                        </div>
                        <div class="stepwizard-step">
                            <button type="button"
                                class="btn {{_HelperService._IsStageActive(3,selectedStatusItem.StatusId)?'btn-primary':'btn-secondary'}} btn-circle">4</button>
                            <p>Out for delivery</p>
                        </div>
                        <div class="stepwizard-step" *ngIf="493!=selectedStatusItem.StatusId">
                            <button type="button"
                                class="btn {{_HelperService._IsStageActive(4,selectedStatusItem.StatusId)?'btn-primary':'btn-secondary'}} btn-circle">5</button>
                            <p>delivered</p>
                        </div>
                        <div class="stepwizard-step" *ngIf="493 == selectedStatusItem.StatusId">
                            <button type="button"
                                class="btn {{_HelperService._IsStageActive(5,selectedStatusItem.StatusId)?'btn-danger':'btn-secondary'}} btn-circle">6</button>
                            <p>Delivery Failed</p>
                        </div>

                    </div>
                </div>
            </div>
            <div class="light p-3 r-1x">
                <div class="row">
                    <div class="col-md-4 border-right">
                        <div class="db-title mb-2">
                            Order Pickup Location
                        </div>
                        <img src="{{_OrderDetail.DealerIconUrl}}" alt=""
                            class="border border-success Imgavatar float-right">

                        <div *ngIf="_OrderDetail.DealerDisplayName != _OrderDetail.DealerLocationName">
                            <div class="mb-2">
                                <small class="text-muted">Name</small>
                                <div class="_500 text-ellipses"> {{_OrderDetail.DealerDisplayName || "--"}} -
                                    {{_OrderDetail.DealerLocationName || "--"}} </div>
                            </div>

                        </div>
                        <div *ngIf="_OrderDetail.DealerDisplayName == _OrderDetail.DealerLocationName">
                            <div class="mb-2">
                                <small class="text-muted"> Name</small>
                                <div class="_500 text-ellipses"> {{_OrderDetail.DealerDisplayName || "--"}} </div>
                            </div>

                        </div>
                        <div *ngIf="_OrderDetail.DealerContactNumber != _OrderDetail.DealerLocationContactNumber">
                            <div class="mb-2">
                                <small class="text-muted"> Mobile Number</small>
                                <div class="_500 text-ellipses">
                                    {{_OrderDetail.DealerContactNumber || "--"}}-{{_OrderDetail.DealerLocationContactNumber || "--"}}
                                </div>
                            </div>

                        </div>
                        <div *ngIf="_OrderDetail.DealerContactNumber == _OrderDetail.DealerLocationContactNumber">
                            <div class="mb-2">
                                <small class="text-muted"> Mobile Number</small>
                                <div class="_500 text-ellipses"> {{_OrderDetail.DealerLocationContactNumber || "--"}}
                                </div>
                            </div>

                        </div>
                        <div class="mb-2">
                            <small class="text-muted"> Address</small>
                            <div class="_500 text-ellipses"> {{_OrderDetail.DealerLocationAddress || "--"}} </div>
                        </div>
                    </div>
                    <div class="col-md-4 border-right">
                        <div class="db-title mb-2">
                            Order Delivery Location
                        </div>

                        <div class="mb-2">
                            <small class="text-muted">Name</small>
                            <div class="_500 text-ellipses"> {{_ShippingAddress.Name || "--"}} </div>
                        </div>
                        <div class="mb-2">
                            <small class="text-muted">Mobile Number</small>
                            <div class="_800 text-ellipses"> {{_ShippingAddress.MobileNumber || "--"}}
                            </div>
                        </div>


                        <div class="mb-2">
                            <small class="text-muted"> Address</small>
                            <div class="_500 text-ellipses"> {{_ShippingAddress.AddressLine1 || "--"}}
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 ">
                        <div class="db-title mb-2">
                            Ambassador
                        </div>
                        <img src="{{_OrderDetail.AgentIconUrl}}" alt=""
                            class="border border-success Imgavatar float-right">
                        <div class="mb-2">
                            <small class="text-muted">Ambassador Id</small>
                            <div class="_500 text-ellipses"> {{_OrderDetail.AgentId || "--"}} </div>
                        </div>
                        <div class="mb-2">
                            <small class="text-muted">Name</small>
                            <div class="_500 text-ellipses"> {{_OrderDetail.AgentDisplayName || "--"}} </div>
                        </div>
                        <div class="mb-2">
                            <small class="text-muted">Mobile Number</small>
                            <div class="_500 text-ellipses"> {{_OrderDetail.AgentMobileNumber || "--"}} </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row ">
        <div class="col-md-3">
            <div class="p-3 light r-1x mb-3">
                <div class="db-title mb-2">
                    Customer Information
                </div>
                <img src="{{_OrderDetail.CustomerIconUrl}}" alt="" class="border  Imgavatar float-right">
                <div class="mb-2">
                    <small class="text-muted">Name</small>
                    <div class="_500 text-ellipses"> {{_OrderDetail.CustomerDisplayName || "--"}} </div>
                </div>
                <div class="mb-2">
                    <small class="text-muted">Mobile Number</small>
                    <div class="_500 text-ellipses"> {{_OrderDetail.CustomerMobileNumber || "--"}} </div>
                </div>
                <div class="">
                    <small class="text-muted">Email Address</small>
                    <div class="_500 text-ellipses"> {{_OrderDetail.CustomerEmailAddress || "--"}} </div>
                </div>
            </div>
            <div class="p-3 light r-1x">
                <div class="db-title mb-2">
                    Delivery Route Map
                </div>
                <agm-map style=" height: 300px;
                width: 100%;" [latitude]="_OrderDetail.DealerLocationLatitude"
                    [longitude]="_OrderDetail.DealerLocationLongitude">
                    <agm-direction [origin]="origin" [destination]="destination" [markerOptions]="markerOptions"
                        [renderOptions]="renderOptions">
                    </agm-direction>
                </agm-map>

                <div class="my-2 text-primary">
                    <a target="_blank" [href]="MapUrl"> <u> Destination Location </u> </a>
                </div>

            </div>
        </div>
        <div class="col-md-9">
            <div class="p-3 light r-1x mb-3 table-responsive">
                <div class="db-title mb-2">
                    Order Items
                </div>
                <table class="table  table-bordered mb-0   table  white b-a">
                    <thead>
                        <tr class="text-lsm ">
                            <th> </th>
                            <th>#</th>
                            <th>Product</th>
                            <th class="text-center">Qty</th>
                            <th class="text-right">Price</th>
                            <th class="text-right">Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let TItem of _OrderDetail.OrderItems
            | paginate: { id: 'MerchantsList',itemsPerPage: OrderItemList_Config.PageRecordLimit, currentPage: OrderItemList_Config.ActivePage,
            totalItems: OrderItemList_Config.TotalRecords }">

                            <td class="td-status">
                                <img class="br" src="{{TItem.VarientIconUrl}}" class="grid-icon">
                            </td>
                            <td class="text-lsm text-secondary">
                                <span class="text-lsm">
                                    {{ TItem.ReferenceId || "--"}}
                                </span>
                            </td>

                            <td>
                                <span class="text-lsm">
                                    {{ TItem.ProductName || "--"}}

                                </span>
                            </td>
                            <td class="text-center text-lsm">
                                {{ TItem.Quantity || "--"}}

                            </td>
                            <td class="text-right text-lsm">
                                <span class="ml-1" [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span>
                                {{ TItem.UnitPrice || "--"}}

                            </td>
                            <td class="text-right">
                                <div class="text-lsm"> <span
                                        [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span>
                                    {{TItem.TotalAmount | number:'1.2-2' }}
                                </div>
                            </td>
                        </tr>

                        <tr>
                            <td colspan="5" class="text-right">
                                <strong>Amount</strong>
                            </td>
                            <td class="text-right"> <span class="ml-1"
                                    [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span>
                                {{_OrderDetail.Amount | number:'1.2-2'}} </td>
                        </tr>
                        <tr>
                            <td colspan="5" class="text-right ">
                                <strong>Charges</strong>
                            </td>
                            <td class="text-right"> <span class="ml-1"
                                    [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span>
                                {{_OrderDetail.Charge | number:'1.2-2'}} </td>
                        </tr>
                        <tr>
                            <td colspan="5" class="text-right ">
                                <strong>Delivery Charges</strong>
                            </td>
                            <td class="text-right"> <span class="ml-1"
                                    [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span>
                                {{_OrderDetail.DeliveryCharge | number:'1.2-2'}} </td>
                        </tr>
                        <tr>
                            <td colspan="5" class="text-right ">
                                <strong>Other Charges</strong>
                            </td>
                            <td class="text-right"> <span class="ml-1"
                                    [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span>
                                {{_OrderDetail.OtherCharge | number:'1.2-2'}} </td>
                        </tr>
                        <tr>
                            <td colspan="5" class="text-right">
                                <strong>Discount Amount</strong>
                            </td>
                            <td class="text-right"> <span class="ml-1"
                                    [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span>
                                {{_OrderDetail.DiscountAmount | number:'1.2-2'}} </td>
                        </tr>
                        <tr>
                            <td colspan="5" class="text-right">
                                <strong>Total</strong>
                            </td>
                            <td class="text-right"> <span class="ml-1"
                                    [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span>
                                {{_OrderDetail.TotalAmount | number:'1.2-2' }} </td>
                        </tr>


                    </tbody>
                </table>
             
            </div>
            <div class="p-3 light r-1x mb-3">
                <div class="db-title mb-2">
                    Order Activity
                </div>
                <div style="height: 300px;
                overflow: hidden;
                overflow-y: auto;">

                    <div *ngFor="let Activity of _OrderDetail.OrderActivity">
                        <ul class="events">
                            <li>
                                <time datetime="2020-08-08T09:10:50">{{Activity.CreateDate}}</time>
                                <span><strong>{{Activity.Title}} <small class="CreatedColor"> Created
                                            By
                                            {{Activity.CreatedByDisplayName}}</small></strong>{{Activity.Description}}</span>
                            </li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </div>

</div>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    fot

    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Update Status</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="radio  mr-3" *ngFor="let Status of StatusUpdate; let i = index">
                    <label
                        *ngIf="(i == (FIndStatusItem + 1)  || (i==3 && (FIndStatusItem == 5)) || (i==4  && (FIndStatusItem == 3))|| (i==5  && (FIndStatusItem == 3)))"
                        class="ui-check"><input type="radio" [(ngModel)]="_OrderDetail.StatusId"
                            (click)="storeVariable(Status,i)" name="updatestatusoptions" [value]="Status.id" />
                        <i class="dark-white"></i>
                        {{Status.text}}</label>
                </div>


                <div class="form-group" *ngIf="commnetvar">
                    <label for=""> Comment: </label>

                    <textarea maxlength="256" class="form-control" name="Comment" id="" rows="3" [(ngModel)]="Comment"
                        required>


                    </textarea>
                   
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" type="submit" class="btn btn-primary" (click)="UpdateStatus()">Save</button>
            </div>
        </div>
    </div>
</div>

<div class="light" id="PrintInvoice">

    <div class="px-3 pt-3  pb-0 mb-0 pb-0" style="padding-top: 32px !important;">
        <div class="p-3 bg-white d-flex align-items-center">
            <h5 class="pb-0 mb-0"> Tax Invoice/Bill of Supply </h5>
        </div>
        <div class="row">
            <div class="col-6">
                <div class="mb-0 pt-3">
                   
                    <div>
                        <div class="mb-2">
                            <div class="_800 text-ellipses">
                                {{_OrderDetail.DealerLocationName || "--"}} </div>

                        </div>

                    </div>

                    <div>
                        <div class="mb-2">
                            <div class=" text-ellipses">
                                {{_OrderDetail.DealerLocationContactNumber || "--"}}
                            </div>
                        </div>

                    </div>

                    <div class="mb-2">
                        <div class="text-ellipses"> {{_OrderDetail.DealerLocationAddress || "--"}} </div>
                    </div>
                </div>
            </div>
            <div class="col-6 text-right">
                <p class="text-md mt-4"> {{_OrderDetail.OrderId || "--"}}</p>
                <p> {{_OrderDetail.ActualDeliveryDateS || "--"}} </p>
            </div>
        </div>
    </div>
    <div class=" p-3">
        <div class="row">
            <div class="col-sm-6">
                <div class="box p-3 mb-0">
                    <div class="db-title mb-2">
                        TO:
                    </div>


                    <div>
                        <div class="mb-2">
                            <small class="text-muted">Name</small>
                            <div class="_500 text-ellipses"> {{_OrderDetail.CustomerDisplayName || "--"}}
                            </div>
                        </div>

                    </div>

                    <div>
                        <div class="mb-2">
                            <small class="text-muted"> Mobile Number</small>
                            <div class="_500 text-ellipses">
                                {{_OrderDetail.CustomerMobileNumber || "--"}}
                            </div>
                        </div>

                    </div>

                    <div class="mb-2">
                        <small class="text-muted"> Email</small>
                        <div class="_500 text-ellipses"> {{_OrderDetail.CustomerEmailAddress || "--"}} </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="box p-3 mb-0">
                    <div class="db-title mb-2">
                        SHIP TO:
                    </div>

                    <div class="mb-2">
                        <small class="text-muted">Name</small>
                        <div class="_500 text-ellipses"> {{_ShippingAddress.Name || "--"}} </div>
                    </div>
                    <div class="mb-2">
                        <small class="text-muted">Mobile Number</small>
                        <div class="_800 text-ellipses"> {{_ShippingAddress.MobileNumber || "--"}}
                        </div>
                    </div>


                    <div class="mb-2">
                        <small class="text-muted"> Address</small>
                        <div class="_500 text-ellipses"> {{_ShippingAddress.AddressLine1 || "--"}}
                        </div>
                    </div>


                </div>
            </div>

        </div>
    </div>
    <p class="p-3 mb-0">

        Order Date : <Strong>{{_OrderDetail.CreateDateS || "--"}}</Strong><br>
        Order ID: <strong>{{_OrderDetail.OrderId || "--"}}</strong>

    </p>
    <div class="p-3 table-responsive">
        <div class="db-title mb-2">
            Order Items
        </div>
        <table class="table  mb-0   table  white b-a">
            <thead>
                <tr class="text-lsm ">
                    <th>#</th>
                    <th>Product</th>
                    <th class="text-center">Qty</th>
                    <th class="td-amount">Price</th>
                    <th class="text-right">Total</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let TItem of _OrderDetail.OrderItems
    | paginate: { id: 'MerchantsList',itemsPerPage: OrderItemList_Config.PageRecordLimit, currentPage: OrderItemList_Config.ActivePage,
    totalItems: OrderItemList_Config.TotalRecords }">

                    <td class="text-lsm text-secondary">
                        <span class="text-lsm">
                            {{ TItem.ReferenceId || "--"}}
                        </span>
                    </td>

                    <td>
                        <span class="text-lsm">
                            {{ TItem.ProductName || "--"}}

                        </span>
                    </td>
                    <td class="text-center text-lsm">
                        {{ TItem.Quantity || "--"}}

                    </td>
                    <td class="td-amount text-lsm">
                        <span class="ml-1" [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span>
                        {{ TItem.UnitPrice || "--"}}

                    </td>
                    <td class="td-amount">
                        <div class="text-lsm"> <span [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span>
                            {{TItem.TotalAmount | number:'1.2-2' }}
                        </div>
                    </td>
                </tr>

                <tr>
                    <td colspan="4" class="text-right">
                        <strong>Amount</strong>
                    </td>
                    <td class="text-right"> <span class="ml-1"
                            [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span>
                        {{_OrderDetail.Amount | number:'1.2-2'}} </td>
                </tr>
                <tr>
                    <td colspan="4" class="text-right ">
                        <strong>Charges</strong>
                    </td>
                    <td class="text-right"> <span class="ml-1"
                            [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span>
                        {{_OrderDetail.Charge | number:'1.2-2'}} </td>
                </tr>
                <tr>
                    <td colspan="4" class="text-right ">
                        <strong>Delivery Charges</strong>
                    </td>
                    <td class="text-right"> <span class="ml-1"
                            [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span>
                        {{_OrderDetail.DeliveryCharge | number:'1.2-2'}} </td>
                </tr>
                <tr>
                    <td colspan="4" class="text-right ">
                        <strong>Other Charges</strong>
                    </td>
                    <td class="text-right"> <span class="ml-1"
                            [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span>
                        {{_OrderDetail.OtherCharge | number:'1.2-2'}} </td>
                </tr>
                <tr>
                    <td colspan="4" class="text-right">
                        <strong>Discount Amount</strong>
                    </td>
                    <td class="text-right"> <span class="ml-1"
                            [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span>
                        {{_OrderDetail.DiscountAmount | number:'1.2-2'}} </td>
                </tr>
                <tr>
                    <td colspan="4" class="text-right">
                        <strong>Total</strong>
                    </td>
                    <td class="text-right"><strong> <span class="ml-1"
                                [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span>
                            {{_OrderDetail.TotalAmount | number:'1.2-2' }} </strong> </td>
                </tr>


            </tbody>
        </table>

    </div>

</div> -->