<ol class="breadcrumb df-breadcrumbs mg-b-10">
    <li class="breadcrumb-item" [routerLinkActive]="['active']"><a
        routerLink="{{ _HelperService.AppConfig.Pages.ThankUCash.Dashboard.Merchant}}" [routerLinkActive]="['active']">
        Dashboard</a></li>
    <li class="breadcrumb-item" [routerLinkActive]="['active']"><a>Loyalty
      </a></li>
    <li class="breadcrumb-item" [routerLinkActive]="['active']"><a class="text-primary">SMS Create Campaign
      </a></li>
  </ol>
<form [formGroup]="Form_AddUser" (ngSubmit)="Form_AddUser_Process(Form_AddUser.value)" role="form">
    <div class="card">
        <div class="card-header d-flex justify-content-between">
            <b>Create New SMS Campaign</b>


            <div>
                <button type="button" class="btn btn-secondary mr-2" (click)="ReturnCampaignList()">
                    <span>
                        Close
                    </span>
                    <!-- <span *ngIf="_HelperService.IsFormProcessing">
                <i class="{{ 'Common.SpinnerIcon' | translate }}"></i> {{ 'Common.PleaseWait' |
                translate
                }}...
            </span> -->
                </button>

                <button type="submit" class="btn btn-primary" (click)="Form_AddUser.value.OperationType='new'"
                    [disabled]="!Form_AddUser.valid ||  !SelectCustomer">
                    <span *ngIf="!_HelperService.IsFormProcessing">
                        Create Campaign
                    </span>
                    <span *ngIf="_HelperService.IsFormProcessing">
                        <i class="{{ 'Common.SpinnerIcon' | translate }}"></i> {{ 'Common.PleaseWait' |
                        translate
                        }}...
                    </span>
                    <!-- <span *ngIf="_HelperService.IsFormProcessing">
                <i class="{{ 'Common.SpinnerIcon' | translate }}"></i> {{ 'Common.PleaseWait' |
                translate
                }}...
            </span> -->
                </button>
            </div>
        </div>



        <div class="row">
            <div class="col-md-8">

                <div class="card-body">
                    <!-- <b class="pd-b-10">SMS Details</b> -->
                    <!-- <div class="row">

                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="S2GetCategorie2s"> Merchant </label><span class="text-danger"> *
                                </span>
                                <select2 name="S2GetCategorie2s" class="full-width" [options]="GetOwners_Option"
                                    (valueChanged)="GetOwners_ListChange($event)"></select2>
                            </div>
                        </div>
                        <div class="col-md-6"></div>
                    </div> -->
                    <div class="row pd-t-15">

                        <div class="col-md-6">
                            <div class="form-group">

                                <div class="d-flex">
                                    <div>
                                        <label>Campaign Title
                                        </label><span class="text-danger"> * </span>
                                    </div>

                                </div>

                                <div class="controls">
                                    <input type="text" min="1" name="Title" maxlength="25" autocomplete="off"
                                        class="form-control" [formControl]="Form_AddUser.controls['Title']"
                                        placeholder="Campaign Title"
                                        [ngClass]="{'is-invalid':!Form_AddUser.controls['Title'].valid && Form_AddUser.controls['Title'].touched}">
                                </div>
                                <label class="text-danger" for="Title"
                                    *ngIf="Form_AddUser.controls['Title'].hasError('required') && Form_AddUser.controls['Title'].touched">
                                    Title Required</label>
                                <label class="text-danger" for="Title"
                                    *ngIf="Form_AddUser.controls['Title'].hasError('minlength') || Form_AddUser.controls['Title'].hasError('maxlength')">
                                    Title must be between 2 - 25
                                    characters</label>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="S2Get2Categories"> Sender Id </label><span class="text-danger"> *
                                </span>
                                <select2 name="S2GetCategorie2s" class="full-width" [options]="GetMerchants_Option"
                                    (valueChanged)="GetMerchants_ListChange($event)"></select2>

                                <div class="tx-12 text-secondary mg-t-5">Select Sender ID to send your sms</div>
                            </div>
                        </div>

                        <div class="col-md-12 ">
                            <div class="form-group">
                                <label>SMS Content <span class="text-danger"> * </span>
                                </label>
                                <div class="controls">
                                    <textarea type="text" rows="4" name="Message" maxlength="510"  placeholder="Message"
                                      
                                        (keyup)="countmessagesize()" class="form-control"
                                        [formControl]="Form_AddUser.controls['Message']"
                                        [ngClass]="{'is-invalid':!Form_AddUser.controls['Message'].valid && Form_AddUser.controls['Message'].touched}"> </textarea>
                                </div>
                                <label class="text-danger" for="Message"
                                    *ngIf="Form_AddUser.controls['Message'].hasError('required') && Form_AddUser.controls['Message'].touched">
                                    {{'System.AddAcquirer.Message_ER_Required' | translate }}
                                </label>
                                <!-- <label for="" class="text-danger mg-t-10"
                                    *ngIf="Form_AddUser.controls['Message'].hasError('minlength') ||Form_AddUser.controls['Message'].hasError('maxlength')">
                                    {{ 'System.AddAcquirer.Message_ER_SMS_Length' | translate }}

                                </label> -->

                                <label class="text-secondary mg-t-5" for="Message" *ngIf="SmsCount == 1">
                                    {{MessageLength || "140"}} characters, i.e {{SmsCount}} SMS (Remember! This will be
                                    cost for {{SmsCount}} SMS pages)
                                </label>
                                <label class="text-warning mg-t-5" for="Message" *ngIf="SmsCount > 1">{{MessageLength
                                    || "0"}} characters, i.e {{SmsCount}} SMS (Remember! This will be cost for
                                    {{SmsCount}} SMS pages) </label>

                                <!-- <label class="text-danger" for="LastName"
                                    *ngIf="Form_AddStore.controls['LastName'].hasError('required') &&Form_AddStore.controls['LastName'].touched">
                                    Enter Last name
                                </label>
                                <label class="text-danger" for="LastName"
                                    *ngIf="Form_AddStore.controls['LastName'].hasError('minlength') ||Form_AddStore.controls['LastName'].hasError('maxlength')">
                                    Last name must be between 2 - 128 characters
                                </label>
                                 -->

                            </div>
                        </div>

                        <div class="col-md-12">
                            <label for="" class="tx-medium"> Configure Target Recipients </label>
                            <div class="form-group ">
                                <label for="" class="text-secondary" *ngIf="GroupTypeCustomer == 'group'"> You can
                                    select targets by groups or individually.
                                </label>
                                <label for="" class="text-secondary" *ngIf="GroupTypeCustomer != 'group'"> You can
                                    select targets by groups, individually, from TUC customer base or you can upload
                                    external file
                                </label>

                                <div class="row mg-t-15">
                                    <div class="col-md-4">
                                        <div class="card  text-center ht-100p full-width rounded-10 tx-12 align-items-center pd-y-20  cursor-pointer"
                                            [ngClass]="{'bg-card  text-primary bd-primary':GroupTypeCustomer == 'group', 'bg-white  text-secondary bd-secondary': GroupTypeCustomer != 'group' }"
                                            style=" border-radius: 5px !important;" id="group"
                                            (click)="ShowHideButton('group')" name='group'>
                                            <div> <i class="fas fa-users tx-18"></i></div>
                                            <div class="mg-t-5">Select Customer Groups</div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="card text-center ht-100p   full-width rounded-10 tx-12 align-items-center pd-y-20 cursor-pointer"
                                            [ngClass]="{'bg-card  text-primary bd-primary':GroupTypeCustomer == 'custom', 'bg-white  text-secondary bd-secondary':GroupTypeCustomer != 'custom' }"
                                            style=" border-radius: 5px !important;" id="list"
                                            (click)="ShowHideButton('custom')" name='list'>
                                            <div> <i class="fas fa-list tx-18"></i></div>
                                            <div class="mg-t-5"> Select from Customer list </div>
                                        </div>
                                    </div>
                                    <!-- <div class="col-md-3">
                                        <div class="card text-center ht-100p  full-width rounded-10 tx-12 align-items-center pd-y-20 cursor-pointer"
                                            [ngClass]="{'bg-card  text-primary bd-primary':GroupTypeCustomer == 'custbase', 'bg-white  text-secondary bd-secondary':GroupTypeCustomer != 'custbase' }"
                                            style=" border-radius: 5px !important;" id="custbase"
                                            (click)="ShowHideButton('custbase')" name='custbase'>
                                            <div> <i class="fas fa-users tx-18"></i></div>
                                            <div class="mg-t-5"> TUC Customer base </div>
                                        </div>
                                    </div> -->
                                    <div class="col-md-4">
                                        <div class="card text-center ht-100p full-width rounded-10 tx-12 align-items-center pd-y-20 cursor-pointer"
                                            [ngClass]="{'bg-card  text-primary bd-primary':GroupTypeCustomer == 'external', 'bg-white  text-secondary bd-secondary':GroupTypeCustomer != 'external' }"
                                            style=" border-radius: 5px !important;" id="external"
                                            (click)="ShowHideButton('external')" name='external'>
                                            <div><i class="fas fa-file-csv tx-18"></i></div>
                                            <div class="mg-t-5"> Upload CSV File </div>
                                        </div>
                                    </div>
                                </div>

                            </div>

                        </div>

                        <div class="col-md-12" *ngIf="GroupTypeCustomer == 'group'">
                            <!-- <div class="col-md-12 mg-t-15">

                                <div class="form-group">

                                    <div class="form-group">
                                        <div> <label>Select Group Type<span class="text-danger">*</span>
                                            </label>
                                        </div>
                                        <div class="radio float-left mg-r-25">
                                            <label class="ui-check"><input type="radio" [(ngModel)]="group"
                                                    [ngModelOptions]="{standalone: true}" class="mg-r-5" name="Group"
                                                    (click)="SelectGroupType('group')" [value]=0>
                                                <i class="dark-white"></i>
                                                Your Groups</label>
                                        </div>
                                        <div class="radio  float-left mg-r-25"><label class="ui-check"><input class="mg-r-5"
                                                type="radio" name="Group" [(ngModel)]="group"
                                                (click)="SelectGroupType('tuc')" [ngModelOptions]="{standalone: true}"
                                                [value]=1>
                                            <i class="dark-white"></i>
                                            Suggested Groups</label></div>
                                        <div class="radio float-left mg-r-25"><label class="ui-checkg-r-10"><input
                                                    class="mg-r-5" type="radio" [(ngModel)]="group"
                                                    (click)="SelectGroupType('external')"
                                                    [ngModelOptions]="{standalone: true}" name="Group" [value]=2>
                                                <i class="dark-white"></i>
                                                Upload New</label>
                                        </div>

                                    </div>

                                </div>

                            </div> -->

                            <div class="col-md-6" class="pd-y-15"> These are your customized customer groups created
                                from your customer directory </div>
                            <div class="col-md-6 pl-0">
                                <div class="form-group">
                                    <label for="CustomerGroup"> Select Customer Group </label><span class="text-danger">
                                        *
                                    </span>
                                    <select2 *ngIf="ToggleMerchantSelect" name="S2GetMerchants" class="full-width"
                                        [options]="GetGroups_Option" (valueChanged)="GetGroups_ListChange($event)">
                                    </select2>


                                    <div class="mg-t-5">
                                        {{AllCustomers}} customers available
                                    </div>

                                </div>
                            </div>

                            <!-- <div class="col-md-12 mg-t-15" *ngIf="group == 1">
                                <div class="form-group">
                                    <label for="CustomerGroup"> Suggested Group </label><span class="text-danger"> *
                                    </span>
                                    <select2 name="S2GetMerchants" class="full-width" [options]="GetGroups_Option"
                                        (valueChanged)="GetGroups_ListChange($event)"></select2>
                                    <div class="mg-t-5">
                                        {{AllCustomers}} customers available
                                    </div>

                                </div>

                            </div> -->


                        </div>
                        <div class="col-md-12" *ngIf="GroupTypeCustomer == 'custom'">
                            <div class="col-md-12" class="pd-y-15"> Customers available-
                                {{Customers_Config.TotalRecords}}
                            </div>

                            <div class="row">
                                <div class="col-md-6" (click)="CustomType('List')">
                                    <div class="form-group">
                                        <label *ngIf="CustomTypeData != 'Filter'" for="CustomerGroup"> Search & Select
                                            Customers <span class="text-danger">*</span> </label>
                                        <label class="text-secondary" *ngIf="CustomTypeData == 'Filter'"
                                            for="CustomerGroup"> Search & Select Customers <span
                                                class="text-danger">*</span> </label>

                                                <div style="width: 300px;
                                                overflow: auto;
                                                height: 45px;
                                                margin-right: 20px;">
                                        <select2 *ngIf="SelectType && ToggleMerchantSelect" name="S2GetMerchants"
                                            class="full-width select2" [options]="GetCustomers_Option"
                                            (valueChanged)="GetCustomer_ListChange($event)"></select2>
                                                </div>

                                    </div>

                                </div>
                                <div class="col-md-6"></div>
                                <!-- <div class="col-md-12" (click)="CustomType('Filter')">
                                    <label class="text-secondary" *ngIf="CustomTypeData != 'Filter'"
                                        for="CustomerGroup"> Select Filters
                                        <span class="text-danger">
                                            *
                                        </span>

                                    </label>
                                    <label *ngIf="CustomTypeData == 'Filter'" for="CustomerGroup"> Select Filters
                                        <span class="text-danger">
                                            *
                                        </span>

                                    </label>
                                    <div class="form-group mg-b-0" id="Customers_fdropdown" data-toggle="dropdown"
                                        *ngIf="CustomTypeData == 'Filter'" aria-haspopup=" true"
                                        (click)="_HelperService.StopClickPropogation()" aria-expanded="false">
                                        <input readonly *ngIf="ResetFilterControls" type="text"
                                            placeholder="All Customers" [(ngModel)]="CustomersAll"
                                            [ngModelOptions]="{standalone: true}"
                                            class="form-control text-secondary bg-white">
                                    </div>

                                    <div class="form-group mg-b-0" *ngIf="CustomTypeData != 'Filter'">
                                        <input readonly *ngIf="ResetFilterControls" type="text"
                                            placeholder="All Customers" [(ngModel)]="CustomersAll"
                                            [ngModelOptions]="{standalone: true}" class="form-control text-secondary">
                                    </div>

                                    <div class="pt-2 pd-b-10" *ngIf="ResetFilterControls">
                                       
                                        <div class="pd-b-10">  <div class="badge badge-transparent pd-y-10 pd-l-15 mx-1 bd bd-1 bd-gray-500 rounded-50 tx-color-03"
                                            *ngIf="ResetFilterControls" [hidden]="!_HelperService.FilterSnap.StartTime">
                                            {{_HelperService.GetDateS(_HelperService.FilterSnap.StartTime) + "--" +
                                            _HelperService.GetDateS(_HelperService.FilterSnap.EndTime)}}
                                            <span
                                                class="bd bd-1  mg-l-5 pd-x-5 pd-y-3 rounded-circle bg-primary text-white cursor-pointer"
                                                (click)="RemoveFilterComponent('Time')"><i class="fas fa-times"></i>
                                            </span>
                                        </div></div>
                                      <div class="pd-b-10"> <div class="badge badge-transparent pd-y-10 pd-l-15 mx-1 bd bd-1 bd-gray-500 rounded-50 tx-color-03"
                                            [hidden]="
    !(_HelperService.FilterSnap.SalesRange) || (_HelperService.FilterSnap.SalesRange.SalesMin==0 && _HelperService.FilterSnap.SalesRange.SalesMax==10000000)"
                                            (click)="RemoveFilterComponent('SalesRange')">
                                            Sales Range
                                            [{{_HelperService.FilterSnap.SalesRange.SalesMin + "--" +
                                            _HelperService.FilterSnap.SalesRange.SalesMax}}]
                                            <span
                                                class="bd bd-1  mg-l-5 pd-x-5 pd-y-3 rounded-circle bg-primary text-white cursor-pointer"><i
                                                    class="fas fa-times"></i> </span>
                                        </div></div> 
                                        <div class="pd-b-10"> <div class="badge badge-transparent pd-y-10 pd-l-15 mx-1 bd bd-1 bd-gray-500 rounded-50 tx-color-03"
                                            [hidden]="
    !(_HelperService.FilterSnap.SalesRange) || (_HelperService.FilterSnap.SalesRange.RewardMin==0 && _HelperService.FilterSnap.SalesRange.RewardMax==10000000)"
                                            (click)="RemoveFilterComponent('RewardRange')">
                                            Reward
                                            Range [{{_HelperService.FilterSnap.SalesRange.RewardMin + "--" +
                                            _HelperService.FilterSnap.SalesRange.RewardMax}}]
                                            <span
                                                class="bd bd-1  mg-l-5 pd-x-5 pd-y-3 rounded-circle bg-primary text-white cursor-pointer"><i
                                                    class="fas fa-times"></i> </span>
                                        </div></div>
                                        <div class="pd-b-10">  <div class="badge badge-transparent pd-y-10 pd-l-15 mx-1 bd bd-1 bd-gray-500 rounded-50 tx-color-03"
                                            [hidden]="!(_HelperService.FilterSnap.SalesRange) || (_HelperService.FilterSnap.SalesRange.RedeemMin==0 && _HelperService.FilterSnap.SalesRange.RedeemMax==10000000)"
                                            (click)="RemoveFilterComponent('RedeemRange')">
                                            Redeem
                                            Range [{{_HelperService.FilterSnap.SalesRange.RedeemMin + "--" +
                                            _HelperService.FilterSnap.SalesRange.RedeemMax}}]
                                            <span
                                                class="bd bd-1  mg-l-5 pd-x-5 pd-y-3 rounded-circle bg-primary text-white cursor-pointer"><i
                                                    class="fas fa-times"></i> </span>
                                        </div></div>



                                    </div>

                                    <div class="dropdown dropleft">
                                        <a href="" class="nav-link" id="Customers_fdropdown" data-toggle="dropdown"
                                            aria-haspopup="true" (click)="_HelperService.StopClickPropogation()"
                                            aria-expanded="false"></a>
                                        <div class="dropdown-menu tx-13">
                                            <form class="wd-400  pd-15" *ngIf="ResetFilterControls">
                                                <h6
                                                    class="dropdown-header tx-uppercase tx-12 tx-bold tx-inverse pd-b-20 pd-l-0 pd-t-0">
                                                    Filters
                                                </h6>
                                                <div>
                                                    <div class="form-group">
                                                        <label>Added On</label>
                                                        <input type="text" class="form-control  form-daterangepicker"
                                                            name="daterangeInput" daterangepicker
                                                            [options]="_HelperService.AppConfig.DateRangeOptions"
                                                            (selected)="Customers_ToggleOption($event, _HelperService.AppConfig.ListToggleOption.Date)" />
                                                    </div>
                                                </div>
                                                

                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <div class="controls">
                                                                <label for="InvoiceRangeMaxAmount">Min Sale
                                                                    Amount</label>
                                                                <input type="number" min=0 name="InvoiceRangeMinAmount"
                                                                    maxlength="256" class="form-control"
                                                                    [(ngModel)]="TUTr_InvoiceRangeMinAmount"
                                                                    (keyup)="Customers_ToggleOption($event,_HelperService.AppConfig.ListToggleOption.SalesRange)">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <div class="controls">
                                                                <label for="InvoiceRangeMaxAmount">Max Sale
                                                                    Amount</label>
                                                                <input type="number" min=0 name="InvoiceRangeMaxAmount"
                                                                    maxlength="256" class="form-control"
                                                                    [(ngModel)]="TUTr_InvoiceRangeMaxAmount"
                                                                    (keyup)="Customers_ToggleOption($event,_HelperService.AppConfig.ListToggleOption.SalesRange)">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>


                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <div class="controls">
                                                                <label for="RewardRangeMinAmount">Min Reward
                                                                    Amount</label>
                                                                <input type="number" min="0" name="RewardRangeMinAmount"
                                                                    maxlength="256" class="form-control"
                                                                    [(ngModel)]="TUTr_RewardRangeMinAmount"
                                                                    (keyup)="Customers_ToggleOption($event,_HelperService.AppConfig.ListToggleOption.SalesRange)">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <div class="controls">
                                                                <label for="RewardRangeMaxAmount">Max Reward
                                                                    Amount</label>
                                                                <input type="number" min="0" name="RewardRangeMaxAmount"
                                                                    maxlength="256" class="form-control"
                                                                    [(ngModel)]="TUTr_RewardRangeMaxAmount"
                                                                    (keyup)="Customers_ToggleOption($event,_HelperService.AppConfig.ListToggleOption.SalesRange)">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <div class="controls">
                                                                <label for="RedeemRangeMinAmount">Min Redeem
                                                                    Amount</label>
                                                                <input type="number" min="0" name="RedeemRangeMinAmount"
                                                                    maxlength="256" class="form-control"
                                                                    [(ngModel)]="TUTr_RedeemRangeMinAmount"
                                                                    (keyup)="Customers_ToggleOption($event,_HelperService.AppConfig.ListToggleOption.SalesRange)">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <div class="controls">
                                                                <label for="RedeemRangeMaxAmount">Max Redeem
                                                                    Amount</label>
                                                                <input type="number" min="0" name="RedeemRangeMaxAmount"
                                                                    maxlength="256" class="form-control"
                                                                    [(ngModel)]="TUTr_RedeemRangeMaxAmount"
                                                                    (keyup)="Customers_ToggleOption($event,_HelperService.AppConfig.ListToggleOption.SalesRange)">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <button type="button" class="btn btn-light btn-sm mr-2"
                                                    (click)="ResetFilters( null, _HelperService.AppConfig.ListToggleOption.ResetOffset)">
                                                    Reset</button>
                                                <button [disabled]="!FilterData" type="button"
                                                    class="btn btn-primary btn-sm "
                                                    (click)="ApplyFilters( null, _HelperService.AppConfig.ListToggleOption.ApplyFilter,'Other')">Apply</button>
                                            </form>
                                        </div>
                                    </div>

                                </div> -->
                            </div>
                        </div>
                        <!-- <div class="col-md-12 mg-t-15" *ngIf="GroupTypeCustomer == 'custbase'">
                            <div class="col-md-6 pl-0">
                                <div>

                                    <div class="form-group">
                                        <label for="CustomerGroup"> Select Customers </label><span class="text-danger">
                                            *
                                        </span>
                                        <select2 name="S2GetMerchants" class="full-width"
                                            [options]="GetCustomers_Option"
                                            (valueChanged)="GetCustomer_ListChange($event)"></select2>


                                    </div>

                                </div>
                            </div>
                            <div class="col-md-6"></div>

                        </div> -->
                        <div class="col-md-12" *ngIf="GroupTypeCustomer == 'external'">
                            <div class="full-width">

                                <div class="container d-flex justify-content-start pl-0  full-width mb-0 pd-b-10">
                                    <div class="d-flex flex-column align-items-center justify-content-start full-width">
                                        <input type="file" id="myFile" size="50" (change)="addfile($event)"
                                            multiple="false" class="cursor-pointer btn  CdragDrop full-width"
                                            accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel"
                                            style="padding:35px !important;" />
                                    </div>
                                </div>
                                <div class=""> <a class="text-primary 12"
                                        href="../../../../assets/uploads/UploadCustomer.xlsx" target="_blank"> <img
                                            class="mg-r-5" height="18" width="18" src="../../../../assets/download.svg"
                                            alt="" srcset=""> Download
                                        Sample File </a> </div>
                            </div>
                        </div>


                    </div>
                    <div class="row mg-t-15">
                        <div class="col-md-6">
                            <div class="form-group">

                                <div class="d-flex">
                                    <div>
                                        <label>To how many customers do you want to send this?
                                        </label>
                                    </div>

                                </div>
                                <div>

                                    <div class="controls" *ngIf="CustomTypeData != 'Filter'">
                                        <input type="text" min="1" name="TotalItem" maxlength="25" class="form-control"
                                            [(ngModel)]="name" (keyup)="keyup(name)"
                                            (keypress)="_HelperService.PreventAmount($event)"
                                            [formControl]="Form_AddUser.controls['TotalItem']"
                                            placeholder="Number Of Customers"
                                            [ngClass]="{'is-invalid':!Form_AddUser.controls['TotalItem'].valid && Form_AddUser.controls['TotalItem'].touched}">
                                    </div>

                                    <div class="controls" *ngIf="CustomTypeData == 'Filter'">
                                        <input type="text" min="1" name="TotalItem" maxlength="25" class="form-control"
                                            (keyup)="keyup(name)" (keypress)="_HelperService.PreventAmount($event)"
                                            [formControl]="Form_AddUser.controls['TotalItem']"
                                            placeholder="Number Of Customers"
                                            [(ngModel)]="Customers_Config.TotalRecords"
                                            [ngClass]="{'is-invalid':!Form_AddUser.controls['TotalItem'].valid && Form_AddUser.controls['TotalItem'].touched}">
                                    </div>

                                    <label class="text-danger" for="TotalItem"
                                        *ngIf="Form_AddUser.controls['TotalItem'].hasError('required') && Form_AddUser.controls['TotalItem'].touched">
                                        Minimum 1 customer required</label>
                                    <label class="text-danger" for="TotalItem"
                                        *ngIf="Form_AddUser.controls['TotalItem'].hasError('minlength') || Form_AddUser.controls['TotalItem'].hasError('maxlength')">
                                        Enter valid customer number</label>

                                </div>
                                <!-- <div *ngIf="CustomTypeData == 'Filter'">

                                    <div class="controls">
                                       
                                        <input type="text" min="1" name="TotalItem" maxlength="25" class="form-control"
                                            [(ngModel)]="name" (keyup)="keyup(name)"
                                            (keypress)="_HelperService.PreventAmount($event)"
                                            [formControl]="Form_AddUser.controls['TotalItem']"
                                          
                                            placeholder="Number Of Customers"
                                            [ngClass]="{'is-invalid':!Form_AddUser.controls['TotalItem'].valid && Form_AddUser.controls['TotalItem'].touched}">
                                    </div>
                                </div> -->



                                <!-- <label class="text-danger" for="TotalItem"
                                    *ngIf="Form_AddUser.controls['TotalItem'].hasError('required') && Form_AddUser.controls['TotalItem'].touched">
                                    TotalItem Required</label>
                                <label class="text-danger" for="TotalItem"
                                    *ngIf="Form_AddUser.controls['TotalItem'].hasError('min')"> ma </label> -->
                            </div>
                        </div>
                        <div class="col-md-6"></div>

                    </div>

                    <div class="row bd-t mg-t-25">
                        <div class="col-md-12 pd-t-40">

                            <div class="form-group">

                                <div class="form-group">
                                    <div> <label>Schedule Campaign<span class="text-danger">*</span>
                                        </label>
                                    </div>
                                    <div class="radio float-left mg-r-25">
                                        <label class="ui-check"><input type="radio" [(ngModel)]="ScheduleC"
                                                class="mg-r-5" name="CouponValidity"
                                                [ngModelOptions]="{standalone: true}" [value]=9>
                                            <i class="dark-white"></i>
                                            Start sending at</label>
                                    </div>
                                    <div class="radio  float-left mg-r-25"><label class="ui-check"><input class="mg-r-5"
                                                type="radio" [(ngModel)]="ScheduleC" (click)="IsSendNowF()"
                                                name="ScheduleC" [value]=10 [ngModelOptions]="{standalone: true}">
                                            <i class="dark-white"></i>
                                            Send Now</label></div>


                                </div>

                            </div>



                        </div>
                        <div class="col-md-6 mg-t-15" *ngIf="ScheduleC == 9">
                            <div class="form-group">
                                <div class="form-group">
                                    <label for="  "> Send Date & Time<span class="text-danger">*</span> </label>
                                    <div class="controls">
                                        <input type="text" class="form-control bg-white" name="daterangeInput"
                                            daterangepicker readonly
                                            [options]="_HelperService.AppConfig.DateFuterPickerOptionsTime"
                                            [formControl]="Form_AddUser.controls['SendDate']" [(ngModel)]="Newdate"
                                            (selected)="ScheduleStartDateRangeChange($event)" />
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>


                    <!-- <div class="row bd-t mg-t-25">
                        <div class="col-md-6">
                            <label for=""> Advanced Settings <span class="text-danger"> * </span></label>
                            <div class="form-group">

                                <div class="d-flex">
                                    <div>
                                        <label class="text-secondary">Add short Link
                                        </label>
                                    </div>
                                </div>

                                <div class="controls">
                                    <input type="number" min="1" name="ActualPrice" maxlength="25" class="form-control"
                                        [formControl]="Form_AddUser.controls['ActualPrice']"
                                        (keyup)="CheckValue('ActualPrice')"
                                        [ngClass]="{'is-invalid':!Form_AddUser.controls['ActualPrice'].valid && Form_AddUser.controls['ActualPrice'].touched}">
                                </div>
                                <label class="text-danger" for="ActualPrice"
                                    *ngIf="Form_AddUser.controls['ActualPrice'].hasError('required') && Form_AddUser.controls['ActualPrice'].touched">
                                    Deal Value Required</label>
                                <label class="text-danger" for="ActualPrice"
                                    *ngIf="Form_AddUser.controls['ActualPrice'].hasError('min')">Deal Value Should Not
                                    Be
                                    0</label>
                            </div>
                        </div>
                    </div> -->


                </div>

            </div>
            <div class="col-md-4">
                <div class="card-body ht-100p">
                    <div class="preview-card bg-ui-01 pd-15">

                        <label class="tx-medium" for=""> SMS Preview </label>

                        <div class="mg-t-15"> {{Form_AddUser.controls['Title'].value}} </div>

                        <div class="mg-t-15">{{SenderName || "--"}}</div>

                        <div class="bd bg-white pd-15 mg-t-15">
                            {{Form_AddUser.controls['Message'].value}}
                        </div>

                        <div class="mg-t-15 d-flex justify-content-between">
                            <div class="text-secondary"> Send On : </div>
                            <div class="">
                                {{_HelperService.GetCampaignDateS(Form_AddUser.controls['SendDate'].value)}} |
                                {{_HelperService.GetCampaignTimeS(Form_AddUser.controls['SendDate'].value)}} </div>

                        </div>
                        <div class="mg-t-15 d-flex justify-content-between">
                            <div class="text-secondary"> Send To : </div>

                            <div class="" *ngIf="this.GroupTypeCustomer =='group'">
                                <div class="mg-b-5 text-secondary"> My Custom Groups </div>
                                <!-- <div class="" *ngFor="let conditions of GroupsList">
                                    <button type="button" disabled
                                        class="btn btn-xs b-a r-2x bd bd-gray-500  rounded-50  mr-2 mb-2 px-2 py-1 text-warn text-sm float-left Word-break">{{conditions.Title}}</button>
                                </div> -->

                                <div class="d-flex  mt-3" *ngIf="GroupsList && GroupsList.length>0">
                                    <div class="profile-skillset flex-fill">
                                        <button disabled
                                            class="btn btn-xs b-a r-2x bd bd-gray-500  rounded-50  mr-2 mb-2 px-2 py-1 text-warn text-sm float-left Word-break">{{GroupsList[0].Title
                                            || "--"}}</button>

                                    </div>
                                </div>

                                <label *ngIf="GroupsList && GroupsList.length>0" class="text-primary cursor-pointer"
                                    (click)="ShowAllLocations()">+
                                    {{GroupsList.length-1}} More
                                    Groups</label>


                            </div>

                            <div class="" *ngIf="this.GroupTypeCustomer =='custom'">
                                <div class="mg-b-5 text-secondary"> Selected customers </div>
                                <div class="" *ngFor="let conditions of CustomerList">
                                    <button type="button" disabled
                                        class="btn btn-xs b-a r-2x bd bd-gray-500  rounded-50  mr-2 mb-2 px-2 py-1 text-warn text-sm float-left Word-break">{{conditions.DisplayName}}</button>
                                </div>
                            </div>


                            <div *ngIf="this.RecipientSubtype =='external'">
                                <div class="mg-b-5 text-secondary"> File ({{this.FileLength}} Customers) </div>
                                <div>
                                    <i class="far fa-file-excel"></i> {{this.NameFile}}
                                </div>

                            </div>

                        </div>

                        <div class="mg-t-45">
                            <hr class="pd-t-15">
                            <label class="tx-medium" for=""> Credit Summary </label>

                            <div class="mg-t-15 d-flex justify-content-between">
                                <div class="text-secondary"> Standard rate : </div>
                                <div class="">
                                    <span [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span> 4 / SMS
                                    page
                                </div>
                            </div>

                            <div class="mg-t-15 d-flex justify-content-between">
                                <div class="text-secondary"> SMS Pages required :</div>
                                <div class="">
                                    {{SmsCount}}
                                </div>

                            </div>

                            <div class="mg-t-15 d-flex justify-content-between">
                                <div class="text-secondary"> Customer selected :</div>

                                <div class=""
                                    *ngIf="Form_AddUser.controls['TotalItem'].value == 0  ||  Form_AddUser.controls['TotalItem'].value == null   ||  Form_AddUser.controls['TotalItem'].value == undefined">
                                    0
                                </div>

                                <div class=""
                                    *ngIf=" Form_AddUser.controls['TotalItem'].value != 0  &&  Form_AddUser.controls['TotalItem'].value != null   &&  Form_AddUser.controls['TotalItem'].value != undefined ">
                                    {{Form_AddUser.controls['TotalItem'].value}}
                                </div>


                            </div>




                            <div class="mg-t-15 d-flex justify-content-between">
                                <div class="text-secondary">
                                    <div> SMS paid to be : </div>
                                    <div>(Customers x pages)</div>
                                </div>
                                <div class=""
                                    *ngIf="Form_AddUser.controls['TotalItem'].value == 0  ||  Form_AddUser.controls['TotalItem'].value == null   ||  Form_AddUser.controls['TotalItem'].value == undefined">
                                    <!-- {{SmsCount || "0" }} -->
                                    0
                                </div>

                                <div class=""
                                    *ngIf=" Form_AddUser.controls['TotalItem'].value != 0  &&  Form_AddUser.controls['TotalItem'].value != null   &&  Form_AddUser.controls['TotalItem'].value != undefined ">
                                    {{(SmsCount * Form_AddUser.controls['TotalItem'].value) || "0" }}
                                </div>

                            </div>

                            <div class="mg-t-15 d-flex justify-content-between">
                                <div class="text-secondary"> Credits Required :</div>

                                <div class=""
                                    *ngIf="Form_AddUser.controls['TotalItem'].value == 0  ||  Form_AddUser.controls['TotalItem'].value == null   ||  Form_AddUser.controls['TotalItem'].value == undefined">
                                    <span [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span>
                                    <!-- {{SmsPricing || "0"}} -->
                                    0
                                </div>

                                <div class=""
                                    *ngIf=" Form_AddUser.controls['TotalItem'].value != 0  &&  Form_AddUser.controls['TotalItem'].value != null   &&  Form_AddUser.controls['TotalItem'].value != undefined ">
                                    <span [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span>
                                    {{(SmsCount * Form_AddUser.controls['TotalItem'].value) * 4 }}
                                </div>

                            </div>
                            <div class="mg-t-15 justify-content-between" *ngIf="errorText">
                                <div class="text-danger">
                                    <span
                                        style="background-color:rgb(236, 192, 192);border-radius: 4px; padding: 4px !important; ">
                                        *You’re out of credits </span>
                                    </div>
                           

                                <div style="color: #1B2E4B;"> You will need more <span
                                        [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span>
                                    {{paybleAmount}} SMS Credits</div><br>

                                <a class="text-primary cursor-pointer" angular4-paystack [currency]="_HelperService.AppConfig.CurrencyNotation"
                                    [key]="_HelperService.AppConfig.PayStackKey"
                                    [email]="_HelperService.User.EmailAddress" [amount]="paybleAmount * 100"
                                    [ref]="_TransactionReference" [class]="'btn btn-primary'"
                                    (paymentInit)="paymentInit()" (onClose)="paymentCancel()"
                                    (callback)="paymentDone($event)">
                                    Get More Credit <i class="fas fa-angle-right"></i>
                                </a>
                            </div>
                        </div>
                        <hr class="pd-t-15">

                    </div>

                </div>

            </div>

        </div>

        <div class="card-footer d-flex justify-content-end">
            <div class="d-flex ">
                <button type="button" class="btn btn-secondary mr-2" data-dismiss="modal"
                    (click)="ReturnCampaignList()">{{
                    'Common.Close'
                    | translate }}</button>
                <div>

                    <button type="submit" class="btn btn-primary" (click)="Form_AddUser.value.OperationType='new'"
                        [disabled]="!Form_AddUser.valid  ||  !SelectCustomer">
                        <span *ngIf="!_HelperService.IsFormProcessing">
                            Create Campaign
                        </span>
                        <span *ngIf="_HelperService.IsFormProcessing">
                            <i class="{{ 'Common.SpinnerIcon' | translate }}"></i> {{ 'Common.PleaseWait' |
                            translate
                            }}...
                        </span>
                    </button>

                </div>
            </div>


        </div>
    </div>
</form>

<!-- <button class="btn btn-primary" (click)='printform()'>Print Form Now</button> -->


<div class="modal fade" id="AllGroups" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">All Groups</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body pd-20  mg-t-0" style="overflow-y: auto !important;">
                <div class="" *ngFor="let conditions of GroupsList">
                    <button type="button" disabled
                        class="btn btn-xs b-a r-2x bd bd-gray-500  rounded-50  mr-2 mb-2 px-2 py-1 text-warn text-sm float-left Word-break">{{conditions.Title}}</button>
                </div>


            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

            </div>
        </div>
    </div>
</div>