<ol class="breadcrumb df-breadcrumbs mg-b-10">
  <li class="breadcrumb-item" [routerLinkActive]="['active']"><a
      routerLink="{{ _HelperService.AppConfig.Pages.ThankUCash.Dashboard.Merchant}}" [routerLinkActive]="['active']">
      Dashboard</a></li>
  <li class="breadcrumb-item" [routerLinkActive]="['active']"><a>Loyalty
    </a></li>
  <li class="breadcrumb-item" [routerLinkActive]="['active']"><a class="text-primary">SMS Campaign
    </a></li>
</ol>
<div class="row">
  <div class="col-md-4 pr-0 mr-0">
    <div class="card ht-100p">
      <div class="card-body">
        <div class="cursor-pointer" (click)="CampaignList()"> <span> <i data-feather="chevron-left"></i> </span> <span
            class="tx-medium tx-18">{{_Configuration.Title ||
            "--"}} </span>
        </div>

        <div class="pd-l-25">
          <span  *ngIf="_Configuration.StatusId != 710" class="text-uppercase pd-x-10 text-capitalize" [ngClass]="_Configuration.StatusB">{{
            _Configuration.StatusName || "--" }}</span>


            <span *ngIf="_Configuration.StatusId == 710" style="  background-color:  #B8D5FE !important"
            class="badge text-primary tx-12 text-capitalize"> {{ _Configuration.StatusName || "--"
            }}
            <span class="spinner-border bd-1" role="status" aria-hidden="true"
              style="height: 12px; width: 12px;"></span>
          </span>

        </div>
        


        <label for="" class="mg-t-20 pd-t-20 pd-b-10 "> {{_Configuration.SenderIdName ||
          "--"}} </label>

        <div>

        </div>
        <div class="bd pd-15 rounded-10">
          <span class=" rounded-5 pd-t-10">
            {{_Configuration.Message || "--"}}
          </span>
        </div>

        <div class="mg-t-20 pd-t-20 d-flex justify-content-between">
          <div class="text-secondary"> Send To : </div>

          <div class="">
            <div class="mg-b-5 text-secondary"> My Custom Groups </div>
            <!-- <div class="" *ngFor="let conditions of GroupsList">
              <button type="button" disabled
                class="btn btn-xs b-a r-2x bd bd-gray-500  rounded-50  mr-2 mb-2 px-2 py-1 text-warn text-sm float-left Word-break">{{conditions.Title}}</button>
            </div> -->

            <div class="d-flex  mt-3" *ngIf="GroupsList && GroupsList.length>0">
              <div class="profile-skillset flex-fill">
                <button disabled
                  class="btn btn-xs b-a r-2x bd bd-gray-500  rounded-50  mr-2 mb-2 px-2 py-1 text-warn text-sm float-left Word-break">{{GroupsList[0].Title
                  || "--"}}</button>

              </div>
            </div>

            <label *ngIf="GroupsList && GroupsList.length>0" class="text-primary cursor-pointer"
              (click)="ShowAllLocations()">+
              {{GroupsList.length-1}} More
              Groups</label>

          </div>


        </div>
        <label class="mg-t-20 pd-t-20  bd-t full-width" for=""> Credit Summary </label>
        <div class=" pd-t-8 d-flex justify-content-between">
          <div class="text-secondary"> SMS Budget </div>

          <div class="">
            <div class="mg-b-5 text-secondary">{{(_Configuration.Budget / 4)}} SMS</div>
          </div>
        </div>

        <div class="pd-t-15 d-flex justify-content-between">
          <div class="text-secondary">
            <div>SMS Credits</div>
            <div>Spent</div>
          </div>

          <div class="">
            <div class="pd-r-5 text-secondary"> <span class="pd-r-5"
                [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span>{{_Configuration.Budget || "--"}}
            </div>

          </div>


        </div>

      </div>



    </div>
  </div>
  <div class="col-md-8">

    <div class="card ht-100p p-0 bd-0">
      <div class="row">
        <div class="col">
          <div class="card  bd-b-0 pd-x-20 pd-b-20 pd-t-10">
            <ul class="nav nav-line d-flex justify-content-between" id="myTab5" role="tablist"
              [routerLinkActive]="['active']">

              <div class="d-flex flex-wrap ">
                <li class="nav-item cursor-pointer" [routerLinkActive]="['active']">
                  <a class="nav-link" id="home-tab5" data-toggle="tab" [routerLinkActive]="['active']"
                    routerLink="{{_HelperService.AppConfig.Pages.ThankUCash.PanelMerchant.SmsCampaign}}/{{this._HelperService.AppConfig.ActiveAccountKey}}/{{this._HelperService.AppConfig.ActiveAccountId}}/{{this._HelperService.AppConfig.ActiveReferenceKey}}/{{ this._HelperService.AppConfig.ActiveReferenceId}}"
                    role="tab" aria-controls="home" aria-selected="true">Analytics</a>
                </li>

                <li class="nav-item cursor-pointer" [routerLinkActive]="['active']">
                  <a class="nav-link" id="home-tab5" data-toggle="tab" [routerLinkActive]="['active']"
                    routerLink="{{_HelperService.AppConfig.Pages.ThankUCash.PanelMerchant.CustomersCampaign}}/{{this._HelperService.AppConfig.ActiveAccountKey}}/{{this._HelperService.AppConfig.ActiveAccountId}}/{{this._HelperService.AppConfig.ActiveReferenceKey}}/{{ this._HelperService.AppConfig.ActiveReferenceId}}"
                    role="tab" aria-controls="home" aria-selected="true">Customers</a>
                </li>

              </div>


            </ul>
          </div>
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
  </div>


  <div class="modal fade" id="AllGroups" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-md">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">All Groups</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body pd-20  mg-t-0" style="overflow-y: auto !important;">
          <div class="" *ngFor="let conditions of GroupsList">
            <button type="button" disabled
              class="btn btn-xs b-a r-2x bd bd-gray-500  rounded-50  mr-2 mb-2 px-2 py-1 text-warn text-sm float-left Word-break">{{conditions.Title}}</button>
          </div>


        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

        </div>
      </div>
    </div>
  </div>