<!-- <div class="content content-fixed content-Icon_Crop_Failedle"> -->
<ol class="breadcrumb df-breadcrumbs  mg-l-10 mg-t-25">
    <!-- <li class="breadcrumb-item" [routerLinkActive]="['active']"><a
            routerLink="{{ _HelperService.AppConfig.Pages.ThankUCash.Dashboard.Merchant}}"
            [routerLinkActive]="['active']"> Dashboard</a></li> -->
    <li class="breadcrumb-item" [routerLinkActive]="['active']"><a class="cursor-pointer"
            (click)="_Router.navigateByUrl('/m/settings')">Account
            Setting</a></li>
    <li class="breadcrumb-item" [routerLinkActive]="['active']"><a class="text-primary"
            routerLink="{{_HelperService.AppConfig.Pages.ThankUCash.PanelMerchant.Store.Dashboard}}/{{this._HelperService.AppConfig.ActiveReferenceKey}}/{{ this._HelperService.AppConfig.ActiveReferenceId}}"
            [routerLinkActive]="['active']"> Edit Profile
        </a></li>

</ol>
<div class="container shadow-none pd-x-0  pd-lg-x-10 pd-xl-x-0">
    <div class="media d-block d-lg-flex">
        <!-- <div class="profile-sidebar pd-lg-r-25">
                    <div class="row">
                        <div class="col-sm-3 col-md-2 col-lg">
                            <div class="avatar avatar-xxl avatar-online"><img src="{{ _HelperService.UserAccount.IconUrl }}"
                                    class="rounded-circle" alt=""></div>
                        </div>
                        <div class="col-sm-8 col-md-7 col-lg mg-t-20 mg-sm-t-0 mg-lg-t-25">
                            <h5 class="mg-b-2 tx-spacing--1">{{_HelperService._UserAccount.DisplayName}}</h5>
                            <p class="tx-color-03 mg-b-25">{{_HelperService._UserAccount.UserName}}</p>
        
                        </div>
                        <div class="col-sm-6 col-md-5 col-lg mg-t-40">
                            <label class="tx-sans tx-10 tx-semibold tx-uppercase tx-color-01 tx-spacing-1 mg-b-15">Contact
                                Information</label>
                            <ul class="list-unstyled profile-info-list">
                                <li><i data-feather="briefcase"></i> <span
                                        class="tx-color-03">{{_HelperService._UserAccount.Address}}</span></li>
                                <li><i data-feather="home"></i> <span
                                        class="tx-color-03">{{_HelperService._UserAccount.CountryKey}}</span></li>
                                <li><i data-feather="phone"></i> <a
                                        >{{_HelperService._UserAccount.MobileNumber}}</a></li>
                                <li><i data-feather="mail"></i> <a>{{_HelperService._UserAccount.EmailAddress}}</a>
                                </li>
                                <li><i data-feather="name"></i> <a
                                        >{{_HelperService._UserAccount.CreatedByDisplayName}}</a></li>
                            </ul>
                        </div>
                    </div>
        
                </div> -->
        <div class="media-body mg-t-40 mg-lg-t-0 pd-lg-x-10">


            <div class="card  bd-b-0">
                <div class="card-header">
                    <h3 class="tx-14"> Edit Account </h3>
                    <div> To upgrade other business details,mail us your request at <a
                            href="mailto:hello@thankucash.com">hello@thankucash.com.</a></div>
                </div>
                <ul class="nav nav-line  mg-x-15 pd-t-20" id="myTab" role="tablist">

                    <li class="nav-item pt-1 "><a class="nav-link active" href="#" data-toggle="tab"
                            data-target="#tab-1">Business Information</a></li>
                    <li class="nav-item pt-1 "><a class="nav-link" href="#" data-toggle="tab"
                            data-target="#tab-6">Contact Person</a></li>
                    <li class="nav-item pt-1 "><a class="nav-link" href="#" data-toggle="tab"
                            data-target="#tab-7">Credentials</a></li>
                    <li class="nav-item pt-1 "><a class="nav-link" href="#" data-toggle="tab"
                            data-target="#tab-8">Address Details</a></li>
                    <!-- <li class="nav-item pt-1 "><a class="nav-link" href="#" data-toggle="tab"
                            data-target="#tab-5">Password</a></li> -->
                    <li class="nav-item pt-1 "><a class="nav-link" href="#" data-toggle="tab"
                            data-target="#security">Security Preferences</a></li>
                    <!-- <li class="nav-item pt-1 pb-1"><a class="nav-link" href="#" data-toggle="tab" data-target="#tab-2">Account
                                Pin</a></li> -->
                    <!--   <li class="nav-item"><a class="nav-link" href="#" data-toggle="tab" data-target="#tab-3">Emails</a></li>
                        <li class="nav-item"><a class="nav-link" href="#" data-toggle="tab" data-target="#tab-4">Notifications</a></li> -->

                </ul>
            </div>
            <div class="tab-content bd  bd-t-0 pd-x-0" id="myTabContent">
                <div class="tab-pane fade show  bd-0  active" role="tabpanel" id="tab-1">
                    <form [formGroup]="Form_UpdateUser" (ngSubmit)="Form_UpdateUser_Process(Form_UpdateUser.value)"
                        role="form">
                        <div class="card  shadow-none bd-0 p-0 ">
                            <div class=" pb-3">
                                <div class="col-md-12">

                                    <div class="card-body px-0">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="text-secondary">{{ 'System.Users.BusinessName' |
                                                        translate }}<span class="text-danger">*</span>
                                                    </label>
                                                    <div class="controls">
                                                        <input type="text" name="Name" maxlength="256" readonly disabled
                                                            class="form-control text-secondary"
                                                            [(ngModel)]="_HelperService._UserAccount.Name"
                                                            [formControl]="Form_UpdateUser.controls['Name']"
                                                            [ngClass]="{'is-invalid':!Form_UpdateUser.controls['Name'].valid && Form_UpdateUser.controls['Name'].touched}">
                                                    </div>
                                                    <label class="text-danger" for="Name"
                                                        *ngIf="Form_UpdateUser.controls['Name'].hasError('required') && Form_UpdateUser.controls['Name'].touched">{{
                                                        'System.Users.Name_ER_Required' | translate }}</label>
                                                    <label class="text-danger" for="DisplayName"
                                                        *ngIf="Form_UpdateUser.controls['Name'].hasError('minlength') || Form_UpdateUser.controls['Name'].hasError('maxlength')">{{
                                                        'System.Users.Name_ER_Length' | translate }}</label>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="text-secondary">Account Code
                                                    </label>
                                                    <div class="controls text-secondary">
                                                        <input type="text" readonly disabled
                                                            [ngModelOptions]="{standalone: true}" name="AcountCode"
                                                            maxlength="256" class="form-control text-secondary"
                                                            [ngModel]="_HelperService._UserAccount.AccountCode">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row mg-b-3">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="text-secondary">{{'System.Users.BusinessNickName' |
                                                        translate }}<span class="text-danger">*</span>
                                                    </label>
                                                    <div class="controls">
                                                        <input type="text" name="DisplayName" maxlength="25" readonly
                                                            disabled
                                                            [(ngModel)]="_HelperService._UserAccount.DisplayName"
                                                            class="form-control text-secondary text-secondary"
                                                            [formControl]="Form_UpdateUser.controls['DisplayName']"
                                                            [ngClass]="{'is-invalid':!Form_UpdateUser.controls['DisplayName'].valid && Form_UpdateUser.controls['DisplayName'].touched}">
                                                    </div>
                                                    <!-- <p class="tx-12 text-secondary mg-b-0 text-capitalize">maximum 30
                                                        words only</p> -->
                                                    <label class="text-danger" for="DisplayName"
                                                        *ngIf="Form_UpdateUser.controls['DisplayName'].hasError('required') && Form_UpdateUser.controls['DisplayName'].touched">{{
                                                        'System.Users.DisplayName_ER_Required' | translate }}</label>
                                                    <label class="text-danger" for="DisplayName"
                                                        *ngIf="Form_UpdateUser.controls['DisplayName'].hasError('minlength') || Form_UpdateUser.controls['DisplayName'].hasError('maxlength')">{{
                                                        'System.Users.DisplayName_ER_Length' | translate }}</label>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="text-secondary">Business Categories<span
                                                            class="text-danger">*</span>
                                                    </label>
                                                    <!-- <select2 class="full-width" *ngIf="ShowCategorySelector"
                                                        [options]="_HelperService.Select2Options_Multiple"
                                                        [value]="SelectedBusinessCategories"
                                                        [data]="S2BusinessCategories"
                                                        (valueChanged)="CategoriesSelected($event)">
                                                    </select2> -->

                                                    <div class="col-lg-12 Hm-media768">
                                                        <div class="d-inline justify-content-between"
                                                            *ngFor="let catagory of _MerchantDetails.UpdateCategories; let i = index">
                                                            <button class="d-flex align-items-center disabled"
                                                                type="button"
                                                                class="btn btn-xs b-a r-2x bd bd-gray-500 text-secondary rounded-50  mr-2 mb-2 pd-r-10 pd-l-12 pd-y-5 text-warn text-sm float-left mg-t-10"
                                                                disabled>{{catagory.Name}}
                                                                <!-- <a class="mg-l-5" (click)="removeCategory(i)"> <span><i
                                                                            class="fas fa-times"></i> </span> </a> -->
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="text-secondary">Official Business Email ID<span
                                                            class="text-danger">*</span>
                                                    </label>
                                                    <div class="controls">
                                                        <input type="text" name="EmailAddress" maxlength="256" readonly
                                                            disabled class="form-control text-secondary"
                                                            [(ngModel)]="_HelperService._UserAccount.EmailAddress"
                                                            [formControl]="Form_UpdateUser.controls['EmailAddress']"
                                                            [ngClass]="{'is-invalid':!Form_UpdateUser.controls['EmailAddress'].valid && Form_UpdateUser.controls['EmailAddress'].touched}">
                                                    </div>
                                                    <label class="text-danger" for="EmailAddress"
                                                        *ngIf="Form_UpdateUser.controls['EmailAddress'].hasError('required') && Form_UpdateUser.controls['EmailAddress'].touched">{{
                                                        'System.Users.EmailAddress_ER_Required' | translate }}</label>

                                                    <label class="text-danger" for="EmailAddress"
                                                        *ngIf="Form_UpdateUser.controls['EmailAddress'].hasError('email') && Form_UpdateUser.controls['EmailAddress'].touched">{{
                                                        'System.Users.EmailAddress_ER_Invalid' | translate }}</label>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label>Phone Number<span class="text-danger">*</span>
                                                    </label>
                                                    <div class="controls input-group">
                                                        <div class="input-group-prepend">
                                                            <span
                                                                class="input-group-text">{{this._HelperService.CountryCode}}</span>
                                                        </div>
                                                        <input type="text" name="ContactNumber" minlength="8"
                                                            maxlength="14" class="form-control"
                                                            (keypress)="_HelperService.PreventText($event)"
                                                            [(ngModel)]="_HelperService._UserAccount.ContactNumber"
                                                            [formControl]="Form_UpdateUser.controls['ContactNumber']"
                                                            [ngClass]="{'is-invalid':!Form_UpdateUser.controls['ContactNumber'].valid && Form_UpdateUser.controls['ContactNumber'].touched}">
                                                    </div>
                                                    <label class="text-danger" for="ContactNumber"
                                                        *ngIf="Form_UpdateUser.controls['ContactNumber'].hasError('required') && Form_UpdateUser.controls['ContactNumber'].touched">{{
                                                        'System.Users.ContactNumber_ER_Required' | translate }}</label>
                                                    <label class="text-danger" for="ContactNumber"
                                                        *ngIf="Form_UpdateUser.controls['ContactNumber'].hasError('minlength') || Form_UpdateUser.controls['ContactNumber'].hasError('maxlength')">{{
                                                        'System.Users.ContactNumber_ER_Length' | translate }}</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="text-secondary">{{ 'System.Users.WebsiteUrl' |
                                                        translate }}
                                                    </label>
                                                    <div class="controls">
                                                        <input type="text" name="WebsiteUrl" maxlength="1024" readonly
                                                            disabled class="form-control text-secondary"
                                                            [formControl]="Form_UpdateUser.controls['WebsiteUrl']"
                                                            [(ngModel)]="_MerchantDetails.WebsiteUrl"
                                                            [ngClass]="{'is-invalid':!Form_UpdateUser.controls['WebsiteUrl'].valid && Form_UpdateUser.controls['WebsiteUrl'].touched}">
                                                    </div>
                                                    <label class="text-danger" for="WebsiteUrl"
                                                        *ngIf="Form_UpdateUser.controls['WebsiteUrl'].hasError('required') && Form_UpdateUser.controls['WebsiteUrl'].touched">{{
                                                        'System.Users.WebsiteUrl_ER_Required' | translate }}</label>
                                                    <label class="text-danger" for="WebsiteUrl"
                                                        *ngIf="Form_UpdateUser.controls['WebsiteUrl'].hasError('pattern') && Form_UpdateUser.controls['WebsiteUrl'].touched">{{
                                                        'System.Users.WebsiteUrl_ER_Invalid' | translate }}</label>
                                                </div>
                                                <div class="form-group">
                                                    <label class="text-secondary">{{ 'System.Users.OwnerName' |
                                                        translate }}<span class="text-danger">*</span>
                                                    </label>
                                                    <div class="controls">
                                                        <input type="text" name="OwnerName" maxlength="256" readonly
                                                            disabled class="form-control text-secondary"
                                                            [(ngModel)]="_MerchantDetails.Name"
                                                            [formControl]="Form_UpdateUser.controls['OwnerName']"
                                                            [ngClass]="{'is-invalid':!Form_UpdateUser.controls['OwnerName'].valid && Form_UpdateUser.controls['OwnerName'].touched}">
                                                    </div>
                                                    <label class="text-danger" for="OwnerName"
                                                        *ngIf="Form_UpdateUser.controls['OwnerName'].hasError('required') && Form_UpdateUser.controls['OwnerName'].touched">
                                                        Enter Owner Name</label>
                                                    <label class="text-danger" for="OwnerName"
                                                        *ngIf="Form_UpdateUser.controls['OwnerName'].hasError('minlength') || Form_UpdateUser.controls['OwnerName'].hasError('maxlength')">Owner
                                                        Name must be between 4 - 256 characters</label>
                                                </div>

                                                <div class="form-group">
                                                    <label class="text-secondary">{{ 'System.Users.ReferralCode' |
                                                        translate }}
                                                    </label>
                                                    <div class="controls">
                                                        <input type="text" name="ReferralCode" maxlength="25" readonly
                                                            disabled class="form-control text-secondary"
                                                            [(ngModel)]="_MerchantDetails.ReferralCode"
                                                            [formControl]="Form_UpdateUser.controls['ReferralCode']"
                                                            [ngClass]="{'is-invalid':!Form_UpdateUser.controls['ReferralCode'].valid && Form_UpdateUser.controls['ReferralCode'].touched}">
                                                    </div>
                                                    <label class="text-danger" for="ReferralCode"
                                                        *ngIf="Form_UpdateUser.controls['ReferralCode'].hasError('required') && Form_UpdateUser.controls['ReferralCode'].touched">
                                                        Enter Referral Code</label>
                                                    <label class="text-danger" for="ReferralCode"
                                                        *ngIf="Form_UpdateUser.controls['ReferralCode'].hasError('minlength') || Form_UpdateUser.controls['ReferralCode'].hasError('maxlength')">
                                                        Referral Code must be between 4 - 25 characters</label>
                                                </div>


                                            </div>

                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label>{{'System.Users.AboutBusiness' | translate }}
                                                    </label>
                                                    <div class="controls">
                                                        <textarea type="text" name="Description" maxlength="256"
                                                            rows='5' class="form-control"
                                                            [formControl]="Form_UpdateUser.controls['Description']"
                                                            [(ngModel)]="_MerchantDetails.Description"
                                                            [ngClass]="{'is-invalid':!Form_UpdateUser.controls['Description'].valid && Form_UpdateUser.controls['Description'].touched}">
                                                        </textarea>
                                                    </div>
                                                    <label class="text-danger" for="Description"
                                                        *ngIf="Form_UpdateUser.controls['Description'].hasError('required') && Form_UpdateUser.controls['Description'].touched">{{
                                                        'System.Users.Description_ER_Required' | translate }}</label>
                                                    <label class="text-danger" for="Description"
                                                        *ngIf="Form_UpdateUser.controls['Description'].hasError('minlength') || Form_UpdateUser.controls['Description'].hasError('maxlength')">{{
                                                        'System.Users.Description_ER_Length' | translate }}</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <label class="d-block mb-0 text-secondary">Image
                                                </label>
                                                <!-- <input-file  inputId="input-file" placeholder="">
                                                </input-file> -->
                                                <img src="{{_MerchantDetails.IconUrl }}" alt="">
                                            </div>
                                        </div>
                                    </div>

                                    <!-- <div class="row">
                                                                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                                                                        <label>{{ 'System.Users.Icon' | translate }}
                                                                                            <span class="small muted">
                                                                                                -
                                                                                                {{_HelperService._FileSelect_Icon_Data.Width}}x{{_HelperService._FileSelect_Icon_Data.Height}}
                                                                                            </span>
                                                                                        </label>
                                                                                        <ng2-file-input [id]="_HelperService._FileSelect_Icon" [multiple]="false" (onAdded)="_HelperService._FileSelect_Icon_onAdded($event)"
                                                                                            extensions="[ 'image/jpeg', 'image/jpg', 'image/png', 'image/gif'] "
                                                                                            [browse-text]="'Show file picker'" [removable]="false"></ng2-file-input>
                                                                                    </div>
                                                                                </div> -->
                                </div>
                            </div>
                            <div class="light px-3 pb-3 pt-0 text-right b-b">
                                <button type="submit" class="btn btn-primary mr-2"
                                    (click)="Form_UpdateUser.value.OperationType='new'"
                                    [disabled]="!Form_UpdateUser.valid || _HelperService.IsFormProcessing">
                                    <span *ngIf="!_HelperService.IsFormProcessing">
                                        {{ 'Common.Update' | translate }}
                                    </span>
                                    <span *ngIf="_HelperService.IsFormProcessing">
                                        <i class="{{ 'Common.SpinnerIcon' | translate }}"></i> {{ 'Common.PleaseWait' |
                                        translate
                                        }}...
                                    </span>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="tab-pane fade" role="tabpanel" role="tabpanel" id="tab-2">
                    <div class="mg-b-2 tx-spacing--1">Access Pin</div>
                    <form [formGroup]="Form_Edit" (ngSubmit)="Form_Edit_Process(Form_Edit.value)" role="form">
                        <div class=" px-3 pb-3 pt-0  col-md-6 b-b">
                            <div class="form-group">
                                <label>{{'System.Users.OldAccessPin' | translate }}
                                    <span class="text-danger">*</span>
                                </label>



                                <div class="controls">
                                    <input type="password" name="OldAccessPin"
                                        (keypress)="_HelperService.PreventText($event)" minlength="4" maxlength="4"
                                        class="form-control" [formControl]="Form_Edit.controls['OldAccessPin']"
                                        [ngClass]="{'is-invalid':!Form_Edit.controls['OldAccessPin'].valid && Form_Edit.controls['OldAccessPin'].touched}">
                                </div>
                                <label class="text-danger" for="OldAccessPin"
                                    *ngIf="Form_Edit.controls['OldAccessPin'].hasError('required') && Form_Edit.controls['OldAccessPin'].touched">{{
                                    'System.Users.OldAccessPin_ER_Required' | translate }}</label>
                                <label class="text-danger" for="AccessPin"
                                    *ngIf="Form_Edit.controls['OldAccessPin'].hasError('pattern') ||Form_Edit.controls['OldAccessPin'].hasError('minlength') || Form_Edit.controls['OldAccessPin'].hasError('maxlength')">{{
                                    'System.Users.OldAccessPin_ER_Length' | translate }}</label>
                            </div>
                            <div class="form-group">
                                <label>{{'System.Users.NewAccessPin' | translate }}
                                    <span class="text-danger">*</span>
                                </label>


                                <div class="controls">
                                    <input type="password" name="AccessPin"
                                        (keypress)="_HelperService.PreventText($event)" maxlength="4" maxlength="4"
                                        class="form-control" [formControl]="Form_Edit.controls['AccessPin']"
                                        [ngClass]="{'is-invalid':!Form_Edit.controls['AccessPin'].valid && Form_Edit.controls['AccessPin'].touched}">
                                </div>

                                <div class="controls">
                                    <input type="password" name="AccessPin"
                                        (keypress)="_HelperService.PreventText($event)" maxlength="4" maxlength="4"
                                        class="form-control" [formControl]="Form_Edit.controls['AccessPin']"
                                        [ngClass]="{'is-invalid':!Form_Edit.controls['AccessPin'].valid && Form_Edit.controls['AccessPin'].touched}">
                                </div>
                                <label class="text-danger" for="AccessPin"
                                    *ngIf="Form_Edit.controls['AccessPin'].hasError('required') && Form_Edit.controls['AccessPin'].touched">{{
                                    'System.Users.NewAccessPin_ER_Required' | translate }}</label>
                                <label class="text-danger" for="AccessPin"
                                    *ngIf="Form_Edit.controls['AccessPin'].hasError('pattern') || Form_Edit.controls['AccessPin'].hasError('minlength') || Form_Edit.controls['AccessPin'].hasError('maxlength')">{{
                                    'System.Users.NewAccessPin_ER_Length' | translate }}</label>
                            </div>
                        </div>
                        <div class="light p-3 b-b b-t ml-3 mr-3">
                            <button type="submit" class="btn btn-sm warn warn mr-2"
                                (click)="Form_Edit.value.OperationType='new'"
                                [disabled]="!Form_Edit.valid || _HelperService.IsFormProcessing">
                                <span *ngIf="!_HelperService.IsFormProcessing">
                                    {{ 'Common.Update' | translate }}
                                </span>
                                <span *ngIf="_HelperService.IsFormProcessing">
                                    <i class="{{ 'Common.SpinnerIcon' | translate }}"></i> {{ 'Common.PleaseWait' |
                                    translate
                                    }}...
                                </span>
                            </button>
                        </div>
                    </form>
                </div>
                <div class="tab-pane fade" role="tabpanel" id="tab-3">
                    <div class="mg-b-2 tx-spacing--1">Emails</div>
                </div>
                <div class="tab-pane fade" role="tabpanel" id="tab-4">
                    <div class="pmg-b-2 tx-spacing--1">Notifications</div>
                </div>
                <!-- <div class="tab-pane fade" role="tabpanel" id="tab-5">
                    <form [formGroup]="Form_EditPassword"
                        (ngSubmit)="Form_EditPassword_Process(Form_EditPassword.value)" role="form">
                        <div class="card bd-0 p-0">
                            <div class=" pb-3">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="card-body">
                                            <div class="form-group">
                                                <label>{{'System.Users.OldPassword' | translate }}
                                                    <span class="text-danger">*</span>
                                                </label>
                                                <div class="controls">

                                                    <div class="row">
                                                        <div class="col-md-12 pd-r-15">
                                                            <input *ngIf="OShowPassword" type="text"
                                                                style="-webkit-text-security: disc;" name="OldPassword"
                                                                maxlength="20" class="form-control" autocomplete="off"
                                                                [formControl]="Form_EditPassword.controls['OldPassword']"
                                                                [ngClass]="{'is-invalid':!Form_EditPassword.controls['OldPassword'].valid && Form_EditPassword.controls['OldPassword'].touched}">

                                                            <input *ngIf="!OShowPassword" type="text" name="OldPassword"
                                                                maxlength="20" class="form-control" autocomplete="off"
                                                                [formControl]="Form_EditPassword.controls['OldPassword']"
                                                                [ngClass]="{'is-invalid':!Form_EditPassword.controls['OldPassword'].valid && Form_EditPassword.controls['OldPassword'].touched}">
                                                        </div>


                                                        <div class="px-0 input-group-append">
                                                            <a *ngIf="OShowPassword" (click)="OToogleShowHidePassword()"
                                                                class="btn   d-flex align-items-center cursor-pointer Showbutton bd-0">
                                                                <i class="fa fa-eye-slash fa-1x"
                                                                    aria-hidden="true"></i></a>

                                                            <a *ngIf="!OShowPassword"
                                                                (click)="OToogleShowHidePassword()"
                                                                class="btn  d-flex align-items-center cursor-pointer Showbutton bd-0">
                                                                <i class="fa fa-eye fa-1x" aria-hidden="true"></i></a>
                                                        </div>

                                                    </div>

                                                </div>
                                                <label class="text-danger" for="OldPassword"
                                                    *ngIf="Form_EditPassword.controls['OldPassword'].hasError('required') && Form_EditPassword.controls['OldPassword'].touched">{{
                                                    'System.Users.OldPassword_ER_Required' | translate }}</label>

                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="card-body">
                                            <div class="form-group">
                                                <label>{{'System.Users.NewPassword' | translate }}
                                                    <span class="text-danger">*</span>
                                                </label>
                                                <div class="controls">
                                                    <div class="row">
                                                        <div class="col-md-12 pd-r-15">
                                                            <input *ngIf="NShowPassword" type="text" name="Password"
                                                                style="-webkit-text-security: disc;" maxlength="20"
                                                                class="form-control" autocomplete="off"
                                                                [formControl]="Form_EditPassword.controls['Password']"
                                                                [ngClass]="{'is-invalid':!Form_EditPassword.controls['Password'].valid && Form_EditPassword.controls['Password'].touched}">

                                                            <input *ngIf="!NShowPassword" type="text" name="Password"
                                                                maxlength="20" class="form-control" autocomplete="off"
                                                                [formControl]="Form_EditPassword.controls['Password']"
                                                                [ngClass]="{'is-invalid':!Form_EditPassword.controls['Password'].valid && Form_EditPassword.controls['Password'].touched}">

                                                        </div>

                                                        <div class="px-0 input-group-append">
                                                            <a *ngIf="NShowPassword" (click)="NToogleShowHidePassword()"
                                                                class="btn   d-flex align-items-center cursor-pointer Showbutton bd-0">
                                                                <i class="fa fa-eye-slash fa-1x"
                                                                    aria-hidden="true"></i></a>

                                                            <a *ngIf="!NShowPassword"
                                                                (click)="NToogleShowHidePassword()"
                                                                class="btn  d-flex align-items-center cursor-pointer Showbutton bd-0">
                                                                <i class="fa fa-eye fa-1x" aria-hidden="true"></i></a>
                                                        </div>
                                                    </div>

                                                </div>
                                                <label class="text-danger" for="Password"
                                                    *ngIf="Form_EditPassword.controls['Password'].hasError('required') && Form_EditPassword.controls['Password'].touched">{{
                                                    'System.Users.NewPassword_ER_Required' | translate }}</label>
                                                <label class="text-danger" for="Password"
                                                    *ngIf="Form_EditPassword.controls['Password'].hasError('pattern') ||Form_EditPassword.controls['Password'].hasError('minlength') || Form_EditPassword.controls['Password'].hasError('maxlength')">{{
                                                    'System.Users.NewPassword_ER_Length' | translate }}</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="light p-3 text-right b-b">
                                            <button type="submit" class="btn btn-primary mr-2"
                                                (click)="Form_EditPassword.value.OperationType='new'"
                                                [disabled]="!Form_EditPassword.valid || _HelperService.IsFormProcessing">
                                                <span *ngIf="!_HelperService.IsFormProcessing">
                                                    {{ 'Common.Update' | translate }}
                                                </span>
                                                <span *ngIf="_HelperService.IsFormProcessing">
                                                    <i class="{{ 'Common.SpinnerIcon' | translate }}"></i> {{
                                                    'Common.PleaseWait' |
                                                    translate
                                                    }}...
                                                </span>
                                            </button>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>


                    </form>
                </div> -->
                <div class="tab-pane fade" role="tabpanel" id="tab-6">
                    <form [formGroup]="Form_UpdateContactUser"
                        (ngSubmit)="Form_UpdateContactUser_Process(Form_UpdateContactUser.value)" role="form">

                        <div class="card bd-0 p-0">
                            <div class="pb-3">
                                <div class="col-md-12">

                                    <div class="card-body px-0">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label>{{'System.Users.FirstName' | translate }}<span
                                                            class="text-danger">*</span>
                                                    </label>
                                                    <div class="controls">
                                                        <input type="text" name="FirstName" maxlength="128"
                                                            class="form-control" [(ngModel)]="MerchantContact.FirstName"
                                                            [formControl]="Form_UpdateContactUser.controls['FirstName']"
                                                            [ngClass]="{'is-invalid':!Form_UpdateContactUser.controls['FirstName'].valid && Form_UpdateContactUser.controls['FirstName'].touched}">
                                                    </div>
                                                    <label class="text-danger" for="FirstName"
                                                        *ngIf="Form_UpdateContactUser.controls['FirstName'].hasError('required') && Form_UpdateContactUser.controls['FirstName'].touched">{{
                                                        'System.Users.FirstName_ER_Required' | translate }}</label>
                                                    <label class="text-danger" for="FirstName"
                                                        *ngIf="Form_UpdateContactUser.controls['FirstName'].hasError('minlength') || Form_UpdateContactUser.controls['FirstName'].hasError('maxlength')">{{
                                                        'System.Users.FirstName_ER_Length' | translate }}</label>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label>{{ 'System.Users.LastName' | translate }}<span
                                                            class="text-danger">*</span>
                                                    </label>
                                                    <div class="controls">
                                                        <input type="text" name="LastName" maxlength="128"
                                                            class="form-control" [(ngModel)]="MerchantContact.LastName"
                                                            [formControl]="Form_UpdateContactUser.controls['LastName']"
                                                            [ngClass]="{'is-invalid':!Form_UpdateContactUser.controls['LastName'].valid && Form_UpdateContactUser.controls['LastName'].touched}">
                                                    </div>
                                                    <label class="text-danger" for="LastName"
                                                        *ngIf="Form_UpdateContactUser.controls['LastName'].hasError('required') && Form_UpdateContactUser.controls['LastName'].touched">{{
                                                        'System.Users.LastName_ER_Required' | translate }}</label>
                                                    <label class="text-danger" for="LastName"
                                                        *ngIf="Form_UpdateContactUser.controls['LastName'].hasError('minlength') || Form_UpdateContactUser.controls['LastName'].hasError('maxlength')">{{
                                                        'System.Users.LastName_ER_Length' | translate }}</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label>{{'System.Users.MobileNumber' | translate }}<span
                                                            class="text-danger">*</span>
                                                    </label>
                                                    <div class="controls input-group">
                                                        <div class="input-group-prepend">
                                                            <span
                                                                class="input-group-text">{{this._HelperService.CountryCode}}</span>
                                                        </div>
                                                        <input type="text" name="MobileNumber" minlength="8"
                                                            maxlength="14" class="form-control"
                                                            (keypress)="_HelperService.PreventText($event)"
                                                            [(ngModel)]="MerchantContact.MobileNumber"
                                                            [formControl]="Form_UpdateContactUser.controls['MobileNumber']"
                                                            [ngClass]="{'is-invalid':!Form_UpdateContactUser.controls['MobileNumber'].valid && Form_UpdateContactUser.controls['MobileNumber'].touched}">
                                                    </div>
                                                    <label class="text-danger" for="MobileNumber"
                                                        *ngIf="Form_UpdateContactUser.controls['MobileNumber'].hasError('required') && Form_UpdateContactUser.controls['MobileNumber'].touched">{{
                                                        'System.Users.MobileNumber_ER_Required' | translate }}</label>
                                                    <label class="text-danger" for="MobileNumber"
                                                        *ngIf="Form_UpdateContactUser.controls['MobileNumber'].hasError('minlength') || Form_UpdateContactUser.controls['MobileNumber'].hasError('maxlength')">{{
                                                        'System.Users.MobileNumber_ER_Length' | translate }}</label>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label>{{ 'System.Users.EmailAddress' | translate }}<span
                                                            class="text-danger">*</span>
                                                    </label>
                                                    <div class="controls">
                                                        <input type="text" name="EmailAddress" maxlength="512"
                                                            class="form-control"
                                                            [(ngModel)]="MerchantContact.EmailAddress"
                                                            [formControl]="Form_UpdateContactUser.controls['EmailAddress']"
                                                            [ngClass]="{'is-invalid':!Form_UpdateContactUser.controls['EmailAddress'].valid && Form_UpdateContactUser.controls['EmailAddress'].touched}">
                                                    </div>
                                                    <label class="text-danger" for="EmailAddress"
                                                        *ngIf="Form_UpdateContactUser.controls['EmailAddress'].hasError('required') && Form_UpdateContactUser.controls['EmailAddress'].touched">{{
                                                        'System.Users.EmailAddress_ER_Required' | translate }}</label>
                                                    <label class="text-danger" for="EmailAddress"
                                                        *ngIf="Form_UpdateContactUser.controls['EmailAddress'].hasError('email') && Form_UpdateContactUser.controls['EmailAddress'].touched">{{
                                                        'System.Users.EmailAddress_ER_Invalid' | translate }}</label>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="light p-3 text-right b-b">
                                <button type="submit" class="btn btn-primary mr-2"
                                    (click)="Form_UpdateContactUser.value.OperationType='new'"
                                    [disabled]="!Form_UpdateContactUser.valid || _HelperService.IsFormProcessing">
                                    <span *ngIf="!_HelperService.IsFormProcessing">
                                        {{ 'Common.Update' | translate }}
                                    </span>
                                    <span *ngIf="_HelperService.IsFormProcessing">
                                        <i class="{{ 'Common.SpinnerIcon' | translate }}"></i> {{ 'Common.PleaseWait' |
                                        translate
                                        }}...
                                    </span>
                                </button>
                            </div>


                        </div>

                    </form>
                </div>
                <div class="tab-pane fade" role="tabpanel" id="tab-7">
                    <form [formGroup]="Form_UpdateCredentialUser"
                        (ngSubmit)="Form_UpdateCredentialUser_Process(Form_UpdateCredentialUser.value)" role="form">

                        <div class="card bd-0 p-0">
                            <div class="">
                                <div class="col-md-12">


                                    <div class="card-body px-0">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label>{{'System.Users.UserName' | translate }}<span
                                                            class="text-danger">*</span>
                                                    </label>
                                                    <div class="controls">
                                                        <input type="text" name="UserName" maxlength="256"
                                                            class="form-control"
                                                            [(ngModel)]="_HelperService._UserAccount.UserName"
                                                            [formControl]="Form_UpdateCredentialUser.controls['UserName']"
                                                            [ngClass]="{'is-invalid':!Form_UpdateCredentialUser.controls['UserName'].valid && Form_UpdateCredentialUser.controls['UserName'].touched}">
                                                    </div>
                                                    <label class="text-danger" for="UserName"
                                                        *ngIf="Form_UpdateCredentialUser.controls['UserName'].hasError('required') && Form_UpdateCredentialUser.controls['UserName'].touched">{{
                                                        'System.Users.UserName_ER_Required' | translate }}</label>

                                                    <label class="text-danger" for="UserName"
                                                        *ngIf="Form_UpdateCredentialUser.controls['UserName'].hasError('minlength') || Form_UpdateCredentialUser.controls['UserName'].hasError('maxlength')">{{
                                                        'System.Users.UserName_ER_Length' | translate }}</label>
                                                </div>
                                            </div>
                                        </div>
                  
                                            <!-- <div class="col-md-12">
                                                    <div class="form-group">
                                                        <div> <label>{{ 'System.Users.Gender' | translate }}<span
                                                                    class="text-danger">*</span>
                                                            </label></div>
                                                        <div class="radio float-left mr-3">
                                                            <label class="ui-check"><input type="radio" name="gender"
                                                                    [(ngModel)]="_HelperService._UserAccount.GenderCode"
                                                                    [value]="_HelperService.AppConfig.Gender.Male"
                                                                    [formControl]="Form_UpdateCredentialUser.controls['GenderCode']">
                                                                <i class="dark-white"></i>
                                                                {{ 'System.Users.Male' | translate }}</label>
                                                        </div>
                                                        <div class="radio  mr-3"><label class="ui-check"><input type="radio"
                                                                    name="gender"
                                                                    [(ngModel)]="_HelperService._UserAccount.GenderCode"
                                                                    [value]="_HelperService.AppConfig.Gender.Female"
                                                                    [formControl]="Form_UpdateCredentialUser.controls['GenderCode']">
                                                                <i class="dark-white"></i>
                                                                {{ 'System.Users.Female' | translate }}</label></div>
                                                    </div>
                                                </div> -->
                                       

                                    </div>


                                    <!-- <div class="row">
                                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                                        <label>{{ 'System.Users.Icon' | translate }}
                                                            <span class="small muted">
                                                                -
                                                                {{_HelperService._FileSelect_Icon_Data.Width}}x{{_HelperService._FileSelect_Icon_Data.Height}}
                                                            </span>
                                                        </label>
                                                        <ng2-file-input [id]="_HelperService._FileSelect_Icon" [multiple]="false" (onAdded)="_HelperService._FileSelect_Icon_onAdded($event)"
                                                            extensions="[ 'image/jpeg', 'image/jpg', 'image/png', 'image/gif'] "
                                                            [browse-text]="'Show file picker'" [removable]="false"></ng2-file-input>
                                                    </div>
                                                </div> -->
                                </div>
                            </div>
                            <div class="light pl-3 pb-3 text-left">
                                <button type="submit" class="btn btn-primary mr-2"
                                    (click)="Form_UpdateCredentialUser.value.OperationType='new'"
                                    [disabled]="!Form_UpdateCredentialUser.valid || _HelperService.IsFormProcessing">
                                    <span *ngIf="!_HelperService.IsFormProcessing">
                                        {{ 'Common.Update' | translate }}
                                    </span>
                                    <span *ngIf="_HelperService.IsFormProcessing">
                                        <i class="{{ 'Common.SpinnerIcon' | translate }}"></i> {{ 'Common.PleaseWait' |
                                        translate
                                        }}...
                                    </span>
                                </button>
                            </div>
                        </div>
                        </form>

                        <form [formGroup]="Form_EditPassword"
                        (ngSubmit)="Form_EditPassword_Process(Form_EditPassword.value)" role="form">
                        <div class="card bd-0 p-0">
                            <div class=" pb-3">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="card-body">
                                            <div class="form-group">
                                                <label>{{'System.Users.OldPassword' | translate }}
                                                    <span class="text-danger">*</span>
                                                </label>
                                                <div class="controls">

                                                    <div class="row">
                                                        <div class="col-md-12 pd-r-15">
                                                            <input *ngIf="OShowPassword" type="text"
                                                                style="-webkit-text-security: disc;" name="OldPassword"
                                                                maxlength="20" class="form-control" autocomplete="off"
                                                                [formControl]="Form_EditPassword.controls['OldPassword']"
                                                                [ngClass]="{'is-invalid':!Form_EditPassword.controls['OldPassword'].valid && Form_EditPassword.controls['OldPassword'].touched}">

                                                            <input *ngIf="!OShowPassword" type="text" name="OldPassword"
                                                                maxlength="20" class="form-control" autocomplete="off"
                                                                [formControl]="Form_EditPassword.controls['OldPassword']"
                                                                [ngClass]="{'is-invalid':!Form_EditPassword.controls['OldPassword'].valid && Form_EditPassword.controls['OldPassword'].touched}">
                                                        </div>


                                                        <div class="px-0 input-group-append">
                                                            <a *ngIf="OShowPassword" (click)="OToogleShowHidePassword()"
                                                                class="btn   d-flex align-items-center cursor-pointer Showbutton bd-0">
                                                                <i class="fa fa-eye-slash fa-1x"
                                                                    aria-hidden="true"></i></a>

                                                            <a *ngIf="!OShowPassword"
                                                                (click)="OToogleShowHidePassword()"
                                                                class="btn  d-flex align-items-center cursor-pointer Showbutton bd-0">
                                                                <i class="fa fa-eye fa-1x" aria-hidden="true"></i></a>
                                                        </div>

                                                    </div>

                                                </div>
                                                <label class="text-danger" for="OldPassword"
                                                    *ngIf="Form_EditPassword.controls['OldPassword'].hasError('required') && Form_EditPassword.controls['OldPassword'].touched">{{
                                                    'System.Users.OldPassword_ER_Required' | translate }}</label>

                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="card-body">
                                            <div class="form-group">
                                                <label>{{'System.Users.NewPassword' | translate }}
                                                    <span class="text-danger">*</span>
                                                </label>
                                                <div class="controls">
                                                    <div class="row">
                                                        <div class="col-md-12 pd-r-15">
                                                            <input *ngIf="NShowPassword" type="text" name="Password"
                                                                style="-webkit-text-security: disc;" maxlength="20"
                                                                class="form-control" autocomplete="off"
                                                                [formControl]="Form_EditPassword.controls['Password']"
                                                                [ngClass]="{'is-invalid':!Form_EditPassword.controls['Password'].valid && Form_EditPassword.controls['Password'].touched}">

                                                            <input *ngIf="!NShowPassword" type="text" name="Password"
                                                                maxlength="20" class="form-control" autocomplete="off"
                                                                [formControl]="Form_EditPassword.controls['Password']"
                                                                [ngClass]="{'is-invalid':!Form_EditPassword.controls['Password'].valid && Form_EditPassword.controls['Password'].touched}">

                                                        </div>

                                                        <div class="px-0 input-group-append">
                                                            <a *ngIf="NShowPassword" (click)="NToogleShowHidePassword()"
                                                                class="btn   d-flex align-items-center cursor-pointer Showbutton bd-0">
                                                                <i class="fa fa-eye-slash fa-1x"
                                                                    aria-hidden="true"></i></a>

                                                            <a *ngIf="!NShowPassword"
                                                                (click)="NToogleShowHidePassword()"
                                                                class="btn  d-flex align-items-center cursor-pointer Showbutton bd-0">
                                                                <i class="fa fa-eye fa-1x" aria-hidden="true"></i></a>
                                                        </div>
                                                    </div>

                                                </div>
                                                <label class="text-danger" for="Password"
                                                    *ngIf="Form_EditPassword.controls['Password'].hasError('required') && Form_EditPassword.controls['Password'].touched">{{
                                                    'System.Users.NewPassword_ER_Required' | translate }}</label>
                                                <label class="text-danger" for="Password"
                                                    *ngIf="Form_EditPassword.controls['Password'].hasError('pattern') ||Form_EditPassword.controls['Password'].hasError('minlength') || Form_EditPassword.controls['Password'].hasError('maxlength')">{{
                                                    'System.Users.NewPassword_ER_Length' | translate }}</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="light p-3 text-right b-b">
                                            <button type="submit" class="btn btn-primary mr-2"
                                                (click)="Form_EditPassword.value.OperationType='new'"
                                                [disabled]="!Form_EditPassword.valid || _HelperService.IsFormProcessing">
                                                <span *ngIf="!_HelperService.IsFormProcessing">
                                                    {{ 'Common.Update' | translate }}
                                                </span>
                                                <span *ngIf="_HelperService.IsFormProcessing">
                                                    <i class="{{ 'Common.SpinnerIcon' | translate }}"></i> {{
                                                    'Common.PleaseWait' |
                                                    translate
                                                    }}...
                                                </span>
                                            </button>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>


                    </form>
                        <!-- <div class="row">
                            <div class="col-md-6">
                                
                                    <div class="form-group">
                                        <label>{{'System.Users.OldPassword' | translate }}
                                            <span class="text-danger">*</span>
                                        </label>
                                        <div class="controls">

                                            <div class="row">
                                                <div class="col-md-12 pd-r-15">
                                                    <input *ngIf="OShowPassword" type="text"
                                                        style="-webkit-text-security: disc;" name="OldPassword"
                                                        maxlength="20" class="form-control" autocomplete="off"
                                                        [formControl]="Form_EditPassword.controls['OldPassword']"
                                                        [ngClass]="{'is-invalid':!Form_EditPassword.controls['OldPassword'].valid && Form_EditPassword.controls['OldPassword'].touched}">

                                                    <input *ngIf="!OShowPassword" type="text" name="OldPassword"
                                                        maxlength="20" class="form-control" autocomplete="off"
                                                        [formControl]="Form_EditPassword.controls['OldPassword']"
                                                        [ngClass]="{'is-invalid':!Form_EditPassword.controls['OldPassword'].valid && Form_EditPassword.controls['OldPassword'].touched}">
                                              

                                                   </div>             
                                                <div class="px-0 input-group-append">
                                                    <a *ngIf="OShowPassword" (click)="OToogleShowHidePassword()"
                                                        class="btn   d-flex align-items-center cursor-pointer Showbutton bd-0">
                                                        <i class="fa fa-eye-slash fa-1x"
                                                            aria-hidden="true"></i></a>

                                                    <a *ngIf="!OShowPassword"
                                                        (click)="OToogleShowHidePassword()"
                                                        class="btn  d-flex align-items-center cursor-pointer Showbutton bd-0">
                                                        <i class="fa fa-eye fa-1x" aria-hidden="true"></i></a>
                                                </div>

                                            </div>

                                        </div>
                                        <label class="text-danger" for="OldPassword"
                                            *ngIf="Form_EditPassword.controls['OldPassword'].hasError('required') && Form_EditPassword.controls['OldPassword'].touched">{{
                                            'System.Users.OldPassword_ER_Required' | translate }}</label>

                                    </div>
                                
                            </div>
                            </div>
       
            
                <div class="row">
                    <div class="col-md-6">
                    
                            <div class="form-group">
                                <label>{{'System.Users.NewPassword' | translate }}
                                    <span class="text-danger">*</span>
                                </label>
                                <div class="controls">
                                    <div class="row">
                                        <div class="col-md-12 pd-r-15">
                                            <input *ngIf="NShowPassword" type="text" name="Password"
                                                style="-webkit-text-security: disc;" maxlength="20"
                                                class="form-control" autocomplete="off"
                                                [formControl]="Form_EditPassword.controls['Password']"
                                                [ngClass]="{'is-invalid':!Form_EditPassword.controls['Password'].valid && Form_EditPassword.controls['Password'].touched}">

                                            <input *ngIf="!NShowPassword" type="text" name="Password"
                                                maxlength="20" class="form-control" autocomplete="off"
                                                [formControl]="Form_EditPassword.controls['Password']"
                                                [ngClass]="{'is-invalid':!Form_EditPassword.controls['Password'].valid && Form_EditPassword.controls['Password'].touched}">

                                        </div>

                                        <div class="px-0 input-group-append">
                                            <a *ngIf="NShowPassword" (click)="NToogleShowHidePassword()"
                                                class="btn   d-flex align-items-center cursor-pointer Showbutton bd-0">
                                                <i class="fa fa-eye-slash fa-1x"
                                                    aria-hidden="true"></i></a>

                                            <a *ngIf="!NShowPassword"
                                                (click)="NToogleShowHidePassword()"
                                                class="btn  d-flex align-items-center cursor-pointer Showbutton bd-0">
                                                <i class="fa fa-eye fa-1x" aria-hidden="true"></i></a>
                                        </div>
                                    </div>

                                </div>
                                <label class="text-danger" for="Password"
                                    *ngIf="Form_EditPassword.controls['Password'].hasError('required') && Form_EditPassword.controls['Password'].touched">{{
                                    'System.Users.NewPassword_ER_Required' | translate }}</label>
                                <label class="text-danger" for="Password"
                                    *ngIf="Form_EditPassword.controls['Password'].hasError('pattern') ||Form_EditPassword.controls['Password'].hasError('minlength') || Form_EditPassword.controls['Password'].hasError('maxlength')">{{
                                    'System.Users.NewPassword_ER_Length' | translate }}</label>
                            
                        </div>
                    </div>
                </div> -->



                </div>
                <div class="tab-pane fade" role="tabpanel" id="tab-8">
                    <div class="card bd-0 p-0">
                        <div class=" pb-3">
                            <div class="card-body">
                                <hcx-addressmanager [data]="_Address" [config]="_AddressConfig" *ngIf="_AddressShow"
                                    (OnAddressSet)="AddressChange($event)">
                                </hcx-addressmanager>
                            </div>
                        </div>
                        <div class="light p-3 text-right b-b">
                            <button type="button" class="btn btn-primary mr-2"
                                (click)="Form_UpdateAddressUser_Process()" [disabled]="_HelperService.IsFormProcessing">
                                <span *ngIf="!_HelperService.IsFormProcessing">
                                    {{ 'Common.Update' | translate }}
                                </span>
                                <span *ngIf="_HelperService.IsFormProcessing">
                                    <i class="{{ 'Common.SpinnerIcon' | translate }}"></i> {{ 'Common.PleaseWait' |
                                    translate
                                    }}...
                                </span>
                            </button>
                        </div>


                    </div>
                </div>
                <div class="tab-pane fade" role="tabpanel" id="security">

                    <div class="card  shadow-none bd-0 p-0 ">
                        <div class=" pb-3">
                            <div class="col-md-12">

                                <div class="card-body px-0">

                                    <div class="mg-y-15">
                                        <div class="tx-14"> Configure Suspicious Transaction Preferences </div>
                                        <div class="tx-12 text-secondary"> Get Notified On Suspicious Transactions
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>Please Configure Maximum Amount Per Transaction<span
                                                        class="text-danger">*</span>
                                                </label>
                                                <div class="input-group text-warn">
                                                    <div class="input-group text-warn">
                                                        <input type="number" name="MaxAmount" maxlength="6"
                                                            class="form-control" [(ngModel)]="Configuration.MaxAmount"
                                                            [ngModelOptions]="{standalone: true}" />

                                                        <span class="input-group-append">
                                                            <button type="button" class="btn btn-white"
                                                                (click)="Security_Update('securitymaximuminvoiceamountpertransactioncap',Configuration.MaxAmount)">
                                                                Update </button>
                                                        </span>
                                                    </div>

                                                </div>
                                                <!-- <label class="text-danger" for="MaxAmount"
                                                    *ngIf="Form_Security.controls['securitymaximuminvoiceamountpertransactioncap'].hasError('required') && Form_Security.controls['securitymaximuminvoiceamountpertransactioncap'].touched"> Please Enter Max Invoice Amount Per Transaction</label>
                                                <label class="text-danger" for="ContactNumber"
                                                    *ngIf="Form_Security.controls['securitymaximuminvoiceamountpertransactioncap'].hasError('minlength') || Form_Security.controls['securitymaximuminvoiceamountpertransactioncap'].hasError('maxlength')"> Enter Valid Max Invoice Amount Per Transaction </label> -->
                                            </div>
                                            <div class="form-group">
                                                <label>Please Enter Maximum Transaction Allowed/Day/Customer/Day<span
                                                        class="text-danger">*</span>
                                                </label>
                                                <div class="input-group text-warn">
                                                    <div class="input-group text-warn">
                                                        <input type="number" name="MaxTransaction" maxlength="6"
                                                            class="form-control"
                                                            [(ngModel)]="Configuration.MaxTransaction"
                                                            [ngModelOptions]="{standalone: true}" />

                                                        <span class="input-group-append">
                                                            <button type="button" class="btn btn-white"
                                                                (click)="Security_Update('securitymaximumtransactionperdaycap',Configuration.MaxTransaction)">
                                                                Update</button>
                                                        </span>
                                                    </div>

                                                </div>
                                                <!-- <label class="text-danger" for="MaxAmount"
                                                    *ngIf="Form_Security.controls['securitymaximumtransactionperdaycap'].hasError('required') && Form_Security.controls['securitymaximumtransactionperdaycap'].touched">Please enter No Of Transations Per/day </label>
                                                <label class="text-danger" for="ContactNumber"
                                                    *ngIf="Form_Security.controls['securitymaximumtransactionperdaycap'].hasError('minlength') || Form_Security.controls['securitymaximumtransactionperdaycap'].hasError('maxlength')">
                                                   Enter Valid Number Transaction Per/Day </label> -->
                                            </div>
                                            <div class="form-group">
                                                <label>Please Enter Maximum Invoice Amount/Transaction/Customer<span
                                                        class="text-danger">*</span>
                                                </label>
                                                <div class="input-group text-warn">
                                                    <div class="input-group text-warn">
                                                        <input type="number" name="MaxAmountPerCustomer" maxlength="6"
                                                            class="form-control"
                                                            [(ngModel)]="Configuration.MaxAmountPerCustomer"
                                                            [ngModelOptions]="{standalone: true}" />

                                                        <span class="input-group-append">
                                                            <button type="button" class="btn btn-white"
                                                                (click)="Security_Update('securitymaximuminvoiceamountperdaycap',Configuration.MaxAmountPerCustomer)">
                                                                Update </button>
                                                        </span>
                                                    </div>

                                                </div>
                                                <!-- <label class="text-danger" for="MaxAmount"
                                                    *ngIf="Form_Security.controls['securitymaximuminvoiceamountperdaycap'].hasError('required') && Form_Security.controls['securitymaximuminvoiceamountperdaycap'].touched">Please Enter Max Invoice Amount Per Day </label>
                                                <label class="text-danger" for="ContactNumber"
                                                    *ngIf="Form_Security.controls['securitymaximuminvoiceamountperdaycap'].hasError('minlength') || Form_Security.controls['securitymaximuminvoiceamountperdaycap'].hasError('maxlength')">
                                                   Enter Valid Max Invoice  Amount </label> -->
                                            </div>

                                            <div class="form-group">
                                                <label for=""> We Will Notify on These Email Address <span
                                                        class="text-danger">*</span> </label>
                                                <div class="input-group text-warn">
                                                    <div class="input-group text-warn">
                                                        <input type="text" name="Email" class="form-control"
                                                            (keyup)="KeyUP()" [(ngModel)]="Configuration.EmailAddress"
                                                            [ngModelOptions]="{standalone: true}" />

                                                        <span class="input-group-append">
                                                            <button type="button" class="btn btn-white"
                                                                (click)="Security_Update('securitynotificationemails',Configuration.EmailAddress)">
                                                                Update </button>
                                                        </span>
                                                    </div>

                                                </div>
                                                <span class="tx-12 text-secondary ">By Using 'semicolon' you can add
                                                    multiple Emails here
                                                </span>
                                                <!-- <button [disabled]="!Form_Security.valid || _HelperService.IsFormProcessing"
                                                    type="button" class="btn btn-primary btn-xs mg-t-10" (click)="AddEmail()"> Add
                                                    Email</button> -->
                                            </div>

                                            <div class="col-md-9 d-flex align-items-center pd-b-60">
                                                <div class="form-group">
                                                    <label for=""></label>
                                                    <div class="d-inline mg-r-5"
                                                        *ngFor='let Term of Emails;let i=index;'>
                                                        <span
                                                            class="badge badge-transparent pd-x-10 pd-t-4 pd-b-6  bd bd-1 bd-gray-500 rounded-50 tx-color-03  tx-14 mg-t-5">
                                                            {{Term}}</span>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>

                                </div>


                            </div>
                        </div>
                        <!-- <div class="light px-3 pb-3 pt-0 text-right b-b">
                            <button type="submit" class="btn btn-primary mr-2"
                                (click)="Form_Security.value.OperationType='new'"
                                [disabled]="!Form_Security.valid || _HelperService.IsFormProcessing">
                                <span *ngIf="!_HelperService.IsFormProcessing">
                                    {{ 'Common.Update' | translate }}
                                </span>
                                <span *ngIf="_HelperService.IsFormProcessing">
                                    <i class="{{ 'Common.SpinnerIcon' | translate }}"></i> {{ 'Common.PleaseWait' |
                                    translate
                                    }}...
                                </span>
                            </button>
                        </div> -->
                    </div>
                </div>
            </div>

        </div><!-- media-body -->

    </div><!-- media -->
</div><!-- container -->
<!-- </div> -->

<div class="modal " id="_Icon_Cropper_Modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body p-0">
                <div class="row no-gutters">
                    <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                        <div class="m-3">
                            <image-cropper [imageBase64]="_HelperService._Icon_Cropper_BaseImage" [aspectRatio]="9/9"
                                format="_HelperService.AppConfig.Icon_Cropper_Options.Format"
                                [maintainAspectRatio]="_HelperService.AppConfig.Icon_Cropper_Options.MaintainAspectRatio"
                                [cropperMinWidth]="_HelperService.AppConfig.Icon_Cropper_Options.MinimumWidth"
                                [cropperMinHeight]="_HelperService.AppConfig.Icon_Cropper_Options.MinimumHeight"
                                [resizeToWidth]="_HelperService.AppConfig.Icon_Cropper_Options.ResizeToWidth"
                                (imageCroppedBase64)="_HelperService.Icon_B64Cropped($event)"
                                (imageLoaded)="_HelperService.Icon_Crop_Loaded()"
                                >
                            </image-cropper>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 bg-light">
                        <div class="p-3">
                            <div class="mb-2">
                                Image Preview
                            </div>
                            <div class="mb-2">
                                <img [src]="_HelperService._Icon_Cropper_Image" class="b-a b-2x img-responsive" />
                            </div>
                            <div>
                                <button type="button" class="btn btn-success " data-dismiss="modal">{{
                                    'Common.PictureDone' |
                                    translate }}</button>
                                <button type="button" class="btn btn-warning "
                                    (click)="_HelperService.Icon_Crop_Clear()">{{ 'Common.PictureClearAndClose' |
                                    translate }}</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>