<!-- acquirer--merchant--sales -->
<ol class="breadcrumb df-breadcrumbs mg-b-10">
  <li class="breadcrumb-item" [routerLinkActive]="['active']"><a
      routerLink="{{ _HelperService.AppConfig.Pages.ThankUCash.Dashboard.Merchant}}" [routerLinkActive]="['active']">
      Dashboard</a></li>

  <li class="breadcrumb-item" [routerLinkActive]="['active']"><a class="text-primary"
      [routerLinkActive]="['active']">Buy Now,Pay later- Settlements
    </a></li>
</ol>


<div class="card bd-b-0 pd-20 mt-3" style="padding-bottom: 2px;">
  <div class="d-sm-flex justify-content-between tx-semibold">

    <ul class="nav nav-line d-flex" id="myTab5" role="tablist" style="flex-wrap: nowrap; border-bottom: 0px !important;">
      <li class=" nav-item cursor-pointer" [routerLinkActive]="['active']">
      <a class="nav-link" id="Stores-tab5" data-toggle="tab" role="tab" [routerLinkActive]="['active']"
        routerLink="{{ _HelperService.AppConfig.Pages.ThankUCash.PanelMerchant.bnpl.PendingSettlements}}"
        aria-controls="Stores" aria-selected="false"> Pending Settlements </a>
      </li>
      <li class="nav-item cursor-pointer" [routerLinkActive]="['active']">
        <a class="nav-link" id="Terminal-tab5" data-toggle="tab" role="tab" [routerLinkActive]="['active']"
          routerLink="{{ _HelperService.AppConfig.Pages.ThankUCash.PanelMerchant.bnpl.Transaction}}"
          aria-controls="Terminal" aria-selected="false"> Clear Settlements </a>
      </li>
      <!-- <li class="text-muted tx-12 text-right" style="margin-left: 440px;">
        <img src="../../../../../assets/img/credit-card (1).png" style="padding-right: 5px;">
        ThankUCash settles amount with you after loan redemption by customer
      </li> -->
    </ul>
    <span class="text-muted tx-12 text-right tx-normal pd-t-10">
      <img src="../../../../../assets/img/credit-card (1).png" style="padding-right: 5px;">
      ThankUCash settles amount with you after loan redemption by customer
    </span>
  </div>
</div>
<router-outlet></router-outlet>