<!-- acquirer--merchants--list -->

<div class="card ">
  <!-- <div class="card-header d-flex justify-content-between">
    Suspicious Transaction

    <div class="btn btn-primary btn-xs" (click)="Form_AddUser_Show()"> Request Transaction </div>
  </div> -->
  <!-- <div class="card-header">
    <div class=" no-gutters">
      <div class="d-sm-flex justify-content-between">
        <div class=" media">
          <div type="button"
            class="wd-40 wd-md-50 ht-40 ht-md-50 bg-primary tx-white mg-r-10 mg-md-r-10 d-flex align-items-center justify-content-center rounded"
            (click)="ToogleType(_HelperService.AppConfig.TerminalTypes.all)">
            <i data-feather="smartphone"></i>
          </div>
          <div class="media-body bd-pink">
            <h6 class="tx-sans tx-uppercase tx-10 tx-spacing-1 tx-color-03 tx-semibold tx-nowrap mg-b-5 mg-md-b-8">
              ALL</h6>
            <h4 class="tx-20 tx-sm-18 tx-md-20 tx-normal tx-rubik mg-b-0">
              {{OverviewData.Total| number: "1.0-0"}}</h4>
          </div>
        </div>
        <div type="button" class=" media mg-t-20 mg-sm-t-0 mg-sm-l-15 mg-md-l-40"
          (click)="ToogleType(_HelperService.AppConfig.TerminalTypes.active)">
          <div
            class="wd-40 wd-md-50 ht-40 ht-md-50 bg-success tx-white mg-r-10 mg-md-r-10 d-flex align-items-center justify-content-center rounded ">
            <i data-feather="smartphone"></i>
          </div>
          <div class="media-body">
            <h6 class="tx-sans tx-uppercase tx-10 tx-spacing-1 tx-color-03 tx-semibold mg-b-5 mg-md-b-8">
              Live</h6>
            <h4 class="tx-20 tx-sm-18 tx-md-20 tx-normal tx-rubik mg-b-0">
              {{OverviewData.Active| number: "1.0-0"}}</h4>
          </div>
        </div>
        <div type="button" class=" media mg-t-20 mg-sm-t-0 mg-sm-l-15 mg-md-l-40"
          (click)="ToogleType(_HelperService.AppConfig.TerminalTypes.idle)">
          <div
            class="wd-40 wd-md-50 ht-40 ht-md-50 bg-MasterCard tx-white mg-r-10 mg-md-r-10 d-flex align-items-center justify-content-center rounded">
            <i data-feather="smartphone"></i>
          </div>
          <div class="media-body">
            <h6 class="tx-sans tx-uppercase tx-10 tx-spacing-1 tx-color-03 tx-semibold mg-b-5 mg-md-b-8">
              Idle</h6>
            <h4 class="tx-20 tx-sm-18 tx-md-20 tx-normal tx-rubik mg-b-0">
              {{OverviewData.Idle| number: "1.0-0"}}</h4>
          </div>
        </div>
        <div type="button" class=" media mg-t-20 mg-sm-t-0 mg-sm-l-15 mg-md-l-40"
          (click)="ToogleType(_HelperService.AppConfig.TerminalTypes.dead)">
          <div
            class="wd-40 wd-md-50 ht-40 ht-md-50 bg-danger tx-white mg-r-10 mg-md-r-10 d-flex align-items-center justify-content-center rounded">
            <i data-feather="smartphone"></i>
          </div>
          <div class="media-body">
            <h6 class="tx-sans tx-uppercase tx-10 tx-spacing-1 tx-color-03 tx-semibold mg-b-5 mg-md-b-8">
              Dead</h6>
            <h4 class="tx-20 tx-sm-18 tx-md-20 tx-normal tx-rubik mg-b-0">
              {{OverviewData.Dead| number: "1.0-0"}}</h4>

          </div>
        </div>
        <div type="button" class=" media mg-t-20 mg-sm-t-0 mg-sm-l-15 mg-md-l-40"
          (click)="ToogleType(_HelperService.AppConfig.TerminalTypes.unused)">
          <div
            class="wd-40 wd-md-50 ht-40 ht-md-50 bg-secondary tx-white mg-r-10 mg-md-r-10 d-flex align-items-center justify-content-center rounded">
            <i data-feather="smartphone"></i>
          </div>
          <div class="media-body">
            <h6 class="tx-sans tx-uppercase tx-10 tx-spacing-1 tx-color-03 tx-semibold mg-b-5 mg-md-b-8">
              Unused</h6>
            <h4 class="tx-20 tx-sm-18 tx-md-20 tx-normal tx-rubik mg-b-0">
              {{OverviewData.Unused| number: "1.0-0"}}</h4>

          </div>
        </div>
      </div>
    </div>
  </div> -->

  <div class="box-header px-3 pd-t-15 pd-b-0  d-flex align-items-center justify-content-between">
    <div class="form-inline ">
      <div class="input-group input-group-sm mr-3">
        <input type="text" class="form-control" [value]="TransactionList_Config.SearchParameter" maxlength="100"
          class="form-control" placeholder="{{ 'Common.Search' | translate }}"
          (keyup)="TransactionList_ToggleOptionSearch( $event, _HelperService.AppConfig.ListToggleOption.Search)">
        <div class="input-group-append">
          <button class="btn btn-outline-light" type="button"
            (click)="TransactionList_ToggleOption( null, _HelperService.AppConfig.ListToggleOption.Search)"><i
              data-feather="search"></i> </button>
        </div>
      </div>


    </div>
    <div class="d-flex ml-auto">
      <button type="button" class="btn  tx-12 rounded-0 bd-gray-200 bd-r-0  btn-outline-danger btn-icon"
        [disabled]='(_HelperService.FilterSnap.id == -1)' (click)="Delete_Filter()">
        <i data-feather="minus-circle"></i> </button>

      <div class="form-group my-auto shadow-none ml-auto " *ngIf="_HelperService._RefreshUI">
        <select2 name="itemId0" [options]="_DataHelperService.S2_NewSavedFilters_Option" class="wd-30 select2"
          [data]="_HelperService.Active_FilterOptions" [value]="_HelperService.Active_FilterOptions[0]"
          (valueChanged)="Active_FilterValueChanged( $event )">
        </select2>
      </div>
      <button type="button" class=" btn btn-outline-success tx-12 bd-l-0 mr-3 rounded-0 bd-gray-200 btn-icon"
        [disabled]='_HelperService.FilterState == this._HelperService.AppConfig.FilterStates.Default || 
      _HelperService.FilterState == this._HelperService.AppConfig.FilterStates.NoChange' (click)="Save_NewFilter()"> <i
          data-feather="plus-circle"></i> </button>

    </div>

    <nav class="nav nav-with-icon tx-20">
      <div class="dropdown dropleft">
        <a href="" class="nav-link mr-2" id="TransactionList_sdropdown" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false"> <i data-feather="align-left" class="tx-20"></i> </a>
        <div class="dropdown-menu tx-13">
          <form class="wd-250 pd-15">


            <h6 class="dropdown-header tx-uppercase tx-12 tx-bold tx-inverse pd-b-20 pd-l-0 pd-t-0">Sort
              <div class="float-right tx-20" *ngIf="TransactionList_Config.Sort.SortOrder == 'desc'"
                (click)="TransactionList_ToggleOption( null, _HelperService.AppConfig.ListToggleOption.SortOrder)">
                <i class="fas fa-sort-alpha-down-alt"></i>
              </div>
              <div class="float-right tx-20" *ngIf="TransactionList_Config.Sort.SortOrder == 'asc'"
                (click)="TransactionList_ToggleOption( null, _HelperService.AppConfig.ListToggleOption.SortOrder)">
                <i class="fas fa-sort-alpha-up-alt"></i>
              </div>
            </h6>

            <a class="dropdown-item cursor-pointer {{TItem.SystemActive?  'SystemActive' :'' }} {{_HelperService.CheckMode == 'dark' ? 'text-white' : 'text-dark' }} "
              *ngFor="let TItem of TransactionList_Config.Sort.SortOptions"
              (click)="TransactionList_ToggleOption( TItem, _HelperService.AppConfig.ListToggleOption.Sort)">
              {{TItem.Name}}
            </a>

            <button type="button" class="btn btn-light btn-sm mr-2 mg-t-20"
              (click)="ResetFilters( null, _HelperService.AppConfig.ListToggleOption.ResetOffset)">
              Reset</button>
            <button type="button" class="btn btn-primary btn-sm  mg-t-20"
              (click)="ApplyFilters( null, _HelperService.AppConfig.ListToggleOption.ApplyFilter,'Sort')">Apply</button>
          </form>
        </div>
      </div>
      <div class="dropdown dropleft">
        <a href="" class="nav-link" id="TransactionList_fdropdown" data-toggle="dropdown" aria-haspopup="true"
          (click)="_HelperService.StopClickPropogation()" aria-expanded="false"> <i data-feather="filter"></i> </a>
        <div class="dropdown-menu tx-13">
          <form class="wd-400  pd-15" *ngIf="ResetFilterControls">
            <h6 class="dropdown-header tx-uppercase tx-12 tx-bold tx-inverse pd-b-20 pd-l-0 pd-t-0">Filters
            </h6>
            <div>
              <div class="form-group">
                <label>Date</label>
                <input type="text" class="form-control  form-daterangepicker" name="daterangeInput" daterangepicker
                  [options]="_HelperService.AppConfig.DateRangeOptions"
                  (selected)="TransactionList_ToggleOption($event, _HelperService.AppConfig.ListToggleOption.Date)" />
              </div>
            </div>
            <div>
              <!-- <div class="form-group">
                <label>Status</label>
              }
                <select2 [options]="_DataHelperService.S2_Status_Option" class="wd-100p"
                  [data]="TransactionList_Config.StatusOptions"
                  (valueChanged)="TransactionList_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.Status)">
                </select2>
              </div> -->
            </div>
            <div>
              <div class="form-group mr-2 mb-2">
                <label>Bank</label>

                <select2 [options]="TransactionList_Filter_Bank_Option" class="wd-100p"
                  (valueChanged)="TransactionList_Filter_Banks_Change($event)">
                </select2>
              </div>

              <div class="form-group mr-2 mb-2">
                <label>Store</label>

                <select2 [options]="TransactionList_Filter_Store_Option" class="wd-100p"
                  (valueChanged)="TransactionList_Filter_Stores_Change($event)">
                </select2>
              </div>
              <div class="form-group mr-2 mb-2">
                <label>Provider</label>

                <select2 [options]="TransactionList_Filter_Provider_Option" class="wd-100p"
                  (valueChanged)="TransactionList_Filter_Providers_Change($event)">
                </select2>
              </div>
              <div class="mg-b-70">
                <!-- <div class="form-group">
                  <ng5-slider [value]="TUTr_InvoiceRangeMinAmount" [highValue]="TUTr_InvoiceRangeMaxAmount"
                    [options]="_HelperService.AppConfig.RangeInvoiceAmountOptions"
                    (userChangeEnd)="TUTr_InvoiceRange_OnChange($event)">
                  </ng5-slider>
                </div> -->
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <div class="controls">
                        <label for="InvoiceRangeMaxAmount">Min Sale Amount</label>
                        <input type="number" min=0 name="InvoiceRangeMinAmount" maxlength="256" class="form-control"
                          [(ngModel)]="TUTr_InvoiceRangeMinAmount"
                          (keyup)="TransactionList_ToggleOption($event,_HelperService.AppConfig.ListToggleOption.SalesRange)">
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <div class="controls">
                        <label for="InvoiceRangeMaxAmount">Max Sale Amount</label>
                        <input type="number" min=0 name="InvoiceRangeMaxAmount" maxlength="256" class="form-control"
                          [(ngModel)]="TUTr_InvoiceRangeMaxAmount"
                          (keyup)="TransactionList_ToggleOption($event,_HelperService.AppConfig.ListToggleOption.SalesRange)">
                      </div>
                    </div>
                  </div>
                </div>

              </div>

            </div>
            <button type="button" class="btn btn-light btn-sm mr-2"
              (click)="ResetFilters( null, _HelperService.AppConfig.ListToggleOption.ResetOffset)">
              Reset</button>
            <button type="button" class="btn btn-primary btn-sm "
              (click)="ApplyFilters( null, _HelperService.AppConfig.ListToggleOption.ApplyFilter,'Other')">Apply</button>
          </form>
        </div>
      </div>
      <a class="nav-link ml-2 RefreshColor RefreshColorOne"
        (click)="TransactionList_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.Refresh)"> <i
          data-feather="refresh-cw"></i> </a>
      <!-- <a class="nav-link ml-2 RefreshColor"
        (click)="TransactionList_ToggleOption( $event,_HelperService.AppConfig.ListToggleOption.Csv)"> <i
          data-feather="download"></i> </a> -->
    </nav>
  </div>
  <div class="pt-0 pd-l-15 pd-b-8">
    <div class="badge badge-transparent pd-y-10 pd-x-15 mx-1 bd bd-1 bd-gray-500 rounded-50 tx-color-03"
      [hidden]="(!_HelperService.FilterSnap.Status) || (_HelperService.FilterSnap.Status==0)">
      {{_HelperService.FilterSnap.StatusName}}
     
    </div>
    <div class="badge badge-transparent pd-y-10 pd-l-15 mx-1 bd bd-1 bd-gray-500 rounded-50 tx-color-03"
      [hidden]="!_HelperService.FilterSnap.Sort.SortColumn || (_HelperService.FilterSnap.Sort.SortColumn=='TransactionDate' && _HelperService.FilterSnap.Sort.SortOrder=='')">
      <span> {{_HelperService.FilterSnap.Sort.SortColumn + "--" + _HelperService.FilterSnap.Sort.SortOrder}}</span>
      <span (click)="RemoveFilterComponent('Sort')"
        class="bd bd-1  mg-l-5 pd-x-5 pd-y-3 rounded-circle bg-primary text-white cursor-pointer"><i
          class="fas fa-times"></i> </span>
    </div>
    <div class="badge badge-transparent pd-y-10 pd-l-15 mx-1 bd bd-1 bd-gray-500 rounded-50 tx-color-03"
      [hidden]="!_HelperService.FilterSnap.StartTime">
      {{_HelperService.GetDateS(_HelperService.FilterSnap.StartTime) + "--" +
      _HelperService.GetDateS(_HelperService.FilterSnap.EndTime)}}
      <span (click)="RemoveFilterComponent('Time')"
        class="bd bd-1  mg-l-5 pd-x-5 pd-y-3 rounded-circle bg-primary text-white cursor-pointer"><i
          class="fas fa-times"></i> </span>
    </div>
    <div class="badge badge-transparent pd-y-10 pd-l-15 mx-1 bd bd-1 bd-gray-500 rounded-50 tx-color-03"
      *ngFor="let TItem of _HelperService.FilterSnap.OtherFilters; let i = index">
      {{TItem.data[0].DisplayName}}
      <span (click)="RemoveFilterComponent('Other',i)"
        class="bd bd-1  mg-l-5 pd-x-5 pd-y-3 rounded-circle bg-primary text-white cursor-pointer"><i
          class="fas fa-times"></i> </span>
    </div>

    <span class="badge badge-pill badge-primary" *ngFor="let TItem of TransactionList_Config.Filters">{{TItem.Title}}</span>

  </div>
  <div class="pt-0 pd-l-15 pd-b-8">
    <div class="badge badge-transparent pd-y-10 pd-l-15 mx-1 bd bd-1 bd-gray-500 rounded-50 tx-color-03"
      [hidden]="
    !(_HelperService.FilterSnap.SalesRange) || (_HelperService.FilterSnap.SalesRange.SalesMin==0 && _HelperService.FilterSnap.SalesRange.SalesMax==10000000)" (click)="RemoveFilterComponent('SalesRange')">
      Sales Range
      [{{_HelperService.FilterSnap.SalesRange.SalesMin + "--" + _HelperService.FilterSnap.SalesRange.SalesMax}}]
      <span class="bd bd-1  mg-l-5 pd-x-5 pd-y-3 rounded-circle bg-primary text-white cursor-pointer"><i
          class="fas fa-times"></i> </span>
    </div>
  </div>
  <div class="card-body p-0">
    <table class="{{ _HelperService.AppConfig.TablesConfig.DefaultClass }}">
      <thead>
        <tr>
          <th class="">Status</th>
          <th class="td-date">Date</th>
          <th>Customer</th>
          <th>Transaction type</th>
          <!-- <th class="td-number">Ref Id</th> -->
          <th class="td-amount text-right">Sale Amount(<span [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span>)</th>
          <th class="">Store</th>
          <th class="">Cashier</th>
          <th>POS</th>
        </tr>
      </thead>
      <tbody>
        <tr  (click)="TransactionList_RowSelected(TItem)" *ngFor="
               let TItem of (TransactionList_Config.Data
                 | paginate
                   : {
                       id: 'TransactionList_Paginator',
                       itemsPerPage: TransactionList_Config.PageRecordLimit,
                       currentPage: TransactionList_Config.ActivePage,
                       totalItems: TransactionList_Config.TotalRecords
                     })
             ">
          <td>
            <div class="">
              <span class="text-lowercase" [ngClass]="TItem.StatusBadge">{{ TItem.StatusName || "--" }}</span>
            </div>
          </td>

          <td class="td-date">
            <div>{{ TItem.TransactionDateD || "--" }}
              <span class="">{{ TItem.TransactionDateT || "--" }}</span>
            </div>
            <div class="tx-12 text-secondary">
              <span class="">{{ TItem.ReferenceNumber || "--" }}</span>
            </div>

          </td>
          <td>
            <div> {{ TItem.UserDisplayName || "--" }}</div>
            <span class="tx-12 text-secondary">{{ TItem.UserMobileNumber || "--" }}</span>
          </td>
          <!-- <td>
            <div class="">
              {{ TItem.UserDisplayName || "--" }}
            </div>
            <div class="tx-12 text-muted">
              {{ TItem.UserMobileNumber || "--" }}
            </div>
          </td> -->
          <td>
            <div class="tx-14 text-uppercase" *ngIf="TItem.TypeName != 'Cash '">
              {{ TItem.CardBrandName || "--" }}
              <span *ngIf="TItem.CardBrandName != undefined">
                <i *ngIf="TItem.CardBrandName.toLowerCase() == 'visa'" class="fab fa-cc-visa tx-teal text-sm "></i>
                <i *ngIf="TItem.CardBrandName.toLowerCase() == 'mastercard'"
                  class="fab fa-cc-mastercard tx-MasterCard text-sm"></i>
                <i *ngIf="TItem.CardBrandName.toLowerCase() == 'verve'"
                  class="fas fa-credit-card tx-verve text-sm  "></i>
              </span>
            </div>
            <div class="  text-uppercase" *ngIf="TItem.TypeName == 'Cash '">
              Cash Payment

              <i class="fab fas fa-money-bill-alt text-cash  tx-primary"></i>
            </div>
            <div class="tx-12 text-muted">
              <span class=""> {{ TItem.CardBankName || "--" }}</span>
            </div>
          </td>
          <!-- <td>
            <div class="text-xs  text-muted">
              {{ TItem.ReferenceNumber | truncateText:10  || "--" }}
            </div>
          </td> -->
          <td class="text-right">
            <div>
              <span [innerHtml]="_HelperService.AppConfig.CurrencySymbol"></span>
              {{ TItem.InvoiceAmount | number: "1.2-2" || "0" }}
            </div>
          </td>

          <td class="">
            <div>{{ TItem.StoreDisplayName || "--" }}</div>
            <div class="tx-12 text-muted">
              {{ TItem.Address | truncateText:40 || "--" }}
            </div>
          </td>


          <td class="">
            <div>{{ TItem.CashierDisplayName || "--" }}</div>
            <div class="tx-12 text-muted">
              {{ TItem.CashierCode || "--" }}
            </div>
          </td>

          <td>
            <div class="tx-bold">{{ TItem.TerminalId || "--" }}
            </div>
            <div class="tx-12 text-muted">
              {{ TItem.AcquirerDisplayName || "--" }}
              <span>- {{ TItem.ProviderDisplayName || "--" }}</span>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="card-footer pd-20">
    <span class="mr-3">
      {{ 'Common.Showing' | translate }}
      <span class="bold">{{TransactionList_Config.ShowingStart}} {{ 'Common.To' | translate }}
        {{TransactionList_Config.ShowingEnd}}
      </span> {{ 'Common.Of' | translate }} {{TransactionList_Config.TotalRecords}}
    </span>
    <span>
      {{ 'Common.Show' | translate }}
      <select class="wd-50 " [(ngModel)]="TransactionList_Config.PageRecordLimit"
        (ngModelChange)="TransactionList_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.Limit)">
        <option [ngValue]="TItem" *ngFor="let TItem of _HelperService.AppConfig.ListRecordLimit">
          {{TItem}}
        </option>
      </select>
    </span>
    <span class="float-right">
      <pagination-controls id="TransactionList_Paginator" class="pagination pagination-space"
        (pageChange)="TransactionList_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.Page)"
        nextLabel="{{ 'Common.Next' | translate }}" previousLabel="{{ 'Common.Previous' | translate }}">
      </pagination-controls>
    </span>
  </div>
</div>

<div class="modal" id="EditCol" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Edit Column</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group" *ngFor="let Col of TempColumnConfig">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" id="gridCheck" [(ngModel)]=Col.Value>
            <label class="form-check-label" for="">
              {{Col.Name}}
            </label>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" (click)="SaveEditCol()">Save</button>
      </div>
    </div>
  </div>
</div>



<div class="off-canvas off-canvas-overlay off-canvas-right" #offCanvas style="width: 480px !important;">
  <div class="off-canvas-content">

    <div id="Form_EditUser_Content" class="off-canvas-body">
      <div class="card bd-b-0">
        <div class="card-header d-flex  justify-content-between">
          <h5 class="pb-0 mb-0"> Transaction Detail </h5>
          <div> <span class="{{CurrentData.StatusB}} mg-l-5">
              {{CurrentData.StatusName || "--"}} </span></div>


        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-md-4 float-left text-secondary">Customer Name</div>
            <div class="col-md-1">:</div>
            <div class="col-md-7 text-right">{{CurrentData.UserDisplayName || "--"}}</div>
          </div>
          <div class="row mg-t-10">
            <div class="col-md-4 float-left text-secondary">Customer Number</div>
            <div class="col-md-1">:</div>
            <div class="col-md-7 text-right">{{CurrentData.UserMobileNumber || "--"}}</div>
          </div>
          <div class="row mg-t-10">
            <div class="col-md-4 float-left text-secondary">Store Name</div>
            <div class="col-md-1">:</div>
            <div class="col-md-7 text-right">{{CurrentData.StoreDisplayName || "--"}}</div>
          </div>
          <div class="row mg-t-10">
            <div class="col-md-4 float-left text-secondary">Acquirer Name</div>
            <div class="col-md-1">:</div>
            <div class="col-md-7 text-right">{{CurrentData.AcquirerDisplayName || "--"}}</div>
          </div>

          <div class="row mg-t-10">
            <div class="col-md-4 float-left text-secondary">Provider Name</div>
            <div class="col-md-1">:</div>
            <div class="col-md-7 text-right">{{CurrentData.ProviderDisplayName || "--"}}</div>
          </div>

          <div class="row mg-t-10">
            <div class="col-md-4 float-left text-secondary">Terminal ID</div>
            <div class="col-md-1">:</div>
            <div class="col-md-7 text-right">{{CurrentData.TerminalReferenceId || "--"}}</div>
          </div>


          <div class="row mg-t-10">
            <div class="col-md-4 float-left text-secondary">Amount</div>
            <div class="col-md-1">:</div>
            <div class="col-md-7 text-right"><span class=" text-sm mg-r-2" [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span>{{CurrentData.InvoiceAmount || "--"}}</div>
          </div>

      

          <div class="row mg-t-10">
            <div class="col-md-4 float-left text-secondary">Reference Number</div>
            <div class="col-md-1">:</div>
            <div class="col-md-7 text-right">{{CurrentData.ReferenceNumber || "--"}}</div>
          </div>

       




        </div>
        <div class="card-footer d-flex justify-content-between full-width" style="position: fixed; bottom:0%; margin-top: -2.5em ;">
          
          <div class="d-flex justify-content-start">
            <div>
              <button type="button" class="btn btn-success" *ngIf="CurrentData.StatusCode == 'transaction.onhold'"
                (click)="Approve()"> Approve </button>
  
            </div>
            <div  >
              <button type="button" class="btn btn-danger mg-l-5 float-right"
                *ngIf="CurrentData.StatusCode == 'transaction.onhold'" (click)="Reject()"> Reject </button>
  
            </div>
  
  
          </div>

          <div class="">
            <button type="button" class="btn btn-secondary mr-2 float-right" (click)="unclick()"> Close </button>
            <!-- <button type="button" class="btn btn-danger mr-2 float-left" (click)="Delete_Confirm()"> Delete </button> -->

          </div>
        </div>
      </div>

    </div>
  </div>
</div>