.fund
{
    white-space: nowrap;
}

.stop-scrolling {
    /* height: 100%; */
    height:730px  !important;
    overflow: hidden !important;
  }

.custom-drp{
    transform: none !important;
    top: 10px !important;
    /* transform:translate3d(0px, -380px, 0px) !important */
}