<!-- <div class="row mg-b-20 mg-lg-b-12">
    <div class="col-4">

      <nav aria-label="breadcrumb">
        <ol class="breadcrumb breadcrumb-style1 mg-b-14">
          <li class="breadcrumb-item active">Dashboard</li>
        </ol>
      </nav>
      <h4 class="mg-b-0 tx-spacing--1"> Today's Overview - <span> {{TodayDate | date }} </span></h4>

    </div>

    <div class="col-8 d-flex align-items-center vertical-align-bottom justify-content-end">
      <div class="form-group  mb-0 pb-0 wd-200" id="FilterPeriod">
        <input type="text" class="form-control form-daterangepicker full-width" name="daterangeInput" daterangepicker
          [options]="_HelperService.AppConfig.DateRangeOptionsWithYear" placeholder="Filter Period"
          (selected)="DateChanged($event, _HelperService.AppConfig.ListToggleOption.Date)" />
      </div>

      <div class="mg-l-5" id="FilterStore">
        <select2 class="wd-300p" [options]="TUTr_Filter_Store_Option"
          (valueChanged)="TUTr_Filter_Stores_Change($event)">
        </select2>
      </div>

      <div class="mg-l-5">
        <button class="btn pd-x-15 btn-primary" id="Rewardcustomer" routerLink="{{_HelperService.AppConfig.Pages.ThankUCash.PanelMerchant.Loyality.Customers}}"
        (click)="openRewardCustomer()" data-placement="bottom"
        data-toggle="popover" data-trigger="focus" title="REWARD CUSTOMER" data-content="Click here to reward your loyal customers">
          <span class="tx-13 mg-l-5">Reward Customer</span> </button>
      </div>
      <div class="mg-l-5" id="Help">
        <button (click)="StartIntro()" class="btn btn-sm pd-x-15 btn-white btn-uppercase"> <i data-feather="info"> </i>
          <span class="tx-13 mg-l-5">Help</span> </button>
      </div>
    </div>
  </div> -->
<div id="foo">


  <div class="row">
    <div class="col-md-12">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb breadcrumb-style1 mg-b-14">
          <li class="breadcrumb-item active" style="font-size: 15px;">Dashboard</li>
        </ol>
      </nav>

    </div>
  </div>

  <div class="d-block d-lg-block d-sm-block d-md-flex d-xl-flex">

    <div class="mr-auto">
      <h4 class="mg-b-0 tx-spacing--1"> Today's Overview - <span> {{TodayDate | date }} </span></h4>
    </div>



    <!-- <div class="p-2 ">
      <div class="form-group  mb-0 pb-0 wd-200" id="FilterPeriod">
        <input type="text" id="frdate" class="form-control form-daterangepicker full-width" name="daterangeInput"
          daterangepicker [options]="_HelperService.AppConfig.DateRangeOptions" placeholder="Filter Period"
          (selected)="DateChanged($event, _HelperService.AppConfig.ListToggleOption.Date)" (click)="ShowDatePicker()" />
      </div>
    </div> -->
    <div class="p-2 ">
      <div class="mg-l-5" id="FilterStore">
        <select2 class="wd-300p" [options]="TUTr_Filter_Store_Option"
        [data]="stores" [value]="storeId"
          (valueChanged)="TUTr_Filter_Stores_Change($event)">
        </select2>
      </div>
    </div>
    <div class="p-2 " id="Help">
      <button class="btn pd-x-15 btn-white" id="howitworks" (click)="StartIntro()" title="howitworks">
        <span class="tx-13 mg-l-5"><i class="fa fa-info-circle" style="padding-right: 5px;" aria-hidden="true"></i>
          How It Works</span> </button>
    </div>
    <!-- <div class="p-2 ">
      <button class="btn pd-x-15 btn-primary" id="Rewardcustomer"
        routerLink="{{_HelperService.AppConfig.Pages.ThankUCash.PanelMerchant.Loyality.Customers}}"
        (click)="openRewardCustomer()" data-placement="bottom" data-toggle="popover" data-trigger="focus"
        title="REWARD CUSTOMER" data-content="Click here to reward your loyal customers">
        <span class="tx-13 mg-l-5">Reward Customer</span> </button>
    </div> -->

  </div>


  <!-- <div class="row row-xs mg-b-10">
    <div class="col-sm-6 col-lg-3">
      <div class="card card-body shadow-none ht-100p"
        style="background: linear-gradient(to right,#0168fa, #025fe3 49.9%, #035edd 60.1%, #0253c5 100%);">
        <h6 id="WalletBalance" class="tx-uppercase tx-11 tx-spacing-1 text-white tx-semibold mg-b-12">Wallet Balance
        </h6>
        <div class="d-flex d-lg-block d-xl-flex justify-content-between fund">
          <h4 class="tx-rubik text-white mg-b-8 mg-r-5 lh-1 Word-break">
            <span class="text-sm text-white" [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span>
            {{(_AccountBalance.Balance | number: "1.2-2" || "00")}}
          </h4>

          <span><button type="button" class="btn btn-primary tx-10 " (click)="OpenPaymentOptions()">
              <i data-feather="plus"></i> Fund Wallet
            </button></span>
        </div>
        <p class="tx-12 text-white mg-b-0 "> Total amount in wallet</p>
      </div>
    </div>
    <div class="col-sm-6 col-lg-3 mg-t-15  mg-sm-t-0">
      <div class="card card-body shadow-none ht-100p">
        <h6 id="SaleAmount" class="tx-uppercase tx-11 tx-spacing-1 tx-color-02 tx-semibold mg-b-12">Sale amount</h6>
        <div class="d-flex d-lg-block d-xl-flex align-items-end">
          <h3 class=" tx-dark tx-rubik mg-b-8 mg-r-5 lh-1">
            <span class="text-sm" [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span>
            {{_AccountOverview.InvoiceAmount | number: "1.0-1" || "--"}}
          </h3>
        
        </div>
        <div class="row">
          <div class="col-10">
            <p class="tx-12 text-secondary mg-b-0">Total sale amount from {{_AccountOverview.Transactions}} transactions
            </p>
          </div>
          <div class="col-2 px-0">
            <span
              routerLink="{{_HelperService.AppConfig.Pages.ThankUCash.PanelMerchant.TransactionHistory.PurchaseHistory}}"
              class="bd bd-1  mg-l-4 pd-x-4 pd-y-2 rounded-circle bg-primary text-white cursor-pointer text-right"><i
                class="fa fa-arrow-right"></i> </span>
          </div>
        </div>


      </div>
    </div>
    <div class="col-sm-6 col-lg-3 mg-t-15  mg-lg-t-0">
      <div class="card card-body shadow-none ht-100p">
        <h6 id="CustomerVisits" class="tx-uppercase tx-11 tx-spacing-1 tx-color-02 tx-semibold mg-b-12">Customer visits
        </h6>
        <div class="d-flex d-lg-block d-xl-flex align-items-end">
          <h3 class="tx-dark tx-rubik  mg-b-8 mg-r-5 lh-1">
            {{_AccountOverview.Customers | number: "1.0-1" || "--"}} </h3>
        </div>
        <div class="row">
          <div class="col-10">
            <p class="tx-12 text-secondary mg-b-0 ">Total number of customer visits</p>
          </div>
          <div class="col-2 px-0">
            <span routerLink="{{_HelperService.AppConfig.Pages.ThankUCash.PanelMerchant.Loyality.Customers}}"
              class="bd bd-1  mg-l-4 pd-x-4 pd-y-2 rounded-circle bg-primary text-white cursor-pointer text-right"><i
                class="fa fa-arrow-right"></i> </span>
          </div>
        </div>

      </div>
    </div>
    <div class="col-sm-6 col-lg-3 mg-t-15  mg-lg-t-0">
      <div class="card card-body shadow-none ht-100p">
        <h6 id="RewardPercentage" class=" tx-uppercase tx-11 tx-spacing-1 tx-color-02 tx-semibold mg-b-12">My Reward
          Percentage </h6>
        <div class=" row d-flex d-lg-block d-xl-flex align-items-center"
          *ngIf="_LoyaltyConfig.Reward.TucCommissionSource == 'Reward Amount'">
          <div class="col-md-6">
            <h3 class=" tx-dark tx-rubik  mg-b-6 mg-r-5 lh-1">
              {{((_LoyaltyConfig.Reward.UserPercentage/100) *
              _LoyaltyConfig.Reward.RewardPercentage).toFixed(2)}}%
            </h3>
          </div>
          <div class="pd-l-10 bd-l col-md-6">
            <span class="tx-medium mb-0 pb-0">( {{ _LoyaltyConfig.Reward.RewardPercentage || "0"}} %)</span>
          </div>
        </div>
        <div class=" row d-flex d-lg-block d-xl-flex align-items-center"
          *ngIf="_LoyaltyConfig.Reward.TucCommissionSource ==  'Invoice Amount'">
          <div class="col-md-12">
            <h3 class=" tx-dark tx-rubik  mg-b-6 mg-r-5 lh-1">
              {{_LoyaltyConfig.Reward.RewardPercentage.toFixed(2)}}%
            </h3>
          </div>
        </div>
        <div class="row">
          <div class="col-10">
            <p class="tx-12 text-secondary mg-b-0 ">Tap here to <span class="text-primary cursor-pointer"
                (click)="Form_AddUser_Show()">Change Reward Percentage</span>
            </p>
          </div>
          <div class="col-2 px-0">
            <span hidden
              class="bd bd-1  mg-l-4 pd-x-4 pd-y-2 rounded-circle bg-primary text-white cursor-pointer text-right"><i
                class="fa fa-arrow-right"></i> </span>
          </div>
        </div>

      </div>
    </div>
  </div> -->

  <div class="row row-xs mg-b-10">
    <div class="col-sm-6 col-lg-3" id="allcustomers">
      <div class="card card-body shadow-none ht-100p cursor-pointer" style="background: #716195;">
        <h6 class="tx-uppercase text-white tx-11 tx-spacing-1 tx-color-02 tx-semibold mg-b-8">All customers</h6>
        <div class="d-flex d-lg-block d-xl-flex align-items-end">
          <h3 class="tx-rubik text-white mg-b-8 mg-r-5 lh-1">
            {{OverviewData.Total|| 0}}</h3>
          <!-- <p class="tx-11 tx-color-03 mg-b-0  mg-b-10"><span class="tx-medium tx-danger">0.7% <i
                class="icon ion-md-arrow-down"></i></span></p> -->
        </div>
        <p class="tx-12 text-white mg-b-0"> Total Customers</p>
      </div>
    </div><!-- col -->
    <div class="col-sm-6 col-lg-3 mg-t-15  mg-sm-t-0" id="newcustomers">
      <div class="card card-body shadow-none ht-100p cursor-pointer " style="background: #0086D1;">
        <h6 class="tx-uppercase text-white tx-11 tx-spacing-1 tx-color-02 tx-semibold mg-b-8">New Customers</h6>
        <div class="d-flex d-lg-block d-xl-flex align-items-end">
          <h3 class=" text-white tx-rubik mg-b-8 mg-r-5 lh-1">
            {{OverviewData.New|| 0}}</h3>
          <!-- <p class="tx-11 tx-color-03 mg-b-0  mg-b-10"><span class="tx-medium tx-danger">0.7% <i
                class="icon ion-md-arrow-down"></i></span></p> -->
        </div>
        <p class="tx-12 text-white mg-b-0">Newly registered customers</p>
      </div>
    </div><!-- col -->
    <div class="col-sm-6 col-lg-3 mg-t-15  mg-lg-t-0"  id="returningcustomers">
      <div class="card card-body shadow-none cursor-pointer ht-100p" style="background: #D100B0;">
        <h6 class="tx-uppercase text-white tx-11 tx-spacing-1 tx-color-02 tx-semibold mg-b-8">RETURNING customers</h6>
        <div class="d-flex d-lg-block d-xl-flex align-items-end">
          <h3 class="text-white tx-rubik  mg-b-8 mg-r-5 lh-1">
            {{OverviewData.Repeat|| 0}} </h3>
        </div>
        <p class="tx-12 text-white mg-b-0">Customers who visits frequently</p>
      </div>
    </div><!-- col -->
    <div class="col-sm-6 col-lg-3 mg-t-15  mg-lg-t-0" id="inactivecustomers">
      <div class="card card-body cursor-pointer shadow-none ht-100p" style="background: #CC9302;">
        <h6 class=" tx-uppercase text-white tx-11 tx-spacing-1 tx-color-02 tx-semibold mg-b-8">Inactive customers</h6>
        <div class="d-flex d-lg-block d-xl-flex align-items-end">
          <h3 class=" text-white tx-rubik  mg-b-8 mg-r-5 lh-1">
            {{OverviewData.Lost|| 0}}</h3>
        </div>
        <p class="tx-12 text-white mg-b-0">Customers who hasn't visited over one month</p>
      </div>
    </div><!-- col -->
  </div>

  <div class="row row-xs mg-b-10" >
    <div class="col-lg-7 col-xl-7 col-sm-12 col-md-12" id="CustomerChart">
      <div class="card" *ngIf="_Visits.HeigestSales.Hour != null">
        <div
          class="card-header bd-b-0 pd-t-20 pd-lg-t-25 pd-l-20 pd-lg-l-25 d-flex flex-column flex-sm-row align-items-sm-start justify-content-sm-between">
          <div>
            <h6 id="CustomerHourly" class="mg-b-5 tx-14">Today’s Customers Hourly Visits</h6>
          </div>
          <!-- <div class="btn-group mg-t-20 mg-sm-t-0">
            <button class="btn btn-xs btn-white btn-uppercase">Day</button>
            <button class="btn btn-xs btn-white btn-uppercase">Week</button>
            <button class="btn btn-xs btn-white btn-uppercase active">Month</button>
          </div> -->
          <!-- btn-group -->
        </div><!-- card-header -->
        <div class="card-body pd-x-25 pd-t-0">
          <div class="row pd-b-15">
            <div class="col-sm-6">
              <h3 *ngIf='_Visits.HeigestSales' class="tx-normal tx-rubik tx-spacing--2 mg-b-5">
                {{_Visits.HeigestSales.HourAmPm}} -
                {{_Visits.HeigestSales.HourAmPmNext}}
              </h3>
              <h6 class="tx-uppercase tx-11 tx-spacing-1 tx-color-02 tx-semibold mg-b-5 text-success">Heavy Traffic
                hour</h6>
              <p class="mg-b-0 tx-12 tx-color-03">Rush hour of the day, <b class="tx-dark">
                  {{_Visits.HeigestSales.TotalCustomer||'0'}} </b> customer visited
              </p>
            </div><!-- col -->
            <div class="col-sm-6 mg-t-20 mg-sm-t-0">
              <h3 *ngIf='_Visits.LowestSales' class="tx-normal tx-rubik tx-spacing--2 mg-b-5">
                {{_Visits.LowestSales.HourAmPm}} -
                {{_Visits.LowestSales.HourAmPmNext}}
              </h3>
              <h6 class="tx-uppercase tx-11 tx-spacing-1 tx-color-02 tx-semibold mg-b-5 text-danger">Low Traffic Hour
              </h6>
              <p class="mg-b-0 tx-12 tx-color-03">Minimum rush time of the day, <b
                  class="tx-dark">{{_Visits.LowestSales.TotalCustomer||'0'}} </b>customers visited</p>
            </div><!-- col -->
          </div>
          <div class="row align-items-sm-end">
            <div class="col-lg-12 col-xl-12 ht-100p">
              <canvas *ngIf="showVisitsChart" class="chart-six" baseChart #DataPlot="base-chart"
                [datasets]="VisitslineChartData" [labels]="VisitslineChartLabels"
                [options]="_HelperService.ChartConfig.BarChart.Options" [colors]="lineChartColors"
                [plugins]="_HelperService.ChartConfig.LineChart.Options.plugins"
                [chartType]="_HelperService.ChartConfig.BarChart.Type">
              </canvas>
            </div>
          </div>
        </div>
      </div>
      <div class="card text-center  ht-100p" *ngIf="_Visits.HeigestSales.Hour == null">
        <div
          class="card-header bd-b-0 pd-t-20 pd-lg-t-25 pd-l-20 pd-lg-l-25 d-flex flex-column flex-sm-row align-items-sm-start justify-content-sm-between">
          <h6 class="mg-b-5  tx-14">Today’s Customers Hourly Visits</h6>
        </div>
        <!-- <div class="card-body pd-x-25 pd-t-0 ">
          <img src="../../../../../assets/img/data_not_available.png" alt="">
          <h4 class="pd-t-10">No Transactions in this time frame.</h4>
          <div class="error-details ">No transactions took place during the time frame you selected !
          </div>
        </div> -->
        <div style="height:200px" class="text-center m-auto  text-muted">
          <div>
            <div>
              <div
                class="wd-140 wd-md-150 ht-140 ht-md-150 bd bd-2 bd-muted bg-transparent tx-muted tx-32 bd-gray-300 m-auto d-flex align-items-center justify-content-center rounded-circle">
                <!-- <i class="fas fa-calculator tx-50"></i> -->
                <img src="../../../../../assets/images/walk.svg" alt="">
              </div>
              <div class="pt-3">
                <span class="text-secondary tx-regular tx-12 "> Seems Like you have </span><br>
                <span class="text-secondary tx-medium tx-14 ">No Customer visits today</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-5 col-xl-5 col-sm-12 col-md-12 mg-t-15  mg-lg-t-0" id="Highlights">
      <div class="card ht-100p">
        <div
          class="card-header d-flex align-items-center pd-t-20 pd-lg-t-25 pd-l-20 pd-lg-l-25 justify-content-between">
          <h5 class="mg-b-5 tx-14 ">Highlights of last 30 days <br>
          </h5>
        </div>
        <ul class="list-group list-group-flush tx-14">
          <li routerLink="{{_HelperService.AppConfig.Pages.ThankUCash.PanelMerchant.Loyality.Customers}}"
            class="list-group-item d-flex pd-sm-x-20 pd-y-20 cursor-pointer tx-dark">
            <div class="pd-l-10">
              <p class="mg-b-0">Total Customers</p>
            </div>
            <div class="mg-l-auto d-flex align-self-center">
              <nav class="nav nav-icon-only">
                <h5 class="tx-normal tx-rubik mg-b-0 lh-1"> {{_AccountCustomerOverview.Total | number: "1.0-1" || "--"}}
                </h5>

                <a class="nav-link d-none d-sm-block"><i data-feather="chevron-right"></i> </a>
              </nav>
            </div>
          </li>
          <li routerLink="{{_HelperService.AppConfig.Pages.ThankUCash.PanelMerchant.Loyality.Visits}}"
            class="list-group-item d-flex pd-x-20 pd-y-20 cursor-pointer tx-dark">
            <div class="pd-l-10">
              <p class=" mg-b-0">Visit by New Customers</p>
            </div>
            <div class="mg-l-auto d-flex align-self-center">
              <nav class="nav nav-icon-only">
                <h5 class="tx-normal tx-rubik mg-b-0  lh-1">{{_AccountCustomerOverview.New | number: "1.0-1" || "--"}}
                </h5>

                <a class="nav-link d-none d-sm-block"><i data-feather="chevron-right"></i> </a>
              </nav>
            </div>
          </li>
          <li routerLink="{{_HelperService.AppConfig.Pages.ThankUCash.PanelMerchant.Loyality.Visits}}"
            class="list-group-item d-flex pd-x-20 pd-y-20 cursor-pointer tx-dark">
            <div class="pd-l-10">
              <p class="mg-b-0">Visit by Loyal Customers</p>
            </div>
            <div class="mg-l-auto d-flex align-self-center">
              <nav class="nav nav-icon-only">
                <h5 class="tx-normal tx-rubik mg-b-0 lh-1">{{_AccountCustomerOverview.Repeat | number: "1.0-1" || "--"}}
                </h5>

                <a class="nav-link d-none d-sm-block"><i data-feather="chevron-right"></i> </a>

              </nav>
            </div>
          </li>
          <li routerLink="{{_HelperService.AppConfig.Pages.ThankUCash.PanelMerchant.Loyality.Visits}}"
            class="list-group-item d-flex pd-x-20 pd-y-20 cursor-pointer tx-dark">
            <div class="pd-l-10">
              <p class=" mg-b-0">Avg. Spending / Visit</p>
            </div>
            <div class="mg-l-auto d-flex align-self-center">
              <nav class="nav nav-icon-only">
                <h5 class="tx-normal tx-rubik mg-b-0 lh-1"> <span
                    [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span>
                  {{_AccountCustomerOverview.AverageInvoiceAmount
                  || "0" | number: "1.0-1" }}
                </h5>

                <a class="nav-link d-none d-sm-block"><i data-feather="chevron-right"></i> </a>

              </nav>
            </div>
          </li>
          <li routerLink="{{_HelperService.AppConfig.Pages.ThankUCash.PanelMerchant.Loyality.Visits}}"
            class="list-group-item d-flex pd-x-20 pd-y-20 cursor-pointer tx-dark">
            <div class="pd-l-10">
              <p class=" mg-b-0">Avg. Visits / Customer</p>
            </div>
            <div class="mg-l-auto d-flex align-self-center">
              <nav class="nav nav-icon-only">
                <!-- <h6 class="mg-b-0 tx-rubik tx-normal  ">
                  {{_AccountCustomerOverview.AverageVisit || "0" | number: "1.0-1" }}</h6> -->
                <h5 class="tx-normal tx-rubik mg-b-0  lh-1">
                  {{_AccountCustomerOverview.AverageVisit || "0" | number: "1.0-1" }}</h5>

                <a class="nav-link d-none d-sm-block"> <i data-feather="chevron-right"></i> </a>

              </nav>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <!-- <div class="row row-xs mg-b-10 mt-5">
    <div class="col-lg-6 col-xl-6 col-sm-12 col-md-12" id="RewardChart">
      <div class="card">
        <div
          class="card-header bd-b-0 pd-t-20 pd-lg-t-25 pd-l-20 pd-lg-l-25 d-flex flex-column flex-sm-row align-items-sm-start justify-content-sm-between">
          <div>
            <h6 class="mg-b-5 tx-14 text-uppercase">Reward Chart</h6>
          </div>
        </div>
        <div class="ml-auto mr-5">
          <div class="d-flex align-items-center mb-1">
            <div class="d-chart-l1"></div>
            <div class="ml-2 tx-color-02">Unclaimed rewards</div>
          </div>
          <div class="d-flex align-items-center mb-1">
            <div class="d-chart-l2"></div>
            <div class="ml-2 tx-color-02">Redeemed</div>
          </div>
          <div class="d-flex align-items-center">
            <div class="d-chart-l3"></div><span class="ml-2 tx-color-02">Pending rewards</span>
          </div>
        </div>
        <div class="card-body pd-x-25 pd-t-0">
          <div>
            <canvas style="height: 200px;" baseChart [data]="doughnutChartRewardData"
              [colors]="doughnutChartRewardColors" [chartType]="_HelperService.ChartConfig.DoughnetChartWithLabel.Type"
              [options]="_HelperService.ChartConfig.DoughnetChartWithLabel.Options"
              [plugins]="_HelperService.ChartConfig.Plugins" [legend]="false"
              [labels]="['Unclaimed rewards','Redeemed','Pending rewards']"></canvas>
          </div>
          <div class="d-flex justify-content-center mt-4">Total rewards given : {{totalRewardsgiven || 0}} points</div>
        </div>
      </div>
    </div>

    <div class="col-lg-6 col-xl-6 col-sm-12 col-md-12 mg-t-15  mg-lg-t-0" id="CustomerChart">
      <div class="card ht-100p">
        <div
          class="card-header bd-b-0 d-flex align-items-center pd-t-20 pd-lg-t-25 pd-l-20 pd-lg-l-25 justify-content-between">
          <h5 class="mg-b-5 tx-14 text-uppercase">Customer chart
          </h5>
        </div>
        <div class="ml-auto mr-5">
          <div class="d-flex align-items-center mb-1">
            <div class="p-chart-l1"></div>
            <div class="ml-2 tx-color-02">Loyal customers</div>
          </div>
          <div class="d-flex align-items-center mb-1">
            <div class="p-chart-l2"></div>
            <div class="ml-2 tx-color-02">New customers</div>
          </div>
          <div class="d-flex align-items-center">
            <div class="p-chart-l3"></div><span class="ml-2 tx-color-02">Lost customers</span>
          </div>
        </div>
        <div class="card-body pd-x-25 pd-t-0">
          <div>
            <canvas style="height: 200px;" baseChart [data]="pieChartData" [colors]="pieChartCustomerColors"
              [labels]="pieChartLabels" [chartType]="_HelperService.ChartConfig.PieChartWithLabel.Type"
              [options]="_HelperService.ChartConfig.PieChartWithLabel.Options"
              [plugins]="_HelperService.ChartConfig.Plugins" [legend]="false">
            </canvas>
          </div>
          <div class="d-flex justify-content-center mt-4">Total customers: {{totalCustomers}} </div>
        </div>
      </div>
    </div>
  </div> -->
  <!-- <div class="card" id="Transactions" style="top:25px;border-bottom: 0px;">
    <div
      class="card-header bd-b-0 pd-t-20 pd-lg-t-25 pd-l-20 pd-lg-l-25 d-flex flex-column flex-sm-row align-items-sm-start justify-content-sm-between">
      <div>
        <h6 class="mg-b-5 tx-14 text-uppercase">Recent Transactions</h6>
      </div>
    </div>
  </div> -->
  <!-- <div class="row mt-4">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-body p-0">
          <table class="{{ _HelperService.AppConfig.TablesConfig.DefaultClass }}">
            <thead>
              <tr>
                <th class="">Status</th>
                <th class="td-date">Date</th>
                <th>Customer</th>
                <th>Type</th>
                <th class="td-number">Ref Id</th>
                <th class="td-amount">Sale Amount(<span
                    [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span>)</th>
                <th class="">Store</th>
                <th class="">Cashier</th>
                <th>POS</th>
              </tr>
            </thead>
            <tbody *ngIf="TList.length > 0">
              <tr *ngFor="let TItem of TList">
                <td class="">
                  <div class="">
                    <span class="px-2 text-lowercase badge rounded-pill badge-success">{{ TItem.StatusName || "--"
                      }}</span>
                  </div>
                  <div class="text-primary tx-12 mg-t-5 ml-1"> Reward </div>
                </td>

                <td class="td-date">
                  <div>{{ TItem.TransactionDateD || "--" }} </div>
                  <span class="tx-12 text-secondary">{{ TItem.TransactionDateT || "--" }}</span>
                </td>
                <td>
                  <div> {{ TItem.UserMobileNumber || "--" }}</div>
                  <span class="tx-12 text-secondary">{{ TItem.UserDisplayName || "--" }}</span>
                </td>
                <td>
                  <div class="tx-14 ">

                    <span *ngIf="TItem.CardBrandName != undefined">
                      <i *ngIf="TItem.CardBrandName.toLowerCase() == 'visa'"
                        class="fab fa-cc-visa tx-teal text-sm "></i>
                      <i *ngIf="TItem.CardBrandName.toLowerCase() == 'mastercard'"
                        class="fab fa-cc-mastercard tx-MasterCard text-sm"></i>
                      <i *ngIf="TItem.CardBrandName.toLowerCase() == 'verve'"
                        class="fas fa-credit-card tx-verve text-sm  "></i>
                    </span>
                    {{ TItem.TypeName || "--" }}
                  </div>
                  <div class="tx-12 text-muted">
                    <i class="d-none"></i>
                    <span class=""> {{ TItem.CardBankName }}</span>
                  </div>
                </td>
                <td>
                  <div class="text-xs  text-muted">
                    {{ TItem.ReferenceNumber || "--" }}
                  </div>
                </td>
                <td class="">
                  <div>
                    <span [innerHtml]="_HelperService.AppConfig.CurrencySymbol"></span>
                    {{ TItem.InvoiceAmount | number: "1.2-2" || "0" }}
                  </div>
                </td>

                <td class="">
                  <div>{{ TItem.StoreDisplayName || "--" }}</div>
                  <div class="tx-12 text-muted">
                    {{ TItem.Address || "--" }}
                  </div>
                </td>


                <td class="">
                  <div>{{ TItem.CashierDisplayName || "--" }}</div>
                  <div class="tx-12 text-muted">
                    {{ TItem.CashierCode || "--" }}
                  </div>
                </td>

                <td>
                  <div class="tx-bold">{{ TItem.TerminalId || "--" }}
                  </div>
                  <div class="tx-12 text-muted">
                    {{ TItem.AcquirerDisplayName || "--" }}
                  </div>
                </td>
              </tr>
            </tbody>
            <tbody *ngIf="TList.length == 0">
              <tr>
                <td colspan="9" class="p-4">
                  <div class="d-flex justify-content-center tx-color-03">
                    No recent transaction found
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div> -->

  <!-- 
  <div class="row row-xs d-flex justify-content-between mt-5 mb-3">
    <h4 id="SalesPerformance" class="mg-b-0 pd-l-5 tx-spacing--1 d-flex align-items-center"> Recent Sales Performances
    </h4>
  </div> -->
  <!-- <div class="row row-xs mg-t-10">
    <div class="col-sm-12 col-lg-4" id="CurrentDay">
      <div class="card ht-100p">
        <div class="card-header text-center">
          <h4 class="tx-14 tx-uppercase tx-dark pb-0 mg-b-4"> Today </h4>
          <div class="tx-12 text-secondary"> Today’s sales trend compared with

            <span class="tx-dark tx-bold position-relative">
              <a href="" class="" id="TodaySalesTrend_dropdown" data-toggle="dropdown" aria-haspopup="true"
                (click)="_HelperService.StopClickPropogation()" aria-expanded="false">{{lastdaytext}}
                <i style="height:18px!important; width: 18px !important;" data-feather="chevron-down"></i>
              </a>
              <div class="dropdown-menu custom-drp tx-13">
                <form class="wd-250 mb-n2 pd-15">
                 
                  <a class="pd-x-15 dropdown-item cursor-pointer  {{_HelperService.CheckMode == 'dark' ? 'text-white' : 'text-primary' }} "
                    (click)="CloseRowModal(0)">
                    <span class=""> Same day, Last Week</span>
                  </a>
           
                  <a (click)="ShowHideCalendar(_HelperService.AppConfig.DatePickerTypes.hour)"
                    class="pd-x-15 dropdown-item cursor-pointer  {{_HelperService.CheckMode == 'dark' ? 'text-white' : 'text-primary' }} ">
                    <span class=""> Choose any Date</span>
                  </a>
                  <div class="form-group mb-0">
                    <div [hidden]='hideDailyPicker' id="dailydate"></div>
                  </div>
                </form>
              </div>
            </span>

          </div>
        </div>
        <div class="text-center mg-t-20">
          <div class="pb-0 mb-0 ">
            <h3 *ngIf="computeFlag(_Daily)==-1" class="tx-normal tx-rubik tx-spacing--2  text-danger mg-b-5">
              {{computePerc(_Daily)}}</h3>

            <h3 *ngIf="computeFlag(_Daily)==0" class="tx-normal tx-rubik tx-spacing--2  text-secondary mg-b-5">
              {{computePerc(_Daily)}}</h3>

            <h3 *ngIf="computeFlag(_Daily)==1" class="tx-normal tx-rubik tx-spacing--2  text-success mg-b-5">
              {{computePerc(_Daily)}}</h3>
            <h6 *ngIf="computeFlag(_Daily)==1" class="tx-14 tx-normal text-secondary    mg-b-0"><i
                class="fas fa-arrow-circle-up tx-16 tx-success mg-r-5"></i> Leading Compared To
              <span class="tx-14 tx-medium  tx-dark"> {{lastdaytext}} </span>
            </h6>
            <h6 *ngIf="computeFlag(_Daily)==0" class=" tx-14 tx-normal text-secondary    mg-b-0"><i
                style="height:18px!important; width: 18px !important;" data-feather="pause-circle"></i> Same As
              <span class="tx-14 tx-medium  tx-dark"> {{lastdaytext}}</span>
            </h6>
            <h6 *ngIf="computeFlag(_Daily)==-1" class="tx-14 tx-normal text-secondary   mg-b-0"><i
                class="fas fa-arrow-circle-down tx-16 tx-danger mg-r-5"></i>Lagging Compared To
              <span class="tx-14 tx-medium  tx-dark"> {{lastdaytext}} </span>
            </h6>
          </div>
        </div>
        <div class="d-flex justify-content-around mg-t-20">
          <div class="text-center">
            <span class="text-secondary tx-12 tx-uppercase pd-b-5"> Today </span>
            <div class="tx-rubik tx-dark tx-18"> <span
                [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span>
              {{_Daily.ActualSalesAmount| number: "1.2-2" ||'0'}} </div>

          </div>
          <div class="text-center">
            <span class="text-secondary tx-12 tx-uppercase pd-b-5"> {{lastdaytext}} </span>
            <div class="tx-rubik tx-dark tx-18"> <span
                [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span>
              {{_Daily.CompareSalesAmount | number: "1.2-2"||'0'}} </div>
          </div>


        </div>
        <div class="card-body pd-t-10">
          <canvas *ngIf="showDailyChart" class="" height="80px" baseChart #DataPlot="base-chart"
            [datasets]="DailylineChartData" [labels]="DailylineChartLabels"
            [options]="_HelperService.ChartConfig.LineChart.OptionsCompare"
            [plugins]="_HelperService.ChartConfig.LineChart.Options.plugins"
            [chartType]="_HelperService.ChartConfig.LineChart.Type">
          </canvas>
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-lg-4 mg-t-15  mg-lg-t-0" id="CurrentWeek">
      <div class="card ht-100p">
        <div class="card-header text-center">
          <h4 class="tx-14 tx-uppercase tx-dark pb-0 mg-b-4"> Current week </h4>
          <div class="tx-12 text-secondary"> Current week trend compared with <span class="tx-dark tx-bold">
              <span class="tx-12 position-relative">
                <a href="" class="" id="WeekSalesTrend_dropdown" data-toggle="dropdown" aria-haspopup="true"
                  (click)="_HelperService.StopClickPropogation()" aria-expanded="false">{{lastweekCustom}}
                  <i style="height:18px!important; width: 18px !important;" data-feather="chevron-down"></i>
                </a>
                <div class="dropdown-menu custom-drp tx-13">
                  <form class="wd-250 mb-n2 pd-15">

                    <a class="dropdown-item cursor-pointer  {{_HelperService.CheckMode == 'dark' ? 'text-white' : 'text-primary' }} "
                      (click)="CloseRowModal(1)">
                      <span class="pd-r-10 "></span>Same week, Last Month
                    </a>
                    <a (click)="ShowHideCalendar(this._HelperService.AppConfig.DatePickerTypes.week)"
                      class="dropdown-item cursor-pointer  {{_HelperService.CheckMode == 'dark' ? 'text-white' : 'text-primary' }} ">
                      <span class="pd-r-10"></span> Choose any Week
                    </a>
                    <div class="form-group mb-0">
                      <div [hidden]="hideWeeklyPicker" id="weeklydate"></div>
                    </div>
                  </form>
                </div>
              </span>
            </span></div>
        </div>
        <div class="text-center mg-t-20">
          <div class="pb-0 mb-0 ">
            <h3 *ngIf="computeFlag(_Weekly)==1" class="tx-normal tx-rubik tx-spacing--2  text-success mg-b-5">
              {{computePerc(_Weekly)}}</h3>
            <h3 *ngIf="computeFlag(_Weekly)==0" class="tx-normal tx-rubik tx-spacing--2  text-secondary mg-b-5">
              {{computePerc(_Weekly)}}</h3>
            <h3 *ngIf="computeFlag(_Weekly)==-1" class="tx-normal tx-rubik tx-spacing--2  text-danger mg-b-5">
              {{computePerc(_Weekly)}}</h3>
            <h6 *ngIf="computeFlag(_Weekly)==1" class="tx-14 tx-normal text-secondary   mg-b-0"><i
                class="fas fa-arrow-circle-up tx-16 tx-success mg-r-5"></i>Leading Compared
              To <span class="tx-14 tx-medium  tx-dark">{{lastweektext}}</span> </h6>

            <h6 *ngIf="computeFlag(_Weekly)==0" class="tx-14 tx-normal text-secondary    mg-b-0"><i
                style="height:18px!important; width: 18px !important;" data-feather="pause-circle"></i> Same As
              <span class="tx-14 tx-medium  tx-dark">{{lastweektext}}</span>
            </h6>

            <h6 *ngIf="computeFlag(_Weekly)==-1" class="tx-14 tx-normal text-secondary    mg-b-0"><i
                class="fas fa-arrow-circle-down tx-16 tx-danger mg-r-5"></i>Lagging Compared
              To <span class="tx-14 tx-medium  tx-dark">{{lastweektext}} </span> </h6>
          </div>
        </div>
        <div class="d-flex justify-content-around mg-t-20">
          <div class="text-center">
            <span class="text-secondary tx-12 tx-uppercase pd-b-5"> Current Week </span>
            <div class="tx-rubik tx-dark tx-18"> <span
                [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span>
              {{_Weekly.ActualSalesAmount | number: "1.2-2" ||'0'}} </div>

          </div>
          <div class="text-center">
            <span class="text-secondary tx-12 tx-uppercase pd-b-5"> {{lastweektext}} </span>
            <div class="tx-rubik tx-dark tx-18"> <span
                [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span>
              {{_Weekly.CompareSalesAmount | number: "1.2-2"||'0'}} </div>
          </div>
        </div>
        <div class="card-body pd-t-10">
          <canvas *ngIf="showWeeklyChart" class="" height="80px" baseChart #DataPlot="base-chart"
            [datasets]="WeeklylineChartData" [labels]="WeeklylineChartLabels"
            [options]="_HelperService.ChartConfig.LineChart.OptionsCompare"
            [plugins]="_HelperService.ChartConfig.LineChart.Options.plugins"
            [chartType]="_HelperService.ChartConfig.LineChart.Type">
          </canvas>
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-lg-4 mg-t-15  mg-lg-t-0" id="CurrentMonth">
      <div class="card ht-100p">
        <div class="card-header text-center">
          <h4 class="tx-14 tx-uppercase tx-dark pb-0 mg-b-4"> Current month</h4>
          <div class="tx-12 text-secondary"> Current month trend compared with <span class="tx-dark tx-bold">
              <span class="tx-12 position-relative">
                <a href="" class="" id="MonthSalesTrend_dropdown" data-toggle="dropdown" aria-haspopup="true"
                  (click)="_HelperService.StopClickPropogation()" aria-expanded="false">{{lastmonthtext}}
                  <i style="height:18px!important; width: 18px !important;" data-feather="chevron-down"></i>
                </a>
                <div class="dropdown-menu custom-drp tx-13">
                  <form class="wd-250 mb-n2 pd-15">
                    <a class="dropdown-item cursor-pointer  {{_HelperService.CheckMode == 'dark' ? 'text-white' : 'text-primary' }} "
                      (click)="CloseRowModal(2)">
                      <span class="pd-r-10"></span>Same month, Last Year
                    </a>
                    <a (click)="ShowHideCalendar(_HelperService.AppConfig.DatePickerTypes.month)"
                      class="dropdown-item cursor-pointer  {{_HelperService.CheckMode == 'dark' ? 'text-white' : 'text-primary' }} ">
                      <span class="pd-r-10"></span> Choose any Month
                    </a>
                    <div class="form-group mb-0">
                      <div [hidden]='hideMonthlyPicker' id="monthlydate"></div>
                    </div>
                  </form>
                </div>
              </span>
            </span>
          </div>
        </div>
        <div class="text-center mg-t-20">
          <div class="pb-0 mb-0 ">
            <h3 *ngIf="computeFlag(_Monthly)==1" class="tx-normal tx-rubik tx-spacing--2  text-success mg-b-5">
              {{computePerc(_Monthly)}}</h3>

            <h3 *ngIf="computeFlag(_Monthly)==0" class="tx-normal tx-rubik tx-spacing--2  text-secondary mg-b-5">
              {{computePerc(_Monthly)}}</h3>

            <h3 *ngIf="computeFlag(_Monthly)==-1" class="tx-normal tx-rubik tx-spacing--2  text-danger mg-b-5">
              {{computePerc(_Monthly)}}</h3>

            <h6 *ngIf="computeFlag(_Monthly)==1" class="tx-14 tx-normal text-secondary   mg-b-0"><i
                class="fas fa-arrow-circle-up tx-16 tx-success mg-r-5"></i> Leading Compared
              To <span class="tx-14 tx-medium  tx-dark"> {{lastmonthtext}} </span></h6>

            <h6 *ngIf="computeFlag(_Monthly)==0" class="tx-14 tx-normal text-secondary   mg-b-0"><i
                style="height:18px!important; width: 18px !important;" data-feather="pause-circle"></i> Same As
              <span class="tx-14 tx-medium  tx-dark"> {{lastmonthtext}} </span>
            </h6>

            <h6 *ngIf="computeFlag(_Monthly)==-1" class="tx-14 tx-normal text-secondary   mg-b-0"><i
                class="fas fa-arrow-circle-down tx-16 tx-danger mg-r-5"></i> Lagging Compared
              To <span class="tx-14 tx-medium  tx-dark"> {{lastmonthtext}} </span></h6>
          </div>
        </div>
        <div class="d-flex justify-content-around mg-t-20">
          <div class="text-center">
            <span class="text-secondary tx-12 tx-uppercase pd-b-5"> Current Month </span>
            <div class="tx-rubik tx-dark tx-18"> <span
                [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span>
              {{_Monthly.ActualSalesAmount | number: "1.2-2"||'0'}} </div>

          </div>
          <div class="text-center">
            <span class="text-secondary tx-12 tx-uppercase pd-b-5"> {{lastmonthtext}} </span>
            <div class="tx-rubik tx-dark tx-18"> <span
                [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span>
              {{_Monthly.CompareSalesAmount | number: "1.2-2"||'0'}} </div>
          </div>

        </div>
        <div class="card-body pd-t-10">
          <canvas *ngIf="showMonthlyChart" class="" height="80px" baseChart #DataPlot="base-chart"
            [datasets]="MonthlylineChartData" [labels]="MonthlybarChartLabels"
            [options]="_HelperService.ChartConfig.LineChart.OptionsCompare"
            [plugins]="_HelperService.ChartConfig.LineChart.Options.plugins"
            [chartType]="_HelperService.ChartConfig.LineChart.Type">
          </canvas>
        </div>
      </div>
    </div>
  </div> -->

</div>

<div id="Form_DatePicker_Content" class="modal fade " tabindex="-1" data-backdrop="true" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered dropdown ">
    <div class="modal-content">
      <form action="" class="">
        <div class="modal-body  p-lg">
          <div class="form-group">
            <div class="form-group">
              <label>Date</label>

              <input *ngIf="DateTypeModal == 'A'" type="text" class="form-control  form-daterangepicker"
                name="daterangeInput" daterangepicker [options]="DatePickerOptions"
                (selected)="DailyDateChanged($event, _HelperService.AppConfig.ListToggleOption.Date)" />

              <input *ngIf="DateTypeModal == 'B'" type="text" class="form-control  form-daterangepicker"
                name="daterangeInput" daterangepicker [options]="DatePickerOptions"
                (selected)="WeelyDateChanged($event, _HelperService.AppConfig.ListToggleOption.Date)" />


              <input *ngIf="DateTypeModal == 'C'" type="text" class="form-control  form-daterangepicker"
                name="daterangeInput" daterangepicker [options]="DatePickerOptions"
                (selected)="MonthlyDateChanged($event, _HelperService.AppConfig.ListToggleOption.Date)" />
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>

</div>
<div id="Form_TopUp_Content" class="modal" data-backdrop="true" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Fund Wallet</h5>
      </div>
      <div class="modal-body  p-lg">

        <div class="mb-3 b-b pb-3">
          <div class="mb-2">
            Enter Amount
          </div>
          <div class="input-group text-warn mb-3">
            <span class="input-group-prepend ">
              <span class="input-group-text text-warn"><span
                  [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span> </span>
            </span>
            <input type="text" maxlength="7" class="form-control text-warn" placeholder="Amount to credit*"
              (keypress)="_HelperService.PreventText($event)" [(ngModel)]="_AccountBalanceCreditAmount">

            <div class="text-secondary  mt-3">This amount will be credited in your wallet, you can further use it to
              give rewards to your customers.</div>
            <div class="text-danger mg-t-5"
              *ngIf="(_AccountBalanceCreditAmount == undefined || _AccountBalanceCreditAmount == 0) || (_AccountBalanceCreditAmount < 1000)">
              Enter amount must be equal or greater than<span class=" text-sm mg-r-2"
                [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span>1000</div>

            <div class="text-danger mg-t-5" *ngIf="_AccountBalanceCreditAmount > 1000000">
              Enter amount must be equal or lower than <span class=" text-sm mg-r-2"
                [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span>1000000</div>

          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          {{ "Common.Close" | translate }}
        </button>
        <button
          *ngIf="(_AccountBalanceCreditAmount == undefined || _AccountBalanceCreditAmount == 0) || (_AccountBalanceCreditAmount < 1000 || _AccountBalanceCreditAmount > 1000000)"
          class="btn btn-primary " disabled>Confirm</button>
        <button *ngIf="_AccountBalanceCreditAmount >= 1000 && _AccountBalanceCreditAmount <= 1000000"
          class="btn btn-primary " angular4-paystack [currency]="_HelperService.AppConfig.CurrencyNotation" [key]="_HelperService.AppConfig.PayStackKey"
          [email]="_HelperService.User.EmailAddress" [amount]="_AccountBalanceCreditAmount * 100"
          [class]="'btn btn-primary'" [ref]="_TransactionReference" (close)="paymentCancel()"
          (callback)="paymentDone($event)" data-dismiss="modal">Confirm</button>

      </div>


    </div>
  </div>
</div>
<div id="Form_AddUser_InterSwitch" class="modal fade" data-backdrop="true" aria-hidden="true">
  <div class="modal-dialog">
    <form class="pd-l" id="submit-form">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Add Top-Up</h5>
        </div>
        <div class="modal-body  p-lg">
          <div class="mb-3 b-b pb-3">
            <div class="mb-2">
              Enter Amount
            </div>
            <div class="input-group text-warn mb-3">
              <span class="input-group-prepend ">
                <span class="input-group-text text-warn"><span
                    [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span> </span>
              </span>
              <input maxlength="7" class="form-control text-warn" placeholder="Amount to credit"
                (keypress)="_HelperService.PreventText($event)" [(ngModel)]="_InterSwitchAmount"
                [ngModelOptions]="{standalone: true}" id="param-amount" required="" value="" />
              <br>
              <div class="text-secondary ">This amount will be credited in your wallet, you can further use it to
                give rewards to your customers.</div>
              <div class="text-danger mg-t-5"
                *ngIf="(_InterSwitchAmount == undefined || _InterSwitchAmount == 0) || (_InterSwitchAmount < 1000)">
                Enter amount must be equal or greater than <span class=" text-sm mg-r-2"
                  [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span>1000</div>

              <div class="text-danger mg-t-5" *ngIf="_InterSwitchAmount > 1000000">
                Enter amount must be equal or lower than <span class=" text-sm mg-r-2"
                  [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span>1000000</div>


            </div>

          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">
            {{ "Common.Close" | translate }}
          </button>

          <!-- <button class="btn btn-success pd-l-20" type="submit" (click)="startTop()">Pay</button> -->

          <button
            *ngIf="(_InterSwitchAmount == undefined || _InterSwitchAmount == 0) || (_InterSwitchAmount < 1000 || _InterSwitchAmount > 1000000)"
            class="btn btn-primary " disabled>Confirm</button>
          <button *ngIf="_InterSwitchAmount >= 1000 && _InterSwitchAmount <= 1000000" class="btn btn-success"
            (click)="startTop()">Confirm</button>
        </div>
      </div>
    </form>
  </div>
</div>
<div id="Form_AddUser_Content" class="modal fade " tabindex="-1" data-backdrop="true" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered dropdown " style="max-width: 560 !important;">
    <div class="modal-content">
      <form [formGroup]="Form_AddUser" (ngSubmit)="Form_AddUser_Process(Form_AddUser.value)" role="form">
        <div class="modal-header pd-x-30 ">
          <h5 class="modal-title">Set Reward Percentage</h5>
        </div>
        <div class="modal-body  p-lg">
          <div class="col-md-12">
            <div class="row">
              <div class="col-md-12">
                <div class="row" *ngIf="_LoyaltyConfig.Reward.TucCommissionSource == 'Reward Amount'">
                  <div class="col-md-6 " style="border-right: 1px solid #C2CCD9;">
                    <div class="form-group">
                      <label class="">Customer Reward &nbsp;
                        <!-- <span class="text-secondary" data-toggle="tooltip"
                            title="Customer gets 70% from main reward percentage">
                            <i style="height: 18px; width: 18px;;" data-feather="info"> </i>
                          </span> -->
                      </label><br>
                      <span class="tx-20 tx-medium">
                        {{((_LoyaltyConfig.Reward.UserPercentage/100) *
                        _LoyaltyConfig.Reward.RewardPercentage).toFixed(2)}}%
                        <!-- {{_LoyaltyConfig.Reward.RewardPercentage.toFixed(2)}}% -->
                      </span>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label class="">Charge to Account </label><br>
                      <span class="tx-20 tx-medium">{{ _LoyaltyConfig.Reward.RewardPercentage || "0"}}%</span>
                    </div>
                  </div>
                </div>
                <div class="row" *ngIf="_LoyaltyConfig.Reward.TucCommissionSource == 'Invoice Amount'">
                  <div class="col-md-6 " style="border-right: 1px solid #C2CCD9;">
                    <div class="form-group">
                      <label class="">Customer Reward &nbsp;
                        <span class="text-secondary" data-toggle="tooltip"
                          title="Customer gets 70% from main reward percentage">
                          <i style="height: 18px; width: 18px;;" data-feather="info"> </i>
                        </span>
                      </label><br>
                      <span class="tx-20 tx-medium">
                        <!-- {{((70/100)*RewardPerc).toFixed(2)}}% -->
                        {{_LoyaltyConfig.Reward.RewardPercentage.toFixed(2)}}%
                      </span>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label class="">TUC Platform fees </label><br>
                      <span class="tx-20 tx-medium">{{_LoyaltyConfig.Reward.SystemPercentage.toFixed(2) ||
                        "0"}}%</span>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <label class="tx-13 ">Change Reward Percentage<span class="text-danger">*</span>
                  </label>
                  <div class="controls">
                    <input type="number" min="0" name="RewardPercentage" minlength="1" maxlength="100"
                      class="form-control" [formControl]="Form_AddUser.controls['Value']"
                      (keyup)="CustomerEarns($event)"
                      [ngClass]="{'is-invalid':!Form_AddUser.controls['Value'].valid && Form_AddUser.controls['Value'].touched}">
                  </div>
                  <!-- <label class="text-danger" for="RewardPercentage"
                      *ngIf="Form_AddUser.controls['Value'].hasError('required') && Form_AddUser.controls['Value'].touched">
                      Enter reward percentage
                    </label>
                    <label class="text-danger" for="RewardPercentage"
                      *ngIf="Form_AddUser.controls['Value'].hasError('min') || Form_AddUser.controls['Value'].hasError('max')">
                      reward percentage must be between 0 to 100
                    </label> -->

                  <label class="text-danger d-block" for="RewardPercentage"
                    *ngIf="Form_AddUser.controls['Value'].touched && !isValidRewardpercentage">
                    Enter valid reward percentage must be between 0 to 100
                  </label>
                </div>
                <div class="form-group">
                  <label class="tx-13 ">Comment<span class="text-danger">*</span>
                  </label>
                  <div class="controls">
                    <textarea name="Comment" minlength="2" maxlength="256" class="form-control" rows="3"
                      [formControl]="Form_AddUser.controls['Comment']"
                      [ngClass]="{'is-invalid':!Form_AddUser.controls['Comment'].valid && Form_AddUser.controls['Comment'].touched}"></textarea>
                  </div>
                  <label class="text-danger" for="Comment"
                    *ngIf="Form_AddUser.controls['Comment'].hasError('required') && Form_AddUser.controls['Comment'].touched">
                    Enter comment
                  </label>
                </div>
              </div>
            </div>
          </div>

          <hr class=" mg-l-15">
          <div class="ml-3 mr-3">
            <div class="row  p-lg">
              <div class="col-md-12">
                <label class="tx-12"><strong>How it work?</strong> </label><br>
                <!-- <label class="tx-12 text-secondary">Reward percentage includes Reward to customer, Platform fees and
                  Activity based reward pool for customers.</label> -->
                <div class="p-3 bg-light">
                  <div class="form-group">
                    <label class="tx-13 ">Every time customer spends
                    </label>
                    <div class="controls">
                      <input type="number" name="refInvoiceAmount" [ngModelOptions]="{standalone: true}"
                        [(ngModel)]="_LoyaltyConfigExample.InvoiceAmount" disabled class="form-control bg-white">
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="tx-13 ">Customer earns
                    </label>
                    <div class="controls">
                      <input type="number" name="refUserAmount" [ngModelOptions]="{standalone: true}"
                        [(ngModel)]="_LoyaltyConfigExample.UserAmount" disabled class="form-control  bg-white">
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="tx-13 ">TUC Platform fees applicable to you will be
                    </label>
                    <div class="controls">
                      <input type="number" name="refSystemAmount" [ngModelOptions]="{standalone: true}"
                        [(ngModel)]="_LoyaltyConfigExample.SystemAmount" disabled class="form-control  bg-white">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="Form_AddUser_Close()">
            {{ "Common.Close" | translate }}
          </button>
          <button type="submit" class="btn btn-primary warn mr-2" (click)="Form_AddUser.value.OperationType = 'new'"
            [disabled]="!Form_AddUser.valid || _HelperService.IsFormProcessing ||!isValidRewardpercentage">
            <span *ngIf="!_HelperService.IsFormProcessing">
              {{ "Common.Confirm" | translate }}
            </span>
            <span *ngIf="_HelperService.IsFormProcessing">
              <i class="{{ 'Common.SpinnerIcon' | translate }}"></i>
              {{ "Common.PleaseWait" | translate }}...
            </span>
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
<div class="modal fade mg-t-35" id="taketour" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog"
  aria-labelledby="modalTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title fw-700 tx-14 line-16" id="exampleModalLongTitle">Take A Tour</h5>
        <!-- <button type="button" class="close" data-dismiss="onBoardingModal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button> -->
      </div>
      <div class="modal-body">
        <div class="modal-part-two mb-5">
          <div class="container mb-4 mt-4">
            <div class="row text-center g-1">
              <div class="col-md-12 p-1">
                <h5 class="mt-2">
                  <img src="../../../../assets/images/Group 5260.png" id="myImg" height="100" />
                </h5>
              </div>
            </div>
            <div class="modal-labels">
              <b>
                <p class="fw-400 tx-14 line-16" style="text-align:center;margin-top:10px;">
                  Hi
                  <span class="label-two-color">
                    {{ _HelperService.UserAccount.DisplayName }} <img
                      src="../../../../assets/images/icons-waving-hand-emoji.png" id="myImg1" height="20" width="20" />
                  </span>
                  ! Would you like a tour?
                </p>
              </b>
            </div>
            <div style="text-align:center ;">
              <button class="btn btn-primary" (click)="StartIntro()">
                <span class="fw-400 tx-12 line-14">Yes, I would</span>
              </button>
              <button class="btn btn-white mg-l-5" (click)="SkipTour()">
                <span class="fw-400 tx-12 line-14">Skip Tour</span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- <div id="Form_AddStore_Content" class="modal fade" data-backdrop="true" aria-hidden="true">
  <div class="modal-dialog  modal-lg">
    <div class="modal-content">
      <form [formGroup]="Form_AddStore" (ngSubmit)="Form_AddStore_Process(Form_AddStore.value)" role="form">
        <div class="modal-header">
          <h5 class="modal-title">Add New Store / Location</h5>
        </div>
        <div class="modal-body" *ngIf="ResetFilterControls">
          <div class="row">
           

            <div class="col-md-6">
              <div class="form-group">
                <label>{{ "System.Menu.StoreName" | translate
                  }}<span class="text-danger">*</span>
                </label>
                <div class="controls">
                  <input type="text" name="Name" maxlength="128" class="form-control" placeholder="Store Name"
                    [formControl]="Form_AddStore.controls['Name']" [ngClass]="{
                                    'is-invalid':
                                      !Form_AddStore.controls['Name'].valid &&
                                      Form_AddStore.controls['Name'].touched
                                  }" />
                </div>
                <label class="text-danger" for="Name" *ngIf="
                                  Form_AddStore.controls['Name'].hasError('required') &&
                                  Form_AddStore.controls['Name'].touched
                                ">{{
                  "System.Users.Name_ER_Required" | translate
                  }}</label>
                <label class="text-danger" for="Name" *ngIf="
                                  Form_AddStore.controls['Name'].hasError(
                                    'minlength'
                                  ) ||
                                  Form_AddStore.controls['Name'].hasError('maxlength')
                                ">Store name must be between 4 - 256 characters</label>
              </div>
              <div class="form-group">
                <label>{{ "System.Menu.StoreNickName" | translate
                  }}<span class="text-danger">*</span>
                </label>
                <div class="controls">
                  <input type="text" name="DisplayName" maxlength="128" class="form-control"
                    [formControl]="Form_AddStore.controls['DisplayName']" placeholder="Nick Name" [ngClass]="{
                                  'is-invalid':
                                    !Form_AddStore.controls['DisplayName'].valid &&
                                    Form_AddStore.controls['DisplayName'].touched
                                }" />
                </div>
                <label class="text-danger" for="DisplayName" *ngIf="
                                Form_AddStore.controls['DisplayName'].hasError('required') &&
                                Form_AddStore.controls['DisplayName'].touched
                              ">Enter store nick name</label>
                <label class="text-danger" for="DisplayName" *ngIf="
                                Form_AddStore.controls['DisplayName'].hasError(
                                  'minlength'
                                ) ||
                                Form_AddStore.controls['DisplayName'].hasError('maxlength')
                              ">Store nick name must be between 4 - 256 characters</label>
              </div>
              <div class="form-group">
                <label>{{ "System.Users.EmailAddress" | translate
                  }}<span class="text-danger">*</span>
                </label>
                <div class="controls">
                  <input type="text" name="EmailAddress" maxlength="128" placeholder="Email Address"
                    class="form-control" [formControl]="Form_AddStore.controls['EmailAddress']" [ngClass]="{
                                'is-invalid':
                                  !Form_AddStore.controls['EmailAddress'].valid &&
                                  Form_AddStore.controls['EmailAddress'].touched
                              }" />
                </div>
                <label class="text-danger" for="EmailAddress" *ngIf="
                              Form_AddStore.controls['EmailAddress'].hasError('required') &&
                              Form_AddStore.controls['EmailAddress'].touched
                            ">{{
                  "System.Users.EmailAddress_ER_Required" | translate
                  }}</label>
                <label class="text-danger" for="EmailAddress" *ngIf="
                              Form_AddStore.controls['EmailAddress'].touched &&
                              !Form_AddStore.controls['EmailAddress'].valid && 
                              !Form_AddStore.controls['EmailAddress'].hasError('required')
                            ">Enter valid email Address</label>
              </div>
              <div class="form-group">
                <label>{{ "System.Users.ContactNumber" | translate
                  }}<span class="text-danger">*</span>
                </label>
                <div class="controls input-group">
                  <span class="input-group-prepend"><span
                      class="input-group-text white">{{this._HelperService.CountryCode}}</span>
                  </span>
                  <input type="text" name="ContactNumber" maxlength="14" placeholder="Contact Number"
                    class="form-control" oninput="this.value=this.value.replace(/[^0-9]/g,'');"
                    (keypress)="_HelperService.PreventText($event)"
                    [formControl]="Form_AddStore.controls['ContactNumber']" [ngClass]="{
                              'is-invalid':
                                !Form_AddStore.controls['ContactNumber'].valid &&
                                Form_AddStore.controls['ContactNumber'].touched
                            }" />
                </div>
                <label class="text-danger" for="ContactNumber" *ngIf="
                            Form_AddStore.controls['ContactNumber'].hasError('required') &&
                            Form_AddStore.controls['ContactNumber'].touched
                          ">{{
                  "System.Users.ContactNumber_ER_Required" | translate
                  }}</label>
                <label class="text-danger" for="ContactNumber" *ngIf="
                            Form_AddStore.controls['ContactNumber'].hasError(
                              'minlength'
                            ) ||
                            Form_AddStore.controls['ContactNumber'].hasError('maxlength')
                          ">{{ "System.Users.ContactNumber_ER_Length" | translate }}</label>
              </div>
              <div class="form-group">
                <label> Store Manager First Name<span class="text-danger">*</span>
                </label>
                <div class="controls">
                  <input type="text" name="FirstName" maxlength="128" class="form-control" placeholder="First Name"
                    [formControl]="Form_AddStore.controls['FirstName']" [ngClass]="{
                                  'is-invalid':
                                    !Form_AddStore.controls['FirstName'].valid &&
                                    Form_AddStore.controls['FirstName'].touched
                                }" />
                </div>
                <label class="text-danger" for="FirstName" *ngIf="
                                Form_AddStore.controls['FirstName'].hasError('required') &&
                                Form_AddStore.controls['FirstName'].touched
                              ">Enter first name</label>
                <label class="text-danger" for="FirstName" *ngIf="
                                Form_AddStore.controls['FirstName'].hasError(
                                  'minlength'
                                ) ||
                                Form_AddStore.controls['FirstName'].hasError('maxlength')
                              ">First name must be between 2 - 128 characters</label>
                <label class="text-danger" for="FirstName" *ngIf="
                                Form_AddStore.controls['FirstName'].hasError('pattern') 
                                && !Form_AddStore.controls['FirstName'].hasError('minlength')">Only characters are
                  allowed</label>
              </div>
              <div class="form-group">
                <label>Store Manager Last Name<span class="text-danger">*</span>
                </label>
                <div class="controls">
                  <input type="text" name="LastName" maxlength="128" class="form-control" placeholder="Last Name"
                    [formControl]="Form_AddStore.controls['LastName']" [ngClass]="{
                                  'is-invalid':
                                    !Form_AddStore.controls['LastName'].valid &&
                                    Form_AddStore.controls['LastName'].touched
                                }" />
                </div>
                <label class="text-danger" for="LastName" *ngIf="
                                Form_AddStore.controls['LastName'].hasError('required') &&
                                Form_AddStore.controls['LastName'].touched
                              ">Enter Last name</label>
                <label class="text-danger" for="LastName" *ngIf="
                                Form_AddStore.controls['LastName'].hasError(
                                  'minlength'
                                ) ||
                                Form_AddStore.controls['LastName'].hasError('maxlength')
                              ">Last name must be between 2 - 128 characters</label>
                <label class="text-danger" for="LastName" *ngIf="
                                Form_AddStore.controls['LastName'].hasError('pattern')
                                && !Form_AddStore.controls['LastName'].hasError('minlength')">Only characters are
                  allowed</label>
              </div>
              <div class="form-group">
                <label>Store Manager's Email Id<span class="text-danger">*</span>
                </label>
                <div class="controls">
                  <input type="text" name="EmailAddress" maxlength="128" class="form-control"
                    placeholder="Email Address" [formControl]="Form_AddStore.controls['MEmailAddress']" [ngClass]="{
                                'is-invalid':
                                  !Form_AddStore.controls['MEmailAddress'].valid &&
                                  Form_AddStore.controls['MEmailAddress'].touched
                              }" />
                </div>
                <label class="text-danger" for="EmailAddress" *ngIf="
                              Form_AddStore.controls['MEmailAddress'].hasError('required') &&
                              Form_AddStore.controls['MEmailAddress'].touched
                            ">{{
                  "System.Users.EmailAddress_ER_Required" | translate
                  }}</label>
                <label class="text-danger" for="EmailAddress" *ngIf="
                              Form_AddStore.controls['MEmailAddress'].touched &&
                              !Form_AddStore.controls['MEmailAddress'].valid && 
                              !Form_AddStore.controls['MEmailAddress'].hasError('required')
                            ">Enter valid email Address</label>
              </div>
              <div class="form-group">
                <label>Store Manager's Phone Number<span class="text-danger">*</span>
                </label>
                <div class="controls input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text">{{this._HelperService.CountryCode}}</span>
                  </div>
                  <input type="text" name="MobileNumber" maxlength="14" class="form-control" placeholder="Mobile Number"
                    oninput="this.value=this.value.replace(/[^0-9]/g,'');"
                    (keypress)="_HelperService.PreventText($event)"
                    [formControl]="Form_AddStore.controls['MobileNumber']" [ngClass]="{
                              'is-invalid':
                                !Form_AddStore.controls['MobileNumber'].valid &&
                                Form_AddStore.controls['MobileNumber'].touched
                            }" />
                </div>
                <label class="text-danger" for="MobileNumber" *ngIf="
                            Form_AddStore.controls['MobileNumber'].hasError('required') &&
                            Form_AddStore.controls['MobileNumber'].touched
                          ">{{
                  "System.Users.MobileNumber_ER_Required" | translate
                  }}</label>
                <label class="text-danger" for="MobileNumber" *ngIf="
                            Form_AddStore.controls['MobileNumber'].hasError(
                              'minlength'
                            ) ||
                            Form_AddStore.controls['MobileNumber'].hasError('maxlength')
                          ">{{ "System.Users.MobileNumber_ER_Length" | translate }}</label>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group" *ngIf="ResetFilterControls">
                <label>Business Categories<span class="text-danger">*</span>
                </label>
                <select2 class="full-width" *ngIf="ShowCategorySelector" [options]="Select2Options_Multiple"
                  [value]="SelectedBusinessCategories" [data]="S2BusinessCategories"
                  (valueChanged)="CategoriesSelected($event)">
                </select2>
      

              <hcx-addressmanager [config]="_AddressConfig" *ngIf="_AddressShow" (OnAddressSet)="AddressChange($event)">
              </hcx-addressmanager>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="Form_AddStore_Close()">
            {{ "Common.Close" | translate }}
          </button>
          <button type="submit" class="btn btn-primary warn mr-2" (click)="Form_AddStorevalue.OperationType = 'new'"
            [disabled]="!Form_AddStore.valid || _HelperService.IsFormProcessing">
            <span *ngIf="!_HelperService.IsFormProcessing">
              {{ "Common.Save" | translate }}
            </span>
            <span *ngIf="_HelperService.IsFormProcessing">
              <i class="{{ 'Common.SpinnerIcon' | translate }}"></i>
              {{ "Common.PleaseWait" | translate }}...
            </span>
          </button>
        </div>
      </form>
    </div>
  </div>
</div> -->

<!--Start Customer Reward popup-->

<div class="modal fade mg-t-35" id="openRewardPopup" data-backdrop="static" data-keyboard="false" tabindex="-1"
  role="dialog" aria-labelledby="modalTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title fw-700 tx-14 line-16" id="exampleModalLongTitle">Reward Customers</h5>

      </div>
      <div class="modal-body">
        <div class="modal-part-two mb-5">
          <div class="container mb-4 mt-4">
            <div class="row text-center g-1">
              <div class="col-md-12 p-1">
                <h5 class="mt-2">
                  <img src="../../../../assets/images/rewardpage.png" id="myImg" height="100" />
                </h5>
              </div>
              <div class="col-md-12 p-1">
                <span class="text-muted tx-16">Reward your first customer on ThankUCash platform</span>
              </div>
              <div class="col-md-12 p-1">
                <div>
                  <button class="btn btn-primary mr-2" (click)="openRewardCustomerTest()">Reward My Customer</button>
                  <button class="btn btn-secondary" (click)="CloseReward()"> Go to Dashboard</button>
                </div>
              </div>
            </div>


          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--End Customer Reward popup-->


<!--Start add Business location modal-->

<div class="modal fade" id="addBusinessLocationModal" data-backdrop="static" data-keyboard="false"
  role="dialog" aria-labelledby="modalTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title fw-700 tx-14 line-16" id="exampleModalLongTitle">Add Business Location</h5>
      </div>
      <div class="modal-body">
        <div class="modal-part-two mb-1">
          <div class="container mb-0 mt-4">
            <app-add-bussiness-location-modal (dismissBusinessLocationModal)="dismissBusinessLocationModal($event)"></app-add-bussiness-location-modal>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--End add Business location modal-->

<!--Start goodtogo modal -->
<div class="modal fade mg-t-35" id="GoodToGoModal" data-backdrop="static" data-keyboard="false" tabindex="-1"
  role="dialog" aria-labelledby="modalTitle" aria-hidden="true">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header border-0 h-25">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="dismissGoodToModal()">
          <span aria-hidden="true">×</span>
      </button>
      </div>
      <div class="modal-body pt-0">
        <div class="modal-part-two mb-5">
          <div class="container mb-4 mt-4">
            <div class="row text-center g-1">
              <div class="col-md-12 p-1">
                <h5 class="mt-2">
                  <img src="../../../../assets/img/goodtogo.png" id="myImg" width="110px" height="110px" />
                </h5>
              </div>
              <div class="col-md-12 p-1">
                <h5>Yipee! 🎉</h5>
                <span class="text-muted tx-16">Now you’re good to go.</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--End goodtogo modal-->
