<!-- <div class="media pd-y-20 bd-b">
  <div
    class="wd-40 wd-md-50 ht-40 ht-md-50 bg-teal tx-white mg-r-10 mg-md-r-10 d-flex align-items-center justify-content-center rounded op-6">
    <i data-feather="truck"> </i>
  </div>
  <div class="media-body">
    <h6 class="tx-20 tx-sm-18 tx-md-20 tx-normal tx-nowrap mg-b-5 mg-b-8"> 5 <span class="tx-semibold"> Return </span>
      and <span class="tx-semibold"> Replace </span>requests raised
      (Pending)
    </h6>
    <div class="d-flex">
      <div class="col-md-8">
        <h4 class="tx-sans tx-14 tx-spacing-1 tx-color-03 mg-md-b-0">Please Click on <span class="tx-semibold"
            style="color: #1B2E4B;">Return Accepted</span> , to accept
          returns
        </h4>
      </div>
      <div class="col-md-4">
        <span class="tx-12" style="float: right;">All closed returns ></span>
      </div>
    </div>
  </div>
</div>
<div class="media pd-y-20 bd-b">
  <div class="form-inline ">
    <div class="input-group input-group-sm mr-3">
      <input type="text" class="form-control" [value]="" maxlength="100" class="form-control" placeholder="Search">
      <div class="input-group-append">
        <button class="btn btn-outline-light" type="button"><i data-feather="search"></i> </button>
      </div>
    </div>
  </div>

  <div class="btn-group mg-t-20 mg-sm-t-0">
    <button class="btn btn-xs btn-white  " disabled>Sort By</button>
    <button class="btn btn-xs btn-white ">Latest First</button>
    <button class="btn btn-xs btn-white ">Older First</button>
  </div>
  <div>
    <button class="btn btn-xs  pd-0" style="margin-left: 15px; background-color: #E3E7ED;"> <a href="" class="nav-link"
        id="TUTr_fdropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i
          data-feather="filter"></i> </a></button>
  </div>
</div>

<div class="card" *ngFor= "let TItem of (TUTr_Config.Data
| paginate
  : {
      id: 'TUTr_Paginator',
      itemsPerPage: TUTr_Config.PageRecordLimit,
      currentPage: TUTr_Config.ActivePage,
      totalItems: TUTr_Config.TotalRecords
    })" style="margin-bottom: 25px;">
  <div class="card-header bg-gray-200 tx-dark">
    <div class="row ">
      <div class="col-md-3 tx-12 tx-semibold">Order Details</div>
      <div class="col-md-3 tx-12 tx-semibold">Customer Details</div>
      <div class="col-md-3 tx-12 tx-semibold">Products</div>
      <div class="col-md-3 text-right tx-12 tx-semibold">Amount Breakup</div>
    </div>
  </div>
  <div>
    <div class="card-body bg-white">
      <div class="row">
        <div class="col-md-3">
          <div class="d-flex">
            <div class="tx-semibold tx-12 text-primary">
              {{TItem.ParcelId}} 
            </div>
            <div class="badge badge-danger" style="margin-left:10px;">
              RETURN
            </div>
          </div>

          <div class="tx-12 tx-semibold  text-secondary" style="padding-top: 10px;">
            <i data-feather="calendar" style="height: 16px;margin-right: 8px;"></i>
            <span cclass="tx-12 tx-semibold  text-secondary">Placed On
            </span>

          </div>
          <div class="tx-12 tx-semibold" style="padding-left: 32px;">{{TItem.placedOn}} <span
              class="text-secondary tx-semibold">| 2 mins ago </span></div>
          <div class="tx-12 tx-semibold  text-secondary" style="padding-top: 10px;">
            <i data-feather="calendar" style="height: 16px;margin-right: 8px;"></i>
            <span cclass="tx-12 tx-semibold  text-secondary">Delivered on
            </span>
          </div>
          <div class="tx-12 tx-semibold" style="padding-left: 32px;">{{TItem.dispatchedOn}}</div>
        </div>
        <div class="col-md-3">

          <div class="d-flex">
            <div class="mg-r-15">
              <img class="br" src="" class="img wd-40 ht-40 rounded-circle bd bd-2">
            </div>
            <div>
              <div class="tx-12 tx-semibold">
                {{TItem.customerName}}
              </div>
              <div class="mg-y-5 tx-12 tx-semibold text-secondary">
               {{TItem.CustomerMobileNumber}}
              </div>
            </div>
          </div>
          <div style="margin-left: 57px;" class="tx-12">{{TItem.CustomerAddress}}</div>
        </div>

        <div class="col-md-3">

          <div class="d-flex">
            <div class="mg-r-15">
              <img class="br" [src]="TItem.DealIconUrl" class="img wd-40 ht-40  bd bd-2">
            </div>
            <div>
              <div class="tx-12 tx-semibold">
                {{TItem.DealTitle}}
              </div>
              <div class="mg-y-5 tx-12 tx-semibold text-secondary">
                ₦ {{TItem.DealPrice}}/ Unit
              </div>
              <div class="mg-y-5 tx-12 tx-semibold text-secondary">
                {{TItem.ItemCount}} Qty
              </div>
            </div>
          </div>
          <div class="tx-12" style="padding-top: 7px;"><a class="text-primary cursor-pointer tx-semibold"> +2 more
              products ></a></div>
        </div>

        <div class="col-md-3 text-right">
          <div>
            <span class="tx-12 text-secondary" style="margin-right: 35px;"> Sub-total </span>
            <span class="tx-12 text-secondary"> ₦ {{TItem.SubTotalAmount}} </span>
          </div>
          <div class="mg-t-5">
            <span class="mg-r-5 tx-12 text-secondary" style="margin-right: 35px;"> Deal Price </span>
            <span class="tx-12 text-secondary"> ₦ {{TItem.DealPrice}} </span>
          </div>
          <div class="mg-t-5">
            <span class="mg-r-5 tx-12 text-secondary" style="margin-right: 35px;"> Shipping Charges </span>
            <span class="tx-12 text-secondary"> ₦ {{TItem.RateAmount}} </span>
          </div>
          <div class="mg-t-5">
            <span class="mg-r-5 tx-12 text-secondary" style="margin-right: 35px;"> Total Amount </span>
            <span class="tx-12 tx-semibold"> ₦ {{TItem.TotalAmount}} </span>
          </div>
          <div class="tx-12" style="padding-top: 7px;"><a class="text-primary cursor-pointer tx-semibold">Invoice
              #123456789 ></a></div>
        </div>
      </div>

    </div>
    <div class="card-footer">
      <div class="row">
        <div class="col-md-8 d-flex">
          <div class="d-flex">
            <div class="mg-r-15">
              <img class="br" src="" class="img wd-40 ht-40 rounded-circle bd bd-2">
            </div>
            <div>
              <div class="tx-12 tx-semibold">
                <span class="text-primary"> RET 12345678 </span> raised
              </div>
              <div class="mg-y-5 tx-12">
                20-08-2020 | 11:24 AM
              </div>
            </div>
          </div>
          <span style="border-right: 1px solid #7987a1;
          height: 37px; padding-left: 30px;"></span>
          <div style="margin-left: 30px;">
            <div class="d-flex">
              <div>
                <div class="tx-12 tx-semibold">
                  Reason
                </div>
                <div class="mg-y-5 tx-12 tx-semibold">
                  Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4" style="float: right">
          <button type="button" class="btn btn-primary tx-14" style="float: right;margin-right: 13px">
            Accept Return
          </button>
          <span class="text-danger tx-semibold" style="float: right; padding-top: 10px;
              padding-right: 10px;"> <i data-feather="x-circle" style="height:13px"> </i>Reject Request</span>
        </div>
      </div>
    </div>
  </div>
</div>





 <div class="media pd-y-20 bd-b">
    <div
      class="wd-40 wd-md-50 ht-40 ht-md-50 bg-teal tx-white mg-r-10 mg-md-r-10 d-flex align-items-center justify-content-center rounded op-6">
      <i data-feather="truck"> </i>
    </div>
    <div class="media-body">
      <h6 class="tx-20 tx-sm-18 tx-md-20 tx-normal tx-nowrap mg-b-5 mg-b-8"> 5 <span class="tx-semibold"> Return </span>
        and <span class="tx-semibold"> Replace </span>requests raised
        (Pending)
      </h6>
      <div class="d-flex">
        <div class="col-md-8">
          <h4 class="tx-sans tx-14 tx-spacing-1 tx-color-03 mg-md-b-0">Please Click on <span class="tx-semibold"
              style="color: #1B2E4B;">Return Accepted</span> , to accept
            returns
          </h4>
        </div>
        <div class="col-md-4">
          <span class="tx-12" style="float: right;">All closed returns ></span>
        </div>
      </div>
    </div>
  </div>
  <div class="media pd-y-20 bd-b">
    <div class="form-inline ">
      <div class="input-group input-group-sm mr-3">
        <input type="text" class="form-control" [value]="" maxlength="100" class="form-control" placeholder="Search">
        <div class="input-group-append">
          <button class="btn btn-outline-light" type="button"><i data-feather="search"></i> </button>
        </div>
      </div>
    </div>
  
    <div class="btn-group mg-t-20 mg-sm-t-0">
      <button class="btn btn-xs btn-white  " disabled>Sort By</button>
      <button class="btn btn-xs btn-white ">Latest First</button>
      <button class="btn btn-xs btn-white ">Older First</button>
    </div>
    <div>
      <button class="btn btn-xs  pd-0" style="margin-left: 15px; background-color: #E3E7ED;"> <a href="" class="nav-link"
          id="TUTr_fdropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i
            data-feather="filter"></i> </a></button>
    </div>
  </div>
  
  <div class="card" *ngFor= "let TItem of (TUTr_Config.Data
  | paginate
    : {
        id: 'TUTr_Paginator',
        itemsPerPage: TUTr_Config.PageRecordLimit,
        currentPage: TUTr_Config.ActivePage,
        totalItems: TUTr_Config.TotalRecords
      })
  " style="margin-bottom: 25px;">
    <div class="card-header bg-gray-200 tx-dark">
      <div class="row ">
        <div class="col-md-3 tx-12 tx-semibold">Order Details</div>
        <div class="col-md-3 tx-12 tx-semibold">Store & Customer Details</div>
        <div class="col-md-3 tx-12 tx-semibold">Products</div>
        <div class="col-md-3 text-right tx-12 tx-semibold">Amount Breakup</div>
      </div>
    </div>
      <div class="card-body bg-white">
        <div class="row">
          <div class="col-md-3">
            <div class="tx-semibold tx-12">
              AWB {{TItem.ReferenceId}}
            </div>
            <div class="badge badge-danger" style="margin-left:10px;">
              RETURN
            </div>
            <div class="tx-12 tx-semibold  text-secondary" style="padding-top: 10px;">
              <i data-feather="calendar" style="height: 16px;margin-right: 8px;"></i>
              <span cclass="tx-12 tx-semibold  text-secondary">Placed On
              </span>
  
            </div>
            <div class="tx-12 tx-semibold" style="padding-left: 32px;">{{TItem.CreateDate ||"--" }} <span
                class="text-secondary tx-semibold"> | <span class="tx-danger tx-semibold"> 2 mins ago </span> </span>
            </div>
            <div class="tx-12 tx-semibold  text-secondary" style="padding-top: 10px;">
              <i data-feather="truck" style="height: 16px;margin-right: 8px;"></i>
              <span cclass="tx-12 tx-semibold  text-secondary">Expected Delivery
              </span>
            </div>
            <div class="tx-12 tx-semibold" style="padding-left: 32px;">{{TItem.DeliveryDate ||"--"}}</div>
          </div>
          <div class="col-md-3">
            <div>
              <div class="d-flex">
                <div class="mg-r-15">
                  <img class="br" [src]="TItem.MerchantIconUrl" class="img wd-40 ht-40 bd bd-2">
                </div>
                <div>
                  <div class="tx-12 tx-semibold">
                    {{TItem.StoreDisplayName}}
                  </div>
                  <div class="mg-y-5 tx-12 tx-semibold text-secondary">
                    {{TItem.StoreMobileNumber}}
                  </div>
                </div>
              </div>
              <div style="margin-left: 55px;" class="tx-12">{{TItem.StoreAddress}}</div>
            </div> 
            <div style="padding-top: 10px;">
              <div class="d-flex">
                <div class="mg-r-15">
                  <img class="br" [src]="TItem.CustomerIconUrl" class="img wd-40 ht-40 rounded-circle bd bd-2">
                </div>
                <div>
                  <div class="tx-12 tx-semibold">
                    {{TItem.CustomerDisplayName}}
                  </div>
                  <div class="mg-y-5 tx-12 tx-semibold text-secondary">
                    {{TItem.CustomerMobileNumber}}
                  </div>
                </div>
              </div>
            </div>
          </div>
  
          <div class="col-md-3">
  
            <div class="d-flex">
              <div class="mg-r-15">
                <img class="br" [src]="TItem.DealIconUrl" class="img wd-40 ht-40  bd bd-2" />
              </div>
              <div>
                <div class="tx-12 tx-semibold">
                  {{TItem.DealTitle}}
                </div>
                <div class="mg-y-5 tx-12 tx-semibold text-secondary">
                  ₦ {{TItem.DealPrice}}/ Unit
                </div>
                <div class="mg-y-5 tx-12 tx-semibold text-secondary">
                  1 Qty
                </div>
              </div>
            </div>
          </div>
  
          <div class="col-md-3">
            <div class="row">
              <div class="col-md-12">
                <div class="neworder table">
                  <tbody style="float: right;">
                    <tr>
                      <td>Sub-total</td>
                      <td class="text-right">₦ {{TItem.subTotal}}</td>
                    </tr>
                    <tr>
                      <td >Deal Price</td>
                      <td class="text-right">₦ {{TItem.DealPrice}}</td>
                    </tr>
                    <tr>
                      <td >Shipping Charges</td>
                      <td class="text-right">₦ {{TItem.RateAmount}}</td>
                    </tr>
                    <tr>
                      <td >Total Amount </td>
                      <td class="text-right">₦ {{TItem.total}}</td>
                    </tr>
                  </tbody>
                </div>
              </div>
            </div>
            
            <div class="row">
              <div class="col-md-12 tx-12 text-right" style="padding-top: 7px;"><a
                  class="text-primary cursor-pointer tx-semibold">Invoice
                  #123456789 ></a></div>
            </div>
          </div>
        </div>
  
      </div>
      <div class="card-footer">
        <button type="button" class="btn btn-outline-danger tx-14" style="float: left"> Cancel Order </button>
        <div class="row" style="float: right">
          <button type="button" class="btn btn-outline-primary tx-14" style="float: right;margin-right: 13px"> View
            Order
          </button>
          <button type="button" class="btn btn-primary tx-14 mg-r-10" style="float: right;"> Confirm Order </button>
        </div>
      </div>
    </div> 
  </div>  -->