<ol class="breadcrumb df-breadcrumbs mg-b-10">
  <li class="breadcrumb-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}"><a 
      routerLink="{{_HelperService.AppConfig.Pages.ThankUCash.PanelMerchant.AccountSetting}}" [routerLinkActive]="['active']">
      Account Setting</a></li>

  <li class="breadcrumb-item active" [routerLinkActive]="['active']"><a class="text-primary" [routerLinkActive]="['active']">
      Top-Up & Subscriptions</a></li>
</ol>
<div class="card">


  <!-- <form class="pd-l" id="submit-form">
      <button class="btn btn-success pd-l-20" type="submit" (click)="startTop()">Pay</button>

     <button class="btn btn-primary" (click)="interswitch()"> interswitch   </button>

    </form> -->

  <!-- <script type="text/javascript" src="https://qa.interswitchng.com/collections/public/javascripts/inline-checkout.js"></script> -->




  <div class="pd-20">
    <h6 class="tx-16"> Top-Up</h6>
    <div class="text-secondary ">
      You can purchase Top-up amount now to give rewards to your customers from it
    </div>
    <div>
      <div class=" mg-t-5"> Available Balance </div>
      <h5 class="tx-20 mg-t-5"> <span class=" text-sm"
          [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span>
        {{_AccountBalance.Balance | number: "1.2-2" || "--" }} </h5>
    </div>

    <div class="mg-t-15">
      <button
        *ngIf="_HelperService.AppConfig.Host != 'merchantrewards.interswitch.com'  &&  _HelperService.AppConfig.Host != 'interswitch.thankucash.com'"
        class="btn btn-outline-primary mg-r-10" (click)="OpenPaymentOptions()"> Add Top-Up </button>
      <button
        *ngIf="_HelperService.AppConfig.Host == 'merchantrewards.interswitch.com'  ||  _HelperService.AppConfig.Host == 'interswitch.thankucash.com'"
        class="btn btn-outline-primary mg-r-10" (click)="interswitch()"> Add Top-Up </button>
      <button class="btn btn-outline-secondary " (click)="OpenTopUpHistory()"> Top-Up History </button>


    </div>

  </div>
</div>



<div id="Form_AddUser_InterSwitch" class="modal fade" data-backdrop="true" aria-hidden="true">
  <div class="modal-dialog">
    <form class="pd-l" id="submit-form">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Add Top-Up</h5>
        </div>
        <div class="modal-body  p-lg">
          <div class="mb-3 b-b pb-3">
            <h6 class="mg-b-5">Available Balance</h6>
            <h5 *ngIf="TopUpHistoryList_Config.Data[0]"> <span class="text-sm mg-r-2"
                [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span> {{_AccountBalance.Balance}} </h5>

            <div class="mb-2">
              Enter Amount
            </div>
            <div class="input-group text-warn mb-3">
              <span class="input-group-prepend ">
                <span class="input-group-text text-warn"><span
                    [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span> </span>
              </span>
              <!-- <input type="number" maxlength="7"  class="form-control text-warn" placeholder="Amount to credit"
              (keypress)="_HelperService.PreventText($event)" [(ngModel)]="_InterSwitchAmount" [ngModelOptions]="{standalone: true}"> -->
              <input maxlength="7" class="form-control text-warn" placeholder="Amount to credit"
                (keypress)="_HelperService.PreventText($event)" [(ngModel)]="_InterSwitchAmount"
                [ngModelOptions]="{standalone: true}" id="param-amount" required="" value="" />
              <br>
              <div class="text-secondary ">This amount will be credited in your wallet, you can further use it to
                give rewards to your customers.</div>
              <div class="text-danger mg-t-5"
                *ngIf="(_InterSwitchAmount == undefined || _InterSwitchAmount == 0) || (_InterSwitchAmount < 1000)">
                Enter amount must be equal or greater than <span class=" text-sm mg-r-2"
                  [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span>1000</div>

              <div class="text-danger mg-t-5" *ngIf="_InterSwitchAmount > 1000000">
                Enter amount must be equal or lower than <span class=" text-sm mg-r-2"
                  [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span>1000000</div>


            </div>

          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">
            {{ "Common.Close" | translate }}
          </button>

          <!-- <button class="btn btn-success pd-l-20" type="submit" (click)="startTop()">Pay</button> -->

          <button
            *ngIf="(_InterSwitchAmount == undefined || _InterSwitchAmount == 0) || (_InterSwitchAmount < 1000 || _InterSwitchAmount > 1000000)"
            class="btn btn-primary " disabled>Confirm</button>
          <button *ngIf="_InterSwitchAmount >= 1000 && _InterSwitchAmount <= 1000000" class="btn btn-primary"
            (click)="startTop()">Confirm</button>

        </div>
      </div>
    </form>

  </div>
</div>
<!-- <div id="Invoice_view" *ngIf="showModalPopUp" class="modal fade" data-backdrop="true" aria-hidden="true">
  <div class="modal-dialog">
  <form  class="pd-l">
    <div class="modal-content ht-150p wd-80p">
      <div class="modal-header">
        <h5 class="modal-title">
          Bill
          <span class="badge badge-success"> Paid</span>
        </h5>
      </div>
      <div class="modal-body">
        <div class="tx-14">
          Service
        </div>
        <div class="tx-20 pb-3">{{InvoiceData.Service}}</div>
        <div>
          Amount
        </div>
        <div class="tx-20 pb-3">
          <span class=" text-sm mg-r-2"
              [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span>
          {{InvoiceData.Amount}}
        </div>
        <div >
          Date
          <div class="tx-20 pb-3">{{InvoiceData.Date}}</div>
        </div>
      </div>
      <div class="modal-footer">
        <button type ="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>

  </form>
  </div>
</div> -->




<div class="card bd-t-0" *ngIf="_HelperService.AppConfig.ActiveOwnerIsTucPlusEnabled == false">
  <div class="pd-20">
    <h6 class="tx-16 pb-0 mb-0"> Subscription Pricing & Plans</h6>
    <div class="text-secondary mg-t-4h">
      You are billed for all active plans (Excluding Free Trials)
    </div>

    <h5 class="tx-22 mg-t-10 mb-0">
      {{CurrentPlan.Name || "--"}} <span class="badge badge-success"> Active</span>
      <p class="text-secondary tx-12 mg-t-6 mb-0" style="max-width: 50vw !important;">
        {{CurrentPlan.Description || "--"}}
      </p>
    </h5>

    <div class="tx-12 text-secondary mg-t-15">
      Subscription valid till - <span class="tx-dark tx-medium"> {{_HelperService.GetDateS(CurrentPlan.EndDate ||
        "--")}}</span>
    </div>

    <div class="mg-t-15">
      <!-- <button class="btn btn-outline-primary" data-toggle="modal" data-target="#Plans" (click)="ViewPlans()">View All
        Plans </button> -->

      <a class="btn btn-outline-primary"
        routerLink="{{_HelperService.AppConfig.Pages.ThankUCash.PanelMerchant.AllPlans}}" target="_blank">View All
        Plans</a>
    </div>

  </div>
</div>

<!-- <div class="card bd-t-0">
  <div class="class pd-20">
    <h6 class="tx-16 pb-20 mb-0"> Invoices</h6>
    <table class="table table-borderless col-6 text-secondary tx-12">
      <thead>
        <tr class="row pd-l-5">
          <th class="col-4">Date</th>
          <th class="col-4">Service</th>
          <th class="col-4">Amount</th>
        </tr>
      </thead>
      <tbody>
        <tr class="row pd-l-5" *ngFor = "let item of Invoices">
          <td class="col-4">
            <div>
              {{item.Date}}
            </div>
            <div class="cursor-pointer text-primary" (click)="InvoiceView(item)" >
              View
            </div>
          </td>
          <td class="col-4">{{item.Service}}</td>
          <td class="col-4">{{item.Amount}}</td>
           
        </tr>
      </tbody>
    </table>
    
  </div>
</div> -->
<div id="Form_AddUser_Content" class="modal fade" data-backdrop="true" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Credit Reward Wallet</h5>
      </div>
      <div class="modal-body  p-lg">
        <div class="mb-3 b-b pb-3">
          <h6 class="mg-b-5">Available Balance</h6>
          <h5 *ngIf="TopUpHistoryList_Config.Data[0]"> <span class="text-sm mg-r-2"
              [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span> {{_AccountBalance.Balance}} </h5>

          <div class="mb-2">
            Enter Amount
          </div>
          <div class="input-group text-warn mb-3">
            <span class="input-group-prepend ">
              <span class="input-group-text text-warn"><span
                  [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span> </span>
            </span>
            <input type="text" maxlength="7" class="form-control text-warn" placeholder="Amount to credit"
              (keypress)="_HelperService.PreventText($event)" [(ngModel)]="_AccountBalanceCreditAmount"> <br>

            <div class="text-secondary ">This amount will be credited in your wallet, you can further use it to
              give rewards to your customers.</div>

            <div class="text-danger mg-t-5"
              *ngIf="(_AccountBalanceCreditAmount == undefined || _AccountBalanceCreditAmount == 0) || (_AccountBalanceCreditAmount < 1000)">
              Enter amount must be equal or greater than <span class=" text-sm mg-r-2"
                [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span>1000</div>

            <div class="text-danger mg-t-5" *ngIf="_AccountBalanceCreditAmount > 1000000">
              Enter amount must be equal or lower than <span class=" text-sm mg-r-2"
                [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span>1000000</div>

          </div>

        </div>
        <!-- <div>
                  <div class="text-center mb-2 text-uppercase text-xs _500">Direct Bank Transfer</div>
                  <div class="mb-2">After transfering amount email us at <span
                          class="text-primary">hello@thankucash.com</span> or <br>
                      call us on <span class="text-primary">+ 234 809 042 6105</span> with the payment reference
                      number</div>
                  <div class="mb-2">ACC Name : <span class="text-black">Connected Analytics Limited</span> </div>
                  <div class="row">
                      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                          <div class="p-2 light r-1x b-a mb-2">
                              <div class="float-left pr-2">
                                  <img src="http://cdn.thankucash.com/2019/5/c9fdcacd17ca410ab1986a3637c653a1.png"
                                      width="36" height="36">
                              </div>
                              <div>
                                  <div class="text-xs">GT Bank</div>
                                  <div class="text-xs ">Acc. No. :<span class="text-black"> 0413463556</span> </div>
                              </div>
                          </div>
                          <div class="p-2 light r-1x b-a mb-2">
                              <div class="float-left pr-2">
                                  <img src="http://cdn.thankucash.com/2020/1/696e1639b2dd4db5bfd6b03b565331c5.png"
                                      width="36" height="36">
                              </div>
                              <div>
                                  <div class="text-xs">Zenith Bank</div>
                                  <div class="text-xs ">Acc. No. :<span class="text-black"> 1015752687</span> </div>
                              </div>
                          </div>

                      
                      </div>
                      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                          <div class="p-2 light r-1x b-a mb-2">
                              <div class="float-left pr-2">
                                  <img src="http://cdn.thankucash.com/2019/7/c26886ade0fd4596a8d9feae22c924f0.png"
                                      width="36" height="36">
                              </div>
                              <div>
                                  <div class="text-xs">Sterling Bank</div>
                                  <div class="text-xs ">Acc. No. :<span class="text-black"> 0069091710</span> </div>
                              </div>
                          </div>
                          <div class="p-2 light r-1x b-a mb-2">
                              <div class="float-left pr-2">
                                  <img src="http://cdn.thankucash.com/2019/3/fceab7c366ec43cdbc085e4d1ab0516d.png"
                                      width="36" height="36">
                              </div>
                              <div>
                                  <div class="text-xs">Providus Bank</div>
                                  <div class="text-xs ">Acc. No. :<span class="text-black"> 1300213860</span> </div>
                              </div>
                          </div>
                    
                      </div>
                  </div>



              </div> -->
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          {{ "Common.Close" | translate }}
        </button>
        <button
          *ngIf="(_AccountBalanceCreditAmount == undefined || _AccountBalanceCreditAmount == 0) || (_AccountBalanceCreditAmount < 1000 || _AccountBalanceCreditAmount > 1000000)"
          class="btn btn-primary " disabled>Confirm</button>
        <button *ngIf="_AccountBalanceCreditAmount >= 1000 && _AccountBalanceCreditAmount <= 1000000"
          class="btn btn-success" angular4-paystack [currency]="_HelperService.AppConfig.CurrencyNotation" [key]="_HelperService.AppConfig.PayStackKey"
          [email]="_HelperService.User.EmailAddress" [amount]="_AccountBalanceCreditAmount * 100"
          [class]="'btn btn-primary'" [ref]="_TransactionReference" (close)="paymentCancel()"
          (callback)="paymentDone($event)" data-dismiss="modal">Confirm</button>

      </div>
    </div>

  </div>
</div>
<div class="modal fade" id="TopupHistory" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Top Up History</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class=" ">
          <div class="box-header px-3  pd-b-15  d-flex align-items-center justify-content-between">
            <div class="form-inline ">
              <div class="input-group input-group-sm mr-3">
                <input type="text" class="form-control" [value]="TopUpHistoryList_Config.SearchParameter"
                  maxlength="100" class="form-control" placeholder="{{ 'Common.Search' | translate }}"
                  (keyup)="TopUpHistoryList_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.Search)">
                <div class="input-group-append">
                  <button class="btn btn-outline-light" type="button"
                    (click)="TopUpHistoryList_ToggleOption( null, _HelperService.AppConfig.ListToggleOption.Search)"><i
                      data-feather="search"></i> </button>
                </div>
              </div>
            </div>
            <nav class="nav nav-with-icon tx-20">
              <div class="dropdown dropleft">
                <a href="" class="nav-link mr-2" id="TopUpHistoryList_sdropdown" data-toggle="dropdown"
                  aria-haspopup="true" aria-expanded="false"> <i data-feather="align-left" class="tx-20"></i> </a>
                <div class="dropdown-menu tx-13">
                  <form class="wd-250 pd-15">


                    <h6 class="dropdown-header tx-uppercase tx-12 tx-bold tx-inverse pd-b-20 pd-l-0 pd-t-0">Sort
                      <div class="float-right tx-20" *ngIf="TopUpHistoryList_Config.Sort.SortOrder == 'desc'"
                        (click)="TopUpHistoryList_ToggleOption( null, _HelperService.AppConfig.ListToggleOption.SortOrder)">
                        <i class="fas fa-sort-alpha-down-alt"></i>
                      </div>
                      <div class="float-right tx-20" *ngIf="TopUpHistoryList_Config.Sort.SortOrder == 'asc'"
                        (click)="TopUpHistoryList_ToggleOption( null, _HelperService.AppConfig.ListToggleOption.SortOrder)">
                        <i class="fas fa-sort-alpha-up-alt"></i>
                      </div>
                    </h6>

                    <a class="dropdown-item cursor-pointer {{TItem.SystemActive?  'SystemActive' :'' }} {{_HelperService.CheckMode == 'dark' ? 'text-white' : 'text-dark' }} "
                      *ngFor="let TItem of TopUpHistoryList_Config.Sort.SortOptions"
                      (click)="TopUpHistoryList_ToggleOption( TItem, _HelperService.AppConfig.ListToggleOption.Sort)">
                      {{TItem.Name}}
                    </a>

                    <button type="button" class="btn btn-light btn-sm mr-2 mg-t-20"
                      (click)="ResetFilters( null, _HelperService.AppConfig.ListToggleOption.ResetOffset)">
                      Reset</button>
                    <button type="button" class="btn btn-primary btn-sm  mg-t-20"
                      (click)="ApplyFilters( null, _HelperService.AppConfig.ListToggleOption.ApplyFilter,'Sort')">Apply</button>
                  </form>
                </div>
              </div>
              <div class="dropdown dropleft">
                <a href="" class="nav-link" id="TopUpHistoryList_fdropdown" data-toggle="dropdown" aria-haspopup="true"
                  (click)="_HelperService.StopClickPropogation()" aria-expanded="false"> <i data-feather="filter"></i>
                </a>
                <div class="dropdown-menu tx-13">
                  <form class="wd-250  pd-15" *ngIf="ResetFilterControls">
                    <h6 class="dropdown-header tx-uppercase tx-12 tx-bold tx-inverse pd-b-20 pd-l-0 pd-t-0">Filters
                    </h6>
                    <div>
                      <div class="form-group">
                        <label>Date</label>
                        <input type="text" class="form-control  form-daterangepicker" name="daterangeInput"
                          daterangepicker [options]="_HelperService.AppConfig.DateRangeOptions"
                          (selected)="TopUpHistoryList_ToggleOption($event, _HelperService.AppConfig.ListToggleOption.Date)" />
                      </div>
                    </div>
                    <!-- <div>
                            <div class="form-group">
                              <label>Status</label>
                              <select2 [options]="_DataHelperService.S2_Status_Option" class="wd-100p"
                                [data]="TopUpHistoryList_Config.StatusOptions"
                                (valueChanged)="TopUpHistoryList_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.Status)">
                              </select2>
                            </div>
                          </div> -->

                    <button type="button" class="btn btn-light btn-sm mr-2"
                      (click)="ResetFilters( null, _HelperService.AppConfig.ListToggleOption.ResetOffset)">
                      Reset</button>
                    <button type="button" class="btn btn-primary btn-sm "
                      (click)="ApplyFilters( null, _HelperService.AppConfig.ListToggleOption.ApplyFilter,'Other')">Apply</button>
                  </form>
                </div>
              </div>
              <a class="nav-link ml-2 RefreshColorOne"
                (click)="TopUpHistoryList_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.Refresh)"> <i
                  data-feather="refresh-cw"></i> </a>
              <a class="nav-link ml-2 RefreshColorOne"
                (click)="TopUpHistoryList_ToggleOption( $event,_HelperService.AppConfig.ListToggleOption.Csv)"> <i
                  data-feather="download"></i> </a>
            </nav>

          </div>


          <div class="card-body p-0">
            <table class="{{_HelperService.AppConfig.TablesConfig.DefaultClass}}">
              <thead>
                <tr>
                  <th class="">
                    Date
                  </th>
                  <th>
                    Amount
                  </th>
                  <th class="">
                    Reference Number
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr disabled (click)="TopUpHistoryList_RowSelected(TItem)"
                  *ngFor="let TItem of TopUpHistoryList_Config.Data  | paginate: { id: 'TopUpHistoryList_Paginator',itemsPerPage: TopUpHistoryList_Config.PageRecordLimit, currentPage: TopUpHistoryList_Config.ActivePage,  totalItems: TopUpHistoryList_Config.TotalRecords }">
                  <td>
                    <div class="tx-14">{{TItem.TransactionDate || "--"}}</div>
                  </td>
                  <td class="">
                    <span class="text-sm" [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span>
                    {{TItem.Amount || "--"}}
                  </td>
                  <td class="text-muted">
                    {{TItem.PaymentReference || "--"}}
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="card-footer pd-20">
            <span class="mr-3">
              {{ 'Common.Showing' | translate }}
              <span class="bold">{{TopUpHistoryList_Config.ShowingStart}} {{ 'Common.To' | translate }}
                {{TopUpHistoryList_Config.ShowingEnd}}
              </span> {{ 'Common.Of' | translate }} {{TopUpHistoryList_Config.TotalRecords}}
            </span>
            <span>
              {{ 'Common.Show' | translate }}
              <select class="wd-40 " [(ngModel)]="TopUpHistoryList_Config.PageRecordLimit"
                (ngModelChange)="TopUpHistoryList_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.Limit)">
                <option [ngValue]="TItem" *ngFor="let TItem of _HelperService.AppConfig.ListRecordLimit">
                  {{TItem}}
                </option>
              </select>
            </span>
            <span class="float-right">
              <pagination-controls id="TopUpHistoryList_Paginator" class="pagination pagination-space"
                (pageChange)="TopUpHistoryList_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.Page)"
                nextLabel="{{ 'Common.Next' | translate }}" previousLabel="{{ 'Common.Previous' | translate }}">
              </pagination-controls>
            </span>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="Plans" tabindex="-1" aria-labelledby="PlansLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="PlansLabel">Upgrade Subscription</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body d-flex justify-content-around  align-items-center text-center ht-400">
        <div>
          <div> <span><i class="fas fa-running tx-50 text-secondary"></i> </span> </div>
          <h5 class="mg-t-20 text-secondary tx-medium"> {{FreePlan.Name || "--"}}</h5>
          <h5 class="tx-18 tx-dark"> <span class=" text-sm mg-r-2"
              [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span>{{FreePlan.SellingPrice}}
          </h5>
          <p class="tx-dark mg-t-16 pb-0 mb-0"> Loyalty platform along with one store and one cashier addition
            features </p>
          <span *ngIf="CurrentPlan.Name == 'ThankUCash Free'"><i
              class="fas fa-check-square text-success tx-40 mg-t-30"></i> </span>
          <button *ngIf="CurrentPlan.Name != 'ThankUCash Free'" class="btn btn-primary mg-t-30" data-toggle="modal"
            data-target="#FreePlans" (click)="selectPlan('free')">
            Choose Plan </button>

        </div>
        <div class="mg-x-20">
          <div> <span><i class="fas fa-biking tx-50 text-secondary"></i> </span></div>
          <h5 class="mg-t-20 text-secondary tx-medium"> {{BasicPlan.Name || "--" }}</h5>
          <h5 class="tx-18 tx-dark"> <span class=" text-sm mg-r-2"
              [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span>{{BasicPlan.SellingPrice}}/{{BasicPlan.TypeName}}
          </h5>
          <p class="tx-dark mg-t-16 pb-0 mb-0"> Loyalty platform + Business Analysis
            along with 4 store and 20 cashiers
            Addition features</p>
          <button *ngIf="CurrentPlan.Name != 'ThankUCash Basic'" class="btn btn-primary mg-t-30" data-toggle="modal"
            data-target="#BasicPlans" (click)="selectPlan('basic')">
            Choose Plan </button>
          <span *ngIf="CurrentPlan.Name == 'ThankUCash Basic'"><i
              class="fas fa-check-square text-success tx-40 mg-t-30"></i> </span>


        </div>
        <div>
          <div> <span><i class="fas fa-car-side tx-50 text-secondary"></i> </span> </div>
          <h5 class="mg-t-20 text-secondary tx-medium"> {{PremiumPlan.Name || "--" }} </h5>
          <h5 class="tx-18 tx-dark"> <span class=" text-sm mg-r-2"
              [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span>{{PremiumPlan.SellingPrice}}/{{PremiumPlan.TypeName}}
          </h5>
          <p class="tx-dark mg-t-16 pb-0 mb-0">Basic Plan + Unlimited Cashiers and 99 stores addition features
          </p>
          <button *ngIf="CurrentPlan.Name != 'ThankUCash Premium'" class="btn btn-primary mg-t-30" data-toggle="modal"
            data-target="#PremiumPlans" (click)="selectPlan('premium')"> Choose Plan </button>
          <span *ngIf="CurrentPlan.Name == 'ThankUCash Premium'"><i
              class="fas fa-check-square text-success tx-40 mg-t-30"></i> </span>

        </div>
      </div>
      <div class="modal-footer pd-25">
        <!-- <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Subscribe</button> -->
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="FreePlans" tabindex="-1" aria-labelledby="FreePlansLabel" aria-hidden="true"
  style="overflow-y: scroll !important;">
  <div class="modal-dialog modal-lg modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="BasicPlansLabel">{{FreePlan.Name || "--"}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="closePlanDetail()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body  justify-content-around  text-center  pd-x-70">
        <div>
          <div> <span><i class="fas fa-running tx-50 text-secondary"></i> </span></div>
          <h5 class="mg-t-20 tx-24"> {{FreePlan.Name || "--"}} </h5>
          <h5 class="tx-22 tx-purple"> <span class=" text-sm mg-r-2"
              [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span>{{FreePlan.SellingPrice}}/{{FreePlan.TypeName}}
          </h5>
          <p class="text-secondary mg-t-16 pb-0 mb-0">Loyalty platform along with one store and one cashier addition
            features


          </p>

        </div>

        <div class="text-left mg-t-30">
          <h5 class="tx-16"> What is Free Plan? </h5>
          <p class="text-secondary"> {{FreePlan.Description || "--"}}</p>
        </div>

        <div class="text-left mg-t-30">
          <h5 class="tx-16"> *Terms & Conditions</h5>
          <p class="text-secondary pd-b-0"> 1.Minimum 5% Reward percentage configuration
          </p>

        </div>
      </div>
      <div class="modal-footer pd-25">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="closePlanDetail()">Close</button>

        <button class="btn btn-primary" (click)="FreePlanActivate()">Subscribe</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="BasicPlans" tabindex="-1" aria-labelledby="BasicPlansLabel" aria-hidden="true"
  style="overflow-y: scroll !important;">
  <div class="modal-dialog modal-lg modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="BasicPlansLabel">{{BasicPlan.Name || "--"}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="closePlanDetail()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body  justify-content-around  text-center  pd-x-70">
        <div>
          <div> <span><i class="fas fa-biking tx-50 text-secondary"></i> </span></div>
          <h5 class="mg-t-20 tx-24"> {{BasicPlan.Name || "--"}} </h5>
          <h5 class="tx-22 tx-purple"> <span class=" text-sm mg-r-2"
              [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span>{{BasicPlan.SellingPrice ||
            "--"}}/{{BasicPlan.TypeName}}
          </h5>
          <p class="text-secondary mg-t-16 pb-0 mb-0">Loyalty platform + Business Analysis
            along with 4 store and 20 cashiers
            Addition features </p>

        </div>

        <div class="text-left mg-t-30">
          <h5 class="tx-16"> What is Basic Plan? </h5>
          <p class="text-secondary"> {{BasicPlan.Description || "--"}}</p>
        </div>


        <div class="text-left mg-t-30">
          <h5 class="tx-16"> Which features you will get?</h5>
          <div class="d-flex mg-t-10">
            <div
              class="wd-100 wd-md-100 ht-100 ht-md-100 bg-ui-02 tx-brand-02 mg-r-30 mg-md-r-30 d-flex align-items-center justify-content-center rounded ">
              <div class="text-center"> <i class="fas fa-bullhorn tx-30"></i>

                <div class="tx-brand-02 tx-12 mg-t-5"> Promotions </div>
              </div>
            </div>
            <div
              class="wd-100 wd-md-100 ht-100 ht-md-100 bg-ui-02 tx-brand-02 d-flex align-items-center justify-content-center rounded">
              <div class="text-center"> <i class="fas fa-flask tx-30"></i>

                <div class="tx-brand-02 tx-12 mg-t-5"> POS Products </div>
              </div>

            </div>
          </div>

        </div>

        <div class="text-left mg-t-30">
          <h5 class="tx-16"> *Terms & Conditions</h5>
          <p class="text-secondary pd-b-0"> 1. Minimum 3% Reward percentage configuration

          </p>

        </div>
      </div>
      <div class="modal-footer pd-25">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="closePlanDetail()">Close</button>

        <button class="btn btn-primary" angular4-paystack [currency]="_HelperService.AppConfig.CurrencyNotation" [key]="_HelperService.AppConfig.PayStackKey"
          [email]="_HelperService.User.EmailAddress" amount="{{BasicPlan.SellingPrice * 100}}"
          [ref]="_SubscriptionTransactionReference" (close)="SubscriptionpaymentCancel()"
          (callback)="SubscriptionDone($event,SubscriptionId,SubscriptionKey)" data-dismiss="modal">Subscribe</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="PremiumPlans" tabindex="-1" aria-labelledby="PremiumPlansLabel" aria-hidden="true"
  style="overflow-y: scroll !important;">
  <div class="modal-dialog modal-lg ">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="PremiumPlansLabel">{{PremiumPlan.Name || "--"}} </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="closePremiumPlanDetail()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body   text-center">
        <div>
          <div> <span><i class="fas fa-car-side tx-50 text-secondary"></i> </span> </div>
          <h5 class="mg-t-20 tx-24"> {{PremiumPlan.Name || "--"}} </h5>
          <h5 class="tx-22 tx-purple"> <span class=" text-sm mg-r-2"
              [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span>{{PremiumPlan.SellingPrice ||
            "--"}}/{{PremiumPlan.TypeName}}
          </h5>
          <p class="text-secondary mg-t-16 pb-0 mb-0">Loyalty platform + Business Analysis
            along with 4 store and 20 cashiers
            Addition features</p>

        </div>
        <div class=" mg-t-30">
          <h5 class="tx-16"> What is Premium Plan? </h5>
          <p class="text-secondary"> {{PremiumPlan.Description || "--"}}</p>
        </div>


        <div class="mg-t-20 ">
          <h6 class="tx-20"> Features</h6>

          <div class="d-flex justify-content-around mg-t-30">
            <div
              class="wd-100 wd-md-100 ht-100 ht-md-100 bg-ui-02 tx-brand-02  d-flex align-items-center justify-content-center rounded ">
              <div class="text-center"> <i class="fas fa-chart-line tx-30"></i>

                <div class="tx-brand-02 tx-12 mg-t-5"> Analytics </div>
              </div>
            </div>
            <div
              class="wd-100 wd-md-100 ht-100 ht-md-100 bg-ui-02 tx-brand-02 d-flex align-items-center justify-content-center rounded">
              <div class="text-center"> <i class="fas fa-store tx-30"></i>

                <div class="tx-brand-02 tx-12 mg-t-5"> Multiple Stores </div>
              </div>

            </div>
            <div
              class="wd-100 wd-md-100 ht-100 ht-md-100 bg-ui-02 tx-brand-02 d-flex align-items-center justify-content-center rounded">
              <div class="text-center"> <i class="fas fa-users tx-30"></i>

                <div class="tx-brand-02 tx-12 mg-t-5"> Loyalty </div>
              </div>

            </div>
          </div>
        </div>

        <!-- <div class="mg-t-30">
          <h6 class="tx-20"> Select Add Ons</h6>
          <div class="tx-14 text-secondary">Make your own customised Premium Plan, select add-ons which you want to
            subscribe</div>
          <div>
            <div class="d-flex flex-wrap">
              <div class="col-md-4 d-flex justify-content-center mg-t-30">
                <div
                  class="wd-100 wd-md-100 ht-100 ht-md-100 bg-ui-02 text-secondary  d-flex align-items-center justify-content-center rounded ">
                  <div class="text-center"> <i class="fas fa-gift tx-30"></i>

                    <div class="text-secondary tx-12 mg-t-5"> Gift Point</div>
                  </div>
                </div>
              </div>
              <div class="col-md-4 d-flex justify-content-center mg-t-30">
                <div
                  class="wd-100 wd-md-100 ht-100 ht-md-100 bg-ui-02 text-secondary d-flex align-items-center justify-content-center rounded">
                  <div class="text-center"> <i class="fas fa-wallet tx-30"></i>

                    <div class="text-secondary tx-12 mg-t-5"> Gift Card </div>
                  </div>

                </div>
              </div>
              <div class="col-md-4 d-flex justify-content-center mg-t-30">
                <div
                  class="wd-100 wd-md-100 ht-100 ht-md-100 bg-ui-02 text-secondary d-flex align-items-center justify-content-center rounded">
                  <div class="text-center"> <i class="fab fa-maxcdn"></i>

                    <div class="text-secondary tx-12 mg-t-5"> Mad Deals </div>
                  </div>

                </div>
              </div>
              <div class="col-md-4 d-flex justify-content-center mg-t-30">
                <div
                  class="wd-100 wd-md-100 ht-100 ht-md-100 bg-ui-02 text-secondary  d-flex align-items-center justify-content-center rounded ">
                  <div class="text-center"> <i class="fas fa-bullhorn tx-30"></i>

                    <div class="text-secondary tx-12 mg-t-5"> Scratch Cards </div>
                  </div>
                </div>
              </div>
              <div class="col-md-4 d-flex justify-content-center mg-t-30">
                <div
                  class="wd-100 wd-md-100 ht-100 ht-md-100 bg-ui-02 text-secondary d-flex align-items-center justify-content-center rounded">
                  <div class="text-center"> <i class="fas fa-shopping-cart tx-30"></i>

                    <div class="text-secondary tx-12 mg-t-5"> Shopping Cart </div>
                  </div>

                </div>
              </div>
              <div class="col-md-4 d-flex justify-content-center mg-t-30">
                <div
                  class="wd-100 wd-md-100 ht-100 ht-md-100 bg-ui-02 text-secondary d-flex align-items-center justify-content-center rounded">
                  <div class="text-center"> <i class="fas fa-percent tx-25"></i>

                    <div class="text-secondary tx-12 mg-t-5"> Campaigns </div>
                  </div>

                </div>
              </div>
            </div>

          </div>

        </div> -->

        <div class="text-left  mg-t-30 mg-l-75">
          <h5 class="tx-16"> *Terms & Conditions</h5>
          <p class="text-secondary pd-b-0"> 1. Minimum 1% Reward percentage configuration

          </p>

        </div>

      </div>
      <div class="modal-footer pd-25">
        <button type="button" class="btn btn-secondary" data-dismiss="modal"
          (click)="closePremiumPlanDetail()">Close</button>
        <button class="btn btn-primary" angular4-paystack [currency]="_HelperService.AppConfig.CurrencyNotation" [key]="_HelperService.AppConfig.PayStackKey"
          [email]="_HelperService.User.EmailAddress" amount="{{PremiumPlan.SellingPrice * 100}}"
          [ref]="_SubscriptionTransactionReference" (close)="SubscriptionpaymentCancel()"
          (callback)="SubscriptionDone($event,SubscriptionId,SubscriptionKey)" data-dismiss="modal">Subscribe</button>
      </div>
    </div>
  </div>
</div>