<ol class="breadcrumb df-breadcrumbs mg-b-10">
  <li class="breadcrumb-item" [routerLinkActive]="['active']"><a
      routerLink="{{ _HelperService.AppConfig.Pages.ThankUCash.Dashboard.Merchant}}" [routerLinkActive]="['active']">
      Dashboard</a></li>

  <li class="breadcrumb-item" [routerLinkActive]="['active']"><a [routerLinkActive]="['active']">Orders
    </a></li>
</ol>

<ul class="nav nav-line flex-row " id="myTab" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#New" role="tab" aria-controls="home"
      aria-selected="true" (click)="TUOrderList_ListTypeChange(1)">New
      <span class="badge  tx-dark tx-11 mg-l-5 bg-gray-300 }} ">
        {{_GetoverviewSummary.NewOrders || "0"}}
      </span></a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#Processing" role="tab" aria-controls="profile"
      aria-selected="false" (click)="TUOrderList_ListTypeChange(2)">Processing
      <span class="badge  tx-dark tx-11 mg-l-5 bg-gray-300 }} ">
        {{_GetoverviewSummary.ProcessingOrders || "0"}}
      </span></a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="contact-tab" data-toggle="tab" href="#pick" role="tab" aria-controls="contact"
      aria-selected="false" (click)="TUOrderList_ListTypeChange(3)">Ready to pick
      <span class="badge  tx-dark tx-11 mg-l-5 bg-gray-300 }} ">
        {{_GetoverviewSummary.ReadyToPickUpOrders || "0"}}
      </span></a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="contact-tab" data-toggle="tab" href="#Failed" role="tab" aria-controls="contact"
      aria-selected="false" (click)="TUOrderList_ListTypeChange(4)"> Dispatched
      <span class="badge  tx-dark tx-11 mg-l-5 bg-gray-300 }} ">
        {{_GetoverviewSummary.DispatchedOreders || "0"}}
      </span></a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="contact-tab" data-toggle="tab" href="#Cancelled" role="tab" aria-controls="contact"
      aria-selected="false" (click)="TUOrderList_ListTypeChange(5)">Failed
      <span class="badge  tx-dark tx-11 mg-l-5 bg-gray-300 }} ">
        {{_GetoverviewSummary.FailedOrders || "0"}}
      </span></a>
  </li>
  <!-- <li class="nav-item">
        <a class="nav-link" id="contact-tab" data-toggle="tab" href="#Return" role="tab" aria-controls="contact" aria-selected="false" (click)="TUOrderList_ListTypeChange(6)"> Return</a>
      </li> -->
  <li class="nav-item">
    <a class="nav-link" id="contact-tab" data-toggle="tab" href="#All" role="tab" aria-controls="contact"
      aria-selected="false" (click)="TUOrderList_ListTypeChange(6)"> Cancelled
      <span class="badge  tx-dark tx-11 mg-l-5 bg-gray-300 }} ">
        {{_GetoverviewSummary.TotalCancelledOrders || "0"}}
      </span></a>
  </li>
</ul>

<div class="media pd-y-20 bd-b" *ngIf="TUOrdersList_Config.ListType == 1">
  <div
    class="wd-40 wd-md-50 ht-40 ht-md-50 bg-teal tx-white mg-r-10 mg-md-r-10 d-flex align-items-center justify-content-center rounded op-6">
    <i data-feather="shopping-bag"> </i>
  </div>
  <div class="media-body ">
    <h6 class="tx-20 tx-sm-18 tx-md-20 tx-normal tx-nowrap mg-b-5 mg-b-8">{{_GetoverviewSummary.NewOrders || "0"}} New
      orders arrived</h6>
    <h4 class="tx-sans tx-uppercase tx-10 tx-spacing-1 tx-color-03 tx-semibold   mg-md-b-0">Click Accept Order, to
      accept and proceed further</h4>
  </div>
</div>
<div class="media-body d-flex pd-y-20 bd-b" *ngIf="TUOrdersList_Config.ListType == 2">
  <div
    class="wd-40 wd-md-50 ht-40 ht-md-50 bg-teal tx-white mg-r-10 mg-md-r-10 d-flex align-items-center justify-content-center rounded op-6">
    <i data-feather="loader"> </i>
  </div>
  <div class="media-body">
    <h6 class="tx-20 tx-sm-18 tx-md-20 tx-normal tx-nowrap mg-b-5 mg-b-8"> {{_GetoverviewSummary.ProcessingOrders}}
      orders in Processing
    </h6>
    <h4 class="tx-sans tx-12 tx-spacing-1 tx-color-03 tx-semibold mg-md-b-0">
      Before 30 mins of processing time end, we will automatically search and assign riders
    </h4>
  </div>
</div>
<div class="media-body d-flex pd-y-20 bd-b" *ngIf="TUOrdersList_Config.ListType == 3">
  <div
    class="wd-40 wd-md-50 ht-40 ht-md-50 bg-teal tx-white mg-r-10 mg-md-r-10 d-flex align-items-center justify-content-center rounded op-6">
    <i data-feather="loader"> </i>
  </div>
  <div class="media-body">
    <h6 class="tx-20 tx-sm-18 tx-md-20 tx-normal tx-nowrap mg-b-5 mg-b-8"> {{_GetoverviewSummary.ReadyToPickUpOrders}}
      order is Ready to Pick
    </h6>
    <h4 class="tx-sans tx-12 tx-spacing-1 tx-color-03 tx-semibold mg-md-b-0">
      Confirm Name first, then handover package to delivery rider
    </h4>
  </div>
</div>
<div class="media-body d-flex pd-y-20 bd-b" *ngIf="TUOrdersList_Config.ListType == 4">
  <div
    class="wd-40 wd-md-50 ht-40 ht-md-50 bg-teal tx-white mg-r-10 mg-md-r-10 d-flex align-items-center justify-content-center rounded op-6">
    <i data-feather="truck"> </i>
  </div>
  <div class="media-body">
    <h6 class="tx-20 tx-sm-18 tx-md-20 tx-normal tx-nowrap mg-b-5 mg-b-8">{{_GetoverviewSummary.DispatchedOreders}}
      orders are Dispatched
    </h6>
    <h4 class="tx-sans tx-12 tx-spacing-1 tx-color-03 tx-semibold mg-md-b-0">
      You can track your orders, click track order
    </h4>
  </div>
</div>
<div class="media-body d-flex pd-y-20 bd-b" *ngIf="TUOrdersList_Config.ListType == 5">
  <div
    class="wd-40 wd-md-50 ht-40 ht-md-50 bg-danger tx-white mg-r-10 mg-md-r-10 d-flex align-items-center justify-content-center rounded op-6">
    <i data-feather="alert-triangle"> </i>
  </div>
  <div class="media-body">
    <h6 class="tx-20 tx-sm-18 tx-md-20 tx-normal tx-nowrap mg-b-5 mg-b-8"> {{_GetoverviewSummary.FailedOrders || "0"}}
      order Failed to deliver
    </h6>
    <h4 class="tx-sans tx-12 tx-spacing-1 tx-color-03 tx-semibold mg-md-b-0">
      Contact Rider or delivery partners in this case
    </h4>
  </div>
</div>
<div class="media-body d-flex pd-y-20 bd-b" *ngIf="TUOrdersList_Config.ListType == 6">
  <div
    class="wd-40 wd-md-50 ht-40 ht-md-50 bg-teal tx-white mg-r-10 mg-md-r-10 d-flex align-items-center justify-content-center rounded op-6">
    <i data-feather="loader"> </i>
  </div>
  <div class="media-body">
    <h6 class="tx-20 tx-sm-18 tx-md-20 tx-normal tx-nowrap mg-b-5 mg-b-8"> {{_GetoverviewSummary.TotalCancelledOrders}}
      Orders are cancelled
    </h6>
    <h4 class="tx-sans tx-12 tx-spacing-1 tx-color-03 tx-semibold mg-md-b-0">
      You can view all cancelled order in Cancelled Orders
    </h4>
  </div>
</div>
<div class="media pd-y-20 bd-b">
  <div class="form-inline ">
    <div class="input-group input-group-sm mr-3">
      <input type="text" class="form-control" [value]="TUOrdersList_Config.SearchParameter" maxlength="100"
        class="form-control" placeholder="{{ 'Common.Search' | translate }}"
        (keyup)="TUOrdersList_ToggleOptionSearch( $event, _HelperService.AppConfig.ListToggleOption.Search)">
      <div class="input-group-append">
        <button class="btn btn-outline-light" type="button"
          (click)="TUOrdersList_ToggleOption( null, _HelperService.AppConfig.ListToggleOption.Search,null)"><i
            data-feather="search"></i> </button>
      </div>
    </div>
  </div>

  <div class="btn-group mg-t-20 mg-sm-t-0">
    <button class="btn btn-xs btn-white  " disabled>Sort By</button>
    <button class="cursor-pointer btn btn-xs btn-white " [disabled]="!togglebutton"
      *ngFor="let TItem of TUOrdersList_Config.Sort.SortOptions"
      (click)="TUOrdersList_ToggleOption( TItem, _HelperService.AppConfig.ListToggleOption.Sort, LatestOrder)">
      Latest First
    </button>
    <button class="btn btn-xs btn-white" class=" cursor-pointer btn btn-xs btn-white" [disabled]="togglebutton"
      *ngFor="let TItem of TUOrdersList_Config.Sort.SortOptions"
      (click)="TUOrdersList_ToggleOption( TItem, _HelperService.AppConfig.ListToggleOption.Sort,OldestOrder)">
      Older First
    </button>
  </div>
  <div>
    <div class="dropdown dropright">

      <a href="" class="nav-link" id="TUTr_fdropdown" data-toggle="dropdown" aria-haspopup="true"
        (click)="_HelperService.StopClickPropogation()" aria-expanded="false"> <i data-feather="filter"></i> </a>

      <div class="dropdown-menu pd-0 tx-13">
        <form class="wd-400 ">
          <h6 class="dropdown-header tx-uppercase tx-12 tx-bold tx-inverse  pd-15 pd-b-20 pd-l-0 pd-t-0 bd bd-b-1">
            Filters
          </h6>
          <div class="pd-25" style="overflow: auto; height: 80vh;" *ngIf="ResetFilterControls">
            <div>
              <div class="form-group">
                <label>Date</label>
                <input type="text" class="form-control  form-daterangepicker" name="daterangeInput" daterangepicker
                  [options]="_HelperService.AppConfig.DateRangeOptions"
                  (selected)="TUOrdersList_ToggleOption($event, _HelperService.AppConfig.ListToggleOption.Date, null)" />
              </div>
            </div>

            <div>
              <div class="form-group">
                <label>Store</label>
                <div class="form-group">
                  <select2 class="full-width" [options]="Filter_Store_Option"
                    (valueChanged)="Filter_Stores_Change($event)">
                  </select2>
                </div>
              </div>
            </div>

            <div class="mg-b-50">
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <div class="controls">
                      <label for="TUTr_OrderMinAmount">Min Sale Amount</label>
                      <input type="number" min=0 name="TUTr_OrderMinAmount" maxlength="256" class="form-control"
                        [(ngModel)]="TUTr_OrderMinAmount"
                        (keyup)="TUOrdersList_ToggleOption($event,_HelperService.AppConfig.ListToggleOption.SalesRange,null)">
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <div class="controls">
                      <label for="TUTr_OrderMaxAmount">Max Sale Amount</label>
                      <input type="number" min=0 name="TUTr_OrderMaxAmount" maxlength="256" class="form-control"
                        [(ngModel)]="TUTr_OrderMaxAmount"
                        (keyup)="TUOrdersList_ToggleOption($event,_HelperService.AppConfig.ListToggleOption.SalesRange,null)">
                    </div>
                  </div>
                </div>
              </div>

            </div>


          </div>

          <div class="aside-logo  bg-white bd wd-100p pd-15 mg-0"
            style="position: fixed; bottom:0%; margin-top: -2.5em ;">
            <button type="button" class="btn btn-light btn-sm mr-2"
              (click)="ResetFilters( null, _HelperService.AppConfig.ListToggleOption.ResetOffset)">
              Reset</button>
            <button type="button" class="btn btn-primary btn-sm "
              (click)="ApplyFilters( null, _HelperService.AppConfig.ListToggleOption.ApplyFilter,'Other')">Apply</button>
          </div>
        </form>
      </div>
    </div>
  </div>


  <!-- 
   <div>
      <div class="dropdown dropright">
        
          <a href="" class="nav-link" id="TUTr_fdropdown" data-toggle="dropdown" aria-haspopup="true"
          (click)="_HelperService.StopClickPropogation()" aria-expanded="false"> <i data-feather="filter"></i> </a>
      
        <div class="dropdown-menu pd-0 tx-13">
          <form class="wd-400 ">
            <h6 class="dropdown-header tx-uppercase tx-12 tx-bold tx-inverse  pd-15 pd-b-20 pd-l-0 pd-t-0 bd bd-b-1">
              Filters
            </h6>
            <div class="pd-25" style="overflow: auto; height: 80vh;" *ngIf="ResetFilterControls">
              <div>
                <div class="form-group">
                  <label>Date</label>
                  <input type="text" class="form-control  form-daterangepicker" name="daterangeInput" daterangepicker
                    [options]="_HelperService.AppConfig.DateRangeOptions"
                    (selected)="TUOrdersList_ToggleOption($event, _HelperService.AppConfig.ListToggleOption.Date, null)" />
                </div>
              </div>
             
              <div>
                <div class="form-group">
                  <label>Store</label>
                  <div class="form-group">
                    <select2 class="full-width" [options]="Filter_Store_Option"
                      (valueChanged)="Filter_Stores_Change($event)">
                    </select2>
                  </div>
                </div>
              </div>
              
              <div class="mg-b-50">
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <div class="controls">
                        <label for="TUTr_OrderMinAmount">Min Sale Amount</label>
                        <input type="number" min=0 name="TUTr_OrderMinAmount" maxlength="256" class="form-control"
                          [(ngModel)]="TUTr_OrderMinAmount"
                          (keyup)="TUOrdersList_ToggleOption($event,_HelperService.AppConfig.ListToggleOption.SalesRange,null)">
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <div class="controls">
                        <label for="TUTr_OrderMaxAmount">Max Sale Amount</label>
                        <input type="number" min=0 name="TUTr_OrderMaxAmount" maxlength="256" class="form-control"
                          [(ngModel)]="TUTr_OrderMaxAmount"
                          (keyup)="TUOrdersList_ToggleOption($event,_HelperService.AppConfig.ListToggleOption.SalesRange,null)">
                      </div>
                    </div>
                  </div>
                </div>

              </div>


            </div>

            <div class="aside-logo  bg-white bd wd-100p pd-15 mg-0"
              style="position: fixed; bottom:0%; margin-top: -2.5em ;">
              <button type="button" class="btn btn-light btn-sm mr-2"
                (click)="ResetFilters( null, _HelperService.AppConfig.ListToggleOption.ResetOffset)">
                Reset</button>
              <button type="button" class="btn btn-primary btn-sm " data-dismiss="modal"
                (click)="ApplyFilters( null, _HelperService.AppConfig.ListToggleOption.ApplyFilter,'Other')">Apply</button>
            </div>
          </form>
        </div>
      </div>
   </div> -->

  <div class="pt-0 pd-l-15 pd-b-8">

    <!-- <div class="badge badge-transparent pd-y-10 pd-l-15 mx-1 bd bd-1 bd-gray-500 rounded-50 tx-color-03"
          [hidden]="!_HelperService.FilterSnap.Sort.SortColumn || (_HelperService.FilterSnap.Sort.SortColumn=='CreateDate' && _HelperService.FilterSnap.Sort.SortOrder=='desc')"
          (click)="RemoveFilterComponent('Sort')">
          <span>
              {{_HelperService.FilterSnap.Sort.SortColumn + "--" + _HelperService.FilterSnap.Sort.SortOrder}}</span>
          <span class="bd bd-1  mg-l-5 pd-x-5 pd-y-3 rounded-circle bg-primary text-white cursor-pointer"><i
                  class="fas fa-times"></i> </span>
      </div> -->
    <div class="badge badge-transparent pd-y-10 pd-l-15 mx-1 bd bd-1 bd-gray-500 rounded-50 tx-color-03 mg-t-5"
      [hidden]="!_HelperService.FilterSnap.StartTime">
      {{_HelperService.GetDateS(_HelperService.FilterSnap.StartTime) + "--" +
      _HelperService.GetDateS(_HelperService.FilterSnap.EndTime)}}
      <span (click)="RemoveFilterComponent('Time')"
        class="bd bd-1  mg-l-5 pd-x-5 pd-y-3 rounded-circle bg-primary text-white cursor-pointer"><i
          class="fas fa-times"></i> </span>
    </div>
    <div class="badge badge-transparent pd-y-10 pd-l-15 mx-1 bd bd-1 bd-gray-500 rounded-50 tx-color-03 mg-t-5"
      *ngFor="let TItem of _HelperService.FilterSnap.OtherFilters; let i = index">
      {{TItem.data[0].DisplayName}}
      <span (click)="RemoveFilterComponent('Other',i)"
        class="bd bd-1  mg-l-5 pd-x-5 pd-y-3 rounded-circle bg-primary text-white cursor-pointer"><i
          class="fas fa-times"></i> </span>
    </div>

    <span class="badge badge-pill badge-primary mg-t-5"
      *ngFor="let TItem of TUOrdersList_Config.Filters">{{TItem.Title}}</span>
  </div>
  <div class="pt-0 pd-l-15 pd-b-8">
    <div class="badge badge-transparent pd-y-10 pd-l-15 mx-1 bd bd-1 bd-gray-500 rounded-50 tx-color-03"
      [hidden]="
    !(_HelperService.FilterSnap.SalesRange) || (_HelperService.FilterSnap.SalesRange.SalesMin==0 && _HelperService.FilterSnap.SalesRange.SalesMax==10000000)" (click)="RemoveFilterComponent('SalesRange')">
      Order Range
      [{{_HelperService.FilterSnap.SalesRange.SalesMin + "--" + _HelperService.FilterSnap.SalesRange.SalesMax}}]
      <span class="bd bd-1  mg-l-5 pd-x-5 pd-y-3 rounded-circle bg-primary text-white cursor-pointer"><i
          class="fas fa-times"></i> </span>
    </div>
  </div>
</div>

<div class="card" *ngFor="let TItem of (TUOrdersList_Config.Data
  | paginate
    : {
        id: 'TUOrdersList_Paginator',
        itemsPerPage: TUOrdersList_Config.PageRecordLimit,
        currentPage: TUOrdersList_Config.ActivePage,
        totalItems: TUOrdersList_Config.TotalRecords
      })
  " style="margin-bottom: 25px;">
  <div class="card-header bg-gray-200 tx-dark">
    <div class="row ">
      <div class="col-md-3 tx-12 tx-semibold">Order Details</div>
      <div class="col-md-3 tx-12 tx-semibold">Customer Details</div>
      <div class="col-md-3 tx-12 tx-semibold">Products</div>
      <div class="col-md-3 text-right tx-12 tx-semibold">Amount Breakup</div>
    </div>
  </div>


  <!-- <div style="height: 500px!important; overflow-y: auto;"> -->
  <div class="mg-b-10">
    <div class="card-body bg-white">
      <div class="tx-semibold tx-12">
        ORDER ID :{{TItem.ReferenceId}}
      </div>

      <div class="row" style="margin-top:5px ;">
        <div class="col-md-3">
          <div class="tx-12 tx-semibold  text-secondary">
            <!-- <i data-feather="calendar" style="height: 16px;margin-right: 8px;"></i> -->
            <span cclass="tx-12 tx-semibold  text-secondary">Placed On
            </span>

          </div>
          <div class="tx-12 tx-semibold">{{TItem.CreateDate | date : 'dd-MM-yyyy hh:mm a' ||"--" }} <span
              class="text-secondary tx-semibold">

            </span>
            <span *ngIf=" TUOrdersList_Config.ListType == 1">
              | <span class="tx-danger tx-semibold">
                {{TItem.hoursDiff}} ago
              </span>
            </span>
          </div>
          <div *ngIf=" TUOrdersList_Config.ListType == 1">
            <div class="tx-12 tx-semibold  text-secondary" style="padding-top: 10px;">
              <!-- <i data-feather="truck" style="height: 16px;margin-right: 8px;"></i> -->
              <span cclass="tx-12 tx-semibold  text-secondary">Expected Delivery
              </span>
            </div>
            <div class="tx-12 tx-semibold">{{TItem.DeliveryDate | date : 'dd-MM-yyyy hh:mm a' ||"--"}}</div>
          </div>
          <div *ngIf=" TUOrdersList_Config.ListType == 2">
            <div class="tx-12 tx-semibold  text-secondary" style="padding-top: 10px;">
              <span cclass="tx-12 tx-semibold  text-secondary">Prepare order in
              </span>
            </div>
            <div class="d-flex">
              <div class="tx-12 badge text-danger" style="background-color: #F8D7DA;"><i data-feather="clock"></i>
                {{TItem.hoursDiff}}
              </div>
              <div style="margin-left: 12px; cursor: pointer;" (click)="getShipmentDetails(TItem)">
                <span style="background-color:#FFF3CD ; color: #856404;padding: 5px;">
                  <i class="fa fa-exclamation-circle" aria-hidden="true"></i>
                  View Shipping Label </span>
              </div>
            </div>
            <div>

            </div>
          </div>
          <div *ngIf=" TUOrdersList_Config.ListType == 3">
            <div class="tx-12 tx-semibold  text-secondary" style="padding-top: 10px;">
              <span cclass="tx-12 tx-semibold  text-secondary">Ready from last
              </span>
            </div>
            <div class="d-flex">
              <div class="tx-12 badge text-danger" style="background-color: #F8D7DA;"><i data-feather="clock"></i>
                {{TItem.hoursDiff}}
              </div>
              <div style="margin-left: 12px; cursor: pointer;" (click)="getShipmentDetails(TItem)">
                <span style="background-color:#FFF3CD ; color: #856404;padding: 5px;">
                  <i class="fa fa-exclamation-circle" aria-hidden="true"></i>
                  View Shipping Label </span>
              </div>
            </div>
          </div>
          <div *ngIf=" TUOrdersList_Config.ListType == 4">
            <div class="tx-12 tx-semibold  text-secondary" style="padding-top: 10px;">
              <!-- <i data-feather="truck" style="height: 16px;margin-right: 8px;"></i> -->
              <span cclass="tx-12 tx-semibold  text-secondary">Dispatched on
              </span>
            </div>
            <div class="tx-12 tx-semibold">{{TItem.DeliveryDate | date : 'dd-MM-yyyy hh:mm a' ||"--"}}</div>
          </div>
          <div *ngIf=" TUOrdersList_Config.ListType == 5">
            <div class="tx-12 tx-semibold  text-secondary" style="padding-top: 10px;">
              <!-- <i data-feather="truck" style="height: 16px;margin-right: 8px;"></i> -->
              <span cclass="tx-12 tx-semibold  text-secondary">Dispatched on
              </span>
            </div>
            <div class="tx-12 tx-semibold">{{TItem.DeliveryDate ||"--"}}</div>
          </div>
          <div *ngIf=" TUOrdersList_Config.ListType == 6" style="padding-top: 15px ;">
            <div class="badge badge-danger">
              Cancelled
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <!-- <div>
              <div class="d-flex">
                <div class="mg-r-15">
                  <img class="br" [src]="TItem.MerchantIconUrl" class="img wd-40 ht-40 bd bd-2">
                </div>
                <div>
                  <div class="tx-12 tx-semibold">
                    {{TItem.StoreDisplayName}}
                  </div>
                  <div class="mg-y-5 tx-12 tx-semibold text-secondary">
                    {{TItem.StoreMobileNumber}}
                  </div>
                </div>
              </div>
              <div style="margin-left: 55px;" class="tx-12">{{TItem.StoreAddress}}</div>
            </div> -->
          <div>
            <div class="d-flex">
              <div class="mg-r-15">
                <img class="br" [src]="TItem.CustomerIconUrl" class="img wd-40 ht-40 rounded-circle bd bd-2">
              </div>
              <div>
                <div class="tx-12 tx-semibold">
                  {{TItem.CustomerDisplayName}}
                </div>
                <div class="mg-y-5 tx-12 tx-semibold text-secondary">
                  {{TItem.CustomerMobileNumber}}
                </div>
                <div class="mg-y-5 tx-12">
                  {{TItem.CustomerAddress}}
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3">

          <div class="d-flex">
            <div class="mg-r-15">
              <img class="br" [src]="TItem.DealIconUrl" class="img wd-40 ht-40  bd bd-2" />
            </div>
            <div>
              <div class="tx-12 tx-semibold">
                {{TItem.DealTitle}}
              </div>
              <div class="mg-y-5 tx-12 tx-semibold text-secondary">
                ₦ {{TItem.DealPrice}}/ Unit
              </div>
              <div class="mg-y-5 tx-12 tx-semibold text-secondary">
                {{TItem.ItemCount}}Qty
              </div>
            </div>
          </div>
          <!-- <div class="tx-12" style="padding-top: 7px;"><a class="text-primary cursor-pointer tx-semibold"> +2 more
                products ></a></div> -->
        </div>

        <div class="col-md-3" style="margin-top: -10px;">
          <div class="row">
            <div class="col-md-12">
              <div class="neworder table table-borderless">
                <tbody style="float: right;">
                  <tr>
                    <td>Sub-total</td>
                    <td class="text-right">₦ {{TItem.SubTotalAmount}}</td>
                  </tr>
                  <tr>
                    <td>Deal Price</td>
                    <td class="text-right">₦ {{TItem.DealPrice}}</td>
                  </tr>
                  <tr>
                    <td>Shipping Charges</td>
                    <td class="text-right">₦ {{TItem.RateAmount}}</td>
                  </tr>
                  <tr>
                    <td>Total Amount </td>
                    <td class="text-right">₦ {{TItem.TotalAmount}}</td>
                  </tr>
                </tbody>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12 tx-12 text-right" style="padding-top: 7px;"><a
                class="text-primary cursor-pointer tx-semibold"><i data-feather="file-text"></i> Invoice
                #{{TItem.InvoiceNumber}} ></a></div>
          </div>
        </div>
      </div>

    </div>
    <div class="card-footer">

      <div class="row">
        <div class="col-md-8" *ngIf=" TUOrdersList_Config.ListType == 1">
          <button type="button" class="btn btn-outline-danger tx-14" id="cancellation"
            *ngIf="TUOrdersList_Config.ListType == 1" (click)="cancellationModal(TItem)" style="float: left"> Cancel
            Order </button>
        </div>
        <div class="col-md-8 d-flex" *ngIf="TUOrdersList_Config.ListType == 2 || TUOrdersList_Config.ListType == 3">
          <div>
            <div class="d-flex">
              <div class="mg-r-15">
                <img class="br" [src]="TItem.CarrierIconUrl" class="img wd-40 ht-40 bd bd-2">
              </div>
              <div>
                <div class="tx-12 tx-semibold">
                  {{TItem.CarrierName}}
                </div>
                <div class="mg-y-5 tx-12 tx-semibold">
                  Order Pickup time : {{TItem.PickUpDate | date : 'dd-MM-yyyy hh:mm a'}}
                </div>
              </div>
            </div>
          </div>
          <!-- <span style="border-right: 1px solid #7987a1;
                      height: 37px; padding-left: 30px;"></span> -->
          <div style="margin-left: 30px;">
            <div class="d-flex">
              <div>
                <div class="mg-y-5 tx-12">
                  Shipment ID :{{TItem.ShipmentId}}
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-8 d-flex" *ngIf="TUOrdersList_Config.ListType == 4 || TUOrdersList_Config.ListType == 5">
          <div>
            <div class="d-flex">
              <div class="mg-r-15">
                <img class="br" [src]="TItem.CarrierIconUrl" class="img wd-40 ht-40 bd bd-2">
              </div>
              <div>
                <div class="tx-12 tx-semibold">
                  {{TItem.CarrierName}}
                </div>
                <div class="mg-y-5 tx-12 tx-semibold">
                  Order ID : {{TItem.ReferenceId}}
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-8 d-flex" *ngIf="TUOrdersList_Config.ListType == 6" style="padding-top: 10px;">
          <div>
            <span style="background-color:#FFF3CD ; color: #856404;padding: 7px;"
              *ngIf="TItem.StatusCode === 'orderstatus.cancelledbyuser'">
              <i class="fa fa-exclamation-circle" aria-hidden="true"></i>
              Cancelled by customer </span>
            <span style="background-color:#FFF3CD ; color: #856404;padding: 7px;"
              *ngIf="TItem.StatusCode === 'orderstatus.cancelledbyseller'">
              <i class="fa fa-exclamation-circle" aria-hidden="true"></i>
              Cancelled by Merchant </span>
            <span style="background-color:#FFF3CD ; color: #856404;padding: 7px;"
              *ngIf="TItem.StatusCode === 'orderstatus.cancelledbysystem'">
              <i class="fa fa-exclamation-circle" aria-hidden="true"></i>
              Cancelled by System </span>
          </div>
          <!-- <div>
              100 cancellation charges applied to you
          </div> -->
        </div>

        <div class="col-md-4" style="float: right">
          <button type="button" class="btn btn-outline-primary tx-14" style="float: right;margin-right: 13px"
            (click)="RouteOrder(TItem)"> View
            Order
          </button>
          <button type="button" class="btn btn-primary tx-14 mg-r-10" *ngIf="TUOrdersList_Config.ListType == 1"
            style="float: right;" (click)="OpenConfimation(TItem,'confirm')"> Confirm Order </button>
          <button type="button" class="btn btn-success tx-14 mg-r-10" *ngIf="TUOrdersList_Config.ListType == 2"
            style="float: right;" (click)="OpenConfimation(TItem)"> Mark As Ready</button>
          <!-- <button type="button" class="btn btn-primary tx-14 mg-r-10"
                          *ngIf="TUOrdersList_Config.ListType == 3" style="float: right;"
                          (click)="OpenConfimation(TItem)"> Arrange Order</button> -->
          <button type="button" class="btn btn-outline-primary tx-14 mg-r-10"
            *ngIf="TUOrdersList_Config.ListType == 4 || TUOrdersList_Config.ListType == 5" style="float: right;"
            (click)="OpenTrackDialog(TItem)"> Track Order</button>
        </div>
      </div>
    </div>

  </div>

</div>


<div class="card-footer pd-20">
  <span class="mr-3">
    {{ 'Common.Showing' | translate }}
    <span class="bold">{{TUOrdersList_Config.ShowingStart}} {{ 'Common.To' | translate }}
      {{TUOrdersList_Config.ShowingEnd}}
    </span> {{ 'Common.Of' | translate }} {{TUOrdersList_Config.TotalRecords}}
  </span>
  <span>
    {{ 'Common.Show' | translate }}
    <select class="wd-50 " [(ngModel)]="TUOrdersList_Config.PageRecordLimit"
      (ngModelChange)="TUTr_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.Limit)">
      <option [ngValue]="TItem" *ngFor="let TItem of _HelperService.AppConfig.ListRecordLimit">
        {{TItem}}
      </option>
    </select>
  </span>
  <span class="float-right">
    <pagination-controls id="TUOrdersList_Paginator" class="pagination pagination-space"
      (pageChange)="TUTr_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.Page)"
      nextLabel="{{ 'Common.Next' | translate }}" previousLabel="{{ 'Common.Previous' | translate }}">
    </pagination-controls>
  </span>
</div>

<div id="Form_Confirmation" class="modal" data-backdrop="true" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" *ngIf="TUOrdersList_Config.ListType == 1">Confirm and Mark as Processing
        </h5>
        <h5 class="modal-title" *ngIf="TUOrdersList_Config.ListType == 2">Confirm - Mark as Ready</h5>
        <h5 class="modal-title" *ngIf="TUOrdersList_Config.ListType == 3">Arrange Order</h5>
        <h5 class="modal-title" *ngIf="TUOrdersList_Config.ListType == 4">Track Order</h5>

      </div>
      <div class="modal-body  p-lg">

        <div class="pb-1">

          <div *ngIf="TUOrdersList_Config.ListType == 1 && dialogType === 'confirm'">
            <div class="row">

              <div class="col-md-12">
                <div class="tx-16 tx-semibold">
                  Order ID : {{ConfimationOrderDetails?.ReferenceId}}
                </div>

                <div class="tx-16 tx-semibold mg-b-10">
                  Carrier Details
                </div>
                <div>
                  <div class="d-flex">
                    <div class="mg-r-15">
                      <img class="br" [src]="ConfimationOrderDetails?.CarrierIconUrl" class="img wd-40 ht-40 bd bd-2">
                    </div>
                    <div>
                      <div class="tx-12 tx-semibold">
                        {{ConfimationOrderDetails?.CarrierName}}
                      </div>
                      <div class="mg-y-5 tx-12 tx-semibold text-secondary">
                        Pickup Time : 24 Hrs/With in 24 Hrs
                      </div>
                      <div class="mg-y-5 tx-12 tx-semibold text-secondary">
                        Expected delivery : {{ConfimationOrderDetails?.DeliveryDate | date :
                        'dd-MM-yyyy hh:mm a'}}
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div *ngIf="TUOrdersList_Config.ListType == 2">
            <div class="row">
              <div class="col-md-12 d-flex">
                <div class="col-md-2">
                  <img src="../../../../../assets/img/thumbs-up.svg">
                </div>
                <div class="col-md-10">
                  <span class="tx-14 text-secondary">Please confirm product is packed and Shipment
                    Label is pasted on shipment box or envelop.
                  </span>
                </div>
              </div>
            </div>
          </div>

          <div *ngIf="TUOrdersList_Config.ListType == 4 || TUOrdersList_Config.ListType == 5">
            <div class="media d-block d-lg-flex mg-t-20">
              <div class="media-body">
                <div class="timeline-group tx-13" *ngIf="TrackingData && TrackingData?.length > 0">
                  <div class="timeline-item" *ngFor="let item of TrackingData">
                    <div class="timeline-body">
                      <p class="mg-b-0 tx-12 ">
                        {{item.description}}</p>
                      <p *ngIf="item.location" class="tx-12">
                        {{item.location}}</p>
                      <p class="x-12 text-secondary" *ngIf="item.created_at">
                        {{item.created_at | date:"dd-MM-yyyy" }} | {{item.created_at |
                        date:"hh:mm a" }}
                      </p>
                    </div><!-- timeline-body -->
                  </div><!-- timeline-item -->
                </div><!-- timeline-group -->
                <div *ngIf="TrackingData.length == 0 ">
                  <p>No data found</p>
                </div>
              </div><!-- media-body -->
            </div>
          </div>
          <h5 class="modal-title" *ngIf="TUOrdersList_Config.ListType == 1 && dialogType !== 'confirm'">
            Are you sure about Cancel the
            order?</h5>
          <h5 class="modal-title" *ngIf="TUOrdersList_Config.ListType == 3">Is Order Ready</h5>
        </div>

        <!-- <div class="tx-12 tx-semibold  text-secondary" style="padding-top: 10px;">
              <i data-feather="calendar" style="height: 16px;margin-right: 8px;"></i>
              <span cclass="tx-12 tx-semibold  text-secondary">Placed On
              </span>
  
            </div>
            <div class="tx-12 tx-semibold" style="padding-left: 32px;">{{this.ModalData.CreateDate ||"--" }}
          </div> -->



      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          {{ "Common.Close" | translate }}
        </button>
        <button type="button" class="btn btn-primary tx-14 mg-r-10"
          *ngIf="TUOrdersList_Config.ListType == 1 && dialogType === 'confirm'" style="float: right;"
          data-dismiss="modal" (click)="updateOrderStatus(TItem)"> Confirm Order
        </button>
        <button type="button" class="btn btn-success tx-14 mg-r-10" *ngIf="TUOrdersList_Config.ListType == 2"
          style="float: right;" data-dismiss="modal" (click)="updateOrderStatus(TItem)"> Mark as
          ready</button>

        <button type="button" class="btn btn-primary tx-14 mg-r-10"
          *ngIf="TUOrdersList_Config.ListType == 1 && dialogType !== 'confirm' " style="float: right;"
          data-dismiss="modal" (click)="updateOrderStatus(TItem)"> YES</button>
        <button type="button" class="btn btn-Success tx-14 mg-r-10" *ngIf="TUOrdersList_Config.ListType == 3"
          style="float: right;" data-dismiss="modal" (click)="ArrangeOrder(TItem)"> YES</button>

      </div>


    </div>
  </div>
</div>

<div id="Form_Cancellation" class="modal" data-backdrop="true" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Cancellation of the order</h5>
      </div>
      <div class="modal-body  p-lg">

        <div class="pb-1">

          <h5 class="modal-title">Are you sure about Cancel the order ? </h5>


          <!-- <div class="tx-12 tx-semibold  text-secondary" style="padding-top: 10px;">
              <i data-feather="calendar" style="height: 16px;margin-right: 8px;"></i>
              <span cclass="tx-12 tx-semibold  text-secondary">Placed On
              </span>
  
            </div>
            <div class="tx-12 tx-semibold" style="padding-left: 32px;">{{this.ModalData.CreateDate ||"--" }}
          </div> -->



        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">
            NO
          </button>
          <button type="button" class="btn btn-primary tx-14 mg-r-10" *ngIf="TUOrdersList_Config.ListType == 1"
            style="float: right;" (click)="CancelOrder()" data-dismiss="modal">
            YES </button>


        </div>


      </div>
    </div>
  </div>

</div>


<div class="off-canvas off-canvas-overlay off-canvas-right" #offCanvas
  style="width: 800px !important; overflow-y:auto !important ;">
  <div class="off-canvas-content">
    <div class="card">
      <div class="card-body">
        <iframe *ngIf="bill" [src]="bill" height="850px" width="100%">
        </iframe>   
        <div>
          No data available
        </div>  
      </div>
      <div class="card-footer d-flex justify-content-between">
        <button type="button" class="btn btn-secondary mr-2 float-right" (click)="unclick()"> Close </button>
      </div>
    </div>
  </div>
</div>