<!-- Customer--Deal--details -->
<ol class="breadcrumb df-breadcrumbs mg-b-10">
    <li class="breadcrumb-item" [routerLinkActive]="['active']"><a
        routerLink="{{ _HelperService.AppConfig.Pages.ThankUCash.Dashboard.Merchant}}" [routerLinkActive]="['active']">
        Dashboard</a></li>
  
    <li class="breadcrumb-item" [routerLinkActive]="['active']"><a class="text-primary"
        [routerLinkActive]="['active']">Transaction
      </a></li>
  </ol>
<div class="card bd-b-0 pd-20 mt-3">
    <ul class="nav nav-line" id="myTab5" role="tablist">
        <!-- <li class="nav-item cursor-pointer" [routerLinkActive]="['active']">
            <a class="nav-link" [routerLinkActive]="['active']" routerLink="{{_HelperService.AppConfig.Pages.ThankUCash.PanelConsole.AcquirerPanel.Branches.BranchUpdate}}/{{this._HelperService.AppConfig.ActiveReferenceKey}}/{{ this._HelperService.AppConfig.ActiveReferenceId}}"  >
                <span class="nav-text">{{"System.Menu.Overview" | translate}}</span>
            </a>
        </li> 
        <li class="nav-item cursor-pointer" [routerLinkActive]="['active']">
            <a class="nav-link" id="Transactions-tab5" data-toggle="tab" [routerLinkActive]="['active']"  routerLink="{{_HelperService.AppConfig.Pages.ThankUCash.PanelConsole.AcquirerPanel.Manager.SalesHistory}}/{{this._HelperService.AppConfig.ActiveReferenceKey}}/{{ this._HelperService.AppConfig.ActiveReferenceId}}" role="tab"
                aria-controls="Transactions" aria-selected="false">Transactions</a>
        </li> -->
        <li class="nav-item cursor-pointer"  [routerLinkActive]="['active']">
            <a class="nav-link" id="Terminal-tab5"  [routerLinkActive]="['active']" data-toggle="tab" role="tab" routerLink="{{_HelperService.AppConfig.Pages.ThankUCash.PanelMerchant.TransactionHistory.PurchaseHistory}}"
                aria-controls="Terminal" aria-selected="false">Purchased  History</a>
        </li>
        <li class="nav-item cursor-pointer" [routerLinkActive]="['active']">
            <a class="nav-link" id="Stores-tab5" data-toggle="tab" role="tab"  [routerLinkActive]="['active']" routerLink="{{_HelperService.AppConfig.Pages.ThankUCash.PanelMerchant.TransactionHistory.PendingHistory}}"
                aria-controls="Stores" aria-selected="false">Suspicious Transaction</a>
        </li>
      
        <!-- <div class="ml-auto d-flex" *ngIf="_HelperService.ShowDateRange">
            <div class="  mg-r-10 order-1">
                <input type="text" class="form-control tx-13 form-daterangepicker" name="daterangeInput" daterangepicker
                    [options]="_HelperService.AppConfig.DatePickerOptions"
                    (selected)="_HelperService.SetDateRange($event)" />
            </div>
        </div> -->

        <!-- <div class="btn-group" data-toggle="buttons" *ngIf="_HelperService.ShowDateRange">
            <label class="btn btn-xs pb-0 mb-0 tx-13  d-flex align-items-center  {{_HelperService.CheckMode == 'dark' ? 'btn-dark' : 'btn-white' }}"
                (click)="_HelperService.ToogleRange('A')">
                <input type="radio" name="options" style="display: none;" checked>
                <span class="tx-13 mg-b-5"> Month </span>
            </label>
            <label class="btn btn-xs  pb-0 mb-0 tx-13  d-flex align-items-center  {{_HelperService.CheckMode == 'dark' ? 'btn-dark' : 'btn-white' }}"
                (click)="_HelperService.ToogleRange('B')">
                <input class="tx-13" type="radio" name="options" style="display: none;">
                <span class="tx-13 mg-b-5">Week</span>
            </label>
            <label class="btn pb-0 mb-0 btn-xs tx-13 active  d-flex align-items-center  {{_HelperService.CheckMode == 'dark' ? 'btn-dark' : 'btn-white' }}"
                (click)="_HelperService.ToogleRange('C')">
                <input class="tx-13" type="radio" name="options" style="display: none;">
                <span class="tx-13 mg-b-5"> Day </span>
            </label>
        </div> -->

    </ul>
</div>
<router-outlet></router-outlet>