<div class="pd-x-10">
  <ol class="breadcrumb df-breadcrumbs mg-b-10">

    <li class="breadcrumb-item" [routerLinkActive]="['active']"><a class="text-primary"
        [routerLinkActive]="['active']">Dashboard
      </a></li>
    <li class="breadcrumb-item" [routerLinkActive]="['active']"><a class="" [routerLinkActive]="['active']">
        But now,Pay later-Overview
      </a></li>
  </ol>
</div>

<div class="pd-x-10">
  <div class="row  row-xs mg-lg-b-12 d-flex  justify-content-between align-items-center">
    <!-- <div class="">
      <div class="form-group has-feedback mb-0 pb-0 wd-200">
        <input type="text" autocomplete="off" class="form-control form-daterangepicker full-width" name="daterangeInput"
          daterangepicker [options]="_HelperService.AppConfig.DatePickerOptions"
          (selected)="DateChanged($event, _HelperService.AppConfig.ListToggleOption.Date)" />
          <img src="../../../../../assets/images/calendar.png" style="position: absolute; margin: -27px 0 0 180px;" />
      </div>
    </div> -->

    <div class="">
      <div class="form-group  mb-0 pb-0 wd-200">
        <div class="">
          <div class="input-group">
            <!-- <div class="input-group-append">
              <input type="text" autocomplete="off" class="form-control form-daterangepicker full-width" style="position: relative;"
                name="daterangeInput" daterangepicker [options]="_HelperService.AppConfig.DatePickerOptions"
                (selected)="DateChanged($event, _HelperService.AppConfig.ListToggleOption.Date)" />
                <i class="fa fa-calendar-o dealfeather text-muted" aria-hidden="true" style="position: absolute;
                padding-left: 155px;
                padding-top: 8px;
                font-size: 19px;"></i>
            </div> -->

            <div class="form-group  mb-0 pb-0 wd-200">
              <input type="text" class="form-control form-daterangepicker full-width" name="daterangeInput" daterangepicker
                [options]="_HelperService.AppConfig.DateRangeOptionsCustom"
                (selected)="DateChanged($event, _HelperService.AppConfig.ListToggleOption.Date)" />
            </div>
          </div>
        </div>
      </div>
    </div>


    <div>
      <ul class="list-inline d-flex mg-t-20 mg-sm-t-10 mg-md-t-0 mg-b-0">
        <li class="list-inline-item d-flex align-items-center">
          <!-- <span class="d-block wd-15 ht-15 bg-primary rounded mg-r-5 "></span> -->
          <span class="tx-sans text-semibold tx-uppercase tx-medium tx-color-03 tx-15">
            This month - <span class="tx-15 text-dark tx-bold"> {{DateSelected | date :"LLL yyyy"}}</span></span>
        </li>
      </ul>
    </div>


  </div>
</div>

<div id="customer" class="pd-x-10 pd-t-10">
  <div class="row row-xs mg-b-10">
    <div class="col-sm-6 col-lg-3 ">
      <div class="card card-body shadow-none ht-100p">
        <h6 class="tx-uppercase tx-13 tx-spacing-1 text-dark tx-bold mg-b-8">TOTAL LOANS TAKEN
        </h6>
        <div class="d-flex d-lg-block d-xl-flex align-items-end" (click)="goToRequestPage()">
          <h3 class="tx-rubik tx-dark mg-b-8 mg-r-5 lh-1 Word-break">
            {{overviewData?.TotalLoans}}
          </h3>

        </div>
        <p class="tx-12 text-secondary mg-b-0">Number of loans taken in this period</p>
      </div>
    </div>
    <div class="col-sm-6 col-lg-3 mg-t-15  mg-sm-t-0">
      <div class="card card-body shadow-none ht-100p">
        <h6 class="tx-uppercase tx-13 tx-spacing-1 text-dark tx-bold mg-b-8">AMOUNT OF LOANS TAKEN</h6>
        <div class="d-flex d-lg-block d-xl-flex align-items-end" (click)="gotoActiveLoanPage()">
          <h3 class=" tx-dark tx-rubik mg-b-8 mg-r-5 lh-1">
            ₦ {{overviewData?.TotalLoansAmount}} </h3>

        </div>
        <p class="tx-12 text-secondary mg-b-0">Amount of loans taken by customers</p>
      </div>
    </div>
    <div class="col-sm-6 col-lg-3 mg-t-15  mg-lg-t-0">
      <div class="card card-body shadow-none ht-100p">
        <h6 class="tx-uppercase tx-13 tx-spacing-1 text-dark tx-bold mg-b-8">LOAN CARDS REDEEMED
        </h6>
        <div class="d-flex d-lg-block d-xl-flex align-items-end">
          <h3 class="tx-dark tx-rubik  mg-b-8 mg-r-5 lh-1 Word-break">
            {{redeemedData?.RedeemedLoans}}
          </h3>
        </div>
        <p class="tx-12 text-secondary mg-b-0">Loan cards redeemed by customers</p>
      </div>
    </div>
    <div class="col-sm-6 col-lg-3 mg-t-15  mg-lg-t-0">
      <div class="card card-body shadow-none ht-100p">
        <h6 class=" tx-uppercase tx-13 tx-spacing-1 text-dark tx-bold mg-b-8">LOANS AMOUNT REDEEMED</h6>
        <div class="d-flex d-lg-block d-xl-flex align-items-end">
          <h3 class=" tx-dark tx-rubik  mg-b-8 mg-r-5 lh-1 Word-break">
            ₦ {{redeemedData?.RedeemedLoansAmount}}
          </h3>
        </div>
        <p class="tx-12 text-secondary mg-b-0">Among <span class="text-dark tx-bold">₦
            {{redeemedData?.RedeemedLoansAmount}}</span> settled by TUC</p>
      </div>
    </div>
  </div>

  <div class="row row-xs">

    <div class="col-lg-4 col-xl-4 col-sm-6 col-md-5 col-xs-12 mg-t-10 mg-lg-t-0">
      <div class="card ht-100p">
        <div class="card-header d-flex align-items-center pd-t-20 pd-lg-t-25 pd-l-20 justify-content-between">
          <div>
            <h5 class="tx-uppercase tx-13 tx-spacing-1 text-dark tx-bold mg-b-8 "> Current Pending loans
            </h5>
          </div>
          <div>
            <a class="nav-link ml-2 RefreshColor">
              <i class="fa fa-refresh" (click)="GetPendingLoans()" aria-hidden="true"></i>
            </a>
          </div>
        </div>
        <div class="card-body" style="padding-bottom:0px; padding-top: 0; padding: 0;" *ngIf="pendingLoanList?.length > 0">
          <div class="row d-flex" style="border-bottom: 1px solid lightgray; margin: 10px auto; padding: 10px 15px;"
            *ngFor="let item of pendingLoanList">
            <div class="col-md-7 d-flex p-0">
              <div class="pd-r-7">
                <img class="br img wd-35 ht-35 rounded-circle bd bd-2" [src]="item.IconURL">
              </div>
              <div>
                <div class="text-semibold tx-13">
                  {{item.CustomerDisplayName}}
                </div>
                <div class="text-muted tx-11">
                  {{item.CustomerNumber}}
                </div>
              </div>
            </div>
            <div class="col-md-5 text-right">
              <div>
                ₦ {{item.LoanAmount}}

              </div>
              <div class="tx-10 text-muted">
                {{item.ApprovedOn | date :'dd-MM-yyyy | hh:mm a'}}
              </div>
            </div>
          </div>
        </div>


        <div class="card-header d-flex align-items-center justify-content-between "
          *ngIf="pendingLoanList?.length > 0" style="margin: auto; padding:5px 0;">
          <div>
            <div>
              <h5 class="tx-13 tx-semibold mg-b-8 cursor-pointer" style="color:#5A6780 ;"
                routerLink="{{ _HelperService.AppConfig.Pages.ThankUCash.PanelMerchant.bnpl.PendingLoans}}"> View All
                <img src="../../../../../assets/images/right-arrow.png" style="width: 13px; margin-left: 5px;">
              </h5>
            </div>
          </div>
        </div>

        <div class="card-body text-center align-items-center" *ngIf="pendingLoanList?.length == 0">
          <div class="text-center m-auto  text-muted">
            <div>
              <div>
                <div
                  class="wd-140 wd-md-100 ht-140 ht-md-100 bd bd-2 bd-muted bg-transparent tx-muted tx-32 bd-gray-300 m-auto d-flex align-items-center justify-content-center rounded-circle">
                  <!-- <i class="fas fa-file tx-50"></i> -->
                  <img src="../../../assets/img/file.svg" alt="">
                </div>
                <div class="pt-3">
                  <span class="text-dark tx-bold tx-14 "> No Data available in this time frame</span><br>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-xl-4 col-sm-6 col-md-5 col-xs-12 mg-t-10 mg-lg-t-0">
      <div class="card ht-100p">
        <div class="card-header d-flex align-items-center pd-t-20 pd-lg-t-25 pd-l-20 justify-content-between">
          <div>
            <h5 class="tx-uppercase tx-13 tx-spacing-1 text-dark tx-bold mg-b-8 "> Pending Settlement of <span
                class="text-danger">₦ {{pendingLoansOverviewData?.TotalPendingSettlementAmount}}</span>
            </h5>
          </div>
          <div>
            <a class="nav-link ml-2 RefreshColor">
              <i class="fa fa-refresh" (click)="getPendingSettlements()" aria-hidden="true"></i>
            </a>
          </div>
        </div>
        <div class="card-body" style="padding-bottom:0px; padding-top: 0; padding: 0;" *ngIf="pendingSettle?.length >0">
          <div class="row d-flex" style="border-bottom: 1px solid lightgray; margin: 10px auto; padding: 10px 15px;"
            *ngFor="let item of pendingSettle?.Data">
            <ng-container *ngIf="item.StatusName != 'Successful'">
              <div class="col-md-7 d-flex p-0">
                <div>
                  <div class="text-semibold tx-13">
                    Loan ID {{item.LoanId}}
                  </div>
                  <div class="text-muted tx-10">
                    Claimed on {{item.LoanRedeemDate | date :'dd-MM-yyyy | hh:mm a'}}
                  </div>
                </div>
              </div>
              <div class="col-md-5 text-right">
                <div>
                  ₦ {{item.LoanAmount}}

                </div>
                <div class="tx-11 text-muted">
                  ₦ {{item.SettlementAmount}}
                </div>
              </div>
            </ng-container>
          </div>
        </div>
        <div class="card-header d-flex align-items-center justify-content-between "
          *ngIf="pendingSettle?.length >0" style="margin: auto; padding:5px 0;">
          <div>
            <div>
              <h5 class="tx-13 mg-b-8 cursor-pointer tx-semibold" style="color:#5A6780 ;"
                routerLink="{{ _HelperService.AppConfig.Pages.ThankUCash.PanelMerchant.bnpl.PendingSettlements}}">
                View All <img src="../../../../../assets/images/right-arrow.png" style="width: 13px; margin-left: 5px;">
              </h5>
            </div>
          </div>
        </div>

        <div class="card-body text-center align-items-center" *ngIf="pendingSettle?.length == 0">
          <div class="text-center m-auto  text-muted">
            <div>
              <div>
                <div
                  class="wd-140 wd-md-100 ht-140 ht-md-100 bd bd-2 bd-muted bg-transparent tx-muted tx-32 bd-gray-300 m-auto d-flex align-items-center justify-content-center rounded-circle">
                  <!-- <i class="fas fa-file tx-50"></i> -->
                  <img src="../../../assets/img/file.svg" alt="">
                </div>
                <div class="pt-3">
                  <span class="text-dark tx-bold tx-14 "> No Data available in this time frame</span><br>
                </div>
              </div>
            </div>
          </div>
        </div>

      
      </div>
    </div>
  </div>
</div>