<div class="content mg-t-50  content-auth">
    <div class="container">
        <div class="media align-items-stretch justify-content-center ht-100p pos-relative">
            <div class="media-body align-items-center d-none d-lg-flex">
                <div class=" mx-wd-600" style="transform: scale(-1,1);">
                    <img src="../../../assets/img/Merchant.svg" class="mg-b-15 img-fluid" alt="">
                </div>
            </div>
            <div class="sign-wrapper mg-lg-l-50 mg-xl-l-60">
                <div class="wd-100p">
                    <div
                        *ngIf="_HelperService.AppConfig.Host != 'merchantrewards.interswitch.com'  &&  _HelperService.AppConfig.Host != 'interswitch.thankucash.com' &&  _HelperService.AppConfig.Host != 'sterling.thankucash.com' &&  _HelperService.AppConfig.Host != 'wemarewards.thankucash.com' &&  _HelperService.AppConfig.Host != 'localhost:4200'">
                        <img src="../../../assets/img/logoinverse.png" class="wd-200 mg-t-15 mb-4">
                    </div>
                    <div *ngIf="_HelperService.AppConfig.Host == 'sterling.thankucash.com'"><img
                            src="../../../assets/img/sterlingbanklogo.png" class="wd-200 mb-4">
                    </div>
                    <div *ngIf="_HelperService.AppConfig.Host == 'merchantrewards.interswitch.com' ||  _HelperService.AppConfig.Host == 'interswitch.thankucash.com' ">
                        <img src="../../../assets/img/interswitch.png" class="wd-200 mb-4">
                    </div>
                    <div *ngIf="_HelperService.AppConfig.Host == 'localhost:4200' ||  _HelperService.AppConfig.Host == 'wemarewards.thankucash.com'">
                        <img src="../../../assets/img/wemalogo.png" class="wd-200 mb-4">
                    </div>

            
                    <div class="">
                        <form [formGroup]="_Form_Otp" (ngSubmit)="_Verify_Otp(_Form_Otp.value)" role="form">
                            <div class="form-group"
                                [ngClass]="{'text-danger':!_Form_Otp.controls['otp'].valid && _Form_Otp.controls['otp'].touched}">
                            </div>
                        </form>
                    </div>
                    <div class="">
                        <form [formGroup]="_Form_Login" (ngSubmit)="_Form_Login_Process(_Form_Login.value)" role="form">
                            <div class="form-group"
                                [ngClass]="{'text-danger':!_Form_Login.controls['password'].valid && _Form_Login.controls['password'].touched}">
                                <div class="d-flex justify-content-between ">
                                    <label class="mg-b-0-f">{{ 'Login.Password' | translate }}</label>
                                </div>
                                <div class="input-group">
                                    <input [type]="showPassword ? 'text' : 'password'" name="password" maxlength="50" class="form-control"
                                    [formControl]="_Form_Login.controls['password']" style="border-right: none;" (input)="pwdValueChange($event.target.value)">
                                      <span class="input-group-text bg-white" id="" style="border-radius: 0% .1rem .1rem 0%;">
            
                                        <div class="px-0" >
                                          <a *ngIf="!showPassword"
                                              class="align-items-center cursor-pointer"> <i
                                                  class="fa fa-eye-slash eyeIcon" aria-hidden="true"
                                                  (click)="passwordShowHide()"></i></a>
            
                                          <a *ngIf="showPassword"
                                              class="align-items-center cursor-pointer"> <i
                                                  class="fa fa-eye eyeIcon" aria-hidden="true"
                                                  (click)="passwordShowHide()"></i></a>
                                      </div>
                                    </span>
                                  </div>
                                <!-- <input type="password" name="password" maxlength="50" class="form-control"
                                    [formControl]="_Form_Login.controls['password']"> -->
                                    <div>
                                        <div class="text-danger tx-12  _600" for="Password"
                                            *ngIf="_Form_Login.controls['password'].hasError('required') && _Form_Login.controls['password'].touched
                                            && (ispwdContainsNum && ispwdContainsUC && ispwdContainsLC && IsminLength && isPwdContainsSC)">
                                            Enter password </div>
                                        <div class="tx-12  _600" *ngIf="!(ispwdContainsNum && ispwdContainsUC && ispwdContainsLC && IsminLength && isPwdContainsSC)">
                                            <span [ngClass]="{'text-success':IsminLength , 'text-danger': !IsminLength}">Password must contain at least 8 characters</span><br/>
                                            <span [ngClass]="{'text-success':ispwdContainsNum , 'text-danger': !ispwdContainsNum}">Password must contain at least one number (0-9)</span><br/>
                                            <span [ngClass]="{'text-success':ispwdContainsUC , 'text-danger': !ispwdContainsUC}">Password must contain at least one letter (A-Z)</span><br/>
                                            <span [ngClass]="{'text-success':ispwdContainsLC , 'text-danger': !ispwdContainsLC}">Password must contain at least one letter (a-z)</span><br/>
                                            <span [ngClass]="{'text-success':isPwdContainsSC , 'text-danger': !isPwdContainsSC}">Password must contain one special charater</span>
                                        </div>
                                    </div>
                            </div>

                            <div class="form-group mg-t-15"
                                [ngClass]="{'text-danger':!_Form_Login.controls['newpassword'].valid && _Form_Login.controls['newpassword'].touched}">
                                <div class="d-flex justify-content-between">
                                    <label class="mg-b-0-f">Re-enter Password</label>
                                </div>
                                <div class="input-group">
                                    <input [type]="reEnterPasswordShow ? 'text' : 'password'" name="newpassword" required maxlength="50" class="form-control"
                                    [formControl]="_Form_Login.controls['newpassword']" style="border-right: none;" (input)="resetPwdValueChange($event.target.value)">
                                      <span class="input-group-text bg-white" id="" style="border-radius: 0% .1rem .1rem 0%;">
            
                                        <div class="px-0">
                                          <a *ngIf="!reEnterPasswordShow"
                                              class="align-items-center cursor-pointer"> <i
                                                  class="fa fa-eye-slash eyeIcon" aria-hidden="true"
                                                  (click)="reEnterPasswordShowHide()"></i></a>
            
                                          <a *ngIf="reEnterPasswordShow"
                                              class="align-items-center cursor-pointer"> <i
                                                  class="fa fa-eye eyeIcon" aria-hidden="true"
                                                  (click)="reEnterPasswordShowHide()"></i></a>
                                      </div>
                                    </span>
                                  </div>

                                <!-- <input type="password" name="newpassword" required maxlength="50" class="form-control"
                                    [formControl]="_Form_Login.controls['newpassword']"> -->
                                    <div>
                                        <div class="text-danger tx-12  _600" for="Password"
                                            *ngIf="_Form_Login.controls['newpassword'].hasError('required') && _Form_Login.controls['newpassword'].touched
                                            && (isresetPwdContainsNum && isresetPwdContainsUC && isresetPwdContainsLC && IsresetMinLength && isresetPwdContainsSC && !isPwsMatch)">
                                            Enter password </div>
                                        <div class="tx-12  _600" *ngIf="!(isresetPwdContainsNum && isresetPwdContainsUC && isresetPwdContainsLC && IsresetMinLength && isresetPwdContainsSC)">
                                            <span [ngClass]="{'text-success':IsresetMinLength , 'text-danger': !IsresetMinLength}">Password must contain at least 8 characters</span><br/>
                                            <span [ngClass]="{'text-success':isresetPwdContainsNum , 'text-danger': !isresetPwdContainsNum}">Password must contain at least one number (0-9)</span><br/>
                                            <span [ngClass]="{'text-success':isresetPwdContainsUC , 'text-danger': !isresetPwdContainsUC}">Password must contain at least one letter (A-Z)</span><br/>
                                            <span [ngClass]="{'text-success':isresetPwdContainsLC , 'text-danger': !isresetPwdContainsLC}">Password must contain at least one letter (a-z)</span><br/>
                                            <span [ngClass]="{'text-success':isresetPwdContainsSC , 'text-danger': !isresetPwdContainsSC}">Password must contain one special charater</span><br/>
                                        </div>
                                        <div class="tx-12  _600" *ngIf="!isPwsMatch">
                                            <span [ngClass]="{'text-success':isPwsMatch , 'text-danger': !isPwsMatch}">Both password's are not match</span>
                                        </div>
                                    </div>
                                <div>
                                </div>
                                <div>

                                </div>
                            </div>
                            <button type="submit" class="btn btn-block btn-brand-02"
                                [disabled]="!_Form_Login.valid || _Form_Login_Processing || !isPwsMatch">
                                <span *ngIf="!_Form_Login_Processing">
                                    Create New Password
                                </span>
                                <span *ngIf="_Form_Login_Processing">
                                    <i class="{{ 'Common.SpinnerIcon' | translate }}"></i>
                                    {{ 'Common.PleaseWait' | translate }}...
                                </span>
                            </button>

                        </form>

                    </div>
                    <div class="row ">
                        <div class=" text-center col-lg-12 col-md-12 col-sm-12 col-xs-12 mg-t-100 text-muted">
                            © Copyright <a target="_blank" class="text-primary"
                                href="http://connectedanalytics.xyz">Connected
                                Analytics Inc.</a> 2020 |
                            All Right
                            Reserved
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>