<!-- acquirer--merchant--addnew -->

<form [formGroup]="Form_AddUser" class="body-font" (ngSubmit)="Form_AddUser_Process(Form_AddUser.value)" role="form">
    <div class="tx-13 card mg-b-25">
        <div id="wizard1">

            <h3>Business Information</h3>
            <section>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>{{'System.Users.BusinessName' | translate }}<span
                                    class="text-danger">*</span></label>
                            <div class="controls">

                                <input type="text" placeholder="{{'System.Users.Name' | translate }}" name="Name"
                                    maxlength="128" class="form-control" [formControl]="Form_AddUser.controls['Name']"
                                    [ngClass]="{'is-invalid':!Form_AddUser.controls['Name'].valid && Form_AddUser.controls['Name'].touched}">
                            </div>
                            <div class="text-xs text-muted _500"> </div>
                            <label class="text-danger" for="Name"
                                *ngIf="Form_AddUser.controls['Name'].hasError('required') && Form_AddUser.controls['Name'].touched">
                                Enter business name
                            </label>
                            <label class="text-danger" for="Name"
                                *ngIf="Form_AddUser.controls['Name'].hasError('minlength') || Form_AddUser.controls['Name'].hasError('maxlength')">
                                Business name must be between 4 - 256 characters</label>
                        </div>
                        <div class="form-group">
                            <label>Business Display Name<span class="text-danger">*</span> </label>
                            <div class="controls">
                                <input type="text" placeholder="Display Name" name="DisplayName" maxlength="25"
                                    class="form-control" [formControl]="Form_AddUser.controls['DisplayName']"
                                    [ngClass]="{'is-invalid':!Form_AddUser.controls['DisplayName'].valid && Form_AddUser.controls['DisplayName'].touched}">
                            </div>
                            <label class="text-danger" for="DisplayName"
                                *ngIf="Form_AddUser.controls['DisplayName'].hasError('required') && Form_AddUser.controls['DisplayName'].touched">
                                Enter business display name
                            </label>
                            <label class="text-danger" for="DisplayName"
                                *ngIf="Form_AddUser.controls['DisplayName'].hasError('minlength') || Form_AddUser.controls['DisplayName'].hasError('maxlength')">
                                Business display name must be between 2-25 characters</label>

                        </div>
                        <div class="form-group">
                            <label>Business Contact Number<span class="text-danger">*</span>
                            </label>
                            <div class="controls">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">+234</span>
                                    </div>
                                    <input type="text" placeholder="Contact Number" name="ContactNumber" minlength="8"
                                        maxlength="14" class="form-control contact-textbox-height"
                                        (keypress)="_HelperService.PreventText($event)"
                                        [formControl]="Form_AddUser.controls['ContactNumber']"
                                        [ngClass]="{'is-invalid':!Form_AddUser.controls['ContactNumber'].valid && Form_AddUser.controls['ContactNumber'].touched}">
                                </div>
                            </div>
                            <label class="text-danger" for="ContactNumber"
                                *ngIf="Form_AddUser.controls['ContactNumber'].hasError('required') && Form_AddUser.controls['ContactNumber'].touched">enter
                                Business contact number</label>
                            <label class="text-danger" for="ContactNumber"
                                *ngIf="Form_AddUser.controls['ContactNumber'].hasError('minlength') || Form_AddUser.controls['ContactNumber'].hasError('maxlength')">
                                Business contact number must be between 10 to 14 numbers
                            </label>

                        </div>
                        <div class="form-group">
                            <label>Business Email Address<span class="text-danger">*</span>
                            </label>
                            <div class="controls">
                                <input type="text" placeholder="Email" name="EmailAddress" maxlength="256"
                                    class="form-control" [formControl]="Form_AddUser.controls['EmailAddress']"
                                    [ngClass]="{'is-invalid':!Form_AddUser.controls['EmailAddress'].valid && Form_AddUser.controls['EmailAddress'].touched}">
                            </div>
                            <label class="text-danger" for="EmailAddress"
                                *ngIf="Form_AddUser.controls['EmailAddress'].hasError('required') && Form_AddUser.controls['EmailAddress'].touched">
                                Enter business email address
                            </label>

                            <label class="text-danger" for="EmailAddress"
                                *ngIf="Form_AddUser.controls['EmailAddress'].hasError('email') && Form_AddUser.controls['EmailAddress'].touched">
                                Enter valid business email address
                            </label>

                        </div>
                        <div class="form-group">
                            <label>{{'System.Users.BusinessOwnerName' | translate }}
                            </label>
                            <div class="controls">
                                <input type="text" placeholder="Business Owner Name" name="BusinessOwnerName"
                                    maxlength="256" class="form-control"
                                    [formControl]="Form_AddUser.controls['BusinessOwnerName']">
                            </div>
                            <label class="text-danger" for="BusinessOwnerName"
                                *ngIf="Form_AddUser.controls['BusinessOwnerName'].hasError('required') && Form_AddUser.controls['BusinessOwnerName'].touched">
                                Enter Business Owner Name
                            </label>

                            <label class="text-danger" for="BusinessOwnerName"
                                *ngIf="Form_AddUser.controls['BusinessOwnerName'].hasError('minlength') || Form_AddUser.controls['BusinessOwnerName'].hasError('maxlength')">
                                Business Owner name must be between 4 - 256 characters
                            </label>
                        </div>
                        <div class="custom-control custom-checkbox mt-3 mb-3">
                            <input class="custom-control-input" type="checkbox" [checked]="!_ContactInfo"
                                (change)="_ToogleContactInfo()" name="browser[]" value="1" data-parsley-mincheck="2"
                                data-parsley-class-handler="#cbWrapper"
                                data-parsley-errors-container="#cbErrorContainer" required=""
                                data-parsley-multiple="browser" id="b2">
                            <label class="custom-control-label  text-muted tx-14" for="b2">Contact Information same as
                                Business Information</label> <br>
                        </div>

                        <div class="">
                            <h3 class="tx-medium tx-18">Contact Person Information</h3>
                            <p class="tx-14 text-muted">Please enter business registered address or main business
                                location
                            </p>
                            <div class="row ">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>Contact Person<span class="text-danger">*</span>
                                        </label>
                                        <div class="controls">
                                            <input type="text" placeholder="Primary Contact Person Of Business"
                                                name="FirstName" minlength="4" maxlength="128" class="form-control"
                                                [formControl]="Form_AddUser.controls['FirstName']"
                                                [ngClass]="{'is-invalid':!Form_AddUser.controls['FirstName'].valid && Form_AddUser.controls['FirstName'].touched}">
                                        </div>
                                        <label class="text-danger" for="FirstName"
                                            *ngIf="Form_AddUser.controls['FirstName'].hasError('required') && Form_AddUser.controls['FirstName'].touched">
                                            Enter name
                                        </label>
                                        <label class="text-danger" for="FirstName"
                                            *ngIf="Form_AddUser.controls['FirstName'].hasError('minlength') || Form_AddUser.controls['FirstName'].hasError('maxlength')">
                                            Name must be between 4 to 128 characters
                                        </label>
                                    </div>
                                </div>
                                <!-- <div class="col-md-12"></div> -->
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label> Mobile Number<span class="text-danger">*</span>
                                        </label>
                                        <div class="controls">
                                            <input type="text" placeholder="MobileNumber" name="MobileNumber"
                                                minlength="8" maxlength="14" class="form-control"
                                                (keypress)="_HelperService.PreventText($event)"
                                                [formControl]="Form_AddUser.controls['MobileNumber']"
                                                [ngClass]="{'is-invalid':!Form_AddUser.controls['MobileNumber'].valid && Form_AddUser.controls['MobileNumber'].touched}">
                                        </div>
                                        <label class="text-danger" for="MobileNumber"
                                            *ngIf="Form_AddUser.controls['MobileNumber'].hasError('required') && Form_AddUser.controls['MobileNumber'].touched">
                                            Enter mobile number
                                        </label>
                                        <label class="text-danger" for="MobileNumber"
                                            *ngIf="Form_AddUser.controls['MobileNumber'].hasError('minlength') || Form_AddUser.controls['MobileNumber'].hasError('maxlength')">
                                            Mobile number must be between 8 to 14 numbers
                                        </label>
                                    </div>
                                </div>
                                <!-- <div class="col-md-6"></div> -->
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group ">
                                        <label>Email Address<span class="text-danger">*</span>
                                        </label>
                                        <div class="controls">
                                            <input type="text" placeholder="Email Id" name="EmailAddress"
                                                maxlength="256" class="form-control"
                                                [formControl]="Form_AddUser.controls['EmailAddress']"
                                                [ngClass]="{'is-invalid':!Form_AddUser.controls['EmailAddress'].valid && Form_AddUser.controls['EmailAddress'].touched}">
                                        </div>
                                        <label class="text-danger" for="EmailAddress"
                                            *ngIf="Form_AddUser.controls['EmailAddress'].hasError('required') && Form_AddUser.controls['EmailAddress'].touched">
                                            Enter business email address
                                        </label>

                                        <label class="text-danger" for="EmailAddress"
                                            *ngIf="Form_AddUser.controls['EmailAddress'].hasError('email') && Form_AddUser.controls['EmailAddress'].touched">
                                            Enter valid business email address
                                        </label>
                                    </div>
                                </div>
                                <!-- <div class="col-md-6"></div> -->
                            </div>
                        </div>

                        <h3 class="tx-medium tx-18">Reward Details</h3>
                        <p class="tx-14 text-muted">Please enter initial reward percentage provided by customer. Keep
                            empty to allow merchant to set.</p>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>Reward Percentage<span class="text-danger">*</span>
                                    </label>
                                    <div class="controls">
                                        <input type="text" placeholder="Reward Percentage" name="RewardPercentage"
                                            minlength="1" maxlength="100" class="form-control"
                                            (keypress)="_HelperService.PreventText($event)"
                                            [formControl]="Form_AddUser.controls['RewardPercentage']"
                                            [ngClass]="{'is-invalid':!Form_AddUser.controls['RewardPercentage'].valid && Form_AddUser.controls['RewardPercentage'].touched}">
                                    </div>
                                    <label class="text-danger" for="RewardPercentage"
                                        *ngIf="Form_AddUser.controls['RewardPercentage'].hasError('required') && Form_AddUser.controls['RewardPercentage'].touched">
                                        enter reward percentage
                                    </label>
                                    <label class="text-danger" for="RewardPercentage"
                                        *ngIf="Form_AddUser.controls['RewardPercentage'].hasError('min') || Form_AddUser.controls['RewardPercentage'].hasError('max')">
                                        reward percentage must be between 0 to 100
                                    </label>
                                </div>
                            </div>
                        </div>

                        <h3 class="tx-medium tx-18">Branch and RM</h3>
                        <p class="tx-14 text-muted">Please assign Branch and RM to this merchant</p>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group" *ngIf="!_HelperService.IsFormProcessing">
                                    <label>Assign Branch<span class="text-danger">*</span>
                                    </label>
                                    <select2 name="S2GetBranches" class="full-width" [options]="GetBranches_Option"
                                        (valueChanged)="GetBranches_ListChange($event)"></select2>
                                    <!-- <label class="text-danger" for="BranchKey"
                                    *ngIf="Form_AddUser.controls['BranchKey'].hasError('required') && Form_AddUser.controls['BranchKey'].touched"> Select branch </label> -->
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group" *ngIf="!_HelperService.IsFormProcessing">
                                    <label>Assign Rm<span class="text-danger">*</span>
                                    </label>
                                    <select2 name="S2GetManagers" class="full-width" [options]="GetMangers_Option"
                                        (valueChanged)="GetMangers_ListChange($event)"></select2>
                                    <!-- <label class="text-danger" for="RoleKey"
                                        *ngIf="Form_AddUser.controls['RoleKey'].hasError('required') && Form_AddUser.controls['RoleKey'].touched">{{
                                            'System.Users.EmailAddress_ER_Required' | translate }}</label> -->
                                </div>
                            </div>
                        </div>




                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="tx-roboto tx-12 text-dark">Locate Address<span class="text-danger">*</span>
                            </label>
                            <div class="controls">
                                <input type="text" name="GAddress" maxlength="256" class="form-control"
                                    ngx-google-places-autocomplete #places="ngx-places"
                                    (onAddressChange)="Form_AddUser_AddressChange($event)">
                            </div>
                            <label class="text-warn">You can click on map to mark exact location of store </label>
                        </div>
                        <div class="agm">
                            <agm-map style="height:255px;" [zoom]="12" [latitude]="Form_AddUser_Latitude"
                                [styles]="_HelperService.darkStyle" [longitude]="Form_AddUser_Longitude"
                                (mapClick)="Form_AddUser_PlaceMarkerClick($event)" [streetViewControl]="false">
                                <agm-marker [latitude]="Form_AddUser_Latitude" [longitude]="Form_AddUser_Longitude">
                                </agm-marker>
                            </agm-map>
                        </div>
                        <div class="form-group mt-3">
                            <label class="tx-roboto tx-12 text-dark">Detailed Address <span class="text-muted"> (Street
                                    Name, Building Name, Floor Number Etc) </span> <span class="text-danger">*</span>
                            </label>
                            <div class="controls">
                                <textarea name="Address" maxlength="256" placeholder="Address" class="form-control"
                                    rows="3" [formControl]="Form_AddUser.controls['Address']"
                                    [ngClass]="{'is-invalid':!Form_AddUser.controls['Address'].valid && Form_AddUser.controls['Address'].touched}"></textarea>
                            </div>
                            <label class="text-danger" for="Address"
                                *ngIf="Form_AddUser.controls['Address'].hasError('required') && Form_AddUser.controls['Address'].touched">{{
                                                                  'System.Users.Address_ER_Required' | translate }}</label>
                            <label class="text-danger" for="Address"
                                *ngIf="Form_AddUser.controls['Address'].hasError('minlength') || Form_AddUser.controls['Address'].hasError('maxlength')">{{
                                                                  'System.Users.Address_ER_Length' | translate }}</label>
                        </div>

                        <!-- City -->
                        <div class="form-group mt-3">
                            <label class="tx-roboto tx-12 text-dark">City<span class="text-danger">*</span></label>
                            <div class="controls">
                                <input type="text" placeholder="City" name="City" maxlength="25" class="form-control"
                                    [formControl]="Form_AddUser.controls['CityName']"
                                    [(ngModel)]='_CurrentAddress.administrative_area_level_2'
                                    [ngClass]="{'is-invalid':!Form_AddUser.controls['CityName'].valid && Form_AddUser.controls['CityName'].touched}">
                            </div>
                            <div class="text-xs text-muted _500"> </div>
                            <label class="text-danger" for="CityName"
                                *ngIf="Form_AddUser.controls['CityName'].hasError('required') && Form_AddUser.controls['CityName'].touched">
                                Enter city name
                            </label>
                            <label class="text-danger" for="CityName"
                                *ngIf="Form_AddUser.controls['CityName'].hasError('minlength') || Form_AddUser.controls['CityName'].hasError('maxlength')">
                                City name must be between 2 - 128 character</label>
                        </div>

                        <div class="form-group mt-3">
                            <label class="tx-roboto tx-12 text-dark">State<span class="text-danger">*</span></label>
                            <div class="controls">

                                <input type="text" placeholder="State" name="City" maxlength="25" class="form-control"
                                    [formControl]="Form_AddUser.controls['StateName']"
                                    [(ngModel)]='_CurrentAddress.administrative_area_level_1'
                                    [ngClass]="{'is-invalid':!Form_AddUser.controls['StateName'].valid && Form_AddUser.controls['StateName'].touched}">
                            </div>
                            <div class="text-xs text-muted _500"> </div>
                            <label class="text-danger" for="StateName"
                                *ngIf="Form_AddUser.controls['StateName'].hasError('required') && Form_AddUser.controls['StateName'].touched">
                                Enter state name
                            </label>
                            <label class="text-danger" for="DisplayName"
                                *ngIf="Form_AddUser.controls['StateName'].hasError('minlength') || Form_AddUser.controls['StateName'].hasError('maxlength')">
                                State name must be between 2 - 128 character</label>
                        </div>

                        <div class="form-group mt-3">
                            <label class="tx-roboto tx-12 text-dark">Country<span class="text-danger">*</span></label>
                            <div class="controls">

                                <input type="text" placeholder="Country" name="Country" maxlength="25"
                                    class="form-control" [formControl]="Form_AddUser.controls['CountryName']"
                                    [(ngModel)]='_CurrentAddress.country'
                                    [ngClass]="{'is-invalid':!Form_AddUser.controls['CountryName'].valid && Form_AddUser.controls['CountryName'].touched}">
                            </div>
                            <div class="text-xs text-muted _500"> </div>
                            <label class="text-danger" for="CountryName"
                                *ngIf="Form_AddUser.controls['CountryName'].hasError('required') && Form_AddUser.controls['CountryName'].touched">
                                Enter Country name
                            </label>
                            <label class="text-danger" for="CountryName"
                                *ngIf="Form_AddUser.controls['CountryName'].hasError('minlength') || Form_AddUser.controls['CountryName'].hasError('maxlength')">
                                Country name must be between 2 - 128 character</label>
                        </div>

                    </div>

                </div>

                <div class="card-footer">
                    <button type="button" class="btn btn-primary float-right" (click)="_ShowGeneralPreview()"
                        [disabled]="!Form_AddUser.valid || _HelperService.IsFormProcessing">
                        Save
                    </button>
                </div>
            </section>

            <h3>Store Details</h3>
            <section>
                <div *ngIf="F_AddStore">
                    <p class="tx-14 text-muted">Please enter store initial information to create first store</p>
                    <div class="custom-control custom-checkbox mt-3 mb-3">
                        <input class="custom-control-input" type="checkbox" name="browser[]" value="1"
                            [checked]="_StoreInfoCopy" (change)="_ToogleStoreCopy()" data-parsley-mincheck="2"
                            data-parsley-class-handler="#cbWrapper" data-parsley-errors-container="#cbErrorContainer"
                            required="" data-parsley-multiple="browser" id="b3">
                        <label class="custom-control-label  text-muted tx-14" for="b3">Store details are same as
                            business
                            details</label> <br>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Store Name<span class="text-danger">*</span> </label>
                                <div class="controls">
                                    <input [attr.disabled]="_StoreInfoCopy ? '' : null" type="text"
                                        placeholder="Store Name" name="DisplayName" maxlength="256" class="form-control"
                                        [formControl]="F_AddStore.controls['DisplayName']"
                                        [ngClass]="{'is-invalid':!F_AddStore.controls['DisplayName'].valid && F_AddStore.controls['DisplayName'].touched}">
                                </div>
                                <label class="text-danger" for="DisplayName"
                                    *ngIf="F_AddStore.controls['DisplayName'].hasError('required') && F_AddStore.controls['DisplayName'].touched">
                                    enter Store Name
                                </label>
                                <label class="text-danger" for="DisplayName"
                                    *ngIf="F_AddStore.controls['DisplayName'].hasError('minlength') || F_AddStore.controls['DisplayName'].hasError('maxlength')">parent
                                    Store Name must be between 4 - 256 characters</label>
                            </div>
                            <div class="form-group">
                                <label>Phone Number *<span class="text-danger">*</span>
                                </label>
                                <div class="controls">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">+234</span>
                                        </div>
                                        <input [attr.disabled]="_StoreInfoCopy ? '' : null" type="text"
                                            placeholder="Phone Number" name="ContactNumber" minlength="8"
                                            maxlength="18" class="form-control contact-textbox-height"
                                            (keypress)="_HelperService.PreventText($event)"
                                            [formControl]="F_AddStore.controls['ContactNumber']"
                                            [ngClass]="{'is-invalid':!F_AddStore.controls['ContactNumber'].valid && F_AddStore.controls['ContactNumber'].touched}">
                                    </div>
                                </div>
                                <label class="text-danger" for="ContactNumber"
                                    *ngIf="F_AddStore.controls['ContactNumber'].hasError('required') && F_AddStore.controls['ContactNumber'].touched">enter
                                    enter phone number</label>
                                <label class="text-danger" for="ContactNumber"
                                    *ngIf="F_AddStore.controls['ContactNumber'].hasError('minlength') || F_AddStore.controls['ContactNumber'].hasError('maxlength')">
                                    phone number must be between 10 to 14 numbers
                                </label>

                            </div>
                            <div class="form-group">
                                <label>Email ID<span class="text-danger">*</span>
                                </label>
                                <div class="controls">
                                    <input [attr.disabled]="_StoreInfoCopy ? '' : null" type="text"
                                        placeholder="Email Id" name="EmailAddress" maxlength="256" class="form-control"
                                        [formControl]="F_AddStore.controls['EmailAddress']"
                                        [ngClass]="{'is-invalid':!F_AddStore.controls['EmailAddress'].valid && F_AddStore.controls['EmailAddress'].touched}">
                                </div>
                                <label class="text-danger" for="EmailAddress"
                                    *ngIf="F_AddStore.controls['EmailAddress'].hasError('required') && F_AddStore.controls['EmailAddress'].touched">
                                    enter Email ID
                                </label>

                                <label class="text-danger" for="EmailAddress"
                                    *ngIf="F_AddStore.controls['EmailAddress'].hasError('email') && F_AddStore.controls['EmailAddress'].touched">
                                    enter valid Email ID
                                </label>

                            </div>

                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="tx-roboto tx-12 text-dark">Locate Address<span
                                        class="text-danger">*</span>
                                </label>
                                <div class="controls">
                                    <input type="text" name="GAddress" maxlength="256" class="form-control"
                                        ngx-google-places-autocomplete #placesStore="ngx-places"
                                        (onAddressChange)="F_AddStore_AddressChange($event)">
                                </div>
                                <label class="text-warn">You can click on map to mark exact location of store </label>
                            </div>
                            <div class="agm">
                                <agm-map style="height:255px;" [zoom]="12" [latitude]="F_AddStore_Latitude"
                                    [styles]="_HelperService.darkStyle" [longitude]="F_AddStore_Longitude"
                                    (mapClick)="F_AddStore_PlaceMarkerClick($event)" [streetViewControl]="false">
                                    <agm-marker [latitude]="F_AddStore_Latitude" [longitude]="F_AddStore_Longitude">
                                    </agm-marker>
                                </agm-map>
                            </div>
                            <div class="form-group mt-3">
                                <label class="tx-roboto tx-12 text-dark">Detailed Address <span class="text-muted">
                                        (Street
                                        Name, Building Name, Floor Number Etc) </span> <span
                                        class="text-danger">*</span>
                                </label>
                                <div class="controls">
                                    <textarea [attr.disabled]="_StoreInfoCopy ? '' : null" name="Address"
                                        maxlength="256" class="form-control" rows="3"
                                        [formControl]="F_AddStore.controls['Address']"
                                        [ngClass]="{'is-invalid':!F_AddStore.controls['Address'].valid && F_AddStore.controls['Address'].touched}"></textarea>
                                </div>
                                <label class="text-danger" for="Address"
                                    *ngIf="F_AddStore.controls['Address'].hasError('required') && F_AddStore.controls['Address'].touched">{{
                                                              'System.Users.Address_ER_Required' | translate }}</label>
                                <label class="text-danger" for="Address"
                                    *ngIf="F_AddStore.controls['Address'].hasError('minlength') || F_AddStore.controls['Address'].hasError('maxlength')">{{
                                                              'System.Users.Address_ER_Length' | translate }}</label>
                            </div>
                        </div>
                    </div>
                    <button type="button" class="btn btn-primary float-right" (click)="_ShowStorePreview()"
                        [disabled]="!F_AddStore.valid || _HelperService.IsFormProcessing">
                        Save
                    </button>
                </div>
            </section>

            <h3>Pos Terminal</h3>
            <section>
                <!-- <div class="tx-21 tx-medium"> Add POS Terminals for merchant </div> -->
                <div class="col-md-8">

                    <div class="tx-14 text-muted"> Please add pos detail of merchant. Please select proper PTSP for
                        terminal
                        and confirm before finish</div>
                    <div class="row mg-t-25">
                        <div class="form-group col-md-6 pb-0 mb-0">
                            <label class="tx-13 text-muted">Provider Name</label> <br>
                            <select2 [options]="TerminalsList_Filter_Provider_Option"
                                (valueChanged)="TerminalsList_Filter_Providers_Change($event)">
                            </select2>
                        </div>
                        <!-- <div class="form-group col-md-4 pb-0 mb-0" *ngIf="_ProviderId>0">
                            <label class="tx-13 text-muted">Terminal ID</label><br>
                            <select2 [options]="TerminalsList_Option" (valueChanged)="TerminalsLists_Change($event)">
                            </select2>
                        </div> -->
                        <!-- <div class="form-group col-md-4 pb-0 mb-0" *ngIf="_ProviderId>0">
                            <input type="text" name="TerminalId" placeholder="Terminal Id" required maxlength="25"
                                [(ngModel)]="TerminalId" class="form-control">
                        </div> -->

                        <div class="form-group">
                            <label class="tx-13 text-muted">{{ "System.Users.TerminalId" | translate
                      }}<span class="text-danger">*</span>
                            </label>
                            <div class="controls">
                                <input type="text" name="TerminalId" maxlength="128" class="form-control"
                                    [formControl]="Form_AddTerminal.controls['TerminalId']" />
                            </div>
                            <label class="text-danger" for="TerminalId" *ngIf="
                            Form_AddTerminal.controls['TerminalId'].hasError('required') &&
                            Form_AddTerminal.controls['TerminalId'].touched
                          ">{{
                            "System.Users.Terminal_ER_Required" | translate
                          }}</label>
                            <label class="text-danger" for="TerminalId" *ngIf="
                                Form_AddTerminal.controls['TerminalId'].hasError(
                              'minlength'
                            ) ||
                            Form_AddTerminal.controls['TerminalId'].hasError('maxlength')
                          ">{{ "System.Users.Terminal_ER_Length" | translate }}</label>
                        </div>

                        <div class="col-md-2 pd-t-25">
                            <button type="button" class="btn btn-primary" (click)="AddTerminal()">
                                Add POS
                            </button>
                        </div>

                    </div>


                    <table class="table my-3">
                        <thead>
                            <tr>
                                <th scope="col">S.No</th>
                                <th scope="col">Terminal Id</th>
                                <th scope="col">Ptsp</th>
                                <th scope="col">Store</th>
                                <th scope="col"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let TItem of _TerminalList;let i = index">
                                <th scope="row">
                                    {{i+1}}
                                </th>
                                <td>{{TItem.TerminalId}}</td>
                                <td>{{TItem.ProviderId}}</td>
                                <td>{{F_AddStore.controls['DisplayName'].value}}</td>
                                <td><span><a (click)="RemoveTerminal(TItem.ReferenceId)"><span
                                                class="fa fa-trash cursor-pointer text-danger text-md"></span></a></span>
                                </td>
                            </tr>


                        </tbody>
                    </table>
                    <button type="button" class="btn btn-success float-right" (click)="AddTerminal_Process()">
                        Finish
                    </button>

                </div>
            </section>

        </div>
    </div>
</form>

<div id="_PreviewGeneral" class="modal fade " tabindex="-1" data-backdrop="true" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered dropdown ">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Create New Merchart</h5>
            </div>
            <div class="modal-body  p-y-20 pd-x-40">
                <span class="tx-14 text-muted"> Please confirm , You want to add. <span class="tx-semibold tx-black"> "
                    </span> <span
                        class="tx-semibold tx-black">{{Form_AddUser.controls['DisplayName'].value}}</span><span
                        class="tx-semibold tx-black"> " </span> As merchant with <span class="tx-semibold text-success">
                        {{Form_AddUser.controls['RewardPercentage'].value}} %</span> rewards on all products?</span>
                <div class="row mt-3">
                    <div class="col-md-3">Business </div>
                    <div class="col-md-1">:</div>
                    <div class="col-md-8 text-muted">{{Form_AddUser.controls['DisplayName'].value}}</div>
                    <div class="col-md-3">Address </div>
                    <div class="col-md-1">:</div>
                    <div class="col-md-8 text-muted"> {{Form_AddUser.controls['Address'].value}}</div>
                    <div class="col-md-3">Phone. </div>
                    <div class="col-md-1">:</div>
                    <div class="col-md-8 text-muted">{{Form_AddUser.controls['ContactNumber'].value}}</div>
                    <div class="col-md-3">Email </div>
                    <div class="col-md-1">:</div>
                    <div class="col-md-8 text-muted"> {{Form_AddUser.controls['EmailAddress'].value}}</div>



                </div>
                <div class="row pd-y-20">
                    <div class="col-md-3">User Name </div>
                    <div class="col-md-1">:</div>
                    <div class="col-md-8 text-danger">{{Form_AddUser.controls['EmailAddress'].value}}</div>
                </div>
                <p class="text-muted mt-3">
                    Select <span class="text-primary"> Save & invite </span> button to send account details and
                    password to merchant on <span class="tx-black"> {{Form_AddUser.controls['EmailAddress'].value}}
                    </span> or Just select <span class="text-success"> Save </span> button to create account.
                </p>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">
                    {{ "Common.Close" | translate }}
                </button>
                <button type="button" class="btn btn-primary" data-dismiss="modal">
                    {{ "Common.Save&Invite" | translate }}
                </button>
                <button type="button" class="btn btn-success mr-2" (click)="Form_AddUser_Process()">
                    <span *ngIf="!_HelperService.IsFormProcessing">
                        {{ "Common.Save" | translate }}
                    </span>
                    <span *ngIf="_HelperService.IsFormProcessing">
                        <i class="{{ 'Common.SpinnerIcon' | translate }}"></i>
                        {{ "Common.PleaseWait" | translate }}...
                    </span>
                </button>
            </div>
        </div>
    </div>
</div>

<div id="_PreviewStore" class="modal fade " tabindex="-1" data-backdrop="true" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered dropdown " *ngIf="F_AddStore">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Add Store to <span>{{Form_AddUser.controls['DisplayName'].value}}</span></h5>
            </div>
            <div class="modal-body  p-y-20 pd-x-40">
                <span class="tx-14 text-muted"> Please confirm , You want to add. first store <span
                        class="tx-semibold tx-black"> " </span> <span
                        class="tx-semibold tx-black">{{F_AddStore.controls['DisplayName'].value}}</span><span
                        class="tx-semibold tx-black"> " </span> for
                    <span>{{Form_AddUser.controls['DisplayName'].value}}</span></span>
                <div class="row mt-3">
                    <div class="col-md-3">Store </div>
                    <div class="col-md-1">:</div>
                    <div class="col-md-8 text-muted">{{F_AddStore.controls['DisplayName'].value}}</div>
                    <div class="col-md-3">Address </div>
                    <div class="col-md-1">:</div>
                    <div class="col-md-8 text-muted"> {{F_AddStore.controls['Address'].value}}</div>
                    <div class="col-md-3">Phone. </div>
                    <div class="col-md-1">:</div>
                    <div class="col-md-8 text-muted">{{F_AddStore.controls['ContactNumber'].value}}</div>
                    <div class="col-md-3">Email </div>
                    <div class="col-md-1">:</div>
                    <div class="col-md-8 text-muted"> {{F_AddStore.controls['EmailAddress'].value}}</div>

                    <p class="text-muted pd-l-15 mt-3"> Select <span class="text-success"> Create </span> button to
                        create account or cancel button to close this popup..
                    </p>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">
                    {{ "Common.Close" | translate }}
                </button>
                <button type="button" class="btn btn-primary warn mr-2" (click)="F_AddStore_Process()">
                    <span *ngIf="!_HelperService.IsFormProcessing">
                        {{ "Common.Save" | translate }}
                    </span>
                    <span *ngIf="_HelperService.IsFormProcessing">
                        <i class="{{ 'Common.SpinnerIcon' | translate }}"></i>
                        {{ "Common.PleaseWait" | translate }}...
                    </span>
                </button>
            </div>
        </div>
    </div>
</div>

<div id="_PreviewTerminal" class="modal fade " tabindex="-1" data-backdrop="true" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered dropdown ">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"> All Done </h5>
            </div>
            <div class="modal-body  p-lg">
                <div class="row">
                    <div class="col-md-2">
                        <span class="text-success"> <i style="height: 60px; width: 60px;" data-feather="thumbs-up"></i>
                        </span>
                    </div>
                    <div class="col-md-10">
                        <span class="tx-14"> Well done! You have successfully added merchant , store and POS. </span>

                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="terminal_Close()">
                    {{ "Common.Close" | translate }}
                </button>
                <!-- <button type="button" class="btn btn-primary warn mr-2" (click)="Form_AddUser_Process()"
                    [disabled]="!Form_AddUser.valid || _HelperService.IsFormProcessing">
                    <span *ngIf="!_HelperService.IsFormProcessing">
                        {{ "Common.Save" | translate }}
                    </span>
                    <span *ngIf="_HelperService.IsFormProcessing">
                        <i class="{{ 'Common.SpinnerIcon' | translate }}"></i>
                        {{ "Common.PleaseWait" | translate }}...
                    </span>
                </button> -->
            </div>
        </div>
    </div>
</div>