<div class="container-editor">
  <div class="drag-input-file" [hidden]="isImageLoaded" draggable="true">
    <input type="file" (change)="fileDropped($event)">
  </div>
  <div class="editor" #tuiRef>
  </div>
</div>
<div id="footer">
  <button mat-raised-button class="savebtn" (click)="save()">Save</button>
  <button mat-raised-button [mat-dialog-close]="false" class="closebtn">Close</button>
</div>