.tui-image-editor-container {
  height: 700px !important
}


#footer {
  text-align: end;
}

.container-editor{
  position: relative;
}

.drag-input-file{
  height: 290px;
  width: 700px;
  opacity: 0;
  z-index: 3;
  position: absolute;
  left: 50%;
  transform: translate(-55%, 80%);
}

.drag-input-file input{
  height: 100%;
  width: 100%;
}