<!-- --merchant-Loyality--overview -->
<ol class="breadcrumb df-breadcrumbs mg-b-10">
  <li class="breadcrumb-item" [routerLinkActive]="['active']"><a
      routerLink="{{ _HelperService.AppConfig.Pages.ThankUCash.Dashboard.Merchant}}" [routerLinkActive]="['active']">
      Dashboard</a></li>
  <li class="breadcrumb-item" [routerLinkActive]="['active']"><a
      routerLink="{{_HelperService.AppConfig.Pages.ThankUCash.PanelMerchant.Loyality.Overview}}/{{this._HelperService.AppConfig.ActiveReferenceKey}}/{{ this._HelperService.AppConfig.ActiveReferenceId}}"
      [routerLinkActive]="['active']">Loyalty
    </a></li>
  <li class="breadcrumb-item" [routerLinkActive]="['active']"><a class="text-primary"
      [routerLinkActive]="['active']">Visits
    </a></li>
</ol>

<div class="d-sm-flex align-items-center justify-content-between mb-2">
  <div class="d-flex justify-content-between ">
    <!-- <div class="form-group  mb-0 pb-0 wd-200">
      <input type="text" class="form-control form-daterangepicker full-width" name="daterangeInput" daterangepicker
        [options]="_HelperService.AppConfig.DateRangeOptionsCustom" (click)="showDatePicker()"
        (selected)="DateChanged($event, _HelperService.AppConfig.ListToggleOption.Date)" />
    </div> -->
    <div class="form-group  mb-0 pb-0 wd-200">
      <input type="text" class="form-control form-daterangepicker full-width" name="dateinput" daterangepicker
        [options]="_HelperService.AppConfig.DatePickerOptions"
        (selected)="DateChanged($event, _HelperService.AppConfig.ListToggleOption.Date)" />
    </div>


    <div class="mg-l-5 wd-200">
      <!-- <select2 class="full-width" [options]="TUTr_Filter_Store_Option"
        (valueChanged)="TUTr_Filter_Stores_Change($event)">
      </select2> -->
      <select2 class="full-width" [options]="TUTr_Filter_Store_Option" [data]="stores" [value]="storeId"
        (valueChanged)="TUTr_Filter_Stores_Change($event)">
      </select2>
    </div>
  </div>
  <div class="d-flex justify-content-between mg-t-10  mg-md-t-0">
    <!-- <button
      class="btn btn-sm pd-x-15  btn-uppercase {{_HelperService.CheckMode == 'dark' ? 'btn-dark' : 'btn-white' }}"><i
        data-feather="mail" class="wd-10 mg-r-5"></i>
      Email</button>
    <button
      class="btn btn-sm pd-x-15  btn-uppercase mg-l-5 {{_HelperService.CheckMode == 'dark' ? 'btn-dark' : 'btn-white' }}"><i
        data-feather="upload" class="wd-10 mg-r-5"></i>
      Export</button> -->
    <!-- <ul class="list-inline d-flex mg-t-20 mg-sm-t-10 mg-md-t-0 mg-b-0">
      <li class="list-inline-item d-flex align-items-center">
        <span class="d-block wd-15 ht-15 bg-primary rounded mg-r-5 "></span>
        <span class="tx-sans   tx-uppercase tx-medium tx-color-03 tx-13">
          {{_Monthly.ActualStartDate | date :["dd LLL"]}}</span>
      </li>
      <li class="list-inline-item d-flex align-items-center mg-l-5">
        <span class="d-block wd-15 ht-15 bg-MasterCard rounded mg-r-5"></span>
        <span class="tx-sans  tx-13 tx-uppercase tx-medium tx-color-03">{{_Monthly.ActualEndDate| date :["dd
          LLL"]}}</span>
      </li>
      <li title="{{ 'Common.RefreshT' | translate }}" class="list-inline-item d-flex align-items-center mg-l-5">
        <a class="cursor-pointer" (click)="RefreshData()"><i class="{{ 'Common.RefreshI' | translate }}"></i></a>
      </li>
    </ul> -->
  </div>
</div>
<!-- 
<div class="row row-xs mg-b-10">
  <div class="col-sm-6 col-lg-3 ">
    <div class="card card-body shadow-none ht-100p">
      <h6 class="tx-uppercase tx-11 tx-spacing-1 tx-color-02 tx-semibold mg-b-8">Visits by Loyal Customers</h6>
      <div class="d-flex d-lg-block d-xl-flex align-items-end">
        <h3 class="tx-rubik tx-dark mg-b-8 mg-r-5 lh-1">
          {{_AccountOverview.VisitsByRepeatingCustomers | number: "1.0-1" || "--"}}</h3>
      </div>
      <p class="tx-12 text-secondary mg-b-0"> Visits gives earning of <b class="tx-dark"> <span
            [innerHtml]="_HelperService.AppConfig.CurrencySymbol"></span>{{_AccountOverview.RepeatingCustomerInvoiceAmount| number: "1.0-1"  || "--"  }}
        </b> sale</p>
    </div>
  </div>
  <div class="col-sm-6 col-lg-3 mg-t-15  mg-sm-t-0">
    <div class="card card-body shadow-none ht-100p">
      <h6 class="tx-uppercase tx-11 tx-spacing-1 tx-color-02 tx-semibold mg-b-8">Visits by New customers</h6>
      <div class="d-flex d-lg-block d-xl-flex align-items-end">
        <h3 class=" tx-dark tx-rubik mg-b-8 mg-r-5 lh-1">
          {{_AccountOverview.NewCustomers | number: "1.0-1" || "--"}}</h3>
      </div>
      <p class="tx-12 text-secondary mg-b-0"> Visits gives earning of <b class="tx-dark"> <span
            [innerHtml]="_HelperService.AppConfig.CurrencySymbol"></span>
          {{_AccountOverview.NewCustomerInvoiceAmount| number: "1.0-1" || "--"  }} </b> sale</p>


    </div>
  </div>
  <div class="col-sm-6 col-lg-3 mg-t-15  mg-lg-t-0">
    <div class="card card-body shadow-none ht-100p">
      <h6 class="tx-uppercase tx-11 tx-spacing-1 tx-color-02 tx-semibold mg-b-8">Avg. spent/visit</h6>
      <div class="d-flex d-lg-block d-xl-flex align-items-end">
        <h3 class="tx-dark tx-rubik  mg-b-8 mg-r-5 lh-1 Word-break">
          <span class=" text-sm mg-r-2"
            [innerHtml]="_HelperService.AppConfig.CurrencySymbol"></span>{{_AccountOverview.AvgSpentVisit || "0" | number: "1.2-2"}}
        </h3>

      </div>
      <p class="tx-12 text-secondary mg-b-0">Average spent per visit in this time span</p>


    </div>
  </div>
  <div class="col-sm-6 col-lg-3 mg-t-15  mg-lg-t-0">
    <div class="card card-body shadow-none ht-100p">
      <h6 class=" tx-uppercase tx-11 tx-spacing-1 tx-color-02 tx-semibold mg-b-8">Avg. visits/customer</h6>
      <div class="d-flex d-lg-block d-xl-flex align-items-end">
        <h3 class=" tx-dark tx-rubik  mg-b-8 mg-r-5 lh-1">
          {{_AccountOverview.AvgVisitCustomer || "0" | number: "1.2-2" }}</h3>
      </div>
      <p class="tx-12 text-secondary mg-b-0"> Average visits/customer in this span</p>
    </div>
  </div>
</div> -->

<div class="row row-xs mg-b-10">
  <div class="col-sm-6 col-lg-3 ">
    <div class="card card-body shadow-none ht-100p cursor-pointer" style="background: #716195;">
      <h6 class="tx-uppercase text-white tx-11 tx-spacing-1 tx-color-02 tx-semibold mg-b-8">All visits</h6>
      <div class="d-flex d-lg-block d-xl-flex align-items-end">
        <h3 class="tx-rubik text-white mg-b-8 mg-r-5 lh-1">
          {{_AccountOverview.AllVisit || 0}}</h3>
      </div>
      <p class="tx-12 text-white mg-b-0">All customer visit made to your store</p>
    </div>
  </div><!-- col -->
  <div class="col-sm-6 col-lg-3 mg-t-15  mg-sm-t-0">
    <div class="card card-body shadow-none ht-100p cursor-pointer " style="background: #0086D1;">
      <h6 class="tx-uppercase text-white tx-11 tx-spacing-1 tx-color-02 tx-semibold mg-b-8">New visits</h6>
      <div class="d-flex d-lg-block d-xl-flex align-items-end">
        <h3 class=" text-white tx-rubik mg-b-8 mg-r-5 lh-1">
          {{_AccountOverview.VisitsByNewCustomers || "0"}}</h3>
        <!-- <p class="tx-11 tx-color-03 mg-b-0  mg-b-10"><span class="tx-medium tx-danger">0.7% <i
              class="icon ion-md-arrow-down"></i></span></p> -->
      </div>
      <p class="tx-12 text-white mg-b-0">Visit by new customers</p>


    </div>
  </div><!-- col -->
  <div class="col-sm-6 col-lg-3 mg-t-15  mg-lg-t-0">
    <div class="card card-body shadow-none cursor-pointer ht-100p" style="background: #D100B0;">
      <h6 class="tx-uppercase text-white tx-11 tx-spacing-1 tx-color-02 tx-semibold mg-b-8">repeat visits</h6>
      <div class="d-flex d-lg-block d-xl-flex align-items-end">
        <h3 class="text-white tx-rubik  mg-b-8 mg-r-5 lh-1">
          {{_AccountOverview.VisitsByRepeatingCustomers || "0"}} </h3>
      </div>
      <p class="tx-12 text-white mg-b-0">visit by repeat customers</p>
    </div>
  </div><!-- col -->
  <div class="col-sm-6 col-lg-3 mg-t-15  mg-lg-t-0">
    <div class="card card-body cursor-pointer shadow-none ht-100p" style="background: #CC9302;">
      <h6 class=" tx-uppercase text-white tx-11 tx-spacing-1 tx-color-02 tx-semibold mg-b-8">Total time of visit</h6>
      <div class="d-flex d-lg-block d-xl-flex align-items-end">
        <h3 class=" text-white tx-rubik  mg-b-8 mg-r-5 lh-1">
          {{_AccountOverview.TotalTimeofVisit || 0}}</h3>
      </div>
      <p class="tx-12 text-white mg-b-0">Total time customers visited your store</p>
    </div>
  </div><!-- col -->
</div>



<div class="row row-xs mg-b-10">
  <div class="col-lg-12 col-xl-12 col-sm-12 col-md-12">
    <div class="card">
      <div
        class="card-header pd-t-20 pd-lg-t-25 pd-l-20 pd-lg-l-25 d-flex flex-column flex-sm-row align-items-sm-start justify-content-sm-between">
        <div>
          <h6 class="mg-b-5">Hourly Visits</h6>
          <p class="tx-11 text-secondary mg-b-0">Hourly visits by New Customers vs Repeat Customers
          </p>
        </div>
        <div>
          <h6>
            {{selectedStartDate| date :"MMMM dd, yyyy"}}
          </h6>
        </div>
        <!-- <ul class="list-inline d-flex mg-t-20 mg-sm-t-10 mg-md-t-0 mg-b-0">
          <li class="list-inline-item d-flex align-items-center">
            <span class="d-block wd-15 ht-15 bg-primary rounded mg-r-5 "></span>
            <span class="tx-sans   tx-uppercase tx-medium tx-color-03 tx-13">
              REPEAT</span>
          </li>
          <li class="list-inline-item d-flex align-items-center mg-l-5">
            <span class="d-block wd-15 ht-15 bg-MasterCard rounded mg-r-5"></span>
            <span class="tx-sans  tx-13 tx-uppercase tx-medium tx-color-03">NEW</span>
          </li>
        </ul> -->
        <!-- btn-group -->
      </div><!-- card-header -->
      <div class="card-body pd-lg-25" *ngIf="this.ChartData[0].data.length != 0">
        <div class="row ">
          <div class="col-lg-9 col-xl-9">
            <canvas *ngIf="showLoalityChart" baseChart #DataPlot="base-chart" [datasets]="HourlyChartData"
              [labels]="hourlyChartLables" [options]="_HelperService.ChartConfig.LineChart.Options"
              [colors]="lineChartColors" [plugins]="_HelperService.ChartConfig.LineChart.Options.plugins"
              [chartType]="_HelperService.ChartConfig.LineChart.Type">
            </canvas>
          </div>

          <div class="col-lg-3 col-xl-3  mg-t-30 mg-lg-t-0">
            <div class="row mg-b-15">
              <div class="col-sm-6 col-lg-12 d-flex">
                <div
                  class="wd-40 wd-md-50 ht-40 ht-md-50 mg-r-10 mg-md-r-10 d-flex align-items-center justify-content-center rounded mg-r-10"
                  style="border: 1px solid #C0CCDA;background-color: #ffc107;">
                  <div class="text-center">
                    <i class="fa-solid fa-user" style="color: white;"></i>
                    <div>
                    </div>
                  </div>
                </div>
                <div class="pd-l-10">
                  <div class=""> New visits </div>
                  <div class="tx-dark tx-18"> {{HourlyData.newVisits || 0}} </div>
                </div>

              </div>
              <div class="col-sm-6 col-lg-12 mg-t-25 mg-sm-t-0 mg-lg-t-25 d-flex">
                <div
                  class="wd-40 wd-md-50 ht-40 ht-md-50 tx-white mg-r-10 mg-md-r-10 d-flex align-items-center justify-content-center rounded mg-r-10"
                  style="border: 1px solid #C0CCDA;background-color: #0168fa;">
                  <div class="text-center text-primary">
                    <i class="fa-solid fa-user-plus" style="color: white;"></i>
                    <div>
                    </div>
                  </div>

                </div>

                <div class="pd-l-10">
                  <div class=""> Repeat visits </div>
                  <div class="text-dark tx-18"> {{HourlyData.repeatVisits || 0}} </div>
                </div>
              </div>

              <div class="col-sm-6 col-lg-12 mg-t-25 mg-sm-t-0 mg-lg-t-25 d-flex">
                <div
                  class="wd-40 wd-md-50 ht-40 ht-md-50 tx-white bg-danger mg-r-10 mg-md-r-10 d-flex align-items-center justify-content-center rounded mg-r-10">
                  <div class="text-center">
                    <i class="fa-solid fa-users" style="color: white;"></i>
                    <div>
                    </div>
                  </div>
                </div>

                <div class="pd-l-10">
                  <div class=""> Total Difference </div>
                  <div class="text-dark tx-18"> {{HourlyData.difference || 0}} </div>
                </div>
              </div>

            </div>

          </div>
        </div>
      </div><!-- card-body -->
      <div class="card-body pd-lg-25" *ngIf="this.ChartData[0].data.length == 0">
        <div style="height:200px" class="text-center m-auto  text-muted">
          <div>
            <div>
              <div
                class="wd-140 wd-md-150 ht-140 ht-md-150 bd bd-2 bd-muted bg-transparent tx-muted tx-32 bd-gray-300 m-auto d-flex align-items-center justify-content-center rounded-circle">
                <!-- <i class="fas fa-file tx-50"></i> -->
                <img src="../../../../../assets/images/walk.svg" alt="">
              </div>
              <div class="pt-3">
                <span class="text-dark tx-bold tx-14 "> No Transactions in this time frame.</span><br>
                <span class="tx-muted  ">No transactions took place during the time frame you selected</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div><!-- card -->
  </div>
</div>

<div class="row row-xs mg-b-10">
  <div class="col-lg-12 col-xl-12 col-sm-12 col-md-12">
    <div class="card">
      <div
        class="card-header pd-t-20 pd-lg-t-25 pd-l-20 pd-lg-l-25 d-flex flex-column flex-sm-row align-items-sm-start justify-content-sm-between">
        <div>
          <h6 class="mg-b-5">Daily Visits</h6>
          <p class="tx-11 text-secondary mg-b-0">Daily visits by New Customers vs Repeat Customers
          </p>
        </div>
        <div>
          <h6>
            {{startOfWeek | date :"dd-MM-yyyy"}} to {{endOfWeek | date :"dd-MM-yyyy"}}
          </h6>
        </div>
        <!-- <ul class="list-inline d-flex mg-t-20 mg-sm-t-10 mg-md-t-0 mg-b-0">
          <li class="list-inline-item d-flex align-items-center">
            <span class="d-block wd-15 ht-15 bg-primary rounded mg-r-5 "></span>
            <span class="tx-sans   tx-uppercase tx-medium tx-color-03 tx-13">
              REPEAT</span>
          </li>
          <li class="list-inline-item d-flex align-items-center mg-l-5">
            <span class="d-block wd-15 ht-15 bg-MasterCard rounded mg-r-5"></span>
            <span class="tx-sans  tx-13 tx-uppercase tx-medium tx-color-03">NEW</span>
          </li>
        </ul> -->
        <!-- btn-group -->
      </div><!-- card-header -->
      <div class="card-body pd-lg-25" *ngIf="this.ChartData[0].data.length != 0">
        <div class="row ">
          <div class="col-lg-9 col-xl-9">
            <canvas *ngIf="showLoalityChart" baseChart #DataPlot="base-chart" [datasets]="WeeklyChartData"
              [labels]="weeklyChartLables" [options]="_HelperService.ChartConfig.LineChart.Options"
              [colors]="lineChartColors" [plugins]="_HelperService.ChartConfig.LineChart.Options.plugins"
              [chartType]="_HelperService.ChartConfig.LineChart.Type">
            </canvas>
          </div>

          <div class="col-lg-3 col-xl-3  mg-t-30 mg-lg-t-0">
            <div class="row mg-b-15">
              <div class="col-sm-6 col-lg-12 d-flex">
                <div
                  class="wd-40 wd-md-50 ht-40 ht-md-50 mg-r-10 mg-md-r-10 d-flex align-items-center justify-content-center rounded mg-r-10"
                  style="border: 1px solid #C0CCDA;background-color: #ffc107;">
                  <div class="text-center">
                    <i class="fa-solid fa-user" style="color: white;"></i>
                    <div>
                    </div>
                  </div>

                </div>
                <div class="pd-l-10">
                  <div class=""> New visits </div>
                  <div class="tx-dark tx-18"> {{WeeklyData.newVisits || 0}} </div>
                </div>

              </div>
              <div class="col-sm-6 col-lg-12 mg-t-25 mg-sm-t-0 mg-lg-t-25 d-flex">
                <div
                  class="wd-40 wd-md-50 ht-40 ht-md-50 tx-white mg-r-10 mg-md-r-10 d-flex align-items-center justify-content-center rounded mg-r-10"
                  style="border: 1px solid #C0CCDA;background-color: #0168fa;">
                  <div class="text-center text-primary">
                    <i class="fa-solid fa-user-plus" style="color: white;"></i>
                    <div>
                    </div>
                  </div>

                </div>

                <div class="pd-l-10">
                  <div class=""> Repeat visits </div>
                  <div class="text-dark tx-18"> {{WeeklyData.repeatVisits || 0}} </div>
                </div>
              </div>

              <div class="col-sm-6 col-lg-12 mg-t-25 mg-sm-t-0 mg-lg-t-25 d-flex">
                <div
                  class="wd-40 wd-md-50 ht-40 ht-md-50 tx-white bg-danger mg-r-10 mg-md-r-10 d-flex align-items-center justify-content-center rounded mg-r-10">
                  <div class="text-center">
                    <i class="fa-solid fa-users" style="color: white;"></i>
                    <div>
                    </div>
                  </div>
                </div>

                <div class="pd-l-10">
                  <div class=""> Total Difference </div>
                  <div class="text-dark tx-18"> {{WeeklyData.difference || 0}} </div>
                </div>
              </div>

            </div>

          </div>
        </div>
      </div><!-- card-body -->
      <div class="card-body pd-lg-25" *ngIf="this.ChartData[0].data.length == 0">
        <div style="height:200px" class="text-center m-auto  text-muted">
          <div>
            <div>
              <div
                class="wd-140 wd-md-150 ht-140 ht-md-150 bd bd-2 bd-muted bg-transparent tx-muted tx-32 bd-gray-300 m-auto d-flex align-items-center justify-content-center rounded-circle">
                <!-- <i class="fas fa-file tx-50"></i> -->
                <img src="../../../../../assets/images/walk.svg" alt="">
              </div>
              <div class="pt-3">
                <span class="text-dark tx-bold tx-14 "> No Transactions in this time frame.</span><br>
                <span class="tx-muted  ">No transactions took place during the time frame you selected</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div><!-- card -->
  </div>
</div>

<div class="row row-xs mg-b-10">
  <div class="col-lg-12 col-xl-12 col-sm-12 col-md-12">
    <div class="card">
      <div
        class="card-header pd-t-20 pd-lg-t-25 pd-l-20 pd-lg-l-25 d-flex flex-column flex-sm-row align-items-sm-start justify-content-sm-between">
        <div>
          <h6 class="mg-b-5">Monthly Visits</h6>
          <p class="tx-11 text-secondary mg-b-0">Monthly visits by New Customers vs Repeat Customers
          </p>
        </div>
        <div>
          <h6>
            Jan {{startOfWeek | date :"yyyy"}} to Dec {{endOfWeek | date :"yyyy"}}
          </h6>
        </div>
        <!-- <ul class="list-inline d-flex mg-t-20 mg-sm-t-10 mg-md-t-0 mg-b-0">
          <li class="list-inline-item d-flex align-items-center">
            <span class="d-block wd-15 ht-15 bg-primary rounded mg-r-5 "></span>
            <span class="tx-sans   tx-uppercase tx-medium tx-color-03 tx-13">
              REPEAT </span>
          </li>
          <li class="list-inline-item d-flex align-items-center mg-l-5">
            <span class="d-block wd-15 ht-15 bg-MasterCard rounded mg-r-5"></span>
            <span class="tx-sans  tx-13 tx-uppercase tx-medium tx-color-03">NEW</span>
          </li>
        </ul> -->
        <!-- btn-group -->
      </div><!-- card-header -->
      <div class="card-body pd-lg-25" *ngIf="this.MonthlylineChartData[0].data.length != 0">
        <div class="row ">
          <div class="col-lg-9 col-xl-9">
            <canvas *ngIf="showLoalityChart" baseChart #DataPlot="base-chart" [datasets]="MonthlylineChartData"
              [labels]="monthlyChartLables" [options]="_HelperService.ChartConfig.LineChart.Options"
              [colors]="lineChartColors" [plugins]="_HelperService.ChartConfig.LineChart.Options.plugins"
              [chartType]="_HelperService.ChartConfig.LineChart.Type">
            </canvas>
          </div>

          <div class="col-lg-3 col-xl-3  mg-t-30 mg-lg-t-0">
            <div class="row mg-b-15">
              <div class="col-sm-6 col-lg-12 d-flex">
                <div
                  class="wd-40 wd-md-50 ht-40 ht-md-50 mg-r-10 mg-md-r-10 d-flex align-items-center justify-content-center rounded mg-r-10"
                  style="border: 1px solid #C0CCDA;background-color: #ffc107;">
                  <div class="text-center">
                    <i class="fa-solid fa-user" style="color: white;"></i>
                    <div>
                    </div>
                  </div>
                </div>
                <div class="pd-l-10">
                  <div class=""> New visits </div>
                  <div class="tx-dark tx-18"> {{MonthlyData.newVisits || 0}} </div>
                </div>

              </div>
              <div class="col-sm-6 col-lg-12 mg-t-25 mg-sm-t-0 mg-lg-t-25 d-flex">
                <div
                  class="wd-40 wd-md-50 ht-40 ht-md-50 tx-white mg-r-10 mg-md-r-10 d-flex align-items-center justify-content-center rounded mg-r-10"
                  style="border: 1px solid #C0CCDA;background-color: #0168fa;">
                  <div class="text-center text-primary">
                    <i class="fa-solid fa-user-plus" style="color: white;"></i>
                    <div>
                    </div>
                  </div>

                </div>

                <div class="pd-l-10">
                  <div class=""> Repeat visits </div>
                  <div class="text-dark tx-18"> {{MonthlyData.repeatVisits || 0}} </div>
                </div>
              </div>

              <div class="col-sm-6 col-lg-12 mg-t-25 mg-sm-t-0 mg-lg-t-25 d-flex">
                <div
                  class="wd-40 wd-md-50 ht-40 ht-md-50 tx-white bg-danger mg-r-10 mg-md-r-10 d-flex align-items-center justify-content-center rounded mg-r-10">
                  <div class="text-center">
                    <i class="fa-solid fa-users" style="color: white;"></i>
                    <div>
                    </div>
                  </div>
                </div>

                <div class="pd-l-10">
                  <div class=""> Total Difference </div>
                  <div class="text-dark tx-18"> {{MonthlyData.difference || 0}} </div>
                </div>
              </div>

            </div>

          </div>
        </div>
      </div><!-- card-body -->
      <div class="card-body pd-lg-25" *ngIf="this.MonthlylineChartData[0].data.length == 0">
        <div style="height:200px" class="text-center m-auto  text-muted">
          <div>
            <div>
              <div
                class="wd-140 wd-md-150 ht-140 ht-md-150 bd bd-2 bd-muted bg-transparent tx-muted tx-32 bd-gray-300 m-auto d-flex align-items-center justify-content-center rounded-circle">
                <!-- <i class="fas fa-file tx-50"></i> -->
                <img src="../../../../../assets/images/walk.svg" alt="">
              </div>
              <div class="pt-3">
                <span class="text-dark tx-bold tx-14 "> No Transactions in this time frame.</span><br>
                <span class="tx-muted  ">No transactions took place during the time frame you selected</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div><!-- card -->
  </div>
</div>

<div class="row row-xs mg-b-10">
  <div class="col-lg-12 col-xl-12 col-sm-12 col-md-12">
    <div class="card">
      <div
        class="card-header pd-t-20 pd-lg-t-25 pd-l-20 pd-lg-l-25 d-flex flex-column flex-sm-row align-items-sm-start justify-content-sm-between">
        <div>
          <h6 class="mg-b-5">Yearly Visits</h6>
          <p class="tx-11 text-secondary mg-b-0">Yearly visits by New Customers vs Repeat Customers
          </p>
        </div>
        <!-- <ul class="list-inline d-flex mg-t-20 mg-sm-t-10 mg-md-t-0 mg-b-0">
          <li class="list-inline-item d-flex align-items-center">
            <span class="d-block wd-15 ht-15 bg-primary rounded mg-r-5 "></span>
            <span class="tx-sans   tx-uppercase tx-medium tx-color-03 tx-13">
              REPEAT </span>
          </li>
          <li class="list-inline-item d-flex align-items-center mg-l-5">
            <span class="d-block wd-15 ht-15 bg-MasterCard rounded mg-r-5"></span>
            <span class="tx-sans  tx-13 tx-uppercase tx-medium tx-color-03">NEW</span>
          </li>
        </ul> -->
        <!-- btn-group -->
      </div><!-- card-header -->
      <div class="card-body pd-lg-25" *ngIf="this.ChartData[0].data.length != 0">
        <div class="row ">
          <div class="col-lg-9 col-xl-9">
            <canvas *ngIf="showLoalityChart" baseChart #DataPlot="base-chart" [datasets]="YearlyChartData"
              [labels]="yearlyChartLables" [options]="_HelperService.ChartConfig.LineChart.Options"
              [colors]="lineChartColors" [plugins]="_HelperService.ChartConfig.LineChart.Options.plugins"
              [chartType]="_HelperService.ChartConfig.LineChart.Type">
            </canvas>
          </div>

          <div class="col-lg-3 col-xl-3  mg-t-30 mg-lg-t-0">
            <div class="row mg-b-15">
              <div class="col-sm-6 col-lg-12 d-flex">
                <div
                  class="wd-40 wd-md-50 ht-40 ht-md-50 mg-r-10 mg-md-r-10 d-flex align-items-center justify-content-center rounded mg-r-10"
                  style="border: 1px solid #C0CCDA;background-color: #ffc107;">
                  <div class="text-center">
                    <i class="fa-solid fa-user" style="color: white;"></i>
                    <div>
                    </div>
                  </div>
                </div>
                <div class="pd-l-10">
                  <div class=""> New visits </div>
                  <div class="tx-dark tx-18"> {{yearlyData.newVisits || 0}} </div>
                </div>

              </div>
              <div class="col-sm-6 col-lg-12 mg-t-25 mg-sm-t-0 mg-lg-t-25 d-flex">
                <div
                  class="wd-40 wd-md-50 ht-40 ht-md-50 tx-white mg-r-10 mg-md-r-10 d-flex align-items-center justify-content-center rounded mg-r-10"
                  style="border: 1px solid #C0CCDA;background-color: #0168fa;">
                  <div class="text-center text-primary">
                    <i class="fa-solid fa-user-plus" style="color: white;"></i>
                    <div>
                    </div>
                  </div>

                </div>

                <div class="pd-l-10">
                  <div class=""> Repeat visits </div>
                  <div class="text-dark tx-18"> {{yearlyData.repeatVisits || 0}} </div>
                </div>
              </div>

              <div class="col-sm-6 col-lg-12 mg-t-25 mg-sm-t-0 mg-lg-t-25 d-flex">
                <div
                  class="wd-40 wd-md-50 ht-40 ht-md-50 tx-white bg-danger mg-r-10 mg-md-r-10 d-flex align-items-center justify-content-center rounded mg-r-10">
                  <div class="text-center">
                    <i class="fa-solid fa-users" style="color: white;"></i>
                    <div>
                    </div>
                  </div>
                </div>

                <div class="pd-l-10">
                  <div class=""> Total Difference </div>
                  <div class="text-dark tx-18"> {{yearlyData.difference || 0}} </div>
                </div>
              </div>

            </div>

          </div>
        </div>
      </div><!-- card-body -->
      <div class="card-body pd-lg-25" *ngIf="this.ChartData[0].data.length == 0">
        <div style="height:200px" class="text-center m-auto  text-muted">
          <div>
            <div>
              <div
                class="wd-140 wd-md-150 ht-140 ht-md-150 bd bd-2 bd-muted bg-transparent tx-muted tx-32 bd-gray-300 m-auto d-flex align-items-center justify-content-center rounded-circle">
                <!-- <i class="fas fa-file tx-50"></i> -->
                <img src="../../../../../assets/images/walk.svg" alt="">
              </div>
              <div class="pt-3">
                <span class="text-dark tx-bold tx-14 "> No Transactions in this time frame.</span><br>
                <span class="tx-muted  ">No transactions took place during the time frame you selected</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div><!-- card -->
  </div>
</div>

<div class="row row-xs mg-b-10">
  <div class="col-lg-12 col-xl-12 col-sm-12 col-md-12">
    <div class="card">
      <div class="card-header pd-t-20 pd-lg-t-25 pd-l-20 pd-lg-l-25 d-flex">
        <div>
          <h6 class="mg-b-5">New Visits vs Repeat Visits</h6>
          <p class="tx-11 text-secondary mg-b-0">Visits by New Customers vs Visits by Repeat Customers
          </p>
        </div>
        <div class="form-group  mb-0 pb-0 wd-200" style="margin-left: 30px;">
          <input type="text" class="form-control form-daterangepicker full-width" name="daterangeInput" daterangepicker
            [options]="_HelperService.AppConfig.DateRangeOptionsCustom"
            (selected)="DateRangeChanged($event, _HelperService.AppConfig.ListToggleOption.Date)" />
        </div>

        <!-- <ul class="list-inline d-flex mg-t-20 mg-sm-t-1
          0 mg-md-t-0 mg-b-0 mg-10">
          <li class="list-inline-item d-flex align-items-center text-center ">
            <div class="text-primary cursor-pointer" (click)="Toogle_Dataset_Visibility('Returning Visits')">
              <span class="{{ChartData[0].hidden?'text-secondary':''}}">
                <i data-feather="git-commit"></i>
              </span>
              <br>
              <div class="tx-sans tx-uppercase tx-10 tx-medium text-secondary">VISITS BY REPEAT</div>
            </div>

          </li>
          <li class="list-inline-item d-flex align-items-center text-center ">
            <div class="tx-MasterCard cursor-pointer" (click)="Toogle_Dataset_Visibility('New Visits')">
              <span class="{{ChartData[1].hidden?'text-secondary':''}}">
                <i data-feather="git-commit"></i>
              </span>
              <br>
              <div class="tx-sans tx-uppercase tx-10 tx-medium text-secondary">VISITS BY NEW</div>
            </div>
        </ul> -->
        <!-- btn-group -->
      </div><!-- card-header -->
      <div class="card-body pd-lg-25" *ngIf="this.ChartData[0].data.length != 0">
        <div class="row ">
          <div class="col-lg-9 col-xl-9">
            <canvas *ngIf="showLoalityChart" baseChart #DataPlot="base-chart" [datasets]="ChartData"
              [labels]="ChartLabels" [options]="_HelperService.ChartConfig.LineChart.Options" [colors]="lineChartColors"
              [plugins]="_HelperService.ChartConfig.LineChart.Options.plugins"
              [chartType]="_HelperService.ChartConfig.LineChart.Type">
            </canvas>
          </div>

          <div class="col-lg-3 col-xl-3  mg-t-30 mg-lg-t-0">
            <div class="tx-dark tx-medium mg-b-10"> Total Customers - {{(_OLoyalityHistory.NewCustomer_Sum +
              _OLoyalityHistory.RepeatingCustomer_Sum) || "0" }} </div>
            <div class="row mg-b-15">
              <div class="col-sm-6 col-lg-12 d-flex">
                <div
                  class="wd-40 wd-md-50 ht-40 ht-md-50 bg-warning tx-white mg-r-10 mg-md-r-10 d-flex align-items-center justify-content-center rounded mg-r-10">
                  <div class="text-center">
                    <!-- {{((_OLoyalityHistory.NewCustomer_Sum * 100) /
                    _OLoyalityHistory.TotalCustomer_Sum) | number: "1.0-1" }}%  -->
                    <i class="fa-solid fa-user" style="color: white;"></i>
                    <div>
                    </div>
                  </div>

                </div>
                <div class="pd-l-10">
                  <div class=""> New customers </div>
                  <div class="tx-dark tx-18"> {{_OLoyalityHistory.NewCustomer_Sum || "0"}} <span
                      class="text-secondary tx-12">
                      Total Customer </span></div>
                </div>

              </div>
              <div class="col-sm-6 col-lg-12 mg-t-25 mg-sm-t-0 mg-lg-t-25 d-flex">
                <div
                  class="wd-40 wd-md-50 ht-40 ht-md-50 bg-primary  tx-white mg-r-10 mg-md-r-10 d-flex align-items-center justify-content-center rounded mg-r-10">
                  <div class="text-center">
                    <i class="fa-solid fa-user-plus" style="color: white;"></i>
                    <!-- {{((_OLoyalityHistory.RepeatingCustomer_Sum * 100) /
                    _OLoyalityHistory.TotalCustomer_Sum) | number: "1.0-1" }}%  -->
                    <div>
                    </div>
                  </div>

                </div>

                <div class="pd-l-10">
                  <div class=""> Repeat customers </div>
                  <div class="text-dark tx-18"> {{_OLoyalityHistory.RepeatingCustomer_Sum || "0"}} <span
                      class="text-secondary tx-12"> Total Customer </span></div>
                </div>
              </div>

            </div>

          </div>
        </div>
      </div>
      <div class="card-body pd-lg-25" *ngIf="this.ChartData[0].data.length == 0">
        <div style="height:200px" class="text-center m-auto  text-muted">
          <div>
            <div>
              <div
                class="wd-140 wd-md-150 ht-140 ht-md-150 bd bd-2 bd-muted bg-transparent tx-muted tx-32 bd-gray-300 m-auto d-flex align-items-center justify-content-center rounded-circle">
                <!-- <i class="fas fa-file tx-50"></i> -->
                <img src="../../../../../assets/images/walk.svg" alt="">
              </div>
              <div class="pt-3">
                <span class="text-dark tx-bold tx-14 "> No Transactions in this time frame.</span><br>
                <span class="tx-muted  ">No transactions took place during the time frame you selected</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div><!-- card -->
  </div>
</div>