<!-- acquirer--merchants--list -->
<!-- <div class="pd-b-10 pd-t-10 mt-3 RouteCard" style="border-bottom: 0px !important;">
  <ul class="nav nav-line d-flex flex-row justify-content-between" id="myTab" role="tablist">
    <div class="d-flex flex-wrap">

      <li class="nav-item">
        <a class="nav-link " id="profile-tab1" data-toggle="tab" href="#Pending" role="tab"
          aria-controls="profile" aria-selected="false" (click)="DealerList_ListTypeChange(1)">Approval Pending <span
            class="badge bg-teal tx-white">
          </span> </a>
      </li>


      <li class="nav-item">
        <a class="nav-link " id="home-tab3" data-toggle="tab" href="#Published" role="tab" aria-controls="home3"
          aria-selected="true" (click)="DealerList_ListTypeChange(3)">Running <span class="badge bg-teal tx-white">
          </span></a>
      </li>



      <li class="nav-item">
        <a class="nav-link " id="home-tab2" data-toggle="tab" href="#approved" role="tab" aria-controls="home2"
          aria-selected="true" (click)="DealerList_ListTypeChange(2)">Upcoming <span class="badge bg-teal tx-white">
          </span></a>
      </li>


      <li class="nav-item">
        <a class="nav-link " id="home-tab4" data-toggle="tab" href="#Paused" role="tab" aria-controls="home4"
          aria-selected="true" (click)="DealerList_ListTypeChange(4)">Paused <span class="badge bg-teal tx-white">
          </span></a>
      </li>

      <li class="nav-item">
        <a class="nav-link" id="contact-tab5" data-toggle="tab" href="#Drafts" role="tab" aria-controls="contact3"
          aria-selected="false" (click)="DealerList_ListTypeChange(5)">Drafts<span
            class="badge bg-teal tx-white"></span></a>
      </li>

      <li class="nav-item">
        <a class="nav-link " id="home-tab23" data-toggle="tab" href="#Expired" role="tab" aria-controls="home12"
          aria-selected="true" (click)="DealerList_ListTypeChange(6)">Expired <span class="badge bg-teal tx-white">
          </span></a>
      </li>

      <li class="nav-item">
        <a class="nav-link" id="contact-tab44" data-toggle="tab" href="#All" role="tab" aria-controls="contact88"
          aria-selected="false" (click)="DealerList_ListTypeChange(0)">All<span
            class="badge bg-teal tx-white"></span></a>
      </li>

    </div>

    <div class="row  d-flex no-gutters pd-r-10">
      <div class=" col-sm-12 col-md-12 d-flex mg-md-t-0 mg-t-10">
        <div class=" order-1">
          <div> <button class="btn btn-primary btn-xs" (click)="AddNewDeal()"> Create New Deal </button></div>

        </div>
      </div>


    </div>


  </ul>
</div> -->

<!-- view tomarrow -->

<!-- <div class="d-flex justify-content-between"  style="border-radius:4px;background-color: #FCEBED !important;border: 1px solid #f1dede;">
<span class="  text-danger pd-y-10 pd-x-15  tx-medium"
  style="border-bottom-left-radius: 5px!important; border-top-left-radius: 5px!important; border-right: 0px !important; background-color: #FCEBED !important; ">
  {{_GetoverviewSummary.Rejected}} deals are rejected by admin for some reason, <a style="color: #0467f6;" (click)="DealsList_Setup1()">click here </a> to know more</span>

</div>


<br> -->

<!-- end view tomarrow -->

<div class="d-flex justify-content-between" *ngIf="DisableRejectedDiv && enabledealview">
    <span class="  text-danger pd-y-10 pd-x-15 bd tx-medium" style="border-bottom-left-radius: 5px!important; border-top-left-radius: 5px!important; border-right: 0px !important; background-color: #FCEBED !important; ">
    {{_GetoverviewSummary.Rejected}} Deals are rejected, please review these deals</span>
    <div class="input-group-prepend" style="margin-right: 700px;">
        <a style=" background-color: white !important; border-bottom-right-radius: 5px !important; border-top-right-radius: 5px !important; border-bottom-left-radius: 0px!important; border-top-left-radius: 0px!important;" (click)="DealsList_Setup1()" class="input-group-text text-primary cursor-pointer">View Deals</a>
    </div>
</div>
<br>

<div class=" d-flex justify-content-between">
    <div class="mg-b-10 full-width">
        <ul class="nav nav-line flex-row flex-grow" id="myTab" role="tablist">
            <li class="nav-item">
                <a class="nav-link" id="home-tab3" data-toggle="tab" href="#Published" role="tab" aria-controls="home3" aria-selected="true" (click)="DealerList_ListTypeChange(3)">Running <span
            class="badge  tx-dark tx-11 mg-l-5   {{SelectStatusRunning?  'bg-success text-white' :'bg-gray-300' }} ">
            {{_GetoverviewSummary.Running || "0"}}
          </span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link " id="home-tab2" data-toggle="tab" href="#approved" role="tab" aria-controls="home2" aria-selected="true" (click)="DealerList_ListTypeChange(2)">Upcoming <span
            class="badge bg-gray-300 tx-dark tx-11 mg-l-5 {{SelectStatusUpcoming?  'bg-teal text-white' :'bg-gray-300' }}">
            {{_GetoverviewSummary.Upcoming || "0"}}
          </span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link " id="home-tab4" data-toggle="tab" href="#Paused" role="tab" aria-controls="home4" aria-selected="true" (click)="DealerList_ListTypeChange(4)">Paused <span
            class="badge bg-gray-300 tx-dark tx-11 mg-l-5 {{SelectStatusPaused?  'bg-warning text-white' :'' }}">
            {{_GetoverviewSummary.Paused || "0"}}
          </span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="contact-tab5" data-toggle="tab" href="#Drafts" role="tab" aria-controls="contact3" aria-selected="false" (click)="DealerList_ListTypeChange(5)">Drafts<span
            class="badge bg-gray-300 tx-dark tx-11 mg-l-5 {{SelectStatusDraft?  'bg-dark text-white' :''}}">
            {{_GetoverviewSummary.Draft || "0"}} </span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link " id="home-tab23" data-toggle="tab" href="#Expired" role="tab" aria-controls="home12" aria-selected="true" (click)="DealerList_ListTypeChange(6) ">Expired <span
            class="badge bg-gray-300 tx-dark tx-11 mg-l-5 {{SelectStatusExpired?  'bg-danger ' :'' }}">
            {{_GetoverviewSummary.Expired || "0"}}
          </span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link " id="profile-tab1" data-toggle="tab" href="#Pending" role="tab" aria-controls="profile" aria-selected="false" (click)="DealerList_ListTypeChange(1)">Approval Pending <span
            class="badge bg-gray-300 tx-dark tx-11 mg-l-5 {{SelectStatusApprovalpending?  'bg-danger text-white' :'' }}">
            {{_GetoverviewSummary.ApprovalPending || "0"}}
          </span> </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="contact-tab44" data-toggle="tab" href="#All" role="tab" aria-controls="contact88" aria-selected="false" (click)="DealerList_ListTypeChange(0)">All<span
            class="badge bg-gray-300 tx-dark tx-11 mg-l-5">{{_GetoverviewSummary.Total || "0"}}</span></a>
            </li>
            <li class="nav-item ml-auto">
                <a class="nav-link btn btn-primary tx-13  ht-30  d-flex  align-items-center cursor-pointer text-white px-2" (click)="AddNewDeal()">
          Create New Deal
        </a>
            </li>
        </ul>

        <!-- <div> <button class="btn btn-primary btn-xs mg-5" (click)="AddNewDeal()"> Create New Deal </button></div> -->

    </div>
</div>

<div class="card ">
    <div class="box-header px-3 pd-t-15 pd-b-0  d-flex align-items-center justify-content-between">
        <div class="form-inline ">
            <div class="input-group input-group-sm mr-3">
                <input type="text" class="form-control" [value]="DealsList_Config.SearchParameter" maxlength="100" class="form-control" placeholder="{{ 'Common.Search' | translate }}" (keyup)="DealsList_ToggleOptionSearch( $event, _HelperService.AppConfig.ListToggleOption.Search)">
                <div class="input-group-append">
                    <button class="btn btn-outline-light" type="button" (click)="DealsList_ToggleOption( null, _HelperService.AppConfig.ListToggleOption.Search)"><i
              data-feather="search"></i> </button>
                </div>
            </div>
        </div>
        <div class="d-flex ml-auto">
            <button [disabled]='(_HelperService.FilterSnap.id == -1)' type="button" class="btn  tx-12 rounded-0 bd-gray-200 bd-r-0  btn-outline-danger btn-icon" (click)="Delete_Filter()">
        <i data-feather="minus-circle"></i>
      </button>
            <div class="form-group my-auto shadow-none ml-auto " *ngIf="_HelperService._RefreshUI">
                <select2 name="itemId0" [options]="_DataHelperService.S2_NewSavedFilters_Option" class="wd-30 select2" [data]="_HelperService.Active_FilterOptions" [value]="_HelperService.Active_FilterOptions[0]" (valueChanged)="Active_FilterValueChanged( $event )">
                </select2>
            </div>
            <button [disabled]='_HelperService.FilterState == this._HelperService.AppConfig.FilterStates.Default || 
      _HelperService.FilterState == this._HelperService.AppConfig.FilterStates.NoChange' type="button" class=" btn btn-outline-success tx-12 bd-l-0 mr-3 rounded-0 bd-gray-200 btn-icon" (click)="Save_NewFilter()"> <i
          data-feather="plus-circle"></i> </button>
        </div>

        <nav class="nav nav-with-icon tx-20">
            <div class="dropdown dropleft">
                <a href="" class="nav-link mr-2" id="DealsList_sdropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i data-feather="align-left" class="tx-20"></i> </a>
                <div class="dropdown-menu tx-13">
                    <form class="wd-250 pd-15">
                        <h6 class="dropdown-header tx-uppercase tx-12 tx-bold tx-inverse pd-b-20 pd-l-0 pd-t-0">Sort
                            <div class="float-right tx-20" *ngIf="DealsList_Config.Sort.SortOrder == 'desc'" (click)="DealsList_ToggleOption( null, _HelperService.AppConfig.ListToggleOption.SortOrder)">
                                <i class="fas fa-sort-alpha-down-alt"></i>
                            </div>
                            <div class="float-right tx-20" *ngIf="DealsList_Config.Sort.SortOrder == 'asc'" (click)="DealsList_ToggleOption( null, _HelperService.AppConfig.ListToggleOption.SortOrder)">
                                <i class="fas fa-sort-alpha-up-alt"></i>
                            </div>
                        </h6>

                        <a class="dropdown-item cursor-pointer {{TItem.SystemActive?  'SystemActive' :'' }} {{_HelperService.CheckMode == 'dark' ? 'text-white' : 'text-dark' }} " *ngFor="let TItem of DealsList_Config.Sort.SortOptions" (click)="DealsList_ToggleOption( TItem, _HelperService.AppConfig.ListToggleOption.Sort)">
              {{TItem.Name}}
            </a>

                        <button type="button" class="btn btn-light btn-sm mr-2 mg-t-20" (click)="ResetFilters( null, _HelperService.AppConfig.ListToggleOption.ResetOffset)">
              Reset</button>
                        <button type="button" class="btn btn-primary btn-sm  mg-t-20" (click)="ApplyFilters( null, _HelperService.AppConfig.ListToggleOption.ApplyFilter,'Sort')">Apply</button>
                    </form>
                </div>
            </div>
            <div class="dropdown dropleft">
                <a href="" class="nav-link" id="DealsList_fdropdown" data-toggle="dropdown" aria-haspopup="true" (click)="_HelperService.StopClickPropogation()" aria-expanded="false"> <i data-feather="filter"></i> </a>
                <div class="dropdown-menu tx-13">
                    <form class="wd-250  pd-15" *ngIf="ResetFilterControls">
                        <h6 class="dropdown-header tx-uppercase tx-12 tx-bold tx-inverse pd-b-20 pd-l-0 pd-t-0">Filters
                        </h6>
                        <div>
                            <div class="form-group position-relative" id='FilterPeriod'>
                                <label>Start On</label>
                                <input type="text" class="form-control  form-daterangepicker" name="daterangeInput" daterangepicker [options]="_HelperService.AppConfig.DateRangeOptions" (selected)="DealsList_ToggleOption($event, _HelperService.AppConfig.ListToggleOption.Date)" />
                            </div>
                        </div>
                        <div>
                            <!-- <div class="form-group">
                <label>Status</label>
                <select2 [options]="_DataHelperService.S2_Status_Option" class="wd-100p"
                  [data]="DealsList_Config.StatusOptions"
                  (valueChanged)="DealsList_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.Status)">
                </select2>
              </div> -->
                        </div>
                        <div class="row mg-b-10">
                            <!-- <div class="form-group">
                <label>Flash Deals</label>
                <select2 *ngIf="showFlashDeals" [options]="_DataHelperService.S2_Status_Option" class="wd-100p"
                  [data]="FlashOptions" (valueChanged)="FlashList_ToggleOption($event)">
                </select2>
              </div> -->
                            <div class="col-md-12">
                                <div class="form-group">
                                    <div> <label>Flash Deals
                    </label>
                                    </div>
                                    <div class="radio float-left mg-r-25">
                                        <label class="ui-check"><input type="radio" name="CouponValidity" value='false'
                        [(ngModel)]="flashOptionCurrent" (change)="FlashList_ToggleOption()">
                      <i class="dark-white"></i>
                      All</label>
                                    </div>
                                    <div class="radio  float-left mg-r-25"><label class="ui-check"><input type="radio"
                        name="CouponValidity" value='true' [(ngModel)]="flashOptionCurrent"
                        (change)="FlashList_ToggleOption()">
                      <i class="dark-white"></i>
                      Flash Deals</label>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <div class="controls">
                                        <label for="InvoiceRangeMaxAmount">Avail Deal Min</label>
                                        <input type="number" name="Deal_AvailableRangeMinAmount" maxlength="256" class="form-control" [(ngModel)]="Deal_AvailableRangeMinAmount" min="0" (keyup)="DealsList_ToggleOption($event,_HelperService.AppConfig.ListToggleOption.SalesRange)">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <div class="controls">
                                        <label for="InvoiceRangeMaxAmount">Avail Deal Max</label>
                                        <input type="number" name="Deal_AvailableRangeMaxAmount" maxlength="256" class="form-control" [(ngModel)]="Deal_AvailableRangeMaxAmount" min="0" (keyup)="DealsList_ToggleOption($event,_HelperService.AppConfig.ListToggleOption.SalesRange)">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <div class="controls">
                                        <label for="InvoiceRangeMaxAmount">Sold Deal Min</label>
                                        <input type="number" name="Deal_SoldRangeMinAmount" maxlength="256" class="form-control" [(ngModel)]="Deal_SoldRangeMinAmount" min="0" (keyup)="DealsList_ToggleOption($event,_HelperService.AppConfig.ListToggleOption.SalesRange)">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <div class="controls">
                                        <label for="InvoiceRangeMaxAmount">Sold Deal Max</label>
                                        <input type="number" name="Deal_SoldRangeMaxAmount" maxlength="256" class="form-control" [(ngModel)]="Deal_SoldRangeMaxAmount" min="0" (keyup)="DealsList_ToggleOption($event,_HelperService.AppConfig.ListToggleOption.SalesRange)">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <button type="button" class="btn btn-light btn-sm mr-2" (click)="ResetFilters( null, _HelperService.AppConfig.ListToggleOption.ResetOffset)">
              Reset</button>
                        <button type="button" class="btn btn-primary btn-sm " (click)="ApplyFilters( null, _HelperService.AppConfig.ListToggleOption.ApplyFilter,'Other')">Apply</button>
                    </form>
                </div>
            </div>
            <a class="nav-link ml-2 RefreshColor RefreshColorOne" (click)="DealsList_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.Refresh)"> <i data-feather="refresh-cw"></i> </a>
        </nav>
    </div>
    <div class="pt-0 pd-l-15 pd-b-8">
        <div class="badge badge-transparent pd-y-10 pd-l-15 mx-1 bd bd-1 bd-gray-500 rounded-50 tx-color-03" [hidden]="(!_HelperService.FilterSnap.Status) || (_HelperService.FilterSnap.Status==0)">
            {{_HelperService.FilterSnap.StatusName}}
            <span (click)="RemoveFilterComponent('Status')" class="bd bd-1  mg-l-5 pd-x-5 pd-y-3 rounded-circle bg-primary text-white cursor-pointer"><i
          class="fas fa-times"></i> </span>
        </div>
        <div class="badge badge-transparent pd-y-10 pd-l-15 mx-1 bd bd-1 bd-gray-500 rounded-50 tx-color-03" [hidden]="!_HelperService.FilterSnap.Sort.SortColumn || (_HelperService.FilterSnap.Sort.SortColumn=='CreateDate' && _HelperService.FilterSnap.Sort.SortOrder=='')">
            <span> {{_HelperService.FilterSnap.Sort.SortColumn + "--" + _HelperService.FilterSnap.Sort.SortOrder}}</span>
            <span (click)="RemoveFilterComponent('Sort')" class="bd bd-1  mg-l-5 pd-x-5 pd-y-3 rounded-circle bg-primary text-white cursor-pointer"><i
          class="fas fa-times"></i> </span>
        </div>
        <!-- <div class="badge badge-transparent pd-y-10 pd-l-15 mx-1 bd bd-1 bd-gray-500 rounded-50 tx-color-03"
      [hidden]="!_HelperService.FilterSnap.Sort.SortColumn">
      <span> {{_HelperService.FilterSnap.Sort.SortColumn + "--" + _HelperService.FilterSnap.Sort.SortOrder}}</span>
      <span (click)="RemoveFilterComponent('Sort')"
        class="bd bd-1  mg-l-5 pd-x-5 pd-y-3 rounded-circle bg-primary text-white cursor-pointer"><i
          class="fas fa-times"></i> </span>
    </div> -->
        <div class="badge badge-transparent pd-y-10 pd-l-15 mx-1 bd bd-1 bd-gray-500 rounded-50 tx-color-03" [hidden]="!_HelperService.FilterSnap.StartTime">
            {{_HelperService.GetFilterDate(_HelperService.FilterSnap.StartTime) + "--" + _HelperService.GetFilterDate(_HelperService.FilterSnap.EndTime)}}
            <span (click)="RemoveFilterComponent('Time')" class="bd bd-1  mg-l-5 pd-x-5 pd-y-3 rounded-circle bg-primary text-white cursor-pointer"><i
          class="fas fa-times"></i> </span>
        </div>
        <div class="badge badge-transparent pd-y-10 pd-l-15 mx-1 bd bd-1 bd-gray-500 rounded-50 tx-color-03" *ngFor="let TItem of _HelperService.FilterSnap.OtherFilters; let i = index">
            {{TItem.data[0].DisplayName}}
            <span (click)="RemoveFilterComponent('Other',i)" class="bd bd-1  mg-l-5 pd-x-5 pd-y-3 rounded-circle bg-primary text-white cursor-pointer"><i
          class="fas fa-times"></i> </span>
        </div>

        <span class="badge badge-pill badge-primary" *ngFor="let TItem of DealsList_Config.Filters">{{TItem.Title}}</span>

    </div>

    <div class="pt-0 pd-l-15 pd-b-8`">
        <div class="badge badge-transparent pd-y-10 pd-l-15 mx-1 bd bd-1 bd-gray-500 rounded-50 tx-color-03" [hidden]="
    !(_HelperService.FilterSnap.SalesRange) || (_HelperService.FilterSnap.SalesRange.DealMin == 0 && _HelperService.FilterSnap.SalesRange.DealMax == 10000000)" (click)="RemoveFilterComponent('Deals')">
            Deals [{{_HelperService.FilterSnap.SalesRange.DealMin + "--" + _HelperService.FilterSnap.SalesRange.DealMax}}]
            <span class="bd bd-1  mg-l-5 pd-x-5 pd-y-3 rounded-circle bg-primary text-white cursor-pointer"><i
          class="fas fa-times"></i> </span>
        </div>
        <div class="badge badge-transparent pd-y-10 pd-l-15 mx-1 bd bd-1 bd-gray-500 rounded-50 tx-color-03" [hidden]="
    !(_HelperService.FilterSnap.SalesRange) || (_HelperService.FilterSnap.SalesRange.DealPurchaseMin == 0 && _HelperService.FilterSnap.SalesRange.DealPurchaseMax == 10000000)" (click)="RemoveFilterComponent('SoldDeals')">
            Sold Deals [{{_HelperService.FilterSnap.SalesRange.DealPurchaseMin + "--" + _HelperService.FilterSnap.SalesRange.DealPurchaseMax}}]
            <span class="bd bd-1  mg-l-5 pd-x-5 pd-y-3 rounded-circle bg-primary text-white cursor-pointer"><i
          class="fas fa-times"></i> </span>
        </div>
    </div>

    <div class="card-body p-0">
        <table class="table  mb-0">
            <thead>
                <tr>
                    <th>
                        Banner
                    </th>
                    <th class="" *ngIf="ColumnConfig[1].Value">
                        Title
                    </th>
                    <!-- <th class="" *ngIf="ColumnConfig[2].Value">
            Merchant
          </th> -->
                    <th class="" *ngIf="ColumnConfig[5].Value">
                        Started On
                    </th>
                    <th class="text-center" *ngIf="ColumnConfig[3].Value">
                        End On
                    </th>
                    <th class="text-center" *ngIf="ColumnConfig[4].Value">
                        Deals
                    </th>

                    <th class="text-center" *ngIf="ListType != 2">
                        Deals Sold
                    </th>

                    <th class="d-flex">
                        <span class="btn cursor-pointer text-primary p-0" style="position: absolute; z-index: 3;right: -10px;" data-toggle="tooltip" title="Edit Your Column" (click)="OpenEditColModal()">
              <!-- <i style="height: 20px; width: 20px;" data-feather="plus-circle"></i> -->
            </span>
                    </th>

                </tr>
            </thead>
            <tbody>
                <tr class="cursor-pointer" *ngFor="let TItem of DealsList_Config.Data| paginate: { id: 'DealsList_Paginator',itemsPerPage: DealsList_Config.PageRecordLimit, currentPage: DealsList_Config.ActivePage,  totalItems: DealsList_Config.TotalRecords }; let i = index">
                    <td class="d-flex align-items-center" *ngIf="ColumnConfig[0].Value">
                        <!-- <span class="d-block wd-15 ht-15 rounded-circle ml-auto" [style.background-color]="TItem.StatusC"></span> -->


                        <img class="br" (error)="_HelperService.defaultImage($event)" src="{{TItem.ImageUrl}}" class="img wd-200 ht-100  bd bd-2" [style.border-color]="TItem.StatusC">

                        <i *ngIf="(TItem.IsFlashDeal)" style="
              position: relative;
              left: -196px;
              top: -36px;
          " class="fas fa-bolt tx-24 tx-MasterCard"></i>
                        <i *ngIf="(TItem.TotalAvailable == 0)" style="position: relative;
          left: -196px;
          top: -36px;" class="text-lowercase badge badge-danger">Deal sold</i>
                        <i *ngIf="(TItem.isShowBages && TItem.TotalAvailable != 0 )" style="position: relative;
          left: -196px;
          top: -36px;" class="text-lowercase badge badge-success">New Deal</i>
                    </td>
                    <!-- <td>
            <div class="tx-14 tx-semibold wd-300">{{TItem.Title || "--"}}</div>

            <div class="text-secondary tx-12 wd-300">

              {{TItem.Description || "--"}}

            </div>

          </td> -->

                    <td (click)="DealsList_RowSelected(TItem);">
                        <!-- <div class="tx-14 tx-semibold wd-200">{{TItem.Title || "--"}}</div> -->
                        <div class="tx-14 tx-semibold wd-200" [innerHtml]="TItem.Title"></div>

                        <label class="text-bold" style="color: #5B47FB;"><span
                [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span>
              {{TItem.SellingPrice ||
              "--"}}</label>&nbsp;

                        <label class="text-bold"> <span
                [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span><s>{{TItem.ActualPrice ||
                "--"}}</s> </label>
                        <div>
                            <span class="badge  text-white tx-11 tx-uppercase bg-success">{{TItem.CategoryName| slice:0:100 || "--"}} </span>
                        </div>

                        <div class="tx-12 wd-200" style="text-overflow: ellipsis;margin-top:30px">
                            <span class="text-secondary"> <i class="far fa-eye"></i> Viewed By</span>&nbsp; <span style="font-weight: 500;">{{TItem.CustomerView ||
                "0"}} Customers</span>
                        </div>
                    </td>
                    <!-- <td class="" *ngIf="ColumnConfig[1].Value">
            {{TItem.AccountDisplayName   || "--"}}
          </td> -->
                    <td class="" *ngIf="ColumnConfig[2].Value">
                        <div class="tx-14">{{TItem.StartDatePart.Date || "--"}}
                        </div>
                        <div class="text-secondary tx-12" *ngIf="TItem && TItem.StartDate">
                            {{TItem.StartDatePart.Time || "--"}}
                        </div>
                    </td>
                    <td class="" *ngIf="ColumnConfig[5].Value">
                        {{TItem.EndDatePart.Date || "--"}}
                        <div class="text-secondary tx-12" *ngIf="TItem && TItem.EndDate">
                            {{TItem.EndDatePart.Time || "--"}}
                        </div>
                        <div>
                            <span [ngClass]="TItem.StatusBadge" class="tx-11 tx-uppercase" *ngIf="this.ListType == 0" style="text-overflow: ellipsis">
              {{TItem.StatusName| slice:0:100 || "--"}}
              </span>
                        </div>
                    </td>

                    <td class="text-center" *ngIf="ColumnConfig[3].Value">
                        {{TItem.TotalAvailable || "0"}}
                    </td>

                    <td class="text-center" *ngIf="ListType != 2">
                        {{TItem.TotalPurchase || "--"}}
                    </td>

                    <td class="">
                        <div>
                            <div class="dropdown dropleft">
                                <!-- (click)="SubAccountsList_RowSelected(TItem)" -->
                                <a href="" class="nav-link" id="SubAccountsList_rdropdown_{{i}}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="fas fa-ellipsis-v"></i> </a>
                                <div class="dropdown-menu tx-13">
                                    <form class="wd-250  pd-15">
                                        <h6 class="dropdown-header tx-uppercase tx-12 tx-bold tx-inverse pd-b-20 pd-l-0 pd-t-0">More Actions
                                        </h6>
                                        <a [hidden]="TItem.StatusCode!='deal.draft'" class="dropdown-item cursor-pointer {{TItem.SystemActive?  'SystemActive' :'' }} {{_HelperService.CheckMode == 'dark' ? 'text-white' : 'text-dark' }} " (click)="Update_RowSelected(TItem);CloseRowModal(i)">
                                            <span class="pd-r-10"><i class=" fas fa-edit"></i></span>Update/Publish Draft
                                        </a>
                                        <a [hidden]="TItem.StatusCode =='deal.draft'" class="dropdown-item cursor-pointer {{TItem.SystemActive?  'SystemActive' :'' }} {{_HelperService.CheckMode == 'dark' ? 'text-white' : 'text-dark' }} " (click)="DealsList_RowSelected(TItem);CloseRowModal(i)">
                                            <span class="pd-r-10"><i class="fas fa-info-circle"></i></span>Details
                                        </a>

                                        <a *ngIf="TItem.StatusCode == 'deal.draft'" class="dropdown-item cursor-pointer {{TItem.SystemActive?  'SystemActive' :'' }} {{_HelperService.CheckMode == 'dark' ? 'text-white' : 'text-dark' }} " (click)="DeleteDeal(TItem);CloseRowModal(i)">
                                            <span class="pd-r-10"><i class=" fas fa-trash"></i></span>Delete Draft
                                        </a>

                                        <!-- <a [hidden]="!(TItem.StatusCode =='deal.published')"
                    class="dropdown-item cursor-pointer {{TItem.SystemActive?  'SystemActive' :'' }} {{_HelperService.CheckMode == 'dark' ? 'text-white' : 'text-dark' }} "
                    (click)="GetAccountDetails(TItem,'schedule');CloseRowModal(i)">
                    <span class="pd-r-10"><i class=" fas fa-edit"></i></span>Edit Deal Schedule
                  </a>

                  <a [hidden]="!(TItem.StatusCode =='deal.published')"
                    class="dropdown-item cursor-pointer {{TItem.SystemActive?  'SystemActive' :'' }} {{_HelperService.CheckMode == 'dark' ? 'text-white' : 'text-dark' }} "
                    (click)="GetAccountDetails(TItem,'coupons');CloseRowModal(i)">
                    <span class="pd-r-10"><i class=" fas fa-edit"></i></span>Edit Available Coupons
                  </a> -->

                                        <!-- <a *ngIf="TItem.StatusCode == 'deal.draft'"
                      class="dropdown-item cursor-pointer {{TItem.SystemActive?  'SystemActive' :'' }} {{_HelperService.CheckMode == 'dark' ? 'text-white' : 'text-dark' }} "
                      (click)="StatusUpdate(TItem);CloseRowModal(i)">
                      <span class="pd-r-10"><i class=" fas fa-edit"></i></span>Update To  Draft
                    </a> -->
                                        <!-- <a *ngIf="TItem.StatusCode == 'deal.draft'"
                      class="dropdown-item cursor-pointer {{TItem.SystemActive?  'SystemActive' :'' }} {{_HelperService.CheckMode == 'dark' ? 'text-white' : 'text-dark' }} "
                      (click)="StatusUpdate(TItem);CloseRowModal(i)">
                      <span class="pd-r-10"><i class=" fas fa-edit"></i></span>Update To  Approval Pending
                    </a> -->

                                        <!-- <a *ngIf="TItem.StatusCode == 'deal.draft' || TItem.StatusCode == 'deal.approved' || TItem.StatusCode == 'deal.paused'"
                      class="dropdown-item cursor-pointer {{TItem.SystemActive?  'SystemActive' :'' }} {{_HelperService.CheckMode == 'dark' ? 'text-white' : 'text-dark' }} "
                      (click)="StatusUpdate(TItem,3);CloseRowModal(i)">
                      <span class="pd-r-10"><i class=" fas fa-edit"></i></span>Publish Draft
                    </a> -->

                                        <!-- <a *ngIf="TItem.StatusCode == 'deal.draft'"
                      class="dropdown-item cursor-pointer {{TItem.SystemActive?  'SystemActive' :'' }} {{_HelperService.CheckMode == 'dark' ? 'text-white' : 'text-dark' }} "
                      (click)="StatusUpdate(TItem);CloseRowModal(i)">
                      <span class="pd-r-10"><i class=" fas fa-edit"></i></span>Update To  Expired
                    </a> -->


                                        <!-- <a class="dropdown-item cursor-pointer {{TItem.SystemActive?  'SystemActive' :'' }} {{_HelperService.CheckMode == 'dark' ? 'text-white' : 'text-dark' }} "
                      (click)="CloseRowModal(i)">
                      <span class="pd-r-10"><i
                          class=" fas fa-user"></i></span>{{TItem.StatusCode=='default.active'?'Suspend Account':'Unblock Account'}}
                    </a> -->

                                    </form>
                                </div>
                            </div>
                        </div>
                    </td>

                </tr>
            </tbody>
        </table>
    </div>
    <div class="card-footer pd-20">
        <span class="mr-3">
      {{ 'Common.Showing' | translate }}
      <span class="bold">{{DealsList_Config.ShowingStart}} {{ 'Common.To' | translate }}
        {{DealsList_Config.ShowingEnd}}
      </span> {{ 'Common.Of' | translate }} {{DealsList_Config.TotalRecords}}
        </span>
        <span>
      {{ 'Common.Show' | translate }}
      <select class="wd-50 " [(ngModel)]="DealsList_Config.PageRecordLimit"
        (ngModelChange)="DealsList_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.Limit)">
        <option [ngValue]="TItem" *ngFor="let TItem of _HelperService.AppConfig.ListRecordLimit">
          {{TItem}}
        </option>
      </select>
    </span>
        <span class="float-right">
      <pagination-controls id="DealsList_Paginator" class="pagination pagination-space"
        (pageChange)="DealsList_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.Page)"
        nextLabel="{{ 'Common.Next' | translate }}" previousLabel="{{ 'Common.Previous' | translate }}">
      </pagination-controls>
    </span>
    </div>
</div>

<div class="modal fade" id="EditSchedule" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Update Schedule</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
            </div>
            <div class="modal-body  ht-260">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="tx-secondary" for="  "> Start Date</label>
                            <div class="controls">
                                <input type="text" class="form-control " [(ngModel)]="SelectedDealStartDateS" name="daterangeInput" readonly />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for=""> End Date </label>
                            <span class="text-danger"> *</span>
                            <div class="controls">
                                <input type="text" class="form-control " name="daterangeInput" daterangepicker readonly [options]="_HelperService.AppConfig.DateFuterPickerOptions" (selected)="ScheduleEndDateRangeChange($event)" />
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12 mg-t-10">
                        <div class="form-group">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="customCheck1" name="isActive" [checked]="IsRunAllTime" (change)="RunAllTimeToogle()">
                                <label class="custom-control-label" for="customCheck1">Run All Time</label>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12" [hidden]="IsRunAllTime">
                        <div>
                            <label>Deal Runs From <span class="text-danger">*</span>
              </label>
                        </div>
                        <div class="form-group d-flex align-items-center">

                            <timepicker [(ngModel)]="DealTimings.Start" [showSpinners]="false" [ngModelOptions]="{standalone: true}">
                            </timepicker>
                            TO
                            <timepicker [(ngModel)]="DealTimings.End" [showSpinners]="false" [ngModelOptions]="{standalone: true}">
                            </timepicker>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" [disabled]="SelectedDeal.EndDate==undefined || SelectedDeal.EndDate==null" (click)="UpdateSchedule()">
          Save</button>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="AddCoupons" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Add Coupon</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
            </div>
            <div class="modal-body ht-300">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="tx-secondary" for="  "> New Coupon Count</label>
                            <div class="controls">
                                <input type="number" min="1" class="form-control " [(ngModel)]="CouponCount" name="count" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" [disabled]="CouponCount==null" (click)="EditStock()">
          Save</button>
            </div>
        </div>
    </div>
</div>