<!-- --merchant-Loyality--overview -->
<ol class="breadcrumb df-breadcrumbs mg-b-10">
  <li class="breadcrumb-item" [routerLinkActive]="['active']"><a
      routerLink="{{ _HelperService.AppConfig.Pages.ThankUCash.Dashboard.Merchant}}" [routerLinkActive]="['active']">
      Dashboard</a></li>
  <li class="breadcrumb-item" [routerLinkActive]="['active']"><a>Loyalty
    </a></li>
  <li class="breadcrumb-item" [routerLinkActive]="['active']"><a class="text-primary">Overview
    </a></li>
</ol>

<div class="d-sm-flex align-items-center justify-content-between mb-2">
  <div class="d-flex justify-content-between ">
    <div class="form-group  mb-0 pb-0 wd-200">
      <input type="text" class="form-control form-daterangepicker full-width" name="daterangeInput" daterangepicker
        [options]="_HelperService.AppConfig.DateRangeOptionsCustom"
        (selected)="DateChanged($event, _HelperService.AppConfig.ListToggleOption.Date)" />
    </div>

    <!-- <div class="mg-l-5">
      <select2 class="full-width" [options]="_DataHelperService.S2_Status_Option"
        [data]="this._HelperService.AppConfig.StatusList.DateRange" (valueChanged)="DateTypeSelected($event)">
      </select2>
    </div> -->

    <div class="mg-l-5 wd-200">
      <select2 class="full-width" [options]="TUTr_Filter_Store_Option"
        (valueChanged)="TUTr_Filter_Stores_Change($event)">
      </select2>
    </div>

  </div>
  <div class="d-flex justify-content-between mg-t-10  mg-md-t-0">
    <!-- <button
      class="btn btn-sm pd-x-15  btn-uppercase {{_HelperService.CheckMode == 'dark' ? 'btn-dark' : 'btn-white' }}"><i
        data-feather="mail" class="wd-10 mg-r-5"></i>
      Email</button>
    <button
      class="btn btn-sm pd-x-15  btn-uppercase mg-l-5 {{_HelperService.CheckMode == 'dark' ? 'btn-dark' : 'btn-white' }}"><i
        data-feather="upload" class="wd-10 mg-r-5"></i>
      Export</button> -->
    <button data-toggle="modal" data-target="#exampleModal" type="button" class="btn btn-success btn-xs mg-r-10"> Setup
      Guide </button>
    <ul class="list-inline d-flex mg-t-20 mg-sm-t-10 mg-md-t-0 mg-b-0">
      <li class="list-inline-item d-flex align-items-center">
        <span class="d-block wd-15 ht-15 bg-primary rounded mg-r-5 "></span>
        <span class="tx-sans   tx-uppercase tx-medium tx-color-03 tx-13">
          {{_Monthly.ActualStartDate | date :["dd LLL"]}}</span>
      </li>
      <li class="list-inline-item d-flex align-items-center mg-l-5">
        <span class="d-block wd-15 ht-15 bg-MasterCard rounded mg-r-5"></span>
        <span class="tx-sans  tx-13 tx-uppercase tx-medium tx-color-03">{{_Monthly.ActualEndDate| date :["dd
          LLL"]}}</span>
      </li>

      <li title="{{ 'Common.RefreshT' | translate }}" class="list-inline-item d-flex align-items-center mg-l-5">
        <a class="cursor-pointer" (click)="RefreshData()"><i class="{{ 'Common.RefreshI' | translate }}"></i></a>
      </li>
    </ul>
  </div>
</div>

<div class="row row-xs mg-b-10">
  <div class="col-sm-6 col-lg-3 ">
    <div class="card card-body shadow-none ht-100p">
      <h6 class="tx-uppercase tx-11 tx-spacing-1 tx-color-02 tx-semibold mg-b-8">Visits by Loyal Customers</h6>
      <div class="d-flex d-lg-block d-xl-flex align-items-end">
        <h3 class="tx-rubik tx-dark mg-b-8 mg-r-5 lh-1">
          {{_AccountOverview.VisitsByRepeatingCustomers | number: "1.0-1" || "--"}}</h3>
        <!-- <p class="tx-11 tx-color-03 mg-b-0  mg-b-10"><span class="tx-medium tx-danger">0.7% <i
              class="icon ion-md-arrow-down"></i></span></p> -->
      </div>
      <p class="tx-12 text-secondary mg-b-0"> Visits gives earning of <b class="tx-dark"><span
            [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span>{{_AccountOverview.RepeatingCustomerInvoiceAmount
          | number: "1.0-1" || "0"}}
        </b> sale</p>
    </div>
  </div><!-- col -->
  <div class="col-sm-6 col-lg-3 mg-t-15  mg-sm-t-0">
    <div class="card card-body shadow-none ht-100p">
      <h6 class="tx-uppercase tx-11 tx-spacing-1 tx-color-02 tx-semibold mg-b-8">Visits by new customers</h6>
      <div class="d-flex d-lg-block d-xl-flex align-items-end">
        <h3 class=" tx-dark tx-rubik mg-b-8 mg-r-5 lh-1">
          {{_AccountOverview.NewCustomers | number: "1.0-1" || "--"}}</h3>
        <!-- <p class="tx-11 tx-color-03 mg-b-0  mg-b-10"><span class="tx-medium tx-danger">0.7% <i
              class="icon ion-md-arrow-down"></i></span></p> -->
      </div>
      <p class="tx-12 text-secondary mg-b-0 "> New sign ups in this time span</p>


    </div>
  </div><!-- col -->
  <div class="col-sm-6 col-lg-3 mg-t-15  mg-lg-t-0">
    <div class="card card-body shadow-none ht-100p">
      <h6 class="tx-uppercase tx-11 tx-spacing-1 tx-color-02 tx-semibold mg-b-8">Redeemed amount</h6>
      <div class="d-flex d-lg-block d-xl-flex align-items-end">
        <h3 class="tx-dark tx-rubik  mg-b-8 mg-r-5 lh-1 Word-break">
          <span class="text-sm mg-r-2"
            [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span>{{_AccountOverview.RedeemAmount || "0" |
          number: "1.2-2" }}
        </h3>

      </div>
      <p class="tx-12 text-secondary mg-b-0 ">Amount redeemed by customers</p>


    </div>
  </div><!-- col -->
  <div class="col-sm-6 col-lg-3 mg-t-15  mg-lg-t-0">
    <div class="card card-body shadow-none ht-100p">
      <h6 class=" tx-uppercase tx-11 tx-spacing-1 tx-color-02 tx-semibold mg-b-8">Rewarded amount</h6>
      <div class="d-flex d-lg-block d-xl-flex align-items-end">
        <h3 class=" tx-dark tx-rubik  mg-b-8 mg-r-5 lh-1 Word-break">
          <span class="text-sm mg-r-2"
            [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span>{{_AccountOverview.RewardAmount || "0" |
          number: "1.2-2" }}
        </h3>
      </div>
      <p class="tx-12 text-secondary mg-b-0"> Amount rewarded to customers</p>
    </div>
  </div><!-- col -->
</div>

<div class="row row-xs mg-b-10">
  <div class="col-lg-12 col-xl-12 col-sm-12 col-md-12">
    <div class="card">
      <div
        class="card-header pd-t-20 pd-lg-t-25 pd-l-20 pd-lg-l-25 d-flex flex-column flex-sm-row align-items-sm-start justify-content-sm-between">
        <div>
          <h6 class="mg-b-0">Visits metrics</h6>
          <p class="tx-11 text-secondary mg-b-0">Visits by New Customers vs Loyal Customers
          </p>
        </div>
        <ul class="list-inline d-flex mg-t-20 mg-sm-t-10 mg-md-t-0 mg-b-0 mg-10">
          <li class="list-inline-item d-flex align-items-center text-center">
            <div class="tx-teal cursor-pointer" (click)="Toogle_Dataset_Visibility('Returning Visits')">
              <span class="{{VisitsChartData[0].hidden?'text-secondary':''}}">
                <i data-feather="git-commit"></i>
              </span>
              <br>
              <div class="tx-sans tx-uppercase tx-10 tx-medium text-secondary">VISITS BY Loyal</div>
            </div>

          </li>
          <li class="list-inline-item d-flex align-items-center text-center">
            <div class="tx-verve cursor-pointer" (click)="Toogle_Dataset_Visibility('New Visits')">
              <span class="{{VisitsChartData[1].hidden?'text-secondary':''}}">
                <i data-feather="git-commit"></i>
              </span>
              <br>
              <div class="tx-sans tx-uppercase tx-10 tx-medium text-secondary">VISITS BY NEW</div>
            </div>

          </li>
        </ul>
        <!-- btn-group -->
      </div><!-- card-header -->
      <div class="card-body pd-lg-25" *ngIf="this.VisitsChartData[0].data.length != 0">
        <div class="row ">
          <div class="col-lg-9 col-xl-9">

            <canvas *ngIf="showVisitsLoalityChart" baseChart #DataPlot="base-chart" [datasets]="VisitsChartData"
              [labels]="MonthlybarChartLabels" [options]="_HelperService.ChartConfig.BarChart.Options"
              [colors]="lineVisitsChartColors" [plugins]="_HelperService.ChartConfig.BarChart.Options.plugins"
              [chartType]="_HelperService.ChartConfig.BarChart.Type">
            </canvas>

          </div>

          <div class="col-lg-3 col-xl-3  mg-t-30 mg-lg-t-0">
            <div class="row mg-b-15">
              <div class="col-sm-6 col-lg-12">
                <div class="text-primary tx-18">
                  {{(_AccountOverview.VisitsByRepeatingCustomers+_AccountOverview.NewCustomers)| number:'1.0-0'}}
                  <small class="tx-11">
                    Visits </small>
                </div>
                <div class="text-secondary tx-uppercase tx-10"> Total visits </div>

              </div>
              <div class="col-sm-6 col-lg-12 mg-t-30 mg-sm-t-0 mg-lg-t-30">
                <div class=" mg-b-5">
                  <div class="tx-teal tx-18">
                    {{_AccountOverview.VisitsByRepeatingCustomers| number:'1.0-0'}} Visits
                  </div>
                  <div class="text-secondary tx-uppercase tx-10"> Visits by Loyal CUSTOMERS </div>
                </div>
              </div>
              <div class="col-sm-6 col-lg-12 mg-t-30">
                <div class="mg-b-5">
                  <div class="tx-verve tx-18"> {{_AccountOverview.NewCustomers| number:'1.0-0'}} Visits
                  </div>
                  <div class="text-secondary tx-uppercase tx-10"> visits BY NEW customers </div>
                </div>

              </div>
            </div><!-- row -->

          </div>
        </div>
      </div><!-- card-body -->
      <div class="card-body pd-lg-25" *ngIf="this.VisitsChartData[0].data.length == 0">
        <div style="height:200px" class="text-center m-auto  text-muted">
          <div>
            <div>
              <div
                class="wd-140 wd-md-150 ht-140 ht-md-150 bd bd-2 bd-muted bg-transparent tx-muted tx-32 bd-gray-300 m-auto d-flex align-items-center justify-content-center rounded-circle">
                <!-- <i class="fas fa-file tx-50"></i> -->
                <img src="../../../../../assets/images/walk.svg" alt="">
              </div>
              <div class="pt-3">
                <span class="text-dark tx-bold tx-14 "> No Transactions in this time frame.</span><br>
                <span class="tx-muted  ">No transactions took place during the time frame you selected</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div><!-- card -->
  </div>
</div>

<div class="row row-xs mg-b-10">
  <div class="col-lg-12 col-xl-12 col-sm-12 col-md-12">
    <div class="card">
      <div
        class="card-header pd-t-20 pd-lg-t-25 pd-l-20 pd-lg-l-25 d-flex flex-column flex-sm-row align-items-sm-start justify-content-sm-between">
        <div>
          <h6 class="mg-b-0">Sales metrics</h6>
          <p class="tx-11 text-secondary mg-b-0">Sales by New Customers vs Loyal Customers
          </p>
        </div>
        <ul class="list-inline d-flex mg-t-20 mg-sm-t-10 mg-md-t-0 mg-b-0 mg-10">
          <li class="list-inline-item d-flex align-items-center text-center">
            <div class="text-success cursor-pointer" (click)="Toogle_Dataset_Visibility('Returning Sales')">
              <span class="{{SalesChartData[0].hidden?'text-secondary':''}}">
                <i data-feather="git-commit"></i>
              </span>
              <br>
              <div class="tx-sans tx-uppercase tx-10 tx-medium text-secondary">SALE BY Loyal</div>
            </div>
          </li>
          <li class="list-inline-item d-flex align-items-center text-center">
            <div class="tx-MasterCard cursor-pointer" (click)="Toogle_Dataset_Visibility('New Sales')">
              <span class="{{SalesChartData[1].hidden?'text-secondary':''}}">
                <i data-feather="git-commit"></i>
              </span>
              <br>
              <div class="tx-sans tx-uppercase tx-10 tx-medium text-secondary">SALE BY NEW</div>
            </div>
          </li>
        </ul>
        <!-- btn-group -->
      </div><!-- card-header -->
      <div class="card-body pd-lg-25" *ngIf="this.SalesChartData[0].data.length != 0">
        <div class="row ">
          <div class="col-lg-9 col-xl-9">

            <canvas *ngIf="showSalesLoalityChart" baseChart #DataPlot="base-chart" [datasets]="SalesChartData"
              [labels]="MonthlybarChartLabels" [options]="_HelperService.ChartConfig.LineChart.Options"
              [colors]="lineSalesChartColors" [plugins]="_HelperService.ChartConfig.LineChart.Options.plugins"
              [chartType]="_HelperService.ChartConfig.LineChart.Type">
            </canvas>

          </div>

          <div class="col-lg-3 col-xl-3  mg-t-30 mg-lg-t-0">
            <div class="row mg-b-15">
              <div class="col-sm-6 col-lg-12">
                <div class="text-primary tx-18"> <span
                    [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span>
                  {{(_AccountOverview.NewCustomerInvoiceAmount+_AccountOverview.RepeatingCustomerInvoiceAmount) |
                  number:'1.0-0'}}

                </div>
                <div class="text-secondary tx-uppercase tx-10"> Total SALE amount </div>


              </div>
              <div class="col-sm-6 col-lg-12 mg-t-30 mg-sm-t-0 mg-lg-t-30">
                <div class=" mg-b-5">
                  <div class="text-success tx-18"> <span
                      [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span>
                    {{_AccountOverview.RepeatingCustomerInvoiceAmount| number:'1.0-0'}} </div>
                  <div class="text-secondary tx-uppercase tx-10"> SaLE by Loyal CUSTOMERS </div>
                </div>
              </div>
              <div class="col-sm-6 col-lg-12 mg-t-30">
                <div class="mg-b-5">
                  <div class="tx-MasterCard tx-18"><span
                      [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span>{{_AccountOverview.NewCustomerInvoiceAmount|
                    number:'1.0-0'}}
                  </div>
                  <div class="text-secondary tx-uppercase tx-10"> SALE BY NEW customers </div>
                </div>

              </div>
            </div><!-- row -->

          </div>
        </div>
      </div><!-- card-body -->
      <div class="card-body pd-lg-25" *ngIf="this.SalesChartData[0].data.length == 0">
        <div style="height:200px" class="text-center m-auto  text-muted">
          <div>
            <div>
              <div
                class="wd-140 wd-md-150 ht-140 ht-md-150 bd bd-2 bd-muted bg-transparent tx-muted tx-32 bd-gray-300 m-auto d-flex align-items-center justify-content-center rounded-circle">
                <!-- <i class="fas fa-file tx-50"></i> -->
                <img src="../../../../../assets/images/walk.svg" alt="">
              </div>
              <div class="pt-3">
                <span class="text-dark tx-bold tx-14 "> No Transactions in this time frame.</span><br>
                <span class="tx-muted  ">No transactions took place during the time frame you selected</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div><!-- card -->
          
<!-- Genderwise segmentation and Top Spenders -->
<!-- 
<div class="row row-xs mg-t-10">
  
    <div class="col-lg-4  col-sm-12 col-md-12 mg-t-10  mg-lg-t-0 ">
      <div class="card dimensions">
        <div class="card-header d-flex align-items-center pd-t-10 pd-lg-t-10 pd-l-15 pd-lg-l-20 justify-content-between">
          <h5 class="mg-b-0">Top Spenders<br>
           <h6 class="tx-12 tx-medium tx-dark mb-0 pb-0 pt-1 "  data-toggle="dropdown">
            CURRENT WEEK<i style="height:18px!important; width: 18px !important;" data-feather="chevron-down"></i> </h6>
          
      </h5>

         
        </div>
        <ul class="list-group list-group-flush tx-13">
          <li class="list-group-item d-flex pd-sm-x-10 pd-y-10 cursor-pointer  align-items-center">
            <div class="avatar"><span class="avatar-initial rounded-circle bg-primary op-5">A</span></div>
            <div class="pd-l-10">
              <p class="tx-dark mg-b-0">Kishore</p>
             <span class="text-secondary tx-11 mg-t-0"
                [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span>
            </div>
  
          </li>
          <li class="list-group-item d-flex pd-sm-x-10 pd-y-10 cursor-pointer  align-items-center">
            <div class="avatar"><span class="avatar-initial rounded-circle bg-primary op-5">B</span></div>
  
            <div class="pd-l-10">
              <p class="tx-dark mg-b-0">Vishal</p>
              <span class="text-secondary tx-11 mg-t-0"
                [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span>
            </div>
  
          </li>
          <li class="list-group-item d-flex pd-sm-x-10 pd-y-10 cursor-pointer  align-items-center">
            <div class="avatar"><span class="avatar-initial rounded-circle bg-primary op-5">C</span></div>
  
            <div class="pd-l-10">
              <p class="tx-dark mg-b-0">Amith</p>
              <span class="text-secondary tx-11 mg-t-0"
                [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span>
            </div>
  
          </li>
          <li class="list-group-item d-flex pd-sm-x-10 pd-y-10 cursor-pointer  align-items-center">
            <div class="avatar"><span class="avatar-initial rounded-circle bg-primary op-5">D</span></div>
  
            <div class="pd-l-10">
              <p class="tx-dark mg-b-0">Omkar</p>
              <span class="text-secondary tx-11 mg-t-0"
                [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span>
            </div>
  
          </li>
          <li class="list-group-item d-flex pd-sm-x-10 pd-y-10 cursor-pointer  align-items-center">
            <div class="avatar"><span class="avatar-initial rounded-circle bg-primary op-5">E</span></div>
  
            <div class="pd-l-10">
              <p class="tx-dark mg-b-0">
                Prabha
              </p>
              <span class="text-secondary tx-11 mg-t-0"
                [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span>
            </div>
  
          </li>
  
        </ul>
  
      </div>
    </div>




  <div class="col-lg-4 col-md-12 col-sm-12">
    <div class="card dimensions">
      <div
        class="card-header d-flex align-items-center pd-t-10 pd-lg-t-10 pd-l-15 pd-lg-l-20 justify-content-between bd-b-0">
          <h6 class="mg-b-0">Gender-Wise Segmentation <br>
        </h6>
      </div>
     
      <div class="card-body d-flex justify-content-center align-items-center">
      <div>
        <canvas height="200" baseChart [colors]="_HelperService.ChartConfig.GenderTypeColors"
          [chartType]="_HelperService.ChartConfig.DoughnetChart.Type"
          [options]="_HelperService.ChartConfig.DoughnetChart.Options"
          [plugins]="_HelperService.ChartConfig.Plugins" [legend]="false" [data]="GenderSegment"
          [labels]="GenderLabel"></canvas>
      </div>
    </div>
  
    <div class="card-footer pd-10">
      <div class="row">
        <div class="col-6">
          <p class="tx-10 tx-uppercase tx-medium tx-color-03 tx-spacing-1 tx-nowrap mg-b-5">
            Male Customers</p>
          <div class="d-flex align-items-center">
            <h5 class="tx-bold tx-rubik mg-b-0" style="color: #00CCCC;">
              {{"50"}}%
              <br>
              <small class="text-secondary tx-11">
                Total {{ "--"}} 
                Visits</small>
            </h5>
          </div>
        </div>
        <div class="col-6">
          <p class="tx-10 tx-uppercase tx-medium tx-color-03 tx-spacing-1 mg-b-5">Female Customers</p>
          <div class="d-flex align-items-center">
            <h5 class="tx-bold tx-rubik mg-b-0" style="color: #F10875;">
              {{ "30"}}%<br>
              <small
                class="text-secondary tx-11">Total {{ "--"}} Visits
               </small>

            </h5>
          </div>
        </div><
      </div>
    </div>

    </div>

  </div>



  <div class="col-lg-4 col-md-12 col-sm-12 mg-t-15  mg-lg-t-0">
    <div class="card dimensions">
       <div class="card-header d-flex align-items-center pd-t-10 pd-lg-t-10 pd-l-15 pd-lg-l-20 justify-content-between bd-b-0">
      <h6 class="mg-b-0">Age-wise Customer segmentation</h6>
    </div> 
    <div class="card-body d-flex justify-content-center align-items-center">
      <div *ngIf="showDailyChart">
        <canvas height="200" baseChart [colors]="_HelperService._UserOverviewPlot.AgeSaleColors"
          [datasets]="SbarChartData" [labels]="SbarChartLabels" [options]="barChartOptions"
          [plugins]="barChartPlugins" [legend]="SbarChartLegend" [chartType]="SbarChartType">
        </canvas>
      </div>
    </div>
      <div class="card-footer pd-10">
        <div class="row">
          <div class="col-4">
            <p class="tx-10 tx-uppercase tx-medium tx-color-03 tx-spacing-1 tx-nowrap mg-b-5">
              18-29 Age</p> 
            <div class="d-flex align-items-center">
              <h5 class="tx-bold tx-rubik mg-b-0" style="color: #F10875;">
                {{"20"}}%
                <br>
                <small class="text-secondary tx-11">
                  {{"800"}} 
                  Visits</small>
              </h5>
            </div> 
          </div>
          <div class="col-4">
            <p class="tx-10 tx-uppercase tx-medium tx-color-03 tx-spacing-1 tx-nowrap mg-b-5">
              18-29 Age</p>
            <div class="d-flex align-items-center">
              <h5 class="tx-bold tx-rubik mg-b-0" style="color: #00CCCC;">
                {{"20"}}%
                <br>
                <small class="text-secondary tx-11">
                  {{"800"}} 
                  Visits</small>
              </h5>
            </div> 
          </div>
          <div class="col-4">
            <p class="tx-10 tx-uppercase tx-medium tx-color-03 tx-spacing-1 tx-nowrap mg-b-5">
              18-29 Age</p>
            <div class="d-flex align-items-center">
              <h5 class="tx-bold tx-rubik tx-warning mg-b-0">
                {{"20"}}%
                <br>
                <small class="text-secondary tx-11">
                  {{"800"}} 
                  Visits</small>
              </h5>
            </div> 
          </div>
        </div>
      </div>
    </div>
  </div>
  
  
</div>   -->
 </div>
</div> 


<div class="row row-xs mg-b-10" *ngIf="_HelperService.AppConfig.ActiveOwnerIsTucPlusEnabled">
  <div class="col-lg-12 col-xl-12 col-sm-12 col-md-12">

    <div class="row">
      <div class="col-md-6">

        <div class="card">
          <div
            class="card-header pd-t-20 pd-lg-t-25 pd-l-20 pd-lg-l-25 d-flex flex-column flex-sm-row align-items-sm-start justify-content-sm-between">
            <div>
              <h6 class="mg-b-0">Reward Distribution</h6>
            </div>
          </div>
          <ul class="list-group list-group-flush tx-14">
            <li class="list-group-item  disabled d-flex pd-sm-x-20 pd-y-20">
              <div class="pd-l-10">
                <p class="tx-dark mg-b-0">Convenience Charge
                </p>
              </div>
              <div class="mg-l-auto d-flex align-self-center">
                <nav class="nav nav-icon-only">
                  <p class="tx-medium tx-dark mg-b-0 tx-rubik"><span
                      [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span>{{(_AccountOverview.TucPlusRewardCommissionAmount
                    | number: "1.0-1")|| "0" }}
                  </p>

                </nav>
              </div>
            </li>
            <li class="list-group-item disabled d-flex pd-x-20 pd-y-20">
              <div class="pd-l-10">
                <p class="tx-dark mg-b-0">Claimed Reward</p>
              </div>
              <div class="mg-l-auto d-flex align-self-center">
                <nav class="nav nav-icon-only">
                  <p class="tx-medium tx-dark mg-b-0 tx-rubik"><span
                      [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span>{{(_AccountOverview.TucPlusRewardClaimAmount
                    | number: "1.0-1") || "0"}}
                  </p>

                </nav>
              </div>
            </li>
            <li class="list-group-item disabled d-flex pd-x-20 pd-y-20">
              <div class="pd-l-10">
                <p class="tx-dark mg-b-0">UnClaimed Rewards</p>
              </div>
              <div class="mg-l-auto d-flex align-self-center">
                <nav class="nav nav-icon-only">
                  <p class="tx-medium tx-dark mg-b-0 tx-rubik"><span
                      [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span>{{
                    (_AccountOverview.TucPlusRewardAmount - _AccountOverview.TucPlusRewardCommissionAmount) || "0" |
                    number: "1.0-1"}}
                  </p>


                </nav>
              </div>
            </li>
            <li class="list-group-item  disabled d-flex pd-x-20 pd-y-20">
              <div class="pd-l-10">
                <p class="tx-dark mg-b-0">Total Record</p>
              </div>
              <div class="mg-l-auto d-flex align-self-center">
                <nav class="nav nav-icon-only">
                  <p class="tx-semibold tx-dark mg-b-0 tx-rubik">
                    {{_AccountOverview.TucPlusRewardTransaction || "0" | number: "1.0-1"}}
                  </p>
                </nav>
              </div>
            </li>

          </ul>



        </div>
      </div>
    </div>

  </div>
</div>

<!-- <div class="row row-xs">
  <div class="col-lg-7 col-xl-7 col-sm-12 col-md-12 mg-t-15  mg-lg-t-0 ">
    <div class="card ht-100p">
      <div class="card-header d-flex align-items-center pd-t-20 pd-lg-t-25 pd-l-20 pd-lg-l-25 justify-content-between">

        <h6 class="mg-b-5">Highlights of last 30 days</h6>
      </div>
      <ul class="list-group list-group-flush tx-14">
        <li class="list-group-item d-flex pd-sm-x-20 pd-y-20 cursor-pointer">
          <div class="pd-l-10">
            <p class="tx-dark mg-b-0">Total Customers</p>
          </div>
          <div class="mg-l-auto d-flex align-self-center">
            <nav class="nav nav-icon-only">
              <p class="tx-medium tx-dark mg-b-0 tx-rubik">7672772</p>

              <a href="" class="nav-link d-none d-sm-block"><i data-feather="chevron-right"></i> </a>
            </nav>
          </div>
        </li>
        <li class="list-group-item d-flex pd-x-20 pd-y-20 cursor-pointer">
          <div class="pd-l-10">
            <p class="tx-dark mg-b-0">New Customers</p>
          </div>
          <div class="mg-l-auto d-flex align-self-center">
            <nav class="nav nav-icon-only">
              <p class="tx-medium tx-dark mg-b-0 tx-rubik">92828</p>

              <a href="" class="nav-link d-none d-sm-block"><i data-feather="chevron-right"></i> </a>
            </nav>
          </div>
        </li>
        <li class="list-group-item d-flex pd-x-20 pd-y-20 cursor-pointer">
          <div class="pd-l-10">
            <p class="tx-dark mg-b-0">Loyal Customers</p>
          </div>
          <div class="mg-l-auto d-flex align-self-center">
            <nav class="nav nav-icon-only">
              <p class="tx-medium tx-dark mg-b-0 tx-rubik">89999</p>

              <a href="" class="nav-link d-none d-sm-block"><i data-feather="chevron-right"></i> </a>

            </nav>
          </div>
        </li>
        <li class="list-group-item d-flex pd-x-20 pd-y-20 cursor-pointer">
          <div class="pd-l-10">
            <p class="tx-dark mg-b-0">Avg. Spending / Visit</p>
          </div>
          <div class="mg-l-auto d-flex align-self-center">
            <nav class="nav nav-icon-only">
              <p class="tx-medium tx-dark mg-b-0 tx-rubik"> <span
                  [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span>282782</p>

              <a href="" class="nav-link d-none d-sm-block"><i data-feather="chevron-right"></i> </a>

            </nav>
          </div>
        </li>
        <li class="list-group-item d-flex pd-x-20 pd-y-20 cursor-pointer">
          <div class="pd-l-10">
            <p class="tx-dark mg-b-0">Avg. Visits / Customer</p>
          </div>
          <div class="mg-l-auto d-flex align-self-center">
            <nav class="nav nav-icon-only">
              <p class="tx-medium tx-dark mg-b-0 tx-rubik">787</p>

              <a href="" class="nav-link d-none d-sm-block"> <i data-feather="chevron-right"></i> </a>

            </nav>
          </div>
        </li>

      </ul>

    </div>
  </div>
  <div class="col-lg-5 col-xl-5 col-sm-12 col-md-12 mg-t-15  mg-lg-t-0 ">
    <div class="card ht-100p">
      <div class="card-header d-flex align-items-center pd-t-20 pd-lg-t-25 pd-l-20 pd-lg-l-25 justify-content-between">
        <h6 class="mg-b-5">Top 5 Spenders <br>
          <p class="tx-12 tx-medium tx-dark mb-0 pb-0 pt-1"> CURRENT WEEK</p>
        </h6>
      </div>
      <ul class="list-group list-group-flush tx-14">
        <li class="list-group-item d-flex pd-sm-x-20 pd-y-20 cursor-pointer  align-items-center">
          <div class="avatar"><span class="avatar-initial rounded-circle bg-primary op-5">A</span></div>
          <div class="pd-l-10">
            <p class="tx-dark mg-b-0">Total Customers</p>
          </div>

        </li>
        <li class="list-group-item d-flex pd-x-20 pd-y-20 cursor-pointer  align-items-center">
          <div class="avatar"><span class="avatar-initial rounded-circle bg-primary op-5">B</span></div>

          <div class="pd-l-10">
            <p class="tx-dark mg-b-0">New Customers</p>
          </div>

        </li>
        <li class="list-group-item d-flex pd-x-20 pd-y-20 cursor-pointer  align-items-center">
          <div class="avatar"><span class="avatar-initial rounded-circle bg-primary op-5">C</span></div>

          <div class="pd-l-10">
            <p class="tx-dark mg-b-0">Loyal Customers</p>
          </div>

        </li>
        <li class="list-group-item d-flex pd-x-20 pd-y-20 cursor-pointer  align-items-center">
          <div class="avatar"><span class="avatar-initial rounded-circle bg-primary op-5">D</span></div>

          <div class="pd-l-10">
            <p class="tx-dark mg-b-0">Avg. Spending / Visit</p>
          </div>

        </li>
        <li class="list-group-item d-flex pd-x-20 pd-y-20 cursor-pointer  align-items-center">
          <div class="avatar"><span class="avatar-initial rounded-circle bg-primary op-5">E</span></div>

          <div class="pd-l-10">
            <p class="tx-dark mg-b-0">Avg. Visits / Customer</p>
          </div>

        </li>

      </ul>

    </div>
  </div>
</div> -->

<div id="Form_RewardUser_Content" class="modal fade " tabindex="-1" data-backdrop="true" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered dropdown ">
    <div class="modal-content">
      <form [formGroup]="Form_RewardUser" (ngSubmit)="Form_RewardUser_Process(Form_RewardUser.value)" role="form">
        <div class="modal-header">
          <h5 class="modal-title">Reward Percentage</h5>
        </div>
        <div class="modal-body  p-lg">
          <div class="col-md-12">
            <div class="row">
              <div class="col-md-12">
                <span class="tx-14"> My Reward Percentage </span> <br>
                <div class="tx-20  pd-y-10">
                  <h3 class=" tx-dark tx-rubik p-0 m-0  lh-1" *ngIf="RewardPerc != null">
                    {{RewardPerc || "--" | number: "1.2-2"}}% </h3>
                  <h3 class=" tx-danger tx-rubik  p-0 m-0 lh-1" *ngIf="RewardPerc == null">
                    NA </h3>
                </div>
                <div class="form-group">
                  <label class="tx-13 ">Change Reward Percentage<span class="text-danger">*</span>
                  </label>
                  <div class="controls">
                    <input type="text" placeholder="Reward Percentage" name="RewardPercentage" minlength="1"
                      maxlength="100" class="form-control" (keypress)="_HelperService.PreventText($event)"
                      [formControl]="Form_RewardUser.controls['Value']"
                      [ngClass]="{'is-invalid':!Form_RewardUser.controls['Value'].valid && Form_RewardUser.controls['Value'].touched}">
                  </div>
                  <label class="text-danger" for="RewardPercentage"
                    *ngIf="Form_RewardUser.controls['Value'].hasError('required') && Form_RewardUser.controls['Value'].touched">
                    enter reward percentage
                  </label>
                  <label class="text-danger" for="RewardPercentage"
                    *ngIf="Form_RewardUser.controls['Value'].hasError('min') || Form_RewardUser.controls['Value'].hasError('max')">
                    reward percentage must be between 0 to 100
                  </label>
                  <div class="tx-12 text-secondary mg-t-5">
                    This reward percentage amount will be set as rewards (on each purchase) to your customers
                  </div>
                </div>
                <div class="form-group">

                  <label class="tx-13 ">Comment<span class="text-danger">*</span>
                  </label>
                  <div class="controls">
                    <textarea name="Comment" minlength="2" maxlength="256"
                      placeholder="You can write reasons to change reward percentage,It will help you to maintain history"
                      class="form-control" rows="3" [formControl]="Form_RewardUser.controls['Comment']"
                      [ngClass]="{'is-invalid':!Form_RewardUser.controls['Comment'].valid && Form_RewardUser.controls['Comment'].touched}"></textarea>
                  </div>
                  <label class="text-danger" for="Comment"
                    *ngIf="Form_RewardUser.controls['Comment'].hasError('required') && Form_RewardUser.controls['Comment'].touched">
                    enter comment
                  </label>

                </div>
              </div>
            </div>


          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="Form_RewardUser_Close()">
            {{ "Common.Close" | translate }}
          </button>
          <button type="submit" class="btn btn-primary warn mr-2" (click)="Form_RewardUser.value.OperationType = 'new'"
            [disabled]="!Form_RewardUser.valid || _HelperService.IsFormProcessing">
            <span *ngIf="!_HelperService.IsFormProcessing">
              {{ "Common.Update" | translate }}
            </span>
            <span *ngIf="_HelperService.IsFormProcessing">
              <i class="{{ 'Common.SpinnerIcon' | translate }}"></i>
              {{ "Common.PleaseWait" | translate }}...
            </span>
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Setup Merchant</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <ul class="list-group list-group-flush tx-14">
          <!-- <li (click)="Form_RewardUser_Show()"
            class="list-group-item d-flex pd-sm-x-20 pd-y-20 cursor-pointer tx-dark">
            <div class="pd-l-10">
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox"  [(ngModel)]="_HelperService.IsRewardSet" id="IsRewardSet" value="Reward">
                <p class="mg-b-0">Set Reward Percentage</p>

              </div>
            </div>
            <div class="mg-l-auto d-flex align-self-center">
              <nav class="nav nav-icon-only">
                <h5 class="tx-normal tx-rubik mg-b-0 lh-1"> 
                </h5>

                <a class="nav-link d-none d-sm-block"><i data-feather="chevron-right"></i> </a>
              </nav>
            </div>
          </li> -->
          <li (click)="OpenPaymentOptions()"
            *ngIf="_HelperService.AppConfig.Host != 'merchantrewards.interswitch.com'  &&  _HelperService.AppConfig.Host != 'interswitch.thankucash.com'"
            class="list-group-item d-flex pd-x-20 pd-y-20 cursor-pointer tx-dark">
            <div class="pd-l-10">
              <div class="form-check form-check-inline">
                <input class="form-check-input" [(ngModel)]="_HelperService.IsAccountBalance" type="checkbox"
                  id="IsAccountBalance" value="TopUp">
                <p class=" mg-b-0">Top Up your account</p>
              </div>
            </div>
            <div class="mg-l-auto d-flex align-self-center">
              <nav class="nav nav-icon-only">
                <h5 class="tx-normal tx-rubik mg-b-0  lh-1">
                </h5>

                <a class="nav-link d-none d-sm-block"><i class="fas fa-chevron-right tx-12"></i> </a>
              </nav>
            </div>
          </li>
          <li (click)="interswitch()"
            *ngIf="_HelperService.AppConfig.Host == 'merchantrewards.interswitch.com'  ||  _HelperService.AppConfig.Host == 'interswitch.thankucash.com'"
            class="list-group-item d-flex pd-x-20 pd-y-20 cursor-pointer tx-dark">
            <div class="pd-l-10">
              <div class="form-check form-check-inline">
                <input class="form-check-input" [(ngModel)]="_HelperService.IsAccountBalance" type="checkbox"
                  id="IsAccountBalance" value="TopUp">
                <p class=" mg-b-0">Top Up your account</p>
              </div>
            </div>
            <div class="mg-l-auto d-flex align-self-center">
              <nav class="nav nav-icon-only">
                <h5 class="tx-normal tx-rubik mg-b-0  lh-1">
                </h5>

                <a class="nav-link d-none d-sm-block"><i class="fas fa-chevron-right tx-12"></i> </a>
              </nav>
            </div>
          </li>

          <li (click)="Form_AddUser_Show()" class="list-group-item d-flex pd-x-20 pd-y-20 cursor-pointer tx-dark">
            <div class="pd-l-10">
              <div class="form-check form-check-inline">
                <input class="form-check-input" [(ngModel)]="_HelperService.IsTerminalZero" type="checkbox"
                  id="IsTerminalZero" value="Terminal">
                <p class="mg-b-0"> Add POS Terminals </p>
              </div>
            </div>
            <div class="mg-l-auto d-flex align-self-center">
              <nav class="nav nav-icon-only">
                <h5 class="tx-normal tx-rubik mg-b-0 lh-1">
                </h5>

                <a class="nav-link d-none d-sm-block"><i data-feather="chevron-right"></i> </a>

              </nav>
            </div>
          </li>
          <li (click)="Form_AddStore_Show()" class="list-group-item d-flex pd-x-20 pd-y-20 cursor-pointer tx-dark">
            <div class="pd-l-10">
              <div class="form-check form-check-inline">
                <input class="form-check-input" [(ngModel)]="_HelperService.IsStoreZero" type="checkbox"
                  id="IsStoreZero" value="Store">
                <p class=" mg-b-0">Add Stores</p>
              </div>
            </div>
            <div class="mg-l-auto d-flex align-self-center">
              <nav class="nav nav-icon-only">
                <h5 class="tx-normal tx-rubik mg-b-0 lh-1">
                </h5>

                <a class="nav-link d-none d-sm-block"><i data-feather="chevron-right"></i> </a>

              </nav>
            </div>
          </li>
          <li (click)="Form_AddCashier_Show()" class="list-group-item d-flex pd-x-20 pd-y-20 cursor-pointer tx-dark">
            <div class="pd-l-10">
              <div class="form-check form-check-inline">
                <input class="form-check-input" [(ngModel)]="_HelperService.IsCashierZero" type="checkbox"
                  id="IsCashierZero" value="Cashier">
                <p class=" mg-b-0">Add Cashiers</p>
              </div>
            </div>
            <div class="mg-l-auto d-flex align-self-center">
              <nav class="nav nav-icon-only">
                <!-- <h6 class="mg-b-0 tx-rubik tx-normal  ">
                  {{_AccountCustomerOverview.AverageVisit || "0" | number: "1.0-1" }}</h6> -->
                <h5 class="tx-normal tx-rubik mg-b-0  lh-1">
                </h5>

                <a class="nav-link d-none d-sm-block"> <i data-feather="chevron-right"></i> </a>

              </nav>
            </div>
          </li>
        </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<div id="Form_AddUser_Content" class="modal fade" data-backdrop="true" aria-hidden="true"
  style="overflow-y: scroll !important;">
  <div class="modal-dialog modal-dialog-centered dropdown ">
    <div class="modal-content">
      <form [formGroup]="Form_AddUser" (ngSubmit)="Form_AddUser_Process(Form_AddUser.value)" role="form">
        <div class="modal-header">
          <h5 class="modal-title">Add New POS Terminal</h5>
        </div>
        <div class="modal-body  p-lg" *ngIf="ResetFilterControls">
          <div class="d-flex justify-content-between">
            <div class="">
              <label class="">Upload Receipt<span class="text-danger">*</span>
              </label>

            </div>
            <div>
              <span class="d-flex align-items-end cursor-pointer"> <a class="tx-12 text-primary"
                  (click)="ShowHelpImage('receipt')"> Need Help ? </a> </span>
            </div>

          </div>
          <div>
            <!-- <label>{{ 'System.Users.Icon' | translate }}

                          <span class="small muted">
                              -
                              {{_HelperService._FileSelect_Icon_Data.Width}}x{{_HelperService._FileSelect_Icon_Data.Height}}
                          </span>
                      </label> 
                       <ng2-file-input [id]="_HelperService._FileSelect_Icon" [multiple]="false"
                          (onAdded)="_HelperService.Icon_Change($event)"
                          extensions="[ 'image/jpeg', 'image/jpg', 'image/png', 'image/gif'] "
                          [browse-text]="'Show file picker'" [removable]="false"></ng2-file-input> -->
            <input-file #terminal inputId="input-file" placeholder="">
            </input-file>
          </div>
          <div class="text-danger mb-2">Make sure your are adding correct terminal id </div>
          <div class="form-group">
            <div class="d-flex justify-content-between">
              <div>
                <label>{{ "System.Users.TerminalId" | translate }}<span class="text-danger">*</span>
                </label>
              </div>
              <div>
                <span class="cursor-pointer"><a class="tx-12 text-primary" (click)="ShowHelpImage('terminal')"> Need
                    Help ? </a> </span>
              </div>
            </div>
            <div class="controls">
              <input type="text" name="TerminalId" placeholder="Terminal Id" required maxlength="25"
                class="form-control" [formControl]="Form_AddUser.controls['TerminalId']" [ngClass]="{
            'is-invalid':
              !Form_AddUser.controls['TerminalId'].valid &&
              Form_AddUser.controls['TerminalId'].touched
          }" />
            </div>
            <label class="text-danger" for="TerminalId" *ngIf="
          Form_AddUser.controls['TerminalId'].hasError('required') &&
          Form_AddUser.controls['TerminalId'].touched
        ">{{
              "System.Users.Terminal_ER_Required" | translate
              }}</label>
            <label class="text-danger" for="TerminalId" *ngIf="
          Form_AddUser.controls['TerminalId'].hasError(
            'minlength'
          ) ||
          Form_AddUser.controls['TerminalId'].hasError('maxlength')
        ">{{ "System.Users.Terminal_ER_Length" | translate }}</label>
          </div>
          <div class="form-group">
            <div class="d-flex justify-content-between">
              <div>
                <label>{{ "System.Users.SerialNumber" | translate
                  }}
                </label>
              </div>
              <div>
                <span class="cursor-pointer"><a class="tx-12 text-primary" (click)="ShowHelpImage('serial')"> Need Help
                    ? </a> </span>
              </div>
            </div>

            <div class="controls">
              <input type="text" name="SerialNumber" placeholder="Serial Number" required maxlength="25" 
                class="form-control" [formControl]="Form_AddUser.controls['SerialNumber']" />
            </div>
          </div>
          <div class="form-group pd-b-0" *ngIf="!_HelperService.ToggleField && !ToggleStoreSelect">
            <label for=""> Select Store<span class="text-danger">*</span> </label>
            <select2 class="full-width" [options]="TUTr_Filter_Store_Option"
              (valueChanged)="TUTr_Filter_Stores_Change($event)">
            </select2>
          </div>
          <div class="form-group  pd-b-0" *ngIf="!_HelperService.ToggleField">
            <label for=""> POS Terminal Provider<span class="text-danger">*</span> </label>

            <select2 class="full-width" [options]="TUTr_Filter_Provider_Option"
              (valueChanged)="TUTr_Filter_Providers_Change($event)">
            </select2>
          </div>
          <div class="form-group pd-b-0" *ngIf="!_HelperService.ToggleField">
            <label for=""> Select Bank <span class="text-danger">*</span></label>

            <select2 class="full-width" [options]="TUTr_Filter_Bank_Option"
              (valueChanged)="TUTr_Filter_Banks_Change($event)">
            </select2>
          </div>
          <!-- <div class="form-group pd-b-0" *ngIf="!_HelperService.ToggleField">
            <label for=""> Select Cashier<span class="text-danger">*</span> </label>
            <select2 class="full-width" [options]="TUTr_Filter_Cashier_Option"
              (valueChanged)="TUTr_Filter_Cashiers_Change($event)">
            </select2>
          </div> -->
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="Form_AddUser_Close()">
            {{ "Common.Close" | translate }}
          </button>
          <button type="submit" class="btn btn-primary warn mr-2" (click)="Form_AddUser.value.OperationType = 'new'"
            [disabled]="!Form_AddUser.valid || _HelperService.IsFormProcessing">
            <span *ngIf="!_HelperService.IsFormProcessing">
              {{ "Common.Save" | translate }}
            </span>
            <span *ngIf="_HelperService.IsFormProcessing">
              <i class="{{ 'Common.SpinnerIcon' | translate }}"></i>
              {{ "Common.PleaseWait" | translate }}...
            </span>
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
<div id="Form_AddCashier_Content" class="modal fade" data-backdrop="true" aria-hidden="true"
  style="overflow-y: scroll !important;">
  <div class="modal-dialog modal-dialog-centered dropdown ">
    <div class="modal-content">
      <form [formGroup]="Form_AddCashier" (ngSubmit)="Form_AddCashier_Process(Form_AddCashier.value)" role="form">
        <div class="modal-header">
          <h5 class="modal-title">Add New Cashier</h5>
        </div>
        <div class="modal-body  p-lg" *ngIf="ResetFilterControls">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <div class="d-flex justify-content-between">
                  <div>
                    <label>{{ "System.Users.FirstName" | translate }}<span class="text-danger">*</span>
                    </label>
                  </div>

                </div>
                <div class="controls">
                  <input type="text" name="FirstName" placeholder="First Name" required maxlength="128"
                    class="form-control" [formControl]="Form_AddCashier.controls['FirstName']" [ngClass]="{
                    'is-invalid':
                      !Form_AddCashier.controls['FirstName'].valid &&
                      Form_AddCashier.controls['FirstName'].touched
                  }" />
                </div>
                <label class="text-danger" for="FirstName" *ngIf="
                  Form_AddCashier.controls['FirstName'].hasError('required') &&
                  Form_AddCashier.controls['FirstName'].touched
                ">{{
                  "System.Users.FirstName_ER_Required" | translate
                  }}</label>
                <label class="text-danger" for="FirstName" *ngIf="
                  Form_AddCashier.controls['FirstName'].hasError(
                    'minlength'
                  ) ||
                  Form_AddCashier.controls['FirstName'].hasError('maxlength')
                ">{{ "System.Users.FirstName_ER_Length" | translate }}</label>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <div class="d-flex justify-content-between">
                  <div>
                    <label>{{ "System.Users.LastName" | translate }}<span class="text-danger">*</span>
                    </label>
                  </div>

                </div>
                <div class="controls">
                  <input type="text" name="LastName" placeholder="Last Name" required maxlength="128"
                    class="form-control" [formControl]="Form_AddCashier.controls['LastName']" [ngClass]="{
                    'is-invalid':
                      !Form_AddCashier.controls['LastName'].valid &&
                      Form_AddCashier.controls['LastName'].touched
                  }" />
                </div>
                <label class="text-danger" for="LastName" *ngIf="
                  Form_AddCashier.controls['LastName'].hasError('required') &&
                  Form_AddCashier.controls['LastName'].touched
                ">{{
                  "System.Users.LastName_ER_Required" | translate
                  }}</label>
                <label class="text-danger" for="LastName" *ngIf="
                  Form_AddCashier.controls['LastName'].hasError(
                    'minlength'
                  ) ||
                  Form_AddCashier.controls['LastName'].hasError('maxlength')
                ">{{ "System.Users.LastName_ER_Length" | translate }}</label>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label>{{ "System.Users.EmailAddress" | translate
              }}<span class="text-danger">*</span>
            </label>
            <div class="controls">
              <input type="text" placeholder="Email Address" name="EmailAddress" maxlength="128" class="form-control"
                [formControl]="Form_AddCashier.controls['EmailAddress']" [ngClass]="{
                        'is-invalid':
                          !Form_AddCashier.controls['EmailAddress'].valid &&
                         Form_AddCashier.controls['EmailAddress'].touched
                      }" />
            </div>
            <label class="text-danger" for="EmailAddress" *ngIf="
                     Form_AddCashier.controls['EmailAddress'].hasError('required') &&
                     Form_AddCashier.controls['EmailAddress'].touched
                    ">{{
              "System.Users.EmailAddress_ER_Required" | translate
              }}</label>
            <label class="text-danger" for="EmailAddress" *ngIf="
                     Form_AddCashier.controls['EmailAddress'].touched &&
                      !Form_AddCashier.controls['EmailAddress'].valid && 
                      !Form_AddCashier.controls['EmailAddress'].hasError('required')
                    ">Enter valid email Address</label>
          </div>
          <div class="form-group">
            <label>{{ "System.Users.ContactNumber" | translate
              }}<span class="text-danger">*</span>
            </label>
            <div class="controls input-group">
              <div class="input-group-prepend">
                <span class="input-group-text">{{this._HelperService.CountryCode}}</span>
              </div>
              <input type="text" placeholder="Contact Number" name="ContactNumber" maxlength="18" class="form-control"
                (keypress)="_HelperService.PreventText($event)"
                [formControl]="Form_AddCashier.controls['ContactNumber']" [ngClass]="{
                      'is-invalid':
                        !Form_AddCashier.controls['ContactNumber'].valid &&
                       Form_AddCashier.controls['ContactNumber'].touched
                    }" />
            </div>
            <label class="text-danger" for="ContactNumber" *ngIf="
                   Form_AddCashier.controls['ContactNumber'].hasError('required') &&
                   Form_AddCashier.controls['ContactNumber'].touched
                  ">{{
              "System.Users.ContactNumber_ER_Required" | translate
              }}</label>
            <label class="text-danger" for="ContactNumber" *ngIf="
                   Form_AddCashier.controls['ContactNumber'].hasError(
                      'minlength'
                    ) ||
                   Form_AddCashier.controls['ContactNumber'].hasError('maxlength')
                  ">{{ "System.Users.ContactNumber_ER_Length" | translate }}</label>
          </div>

          <div class="form-group">
            <div class="d-flex justify-content-between">
              <div>
                <label>{{ "System.Users.EmployeeCode" | translate }}
                </label>
              </div>

            </div>
            <div class="controls">
              <input type="text" name="EmployeeCode" placeholder="Employee Code" maxlength="25" class="form-control"
                [formControl]="Form_AddCashier.controls['EmployeeCode']" />
            </div>


          </div>

          <div class="form-group mr-2 mb-2" *ngIf="!_HelperService.ToggleField && !ToggleStoreSelect">
            <label for=" "> {{'System.Users.Store' | translate }}<span class="text-danger">*</span> </label>
            <select2 class="full-width" [options]="TUTr_Filter_Store_Option"
              (valueChanged)="TUTr_Filter_Stores_Change($event)">
            </select2>
          </div>


          <div class="form-group">
            <div> <label>{{'System.Users.Gender' | translate }}<span class="text-danger">*</span>
              </label>
            </div>
            <div class="radio float-left mr-3">
              <label class="ui-check"><input type="radio" name="gender" [value]="_HelperService.AppConfig.Gender.Male"
                  [formControl]="Form_AddCashier.controls['GenderCode']">
                <i class="dark-white"></i>
                {{ 'System.Users.Male' | translate }}</label>
            </div>
            <div class="radio float-left mr-3"><label class="ui-check"><input type="radio" name="gender"
                  [value]="_HelperService.AppConfig.Gender.Female"
                  [formControl]="Form_AddCashier.controls['GenderCode']">
                <i class="dark-white"></i>
                {{ 'System.Users.Female' | translate }}</label></div>

            <div class="radio  mr-3"><label class="ui-check"><input type="radio" name="gender"
                  [value]="_HelperService.AppConfig.Gender.Other"
                  [formControl]="Form_AddCashier.controls['GenderCode']">
                <i class="dark-white"></i>
                {{ 'System.Users.Other' | translate }}</label></div>
          </div>

          <div class="form-group">
            <div>
              <label>Profile Picture
              </label>
            </div>
            <div class="col-md-12">
              <input-file #cashier inputId="input-file" placeholder="">
              </input-file>
            </div>
          </div>


        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="Form_AddCashier_Close()">
            {{ "Common.Close" | translate }}
          </button>
          <button type="submit" class="btn btn-primary warn mr-2" (click)="Form_AddCashier.value.OperationType = 'new'"
            [disabled]="!Form_AddCashier.valid || _HelperService.IsFormProcessing">
            <span *ngIf="!_HelperService.IsFormProcessing">
              {{ "Common.Save" | translate }}
            </span>
            <span *ngIf="_HelperService.IsFormProcessing">
              <i class="{{ 'Common.SpinnerIcon' | translate }}"></i>
              {{ "Common.PleaseWait" | translate }}...
            </span>
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
<div id="Form_TopUp_Content" class="modal fade" data-backdrop="true" aria-hidden="true"
  style="overflow-y: scroll !important;">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Add Top-Up</h5>
      </div>
      <div class="modal-body  p-lg">

        <div class="mb-3 b-b pb-3">
          <!-- <h6 class="mg-b-5">Available Balance</h6>  -->
          <!-- <h5  *ngIf="TopUpHistoryList_Config.Data[0]"> <span class="text-sm mg-r-2" [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span>  {{_AccountBalance.Balnace}}  </h5>  -->

          <div class="mb-2">
            Enter Amount
          </div>
          <div class="input-group text-warn mb-3">
            <span class="input-group-prepend ">
              <span class="input-group-text text-warn"><span
                  [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span> </span>
            </span>
            <input type="text" maxlength="7" class="form-control text-warn" placeholder="Amount to credit*"
              (keypress)="_HelperService.PreventText($event)" [(ngModel)]="_AccountBalanceCreditAmount">

            <div class="text-secondary mg-t-5">This amount will be credited in your wallet, you can further use it to
              give rewards to your customers.</div>
            <div class="text-danger mg-t-5"
              *ngIf="(_AccountBalanceCreditAmount == undefined || _AccountBalanceCreditAmount == 0) || (_AccountBalanceCreditAmount < 1000)">
              Enter amount must be equal or greater than <span class=" text-sm mg-r-2"
                [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span>1000</div>

            <div class="text-danger mg-t-5" *ngIf="_AccountBalanceCreditAmount > 1000000">
              Enter amount must be equal or lower than <span class=" text-sm mg-r-2"
                [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span>1000000</div>

          </div>

        </div>
        <!-- <div>
                  <div class="text-center mb-2 text-uppercase text-xs _500">Direct Bank Transfer</div>
                  <div class="mb-2">After transfering amount email us at <span
                          class="text-primary">hello@thankucash.com</span> or <br>
                      call us on <span class="text-primary">+ 234 809 042 6105</span> with the payment reference
                      number</div>
                  <div class="mb-2">ACC Name : <span class="text-black">Connected Analytics Limited</span> </div>
                  <div class="row">
                      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                          <div class="p-2 light r-1x b-a mb-2">
                              <div class="float-left pr-2">
                                  <img src="http://cdn.thankucash.com/2019/5/c9fdcacd17ca410ab1986a3637c653a1.png"
                                      width="36" height="36">
                              </div>
                              <div>
                                  <div class="text-xs">GT Bank</div>
                                  <div class="text-xs ">Acc. No. :<span class="text-black"> 0413463556</span> </div>
                              </div>
                          </div>
                          <div class="p-2 light r-1x b-a mb-2">
                              <div class="float-left pr-2">
                                  <img src="http://cdn.thankucash.com/2020/1/696e1639b2dd4db5bfd6b03b565331c5.png"
                                      width="36" height="36">
                              </div>
                              <div>
                                  <div class="text-xs">Zenith Bank</div>
                                  <div class="text-xs ">Acc. No. :<span class="text-black"> 1015752687</span> </div>
                              </div>
                          </div>

                      
                      </div>
                      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                          <div class="p-2 light r-1x b-a mb-2">
                              <div class="float-left pr-2">
                                  <img src="http://cdn.thankucash.com/2019/7/c26886ade0fd4596a8d9feae22c924f0.png"
                                      width="36" height="36">
                              </div>
                              <div>
                                  <div class="text-xs">Sterling Bank</div>
                                  <div class="text-xs ">Acc. No. :<span class="text-black"> 0069091710</span> </div>
                              </div>
                          </div>
                          <div class="p-2 light r-1x b-a mb-2">
                              <div class="float-left pr-2">
                                  <img src="http://cdn.thankucash.com/2019/3/fceab7c366ec43cdbc085e4d1ab0516d.png"
                                      width="36" height="36">
                              </div>
                              <div>
                                  <div class="text-xs">Providus Bank</div>
                                  <div class="text-xs ">Acc. No. :<span class="text-black"> 1300213860</span> </div>
                              </div>
                          </div>
                    
                      </div>
                  </div>



              </div> -->
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="paymentClose()" data-dismiss="modal">
          {{ "Common.Close" | translate }}
        </button>
        <button
          *ngIf="(_AccountBalanceCreditAmount == undefined || _AccountBalanceCreditAmount == 0) || (_AccountBalanceCreditAmount < 1000 || _AccountBalanceCreditAmount > 1000000)"
          class="btn btn-primary " disabled>Confirm</button>
        <button *ngIf="_AccountBalanceCreditAmount >= 1000 && _AccountBalanceCreditAmount <= 1000000"
          class="btn btn-success" angular4-paystack [currency]="_HelperService.AppConfig.CurrencyNotation" [key]="_HelperService.AppConfig.PayStackKey"
          [email]="_HelperService.User.EmailAddress" [amount]="_AccountBalanceCreditAmount * 100"
          [class]="'btn btn-primary'" [ref]="_TransactionReference" (close)="paymentCancel()"
          (callback)="paymentDone($event)" data-dismiss="modal">Confirm</button>

      </div>


    </div>
  </div>
</div>
<div id="Form_AddStore_Content" class="modal fade" data-backdrop="true" aria-hidden="true"
  style="overflow-y: scroll !important;">
  <div class="modal-dialog  modal-lg">
    <div class="modal-content">
      <form [formGroup]="Form_AddStore" (ngSubmit)="Form_AddStore_Process(Form_AddStore.value)" role="form">
        <div class="modal-header">
          <h5 class="modal-title">Add New Store / Location</h5>
        </div>
        <div class="modal-body" *ngIf="ResetFilterControls">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label>{{ "System.Menu.StoreName" | translate
                  }}<span class="text-danger">*</span>
                </label>
                <div class="controls">
                  <input type="text" name="Name" maxlength="128" class="form-control"
                    [formControl]="Form_AddStore.controls['Name']" [ngClass]="{
                                    'is-invalid':
                                      !Form_AddStore.controls['Name'].valid &&
                                      Form_AddStore.controls['Name'].touched
                                  }" />
                </div>
                <label class="text-danger" for="Name" *ngIf="
                                  Form_AddStore.controls['Name'].hasError('required') &&
                                  Form_AddStore.controls['Name'].touched
                                ">{{
                  "System.Users.Name_ER_Required" | translate
                  }}</label>
                <label class="text-danger" for="Name" *ngIf="
                                  Form_AddStore.controls['Name'].hasError(
                                    'minlength'
                                  ) ||
                                  Form_AddStore.controls['Name'].hasError('maxlength')
                                ">store name must be between 4 - 256 characters</label>
              </div>
              <div class="form-group">
                <label>{{ "System.Menu.StoreNickName" | translate
                  }}<span class="text-danger">*</span>
                </label>
                <div class="controls">
                  <input type="text" name="DisplayName" maxlength="128" class="form-control"
                    [formControl]="Form_AddStore.controls['DisplayName']" [ngClass]="{
                                  'is-invalid':
                                    !Form_AddStore.controls['DisplayName'].valid &&
                                    Form_AddStore.controls['DisplayName'].touched
                                }" />
                </div>
                <label class="text-danger" for="DisplayName" *ngIf="
                                Form_AddStore.controls['DisplayName'].hasError('required') &&
                                Form_AddStore.controls['DisplayName'].touched
                              ">enter store nick name</label>
                <label class="text-danger" for="DisplayName" *ngIf="
                                Form_AddStore.controls['DisplayName'].hasError(
                                  'minlength'
                                ) ||
                                Form_AddStore.controls['DisplayName'].hasError('maxlength')
                              ">store nick name must be between 4 - 256 characters</label>
              </div>
              <div class="form-group">
                <label>{{ "System.Users.EmailAddress" | translate
                  }}<span class="text-danger">*</span>
                </label>
                <div class="controls">
                  <input type="text" name="EmailAddress" maxlength="128" class="form-control"
                    [formControl]="Form_AddStore.controls['EmailAddress']" [ngClass]="{
                                'is-invalid':
                                  !Form_AddStore.controls['EmailAddress'].valid &&
                                  Form_AddStore.controls['EmailAddress'].touched
                              }" />
                </div>
                <label class="text-danger" for="EmailAddress" *ngIf="
                              Form_AddStore.controls['EmailAddress'].hasError('required') &&
                              Form_AddStore.controls['EmailAddress'].touched
                            ">{{
                  "System.Users.EmailAddress_ER_Required" | translate
                  }}</label>
                <label class="text-danger" for="EmailAddress" *ngIf="
                              Form_AddStore.controls['EmailAddress'].touched &&
                              !Form_AddStore.controls['EmailAddress'].valid && 
                              !Form_AddStore.controls['EmailAddress'].hasError('required')
                            ">Enter valid email Address</label>
              </div>
              <div class="form-group">
                <label>{{ "System.Users.ContactNumber" | translate
                  }}<span class="text-danger">*</span>
                </label>
                <div class="controls input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text">{{this._HelperService.CountryCode}}</span>
                  </div>
                  <input type="text" name="ContactNumber" maxlength="18" class="form-control"
                    (keypress)="_HelperService.PreventText($event)"
                    [formControl]="Form_AddStore.controls['ContactNumber']" [ngClass]="{
                              'is-invalid':
                                !Form_AddStore.controls['ContactNumber'].valid &&
                                Form_AddStore.controls['ContactNumber'].touched
                            }" />
                </div>
                <label class="text-danger" for="ContactNumber" *ngIf="
                            Form_AddStore.controls['ContactNumber'].hasError('required') &&
                            Form_AddStore.controls['ContactNumber'].touched
                          ">{{
                  "System.Users.ContactNumber_ER_Required" | translate
                  }}</label>
                <label class="text-danger" for="ContactNumber" *ngIf="
                            Form_AddStore.controls['ContactNumber'].hasError(
                              'minlength'
                            ) ||
                            Form_AddStore.controls['ContactNumber'].hasError('maxlength')
                          ">{{ "System.Users.ContactNumber_ER_Length" | translate }}</label>
              </div>
              <div class="form-group">
                <label> Store Manager First Name<span class="text-danger">*</span>
                </label>
                <div class="controls">
                  <input type="text" name="FirstName" maxlength="128" class="form-control"
                    [formControl]="Form_AddStore.controls['FirstName']" [ngClass]="{
                                  'is-invalid':
                                    !Form_AddStore.controls['FirstName'].valid &&
                                    Form_AddStore.controls['FirstName'].touched
                                }" />
                </div>
                <label class="text-danger" for="FirstName" *ngIf="
                                Form_AddStore.controls['FirstName'].hasError('required') &&
                                Form_AddStore.controls['FirstName'].touched
                              ">Enter first name</label>
                <label class="text-danger" for="FirstName" *ngIf="
                                Form_AddStore.controls['FirstName'].hasError(
                                  'minlength'
                                ) ||
                                Form_AddStore.controls['FirstName'].hasError('maxlength')
                              ">First name must be between 2 - 128 characters</label>
              </div>
              <div class="form-group">
                <label>Store Manager Last Name<span class="text-danger">*</span>
                </label>
                <div class="controls">
                  <input type="text" name="LastName" maxlength="128" class="form-control"
                    [formControl]="Form_AddStore.controls['LastName']" [ngClass]="{
                                  'is-invalid':
                                    !Form_AddStore.controls['LastName'].valid &&
                                    Form_AddStore.controls['LastName'].touched
                                }" />
                </div>
                <label class="text-danger" for="LastName" *ngIf="
                                Form_AddStore.controls['LastName'].hasError('required') &&
                                Form_AddStore.controls['LastName'].touched
                              ">enter Last name</label>
                <label class="text-danger" for="LastName" *ngIf="
                                Form_AddStore.controls['LastName'].hasError(
                                  'minlength'
                                ) ||
                                Form_AddStore.controls['LastName'].hasError('maxlength')
                              ">Last name must be between 2 - 128 characters</label>
              </div>
              <div class="form-group">
                <label>Store Manager's Email Id<span class="text-danger">*</span>
                </label>
                <div class="controls">
                  <input type="text" name="MEmailAddress" maxlength="128" class="form-control"
                    [formControl]="Form_AddStore.controls['MEmailAddress']" [ngClass]="{
                                'is-invalid':
                                  !Form_AddStore.controls['MEmailAddress'].valid &&
                                  Form_AddStore.controls['MEmailAddress'].touched
                              }" />
                </div>
                <label class="text-danger" for="MEmailAddress" *ngIf="
                              Form_AddStore.controls['MEmailAddress'].hasError('required') &&
                              Form_AddStore.controls['MEmailAddress'].touched
                            ">{{
                  "System.Users.EmailAddress_ER_Required" | translate
                  }}</label>
                <label class="text-danger" for="EmailAddress" *ngIf="
                              Form_AddStore.controls['MEmailAddress'].touched &&
                              !Form_AddStore.controls['MEmailAddress'].valid && 
                              !Form_AddStore.controls['MEmailAddress'].hasError('required')
                            ">Enter valid email Address</label>
              </div>
              <div class="form-group">
                <label>Store Manager's Phone Number<span class="text-danger">*</span>
                </label>
                <div class="controls input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text">{{this._HelperService.CountryCode}}</span>
                  </div>
                  <input type="text" name="MobileNumber" maxlength="14" class="form-control"
                    (keypress)="_HelperService.PreventText($event)"
                    [formControl]="Form_AddStore.controls['MobileNumber']" [ngClass]="{
                              'is-invalid':
                                !Form_AddStore.controls['MobileNumber'].valid &&
                                Form_AddStore.controls['MobileNumber'].touched
                            }" />
                </div>
                <label class="text-danger" for="MobileNumber" *ngIf="
                            Form_AddStore.controls['MobileNumber'].hasError('required') &&
                            Form_AddStore.controls['MobileNumber'].touched
                          ">{{
                  "System.Users.MobileNumber_ER_Required" | translate
                  }}</label>
                <label class="text-danger" for="MobileNumber" *ngIf="
                            Form_AddStore.controls['MobileNumber'].hasError(
                              'minlength'
                            ) ||
                            Form_AddStore.controls['MobileNumber'].hasError('maxlength')
                          ">{{ "System.Users.MobileNumber_ER_Length" | translate }}</label>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label>Business Categories<span class="text-danger">*</span>
                </label>
                <select2 class="full-width" *ngIf="ShowCategorySelector"
                  [options]="_HelperService.Select2Options_Multiple" [value]="SelectedBusinessCategories"
                  [data]="S2BusinessCategories" (valueChanged)="CategoriesSelected($event)">
                </select2>
              </div>

              <div class="form-group">
                <label>Select Location<span class="text-danger">*</span>
                </label>
                <div class="controls">
                  <input type="text" name="GAddress" maxlength="256" class="form-control" ngx-google-places-autocomplete
                    #places="ngx-places" (onAddressChange)="Form_AddStore_AddressChange($event)">
                </div>

              </div>
              <div class="agm">
                <agm-map style="width:360px; height: 200px;" [zoom]="12" [latitude]="Form_AddStore_Latitude"
                  [styles]="_HelperService.darkStyle" [longitude]="Form_AddStore_Longitude"
                  (mapClick)="Form_AddStore_PlaceMarkerClick($event)">
                  <agm-marker [latitude]="Form_AddStore_Latitude" [longitude]="Form_AddStore_Longitude">
                  </agm-marker>
                </agm-map>
              </div>
              <div class="form-group mg-b-2 mt-3">
                <label> <span class="tx-14"> Detailed Address </span>
                  <span class="text-danger">*</span>
                  <br> <span class="text-muted tx-10 pd-0 mg-0"> (Street Name, Building Name,
                    Floor Number Etc) </span>
                </label>
                <div class="controls">
                  <textarea name="MapAddress" maxlength="256" class="form-control" rows="3"
                    [formControl]="Form_AddStore.controls['MapAddress']" [(ngModel)]="Form_AddStore_Address"
                    [ngClass]="{'is-invalid':!Form_AddStore.controls['MapAddress'].valid && Form_AddStore.controls['MapAddress'].touched}"></textarea>
                </div>
                <label class="text-danger" for="MapAddress"
                  *ngIf="Form_AddStore.controls['MapAddress'].hasError('required') && Form_AddStore.controls['MapAddress'].touched">{{
                  'System.Users.Address_ER_Required' | translate }}</label>
                <label class="text-danger" for="MapAddress"
                  *ngIf="Form_AddStore.controls['MapAddress'].hasError('minlength') || Form_AddStore.controls['MapAddress'].hasError('maxlength')">{{
                  'System.Users.Address_ER_Length' | translate }}</label>
              </div>

            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="Form_AddStore_Close()">
            {{ "Common.Close" | translate }}
          </button>
          <button type="submit" class="btn btn-primary warn mr-2" (click)="Form_AddStorevalue.OperationType = 'new'"
            [disabled]="!Form_AddStore.valid">
            <span>
              {{ "Common.Save" | translate }}
            </span>
            <!-- <span *ngIf="_HelperService.IsFormProcessing">
              <i class="{{ 'Common.SpinnerIcon' | translate }}"></i>
              {{ "Common.PleaseWait" | translate }}...
            </span> -->
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
<div id="Form_AddHelp_Content" class="modal fade" tabindex="-1" data-backdrop="true" aria-hidden="true"
  style="overflow-y: scroll !important;">
  <div class="modal-dialog modal-dialog-centered dropdown ">
    <div class="modal-content">
      <div class="modal-body  p-lg d-flex justify-content-center">
        <img [src]="HelpImageUrl" alt="">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="OpenModel()">
          {{ "Common.Close" | translate }}
        </button>
      </div>
    </div>
  </div>
</div>


<div id="Form_AddUser_InterSwitch" class="modal fade" data-backdrop="true" aria-hidden="true">
  <div class="modal-dialog">
    <form class="pd-l" id="submit-form">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Credit Reward Wallet</h5>
        </div>
        <div class="modal-body  p-lg">
          <div class="mb-3 b-b pb-3">
            <!-- <h6 class="mg-b-5">Available Balance</h6>
            <h5 *ngIf="TopUpHistoryList_Config.Data[0]"> <span class="text-sm mg-r-2"
                [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span> {{_AccountBalance.Balance}} </h5> -->

            <div class="mb-2">
              Enter Amount
            </div>
            <div class="input-group text-warn mb-3">
              <span class="input-group-prepend ">
                <span class="input-group-text text-warn"><span
                    [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span> </span>
              </span>
              <!-- <input type="number" maxlength="7"  class="form-control text-warn" placeholder="Amount to credit"
              (keypress)="_HelperService.PreventText($event)" [(ngModel)]="_InterSwitchAmount" [ngModelOptions]="{standalone: true}"> -->
              <input maxlength="7" class="form-control text-warn" placeholder="Amount to credit"
                (keypress)="_HelperService.PreventText($event)" [(ngModel)]="_InterSwitchAmount"
                [ngModelOptions]="{standalone: true}" id="param-amount" required="" value="" />
              <br>
              <div class="text-secondary ">This amount will be credited in your wallet, you can further use it to
                give rewards to your customers.</div>
              <div class="text-danger mg-t-5"
                *ngIf="(_InterSwitchAmount == undefined || _InterSwitchAmount == 0) || (_InterSwitchAmount < 1000)">
                Enter amount must be equal or greater than <span class=" text-sm mg-r-2"
                  [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span>1000</div>

              <div class="text-danger mg-t-5" *ngIf="_InterSwitchAmount > 1000000">
                Enter amount must be equal or lower than <span class=" text-sm mg-r-2"
                  [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span>1000000</div>


            </div>

          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">
            {{ "Common.Close" | translate }}
          </button>

          <!-- <button class="btn btn-success pd-l-20" type="submit" (click)="startTop()">Pay</button> -->

          <button
            *ngIf="(_InterSwitchAmount == undefined || _InterSwitchAmount == 0) || (_InterSwitchAmount < 1000 || _InterSwitchAmount > 1000000)"
            class="btn btn-primary " disabled>Confirm</button>
          <button *ngIf="_InterSwitchAmount >= 1000 && _InterSwitchAmount <= 1000000" class="btn btn-success"
            (click)="startTop()">Confirm</button>

        </div>
      </div>
    </form>

  </div>
</div>