<ol class="breadcrumb df-breadcrumbs mg-b-10">
  <li class="breadcrumb-item" [routerLinkActive]="['active']"><a
      routerLink="{{ _HelperService.AppConfig.Pages.ThankUCash.Dashboard.Merchant}}" [routerLinkActive]="['active']">
      Dashboard</a></li>
  <li class="breadcrumb-item" [routerLinkActive]="['active']"><a
      routerLink="{{_HelperService.AppConfig.Pages.ThankUCash.PanelMerchant.Loyality.Overview}}/{{this._HelperService.AppConfig.ActiveReferenceKey}}/{{ this._HelperService.AppConfig.ActiveReferenceId}}"
      [routerLinkActive]="['active']">Loyalty
    </a></li>
  <li class="breadcrumb-item" [routerLinkActive]="['active']"><a class="text-primary" [routerLinkActive]="['active']">My
      Sales
    </a></li>
</ol>

<div class="d-sm-flex align-items-center justify-content-between mb-2">
  <div class="d-flex justify-content-between ">
    <div class="form-group  mb-0 pb-0 wd-200">
      <input type="text" class="form-control form-daterangepicker full-width" name="daterangeInput" daterangepicker
        [options]="_HelperService.AppConfig.DateRangeOptionsCustom" (click)="showDatePicker()"
        (selected)="DateChanged($event, _HelperService.AppConfig.ListToggleOption.Date)" />
    </div>


    <div class="mg-l-5 wd-200">
      <select2 class="full-width" [options]="TUTr_Filter_Store_Option" [data]="stores" [value]="storeId"
      (valueChanged)="TUTr_Filter_Stores_Change($event)">
      </select2>
    </div>
  </div>
  <div class="d-flex justify-content-between mg-t-10  mg-md-t-0">
    <ul class="list-inline d-flex mg-t-20 mg-sm-t-10 mg-md-t-0 mg-b-0">
      <li class="list-inline-item d-flex align-items-center">
        <span class="d-block wd-15 ht-15 bg-primary rounded mg-r-5 "></span>
        <span class="tx-sans   tx-uppercase tx-medium tx-color-03 tx-13">
          {{_Daily.ActualStartDate | date :["dd LLL"]}}</span>
      </li>
      <li class="list-inline-item d-flex align-items-center mg-l-5">
        <span class="d-block wd-15 ht-15 bg-MasterCard rounded mg-r-5"></span>
        <span class="tx-sans  tx-13 tx-uppercase tx-medium tx-color-03">{{_Daily.ActualEndDate| date :["dd
          LLL"]}}</span>
      </li>
    </ul>
  </div>
</div>

<div class="row row-xs mg-b-10">
  <div class="col-sm-6 col-lg-3 ">
    <div class="card card-body shadow-none ht-100p cursor-pointer" style="background: #716195;">
      <h6 class="tx-uppercase text-white tx-11 tx-spacing-1 tx-color-02 tx-semibold mg-b-8">All sales amount</h6>
      <div class="d-flex d-lg-block d-xl-flex align-items-end">
        <h3 class="tx-rubik text-white mg-b-8 mg-r-5 lh-1">
          {{_SalesSummary?.InvoiceAmount | number: "1.2-2" ||"--"}}</h3>
      </div>
      <p class="tx-12 text-white mg-b-0">Amount from all sales made</p>
    </div>
  </div><!-- col -->
  <div class="col-sm-6 col-lg-3 mg-t-15  mg-sm-t-0">
    <div class="card card-body shadow-none ht-100p cursor-pointer " style="background: #0086D1;">
      <h6 class="tx-uppercase text-white tx-11 tx-spacing-1 tx-color-02 tx-semibold mg-b-8">Highest sales</h6>
      <div class="d-flex d-lg-block d-xl-flex align-items-end">
        <h3 class=" text-white tx-rubik mg-b-8 mg-r-5 lh-1">
          {{_SalesSummary?.HighSales | number: "1.2-2" ||"--"}}</h3>
      </div>
      <p class="tx-12 text-white mg-b-0">Amount of highest sale</p>


    </div>
  </div><!-- col -->
  <div class="col-sm-6 col-lg-3 mg-t-15  mg-lg-t-0">
    <div class="card card-body shadow-none cursor-pointer ht-100p" style="background: #D100B0;">
      <h6 class="tx-uppercase text-white tx-11 tx-spacing-1 tx-color-02 tx-semibold mg-b-8">Time of Highest SALES</h6>
      <div class="d-flex d-lg-block d-xl-flex align-items-end">
        <h3 class="text-white tx-rubik  mg-b-8 mg-r-5 lh-1">
          {{_SalesSummary?.HighestTimeSale || '0 : 00'}} </h3>
      </div>
      <p class="tx-12 text-white mg-b-0">Time of highest sale today</p>
    </div>
  </div><!-- col -->
  <div class="col-sm-6 col-lg-3 mg-t-15  mg-lg-t-0">
    <div class="card card-body cursor-pointer shadow-none ht-100p" style="background: #CC9302;">
      <h6 class=" tx-uppercase text-white tx-11 tx-spacing-1 tx-color-02 tx-semibold mg-b-8">time of lowest sales</h6>
      <div class="d-flex d-lg-block d-xl-flex align-items-end">
        <h3 class=" text-white tx-rubik  mg-b-8 mg-r-5 lh-1">
          {{_SalesSummary?.LowestTimeSale || '0 : 00'}}</h3>
      </div>
      <p class="tx-12 text-white mg-b-0">Time of lowest sale today</p>
    </div>
  </div><!-- col -->
</div>

<div class="row row-xs mg-b-10">
  <div class="col-lg-12 col-xl-12 col-sm-12 col-md-12">
    <div class="card">
      <div
        class="card-header pd-t-20 pd-lg-t-25 pd-l-20 pd-lg-l-25 d-flex flex-column flex-sm-row align-items-sm-start justify-content-sm-between">
        <div>
          <h6 class="mg-b-5">Sales Report</h6>
          <p class="tx-11 text-secondary mg-b-0" *ngIf="!isCustomDate">Shows sales peak time for {{label}}
          </p>
          <p class="tx-11 text-secondary mg-b-0"  *ngIf="isCustomDate">Shows sales peak time for <span>
            {{_Daily.ActualStartDate | date :["dd LLL"]}} - {{_Daily.ActualEndDate| date :["dd
            LLL"]}}</span> </p>
        </div>
      </div>
      <div class="card-body pd-lg-25" *ngIf="DailyChartData[0].data.length != 0">
        <div class="row ">
          <div class="col-lg-12 col-xl-12">
            <canvas baseChart #DataPlot="base-chart" [datasets]="DailyChartData"
              [labels]="chartLabels" [options]="_HelperService.ChartConfig.LineChart.Options" [colors]="lineChartColors"
              [plugins]="_HelperService.ChartConfig.LineChart.Options.plugins"
              [chartType]="_HelperService.ChartConfig.LineChart.Type">
            </canvas>
          </div>
        </div>
      </div><!-- card-body -->
      <div class="card-body pd-lg-25" *ngIf="DailyChartData[0].data.length == 0">
        <div style="height:200px" class="text-center m-auto  text-muted">
          <div>
            <div>
              <div
                class="wd-140 wd-md-150 ht-140 ht-md-150 bd bd-2 bd-muted bg-transparent tx-muted tx-32 bd-gray-300 m-auto d-flex align-items-center justify-content-center rounded-circle">
                <!-- <i class="fas fa-file tx-50"></i> -->
                <img src="../../../../../assets/images/walk.svg" alt="">
              </div>
              <div class="pt-3">
                <span class="text-dark tx-bold tx-14 "> No Transactions in this time frame.</span><br>
                <span class="tx-muted  ">No transactions took place during the time frame you selected</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div><!-- card -->
  </div>
</div>