<!-- <div class="card">
  <div class="card-header">
    Add Product Group/Product 
  </div>
</div> -->
<form [formGroup]="Form_AddProduct" (ngSubmit)="Form_AddProduct_Process(Form_AddProduct.value)" role="form">

  <div class="card">
    <div class="card-header  b-b b-2x">
      <h6 class="pd-b-0 mg-b-0"> Product Information</h6>
      <small class="text-secondary">Enter product information below</small>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-md-12">
          <label class="d-block mb-0"> Product Image
          </label>
          <input-file inputId="input-file" placeholder="">
          <i data-feather="airplay">  </i>
          </input-file>
        </div>
      </div>
      <div class="row mg-t-15">
        <div class="col-md-6">
          <div class="form-group">
            <label>{{ 'System.AddProduct.ProductName' | translate }}<span class="text-danger">*</span>
            </label>
            <div class="controls">
              <input type="text" name="Name" maxlength="128" class="form-control"
                [formControl]="Form_AddProduct.controls['Name']"
                [ngClass]="{'is-invalid':!Form_AddProduct.controls['Name'].valid && Form_AddProduct.controls['Name'].touched}">
            </div>
            <label class="text-danger" for="Name"
              *ngIf="Form_AddProduct.controls['Name'].hasError('required') && Form_AddProduct.controls['Name'].touched">{{
                        'System.AddProduct.Name_ER_Required' | translate }}</label>
            <label class="text-danger" for="Name"
              *ngIf="Form_AddProduct.controls['Name'].hasError('minlength') || Form_AddProduct.controls['Name'].hasError('maxlength')">{{'System.AddProduct.Name_ER_Length' | translate }}</label>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label>Category
              <span class="text-danger">*</span>
            </label>
            <select2 name="CategoryKey" class="full-width" [options]="GetProductCategories_Option"
              [value]="Form_AddProduct.controls['CategoryKey']"
              (valueChanged)="GetProductCategories_ListChange($event)"></select2>
            <label class="text-danger" for="CategoryKey"
              *ngIf="Form_AddProduct.controls['CategoryKey'].hasError('required') && Form_AddProduct.controls['CategoryKey'].touched">{{
'System.Helpers.HelperCode_ER_Required' | translate }}</label>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <label>Description
              <span class="text-danger">*</span>
            </label>
            <div class="controls">
              <textarea type="text" name="Description" maxlength="1000" rows="4" class="form-control"
                [formControl]="Form_AddProduct.controls['Description']"></textarea>
            </div>
            <label class="text-danger" for="BrandKey"
              *ngIf="Form_AddProduct.controls['Description'].hasError('required') && Form_AddProduct.controls['Description'].touched">
              Enter product details</label>
          </div>
        </div>

      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label>Product SKU (Stock No. e.g 00009, 100002)<span class="text-danger">*</span>
            </label>
            <div class="controls">
              <input type="text" name="Sku" class="form-control" [formControl]="Form_AddProduct.controls['Sku']"
                [ngClass]="{'is-invalid':!Form_AddProduct.controls['Sku'].valid && Form_AddProduct.controls['Sku'].touched}">
            </div>
            <label class="text-danger" for="Sku"
              *ngIf="Form_AddProduct.controls['Sku'].hasError('required') && Form_AddProduct.controls['Sku'].touched">
              Product SKU is required</label>
            <label class="text-danger" for="Sku"
              *ngIf="Form_AddProduct.controls['Sku'].hasError('minlength') || Form_AddProduct.controls['Sku'].hasError('maxlength')">
              Enter valid SKU</label>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label>Variant Name<span class="text-danger">*</span>
            </label>
            <div class="controls">
              <input type="text" name="VarientName" maxlength="128" class="form-control"
                [formControl]="Form_AddProduct.controls['VarientName']"
                [ngClass]="{'is-invalid':!Form_AddProduct.controls['VarientName'].valid && Form_AddProduct.controls['VarientName'].touched}">
            </div>
            <label class="text-danger" for="VarientName"
              *ngIf="Form_AddProduct.controls['VarientName'].hasError('required') && Form_AddProduct.controls['VarientName'].touched">Enter
              variant name</label>
            <label class="text-danger" for="VarientName"
              *ngIf="Form_AddProduct.controls['VarientName'].hasError('minlength') || Form_AddProduct.controls['VarientName'].hasError('maxlength')">Enter
              valid variant name</label>
          </div>
        </div>

      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label>Per Unit Original Price<span class="text-danger">*</span>
            </label>
            <div class="controls">
              <div class="input-group ">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    N
                  </span>
                </div>
                <input class="form-control" type="number" (keypress)="_HelperService.PreventText($event)"
                  placeholder="Put only numbers" type="number" name="SellingPrice" class="form-control"
                  [formControl]="Form_AddProduct.controls['ActualPrice']"
                  [ngClass]="{'is-invalid':!Form_AddProduct.controls['ActualPrice'].valid && Form_AddProduct.controls['ActualPrice'].touched}">
              </div>
            </div>
            <label class="text-danger" for="ActualPrice"
              *ngIf="Form_AddProduct.controls['ActualPrice'].hasError('required') && Form_AddProduct.controls['ActualPrice'].touched">{{
    'System.AddProduct.Actualprice_ER_Required' | translate }}</label>
            <label class="text-danger" for="ActualPrice"
              *ngIf="Form_AddProduct.controls['ActualPrice'].hasError('min') || Form_AddProduct.controls['ActualPrice'].hasError('max')">{{
    'System.AddProduct.Actualprice_ER_Length' | translate }}</label>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label>Per Unit Selling Price <span class="text-danger">*</span>
            </label>
            <div class="controls">
              <div class="input-group ">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    N
                  </span>
                </div>
                <input class="form-control" type="number" max="9999999" (keypress)="_HelperService.PreventText($event)"
                  placeholder="Put only numbers" type="number" name="SellingPrice" maxlength="9999999"
                  class="form-control" [formControl]="Form_AddProduct.controls['SellingPrice']"
                  [ngClass]="{'is-invalid':!Form_AddProduct.controls['SellingPrice'].valid && Form_AddProduct.controls['SellingPrice'].touched}">
              </div>
            </div>

            <label class="text-danger" for="SellingPrice"
              *ngIf="Form_AddProduct.controls['SellingPrice'].hasError('required') && Form_AddProduct.controls['SellingPrice'].touched">{{
    'System.AddProduct.Sellingprice_ER_Required' | translate }}</label>
            <label class="text-danger" for="SellingPrice"
              *ngIf="Form_AddProduct.controls['SellingPrice'].hasError('min') || Form_AddProduct.controls['SellingPrice'].hasError('max')">{{
    'System.AddProduct.Sellingprice_ER_Length' | translate }}</label>
          </div>
        </div>
      </div>

    </div>
  </div>
  <div class="card">
    <div class="card-header  bd-b">
      <h6 class="text-warn pd-b-0 mg-b-0">Product Inventory</h6>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-md-12">
          <table class="table table-bordered mb-0">
            <thead>
              <tr>
                <th class="wd-50v">
                  <div class="mb-1">Product Location</div>
                  <div class="text-muted"><small>Set total stock per store or set common value for all
                      stores</small></div>
                </th>
                <th class="wd-50v">
                  <div class="mb-1">
                    Stock
                  </div>
                  <div>
                    <!-- <input type="number" name="ActualPrice" max="9999999" class="form-control"
                                          (keypress)="_HelperService.PreventText($event)"> -->
                    <div class="input-group "><input class="form-control" maxlength="100"
                        [(ngModel)]="CommonStockAmount" type="number" name="ActualPrice" max="9999999"
                        (keypress)="_HelperService.PreventText($event)" [ngModelOptions]="{standalone: true}"
                        placeholder="Set to all location">
                      <div class="input-group-append"><button class="btn btn-outline-secondary"
                          (click)="UpdateForAllLocation()" type="button">+</button></div>
                    </div>
                  </div>
                </th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let TItem of _ProductVarientLocation">
                <td class="wd-50v">
                  <div>
                    {{TItem.DisplayName}}
                  </div>
                  <div class="text-muted">
                    <small> {{TItem.Address}}</small>
                  </div>
                </td>
                <td class="wd-50v"> 
                  <input type="number" name="ActualPrice" max="9999999" class="form-control"
                    [ngModelOptions]="{standalone: true}" [(ngModel)]="TItem.Quantity"
                    (keypress)="_HelperService.PreventText($event)">
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="card-footer p-3 ">

      <div class=" d-flex justify-content-end">
        <button type="submit" class="btn btn-primary mr-2" (click)="Form_AddProduct.value.StatusCode='product.active'"
          [disabled]="!Form_AddProduct.valid || _HelperService.IsFormProcessing">
          <span *ngIf="!_HelperService.IsFormProcessing">
            {{ 'Common.SaveAndNew' | translate }}
          </span>
          <span *ngIf="_HelperService.IsFormProcessing">
            <i class="{{ 'Common.SpinnerIcon' | translate }}"></i> {{ 'Common.PleaseWait' | translate
                  }}...
          </span>
        </button>

        <button type="button" class="btn btn-dark" data-dismiss="modal" (click)="Form_AddProduct_Close()">{{
                  'Common.Close'
                  | translate }}</button>
      </div>
    </div>
  </div>
</form>



<div class="modal " id="_Icon_Cropper_Modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-body p-0">
        <div class="row no-gutters">
          <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
            <div class="m-3">
              <image-cropper [imageBase64]="_HelperService._Icon_Cropper_BaseImage" [aspectRatio]="9/9"
                format="_HelperService.AppConfig.Icon_Cropper_Options.Format"
                [maintainAspectRatio]="_HelperService.AppConfig.Icon_Cropper_Options.MaintainAspectRatio"
                [cropperMinWidth]="_HelperService.AppConfig.Icon_Cropper_Options.MinimumWidth"
                [cropperMinHeight]="_HelperService.AppConfig.Icon_Cropper_Options.MinimumHeight"
                [resizeToWidth]="_HelperService.AppConfig.Icon_Cropper_Options.ResizeToWidth"
                (imageCroppedBase64)="_HelperService.Icon_B64Cropped($event)"
                (imageLoaded)="_HelperService.Icon_Crop_Loaded()" (loadImageFailed)="_HelperService.Icon_Crop_Failed()">
              </image-cropper>
            </div>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 bg-light">
            <div class="p-3">
              <div class="mb-2">
                Image Preview
              </div>
              <div class="mb-2">
                <img [src]="_HelperService._Icon_Cropper_Image" class="b-a b-2x img-responsive" />
              </div>
              <div>
                <button type="button" class="btn btn-success " data-dismiss="modal">{{ 'Common.PictureDone' |
                                                    translate }}</button>
                <button type="button" class="btn btn-warning " (click)="_HelperService.Icon_Crop_Clear()">{{ 'Common.PictureClearAndClose' |
                                                            translate }}</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>