<div class="newDialog">


<h1 mat-dialog-title>Create a new folder</h1>

<mat-dialog-content>
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Folder Name" [(ngModel)]="folderName">
  </mat-form-field>
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-raised-button class="savebtn" (click) = "createFolder()">OK</button>
  <button mat-raised-button class="closebtn" [mat-dialog-close]="false">Cancel</button>
</mat-dialog-actions>
</div>