<!-- acquirer--merchant--sales -->
<div class="card">
  <div class="card-header">
    <div class=" d-sm-flex">
      <div class=" media">
        <div
          class="wd-40 wd-md-50 ht-40 ht-md-50 bg-primary tx-white mg-r-10 mg-md-r-10 d-flex align-items-center justify-content-center rounded">
          <i data-feather="shopping-cart"></i>
        </div>
        <div class="media-body bd-pink">
          <h6 class="tx-sans tx-uppercase tx-10 tx-spacing-1 tx-color-03 tx-semibold tx-nowrap mg-b-5 mg-md-b-8">
            Transactions</h6>
          <h4 class="tx-20 tx-sm-18 tx-md-20 tx-normal tx-rubik mg-b-0">{{OverviewData.Transactions| number: "1.0-0"}}
          </h4>
        </div>
      </div>
      <div class="media mg-t-20 mg-sm-t-0 mg-sm-l-15 mg-md-l-40">
        <div
          class="wd-40 wd-md-50 ht-40 ht-md-50 bg-success tx-white mg-r-10 mg-md-r-10 d-flex align-items-center justify-content-center rounded ">
          <span class="tx-20"> <i class="fas fa-money-bill-alt"></i></span>
        </div>
        <div class="media-body">
          <h6 class="tx-sans tx-uppercase tx-10 tx-spacing-1 tx-color-03 tx-semibold mg-b-5 mg-md-b-8">Sale Amount</h6>
          <h4 class="tx-20 tx-sm-18 tx-md-20 tx-normal tx-rubik mg-b-0">
            <span class=" text-sm mg-r-2"
              [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span>{{OverviewData.InvoiceAmount | number:
            "1.2-2" }}
          </h4>
        </div>
      </div>

    </div>
  </div>
  <div class="box-header px-3 pd-t-15 pd-b-0 d-flex align-items-center justify-content-between">
    <div class="form-inline ">
      <div class="input-group input-group-sm mr-3">
        <input type="text" class="form-control" [value]="TUTr_Config.SearchParameter" maxlength="100"
          class="form-control" placeholder="{{ 'Common.Search' | translate }}"
          (keyup)="TUTr_ToggleOptionSearch( $event, _HelperService.AppConfig.ListToggleOption.Search)">
        <div class="input-group-append">
          <button class="btn btn-outline-light" type="button"
            (click)="TUTr_ToggleOption( null, _HelperService.AppConfig.ListToggleOption.Search)"><i
              data-feather="search"></i> </button>
        </div>
      </div>


    </div>

    <div class="d-flex ml-auto">
      <button type="button" class="btn  tx-12 rounded-0 bd-gray-200 bd-r-0  btn-outline-danger btn-icon"
        [disabled]='(_HelperService.FilterSnap.id == -1)' (click)="Delete_Filter()">
        <i data-feather="minus-circle"></i> </button>

      <div class="form-group my-auto shadow-none ml-auto " *ngIf="_HelperService._RefreshUI">
        <select2 name="itemId0" [options]="_DataHelperService.S2_NewSavedFilters_Option" class="wd-30 select2"
          [data]="_HelperService.Active_FilterOptions" [value]="_HelperService.Active_FilterOptions[0]"
          (valueChanged)="Active_FilterValueChanged( $event )">
        </select2>
      </div>
      <button type="button" class=" btn btn-outline-success tx-12 bd-l-0 mr-3 rounded-0 bd-gray-200 btn-icon"
        [disabled]='_HelperService.FilterState == this._HelperService.AppConfig.FilterStates.Default || 
      _HelperService.FilterState == this._HelperService.AppConfig.FilterStates.NoChange' (click)="Save_NewFilter()"> <i
          data-feather="plus-circle"></i> </button>

    </div>
    <nav class="nav nav-with-icon tx-20">
      <div class="dropdown dropleft">
        <a href="" class="nav-link mr-2" id="TUTr_sdropdown" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false"> <i data-feather="align-left" class="tx-20"></i> </a>
        <div class="dropdown-menu tx-13">
          <form class="wd-250 pd-15">
            <h6 class="dropdown-header tx-uppercase tx-12 tx-bold tx-inverse pd-b-20 pd-l-0 pd-t-0">Sort
              <div class="float-right tx-20" *ngIf="TUTr_Config.Sort.SortOrder == 'desc'"
                (click)="TUTr_ToggleOption( null, _HelperService.AppConfig.ListToggleOption.SortOrder)">
                <i class="fas fa-sort-alpha-down-alt"></i>
              </div>
              <div class="float-right tx-20" *ngIf="TUTr_Config.Sort.SortOrder == 'asc'"
                (click)="TUTr_ToggleOption( null, _HelperService.AppConfig.ListToggleOption.SortOrder)">
                <i class="fas fa-sort-alpha-up-alt"></i>
              </div>
            </h6>
            <a class="dropdown-item cursor-pointer {{TItem.SystemActive?  'SystemActive' :'' }} {{_HelperService.CheckMode == 'dark' ? 'text-white' : 'text-dark' }} "
              *ngFor="let TItem of TUTr_Config.Sort.SortOptions"
              (click)="TUTr_ToggleOption( TItem, _HelperService.AppConfig.ListToggleOption.Sort)">
              {{TItem.Name}}
            </a>

            <!-- <div *ngFor="let TItem of TUTr_Config.SortExpressionOption"
                           (click)="TUTr_ToggleOption( TItem, _HelperService.AppConfig.ListToggleOption.Sort)">
                           {{TItem.Name}}
                       </div> -->
            <!-- <div class="mt-2">
                           <button type="button" class="btn btn-primary btn-sm mr-2"
                               (click)="TUTr_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.SortApply)">Apply</button>
 
                           <button type="button" class="btn btn-light btn-sm "
                               (click)="TUTr_ToggleOption( null, _HelperService.AppConfig.ListToggleOption.SortReset)">
                               Reset</button>
                       </div> -->
            <button type="button" class="btn btn-light btn-sm mr-2 mg-t-20"
              (click)="ResetFilters( null, _HelperService.AppConfig.ListToggleOption.ResetOffset)">
              Reset</button>
            <button type="button" class="btn btn-primary btn-sm mg-t-20"
              (click)="ApplyFilters( null, _HelperService.AppConfig.ListToggleOption.ApplyFilter,'Sort')">Apply</button>
          </form>
        </div>
      </div>
      <div class="dropdown dropleft">
        <a href="" class="nav-link" id="TUTr_fdropdown" data-toggle="dropdown" aria-haspopup="true"
          (click)="_HelperService.StopClickPropogation()" aria-expanded="false"> <i data-feather="filter"></i> </a>
        <div class="dropdown-menu pd-0 tx-13">
          <form class="wd-400 ">
            <h6 class="dropdown-header tx-uppercase tx-12 tx-bold tx-inverse  pd-15 pd-b-20 pd-l-0 pd-t-0 bd bd-b-1">
              Filters
            </h6>
            <div class="pd-25" style="overflow: auto; height: 80vh;" *ngIf="ResetFilterControls">
              <div>
                <div class="form-group">
                  <label>Date</label>
                  <input type="text" class="form-control  form-daterangepicker" name="daterangeInput" daterangepicker
                    [options]="_HelperService.AppConfig.DateRangeOptions"
                    (selected)="TUTr_ToggleOption($event, _HelperService.AppConfig.ListToggleOption.Date)" />
                </div>
              </div>
              <div>
                <div class="form-group">
                  <label>Status</label>
                  <select2 [options]="_DataHelperService.S2_Status_Option" class="wd-100p"
                    [data]="TUTr_Config.StatusOptions"
                    (valueChanged)="TUTr_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.Status)">
                  </select2>
                </div>
              </div>
              <!-- <div>
                <div class="form-group">
                  <label>Merchant</label>
                  <div class="form-group">
                    <select2 class="full-width" [options]="TUTr_Filter_Merchant_Option"
                      (valueChanged)="TUTr_Filter_Merchants_Change($event)">
                    </select2>
                  </div>
                </div>
              </div> -->
              <div>
                <div class="form-group">
                  <label>Store</label>
                  <div class="form-group">
                    <select2 class="full-width" [options]="TUTr_Filter_Store_Option"
                      (valueChanged)="TUTr_Filter_Stores_Change($event)">
                    </select2>
                  </div>
                </div>
              </div>
              <div>
                <div class="form-group">
                  <label>Cashier</label>
                  <div class="form-group">
                    <select2 class="full-width" [options]="TUTr_Filter_Cashier_Option"
                      (valueChanged)="TUTr_Filter_Cashiers_Change($event)">
                    </select2>
                  </div>
                </div>
              </div>
              <div>
                <div class="form-group">
                  <label>POS</label>
                  <div class="form-group">
                    <select2 class="full-width" [options]="TUTr_Filter_Terminal_Option"
                      (valueChanged)="TUTr_Filter_Terminals_Change($event)">
                    </select2>
                  </div>
                </div>
              </div>
              <div>
                <div class="form-group">
                  <label>Card Bank</label>
                  <select2 class="full-width" [options]="TUTr_Filter_CardBank_Option"
                    (valueChanged)="TUTr_Filter_CardBanks_Change($event)">
                  </select2>
                </div>
              </div>
              <div>
                <div class="form-group">
                  <label>Transaction Type</label>
                  <select2 class="full-width" [options]="TUTr_Filter_TransactionType_Option"
                    (valueChanged)="TUTr_Filter_TransactionTypes_Change($event)">
                  </select2>
                </div>
              </div>
              <div>
                <div class="form-group">
                  <label>Card Brand</label>
                  <select2 class="full-width" [options]="TUTr_Filter_CardBrand_Option"
                    (valueChanged)="TUTr_Filter_CardBrands_Change($event)">
                  </select2>
                </div>
              </div>
              <div>
                <div class="form-group">
                  <label>Bank</label>

                  <select2 class="full-width" [options]="TUTr_Filter_Bank_Option"
                    (valueChanged)="TUTr_Filter_Banks_Change($event)">
                  </select2>
                </div>
              </div>
              <div>
                <div class="form-group">
                  <label for=""> Provider</label>
                  <select2 class="full-width" [options]="TUTr_Filter_Provider_Option"
                    (valueChanged)="TUTr_Filter_Providers_Change($event)">
                  </select2>
                </div>
              </div>
              <div class="mg-b-70">
                <!-- <div class="form-group">
                  <ng5-slider [value]="TUTr_InvoiceRangeMinAmount" [highValue]="TUTr_InvoiceRangeMaxAmount"
                    [options]="_HelperService.AppConfig.RangeInvoiceAmountOptions"
                    (userChangeEnd)="TUTr_InvoiceRange_OnChange($event)">
                  </ng5-slider>
                </div> -->
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <div class="controls">
                        <label for="InvoiceRangeMaxAmount">Min Sale Amount</label>
                        <input type="number" min=0 name="InvoiceRangeMinAmount" maxlength="256" class="form-control"
                          [(ngModel)]="TUTr_InvoiceRangeMinAmount"
                          (keyup)="TUTr_ToggleOption($event,_HelperService.AppConfig.ListToggleOption.SalesRange)">
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <div class="controls">
                        <label for="InvoiceRangeMaxAmount">Max Sale Amount</label>
                        <input type="number" min=0 name="InvoiceRangeMaxAmount" maxlength="256" class="form-control"
                          [(ngModel)]="TUTr_InvoiceRangeMaxAmount"
                          (keyup)="TUTr_ToggleOption($event,_HelperService.AppConfig.ListToggleOption.SalesRange)">
                      </div>
                    </div>
                  </div>
                </div>

              </div>


            </div>

            <div class="aside-logo  bg-white bd wd-100p pd-15 mg-0"
              style="position: fixed; bottom:0%; margin-top: -2.5em ;">
              <button type="button" class="btn btn-light btn-sm mr-2"
                (click)="ResetFilters( null, _HelperService.AppConfig.ListToggleOption.ResetOffset)">
                Reset</button>
              <button type="button" class="btn btn-primary btn-sm "
                (click)="ApplyFilters( null, _HelperService.AppConfig.ListToggleOption.ApplyFilter,'Other')">Apply</button>
            </div>
          </form>
        </div>
      </div>
      <a class="nav-link ml-2 RefreshColor RefreshColorOne"
        (click)="TUTr_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.Refresh)"> <i
          data-feather="refresh-cw"></i> </a>
      <a class="nav-link ml-2 RefreshColor RefreshColorOne"
        (click)="TUTr_ToggleOption( $event,_HelperService.AppConfig.ListToggleOption.Csv)"> <i
          data-feather="download"></i> </a>
    </nav>
  </div>
  <div class="pt-0 pd-l-15 pd-b-8">
    <div class="badge badge-transparent pd-y-10 pd-l-15 mx-1 bd bd-1 bd-gray-500 rounded-50 tx-color-03 mg-t-5"
      [hidden]="(!_HelperService.FilterSnap.Status) || (_HelperService.FilterSnap.Status=='')">
      {{_HelperService.FilterSnap.StatusName}}
      <span (click)="RemoveFilterComponent('Status')"
        class="bd bd-1  mg-l-5 pd-x-5 pd-y-3 rounded-circle bg-primary text-white cursor-pointer"><i
          class="fas fa-times"></i> </span>
    </div>
    <div class="badge badge-transparent pd-y-10 pd-l-15 mx-1 bd bd-1 bd-gray-500 rounded-50 tx-color-03 mg-t-5"
      [hidden]="!_HelperService.FilterSnap.Sort.SortColumn || (_HelperService.FilterSnap.Sort.SortColumn=='TransactionDate' && _HelperService.FilterSnap.Sort.SortOrder=='')">
      <span> {{_HelperService.FilterSnap.Sort.SortColumn + "--" + _HelperService.FilterSnap.Sort.SortOrder}}</span>
      <span (click)="RemoveFilterComponent('Sort')"
        class="bd bd-1  mg-l-5 pd-x-5 pd-y-3 rounded-circle bg-primary text-white cursor-pointer"><i
          class="fas fa-times"></i> </span>
    </div>
    <div class="badge badge-transparent pd-y-10 pd-l-15 mx-1 bd bd-1 bd-gray-500 rounded-50 tx-color-03 mg-t-5"
      [hidden]="!_HelperService.FilterSnap.StartTime">
      {{_HelperService.GetDateS(_HelperService.FilterSnap.StartTime) + "--" +
      _HelperService.GetDateS(_HelperService.FilterSnap.EndTime)}}
      <span (click)="RemoveFilterComponent('Time')"
        class="bd bd-1  mg-l-5 pd-x-5 pd-y-3 rounded-circle bg-primary text-white cursor-pointer"><i
          class="fas fa-times"></i> </span>
    </div>
    <div class="badge badge-transparent pd-y-10 pd-l-15 mx-1 bd bd-1 bd-gray-500 rounded-50 tx-color-03 mg-t-5"
      *ngFor="let TItem of _HelperService.FilterSnap.OtherFilters; let i = index">
      <!-- {{TItem.data[0].DisplayName?TItem.data[0].DisplayName:TItem.data[0].Name?TItem.data[0].DisplayName:TItem.data[0].TerminalId}} -->
      {{TItem.data[0].DisplayName?TItem.data[0].DisplayName:TItem.data[0].Name?TItem.data[0].Name:TItem.data[0].TerminalId}}
      <span (click)="RemoveFilterComponent('Other',i)"
        class="bd bd-1  mg-l-5 pd-x-5 pd-y-3 rounded-circle bg-primary text-white cursor-pointer"><i
          class="fas fa-times"></i> </span>
    </div>

    <span class="badge badge-pill badge-primary mg-t-5" *ngFor="let TItem of TUTr_Config.Filters">{{TItem.Title}}</span>
  </div>
  <div class="pt-0 pd-l-15 pd-b-8">
    <div class="badge badge-transparent pd-y-10 pd-l-15 mx-1 bd bd-1 bd-gray-500 rounded-50 tx-color-03"
      [hidden]="
    !(_HelperService.FilterSnap.SalesRange) || (_HelperService.FilterSnap.SalesRange.SalesMin==0 && _HelperService.FilterSnap.SalesRange.SalesMax==10000000)" (click)="RemoveFilterComponent('SalesRange')">
      Sales Range
      [{{_HelperService.FilterSnap.SalesRange.SalesMin + "--" + _HelperService.FilterSnap.SalesRange.SalesMax}}]
      <span class="bd bd-1  mg-l-5 pd-x-5 pd-y-3 rounded-circle bg-primary text-white cursor-pointer"><i
          class="fas fa-times"></i> </span>
    </div>
  </div>

  <div class="card-body p-0">
    <table class="{{ _HelperService.AppConfig.TablesConfig.DefaultClass }}">
      <thead>
        <tr>
          <th class="">Status</th>
          <th class="td-date">Date</th>
          <th>Customer</th>
          <th>Transaction type</th>
          <!-- <th class="td-number">Ref Id</th> -->
          <th class="td-amount text-right">Sale Amount(<span
              [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span>)</th>
          <th class="">Store</th>
          <th class="">Cashier</th>
          <th>POS</th>
        </tr>
      </thead>
      <tbody>
        <tr (click)="TUTr_RowSelected(TItem)" *ngFor="
               let TItem of (TUTr_Config.Data
                 | paginate
                   : {
                       id: 'TUTr_Paginator',
                       itemsPerPage: TUTr_Config.PageRecordLimit,
                       currentPage: TUTr_Config.ActivePage,
                       totalItems: TUTr_Config.TotalRecords
                     })
             ">
          <td class="text-center">
            <div class="">
              <span class="text-lowercase" [ngClass]="TItem.StatusBadge">{{ TItem.StatusName || "--" }}</span>
            </div>
            <div *ngIf="TItem.LoyaltyTypeId == 1" class="text-primary tx-12 mg-t-5"> Reward </div>
          </td>

          <td class="td-date">
            <div>{{ TItem.TransactionDateD || "--" }}
              <span class="">{{ TItem.TransactionDateT || "--" }}</span>
            </div>
            <div class="tx-12 text-secondary">
              <span class="">{{ TItem.ReferenceNumber || "--" }}</span>
            </div>

          </td>
          <td>
            <div> {{ TItem.UserDisplayName || "--" }}</div>
            <span class="tx-12 text-secondary">{{ TItem.UserMobileNumber || "--" }}</span>
          </td>
          <!-- <td>
            <div class="">
              {{ TItem.UserDisplayName || "--" }}
            </div>
            <div class="tx-12 text-muted">
              {{ TItem.UserMobileNumber || "--" }}
            </div>
          </td> -->
          <td>
            <div class="tx-14 text-uppercase" *ngIf="TItem.TypeName != 'Cash '">
              {{ TItem.CardBrandName || "--" }}
              <span *ngIf="TItem.CardBrandName != undefined">
                <i *ngIf="TItem.CardBrandName.toLowerCase() == 'visa'" class="fab fa-cc-visa tx-teal text-sm "></i>
                <i *ngIf="TItem.CardBrandName.toLowerCase() == 'mastercard'"
                  class="fab fa-cc-mastercard tx-MasterCard text-sm"></i>
                <i *ngIf="TItem.CardBrandName.toLowerCase() == 'verve'"
                  class="fas fa-credit-card tx-verve text-sm  "></i>
              </span>
            </div>
            <div class="  text-uppercase" *ngIf="TItem.TypeName == 'Cash '">
              Cash Payment
              <i class="fab fas fa-money-bill-alt text-cash  tx-primary"></i>
            </div>
            <div class="tx-12 text-muted">
              <span class=""> {{ TItem.CardBankName }}</span>
            </div>
          </td>
          <!-- <td>
            <div class="text-xs  text-muted">
              {{ TItem.ReferenceNumber | truncateText:10  || "--" }}
            </div>
          </td> -->
          <td class="text-right">
            <div>
              <span [innerHtml]="_HelperService.AppConfig.CurrencySymbol"></span>
              {{ TItem.InvoiceAmount | number: "1.2-2" || "0" }}
            </div>
          </td>

          <td class="">
            <div>{{ TItem.StoreDisplayName || "--" }}</div>
            <div class="tx-12 text-muted">
              {{ TItem.Address | truncateText:40 || "--" }}
            </div>
          </td>


          <td class="">
            <div>{{ TItem.CashierDisplayName || "--" }}</div>
            <div class="tx-12 text-muted">
              {{ TItem.CashierCode || "--" }}
            </div>
          </td>

          <td>
            <div class="tx-bold">{{ TItem.TerminalId || "--" }}
            </div>
            <div class="tx-12 text-muted">
              {{ TItem.AcquirerDisplayName || "--" }}
              <span>- {{ TItem.ProviderDisplayName || "--" }}</span>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="card-footer pd-20">
    <span class="mr-3">
      {{ 'Common.Showing' | translate }}
      <span class="bold">{{TUTr_Config.ShowingStart}} {{ 'Common.To' | translate }}
        {{TUTr_Config.ShowingEnd}}
      </span> {{ 'Common.Of' | translate }} {{TUTr_Config.TotalRecords}}
    </span>
    <span>
      {{ 'Common.Show' | translate }}
      <select class="wd-50 " [(ngModel)]="TUTr_Config.PageRecordLimit"
        (ngModelChange)="TUTr_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.Limit)">
        <option [ngValue]="TItem" *ngFor="let TItem of _HelperService.AppConfig.ListRecordLimit">
          {{TItem}}
        </option>
      </select>
    </span>
    <span class="float-right">
      <pagination-controls id="TUTr_Paginator" class="pagination pagination-space"
        (pageChange)="TUTr_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.Page)"
        nextLabel="{{ 'Common.Next' | translate }}" previousLabel="{{ 'Common.Previous' | translate }}">
      </pagination-controls>
    </span>
  </div>
</div>


<div class="off-canvas off-canvas-overlay off-canvas-right mn-wd-30p" #offCanvas
  style="width: 480px !important; overflow-y:auto !important ;">
  <div class="off-canvas-content">
    <div class="card">
      <div class="card-header d-flex justify-content-between">
        <div>
          <h3 class="pb-0 mb-0 tx-20"> Details </h3>
        </div>



        <div> <span class="{{CurrentData.StatusB}}"> {{CurrentData.StatusName || "--"}}</span> </div>
      </div>
      <!-- <ul class="nav nav-line  d-flex pd-t-20 mg-x-20" id="myTab" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home"
            aria-selected="true"> Transaction invoice</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile"
            aria-selected="false">Reward Transaction </a>
        </li>

      </ul> -->
      <div class="card-body">

        <div class="tab-content bd" id="myTabContent">
          <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
            <div class="text-center pd-20 bd-t-0 bd-x-0 bd-1"
              style="border-style: dotted !important; border-color: #7987a1!important ">
              <div class="tx-14 tx-regular"> {{CurrentData.StoreDisplayName || "--"}} </div>
              <div class="text-secondary"> {{CurrentData.SubParentAddress || "--"}} </div>
              <div class="text-primary"> {{CurrentData.SubParentMobileNumber || "--"}} -
                {{CurrentData.SubParentEmailAddress || "--"}} </div>
              <div>{{CurrentData.CreateDate || "--"}} </div>
            </div>
            <div>
              <div class="text-center pd-20">

                <div class="tx-medium"> ** APPROVED ** </div>
                <div class="tx-regular tx-12 tx-uppercase"> ** Merchant copy ** </div>



              </div>
              <div class="pd-20">
                <div class="row">
                  <div class="col-md-4 text-left text-secondary">Terminal</div>
                  <div class="col-md-1 text-secondary"> : </div>
                  <div class="col-md-7 text-right">{{CurrentData.TerminalReferenceId || "--"}}
                    <div class="text-secondary tx-12">
                      {{CurrentData.ProviderDisplayName || "--"}} - {{CurrentData.AcquirerDisplayName || "--"}}
                    </div>

                  </div>

                </div>
                <div class="row mg-t-10">
                  <div class="col-md-4 text-left text-secondary">Merchant ID</div>
                  <div class="col-md-1 text-secondary"> : </div>

                  <div class="col-md-7 text-right">{{CurrentData.ParentId || "--"}}</div>

                </div>
                <div class="row mg-t-10">
                  <div class="col-md-4 text-left text-secondary">Ref ID</div>
                  <div class="col-md-1 text-secondary"> : </div>
                  <div class="col-md-7 text-right">{{CurrentData.ReferenceNumber || "--"}}</div>
                </div>
                <div class="row mg-t-10">
                  <div class="col-md-4 text-left text-secondary">Phone No</div>
                  <div class="col-md-1 text-secondary"> : </div>
                  <div class="col-md-7 text-right">{{CurrentData.ParentContactNumber || "--"}}</div>
                </div>
                <div class="row mg-t-10">
                  <div class="col-md-4 text-left text-secondary">Card No.</div>
                  <div class="col-md-1 text-secondary"> : </div>
                  <div class="col-md-7 text-right">{{CurrentData.AccountNumber || "--"}}</div>
                </div>
                <div class="row mg-t-10">
                  <div class="col-md-4 text-left text-secondary">Card Type</div>
                  <div class="col-md-1 text-secondary"> : </div>
                  <div class="col-md-7 text-right">

                    <div class="tx-14 text-uppercase" *ngIf="CurrentData.TypeName != 'Cash '">
                      {{ CurrentData.CardBrandName || "--" }}
                      <span *ngIf="CurrentData.CardBrandName != undefined">
                        <i *ngIf="CurrentData.CardBrandName.toLowerCase() == 'visa'"
                          class="fab fa-cc-visa tx-teal text-sm "></i>
                        <i *ngIf="CurrentData.CardBrandName.toLowerCase() == 'mastercard'"
                          class="fab fa-cc-mastercard tx-MasterCard text-sm"></i>
                        <i *ngIf="CurrentData.CardBrandName.toLowerCase() == 'verve'"
                          class="fas fa-credit-card tx-verve text-sm  "></i>
                      </span>
                    </div>
                    <div class="  text-uppercase" *ngIf="CurrentData.TypeName == 'Cash '">
                      Cash Payment

                      <i class="fab fas fa-money-bill-alt text-cash  tx-primary"></i>
                    </div>
                    <div class="tx-12 text-muted">
                      <span class=""> {{ CurrentData.CardBankName || "--" }}</span>
                    </div>


                  </div>
                </div>
                <div class="row mg-t-10">
                  <div class="col-md-4 text-left text-secondary">Cashier</div>
                  <div class="col-md-1 text-secondary"> : </div>
                  <div class="col-md-7 text-right">{{CurrentData.CashierDisplayName || "--"}}
                    <div class="text-secondary tx-12">{{CurrentData.CashierCode || "--"}} </div>
                  </div>
                </div>
                <div class="mg-y-10"> Amount Details </div>

                <!-- <div class="row ">
                  <div class="col-md-4 text-left text-secondary">Sale amount</div>
                  <div class="col-md-1 text-secondary"> : </div>
                  <div class="col-md-7 text-right">{{CurrentData.CreatedByDisplayName || "--"}}</div>
                </div>
                <div class="row mg-t-8">
                  <div class="col-md-4 text-left text-secondary">TUC Redeem</div>
                  <div class="col-md-1 text-secondary"> : </div>
                  <div class="col-md-7 text-right">{{CurrentData.CreatedByDisplayName || "--"}}</div>
                </div>
                <div class="row mg-t-8">
                  <div class="col-md-4 text-left text-secondary">TUC Rewards</div>
                  <div class="col-md-1 text-secondary "> : </div>
                  <div class="col-md-7 text-right">{{CurrentData.CreatedByDisplayName || "--"}}</div>
                </div> -->

                <div class="row mg-t-10">
                  <div class="col-md-4 text-left tx-medium tx-uppercase">Total</div>
                  <!-- <div class="col-md-1 text-secondary">  </div> -->
                  <div class="col-md-8 text-right tx-bold"><span class=" text-sm"
                      [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span> {{CurrentData.InvoiceAmount
                    || "--"}}</div>
                </div>
              </div>
            </div>
          </div>
          <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
            <div class="pd-20">
              <div class="text-secondary"> Reward Distribution </div>

              <div class="row mg-t-15">
                <div class="col-md-5 text-secondary">Reward Amount</div>
                <div class="col-md-1 text-secondary">:</div>
                <div class="col-md-6">{{CurrentData.StatusName || "--"}}</div>

              </div>
              <div class="row mg-t-20">
                <div class="col-md-5 text-secondary">To Customer</div>
                <div class="col-md-1 text-secondary">:</div>
                <div class="col-md-6">{{CurrentData.StatusName || "--"}}</div>

              </div>
              <div class="row mg-t-20">
                <div class="col-md-5 text-secondary">TUC Commission</div>
                <div class="col-md-1 text-secondary">:</div>
                <div class="col-md-6">{{CurrentData.StatusName || "--"}}</div>

              </div>
              <div class="row mg-t-20">
                <div class="col-md-5 "> <span class="text-secondary"> PTSP Commission</span>
                  <div class="mg-t-0"> ITEX </div>

                </div>
                <div class="col-md-1 text-secondary">:</div>
                <div class="col-md-6">{{CurrentData.StatusName || "--"}}</div>

              </div>

              <div class="row mg-t-15">
                <div class="col-md-5 "><span class="text-secondary"> Bank Commission</span>
                  <div class="mg-t-0"> Sterling Bank </div>
                </div>
                <div class="col-md-1 text-secondary">:</div>
                <div class="col-md-6">{{CurrentData.StatusName || "--"}}</div>

              </div>
              <div class="row">
                <div class="col-md-5 mg-t-20"><span class="text-secondary"> Bank Commission</span>
                  <div class="mg-t-0"> Customer- John Doe</div>
                </div>
                <div class="col-md-1 text-secondary">:</div>
                <div class="col-md-6">{{CurrentData.StatusName || "--"}}</div>

              </div>
            </div>
          </div>

        </div>
      </div>
      <div class="card-footer d-flex justify-content-between">
        <div>
          <button type="button" class="btn btn-success" *ngIf="CurrentData.StatusName == 'Initialized'"
            (click)="Approve()"> Approve </button>
          <button type="button" class="btn btn-danger mg-l-5 float-right"
            *ngIf="CurrentData.StatusName == 'Initialized'" (click)="Reject()"> Reject </button>

        </div>
        <button type="button" class="btn btn-secondary mr-2 float-right" (click)="unclick()"> Close </button>

      </div>
    </div>


  </div>
</div>